<div class="flex flex-col bg-surface-3 h-full overflow-y-auto pb-5">
  <div class="flex flex-col p-5">
    <div class="flex justify-between">
      <div class="justify-start text-custom-primary text-lg font-semibold leading-5">
        {{'createPayment.payment_details_alt' | translate }}
      </div>
      <div class="w-7 h-7 relative bg-custom-zink-100 rounded-md flex justify-center items-center overflow-hidden cursor-pointer"
     (click)="closeDialog()">
     <div class="!text-[14px] leading-none flex items-center justify-center">
      <mat-icon class="text-custom-text-close !text-[14px] !h-[14px] !w-[14px]">
        close
      </mat-icon>
     </div>
</div>

    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="px-5 py-[20px] flex flex-col">

    <!-- @if (data.isDebit) { -->
      <div class="flex items-start gap-1 mb-2">
        <div class="flex items-center">
          <div class="w-[24px] h-[24px] bg-surface-1 rounded-full flex items-center justify-center shrink-0">
            <img [src]="data.statusLogo.path + data.statusLogo.name" [alt]="data.status">
          </div>
          <span class="text-xs font-medium leading-4 ml-1 text-custom-primary">
            {{ data.statusNameFront }}
            {{ (data.status === 'ERROR' || data.status == 'PRE_ERROR') && data.errorMessage !== null ? '(' + data.errorMessage + ')' : '' }}
          </span>
        </div>
      </div>
    <!-- } -->

    <!-- <div class="text-nowrap justify-start text-custom-primary text-[32px] leading-[40px] font-bold">
      {{ data.isDebit ? '-' : '+' }}
      {{ data.isDebit
        ? ((data.senderAmount.amount / 100).toFixed(2) | mask:'separator.2')
        : ((data.receiverAmount.amount / 100).toFixed(2) | mask:'separator.2') }}
      <span class="text-[32px] font-medium leading-[40px] text-custom-neutral-gray">
        {{ data.isDebit ? data.senderAmount.currency : data.receiverAmount.currency }}
      </span>
    </div> -->

    <div class="text-nowrap justify-start text-custom-primary text-[32px] leading-[40px] font-bold">
      {{ data.isDebit ? '-' : '+' }}
      {{ data.isDebit
        ? integerPart(data.senderAmount.amount )
        : integerPart(data.receiverAmount.amount)}}<span class="text-[32px] font-medium leading-[40px] text-custom-neutral-gray">.{{ data.isDebit ? decimalPart(data.senderAmount.amount ) : decimalPart(data.receiverAmount.amount)}} {{ data.isDebit ? data.senderAmount.currency : data.receiverAmount.currency }}</span>
    </div>

    <div class="self-stretch justify-start mb-3 text-custom-neutral-gray text-sm font-normal leading-tight">
      №{{ data.docNum }} {{'new.from' | translate}} {{ formatDocDate(data.docDate) }}
    </div>

    <div class="flex flex-col items-start" *ngFor="let audit of auditInfo(); let i = index">
      <div class="relative flex gap-2 items-center" [ngClass]="i !== 0 ? 'pt-5' : ''">
        <img width="16" height="16" src="./assets/new-icons/check-circle.svg" alt="" />
        <p class="text-[12px] font-medium text-custom-primary">
          {{ statusActions(audit.actionType) | translate }}:
          {{ audit.by ?? 'Не известно' }} ({{ audit.byRole }})
        </p>
        <span class="w-[1px] h-[10px] absolute bottom-[-15px] left-[7px] bg-lime-550"
              *ngIf="i < auditInfo().length - 1"></span>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="flex flex-wrap py-[26px]">
    @for (button of filtered(); track button.name) {
      <div class="w-1/4 flex flex-col items-center px-2 space-y-2 my-2">
        @if (button.carousel === 'SIGNING') {
          <div
            (click)="showAcceptSignDialog(getActions()[0]); $event.stopPropagation()"
            class="flex items-center text-document-color bg-[#00A38D] justify-center w-[50px] h-[50px] rounded-full gap-2.5 border border-custom-border group transition cursor-pointer"
          >
            <app-svg-icon [name]="findIconByEnum(button.carousel)?.icon" [size]="22"></app-svg-icon>

          </div>
        } @else if (button.carousel === 'DELETE') {
        <div
          (click)="buttonActions(button.carousel, data)"
          class="flex items-center text-document-color bg-[#FFEBEC] justify-center w-[50px] h-[50px] rounded-full gap-2.5 border border-custom-border group transition cursor-pointer"
        >
          <app-svg-icon [name]="findIconByEnum(button.carousel)?.icon" [size]="22"></app-svg-icon>

        </div>
      } @else {
          <div (click)="buttonActions(button.carousel, data)"
            class="flex items-center text-document-color  justify-center w-[50px] h-[50px] rounded-full gap-2.5 border border-custom-border group transition cursor-pointer"
          >
            <app-svg-icon [name]="findIconByEnum(button.carousel)?.icon" [size]="22"></app-svg-icon>
          </div>
        }

        <div class="text-center text-custom-primary text-xs font-medium leading-[16px]">
          {{ button.name }}
        </div>
      </div>
    }
  </div>
  <!-- Outgoing payment buttons -->
<!--  <div class="flex items-center px-5 py-[26px] justify-between"-->
<!--       [style.justify-content]="this.data.status === 'PRE_ERROR' ||  this.data.transactionMode === 'PAY_KARTATEKA' ? 'start' : 'space-between'"-->
<!--       [style.gap]="this.data.status === 'PRE_ERROR'  ||  this.data.transactionMode === 'PAY_KARTATEKA' ? '64px' : ''"-->
<!--       *ngIf="this.data.isDebit">-->
<!--    @for (button of ((this.data.status === 'PRE_ERROR') ? actionButtonsAutoPay() : this.data.transactionMode === 'PAY_KARTATEKA' ? actionButtonsKartoteka() : getButtonsByStatus(data.status)); track button.titleTranslateKey) {-->
<!--      <div class="flex flex-col items-center space-y-2" [matTooltip]="button.action === 'sign' && !this.data?.hasPermissionToSign ? ('createPayment.cant_sign' | translate) : ''" >-->
<!--        @if (button.action === 'sign') {-->
<!--          <div [matMenuTriggerFor]="this.data?.canUserSign ? signMenu : null"-->
<!--               [ngClass]="{'!bg-[#f5f5f5] cursor-not-allowed': !this.data?.canUserSign}"-->
<!--               class="flex items-center 2323 text-document-color hover:text-white justify-center w-[50px] h-[50px] rounded-full gap-2.5 border border-custom-border hover:bg-document-color group transition cursor-pointer">-->
<!--            <app-svg-icon [name]="button.icon" [size]="22"></app-svg-icon>-->
<!--          </div>-->
<!--        } @else {-->
<!--          @if (button.action === 'delete') {-->
<!--            <div (click)="buttonActions(button.action, data)"-->
<!--                 class="flex items-center w-[50px] h-[50px] rounded-full gap-2.5 transition cursor-pointer">-->
<!--              <img  class="w-[50px] h-[50px]" src="./assets/new-icons/delete-office.svg" alt="">-->

<!--            </div>-->
<!--          } @else {-->
<!--            <div (click)="buttonActions(button.action, data)"-->
<!--                 class="flex items-center text-document-color hover:text-white justify-center w-[50px] h-[50px] rounded-full gap-2.5 border border-custom-border hover:bg-document-color group transition cursor-pointer">-->
<!--              <app-svg-icon [name]="button.icon" [size]="22"></app-svg-icon>-->
<!--            </div>-->
<!--          }-->


<!--        }-->
<!--        <div class="text-center text-custom-primary text-xs font-medium leading-none">-->
<!--          {{ button.titleTranslateKey | translate }}-->
<!--        </div>-->
<!--      </div>-->
<!--    }-->
<!--  </div>-->
  <!-- Incoming payment buttons -->
<!--  <div class="flex items-center px-5 py-[26px] justify-between" *ngIf="!this.data.isDebit">-->
<!--    @for (button of actionButtonsIncome(); track button.titleTranslateKey) {-->
<!--      <div class="flex flex-col items-center space-y-2">-->
<!--        @if (button.action === 'sign') {-->
<!--          <div [matMenuTriggerFor]="signMenu"-->
<!--               class="flex items-center text-document-color hover:text-white justify-center w-[50px] h-[50px] rounded-full gap-2.5 border border-custom-border hover:bg-document-color group transition cursor-pointer">-->
<!--            <app-svg-icon [name]="button.icon" [size]="20"></app-svg-icon>-->
<!--          </div>-->
<!--        } @else {-->
<!--          <div (click)="button.action === 'return' ? redirectToReversePayment(this.data) : buttonActions(button.action, data)"-->
<!--               class="flex items-center text-document-color hover:text-white justify-center w-[50px] h-[50px] rounded-full gap-2.5 border border-custom-border hover:bg-document-color group transition cursor-pointer">-->
<!--            <app-svg-icon [name]="button.icon" [size]="20"></app-svg-icon>-->
<!--          </div>-->
<!--        }-->
<!--        <div class="text-center text-custom-primary text-xs font-medium leading-none">-->
<!--          {{ button.titleTranslateKey | translate }}-->
<!--        </div>-->
<!--      </div>-->
<!--    }-->
<!--  </div>-->
  <mat-divider></mat-divider>

  <!-- Sender details -->
  <div class="px-5 py-4">
    <div class="flex flex-col mb-4">
      <div class="label text-custom-muted">{{'accounts.organization_name' | translate}}</div>
      <div class="value text-custom-primary">{{ data.sender.name }}</div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex flex-col">
        <div class="label text-custom-muted">{{'salaryStatements.settlement_account_in_sums' | translate}}</div>
        <div class="value text-custom-primary">{{ data.sender.account }}</div>
      </div>

         <span class="transform rotate-180 cursor-pointer text-custom-text-tertiary"   (click)="copy(data.sender.account)"  >
              <app-svg-icon name="hamkor_copy"  [size]="22"></app-svg-icon>
            </span>

    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Recipient details -->
  <div class="px-5 py-4">
    <div class="flex items-center justify-between">
      <span class="text-base leading-6 font-semibold text-custom-primary">
        {{"createPayment.recipient_details" | translate }}
      </span>
      <span  (click)="copyRequisites()" class="flex items-center gap-1 text-[#5c5c5c] text-[14px] cursor-pointer ">
            <span class=" transform rotate-180 ">
              <app-svg-icon name="hamkor_copy" [size]="22"></app-svg-icon>
            </span>
            <span>
              {{'createPayment.copy_all' | translate}}
            </span>
      </span>
    </div>


    <div class="flex flex-col">
      <div class="flex flex-col py-[12px]">
        <div class="label text-custom-muted">{{'createPayment.organization_name' | translate}}</div>
        <div class="value text-custom-primary">{{ data.recipient.name }}</div>
      </div>

      <div class="flex items-center justify-between py-[12px]">
        <div class="flex flex-col">
          <div class="label text-custom-muted">{{"myAccounts.recipient_account" | translate}}</div>
          <div class="value text-custom-primary">{{ data.recipient.account }}</div>
        </div>
        <span class="transform rotate-180 ">
        <app-svg-icon (click)="copy(data.recipient.account)" name="hamkor_copy" [size]="22" class="text-custom-text-tertiary  cursor-pointer"></app-svg-icon>

        </span>
      </div>

      <div  *ngIf="data.transactionMode !== 'MUNIS' && data.recipient.tax" class="flex items-center justify-between py-[12px]">
        <div class="flex flex-col">
          <div class="label text-custom-muted">{{'myAccounts.inn' | translate}}</div>
          <div class="value text-custom-primary">{{ data.recipient.tax }}</div>
        </div>
        <span class="transform rotate-180">
                  <app-svg-icon (click)="copy(data.recipient.tax)" name="hamkor_copy" [size]="22" class="text-custom-text-tertiary  cursor-pointer"></app-svg-icon>

        </span>
      </div>
      <div  *ngIf="data.transactionMode !== 'MUNIS' && data.recipient.pinfl" class="flex items-center justify-between py-[12px]">
        <div class="flex flex-col">
          <div class="label text-custom-muted">{{'authorization.pinfl' | translate}}</div>
          <div class="value text-custom-primary">{{ data.recipient.pinfl }}</div>
        </div>
        <span class="transform rotate-180">
        <app-svg-icon (click)="copy(data.recipient.tax)" name="hamkor_copy" [size]="22" class="text-custom-text-tertiary  cursor-pointer"></app-svg-icon>
        </span>
      </div>

      <div *ngIf="data.transactionMode !== 'MUNIS'" class="flex flex-col py-[12px]">
        <div class="label text-custom-muted">{{'myAccounts.bank_mfo' | translate}}</div>
        <div class="value text-custom-primary">{{ data.recipient.codeFilial }}</div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Payment details -->
  <div class="px-5 py-4">
    <div class="flex items-center justify-between">
      <span class="text-base font-semibold text-custom-primary">
        {{'createPayment.payment_details' | translate}}
      </span>
    </div>

    <div *ngIf="data.transactionMode !== 'MUNIS'" class="flex flex-col py-[12px]">
      <div class="label text-custom-muted">
        {{'myAccounts.payment_purpose_code' | translate}}
      </div>
      <div class="value text-custom-primary">{{ data.purpose.code }}</div>
    </div>

    <div *ngIf="data.description" class="flex flex-col space-y-1 py-[12px]">
      <div class="label text-custom-muted">{{'myAccounts.payment_purpose' | translate}}</div>
      <div class="value text-custom-primary">{{ data.description }}</div>
    </div>
  </div>
  <div class="sticky  bottom-[10px]  px-5 flex w-full gap-2">
    <div (click)="downloadExcel()" [ngClass]="{ '!opacity-20 !cursor-not-allowed !pointer-events-none': !findCarousel('DOWNLOAD') }" class="h-[48px] cursor-pointe z-10r flex justify-center gap-2 items-center w-[185.5px] rounded-[12px] bg-[#F5F5F5]">
      <span class="text-custom-primary font-semibold">Скачать</span>
      <img src="./assets/new-icons/download.svg" width="20" height="20" alt="">
    </div>
    <div (click)="share()" [ngClass]="{ '!opacity-20 !cursor-not-allowed !pointer-events-none': !findCarousel('SEND') }" class="h-[48px] cursor-pointer z-10 flex justify-center gap-2 items-center  w-[185.5px] rounded-[12px] bg-[#F5F5F5]">
      <span class="text-custom-primary font-semibold">Поделиться</span>
      <img src="./assets/new-icons/share-06.svg" width="20" height="20" alt="">
    </div>
    <div (click)="printPdf()" [ngClass]="{ '!opacity-20 !cursor-not-allowed  !pointer-events-none': (!findCarousel('PRINTER') || data.status !== 'SUCCESS') }" class="h-[48px] cursor-pointer z-10 flex justify-center gap-1 items-center  w-[48px] rounded-[12px] bg-[#F5F5F5]">
      <img src="./assets/new-icons/printer.svg" width="24" height="24" alt="">
    </div>
  </div>

</div>

<!-- Sign menu -->
<mat-menu #signMenu="matMenu" class="menu-actions">
  @for (act of getActions(); track $index) {
    <button type="button"
            (click)="showAcceptSignDialog(act); $event.stopPropagation()"
            class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-2 hover:rounded-[6px] w-full border-0 bg-transparent transition-colors">
      <div class="text-sm font-medium leading-5 text-custom-muted">{{ act.title }}</div>
    </button>
  }
</mat-menu>
