@import 'mixins';

.card {
  padding: 0;
  overflow: hidden;
}

.box {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .row {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-bottom: 20px;
  }

  .infos {
    display: flex;
    column-gap: 9%;
    margin-bottom: 20px;
  }
}

.more {
  width: fit-content;
  flex: 1;
  display: flex;
  align-items: flex-end;

  &.mobile {
    display: none;
  }
}

.media(@media-sm, {
  .card {
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .box {
    flex-direction: column;
    row-gap: 16px;
  }

  .content {
    order: 1;
  }

  img {
    order: 2;
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
  }

  .infos {
    flex-direction: column;
    row-gap: 8px;
    margin-left: 0;
  }

  .more {
    width: 100%;
    text-align: center;
    order: 4;

    &.desktop {
      display: none;
    }

    &.mobile {
      display: block;
    }
  }
});
