<div class="mt-[11px] flex flex-col gap-y-[11px]">
  <div class="flex justify-between items-center">
    <div class="uppercase text-[12px] leading-[12px] text-[#333] font-medium">ШАБЛОНЫ</div>
    <img
      ngSrc="./assets/svg/pattern-menu.svg" alt="chevron" width="30" height="30"
      [matMenuTriggerFor]="actionsPayments"
    />
  </div>

  @if(!hide) {
    @for(pattern of patterns; track pattern) {
      <div class="w-[270px] flex flex-col gap-y-[5px] p-[15px] bg-white rounded-[12px]">
        <div>{{ pattern?.name ?? 'Default Name' }} </div>
        <div class="text-[#7C8897] text-sm">
          <span>{{ this.convertAmount(pattern?.senderAmount?.amount) }}</span>
          <span> {{ pattern?.senderAmount?.currency }}</span>
        </div>
        <div
          (click)="copyPattern(pattern)"
          class="bg-[#EFF4F9] py-[9px] px-[13px] self-end rounded-[30px]"
        >
          <img ngSrc="./assets/svg/Vector.svg" alt="vector" width="6" height="12" />
        </div>
      </div>
    }

    @if(!patterns.length) {
      <div class="w-[270px] p-[15px] bg-white rounded-[12px] font-medium text-[#7C8897] text-sm">Пусто</div>
    }
  }


</div>


<mat-menu #actionsPayments="matMenu" xPosition="before" class="menu-actions">
  <button
    (click)="hidePatterns()"
    class="w-full p-2 flex gap-x-2 items-center cursor-pointer"
  >
    @if(hide) {
      <img ngSrc="./assets/svg/eye.svg" alt="eye" width="24" height="24">
    }
    @else {
      <img ngSrc="./assets/svg/eye-slash.svg" alt="eye" width="24" height="24">
    }
    <div class="text-xs">{{ hide ? 'Показать' : 'Скрыть' }}</div>
  </button>
</mat-menu>
