<div class="grid grid-cols-[180px_1fr_1fr] gap-6 px-6 py-3 bg-surface-2 items-start"  (click)="showDetails($event)">

  <!-- Left: Amount and Status -->
  <div class="flex flex-col gap-2">
    <div class="flex items-center">
          <span class="text-sm font-bold text-custom-primary leading-tight" [appHighlight]="searchText()" highlightClass="bg-transparent text-primary-base">

               - {{  integerPart(transaction.senderAmount.amount)}}.{{  decimalPart(transaction.senderAmount.amount)}} {{ transaction.senderAmount.currency }}

          </span>
    </div>
    <div class="flex items-center gap-1.5">

      <div class="w-6 h-6 bg-surface-3 rounded-[9px] flex items-center justify-center">
        <!-- <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
          <circle cx="8" cy="8" r="6" stroke="#9333EA" stroke-width="2"/>
        </svg> -->
        <img [src]="SVG_URL +transaction.status.logo" alt="">
      </div>
      <span class="text-xs font-medium text-custom-secondary" [appHighlight]="searchText()"  highlightClass="bg-transparent text-primary-base">{{ transaction.status.title }}</span>


    </div>
  </div>

  <!-- Middle: Company Info -->

  <div class="flex flex-col gap-1">
    <div class="flex items-center gap-2">
      <!-- <div  class="w-6 h-6 bg-amber-400 rounded flex items-center justify-center flex-shrink-0">
        <span class="text-sm font-bold text-white">Ф</span>
      </div> -->
      <span class="text-base font-medium text-custom-primary leading-6" [appHighlight]="searchText()"  highlightClass="bg-transparent text-primary-base">{{ transaction.receiverName }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-custom-secondary leading-5" [appHighlight]="searchText()"  highlightClass="bg-transparent text-primary-base">{{  transaction.receiverAccount }}</span>
    </div>
    <div class="flex">
      <span class="text-sm text-custom-secondary leading-5" [appHighlight]="searchText()"  highlightClass="bg-transparent text-primary-base">{{ transaction.purpose.name }}</span>
    </div>
  </div>


  <!-- Right: Actions -->
  <div class="flex items-center justify-end gap-3">
    <!-- <app-custom-tooltip
      [message]="transaction.errorMessage"
      position="above"
      [title]="transaction.errorMessage && 'Hamkor Bank'"
      width="266px"
    >
      <button class="bg-[#FFF3EB] flex items-center gap-1 px-2 py-1 rounded-lg">
        <app-svg-icon name="hamkor_notification" class="text-primary-base" [size]="13"></app-svg-icon>
        <span class="font-medium text-xs text-strong-950">Комментарий</span>
      </button>
    </app-custom-tooltip>


    <button
        class="flex items-center border gap-1 px-2 py-1 rounded-lg">
        <span>
            <app-svg-icon name="hamkor_subscribe_pen" class="text-custom-secondary" [size]="13"></app-svg-icon>
        </span>
        <span class="font-medium text-xs text-custom-secondary">
          Доработать
        </span>
    </button> -->
    <button *ngIf="transaction.canUserSign" class="flex gap-1 bg-primary-base items-center px-2 rounded-[8px] h-[24px]">
      <img width="12" height="12" src="./assets/new-icons/sign-icon.svg" alt="">
      <p class="text-white text-[12px] font-semibold">
        {{'story.sign' | translate}}
      </p>
    </button>

    @if (transaction.status.code == 'PREPARE' || transaction.status.code =='ERROR' || transaction.status.code == 'PRE_ERROR') {
      <button
        (click)="handleTransactionEdit($event,transaction)"
      >
        <app-svg-icon name="hamkor_edit" class="text-custom-primary"></app-svg-icon>
      </button>
    }

    <input
      *ngIf="tabType() == 'signature'"
      type="checkbox"
      (click)="$event.stopPropagation()"
      [checked]="selected"
      (change)="toggleCheckbox($event)"
      class="w-5 h-5 z-50 rounded-full border border-custom-border-1
                checked:bg-primary-base checked:border-primary-base
                appearance-none cursor-pointer relative
                checked:before:content-['✓'] checked:before:absolute
                checked:before:text-white checked:before:left-[3px] checked:before:top-[-3px]
                checked:before:text-[16px]"
    />
    @if (tabType() == 'signature' || tabType() == 'under-development' || (tabType() === 'all' && transaction.status.code === 'SUCCESS')) {
      <button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu"       class="min-w-7 min-h-7"> 
        <app-svg-icon name="hamkor_dots-vertical" [size]="20" class="text-custom-primary"></app-svg-icon>
      </button>
    }
  </div>
</div>

<mat-menu #menu="matMenu" xPosition="before" class="menu-actions">
  <div *ngIf="transaction?.isDebit" (click)="repeatPayment($event,transaction)"
       class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-2 hover:rounded-[6px] transition-colors">
    <img src="./assets/new-icons/reverse-right.svg" alt="#">
    <div class="text-custom-secondary text-sm font-medium leading-5">{{'main.retry' | translate}}</div>
  </div>
  <div *ngIf="transaction?.status.code === 'SUCCESS'" (click)="onShare($event)" class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-2 hover:rounded-[6px] transition-colors">
    <img src="./assets/new-icons/share-06.svg" alt="#">
    <div class="text-custom-secondary text-sm font-medium leading-5">{{'main.share' | translate}}</div>
  </div>
  <div (click)="redirectToReversePayment($event,transaction)" *ngIf="!transaction.isDebit"
       class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-2 hover:rounded-[6px] transition-colors">
    <img src="./assets/new-icons/reverse.svg" alt="#">
    <div class="text-custom-secondary text-sm font-medium leading-5">{{'main.response_payment' | translate}}</div>
  </div>
  <div *ngIf="transaction?.status.code === 'SUCCESS'" (click)="downloadExcel()" class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-2 hover:rounded-[6px] transition-colors">
    <img [width]="16" src="./assets/svg/excel-active.svg" alt="#">
    <div class="text-custom-secondary text-sm font-medium leading-5">{{'cardFileTwo.download_excel' | translate}}</div>
  </div>
  <div *ngIf="transaction.status.code === 'SUCCESS'"
       (click)="printPdf($event,transaction.transactionId)"
       class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-2 hover:rounded-[6px] transition-colors">
    <img src="./assets/new-icons/printer.svg" alt="#">
    <div class="text-custom-secondary text-sm font-medium leading-5">{{'main.print' | translate}}</div>
  </div>
</mat-menu>
