//  ::ng-deep .custom-menu .mat-mdc-menu-content {
//       padding: 4px !important;
//     }

//     ::ng-deep .custom-menu .mat-mdc-menu-item {
//       padding: 0 !important;
//     }

//     ::ng-deep .custom-menu .mat-mdc-menu-item .mat-mdc-menu-item-text {
//       display: contents !important;
//     }

.leading-trim {
  leading-trim: both;
  text-edge: cap;
}

.text-ellipsis-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  display: block;
}
