<!--<div class="bg-white p-6 rounded-12px h-screen">-->
<!--  <span class="font-medium leading-6 text-2xl">Персональные данные</span> <br>-->
<!--  <span class="text-base font-normal leading-normal text-secondary">Здесь хранится ваша личная информация</span>-->
<!--  @if(userService.userInfo$ | async; as user){-->
<!--    <div class="border-secondary  border-1px rounded-12px p-6 flex gap-12 mt-6 justify-normal">-->
<!--      <div>-->
<!--        <img ngSrc="../../../../../../../assets/images/user.png" alt="" width="200" height="200">-->
<!--      </div>-->
<!--      <div class="flex flex-col gap-6">-->
<!--        <div>-->
<!--          <span class="font-normal text-base leading-normal text-secondary">Имя Фамилия</span> <br>-->
<!--          <span class="font-medium text-base leading-5">{{user.userInfo.firstname + ' ' + user.userInfo.lastname}}</span>-->
<!--        </div>-->
<!--        <div>-->
<!--          <span class="font-normal text-base leading-normal text-secondary">Номер телефона</span> <br>-->
<!--          <span class="font-medium text-base leading-5">{{user.userInfo.phoneNumber | mask:'000 00 000 00 00'}}</span>-->
<!--        </div>-->
<!--        <div>-->
<!--          <span class="font-normal text-base leading-normal text-secondary">Должность</span> <br>-->
<!--          <span class="font-medium text-base leading-5">{{getPositionLabel(user.user.position)}}</span>-->
<!--        </div>-->


<!--      </div>-->
<!--     <div class="flex flex-col gap-6">-->
<!--       <div>-->
<!--         <span class="font-normal text-base leading-normal text-secondary">Название компании</span> <br>-->
<!--         <span class="font-medium text-base leading-5">{{user.businessName}}</span>-->
<!--       </div>-->
<!--       <div>-->
<!--         <span class="font-normal text-base leading-normal text-secondary">ИНН компании</span> <br>-->
<!--         <span class="font-medium text-base leading-5">{{user.business.inn}}</span>-->
<!--       </div>-->
<!--       <div>-->
<!--         <span class="font-normal text-base leading-normal text-secondary">Почта</span> <br>-->
<!--         <span class="font-medium text-base leading-5">{{user.userInfo.email}}</span>-->
<!--       </div>-->
<!--     </div>-->
<!--    </div>-->
<!--  }-->
<!--</div>-->

<div class="flex flex-col gap-y-4">
  <app-container-nav [navs]="navs()"></app-container-nav>
  <app-container-title [title]="'Профиль и настройки'"></app-container-title>
</div>
<div class="bg-white p-6 rounded-2xl mt-4">
  <div class="flex space-x-6">
    <div class="border-r  border-[#E0E0E0] h-[100vh] ">
      <div class="flex flex-col items-start pr-4">
        <div class="flex flex-col space-y-4">
          <ng-container *ngFor="let tab of profileTabs(); let i = index">
            <button
              (click)="activeMe.set(i)"
              class="relative text-[16px] py-3 px-4 font-semibold leading-6 text-left"
              [ngClass]="{
            'text-[#008C79]': activeMe() === i,
            'text-[#2C3531]': activeMe() !== i
          }"
            >
              {{ tab }}
              <span
                *ngIf="activeMe() === i"
                class="absolute top-0 right-[-17px] h-full w-[2px] bg-[#008C79] rounded-full transition-all duration-300"
              ></span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    @switch (activeMe()) {
      @case (0) {
        @if (userService.userInfo$ | async; as user) {
          <div class="flex flex-col w-full">
            <div class="flex flex-col py-2 border-b border-[#ECECED]">
              <span class="font-normal leading-[18px] text-sm text-[#9799A1]">Название компании</span>
              <span *ngIf="this.userInfo()?.name" class="font-normal leading-5 text-[16px] text-[#2C3531]">{{ this.userInfo()?.name }}</span>
              <div *ngIf="!this.userInfo()?.name"
                class="gap-2 flex flex-col bg-[#F3F5F5] rounded-2xl h-[20px] justify-items-end items-start !w-[150px] animate-skeleton">
                <div class="h-4 rounded skeleton-text"></div>
              </div>
            </div>
            <div class="flex flex-col py-2 border-b border-[#ECECED]">
              <span class="font-normal leading-[18px] text-sm text-[#9799A1]">ФИО пользователя</span>
              <span  *ngIf="this.userInfo()?.enteredUser" class="font-normal leading-5 text-[16px] text-[#2C3531]">{{ this.userInfo()?.enteredUser }}</span>
              <div *ngIf="!this.userInfo()?.enteredUser"
                   class="gap-2 flex flex-col bg-[#F3F5F5] rounded-2xl h-[20px] justify-items-end items-start !w-[150px] animate-skeleton">
                <div class="h-4 rounded skeleton-text"></div>
              </div>
            </div>
            <div class="flex flex-col py-2 border-b border-[#ECECED]">
              <span class="font-normal leading-[18px] text-sm text-[#9799A1]">Номер телефона</span>
              <span *ngIf="this.userInfo()?.phone" class="font-normal leading-5 text-[16px] text-[#2C3531]">{{ this.userInfo()?.phone }}</span>
              <div *ngIf="!this.userInfo()?.phone"
                   class="gap-2 flex flex-col bg-[#F3F5F5] rounded-2xl h-[20px] justify-items-end items-start !w-[150px] animate-skeleton">
                <div class="h-4 rounded skeleton-text"></div>
              </div>
            </div>
            <div class="flex flex-col py-2 border-b border-[#ECECED]">
              <span class="font-normal leading-[18px] text-sm text-[#9799A1]">ИНН</span>
              <span *ngIf="this.userInfo()?.inn"  class="font-normal leading-5 text-[16px] text-[#2C3531]">{{ this.userInfo()?.inn }}</span>
              <div *ngIf="!this.userInfo()?.inn"
                   class="gap-2 flex flex-col bg-[#F3F5F5] rounded-2xl h-[20px] justify-items-end items-start !w-[150px] animate-skeleton">
                <div class="h-4 rounded skeleton-text"></div>
              </div>
            </div>
            <div class="flex flex-col py-2 border-b border-[#ECECED]">
              <span class="font-normal leading-[18px] text-sm text-[#9799A1]">МФО банка</span>
              <span *ngIf="this.userInfo()?.filialCode" class="font-normal leading-5 text-[16px] text-[#2C3531]">{{ this.userInfo()?.filialCode }}</span>
              <div *ngIf="!this.userInfo()?.filialCode"
                   class="gap-2 flex flex-col bg-[#F3F5F5] rounded-2xl h-[20px] justify-items-end items-start !w-[150px] animate-skeleton">
                <div class="h-4 rounded skeleton-text"></div>
              </div>
            </div>
            <div class="flex flex-col py-2 border-b border-[#ECECED]">
              <span class="font-normal leading-[18px] text-sm text-[#9799A1]">Директор</span>
              <span *ngIf="this.userInfo()?.directorName" class="font-normal leading-5 text-[16px] text-[#2C3531]">{{ this.userInfo()?.directorName }}</span>
              <div *ngIf="!this.userInfo()?.directorName"
                   class="gap-2 flex flex-col bg-[#F3F5F5] rounded-2xl h-[20px] justify-items-end items-start !w-[250px] animate-skeleton">
                <div class="h-4 rounded skeleton-text"></div>
              </div>
            </div>
            <div class="flex flex-col py-2 border-b border-[#ECECED]">
              <span class="font-normal leading-[18px] text-sm text-[#9799A1]">Адрес</span>
              <span *ngIf="this.userInfo()?.address" class="font-normal leading-5 text-[16px] text-[#2C3531]">{{ this.userInfo()?.address }}</span>
              <div *ngIf="!this.userInfo()?.address"
                   class="gap-2 flex flex-col bg-[#F3F5F5] rounded-2xl h-[20px] justify-items-end items-start !w-[450px] animate-skeleton">
                <div class="h-4 rounded skeleton-text"></div>
              </div>
            </div>
          </div>
        }
      }
      @case (1) {}
    }
  </div>

</div>
