<div class="flex flex-col gap-y-4">
  <app-container-nav [navs]="navs()"></app-container-nav>
  <app-container-title [title]="'Открыть корпоративную карту'"></app-container-title>
</div>
<span class="justify-start text-[#9799A1] text-sm font-normal   leading-none">Функция позволяет инициировать перевод средств на счёт или карту по заданным параметрам</span>
<div class="flex flex-col gap-4 p-6 bg-white rounded-2xl mt-4">
  <div class="grid grid-cols-2 gap-4 ">
    @for (advert of advertisements(); track advert) {
      <div class="border border-[#ECECED] rounded-2xl p-4 flex space-x-4  items-center">
        <app-ui-svg-icon [path]="advert.img" ></app-ui-svg-icon>
   <div class="flex flex-col">
     <div class="flex justify-between w-full">
       <span class="text-[20px] font-semibold leading-7 text-[#2C3531]">{{advert.name}}</span>
       <span class="px-2 py-[4px] bg-[#F3F5F5] flex gap-2.5 justify-center items-center text-[#9799A1] rounded-2xl">{{advert.currency}}</span>
     </div>
     <p class="text-sm font-normal text-[#9799A1] pb-4 pt-2">{{advert.description}}</p>
    <div class="w-full text-end flex justify-end">
      <button (click)="createCard()" class="bg-[#008C79] rounded-[40px] !w-[180px] h-10 py-2 px-4 gap-2.5 flex justify-center items-center text-white text-sm font-medium">Выпустить</button>
    </div>
   </div>
      </div>
    }
  </div>

</div>

