<div class="bg-white rounded-12px p-6">
  <button class="absolute justify-center items-center top-0 rounded-full p-[1.5px] right-0 flex bg-white" (click)="dialogRef.close()">
    <mat-icon class="text-base font-bold rounded-full border-[1.5px] border-[#A1A1A1]">close</mat-icon>
  </button>
      <p class="text-24 font-medium flex flex-col py-2">Расчет вклада</p>

  <!-- <mat-tab-group> -->
    <!-- <mat-tab label="Обычный"> -->
      <div class="border-secondary border-1px px-6 py-4 rounded-lg flex">
        <div class="border-secondary border-1px rounded-lg p-6 mr-4 min-w-[600px] max-w-[600px]">
          <p class="font-medium leading-20px mb-2">Сумма вклада</p>
          <div class="p-1 rounded-12px border-1px border-secondary flex justify-between">
            <input type="text" placeholder="100.000 UZS" class="outline-none font-medium text-base bg-white" mask="separator.2" [value]="formatNumberWithSpaces()" disabled>
            <div class="border-1px border-secondary rounded-10px p-1 bg-[#EFF0F2] w-[92px] h-[36px] relative">
                <app-ui-svg-icon path="./assets/icons/btn-icons.svg#arrow_down"
                    svgClass="w-5 h-5 absolute right-[5px] top-[7px]"></app-ui-svg-icon>
                <div class="absolute rounded-full overflow-hidden mr-1 border-1px border-secondary mt-0.5 top-1">
                    <app-ui-svg-icon [path]="'./assets/icons/flag-icons.svg#' + selectedCurrencyVal"
                        svgClass="w-5 h-5"></app-ui-svg-icon>
                </div>
                <mat-select [(value)]="selectedCurrencyVal" disableRipple class="select relative" (selectionChange)="onSelectedCurrencyVal($event.value)">
                    <mat-option value="uzb">
                        <div class="flex items-center justify-start">
                            <div class="rounded-full overflow-hidden mr-1 border-1px border-secondary">
                                <app-ui-svg-icon path="./assets/icons/flag-icons.svg#uzb"
                                    svgClass="w-6 h-6"></app-ui-svg-icon>
                            </div>
                            UZB
                        </div>
                    </mat-option>
                    <mat-option value="eur">
                        <div class="flex items-center justify-start">
                            <div class="rounded-full overflow-hidden mr-1 border-1px border-secondary">
                                <app-ui-svg-icon path="./assets/icons/flag-icons.svg#eur"
                                    svgClass="w-6 h-6"></app-ui-svg-icon>
                            </div>
                            EUR
                        </div>
                    </mat-option>
                    <mat-option value="usd">
                        <div class="flex items-center justify-start">
                            <div class="rounded-full overflow-hidden mr-1 border-1px border-secondary">
                                <app-ui-svg-icon path="./assets/icons/flag-icons.svg#usd"
                                    svgClass="w-6 h-6"></app-ui-svg-icon>
                            </div>
                            USD
                        </div>
                    </mat-option>
                    <mat-option value="rub">
                        <div class="flex items-center justify-start">
                            <div class="rounded-full overflow-hidden mr-1 border-1px border-secondary">
                                <app-ui-svg-icon path="./assets/icons/flag-icons.svg#rub"
                                    svgClass="w-6 h-6"></app-ui-svg-icon>
                            </div>
                            RUB
                        </div>
                    </mat-option>
                </mat-select>
            </div>
          </div>
          <div class="range-slider mb-1">
              <input [placeholder]="dayFrom + 'день'" type="range" min="100000" max="1500000000" step="50000" [(ngModel)]="sliderDepositAmountValue" (input)="formatNumberWithSpaces()" class="custom-range">
          </div>
          <p class="flex justify-between text-[#B0B8C1] text-sm mb-6">100 000 UZS <span>1 500 000 000 UZS</span></p>

          <p class="text-base font-medium mb-2">Выберите срок</p>
          <div class="relative mb-2">
              <input type="text" class="border-1px border-secondary rounded-[10px] w-full h-11 py-[13px] px-2 outline-none text-base" [value]="formatMonth()" mask="separator.2" disabled>
              <span class="text-secondary text-base absolute right-2 top-1/2 translate-y-[-50%]">дней</span>
          </div>
          <div class="range-slider mb-1">
              <input type="range" [min]="dayFrom" [max]="dayEnd" step="1" [(ngModel)]="sliderDayValue" (input)="formatMonth()" class="custom-range">
          </div>
          <p class="flex justify-between text-[#B0B8C1] text-sm mb-4">{{dayFrom}} день <span>{{dayEnd}} день</span></p>
          <div [formGroup]="form" class="flex flex-wrap justify-evenly">
            <mat-checkbox color="primary" class="mr-4" formControlName="rateModifier">с пополнением</mat-checkbox>
            <mat-checkbox color="primary" formControlName="rateModifierByCondition">с частичным возвратом</mat-checkbox>
            <div class="w-full flex items-center justify-center">
                <p>выплата процентов</p>
                <mat-radio-group color="primary" class="flex" formControlName="depositWithdrawFrequency">
                    <mat-radio-button value="AT_THE_END_OF_TERM">на конец срока депозита</mat-radio-button>
                    <mat-radio-button  value="MONTHLY">ежемесячно</mat-radio-button>
                  </mat-radio-group>
            </div>

          </div>

          </div>

        <div class="border-secondary border-1px rounded-lg p-6 min-w-[600px] max-w-[600px]">
          <div class="border-1px mb-4 p-4 border-[#EFF0F2] rounded-[10px] bg-[#EFF0F2]">
            <p class="flex justify-between text-[#B0B8C1] text-sm">Годовая ставка <span class="text-base text-primary font-medium">{{percentageRate ? percentageRate + '%' : ''}}</span></p>
            <hr class="my-2">
            <p class="flex justify-between text-[#B0B8C1] text-sm font-medium">Сумма вклада<span class="text-base text-black">{{formatNumberWithSpaces()}} UZS</span></p>
            <hr class="my-2">
            <p class="flex justify-between text-[#B0B8C1] text-sm font-medium">Срок<span class="text-base text-black">{{sliderDayValue}} день</span></p>
            <hr class="my-2">
            <p class="flex justify-between text-[#B0B8C1] text-sm font-medium">Итого к возврату<span *ngIf="calculatedAmount" class="text-base text-black">{{ calculatedAmount | number : '1.2-2'}}</span></p>
        </div>

        <div class="flex mb-6">
            <p class="text-primary flex items-center mr-6">
                <app-ui-svg-icon
                path="./assets/icons/left-menu.svg#document-text"
                svgClass="w-6 h-6 mr-2"
            ></app-ui-svg-icon>График выплаты</p>
        </div>
        <button matRipple class="bg-secondary font-medium w-full h-[37px] text-white rounded-[10px]" (click)="onCalculateDeposit()">Отправить на проверку</button>
        </div>
      </div>
    <!-- </mat-tab> -->
    <!-- <mat-tab label="По продуктaм">
      <div class="border-secondary border-1px px-6 py-4 rounded-lg flex flex-col min-w-[552px]">
        <p class="font-medium leading-20px mb-2">Сумма вклада</p>
        <div class="p-1 rounded-12px border-1px border-secondary flex justify-between">
          <input type="text" placeholder="0.00 UZS" class="outline-none font-medium text-base" mask="separator.2" [value]="formatNumberWithSpaces()" disabled>
          <div class="border-1px border-secondary rounded-10px p-1 bg-[#EFF0F2] w-[92px] h-[36px] relative" [formGroup]="form">
              <app-ui-svg-icon path="./assets/icons/btn-icons.svg#arrow_down"
                  svgClass="w-5 h-5 absolute right-[5px] top-[7px]"></app-ui-svg-icon>
              <div class="absolute rounded-full overflow-hidden mr-1 border-1px border-secondary mt-0.5 top-1">
                  <app-ui-svg-icon [path]="'./assets/icons/flag-icons.svg#' + selectedCurrencyVal"
                      svgClass="w-5 h-5"></app-ui-svg-icon>
              </div>
              <mat-select disableRipple class="select relative" >
                  <mat-option value="uzb">
                      <div class="flex items-center justify-start">
                          <div class="rounded-full overflow-hidden mr-1 border-1px border-secondary">
                              <app-ui-svg-icon path="./assets/icons/flag-icons.svg#uzb"
                                  svgClass="w-6 h-6"></app-ui-svg-icon>
                          </div>
                          UZB
                      </div>
                  </mat-option>
                  <mat-option value="eur">
                      <div class="flex items-center justify-start">
                          <div class="rounded-full overflow-hidden mr-1 border-1px border-secondary">
                              <app-ui-svg-icon path="./assets/icons/flag-icons.svg#eur"
                                  svgClass="w-6 h-6"></app-ui-svg-icon>
                          </div>
                          EUR
                      </div>
                  </mat-option>
                  <mat-option value="usd">
                      <div class="flex items-center justify-start">
                          <div class="rounded-full overflow-hidden mr-1 border-1px border-secondary">
                              <app-ui-svg-icon path="./assets/icons/flag-icons.svg#usd"
                                  svgClass="w-6 h-6"></app-ui-svg-icon>
                          </div>
                          USD
                      </div>
                  </mat-option>
                  <mat-option value="rub">
                      <div class="flex items-center justify-start">
                          <div class="rounded-full overflow-hidden mr-1 border-1px border-secondary">
                              <app-ui-svg-icon path="./assets/icons/flag-icons.svg#rub"
                                  svgClass="w-6 h-6"></app-ui-svg-icon>
                          </div>
                          RUB
                      </div>
                  </mat-option>
              </mat-select>
          </div>
        </div>
        <div class="range-slider mb-1">
            <input type="range" min="100000" max="1500000000" step="50000" [(ngModel)]="sliderDepositAmountValue" (input)="formatNumberWithSpaces()" class="custom-range">
        </div>
        <p class="flex justify-between text-[#B0B8C1] text-sm mb-6">100 000 UZS <span>1 500 000 000 UZS</span></p>

        <p class="text-base font-medium mb-2">Выберите срок</p>
        <div class="relative mb-2">
            <input type="text" class="border-1px border-secondary rounded-[10px] w-full h-11 py-[13px] px-2 outline-none text-base" [value]="formatMonth()" mask="separator.2" disabled>
            <span class="text-secondary text-base absolute right-2 top-1/2 translate-y-[-50%]">мес</span>
        </div>
        <div class="range-slider mb-1">
            <input type="range" min="1" max="24" step="1" [(ngModel)]="sliderDayValue" (input)="formatMonth()" class="custom-range">
        </div>
        <p class="flex justify-between text-[#B0B8C1] text-sm">1 месяцов <span>24 месяцов</span></p>

        <div class="border-1px mb-4 p-4 border-[#EFF0F2] rounded-[10px] bg-[#EFF0F2]">
          <p class="flex justify-between text-[#B0B8C1] text-sm">Годовая ставка <span class="text-base text-primary font-medium">22%</span></p>
          <hr class="my-2">
          <p class="flex justify-between text-[#B0B8C1] text-sm font-medium">Сумма вклада<span class="text-base text-black">500 000 000 UZS</span></p>
          <hr class="my-2">
          <p class="flex justify-between text-[#B0B8C1] text-sm font-medium">Валюта вклада<span class="text-base text-black flex items-center"><app-ui-svg-icon path="./assets/icons/flag-icons.svg#uzb"
            svgClass="w-6 h-6 mr-1 rounded-full overflow-hidden"></app-ui-svg-icon>UZB</span></p>
          <hr class="my-2">
          <p class="flex justify-between text-[#B0B8C1] text-sm font-medium">Срок<span class="text-base text-black">24 день</span></p>
          <hr class="my-2">
          <p class="flex justify-between text-[#B0B8C1] text-sm font-medium">Итого к возврату<span class="text-base text-black">534 430 888.84 UZS</span></p>
        </div>

        <div class="flex mb-6">
            <p class="text-primary flex items-center mr-6">
                <app-ui-svg-icon
                path="./assets/icons/left-menu.svg#document-text"
                svgClass="w-6 h-6 mr-2"
            ></app-ui-svg-icon>График выплаты</p>
        </div>
        <button matRipple class="bg-secondary font-medium w-full h-[37px] text-white rounded-[10px]">Отправить на проверку</button>
      </div>
    </mat-tab> -->
  <!-- </mat-tab-group> -->
</div>
