select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/assets/svg/select-open-down.svg');
  background-repeat: no-repeat;
  background-position: right -0px center;
  background-size: 20px;
  padding-right: 27px;
}
