<div class="rounded-[24px] bg-surface-2">
    <div class="flex flex-col ">
        <div class="px-5">
             <app-mass-payment-table-filter (filterChange)="handleFilterChange($event)"></app-mass-payment-table-filter>
        </div>
      @if(loading()) {
            <div class="mb-4 px-6 py-3 bg-surface-2 ">
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
            </div>
      }@else {
  <div class="overflow-x-auto px-5 mb-4">
          <table class="w-full">

            <ng-container *ngIf="tableData().length">
                <thead>
              <tr class="border-b border-custom-soft-200">
                <th class="text-left py-4 px-2 text-sm font-medium  ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900">
                    <span class="font-medium text-sm text-custom-secondary">  {{ 'new_third.name_and_status' | translate }}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900" (click)="sort('AUTHOR_FULL_NAME')">
                    <app-svg-icon class="text-custom-secondary" name="hamkor_switch_vertical" [size]="12"></app-svg-icon>
                    <span class="font-medium text-sm text-custom-secondary">  {{ 'new_third.author' | translate }}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900" (click)="sort('DOWNLOAD_TIME')">
                    <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                     <span class="font-medium text-sm text-custom-secondary">{{ 'new_third.download_date' | translate }}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900" (click)="sort('ALL_DATA')">
                    <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                    <span class="font-medium text-sm text-custom-secondary">  {{ 'new_third.total_count' | translate }}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900" (click)="sort('SUCCESS_DATA')">
                    <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                    <span class="font-medium text-sm text-custom-secondary"> {{ 'new_third.success' | translate }}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900" (click)="sort('ERROR_DATA')">
                    <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                    <span class="font-medium text-sm text-custom-secondary"> {{ 'new_third.error' | translate }}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900" (click)="sort('AMOUNT')">
                    <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                    <span class="font-medium text-sm text-custom-secondary"> {{ 'new_third.amount' | translate }}</span>
                  </div>
                </th>
                <th class="py-4 px-2"></th>
              </tr>
            </thead>
            </ng-container>

            <ng-container *ngIf="tableData().length; else noData">
                <tbody>
                <tr *ngFor="let record of tableData()" class="hover:bg-surface-1 transition-colors" (click)="navigateCreatePayment($event,record)">
                        <td class="py-4 px-2 ">
                        <div class="flex flex-col gap-1">
                            <div class="font-semibold  text-custom-primary text-sm">{{record.fileName}}</div>
                            <div class="flex gap-1 items-center">
                              <img [src]="SVG_URL+record.status.logo" [alt]="record.amount.logo.ext">
                                <div class="text-xs font-medium text-custom-secondary">
                                {{record.status.title}}
                                </div>
                            </div>
                        </div>
                        </td>
                        @if(record.author.authorFirstName ||record.author.authorLastName ) {
                             <td class="py-4 px-2 text-sm font-medium text-custom-primary">{{record.author.authorFirstName}} {{record.author.authorLastName}}</td>
                        }@else{
                           <td class="py-4 px-2 text-sm font-medium text-custom-primary">-</td>
                        }
                        <td class="py-4 px-2 text-sm font-medium text-custom-primary">{{record.docDate | date:'dd.MM.yyyy HH:mm'}}</td>
                        <td class="py-4 px-2 text-sm font-medium text-custom-primary">{{record?.allData ?? '-'}}</td>
                        <td class="py-4 px-2 text-sm font-medium text-custom-primary">{{record?.successData ?? '-'}}</td>
                        <td class="py-4 px-2 text-sm font-medium text-custom-primary">{{record?.errorData ?? '-'}}</td>
                        @if (record.amount.amount) {
                            <td class="py-4 px-2 text-sm font-medium text-custom-primary">{{integerPart(record.amount.amount)}}.{{decimalPart(record.amount.amount)}} {{record.amount.currency}}</td>
                        }@else {
                            <td class="py-4 px-2 text-sm font-medium text-custom-primary">--- {{record.amount.currency}}</td>
                        }
                        <td class="py-4 px-2">
                        <button
                          (click)="downloadFile($event,record)"
                        [disabled]="record.status.code == 'PENDING'" class="cursor-pointer disabled:cursor-not-allowed p-2 hover:bg-custom-gray-200 rounded-lg transition-colors">
                            <app-svg-icon
                            name="hamkor_download"
                            [size]="20"
                            [ngClass]="{
                                'text-[#D1D1D1]': record.status.code === 'PENDING',
                                'text-custom-primary': record.status.code !== 'PENDING'
                            }"
                            ></app-svg-icon>
                        </button>
                        </td>
                    </tr>
                    </tbody>
            </ng-container>
            <ng-template #noData>
                <tbody *ngIf="!loading()">
                    <tr>
                    <td colspan="8" class="py-16 px-4 text-center">
                        <div class="flex flex-col items-center justify-center gap-3 min-h-[160px]">
                        <div class="font-bold text-custom-primary">
                       {{ 'new_third.no_uploaded_payments' | translate }}
                        </div>
                        <div class="text-custom-muted text-sm max-w-md">
                    {{ 'new_third.import_first_mass_payment_hint' | translate }}
                        </div>
                        </div>
                    </td>
                    </tr>
                </tbody>
            </ng-template>
            </table>
        </div>
      }
    </div>
</div>

   <!-- #region PAGINATION -->
@if (totalElements() > 5) {
  <div>
    <app-pagination
      [pageIndex]="filterForm.get('page')!.value"
      [pageSize]="filterForm.get('size')!.value"
      [totalItems]="totalElements()"
      (pageChange)="handlePageChange($event)"
      (pageSizeChange)="handlePageSizeChange($event)">
    </app-pagination>
  </div>
}

  <!-- #endregion PAGINATION -->
