<div class="flex flex-col gap-y-5 max-w-full">
  <app-filter-payment
    class="accordion"
    (filterChange)="setFilter($event)"
    [toggleActive]="true"
  ></app-filter-payment>

  <div class="flex justify-between gap-x-5 items-center">
    <app-table-actions
      [tableActionBtns]="tableActionBtns"
      (onClick)="onActionClick($event)"
    ></app-table-actions>

    <app-filter-button
      [classes]="'bg-[#264796] text-white'"
      [src]="'./assets/svg/filter-white.svg'"
      (click)="filterState = !filterState"
    ></app-filter-button>
  </div>

  <app-filter-payment
    (filterChange)="setFilter($event, 'payments')"
    (searched)="getAccounts()"
    [toggleActive]="true"
    [panelState]="filterState"
  ></app-filter-payment>

  <app-container-table
    [columns]="tableColumns"
    [data]="tableData"
    [loading]="loading"
    [custom]="true"
    [errorMessage]="errorMessage"
    [size]="pageSize"
    (selectedRows)="onSelectedRows($event)"
  ></app-container-table>
  <app-paginator
    [itemsPerPage]="pageSize"
    [currentPage]="pageIndex + 1"
    [totalItems]="totalItems"
    (pageChange)="pageChange($event)"
  ></app-paginator>
</div>
