<div class="space-y-3">
  <ng-container *ngIf="transport && transportInfo">
    <app-my-transport-info-nav-items
      [oil]="{
        day: transportInfo.oilDay,
        km: transportInfo.oilKm,
        date: transportInfo.oilDate
      }"
      [uuid]="transport.uuid"
      [isLoading]="isLoading"
      [plate]="transport.carNumber"
      (refetch)="getInfoMyAuto()"></app-my-transport-info-nav-items>
  </ng-container>

  <div class="flex flex-wrap gap-3">
    <ng-container *ngFor="let item of tabItems">
      <app-my-transport-info-items
        class="flex-1"
        (clickEv)="handleClick($event)"
        [item]="item"
        [isLoading]="isLoading"></app-my-transport-info-items>
    </ng-container>
  </div>

  <div *ngIf="transportInfo">
    <app-transport-driver-license
      [isLoading]="isLoading"
      [lisence]="transportInfo.driverLicense"></app-transport-driver-license>
  </div>
</div>
