.limit-history-box .mat-expansion-panel-header {
  border-radius: 17px !important;
}
.limit-history-box .mat-expansion-panel {
  border-radius: 17px !important;
  border: 0 !important;
}
.limit-history-box .mat-expansion-panel-spacing {
  background-color: #f7f7f7 !important;
  border-radius: 17px !important;
}
.limit-history-box .mat-expansion-panel-spacing .mat-expansion-panel-header {
  border-bottom: 1px solid #ebebeb !important;
  border-radius: 0 !important;
}
.limit-expansion-body {
  height: 312px !important;
  //max-height: 500px !important;
  overflow-y: auto !important;
}
.limit-expansion-body::-webkit-scrollbar {
  display: block;
}
.limit-expansion-body::-webkit-scrollbar {
  width: 4px;
}
.limit-expansion-body::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 2px;
}


