
.accordion .mat-expansion-panel {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.accordion .mat-expansion-panel-body {
  padding: 0 !important;
}
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.custom-select select:focus {
  outline: none;
  box-shadow: none;
  border-color: #E4E4E4; /* fokusda ham o‘zgarmasligi uchun */
}
.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 8px 32px 8px 12px;
  font-size: 14px;
  color: #000;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;

  width: 10px;
  height: 7px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='7' viewBox='0 0 10 7' fill='none'><path d='M5.57723 5.92277C5.25843 6.24156 4.74157 6.24157 4.42277 5.92277L0.393557 1.89356C-0.1207 1.3793 0.243517 0.5 0.970786 0.5H9.02921C9.75648 0.5 10.1207 1.3793 9.60644 1.89356L5.57723 5.92277Z' fill='%23AEAEAE'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
}
.custom-select select option[disabled] {
  color: #9CA3AF!important; /* kulrang placeholder */
}


.custom-datepicker {
  position: absolute !important;
  top: 0 !important;
  left: 100% !important;
  transform: translateX(8px);
}
