.leading-trim {
  leading-trim: both;
  text-edge: cap;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.border-animation {
  position: relative;
}

.border-animation:last-child {
  margin-right: 0;
}

.border-animation:after {
  content: '';
  display: block;
  margin: auto;
  height: 4px;
  width: 0;
  background: transparent;
  transition: width .3s ease, background-color .3s ease;
}
.border-animation:hover:after {
  width: 100%;
  background: #3D96FF;
}
