<ng-container *transloco="let t">
  <img width="100%" height="100%" [src]="'logo-faded.png' | image" alt="logo" class="logo" />

  <div class="header">
    <button cfBounce nz-button nzShape="round" nzSize="small" class="close" (clicked)="cancel()">
      <nz-icon nzType="close" />
    </button>
  </div>

  <div class="content">
    <div class="text">
      <h1 nz-typography>{{ t(config()?.title) }}</h1>

      @if (config()?.description; as description) {
      <p nz-typography>{{ t(description) }}</p>
      }
    </div>
  </div>

  <div class="footer">
    <button cfBounce nz-button nzType="primary" nzSize="large" [nzDanger]="config()?.submit?.danger" (clicked)="submit()">
      <strong>{{ t(config()?.submit?.title) }}</strong>
    </button>
  </div>
</ng-container>
