@import 'mixins';
@import 'custom';
@import 'colors';

:host {
  background: #00a38d;

  [nz-button] {
    color: #101010;
  }

  position: relative;
  display: block;
  width: 100%;
  max-width: 480px;
  border-radius: 42px;
  overflow: hidden;

  .media(@media-sm, {
    min-width: 90vw;
    max-width: 90vw;
    border-radius: 28px;
  });

  .media(@media-xs, {
  min-width: 95vw;
  max-width: 95vw;
  border-radius: 20px;
});

  .logo {
    position: absolute;
    top: 0;
    right: -90px;
    width: 100%;
    height: 100%;
  }

  .header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 32px 32px 8px 32px;
    z-index: 1;

    .media(@media-sm, {
    padding: 20px 20px 8px 20px;
  });
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    flex: 1;
    padding: 0px 32px 24px 32px;
    z-index: 1;

    .media(@media-sm, {
    padding: 24px;
  });
  }

  .text {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    h1 {
      margin: 0;
      font-size: @heading-1-size-md;
      line-height: @line-height-sm;
      color: @cf-white-0;

      .media(@media-sm, {
        font-size: @heading-1-size-sm;
        });
    }

    p {
      font-size: @font-size-xl;
      font-weight: @font-weight-medium;
      line-height: @line-height-sm;
      letter-spacing: -0.9%;
      color: @cf-green-60;
    }
  }

  .footer {
    position: relative;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 8px;
    z-index: 1;

    .media(@media-sm, {
    padding: 24px;
  });

    [nz-button] {
      width: fit-content;
      background: @cf-white-0;
    }
  }
}
