<div class="flex flex-col gap-y-3">

  <div class="flex  gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Код филиала</span>
    <span class="whitespace-normal break-words max-w-[340px]">{{ detail.filialNumber }}</span>
  </div>


  @for(acc of detail.accountType; track $index) {
    <div>Счет ({{ acc.accountTypeCode }})</div>

    <div class="flex  gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">Наименование счета</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ acc.accountTypeName }}</span>
    </div>

    <div class="flex  gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">Код валюты</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ acc.currency }}</span>
    </div>
  }

  <div>Директор:</div>
  <ng-template [ngTemplateOutlet]="personTemplate" [ngTemplateOutletContext]="{ person: detail.director }"></ng-template>

  <div>Главный бухгалтер:</div>
  <ng-template [ngTemplateOutlet]="personTemplate" [ngTemplateOutletContext]="{ person: detail.headOfFinance }"></ng-template>

</div>


<ng-template #personTemplate let-person="person">
  <div class="flex flex-col gap-y-2">
    <div class="flex gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">Имя</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ person.name }}</span>
    </div>
    <div class="flex gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">ПИНФЛ</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ person.pinfl }}</span>
    </div>
    <div class="flex gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">Паспорт</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ person.passport }}</span>
    </div>
    <div class="flex gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">Дата выдачи</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ person.issuedDate | date: 'dd.MM.yyyy' }}</span>
    </div>
    <div class="flex gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">Кем выдан</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ person.issuedBy }}</span>
    </div>
    <div class="flex gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">Email</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ person.email }}</span>
    </div>
    <div class="flex gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">Телефон</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ person.phone }}</span>
    </div>
  </div>
</ng-template>
