<ng-container *transloco="let t">
  <cf-card [titleRef]="titleRef" [showSpace]="isFilled()" class="bordered">
    <div actions>
      @if (!isFilled()) {
      <button nz-button nzType="default" nzSize="default" nzGhost (click)="add.emit()">
        <strong>{{ t('action.add') }}</strong>

        <nz-icon nzType="plus" class="primary" />
      </button>
      }
    </div>

    <div class="list">
      @if (isFilled() && item(); as extraItem) {
      <cf-extra-info-item [item]="extraItem" (edit)="edit.emit()" />
      }
    </div>
  </cf-card>

  <ng-template #titleRef>
    <div class="titleRef">
      <h2 nz-typography>{{ t('prop.extra_params') }}</h2>

      @if (!isFilled()) {
      <nz-tag>
        <nz-icon nzType="info-circle" />
        {{ t('alert.fill_fields') }}
      </nz-tag>
      }
    </div>
  </ng-template>
</ng-container>
