<ng-container *transloco="let t">
  <cf-card [title]="t('prop.extra_params')" [showSpace]="items()?.length > 0" class="bordered">
    <div actions>
      <button nz-button nzType="default" nzSize="default" nzGhost (click)="add.emit()">
        <strong>{{t('action.add')}}</strong>

        <nz-icon nzType="plus" class="primary" />
      </button>
    </div>

    <div class="list">
      @for (item of items(); track $index) {
      <cf-extra-info-item [item]="item" (edit)="edit.emit($index)" />
      }
    </div>
  </cf-card>
</ng-container>
