<div class="payment-page">
    <ul class="flex justify-between items-center relative mb-4 z-20">
        <li [routerLink]="['counteragent']" routerLinkActive="text-primary" (click)="isMore = false" class="p-2 cursor-pointer">Перевод средств</li>
<!--        <li [routerLink]="['templates']" routerLinkActive="text-primary" (click)="isMore = false" class="p-2 cursor-pointer">Платёж по шаблону-->
<!--        </li>-->
<!--        <li [routerLink]="['jku']" routerLinkActive="text-primary" (click)="isMore = false" class="p-2 cursor-pointer">Оплата ЖКУ</li>-->
<!--        <li [routerLink]="['budget']" routerLinkActive="text-primary" (click)="isMore = false" class="p-2 cursor-pointer">Платёж в бюджет</li>-->
<!--        <div class="w-7">-->
<!--          @if (!isMore){-->
<!--            <app-ui-svg-icon (click)="isMore = !isMore" matDatepickerToggleIcon-->
<!--                             path="./assets/icons/btn-icons.svg#more" svgClass="w-6 h-6 cursor-pointer"></app-ui-svg-icon>-->
<!--          }-->
<!--          @if (isMore){-->
<!--            <button (click)="isMore = !isMore"-->
<!--                    class="justify-center items-center rounded-full p-[1.5px] flex cursor-pointer">-->
<!--              <mat-icon class="text-base font-bold rounded-full border-[1.5px] border-[#A1A1A1]">close</mat-icon>-->
<!--            </button>-->
<!--          }-->
<!--        </div>-->
    </ul>
<!--  @if (isMore){-->
<!--    <div class="absolute w-full h-full top-0 left-0 z-10" (click)="isMore = false">-->
<!--      <ul class="absolute bg-white rounded-10px top-[40px] right-0 z-10" [@dropDownMenu]-->
<!--          style="box-shadow: 0px 20px 24px -6px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);">-->
<!--        @for (menu of menuList ; track menu){-->
<!--          <li [routerLink]="[menu.route]" routerLinkActive="text-primary" class="menu-item px-4 py-2 cursor-pointer hover:bg-[#f0f0f0] hover:opacity-[.5]">{{menu?.title}}</li>-->
<!--        }-->
<!--      </ul>-->
<!--    </div>-->
<!--  }-->
    <div [@routeAnimations]="routeAnimationData">
        <router-outlet></router-outlet>
    </div>
</div>
