<div class="w-full bg-white pt-8 px-8 pb-6 rounded-[42px]">
  <div class="flex justify-end">
    <div mat-dialog-close class="justify-center text-end flex items-center rounded-md h-8 w-8 p-[6px] bg-[#F4F5F6] cursor-pointer">
      <img src="assets/new-icons/close.svg">
    </div>
  </div>

  <div class="rounded-2xl border border-[#ECECED] overflow-auto h-[300px] mt-6">
    @for (item of data.errorList; track item.uuid) {
      <div class="grid grid-cols-[1fr_1fr_1fr] gap-5 py-5 px-6">
        <div class="text-[#2D2D2D] font-semibold leading-5">{{ item.ownerName }}</div>

        <div class="whitespace-nowrap text-[#2D2D2D] leading-6">
          <span class="font-bold">
            {{ (Math.floor(item.balance.amount / 100) | mask:'separator') }}
          </span>

          <span class="text-sm font-semibold">
            ,{{ (Math.abs(item.balance.amount) % 100).toString().padStart(2, '0') }} {{ item.balance.currency }}
          </span>
        </div>

        <div class="text-sm text-[#2D2D2D]">{{ item.errorMessage }}</div>
      </div>
    }
  </div>
</div>
