@import 'mixins';
@import 'custom';

:host {
  background: #ffffff;

  p {
    color: #5c5c5c;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: @border-radius-xl;
  padding: 20px;
  min-height: 50svh;
  row-gap: 16px;
  text-align: center;

  h4 {
    margin: 0;
    font-weight: @font-weight-bold;
  }

  p {
    margin: 0;
    max-width: 360px;
    line-height: 1.5;
  }

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
}
