  <div class="flex flex-col gap-y-2">
  <app-container-nav [navs]="navs()"></app-container-nav>
  <app-container-title [title]="contractNumber()"></app-container-title>
</div>
<div class="h-full p-6 bg-white rounded-[15px] shadow flex-col justify-start  gap-5 flex">

<!--  <div class="text-end">-->
<!--    <button (click)="navigateToCreateNewCardEmployee()" class="h-10 px-5 py-2.5 bg-[#008C79] rounded-[5px]  justify-center items-center gap-2 inline-flex text-white text-sm font-normal  leading-none">Выпустить новую карту <mat-icon>add</mat-icon></button>-->
<!--  </div>-->
  <div class="flex justify-between gap-x-5 items-center">
    <app-table-actions
      [tableActionBtns]="tableActionBtns()"
      (onClick)="onActionClick($event)"
    >
    </app-table-actions>
    <div class="flex gap-x-5 items-center">
      <button
        (click)="syncEmployeeCards()"
        mat-ripple
        class="px-5 py-2.5 bg-[#008C79] rounded-[5px]  justify-center items-center gap-2 inline-flex text-white text-sm font-normal h-10  leading-none">
        Обновить список
        <img ngSrc="./assets/svg/refresh-2.svg"  alt="refresh" width="24" height="24">
      </button>
      <app-filter-button
        [src]="filterState() ? './assets/svg/filter-black.svg' : './assets/svg/filter-white.svg'"
        [classes]="filterState() ? '' : 'bg-[#008C79] text-white'"
        (click)="filterState.set(!filterState()) "
      ></app-filter-button>
    </div>
  </div>
  <app-payroll-project-employees-card-filter
    (filterChange)="setFilter($event)"
    [toggleActive]="true"
    [panelState]="filterState()"
    (refreshFilter)="refreshFilter($event)"
  ></app-payroll-project-employees-card-filter>
  <app-container-table
    [columns]="tableColumns()"
    [data]="employeeCards()"
    [loading]="isLoading()"
    [custom]="true"
    [numbering]="true"
    [errorMessage]="errorMessage()"
    [size]="pageSize()"
    (selectedRows)="onSelectedRows($event)"
  ></app-container-table>
  <app-paginator
    [itemsPerPage]="pageSize()"
    [currentPage]="pageIndex() + 1"
    [totalItems]="totalItems()"
    (pageChange)="pageChange($event)"
  ></app-paginator>
</div>
