<div class=" bg-surface-2 relative h-screen w-screen">
  <div class="px-[120px] w-full h-full flex flex-col">
    <div class="flex flex-1 flex-col items-center">
      <div class="h-[100px] flex justify-between w-full">
        <img [ngSrc]='theme.isDark() ? "./assets/new-icons/logo-dark.svg" : "./assets/new-icons/logo-auth.svg"' width="128" height="40" alt="">
        <div class="flex items-center gap-[20px]">
          <div (click)="router.navigate(['/auth/instructions'])" class="flex cursor-pointer items-center gap-2">
            <img src="./assets/new-icons/instuction.svg" alt="">
            <span class="text-custom-secondary">{{ 'authorization.instruction' | translate }}</span>
          </div>
          <div (click)="sendPhoneEvent()" class="flex items-center gap-2">
            <img src="./assets/new-icons/phone.svg" alt="">
            <span class="text-custom-secondary">1809</span>
          </div>
          <a href="https://t.me/MMSBBusinessconsultant_bot"  target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
            <img src="./assets/new-icons/telegram.svg" alt="">
            <span class="text-custom-secondary">{{'authorization.write_to_telegram' | translate}}</span>
          </a>
        </div>
      </div>
      <div *ngIf="step !== 'selectBusiness'" [style.width]="lang() === 'uz-Latn' ? '520px': lang() === 'uz-Cyrl' ? '580px' : '480px'"  class="flex flex-col items-center gap-8 my-auto">
        <div (click)="selectTypeBack()" class="flex cursor-pointer gap-2 items-center justify-start w-full">
          <img [ngSrc]='theme.isDark() ? "./assets/new-icons/back-icon-white.svg" : "./assets/new-icons/back-icon.svg"'
               [width]="12" [height]="12" alt="">
          <p class="text-custom-primary">{{'authorization.back' | translate}}</p>
        </div>
        <div class="flex flex-col items-center gap-1 mt-2">
          <h3 class="text-[32px] font-bold text-custom-primary">{{'authorization.enter_email_code' | translate}}</h3>
          <span class="text-custom-secondary font-normal text-center">{{ 'authorization.email_code_sent' | translate}} <b class="text-custom-primary">{{ this.activatedRoute.snapshot.queryParams['maskedPhone'] }}</b></span>
        </div>
        <div class="relative">
          <app-ui-otp-input
            [count]="6"
            [isOtpIncorrect]="incorrectCode().length > 0"
            (otpComplete)="handleOtp($event)"
            (inputChange)="changeInput()"
          >
          </app-ui-otp-input>
          <span [style.opacity]="incorrectCode().length > 0 ? 1: 0" class="absolute duration-400 bottom-[-35px] text-[#FB3748] text-[15px]">{{ incorrectCode().length > 46 ? incorrectCode() + '...' : incorrectCode() }}</span>
        </div>
        <div class="flex flex-col gap-2 w-full transition-transform duration-200" [style.transform]="incorrectCode().length > 0 ? 'translateY(20px)' : 'translateY(0)'">
          <button *ngIf="timer > 0" [ngClass]="{'!bg-[#00A38D] text-white': timer === 0 }" class="border-[#F5F5F5] w-full h-[56px] bg-[#F5F5F5] rounded-[13px]" [disabled]="true">{{ ('authorization.resend_sms_timer' | translate) + ':' }} {{ timer < 10 ? '00:0' + timer : '00:' + timer }}</button>
          <button *ngIf="timer === 0" [ngClass]="{'!bg-[#00A38D] text-white': timer === 0 }" class="border-[#F5F5F5] w-full h-[56px] bg-[#F5F5F5] rounded-[13px]" (click)="resendCode()">{{ ('authorization.resend_sms_timer' | translate)}}</button>        </div>
      </div>
      <div *ngIf="step === 'selectBusiness'" class="flex flex-col w-[480px] items-center gap-8 my-auto">
        <app-auth-business (submitSelection)="verify($event)" [data]="businessKeys"></app-auth-business>
      </div>
    </div>
    <div class="flex justify-center w-full items-center flex-col gap-4 mb-4">
      <div class="flex gap-8 items-center">
        <div class="hidden gap-1 items-center">
          <img src="./assets/new-icons/help-circle.svg" alt="">
          <span class="text-custom-primary">{{ 'authorization.help' | translate }}</span>
        </div>
        <div class="flex gap-1 items-center cursor-pointer" (click)="theme.toggle()">
          <img *ngIf="!theme.isDark()" src="./assets/new-icons/moon.svg" alt="">
          <img *ngIf="theme.isDark()" src="./assets/new-icons/sun-auth.svg" alt="">
          <span class="text-custom-primary" *ngIf="!theme.isDark()">{{ 'authorization.dark_theme' | translate }}</span>
          <span class="text-custom-primary" *ngIf="theme.isDark()">{{ 'authorization.light_theme' | translate }}</span>
        </div>
        <div class="relative lang-selector">
          <button
            type="button"
            (click)="toggleDropdown()"
            class="flex items-center gap-2 px-3 text-custom-primary outline-none py-2 rounded-lg bg-surface-2 hover:bg-custom-badge-2 transition-colors border border-custom-border"
            [style.border-color]="isOpen ? '#00A38D' : 'white' "
          >
            <img src="./assets/new-icons/globe.svg" alt="Language" class="w-5 h-5">
            <span class="text-sm font-medium text-custom-primary">{{ selectedLangTitle() }}</span>
            <svg
              class="w-4 h-4 transition-transform duration-200"
              [class.rotate-180]="isOpen"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M17.2929 8.29289C17.6834 7.90237 18.3164 7.90237 18.707 8.29289C19.0975 8.68342 19.0975 9.31643 18.707 9.70696L12.707 15.707C12.3164 16.0975 11.6834 16.0975 11.2929 15.707L5.29289 9.70696C4.90237 9.31643 4.90237 8.68342 5.29289 8.29289C5.68342 7.90237 6.31643 7.90237 6.70696 8.29289L11.9999 13.5859L17.2929 8.29289Z"
                fill="currentColor"
              />
            </svg>
          </button>
          <div
            *ngIf="isOpen"
            @dropdownAnimation
            class="absolute top-[-170px] right-[-50px] mt-2 w-48 bg-surface-2 rounded-lg shadow-lg border border-custom-border overflow-hidden z-50"
          >
            <div class="py-1">
              <button
                *ngFor="let lang of availableLanguages"
                type="button"
                (click)="onLangChange(lang.key); closeDropdown()"
                class="w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-surface-2 hover:text-blue-600 transition-colors flex items-center gap-2"
              >
                <span class="font-medium text-custom-primary">{{ lang.label }}</span>
              </button>
            </div>
          </div>

          <div
            *ngIf="isOpen"
            (click)="closeDropdown()"
            class="fixed inset-0 z-40"
          ></div>
        </div>
        <!-- <div class="flex gap-1 items-center">
          <img src="./assets/new-icons/globe.svg" alt="">
          <span>{{ 'authorization.language_ru' | translate  }}</span>
        </div> -->
      </div>
      <div class="flex flex-col items-center">
        <span class="text-[14px] text-custom-muted font-normal">{{ 'authorization.copyright' | translate }}</span>
        <span
          class="text-[14px] text-custom-muted underline font-normal">{{ 'authorization.privacy_policy' | translate }}</span>
      </div>
    </div>
  </div>
</div>
