<div class="bg-surface-2 rounded-[24px] border border-custom-border">
  <div class="flex justify-between px-[20px] items-center p-[20px]">
    <div class="flex gap-[14px] items-center">
            <div (click)="backClick()" class="cursor-pointer gap-1 flex items-center">
              <img [ngSrc]='theme.isDark() ? "./assets/new-icons/back-icon-white.svg" : "./assets/new-icons/back-icon.svg"'
                   [width]="12" [height]="12" alt="">
              <span class="text-[16px] text-custom-primary font-medium">{{'templates.back' | translate}}</span>
            </div>
      <p class="text-[#171717] text-[18px] font-semibold">{{ parentName() }}</p>
    </div>
    <div class="w-[30px] h-[30px] bg-surface-4 flex justify-center items-center rounded-[10px]"><img
      src="assets/new-icons/close.svg" (click)="this.router.navigate(['payment'])" alt="close"></div>
    <!--    <div (click)="this.openFindPurposes = false" *ngIf="this.openFindPurposes"-->
    <!--         class="z-10 w-screen h-screen fixed top-0 left-0 right-0 bottom-0"></div>-->
    <!--    <div (click)="this.selectId.set('')" *ngIf="this.selectId()"-->
    <!--         class="z-10 w-screen h-screen fixed top-0 left-0 right-0 bottom-0"></div>-->
  </div>
  <mat-divider></mat-divider>
  <div class="px-[20px]">
    <div class="relative min-w-[240px] py-[20px]">
        <span class="absolute inset-y-0 left-4 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path
              d="M14.5 14.75L10.0001 10.25M11.5 6.5C11.5 9.3995 9.1495 11.75 6.25 11.75C3.3505 11.75 1 9.3995 1 6.5C1 3.6005 3.3505 1.25 6.25 1.25C9.1495 1.25 11.5 3.6005 11.5 6.5Z"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="text-custom-muted"/>
          </svg>
        </span>

      <input [value]="searchText()" type="text" placeholder="Название услуги или поставщика" (input)="this.inputSubject.next($event)"
             class="w-[340px] pl-10 pr-4 py-2 border border-custom-border rounded-[10px] h-[32px] focus:outline-none text-sm text-custom-primary bg-surface-2"/>
    </div>
    <div *ngIf="this.route.snapshot.queryParamMap.get('serviceName')">
      <div class="flex cursor-pointer p-[20px] border hover:border-[#EBEBEB] rounded-[16px] border-[#FFFFFF] hover:bg-[#F7F7F7] h-[60px] items-center gap-2">
        <div class="w-[36px] h-[36px] flex justify-center items-center text-center">
          <img [src]="serviceLogo()" alt="">
        </div>
        <p class="text-[#171717] text-[16px] font-medium">{{ serviceName() }}</p>
      </div>
    </div>
    <div *ngIf="this.isSearching()" class="grid grid-cols-2 gap-8 pb-[20px]">
      <div *ngFor="let list of searchData()" (click)="navigateFromSearch(list)" class="flex flex-col cursor-pointer p-[20px] border hover:border-[#EBEBEB] rounded-[16px] border-[#FFFFFF] hover:bg-[#F7F7F7] h-full items-start">

        <div *ngIf="list?.type !== 'PAYMENT_CATEGORY'" class="flex items-center gap-2">
          <div *ngIf="list?.service?.parent === null" class="w-[36px] h-[36px] flex justify-center items-center text-center">
            <img [src]="list?.service?.logo?.path + '/' + list?.service?.logo?.name" alt="">
          </div>
          <p class="text-[#171717] leading-[14px] text-[16px] font-medium" [innerHTML]="highlight(list?.service?.title, searchValue())"></p>
        </div>
        <div *ngIf="list?.type !== 'PAYMENT_CATEGORY'" class="flex items-center gap-2">
          <div class="w-[36px] h-[36px] flex justify-center items-center text-center">
            <img [src]="list?.service?.parent?.logo.path + '/' + list?.service?.parent?.logo?.name" alt="">
          </div>

          <p class="text-[#5C5C5C] text-[16px] font-medium"
             [innerHTML]="highlight(list?.service?.parent?.title, searchValue())">
          </p>
        </div>
        <div *ngIf="list?.type === 'PAYMENT_CATEGORY'" class="flex items-center gap-2">
          <div class="w-[36px] h-[36px] flex justify-center items-center text-center">
            <img [src]="list?.category?.logo?.path + '/' + list?.category?.logo?.name" alt="">
          </div>
          <p class="text-[#171717] text-[16px] font-medium" [innerHTML]="highlight(list?.category?.title, searchValue())"></p>
        </div>
      </div>
    </div>
    <div *ngIf="!loading() && !this.isSearching()" class="grid grid-cols-3 gap-4 pb-[20px]">
      <div (click)="getParams(list.id)" *ngFor="let list of categoryList()" class="flex cursor-pointer p-[20px] border hover:border-[#EBEBEB] rounded-[16px] border-[#FFFFFF] hover:bg-[#F7F7F7] h-[60px] items-center gap-2">
        <div class="w-[36px] h-[36px] flex justify-center items-center text-center">
          <img [src]="list.logo.path + '/' + list.logo.name" alt="">
        </div>
        <p class="text-[#171717] text-[16px] font-medium">{{ list.title }}</p>
      </div>
    </div>
    <div *ngIf="loading() && !this.isSearching()" class="grid grid-cols-3 gap-4 pb-[20px]">
      @for (item of skeletons; track item) {
        <div
          class="flex skeleton cursor-pointer p-[20px] border hover:border-[#EBEBEB]
             rounded-[16px] border-[#FFFFFF] hover:bg-[#F7F7F7]
             h-[30px] items-center gap-2"
        >
          <div class="w-[36px] h-[36px] flex justify-center items-center text-center"></div>
          <p class="text-[#171717] text-[16px] font-medium"></p>
        </div>
      }
    </div>
  </div>
  <app-create-office-modal
    *ngIf="openCreateModal()"
    [recipientId]="recipientId()"
    [recipientNameI]="recipientName()"
    [servicesList]="serviceList()"
    [serviceId]="serviceId()"
    [serviceName]="serviceName()"
    [paramsList]="paramsList()"
    [selectedParamsService]="selectedParamsService()"
    [open]="openCreateModal()"
    (cancel)="closeCreatModal()"
    (setParamList)="setParamList($event)"
  >

  </app-create-office-modal>
</div>
