<div @dialogAnim class="relative w-[540px] h-[380px] overflow-hidden py-10 bg-red-500 px-10 z-50 rounded-[42px] flex flex-col gap-2">
  <div class="flex justify-end cursor-pointer z-20" (click)="this.close()">
    <img src="./assets/new-icons/close-filled.svg" alt="">
  </div>
  <div class="flex flex-col mb-8">
    <h3 class="text-white text-[38px] font-bold leading-15">Ошибка</h3>
    <h3 class="text-white text-[20px] w-[90%] font-medium ml-1">{{ this.data.errorMessage }}</h3>
  </div>
  <img class="absolute z-0 right-0 top-0" src="./assets/new-icons/success-logo-white.svg" alt="">
</div>
