<div class="p-6 bg-white rounded-xl min-h-screen">
  <h4 class="font-medium text-2xl mb-1">Вопросы и ответы</h4>
  <p class="text-secondary mb-4">Вы можете найти ответы на наиболее часто задаваемые вопросы</p>
  <div class="px-6 rounded-xl border-1px border-secondary">
    <div class="acc-item py-8 border-b-[1px] border-secondary last:border-none" *ngFor="let faq of faqs">
      <div class="text-xl flex justify-between items-center leading-6 font-medium cursor-pointer"
           (click)="toggleExpand(faq.id)">
        <div class="py-2">{{ faq.title }}</div>
        @if (isExpanded(faq.id)) {
          <div class="bg-[#F2F3F5] rounded-[10px]">
            <app-ui-svg-icon path="./assets/icons/btn-icons.svg#faq_minus" svgClass="w-10 h-10"></app-ui-svg-icon>
          </div>

        } @else {
          <div class="bg-[#F2F3F5] rounded-[10px]">
            <app-ui-svg-icon path="./assets/icons/btn-icons.svg#faq_plus" svgClass="w-10 h-10"></app-ui-svg-icon>
          </div>
        }
      </div>

      <div
        class="transition-all  overflow-hidden"
        [class.max-h-0]="!isExpanded(faq.id)"
        [class.max-h-full]="isExpanded(faq.id)"
      >
        <div class="p-4  rounded mt-2">
<p class="text-secondary font-normal leading-5 text-sm">{{faq.answer.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
