
<div class="relative">
  <!-- #region BACK -->
  <div class="flex flex-col">
    <div (click)="this.router.navigate(['/payment'])" class="cursor-pointer gap-1 mb-6 flex items-center">
      <img [src]='theme.isDark() ? "./assets/new-icons/back-icon-white.svg" : "./assets/new-icons/back-icon.svg"'
           [width]="12" [height]="12" alt="">
      <span class="text-[16px] text-custom-primary">{{'templates.back' | translate}}</span>
    </div>
    <div class="text-custom-primary mb-5 text-[28px] font-bold">{{ title | translate }}</div>
  </div>
  <!-- #endregion BACK -->
  <!-- #region UPLOAD DOWNLOAD -->
    <div class="flex gap-10 items-center">
         <app-mass-payment-file-upload (fileSelected)="onFileUploaded($event)"></app-mass-payment-file-upload>
        <a  href="https://filecorp-dev.hamkorbank.uz/static/templates/Template_mass_payments.xls" class="flex flex-col items-center space-y-2 cursor-pointer">
            <div
              class="w-[56px] h-[56px] p-2 flex bg-surface-2 justify-center items-center gap-2.5 border border-custom-soft-200 rounded-full">
              <img src="./assets/new-icons/file-05.svg" alt="action">
            </div>
            <div class="text-custom-primary text-[14px] leading-4  font-semibold">
            {{'new_third.download_template' | translate}}
            </div>
          </a>
    </div>
  <!-- #endregion UPLOAD DOWNLOAD -->

    <!-- #region Table -->
    <div class="mt-5">
        <app-mass-payment-table (fileName)="downloadFile($event)"></app-mass-payment-table>
    </div>
    <!-- #endregion TABLE -->

    <!-- <span></span> -->
   
</div>

