<div
  class="h-full flex flex-col bg-surface-2 rounded-2xl text-custom-primary border border-custom-border overflow-hidden">

  <header class="flex justify-between pt-6 pb-2 px-6">
    <h1 class="justify-center  text-xl font-semibold leading-loose">
      Детали неотложки 
    </h1>
    <div class="bg-surface-1 h-8 w-8 rounded-md flex items-center justify-center">
      <img (click)="closeDialog()" src="assets/new-icons/close.svg" alt="close" />
    </div>
  </header>
  <mat-divider class="bg-custom-border" />


  <div class="h-full flex-1 overflow-y-auto">
    <!-- Шапка страницы -->
    <div class="flex flex-col gap-y-4 py-2">
      <div class="flex flex-col ">
        <div class="flex flex-col px-5 space-y-3 mb-3">
          <div class="whitespace-nowrap">
            <span class="font-bold leading-[40px] text-[32px] text-custom-primary">
              {{ formatMoney(data.sumNeed / 100).formattedInteger}}</span>
            <span class="text-[32px] leading-[40px] font-medium text-custom-secondary">
              .{{ formatMoney(data.sumNeed / 100).decimal}} UZS</span>
          </div>
          <div class="text-custom-secondary leading-5 text-sm font-normal flex space-x-2 items-center">
            <span>
              Номер документа неотложки : {{ data.docNum}} От {{ data.dateAct}}</span>
          </div>
        </div>
      </div>


      <mat-divider class="bg-custom-border" />
      <!-- Данные неотложки -->
      
      <div class="px-5 ">

      
      <div class="mt-3 flex justify-between items-center">
        <div class="leading-6 font-semibold text-base text-custom-primary">
          {{"Данные неотложки" | translate}}
        </div>
        <div class="flex space-x-1 items-center cursor-pointer select-none" (click)="copyAll()" role="button"
          tabindex="0">
          <span><img src="assets/new-icons/copy.svg" alt="copy" /></span>
          <span class="leading-5 text-sm font-medium text-custom-secondary">
            {{"cardFileTwo.copy_all" | translate}}
          </span>
        </div>
      </div>

    
         <div class="flex items-center justify-between py-2">
          <div class="flex-1">
            <div class="text-custom-secondary text-sm">
               {{"Счет клиента" | translate}}
            </div>
            <div class="text-base text-custom-primary break-words">
             {{ data?.clAcc }}
            </div>
          </div>

          <button class="ml-3 p-2" (click)="copySingle(data?.clAcc)" type="button">
            <img src="assets/new-icons/copy.svg" alt="copy" />
          </button>
        </div>


        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Дата завершения" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data?.dateDeact }}
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Дата изменения" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data?.dateCorrect }}
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Накопленная сумма" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
             <span class="text-custom-primary">
              {{ formatMoney(data?.sumNeedPay / 100).formattedInteger}}</span>
            <span class="text-custom-secondary">
              .{{ formatMoney(data?.sumNeedPay / 100).decimal}} UZS</span>
          </div>
        </div>

        
        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Выплаченная сумма" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
             <span class="text-custom-primary">
              {{ formatMoney(data?.sumNeedPaid / 100).formattedInteger}}</span>
            <span class="text-custom-secondary">
              .{{ formatMoney(data?.sumNeedPaid / 100).decimal}} UZS</span>
          </div>
        </div>


        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Резерв за день" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
             <span class="text-custom-primary">
              {{ formatMoney(data?.sumNeedDay / 100).formattedInteger}}</span>
            <span class="text-custom-secondary">
              .{{ formatMoney(data?.sumNeedDay / 100).decimal}} UZS</span>
          </div>
        </div>


        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Непроведенная сумма" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
             <span class="text-custom-primary">
              {{ formatMoney(data?.sumNeedUnl / 100).formattedInteger}}</span>
            <span class="text-custom-secondary">
              .{{ formatMoney(data?.sumNeedUnl / 100).decimal}} UZS</span>
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Доступная сумма неотложки" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
             <span class="text-custom-primary">
              {{ formatMoney(data?.issue / 100).formattedInteger}}</span>
            <span class="text-custom-secondary">
              .{{ formatMoney(data?.issue / 100).decimal}} UZS</span>
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Назначение неотложки" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data?.payPurpose }}
          </div>
        </div>
   </div>
    </div>
  </div>
</div>