<div class="p-6 bg-white rounded-xl h-full flex flex-col gap-y-4 relative">
  <p class="text-2xl font-medium leading-6">Транзакции</p>

    <div class="flex justify-end items-center gap-4">
      <div>
        <mat-form-field>
          <mat-label>Введите диапазон дат</mat-label>
          <mat-date-range-input [formGroup]="dateForm" [rangePicker]="picker">
            <input matStartDate formControlName="startDate" placeholder="Start date">
            <input matEndDate formControlName="endDate" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if (dateForm.controls['startDate'].hasError('matStartDateInvalid')) {
            <mat-error>Invalid start date</mat-error>
          }
          @if (dateForm.controls['endDate'].hasError('matEndDateInvalid')) {
            <mat-error>Invalid end date</mat-error>
          }
        </mat-form-field>
      </div>
        <div matTooltip="Показать" matTooltipPosition="above">
          <button (click)="searchWithDate()" mat-icon-button><mat-icon>search</mat-icon></button>
        </div>
      <div matTooltip="Обновить" matTooltipPosition="above">
        <button (click)="clearFilter()" mat-icon-button><mat-icon>update</mat-icon></button>
      </div>
    </div>
      <div class="p-4 border-[1px] border-[#EFF0F2] rounded-xl mt-4 w-full overflow-x-scroll">
        <table class="w-full text-left salary-table">
          <thead class="text-sm">
          <tr class="border-b">
            <th scope="col">Дата</th>
            <th scope="col">Мерчант</th>
            <th scope="col">Тип операции</th>
            <th scope="col">Валюта</th>
            <th scope="col">Сумма</th>
          </tr>
          </thead>
          <tbody class="text-[#5B5B5B]">
            @for (account of transactionList; track account) {
              <tr class="border-b border-b-border_secondary last:border-none">
                <td>{{ account.date }} {{ account.time }}</td>
                <td><span class="px-2">{{ account.merchantName }}</span></td>
                <td>{{ account.operationType }}</td>
                <td>{{ account.amountScale.currency }}</td>
                <td>{{ account.amountScale.amount / 100 |mask:'separator' }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      @if (isFetching) {
        <div>
          @for (item of [1, 2]; track item) {
            <div class="mb-4">
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
            </div>
          }
        </div>
      }

    <mat-paginator class="ml-auto"
                   [length]="transactionList.length"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 15, 20]"
                   showFirstLastButtons
                   (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>



</div>
