@import 'mixins';

.themeMixin({
    :host {
        .row {
            p {
                color: @text-color-secondary;
            }
        }
    }
});

.padding {
  padding: 0;
}

.step {
  margin-bottom: 32px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;

  .media(@media-sm, {
        grid-template-columns: 1fr;
    });

  .row {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    h4 {
      margin-bottom: 4px;
    }
  }

  .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }
}
