<ng-container *transloco="let t">
  <cf-card [title]="t('prop.finances')" [showSpace]="true" class="bordered">
    <cf-steps [stepsLength]="2" [currentStep]="2" class="step" />

    <cf-card [title]="t('prop.finance_info')" [showSpace]="true" class="padding">
      <div actions>
        <button nz-button nzType="default" nzSize="default" nzGhost (click)="add.emit()">
          <strong>{{t('action.add')}}</strong>

          <nz-icon nzType="plus" class="primary" />
        </button>
      </div>

      <div class="list">
        @for (item of items(); track $index) {
        <cf-finance-info-item [item]="item" (edit)="edit.emit($index)" />
        } @empty {
        <div class="empty">
          <h3 nz-typography>{{t('prop.empty_finance_info')}}</h3>
          <p>{{t('prop.add_finance_info')}}</p>
        </div>
        }
      </div>
    </cf-card>
  </cf-card>
</ng-container>
