<div class="bg-surface-2 rounded-2xl p-9 pt-4">
  <div class="flex justify-end">
    <div
      mat-dialog-close
      class="justify-center flex items-center rounded-full h-8 w-8 p-[6px] bg-surface-1 cursor-pointer">
      <img src="assets/new-icons/close.svg">
    </div>
  </div>
  <div class="text-custom-primary text-[26px] font-bold mb-[26px] mt-[28px] leading-8">Выберите договор</div>

  <div class="flex flex-col gap-2">
    @for (group of data.content; track group.contractNumber) {
      <div
        class="flex items-center gap-2.5 bg-surface-1 rounded-[20px]  px-4 py-3 cursor-pointer"
        mat-dialog-close
        [routerLink]="['/payroll-project/statements/create']"
        [queryParams]="{
          contractNumber: group.contractNumber,
          cardType: group.type,
          count: group.count,
          transitAccount: group.transitAccount,
          isKartoteka: data.hasKartoteka ? 'isKartoteka' : undefined
        }">
        <div class="w-12 h-12 p-3.5 bg-surface-2 border border-custom-border rounded-2xl inline-flex justify-center items-center gap-3.5">
          <div class="w-5 h-5 relative">
            @if (group.type === 'UZCARD') {
              <img src="assets/new-icons/uzcard-1.svg" alt="#">
            } @else {
              <img src="assets/svg/humo-logo.svg" alt="#">
            }
          </div>
        </div>
        <div class="flex flex-col">
          <div class="self-stretch justify-start text-custom-primary font-medium">
            {{ group.type }}
          </div>
          <div class="justify-start text-custom-secondary text-sm  leading-[20px]">№ {{group.contractNumber}}</div>
        </div>

        <div class="flex items-center bg-surface-2 rounded-[10px] p-1.5 w-[70px] ml-auto">
          <app-icon icon="users01" size="16" svgClass="fill-custom-muted"></app-icon>

          <div class="flex-1 text-right text-xs text-custom-primary font-medium">{{ group.count }}</div>
        </div>
      </div>
    }
  </div>
</div>
