<div class="relative w-[540px] h-[380px] overflow-hidden py-10 bg-[#00A38D] px-10 z-50 rounded-[42px] flex flex-col gap-2 setting-dark-light-box border border-[#EBEBEB]">
  <div class="flex justify-end z-20 cursor-pointer" [style.opacity]="data.type !== 'password' ? 1 : 0">
<!--    <img src="./assets/new-icons/close-filled.svg" (click)=" this.close()" alt="">-->
    <span class="dark-box bg-[#F5F5F5] rounded-[6px] p-[6px] dark:bg-[#1C1C1C]" (click)="this.close()">
      <span class="need">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"  fill="currentColor">
          <path d="M15.5867 5.5886C15.9121 5.26317 15.9121 4.73553 15.5867 4.41009C15.2612 4.08466 14.7336 4.08466 14.4081 4.41009L9.9974 8.82084L5.58665 4.41009C5.26121 4.08466 4.73358 4.08466 4.40814 4.41009C4.0827 4.73553 4.0827 5.26317 4.40814 5.5886L8.81888 9.99935L4.40814 14.4101C4.0827 14.7355 4.0827 15.2632 4.40814 15.5886C4.73358 15.914 5.26121 15.914 5.58665 15.5886L9.9974 11.1779L14.4081 15.5886C14.7336 15.914 15.2612 15.914 15.5867 15.5886C15.9121 15.2632 15.9121 14.7355 15.5867 14.4101L11.1759 9.99935L15.5867 5.5886Z"  fill="currentColor"/>
         </svg>
      </span>

    </span>
  </div>
  <div class="flex flex-1 flex-col mb-8">
    <h3 class="text-white text-[38px] font-bold leading-10"> {{'settings.success' | translate}}</h3>
<!--    <p class="text-[#99D1C9] text-[20px] font-medium" *ngIf="data.type !== 'password' && !data.action">{{ this.data?.windowType === 'TRANSACTION' ? 'Перевод на счет' : this.data.windowType === 'BUDGET' ? 'В бюджет' : this.data.windowType === 'BUDGET_INCOME' ? 'В казначейство' : this.data.windowType === 'CARD' ?  'На карту' : this.data.windowType === 'CARD_CORPORATE' ? 'Пополнение карп. карты' : this.data.windowType === 'USER' ? 'Новый пользователь получил уведомление по SMS или email' :  'Снятие с корп. карты' }}</p>-->
    @if (this.data?.windowType === 'USER' &&  this?.data?.actionType === 'Create') {
      <p class="text-[#99D1C9] text-[20px] font-medium" >Выдача доступа успешно завершена. На номер телефона/email отправлена ссылка для авторизации в Hamkor Biznes</p>
    } @else if (this.data?.windowType === 'USER' &&  this?.data?.actionType === 'ChangeRole'){
      <p class="text-[#99D1C9] text-[20px] font-medium" >{{'new.permissions_updated_successfully' | translate}}</p>
    } @else if (this.data?.windowType === 'USER' &&  this?.data?.actionType === 'Delete'){
      <p class="text-[#99D1C9] text-[20px] font-medium" >Запись успешна удалена</p>
    }
  </div>
  <div class="mb-8" *ngIf="data.type !== 'password' && !data.action && data.type !== 'user-process'">
    <p class="text-[18px] text-white font-normal">{{'createPayment.recipient' | translate}}: {{ this.data?.recipient?.name }}</p>
    <h3 class="text-white text-[30px] font-bold">{{ ((data?.saldo?.amount ?? 0) / 100).toFixed(2) | mask:'separator.2'  }} UZS</h3>
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-4 opacity-0">
      <img src="./assets/icons/info.svg" alt="">
    </div>
    <button *ngIf="data.type !== 'password'" (click)="closeAfterSign()" class="bg-[#ffffff] outline-none  z-20 cursor-pointer w-[110px] h-[48px] text-black   rounded-[12px]"> {{'new.close' | translate}}</button>
    <button *ngIf="data.type === 'password'" (click)="router.navigate(['/auth']); this.close()" class="bg-white outline-none z-20 cursor-pointer w-[220px] h-[48px] text-black rounded-[12px]">Перейти к авторизации</button>
  </div>
  <img class="absolute z-0 right-0 top-0" src="./assets/new-icons/success-logo-white.svg" alt="">
</div>
