  <form [formGroup]="templateForm" class="h-full w-full">
    <div (click)="openSelect.set(false)" *ngIf="this.openSelect()"
         class="z-10 w-screen h-screen fixed top-0 left-0 right-0 bottom-0"></div>
    <div class="bg-surface-3 rounded-[42px] relative shadow-lg w-full max-w-lg mx-4 px-9 pb-9 pt-18"
         (click)="$event.stopPropagation()">
      <img (click)="dialog.close();"
           class="absolute cursor-pointer w-[15px] h-[15px] top-[30px] right-[25px]"
           src="./assets/new-icons/close.svg"
           alt="">
      <div class="flex justify-center flex-col items-start py-4 mt-8">
        <h3 class="text-[32px] text-[#00A38D]  font-bold">{{ 'createPayment.save_template' | translate }}</h3>
        <span
          class="text-custom-muted text-[16px]">{{ 'new.once_saved_this_template_will_appear_in_the_templa' | translate }}</span>
      </div>

      <div class="flex flex-col gap-4 items-center text-center">
        <div class="relative w-full flex flex-col gap-1">
          <input
            [matMenuTriggerFor]="officeMenu"
            formControlName="officeName"
            readonly
            type="text"
            placeholder=" "
            [ngClass]="{
      'border-red-500':
        templateForm.get('officeId')?.invalid &&
        templateForm.get('officeId')?.touched
    }"
            class="peer relative border pt-4  cursor-pointer focus:border-[#008C79]
          border-custom-border bg-surface-2 px-4 w-full text-custom-primary
          placeholder:text-[14px] placeholder:text-custom-muted placeholder:font-medium
          rounded-[16px] h-[56px] outline-none"
          />

          <span
            class="absolute pointer-events-none left-[15px] text-custom-muted peer-placeholder-shown:font-medium peer-focus:font-normal transition-all
           peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-[14px]
           peer-focus:top-[8px] peer-focus:-translate-y-0 peer-focus:text-[12px]
           top-[8px] text-[12px]">
   Выберите офис
  </span>

          <img
            src="./assets/icons/down.png"
            alt=""
            class="absolute bg-surface-4 right-5 top-[25px] text-[14px] text-[#9799A1] font-normal"
          />
          <span  *ngIf="templateForm.get('officeId')?.invalid &&
        templateForm.get('officeId')?.touched"
                 class="absolute pointer-events-none bottom-[-18px] text-[12px] left-[15px] text-red-500">{{'createPayment.field_required' | translate}}</span>
        </div>
        <div class="flex gap-1 items-center w-full">
          <button type="reset" class="bg-[#F5F5F5] w-full outline-none rounded-[12px] text-[#000000] h-[48px]"
                  (click)="dialog.close()">{{ 'createPayment.cancel' | translate }}
          </button>
          <button type="submit" class="bg-[#00A38D]  w-full outline-none rounded-[12px] text-white h-[48px]"
                  (click)="formSubmit()">{{ 'createPayment.save' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>

  <mat-menu #officeMenu="matMenu" xPosition="after" class="!max-w-[440px] !min-w-[440px] mt-2">
    @for (office of officeList(); track office.name) {
      <div class="flex cursor-pointer justify-between items-center"
           (click)="this.templateForm.patchValue({ officeName: office.name, officeId: office.uuid })">
                    <span
                      class="h-[44px]  pointer-events-none text-custom-primary text-[16px] w-full px-3 flex items-center ">{{ office.name }}</span>
        <img class="mx-4" *ngIf="this.templateForm.getRawValue().officeId === office.uuid" src="./assets/new-icons/check.svg" alt="">
      </div>
    }
  </mat-menu>
