<div class="bg-white p-5 rounded flex flex-col gap-y-5 relative">
  <div
    #scrollContainer
    (scroll)="onScroll($event)"
    class="overflow-y-auto max-h-[400px] overflow-x-hidden border p-2.5">
    <div [innerHTML]="convertedHtml"></div>
  </div>


  @if(!isScrolledToBottom) {
    <div
      class="scroll-to-bottom-icon absolute bottom-[100px] right-[30px] opacity-50 hover:opacity-100 bg-[#7C8897] rounded-full p-2 cursor-pointer shadow-md"
      (click)="scrollToBottom()"
    >
      <img ngSrc="./assets/svg/chevron-down.svg" width="20" height="20" alt="chevron" class="rotate-90">
    </div>
  }

  <div class="flex justify-between gap-y-5 border-t pt-2.5">
    <mat-checkbox
      class="example-margin"
      color="primary"
      [disabled]="!isScrolledToBottom"
      [(ngModel)]="checked"
    >Согласен с публичной офертой</mat-checkbox>


    <button
      [disabled]="!checked"
      [ngClass]="{ 'bg-secondary cursor-not-allowed': !checked }"
      class="px-2.5 py-1 rounded-[5px] bg-[#008C79] text-white"
      (click)="update()">Подтвердить</button>
  </div>
</div>
