::ng-deep {
  .fc-col-header-cell-cushion {
    color: rgb(124 136 151);
  }
  .fc-toolbar-title {
    font-weight: normal;
    color: rgb(124 136 151);
    font-size: 24px !important;
    text-transform: capitalize;
  }
  .fc .fc-button-primary:focus {
    box-shadow: none;
  }
  .fc-event-title-container {
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .fc-theme-standard td, .fc-theme-standard th {
    border: none;
  }
  .fc-theme-standard .fc-scrollgrid {
    border: none;
  }
  .fc-event {
    cursor: pointer;
  }
}
