<div class="flex gap-x-5 w-full justify-between" style="min-height: calc(100vh + 700px);">
  <div class="p-6 bg-white rounded-xl h-full flex flex-col flex-grow gap-y-5">
    <app-container-nav [navs]="navs"></app-container-nav>

    <app-container-title [title]="title"></app-container-title>

    <div class="flex gap-x-5 mb-4">
      <form class="flex flex-col !w-full gap-y-5" [formGroup]="swiftForm">

        <mat-form-field class="small w-[155px]" appearance="outline">
          <mat-label>№</mat-label>
          <input
            matInput
            formControlName="docNum"
            placeholder="Введите номер"
          >
        </mat-form-field>

        <div class="text-[20px] font-medium">Информация о плательщике</div>

        <app-account-select
          [showTitle]="false"
          [preSelected]="preSelected"
          [label]="'Счет плательщика'"
          [accounts]="accounts"
          (accountSelected)="selectedSenderAccount($event)"
        ></app-account-select>

        <app-account-requisites [wrapperClass]="'gap-y-[20px]'"></app-account-requisites>

        <div class="flex flex-col gap-y-4">
          <div>32. Сумма платежа</div>
          <div class="grid grid-cols-3 gap-x-4">

            <div>
              <mat-form-field class="small w-full" appearance="outline">
                <mat-label>Сумма платежа</mat-label>
                <input
                  matInput
                  (change)="setReceiverAmount($event)"
                  formControlName="senderAmount32"
                  [maxlength]="19"
                  mask="separator.2"
                  placeholder="Введите сумму"
                  [ngClass]="{
          'border-red-500': swiftForm.get('senderAmount32')?.invalid && swiftForm.get('senderAmount32')?.touched,
          'border-secondary': swiftForm.get('senderAmount32')?.valid || !swiftForm.get('senderAmount32')?.touched
        }"
                >
              </mat-form-field>
            </div>

            <mat-form-field
              appearance="outline" class="small w-full secondary">
              <mat-label>Валюта платежа</mat-label>
              <input
                matInput
                mask="AAA"
                [disabled]="true"
                formControlName="senderCurrency32"
              >
            </mat-form-field>

            <mat-form-field class="small w-full" appearance="outline">
              <input
                matInput
                [matDatepicker]="picker"
                [min]="now"
                formControlName="date32a"
              >
              <mat-datepicker #picker></mat-datepicker>
              <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>
                  <img ngSrc="/assets/svg/calendar-swift.svg" alt="calendar" width="24" height="24" />
                </mat-icon>
              </mat-datepicker-toggle>
            </mat-form-field>
          </div>
        </div>

        <div class="flex flex-col gap-y-4">
          <div>33. Сумма Получения</div>
          <div class="grid grid-cols-3 gap-x-4">

            <mat-form-field class="small w-full" appearance="outline">
              <mat-label>Сумма платежа</mat-label>
              <input
                matInput
                [maxlength]="19"
                formControlName="receiverAmount33"
                mask="separator.2"
                placeholder="Введите сумму"
                [ngClass]="{
          'border-red-500': swiftForm.get('receiverAmount33')?.invalid && swiftForm.get('receiverAmount33')?.touched,
          'border-secondary': swiftForm.get('receiverAmount33')?.valid || !swiftForm.get('receiverAmount33')?.touched
        }"
              >
            </mat-form-field>

            <div>
              <mat-form-field appearance="outline" class="small w-full secondary">
                <mat-label>Код валюты</mat-label>
                <mat-select formControlName="receiverCurrency33">
                  @for(curr of currencies; track curr.code) {
                    <mat-option
                      [value]="curr"
                      (click)="setReceiverCurrency(curr)"
                    >{{ curr.name }}</mat-option>
                  }
                </mat-select>

                <mat-icon matSuffix>
                  <img matSuffix class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" />
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>

        @if(show36b) {
          <div class="flex gap-x-4 items-center">
            <div>36b.</div>

            <mat-form-field appearance="outline" class="small w-full">
              <mat-label>Курс пересчёта</mat-label>
              <input
                matInput
                formControlName="currencyRate"
                mask="separator.4"
                placeholder="Введите курс"
              >
              <mat-icon
                matSuffix
                [matTooltip]="info"
                [matTooltipPosition]="'above'"
              >
                <img ngSrc="./assets/svg/info-primary-circle.svg" alt="info" width="24" height="24" class="min-w-[24px]">
              </mat-icon>
            </mat-form-field>
          </div>
        }


        <div class="flex flex-col gap-y-4">
          <div>50k. Плательщик</div>
          <div class="grid grid-cols-3 gap-x-4">

            <div>
              <mat-form-field class="small w-full" appearance="outline">
                <mat-label>Наименование</mat-label>
                <input
                  matInput
                  alphaNumericSymbolMask
                  [maxlength]="35"
                  formControlName="businessName50"
                  placeholder="Введите отправителя"
                  [ngClass]="{
          'border-red-500': swiftForm.get('senderName')?.invalid && swiftForm.get('senderName')?.touched,
          'border-secondary': swiftForm.get('senderName')?.valid || !swiftForm.get('senderName')?.touched
        }"
                >
              </mat-form-field>
            </div>

            <div class="col-span-2">
              <mat-form-field class="small w-full secondary" appearance="outline">
                <mat-label>Адрес</mat-label>
                <input
                  matInput
                  alphaNumericSymbolMask
                  [maxLength]="140"
                  formControlName="businessAddress50"
                  placeholder="Введите адрес отправителя"
                  [ngClass]="{
                  'border-red-500': swiftForm.get('senderAddress')?.invalid && swiftForm.get('senderAddress')?.touched,
                  'border-secondary': swiftForm.get('senderAddress')?.valid || !swiftForm.get('senderAddress')?.touched
                }"/>
              </mat-form-field>
            </div>

          </div>
        </div>

        <div class="text-[20px] font-medium">Информация о бенефициаре</div>

        <app-swift-correspondent-bank
          [bicValue]="bic56Value"
          [openPanel]="show56"
          [label]="swiftLabel"
          [parentForm]="swiftForm"
          [bicControlName]="'correspondentBank56'"
          [bankAccount]="'bankCorrespondent56Account'"
          [bankName]="'bankCorrespondent56Name'"
          [bankAddress]="'bankCorrespondent56Address'"
        ></app-swift-correspondent-bank>

        <div class="font-medium leading-[20px]">Банк бенефициара</div>
        <app-bank
          [value]="bic57Value"
          [label]="swiftLabel"
          [parentForm]="swiftForm"
          [bicControlName]="'bankBeneficiary57a'"
          [bankAccount]="'bankBeneficiary57Account'"
          [bankName]="'bankBeneficiary57Name'"
          [bankAddress]="'bankBeneficiary57Address'"
          [tabs]="tabs57"
        ></app-bank>

        <div class="flex flex-col gap-y-4">
          <div>59. Бенефициар</div>
          <app-bank
            [bankAccountLabel]="'Номер счета'"
            [parentForm]="swiftForm"
            [bankAccount]="'beneficiary59Account'"
            [bankName]="'beneficiary59Name'"
            [bankAddress]="'beneficiary59Address'"
          ></app-bank>
        </div>

        <div class="flex flex-col gap-y-4">
          <div>70. Назначение платежа</div>
          <mat-form-field class="small h-[108px] w-full" appearance="outline">
            <mat-label>Назначение платежа*</mat-label>
            <textarea
              matInput
              alphaNumericSymbolMask
              formControlName="description70"
              maxlength="210"
              style="resize: none"
              placeholder="Введите назначение"
              [ngClass]="{
                'border-red-500': swiftForm.get('description70')?.invalid && swiftForm.get('description70')?.touched,
                'border-secondary': swiftForm.get('description70')?.valid || !swiftForm.get('description70')?.touched
              }"
            >
            </textarea>
          </mat-form-field>
        </div>

        <div class="font-medium leading-[20px]">71. Комиссия</div>

        <div class="grid grid-cols-2 gap-x-5">
          <mat-form-field class="small w-full" appearance="outline">
            <mat-label>Детали расходов</mat-label>
            <mat-select
              formControlName="ben71"
            >
              @for(ben of bens; track ben) {
                <mat-option [value]="ben">{{ ben }}</mat-option>
              }
            </mat-select>
            <mat-icon matSuffix class="relative -top-[5px]">
              <img matSuffix class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" />
            </mat-icon>
          </mat-form-field>

          @if(swiftForm.getRawValue().ben71 === 'BEN') {
            <mat-form-field class="small w-full" appearance="outline">
              <mat-label>Выберите валюту</mat-label>
              <mat-select
                formControlName="currencyBen71"
              >
                @for(curr of currencies; track curr.code) {
                  <mat-option [value]="curr.code">{{ curr.name }}</mat-option>
                }
              </mat-select>
              <mat-icon matSuffix class="relative -top-[5px]">
                <img matSuffix class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" />
              </mat-icon>
            </mat-form-field>
          }
        </div>

        <div class="flex flex-col gap-y-4">
          <div>72. Особые условия платежа</div>

          <div class="flex flex-col gap-y-5" formArrayName="narrative72">
            @for(narr of swiftForm.controls.narrative72.controls; track $index) {
              <div class="flex gap-x-5" [formGroupName]="$index">
                <mat-form-field
                  class="small w-full flex-grow" appearance="outline"
                  [ngClass]="{
                  'mb-8': ((narr.get('text')?.value?.length ?? 0) >= 35 && focuses[$index]) || narr.get('text')?.hasError('slashError')
                  }"
                >
                  <mat-label>Свободный текст (Narrative)</mat-label>
                  <input
                    matInput
                    formControlName="text"
                    alphaNumericSymbolMask
                    (input)="checkSlashValidation($event, $index)"
                    (focus)="addFocus($index)"
                    (focusout)="removeFocus($index)"
                    [maxlength]="35"
                    placeholder="Введите свободный текст"
                  >

                  <div class="absolute pt-[5px] text-[12px]">
                    @if((narr.get('text')?.value?.length ?? 0) >= 35 && focuses[$index]) {
                      <mat-error>
                        Достигнут лимит символов (максимум 35).
                      </mat-error>
                    }
                    @if(narr.get('text')?.hasError('slashError')) {
                      <mat-error>
                        Текст должен начинаться и заканчиваться на "/".
                      </mat-error>
                    }
                  </div>

                </mat-form-field>

                <button
                  [disabled]="narrativeArr.length >= 4"
                  (click)="addNarrative()"
                  class="p-2 border rounded-[5px] hover:cursor-pointer max-h-[40px]"
                  [ngClass]="{ '!cursor-not-allowed opacity-[50%]': narrativeArr.length >= 4 }"
                >
                  <div class="w-[24px] h-[24px] text-center">+</div>
                </button>

                <button
                  [disabled]="narrativeArr.length <= 1"
                  (click)="removeNarrative($index)"
                  class="p-2 border rounded-[5px] hover:cursor-pointer max-h-[40px]"
                  [ngClass]="{ '!cursor-not-allowed opacity-[50%]': narrativeArr.length <= 1 }"
                >
                  <div class="w-[24px] h-[24px] text-center">-</div>
                </button>
              </div>
            }
          </div>

          <div class="flex flex-col gap-y-5" formArrayName="codeAndDescription72">
            @for(control of swiftForm.controls.codeAndDescription72.value; track $index; let last = $last;) {
              <div class="flex gap-x-5" [formGroupName]="$index">
                <div class="flex-grow flex justify-between gap-x-5">
                  <mat-form-field
                    class="small w-full" appearance="outline">
                    <mat-label>Код особых условий платежа</mat-label>
                    <mat-select formControlName="code">
                      @for(special of speacialCodes; track special) {
                        <mat-option [value]="special">{{ special }}</mat-option>
                      }
                    </mat-select>

                    <mat-icon matSuffix>
                      <img ngSrc="./assets/svg/chevron-down.svg" class="rotate-90" alt="chevron" width="24" height="24" />
                    </mat-icon>
                  </mat-form-field>

                  <mat-form-field class="small w-full" appearance="outline">
                    <mat-label>Свободный текст (Narrative)<span class="text-red-500">*</span></mat-label>
                    <input
                      matInput
                      alphaNumericSymbolMask
                      [maxlength]="140"
                      placeholder="Введите текст"
                      formControlName="description"
                      [ngClass]="{
                    'border-red-500': swiftForm.get('description')?.invalid && swiftForm.get('description')?.touched,
                    'border-secondary': swiftForm.get('description')?.valid || !swiftForm.get('description')?.touched
                  }"
                    >
                  </mat-form-field>
                </div>

                <button
                  [disabled]="$index >= 5 && last"
                  (click)="addCodeAndDescription($index)"
                  class="p-2 border rounded-[5px] hover:cursor-pointer"
                  [ngClass]="{ '!cursor-not-allowed opacity-[50%]': codeControls.length > 5 }"
                >
                  <div class="w-[24px] h-[24px] text-center">+</div>
                </button>

                <button
                  [disabled]="codeControls.length < 2"
                  (click)="removeCodeAndDescription($index)"
                  class="p-2 border rounded-[5px] hover:cursor-pointer"
                  [ngClass]="{ '!cursor-not-allowed opacity-[50%]': codeControls.length < 2 }"
                >
                  <div class="w-[24px] h-[24px] text-center">-</div>
                </button>
              </div>
            }
          </div>
        </div>

        <div class="flex flex-col gap-y-4">
          <div>77. POP код товара/услуги</div>

          <div>
            <app-searchable-select
              class="small w-full"
              [label]="'Код (Code)'"
              [parentForm]="swiftForm"
              controlName="code77"
              [customTriggerTemplate]="triggerTemplate"
              [customOptionTemplate]="optionTemplate"
              [displayOption]="displayOption"
              [options]="popCodes"
              (valueChange)="selectPopCode($event)"
              (inputChange)="getPopCodes($event)"
              (focusin)="getPopCodes()"
            ></app-searchable-select>
          </div>
        </div>

        <div class="flex justify-between items-center">
          @if(!isEdit) {
            <div class="flex gap-4">
              <button
                (click)="send()"
                class="px-5 py-2.5 rounded-[5px] bg-[#264796] text-white leading-[20px]"
              >Создать</button>
            </div>

            <div class="flex gap-x-2.5 items-center">
              <button
                (click)="createTemplateSwift()"
                class="px-5 py-2.5 rounded-[5px] text-sm bg-[#DDECFC] text-[#264796] leading-[20px]"
              >
                Сохранить как шаблон
              </button>
            </div>
          } @else {
            <div class="flex gap-4">
              <button
                (click)="editTemplateSwift()"
                class="px-5 py-2.5 rounded-[5px] bg-[#264796] text-white leading-[20px]"
              >
                Редактировать
              </button>

              <button
                appLocationBack
                class="px-5 py-2.5 rounded-[5px] text-sm bg-[#DDECFC] text-[#264796] leading-[20px]"
              >
                Отмена
              </button>
            </div>
          }

        </div>

      </form>
    </div>
  </div>

  <div class="flex flex-col gap-y-[11px]">
    <app-widgets
      [modes]="templateModes"
      (docDate)="setDocDate($event)"
    ></app-widgets>
  </div>
</div>


<ng-template #triggerTemplate let-selectedValue>
  <div>
    @if (selectedValue) {
      <span>{{ selectedValue.code }}</span>
    } @else {
      <span>Choose an item...</span>
    }
  </div>
</ng-template>

<ng-template #optionTemplate let-option>
  <div>
    <span>{{ option.code }} - {{ option.name }}</span>
  </div>
</ng-template>
