@import 'mixins';
@import 'custom';

.themeMixin({
    :host {
        background: @component-background;

        &.bordered {
          border-color: @border-color;

          &.error {
            border-color: @error-color;
          }
        }

        &.gray {
          background: @component-background-secondary;
        }
    }
});

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: @border-radius-xl;
  padding: 20px;

  &.lg {
    padding: 16px;
    border-radius: @border-radius-lg;
  }

  &.bordered {
    border: 1px solid;

    &.bottom {
      border: none;
      border-bottom: 1px solid;
    }
  }

  .media(@media-sm, {
      padding: 12px 16px;
  });

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    &.space {
      margin-bottom: 16px;
    }

    .link {
      display: flex;
      column-gap: 4px;
      text-align: start;
      white-space: normal;

      nz-icon {
        margin-right: 8px;
      }

      h2 {
        display: inline;
        color: inherit;
      }
    }

    .actions {
      display: flex;
      column-gap: 16px;
      align-items: center;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
