<div class="flex flex-col"
     [ngClass]="{ '!gap-y-2.5': openPanel }"
>
  <label class="flex items-center gap-x-2.5 text-[16px] font-medium select-none" for="check">
    <input
      [(ngModel)]="openPanel"
      class="select-none min-w-4 min-h-4"
      type="checkbox"
      id="check"
    >
    Корреспондент банка бенефициара
  </label>

  <mat-accordion class="accordion">
    <mat-expansion-panel [expanded]="openPanel">
      <app-bank
        [value]="bicValue"
        [label]="label"
        [parentForm]="parentForm"
        [bicControlName]="bicControlName"
        [bankAccount]="bankAccount"
        [bankName]="bankName"
        [bankAddress]="bankAddress"
      ></app-bank>
    </mat-expansion-panel>
  </mat-accordion>
</div>
