<div class="relative flex flex-col gap-1 " [style.width]="width">
  <div
    class="flex items-center rounded-[16px] px-4 border-[#EBEBEB]  bg-[#F7F7F7] cursor-pointer transition-all duration-150 border dark:!bg-[#181818] dark:!border dark:!border-[#333333] dark:text-white"
    [style.height]="height"
    [style.borderColor]="borderColor"
    (click)="toggleDropdown()"
  >
    <img *ngIf="icon" [src]="icon" alt="icon" class="w-5 h-5 mr-2 opacity-70" />
    <span
      class="flex-1 text-[16px] truncate dark:text-white"
      [ngClass]="{ 'text-[#A3A3A3]': !selectedItem, 'text-[#374151]': selectedItem }"
    >
       <p *ngIf="selectedItem" class="text-[12px] text-[#A3A3A3]">{{placeholder}}</p>
      <p class="font-medium">{{ (selectedItem ? selectedItem[displayField] : placeholder) | translate }}</p>
    </span>
    <img
      src="./assets/icons/down.png"
      class=" transition-transform"
      [style.transform]="open ? 'rotate(180deg)' : 'rotate(0deg)'"
      alt="arrow"
    />
  </div>

  <span
    *ngIf="isInvalid"
    class="text-red-500 text-[12px] absolute bottom-[-18px] left-[15px]"
  >
    {{ errorMessage }}
  </span>

  <div
    *ngIf="open"
    @dropdownAnimation
    class="dark:border dark:border-[#333333] absolute left-0 mt-[60px] w-full bg-white rounded-[16px] shadow-[0_5px_20px_0_#00000040] max-h-[220px] overflow-auto z-50"
  >
    <div
      *ngFor="let item of data"
      class="px-4 h-[44px] flex items-center cursor-pointer hover:bg-[#F8F9FB] dark:!bg-[#262626] dark:border dark:border-[#333333] dark:text-white"
      (click)="selectItem(item)"
    >
      {{ item[displayField] | translate }}
    </div>
  </div>
</div>
