<form [formGroup]="filterForm" class="flex flex-col gap-y-[15px]">
  @if(!toggleActive) {
    <ng-container *ngTemplateOutlet="header"></ng-container>
  }

  @if(getActiveFilters().length) {
    <div class="flex flex-wrap gap-2">
      <mat-chip-set>
        @for(f of getActiveFilters(); track f) {
          <mat-chip
            [removable]="true"
            (removed)="removeFilter(f.key)"
            class="!bg-[#DDECFC]"
          >
            <span class="text-[#264796]">{{ formatFilter(f.key, f.value) }}</span>
            <button matChipRemove>
              <img ngSrc="./assets/svg/close-active.svg" alt="close" width="24" height="24">
            </button>
          </mat-chip>
        }
      </mat-chip-set>
    </div>
  }

  <mat-accordion class="accordion">
    <mat-expansion-panel [expanded]="panelState">
      <div class="flex flex-col gap-y-[15px]">
        <div class="w-full border-t border-[#DBDBDB]"></div>

        <div class="grid grid-cols-2 gap-x-5">
          <app-account-select
            class="w-full"
            [label]="'Выберите счет'"
            [accounts]="accounts"
            [showTitle]="false"
            (accountSelected)="setFormFields($event)"
          ></app-account-select>

          <mat-form-field class="small w-full" appearance="outline">
            <mat-label>Поиск</mat-label>
            <input
              matInput
              formControlName="searchText"
            >
            <mat-icon matSuffix>
              <img ngSrc="./assets/svg/search.svg" alt="search" width="24" height="24">
            </mat-icon>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-x-5">
          <div class="flex gap-x-2 items-center">
            <mat-form-field class="small w-full" appearance="outline">
              <mat-label>Дата от</mat-label>
              <input
                matInput
                [matDatepicker]="pickerFrom"
                formControlName="dateFrom"
              >
              <mat-datepicker #pickerFrom></mat-datepicker>
              <mat-datepicker-toggle matIconSuffix [for]="pickerFrom">
                <mat-icon matDatepickerToggleIcon>
                  <img ngSrc="/assets/svg/calendar-swift.svg" alt="calendar" width="24" height="24" />
                </mat-icon>
              </mat-datepicker-toggle>
            </mat-form-field>

            <span>-</span>

            <mat-form-field class="small w-full" appearance="outline">
              <mat-label>Дата до</mat-label>
              <input
                matInput
                [matDatepicker]="pickerTo"
                formControlName="dateTo"
              >
              <mat-datepicker #pickerTo></mat-datepicker>
              <mat-datepicker-toggle matIconSuffix [for]="pickerTo">
                <mat-icon matDatepickerToggleIcon>
                  <img ngSrc="/assets/svg/calendar-swift.svg" alt="calendar" width="24" height="24" />
                </mat-icon>
              </mat-datepicker-toggle>
            </mat-form-field>
          </div>

          <div class="flex gap-x-2 items-center">
            <mat-form-field class="small w-full" appearance="outline">
              <mat-label>Сумма от</mat-label>
              <input
                matInput
                mask="separator.2"
                formControlName="amountFrom"
              >
            </mat-form-field>

            <span>-</span>

            <mat-form-field class="small w-full" appearance="outline">
              <mat-label>Сумма от</mat-label>
              <input
                matInput
                mask="separator.2"
                formControlName="amountTo"
              >
            </mat-form-field>
          </div>
        </div>

        <div class="grid grid-cols-2 gap-x-5">
          <mat-form-field class="small w-full" appearance="outline">
            <mat-label>Контрагент</mat-label>
            <input
              matInput
              formControlName="receiver"
            >
          </mat-form-field>

          <div class="grid grid-cols-2 gap-x-5">
            <mat-form-field class="small w-full" appearance="outline">
              <mat-label>Номер документа</mat-label>
              <input
                matInput
                formControlName="docNum"
              >
            </mat-form-field>

            <mat-form-field class="small w-full" appearance="outline">
              <mat-label>Валюта</mat-label>
              <mat-select formControlName="currency">
                @for(curr of currencies; track curr) {
                  <mat-option [value]="curr.code">{{ curr.name }}</mat-option>
                }
              </mat-select>
              <mat-icon matSuffix>
                <img ngSrc="./assets/svg/chevron-down.svg" class="rotate-90" alt="chevron" width="24" height="24">
              </mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="flex flex-row-reverse gap-x-5">
          <button (click)="search()" class="px-5 py-2.5 rounded-[5px] text-center w-[220px] bg-[#008C79] text-white">Искать</button>

          <button (click)="clearFilter()" type="submit" class="px-5 py-2.5 rounded-[5px] text-center w-[220px] bg-[#EFF4F9]">Сбросить</button>
        </div>
        <div class="w-full border-t border-[#DBDBDB]"></div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<ng-template #header>
  <app-filter-button
    (click)="panelState = !panelState"
    [classes]="'bg-[#264796] text-white'"
    [src]="'./assets/svg/filter-white.svg'"
  ></app-filter-button>
</ng-template>
