@let tBackLink = backLink();
@let tTitle = title();

<div class="pt-6">
  @if (tBackLink) {
    <a class="inline-flex justify-start items-center gap-2 select-none" [routerLink]="tBackLink">
      <app-icon icon="arrowNarrowLeft" size="24" svgClass="fill-custom-primary"></app-icon>

      <span class="font-medium text-custom-primary">Назад</span>
    </a>
  }

  @if (tTitle) {
    <h1 class="font-bold text-[28px] text-custom-primary leading-none" [class.mt-10]="!!tBackLink">{{ tTitle }}</h1>
  }

  <div class="mt-10"><ng-content></ng-content></div>
</div>
