<div class="relative inline-block text-left">
  <button
    class="inline-flex justify-center bg-[#DDECFC] text-[#264796] w-full rounded-md border border-[#EFF4F9] shadow-sm px-4 py-2 text-sm"
    (click)="toggleDropdown()"
  >
    Ещё действия
    <svg
      class="-mr-1 ml-2 h-5 w-5"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M5.293 9.293a1 1 0 011.414 0L10 12.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
  </button>

  <div
    class="origin-top-right absolute bottom-10 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
    *ngIf="dropdownOpen"
  >
    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
      <button
        *ngFor="let action of actions"
        (click)="onActionSelect(action)"
        [disabled]="action.disabled"
        class="block px-4 py-2 text-sm w-full text-left hover:bg-gray-100"
        [ngClass]="{'text-gray-400 cursor-not-allowed': action.disabled, 'text-gray-700': !action.disabled}"
        [attr.aria-disabled]="action.disabled ? 'true' : 'false'"
        role="menuitem"
      >
        {{ action.name }}
      </button>
    </div>
  </div>
</div>
