<div class="flex flex-col bg-[#FFF] h-full overflow-y-auto pb-5">
  <div class="flex items-center justify-between h-[67px] py-6 px-8 border-b ">
    <h3 class="text-[#171717] text-[18px] font-semibold">В ожидании</h3>

    <div class="bg-[#F5F5F5] p-2 rounded-[10px]">
      <img class="w-[12px] h-[12px]" src="./assets/new-icons/close.svg" alt="">
    </div>
  </div>
  <div class="flex flex-col items-start px-5 mt-4 gap-4">
    @for (item of kartoteka2Store.reservationContent().slice(1); track item.purposeName) {
      @if (item.sumReserved > 0) {
        <div class="flex flex-col text-center w-full p-4 rounded-[16px] h-[150px] bg-[#F7F7F7]">
          <div class="flex item-center text-center gap-2 mb-2">
            <span class="w-[8px] h-[8px] bg-[#00A38D] my-auto rounded-full"></span>
            <div class="text-left shrink-0 whitespace-nowrap">
      <span class="font-semibold text-[14px] text-custom-primary">
        {{ formatMoney(item.BronToPay / 100).formattedInteger }}
      </span>
              <span class="font-bold text-[14px] text-custom-secondary">
        .{{ formatMoney(item.BronToPay / 100).decimal }} UZS
      </span>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex justify-between items-center">
              <h3 class="text-[12px] text-[#5c5c5c] font-semibold">Доступно</h3>
            </div>
            <div class="relative w-full rounded-full overflow-hidden"
                 style="height: 8px; background: rgba(235, 235, 235, 1);">

              <div class="absolute top-0 left-0 h-full transition-all duration-500"
                   [style.width.%]="(item.BronToPay / item.sumDoc) * 100"
                   style="background: linear-gradient(270.04deg, #12BCA5 0%, #008C79 99.21%);">
              </div>

              <div class="absolute left-0 transition-all duration-500"
                   [style.width.%]="((item.sumReserved * 100) / item.sumDoc)"
                   style="
         height: 8px;
         top: 50%;
         transform: translateY(-50%);
         background: linear-gradient(270.04deg, #12BCA5 0%, #008C79 99.21%);
         opacity: 0.5;
       ">
              </div>
            </div>
            <div class="text-[12px] text-[#4F4F4F] flex flex-wrap items-center gap-1">
              <span class="font-semibold text-custom-primary">
        {{ formatMoney(item.sumReserved / 100).formattedInteger }}.{{ formatMoney(item.sumReserved / 100).decimal }}
      </span>
              <span class="text-custom-secondary">/</span>
              <span class="font-semibold text-custom-primary py-1">
        {{ formatMoney(item.sumDoc / 100).formattedInteger }}.{{ formatMoney(item.sumDoc / 100).decimal }}
      </span>
              <span class="text-custom-secondary text-[10px] py-1 font-semibold">UZS</span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="flex justify-between items-center mt-2">
            <span class="text-[#A3A3A3] text-[12px] font-medium">Дата</span>
            <p class="text-[#171717] text-[14px] font-medium">{{ formatDate(item.docDate) }}</p>
          </div>
        </div>
      } @else {
        <div class="flex flex-col text-center w-full p-4 rounded-[16px] h-[112px] bg-[#F7F7F7]">
          <div class="flex mb-2 justify-between items-start">
            <div class="flex flex-col text-start leading-[20px]">
              <div class="text-left shrink-0 whitespace-nowrap">
      <span class="font-semibold text-[14px] text-custom-primary">
        {{ formatMoney(item.sumReserved / 100).formattedInteger }}
      </span>
                <span class="font-bold text-[14px] text-custom-secondary">
        .{{ formatMoney(item.sumReserved / 100).decimal }} UZS
      </span>
              </div>
              <span class="text-[#5C5C5C] text-[12px] font-medium"> Сумма резерва</span>
            </div>
            <img src="./assets/new-icons/kartoteka-2.svg" alt="">
          </div>
          <mat-divider></mat-divider>
          <div class="flex justify-between items-center mt-2">
            <span class="text-[#A3A3A3] text-[12px] font-medium">Дата</span>
            <p class="text-[#171717] text-[14px] font-medium">{{ formatDate(item.docDate) }}</p>
          </div>
        </div>
      }
    }
  </div>
</div>
