<form [formGroup]="filterForm" class="flex flex-col gap-y-[15px] accordion">
  <div class="w-full flex flex-wrap items-center gap-3 p-2">
    <!-- Поиск -->
    <div class="relative w-[300px] border bg-surface-2 border-custom-border rounded-[10px] ">
            <span class="absolute inset-y-0 bg-surface-2 left-3 flex items-center ">
                <img ngSrc="./assets/new-icons/search-input.svg" alt="Значок поиска" width="18" height="18">
            </span>

      <input
        type="text"
        [placeholder]="'accounts.search' | translate"
        formControlName="searchText"
        class="w-full pl-10 pr-4 py-2 bg-surface-2 rounded-[10px] focus:outline-none  text-sm focus:ring-1 ring-[#00A38D]" />

    </div>

    <!-- Период -->
    <div #periodTrigger="matMenuTrigger" [ngClass]="{
        '!border-[#00A38D]':
          periodTrigger.menuOpen ||
          this.filterForm.value?.fromDate || this.filterForm.value.toDate}"
         class="border relative cursor-pointer border-custom-border rounded-[10px]" [matMenuTriggerFor]="periodMenu">
      <div class="flex items-center p-2 gap-3 h-[35px]">
        <p>{{'accounts.period' | translate}}</p>
        <mat-chip [removable]="true" *ngIf="this.filterForm.value?.fromDate && this.filterForm.value.toDate"
                  (removed)="removeFilter('fromDate'); removeFilter('toDate')" class="!bg-[#F4F4F4] !h-[32px]">
          <div class="flex items-center gap-2"></div>
          <span *ngIf="this.filterForm.value?.fromDate && this.filterForm.value.toDate"
                class=" text-[12px] font-medium">
                        {{ detectPeriodLabel(this.filterForm.value?.fromDate, this.filterForm.value.toDate)}}
                    </span>
          <button matChipRemove>
            <img ngSrc="./assets/svg/close.svg" alt="close" width="48" height="48" />
          </button>
        </mat-chip>
        <img src="./assets/new-icons/calendar-icon.svg" alt="" />

        <mat-date-range-input class="absolute inset-0 w-[100px] opacity-0 pointer-events-none" [rangePicker]="picker">
          <input matStartDate [value]="filterForm.get('fromDate')?.value"  (dateChange)="filterForm.patchValue({ fromDate: $event.value })"   readonly
                 matInput class="peer" />
          <input matEndDate [value]="filterForm.get('toDate')?.value"    (dateChange)="filterForm.patchValue({ toDate: $event.value })"  readonly matInput
                 class="peer" />
        </mat-date-range-input>

        <mat-date-range-picker #picker>
          <mat-date-range-picker-actions>
            <div class="w-full px-2 py-1">
              <div class="flex w-full gap-3">
                <button class="h-[32px] bg-[#F5F5F5] text-[#171717] rounded-xl w-1/2 text-xs" matDateRangePickerCancel>Отменить</button>
                <button class="h-[32px] bg-[#00A38D] text-[#FFFFFF] rounded-xl w-1/2 text-xs" matDateRangePickerApply>Применить</button>
              </div>
            </div>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </div>



      <mat-menu #periodMenu="matMenu" xPosition="after" class="menu-actions bg-surface-2 mt-2">
        <div class="flex flex-col items-center border-custom-border text-custom-primary gap-1 p-[4px] ">
          <div (click)="setDate('today')"
               class="flex cursor-pointer text-start items-center hover:bg-surface-1 rounded-[12px] gap-2 py-[4px] px-[6px]">
            <span class="w-[120px] text-[14px]  font-medium"> {{'accounts.today' | translate}}</span>
            <img src="./assets/new-icons/arrow-right-period.svg" class="opacity-0" alt="" />
          </div>
          <div (click)="setDate('yesterday')"
               class="flex cursor-pointer items-center hover:bg-surface-1 rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
            <span class="w-[120px] text-[14px]  font-medium">{{'salaryStatements.yesterday' | translate}}</span>
            <img src="./assets/new-icons/arrow-right-period.svg" class="opacity-0" alt="" />
          </div>
          <div (click)="setDate('week')"
               class="flex cursor-pointer items-center hover:bg-surface-1 rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
            <span class="w-[120px] text-[14px]  font-medium">{{'accounts.week' | translate}}</span>
            <img src="./assets/new-icons/arrow-right-period.svg" class="opacity-0" alt="" />
          </div>
          <div (click)="setDate('month')"
               class="flex cursor-pointer items-center hover:bg-surface-1 rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
            <span class="w-[120px] text-[14px]  font-medium">{{'accounts.month' | translate}}</span>
            <img src="./assets/new-icons/arrow-right-period.svg" class="opacity-0" alt="" />
          </div>

            <div (click)="picker.open()"
                 class="flex cursor-pointer items-center hover:bg-surface-1 rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
              <span class="w-[120px] text-[14px]  font-medium">Задать свой</span>
              <img src="./assets/new-icons/arrow-right-period.svg" alt="">
            </div>



        </div>
      </mat-menu>


    </div>

    <!-- Статус -->
    <div *ngIf="this.isVisible()"  #statusTrigger="matMenuTrigger" [ngClass]="{'!border-[#00A38D]': statusTrigger.menuOpen || isShowStatus()}"
         class="border cursor-pointer border-custom-border rounded-[10px]" [matMenuTriggerFor]="statusMenu">
      <div class="flex items-center p-2 gap-3 h-[40px]">
        <p>{{'filter.status' | translate}}</p>
        <mat-chip *ngIf="isShowStatus()" [removable]="true" (removed)="removeFilter('statusList')"
                  class="!h-[32px]">

          <div class="flex items-center  gap-2">
            <img *ngIf="getSelectedStatus()?.img" [src]="getSelectedStatus()?.img" alt="status" width="18"
                 height="18" class="object-contain " />
            <span class="text-[12px] font-medium">
                            {{ getSelectedStatus()?.name }}
                        </span>
          </div>

          <button matChipRemove>
            <img ngSrc="./assets/svg/close.svg" alt="close" width="48" height="48" />
          </button>
        </mat-chip>
        <img ngSrc="./assets/new-icons/arrow-down.svg" alt="" height="8" width="12" />
      </div>

      <mat-menu #statusMenu="matMenu" xPosition="after" class="menu-actions bg-surface-2 mt-2">
        <div class="flex flex-col items-center gap-1 p-[4px]">
          <div *ngFor="let status of this.kartoteka2Store.statusListToMap()" (click)="setFilter(status.value, 'statusList')"
               class="flex cursor-pointer text-start items-center hover:bg-surface-1 rounded-[12px] gap-2 py-[4px] px-[6px]">
            <div class="flex items-center justify-center text-start h-[20px] w-[20px] rounded-[8px] p-[2px] gap-[10px] bg-[#F5F5F5]">
              <div
                class="flex items-center justify-center text-start h-[20px] w-[20px] rounded-[8px] p-[2px] gap-[10px] bg-[#F5F5F5]">
                <img [src]="status.img" alt="status icon" class="w-3 h-3" />
              </div>
            </div>
            <span class="w-[140px] text-[14px] text-custom-primary font-medium">
                            {{ status.name }}
                        </span>
          </div>
        </div>
      </mat-menu>
    </div>




    <div #senderTrigger="matMenuTrigger" [ngClass]="{
        '!border-[#00A38D]': senderTrigger.menuOpen || filterForm?.value?.coName
      }" class="border border-custom-border rounded-[10px] cursor-pointer transition-colors min-w-[140px]"
         [matMenuTriggerFor]="senderMenu" (menuClosed)="this.searchbyRecipient.reset()">
      <div class="flex items-center justify-between px-4 py-2 gap-3">
        <p>
          {{'cardFileTwo.recipient' | translate}}
        </p>

        <div *ngIf="this.filterForm.value.coName">
          <mat-chip [removable]="true" (removed)="removeFilter('coName')" class="!bg-[#F4F4F4] !h-[32px]">
                        <span class="text-[#191A1D] text-[12px] font-medium">
                            {{ this.filterForm.value?.coName }}</span>
            <button matChipRemove>
              <img ngSrc="./assets/svg/close.svg" alt="close" width="48" height="48" />
            </button>
          </mat-chip>
        </div>

        <img src="./assets/new-icons/arrow-down.svg" alt="arrow" class="w-4 h-4 opacity-70" />
      </div>

      <mat-menu #senderMenu="matMenu" xPosition="after"
                class="menu-actions w-[400px] mt-2 bg-surface-2 text-custom-primary border border-gray-200 rounded-xl shadow-xl">
        <div class="p-2">
          <div class="relative bg-surface-2">
            <input type="text" [formControl]="searchbyRecipient" (click)="$event.stopPropagation()"
                   [placeholder]="'cardFileTwo.search_in_list' | translate"
                   class="w-full h-[55px] border border-custom-border bg-surface-2 rounded-xl py-2 pl-5 pr-10 text-[15px]  focus:ring-2 focus:ring-[#00A38D] outline-none" />

            <button type="button" class="absolute right-3 top-4 text-gray-400"
                    *ngIf="searchbyRecipient.value" (click)="clearSearch($event)">
              <img ngSrc="./assets/new-icons/x.svg" alt="Очистить поиск" width="18" height="18" />

            </button>

            <div class="absolute right-3 top-4 text-gray-400 pointer-events-none"
                 *ngIf="!searchbyRecipient.value">
              <img ngSrc="./assets/new-icons/search-input.svg" alt="Значок поиска" width="18"
                   height="18" />
            </div>
          </div>

          <div class="mt-2 max-h-60 overflow-y-auto custom-scrollbar">
            <ng-container *ngIf="this.baseKartoteka2Store.recipentList()?.length; else noResults">
              <ul class="space-y-1">
                <li *ngFor="let recipient of this.baseKartoteka2Store.recipentList()"
                    (click)="setFilter(recipient, 'coName')"
                    class="px-3 py-3 hover:bg-surface-1 cursor-pointer rounded-lg transition-colors">
                  {{ recipient }}
                </li>
              </ul>
            </ng-container>

            <!-- Empty State -->
            <ng-template #noResults>
              <div class="text-center  py-3 text-sm"> {{ 'cardFileTwo.nothing_found' | translate }}</div>
            </ng-template>
          </div>
        </div>
      </mat-menu>

    </div>

    <!-- Сумма -->
    <div #amountTrigger="matMenuTrigger" [ngClass]="{
        '!border-[#00A38D]':
          amountTrigger.menuOpen ||
          filterForm?.value?.fromAmount ||
          filterForm?.value?.toAmount
          }" class="border border-custom-border rounded-[10px] cursor-pointer transition-colors min-w-[140px]"
         [matMenuTriggerFor]="accountMenu"
    >
      <div class="flex items-center justify-between px-4 py-2 h-[40px]">
        <p> {{'cardFileTwo.amount'  | translate}}</p>
        <div *ngIf="filterForm.value.fromAmount || filterForm.value.toAmount">
          <mat-chip
            [removable]="true"
            (removed)="removeFilter('fromAmount'); removeFilter('toAmount')"
            class="!bg-[#F4F4F4] !h-[32px]">
                         <span class=" text-[12px] font-medium">
                         {{ getAmountChipText() }}
                       </span>
            <button matChipRemove>
              <img ngSrc="./assets/svg/close.svg" alt="close" width="48" height="48" />
            </button>
          </mat-chip>
        </div>

        <img src="./assets/new-icons/arrow-down.svg" alt="arrow" class="w-4 h-4 opacity-70" />
      </div>



      <mat-menu #accountMenu="matMenu" xPosition="after"
                class="menu-actions  mt-2 bg-white shadow-xl border border-gray-200">
        <div class="p-2 w-full max-w-sm mx-auto text-custom-primary">
          <div [formGroup]="amountFilter" class="grid grid-cols-2 gap-4">
            <div >
              <input
                type="text"
                (keydown)="handleKeyDown($event)"
                mask="separator.2"
                formControlName="minAmount"
                (click)="$event.stopPropagation()"
                class="w-full h-[55px] border border-custom-border  bg-surface-2 rounded-2xl px-3 py-2 text-lg font-medium focus:ring-2 focus:ring-[#00A38D] outline-none"
                [placeholder]="'cardFileTwo.from' | translate"
              />
            </div>
            <div>
              <input
                type="text"
                (keydown)="handleKeyDown($event)"
                mask="separator.2"
                formControlName="maxAmount"
                (click)="$event.stopPropagation()"
                class="w-full h-[55px] border rounded-2xl px-3 py-2 border-custom-border  bg-surface-2 text-lg font-medium focus:ring-2 focus:ring-[#00A38D] outline-none"
                [placeholder]="'cardFileTwo.to' | translate"
              />
            </div>
          </div>

          <div class="flex gap-3 pt-2">
            <button
              (click)="handleReset($event)"
              class="w-full h-[55px] border rounded-2xl px-3 py-2 font-medium  border-custom-border text-custom-primary  bg-surface-2 transition">
              {{'accounts.reset' | translate}}
            </button>
            <button
              (click)="handleApply()"
              class="w-full bg-[#00A38D] text-white h-[55px]  border-none rounded-2xl px-3 py-2py-2 font-medium hover:bg-[#00957E] transition">
              {{'accounts.apply' | translate}}
            </button>
          </div>
        </div>
      </mat-menu>
    </div>

    <!-- Cбросить все -->
    <div *ngIf="hasAnyFilter()" class="flex items-center gap-1 cursor-pointer" (click)="clearAllFilters()">
      <span class="text-[#008C79] font-medium">{{ 'new.reset_all' | translate }}</span>
      <img width="30" height="30" src="./assets/svg/close-active.svg" alt="" />
    </div>
  </div>
</form>
