<div
  class="flex gap-x-5 w-full justify-between" style="min-height: calc(100vh + 700px);">
  <div class="p-6 bg-white rounded-xl h-full flex flex-col gap-y-5 relative flex-grow" style="min-height: calc(100vh + 700px);">
    <app-container-nav [navs]="navs"></app-container-nav>

    <div class="flex gap-x-4 items-center">
      <mat-icon
        class="cursor-pointer"
        [routerLink]="['/conversion-operations']"
      >arrow_back</mat-icon>

      <div class="text-[22px] font-medium">{{ title }}</div>
    </div>

    <div class="flex">
      <div class="flex gap-x-2.5 h-[40px] p-[5px] rounded-[8px] bg-[#EFF4F9] text-[14px] text-[#8B97A2]">
        @for(tab of tabs; track tab.title) {
          <div
            [routerLink]="['/create-cross-conversion']"
            [queryParams]="{tab: tab.value}"
            routerLinkActive="!bg-[#264796] text-white"
            class="cursor-pointer h-[30px] px-2.5 py-[5px] rounded-[5px]"
          >{{ tab.title }}</div>
        }
      </div>
    </div>

    <div class="flex flex-col gap-y-5 mb-4" [formGroup]="conversionForm">

      <div class="flex flex-col gap-y-5">
        <div class="grid grid-cols-4 gap-x-5">
          <mat-form-field class="small w-full" appearance="outline">
            <mat-label>Продать</mat-label>
            <mat-select formControlName="fromCurrency">
              @for(curr of currencies; track curr.code) {
                <mat-option
                  [value]="curr.name"
                  (click)="getAccountsList()"
                >{{ curr.name }}</mat-option>
              }
            </mat-select>
            <mat-icon matSuffix>
              <img ngSrc="./assets/svg/chevron-down.svg" alt="chveron" class="rotate-90" width="24" height="24" />
            </mat-icon>
          </mat-form-field>

          <div class="w-full col-span-2 relative">
            <app-account-select
              [label]="'Счет списания'"
              [accounts]="accounts"
              [required]="true"
              [preSelected]="preSelectedSenderAccount"
              [showTitle]="false"
              [showBalance]="false"
              (accountSelected)="selectedSenderAccount($event)"
            ></app-account-select>
          </div>

          <mat-form-field
            class="small w-full" appearance="outline"
            [ngClass]="{
          'required': (conversionForm.get('senderAmount')?.invalid && conversionForm.get('senderAmount')?.touched) || !isUnderLimit,
        }"
          >
            <mat-label>Сумма списания</mat-label>
            <input
              [class]="inputClasses"
              matInput
              mask="separator.2"
              formControlName="currencyAmount"
              placeholder="Введите сумму"
            >
          </mat-form-field>
        </div>

        @if(!isUnderLimit) {
          <mat-error class="text-[13px]"
          >Сумма конвертации превышает онлайн лимит. Заявка свыше 50 000 $ в эквиваленте производится по рыночному курсу на основание подписанного заявления
          </mat-error>
        }

        <div class="grid grid-cols-4 gap-x-5 items-center">
          <div
            class="h-full w-full rounded-[5px] bg-[#EFF4F9] flex items-center justify-center cursor-pointer"
            (click)="toggleForm()"
          >
            <img ngSrc="./assets/svg/switch.svg" alt="switch" width="24" height="24">
          </div>

          <mat-form-field class="small col-span-3 secondary" appearance="outline">
            <input
              matInput
              formControlName="clientCurrencyOfferRate"
            >
          </mat-form-field>
        </div>

        <div class="grid grid-cols-4 gap-x-5">
          <mat-form-field class="small w-full" appearance="outline">
            <mat-label>Купить</mat-label>
            <mat-select formControlName="toCurrency">
              @for(curr of receiverCurrencies; track curr.code) {
                <mat-option
                  [value]="curr.name"
                  (click)="getReceiverAccountList()"
                >{{ curr.name }}</mat-option>
              }
            </mat-select>
            <mat-icon matSuffix>
              <img ngSrc="./assets/svg/chevron-down.svg" alt="chevron" class="rotate-90" width="24" height="24" />
            </mat-icon>
          </mat-form-field>

          <div class="w-full col-span-2 relative">
            <app-account-select
              [label]="'Счет зачисления'"
              [required]="true"
              [accounts]="receiverAccounts"
              [preSelected]="preSelectedReceiverAccount"
              [showTitle]="false"
              [showBalance]="false"
              (accountSelected)="selectedReceiverAccount($event)"
            ></app-account-select>
          </div>


          <mat-form-field class="small w-full" appearance="outline">
            <mat-label>Сумма зачисления</mat-label>
            <input
              [class]="inputClasses"
              matInput
              mask="separator.2"
              formControlName="receiverAmount"
              placeholder="Введите сумму"
              (input)="getReceiverOffer()"
              [ngClass]="{
          'border-red-500': conversionForm.get('receiverAmount')?.invalid && conversionForm.get('receiverAmount')?.touched,
          'border-secondary': conversionForm.get('receiverAmount')?.valid || !conversionForm.get('receiverAmount')?.touched
        }"
            >
          </mat-form-field>
        </div>

      </div>

      @if(tab === tabs[0].value) {
        <mat-form-field class="small w-full" appearance="outline">
          <mat-label>Комментарий</mat-label>
          <textarea
            [class]="inputClasses"
            matInput
            rows="3"
            formControlName="detail"
            placeholder="Введите детали"
            type="number"
          >
            </textarea>
        </mat-form-field>
      } @else {
        <div class="py-5 flex flex-col gap-y-[15px] border-b border-[#EFF4F9]">
          <div class="flex flex-col gap-y-2">
            <div class="font-semibold leading-[19px]">Заявление</div>
            <div class="text-[12px] leading-[14px] text-[#7C8897]">Подписанное заявление на конверсию СКВ на СКВ свыше 50 000 $ в эквиваленте </div>
          </div>

          <div class="self-end">
            @if(!uploadedFile) {
              <label class="h-[40px] px-5 py-[7px] rounded-[5px] text-sm leading-[22px] flex gap-x-[5px] items-center bg-[#EEF2F5] cursor-pointer">
                <img ngSrc="./assets/svg/upload-image-icon.svg" alt="upload" width="24" height="24">
                <span>Загрузить документы</span>
                <input type="file" (change)="onFileSelected($event)" class="hidden" />
              </label>
            } @else {
              <div class="h-[40px] flex items-center gap-x-2">

                <div class="h-[40px] px-2 py-[7px] flex items-center gap-x-2 rounded-[5px] bg-[#EFF4F9]">

                  <mat-icon
                    class="text-[#7C8897]"
                  >insert_drive_file</mat-icon>

                  <span class="text-sm leading-[22px] text-[#7C8897]">{{ uploadedFile.name }}</span>

                </div>

                <mat-icon
                  (click)="removeFile()"
                  class="text-[#7C8897] cursor-pointer"
                >close</mat-icon>
              </div>
            }
          </div>

        </div>
      }

      <div>

        <div class="flex flex-col gap-y-5">

          <div class="text-end mt-4">
            <button
              (click)="onSubmit()"
              [disabled]="conversionForm.invalid || !this.isUnderLimit"
              [ngClass]="(conversionForm.valid && this.isUnderLimit) ? 'text-white bg-[#264796]' : 'bg-[#EFF4F9] text-[#7C8897] cursor-not-allowed'"
              class="h-[40px] px-5 py-2.5 rounded-[5px] text-sm leading-[22px]">
              Подтвердить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-[11px]">
    <app-widgets
      [modes]="templateModes"
      (docDate)="setDocDate($event)"
    ></app-widgets>
  </div>
</div>
