@import 'mixins';
@import 'custom';

.themeMixin({
  :host {
    background: @component-background;

    .text p {
      color: @text-color-tertiary;
    }
  }
});

.close {
  height: 32px;
  width: 32px;
}

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 550px;
  max-width: 550px;
  height: 90svh;
  max-height: 90svh;
  border-radius: 42px;
  overflow: hidden;

  .media(@media-sm, {
    min-width: 90vw;
    max-width: 90vw;
    border-radius: 28px;
  });

  .media(@media-xs, {
    min-width: 95vw;
    max-width: 95vw;
    border-radius: 20px;
  });

  .header {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 32px 32px 8px 32px;

    .media(@media-sm, {
      padding: 20px 20px 8px 20px;
    });
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    flex: 1;
    min-height: 0;
    overflow: hidden;

    .media(@media-sm, {
      row-gap: 20px;
    });

    .text {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      flex-shrink: 0;
      padding: 0 32px;

      h1 {
        margin: 0;
        font-size: @heading-1-size;
        line-height: @line-height-sm;

        .media(@media-sm, {
          font-size: @heading-1-size-sm;
        });

        .media(@media-xs, {
          font-size: @heading-1-size-xs;
        });
      }
    }

    .body {
      flex: 1;
      min-height: 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 24px;
      scrollbar-width: thin;
      scrollbar-color: #d1d1d1 #ebebeb;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: #ebebeb;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: #d1d1d1;
        border-radius: 4px;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    column-gap: 8px;
    padding: 32px;

    .media(@media-sm, {
      padding: 24px;
    });

    [nz-button] {
      width: 100%;
    }
  }
}
