<ng-container *transloco="let t">
  <div class="header">
    <button cfBounce nz-button nzShape="round" nzSize="small" class="close" (clicked)="closeClick.emit()">
      <nz-icon nzType="close" />
    </button>
  </div>

  <div class="content">
    <div class="text">
      <h1 nz-typography>{{title()}}</h1>
    </div>

    <div class="body">
      <ng-content />
    </div>
  </div>

  <div class="footer">
    <button cfBounce nz-button nzType="default" nzSize="large" (clicked)="closeClick.emit()">{{t('action.cancel')}}</button>
    <button cfBounce [disabled]="submitDisabled()" nz-button nzType="primary" nzSize="large" (clicked)="submitClick.emit()">
      {{t('action.add')}}
    </button>
  </div>
</ng-container>
