<div>
  <div class="flex items-center justify-between">
    <h2 class="text-white">{{ route | translate }}</h2>
<!--    <app-ui-svg-icon-->
<!--      (click)="refreshTransportList()"-->
<!--      path="./assets/icons/left-menu.svg#refresh-right-square"-->
<!--      svgClass="w-6 h-6 cursor-pointer icon-rotate-180"-->
<!--    ></app-ui-svg-icon>-->
  </div>

  <app-my-transports-list></app-my-transports-list>
</div>

<div class="rounded-t-2xl  px-6 pt-6 !-mt-4">
  <app-my-transport-info></app-my-transport-info>
</div>
