@if (!isAuthenticated()) {
<div class="flex flex-col w-[350px] mx-auto items-center gap-8 my-auto">
  <div class="flex flex-col w-full justify-center gap-[10px] rounded-[20px] p-2 border-custom-border border">
    <h3 class="p-2 text-[#A3A3A3] text-[14px] font-medium">{{ 'new.choose_a_company' | translate }} </h3>
    <div class="max-h-[300px] overflow-auto">
      <div *ngFor="let business of data" class="flex cursor-pointer items-center gap-2 p-2"
           (click)="this.submitSelection.emit(business.businessId)">
        <img src="./assets/new-icons/avatar.svg" alt="">
        <div class="flex flex-col">
          <p class="text-[16px] font-medium text-custom-primary">{{ business.businessName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
} @else {
<div class="flex flex-col gap-4 max-h-[128px] overflow-auto ">
  <ng-container *ngFor="let business of data">
    <div class="flex items-center gap-2 cursor-pointer" (click)="this.submitSelection.emit(business.businessId)">
      <div class="flex items-center justify-center w-8 h-8 rounded-full border border-solid border-soft-200">
        <app-svg-icon name="hamkor_briefcase-01" [size]="16" class="text-sub-600"></app-svg-icon>
      </div>
      <div>
        <p class="font-semibold text-12 leading-[14px] text-custom-primary">
          {{ business.businessName }}
        </p>
        <!-- <p class="text-12 leading-4 text-sub-600">
          Подписание
        </p> -->
      </div>
    </div>
  </ng-container>
</div>
}
