<div>
      <!-- #region BACK -->
  <div class="flex flex-col">
    <div (click)="this.router.navigate(['/payment/mass-payments'])" class="cursor-pointer gap-1 mb-6 flex items-center">
      <img [src]='theme.isDark() ? "./assets/new-icons/back-icon-white.svg" : "./assets/new-icons/back-icon.svg"'
           [width]="12" [height]="12" alt="">
      <span class="text-[16px] text-custom-primary">{{'templates.back' | translate}}</span>
    </div>
  </div>
  <!-- #endregion BACK -->
           <app-payments></app-payments>
</div>

