<form
  class="flex flex-col h-full bg-white p-6 rounded-md"
  (submit)="onSubmit()">
  <div class="flex flex-col space-y-4.5">
    <div>
      <p class="font-medium text-sm text-neutral-550 mb-3">
        <!-- {{ 'auth.confirmMsgSent' | translate }} -->
      </p>

      <span class="text-sm leading-4 dark-color mb-4 font-semibold">
        Введите код подтверждения
      </span>
      <p class="text-sm leading-4 dark-color mb-2 mt-2 text-disabled_txt">
        На номер <span class="font-semibold" style="color: #000;">{{ maskedPhoneNumber }}</span> <br> отправлено смс-сообщение с кодом подтверждения. Введите код и нажмите «Подтвердить»
      </p>

      <!-- <div
        class="flex items-center justify-start space-x-2 bg-cyan-75 px-2 py-1.5 rounded-lg w-max cursor-pointer"
        (click)="onReturnClick()">
        <button class="text-gray-950 font-semibold text-sm">{{ phone }}</button>
        <app-ui-svg-icon
          path="./assets/icons/reload.svg#edit"
          svgClass="icon-5 text-lime-550"></app-ui-svg-icon>
      </div> -->
    </div>
    <app-ui-otp-input
      [count]="5"
      [isOtpIncorrect]="isOtpIncorrect"
      (otpComplete)="handleOtp($event)"></app-ui-otp-input>
  </div>
  <div class="flex align-middle justify-center text-base font-bold text-center mt-4 mb-[45px]">Отправить снова: <span class="ml-[8px] mr-5px" style="color: #007AFF;">{{counter}}</span> <button *ngIf="timer === 0" type="button"><img src="assets/icons/refresh_icon.svg" alt=""></button></div>
  <div class="mt-auto font-semibold flex gap-x-2">
    <button type="button" (click)="onSubmit()" class="w-full py-3 px-2 rounded-xl text-[#fff] bg-primary"
    [ngClass]="otpCode.valid ? 'text-white bg-primary' : 'text-[#B0B8C1] bg-disabled-button cursor-not-allowed'">Подтвердить</button>
    <button type="button" (click)="dialogRef.close()" class="w-full py-3 px-2 rounded-xl border-[1px] border-solid border-primary">Назад</button>
  </div>
</form>
