<div class="bg-white rounded-[12px] w-[270px] p-[15px] pb-5">
  <div class="flex flex-col gap-y-5">
    <div class="flex flex-col gap-y-2.5">
      <div class="text-[14px]">Операционный день:</div>

      <div class="flex justify-between items-center">
        @if(operDay) {
          <div class="flex flex-col justify-between">
            <div class="text-[20px] font-medium text-[#2B2D33]">{{ selectedOperDate }}</div>
            <div>
              @if(operDay?.companyOperationMode) {
                <span class="h-[16px] w-[58px] text-[12px] text-[#1C7C4C] text-center rounded-[10px] py-1 px-[7px] bg-[#DBF6CB]">Открыт</span>
              }
            </div>
          </div>
        } @else {
          <span class="skeleton block rounded h-[50px] w-[100px] mb-[4px]"></span>
        }

        <button
          [matMenuTriggerFor]="clock"
          [disabled]="!operDay?.lastWorkingDateAvailable"
          class="flex items-center bg-[#EFF4F9] rounded-[5px] p-2.5 h-[40px] w-[74px]"
          [matTooltip]="tooltipText"
        >
          <img class="min-w-[24px]" ngSrc="./assets/svg/clock.svg" alt="clock" width="24" height="24">
          <img class="min-w-[30px] rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="clock" width="30" height="30">
        </button>

        <mat-menu #clock>
          <div (click)="selectWorkingDate(operDay?.currentWorkingDate)" class="px-2 py-1 cursor-pointer hover:bg-gray-100">
            {{ operDay?.currentWorkingDate }}
          </div>
          <div (click)="selectWorkingDate(operDay?.lastWorkingDate)" class="px-2 py-1 cursor-pointer hover:bg-gray-100">
            {{ operDay?.lastWorkingDate }}
          </div>
        </mat-menu>

      </div>

      <div class="w-full border-t border-[#EBECED]"></div>

    </div>

    <div class="flex justify-between">
      <div class="flex flex-col gap-y-[15px]">
        <div class="text-[12px] text-[#666666] leading-[12px]" style="letter-spacing: -0.12px">
          Межбанковские
          платежи до
        </div>

        <div class="flex flex-col gap-y-2.5">
          <div class="text-[#22A3FF] text-[22px] font-medium leading-[22px]">
            @if(operDay) {
              <span>{{ operDay?.interbank?.trim().padEnd(5, '0') }}</span>
            } @else {
              <span class="skeleton block rounded h-[20px] w-[100px] mb-[2px]"></span>
            }
          </div>
          <div class="text-[#666666] text-[12px] leading-[8px]">
            {{ timeInterBank }}
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-y-[15px]">
        <div class="text-[12px] text-[#666666] leading-[12px]" style="letter-spacing: -0.12px">
          Межфилиальные
          платежи до
        </div>

        <div class="flex flex-col gap-y-2.5">
          <div class="text-[#0E65D9] text-[22px] font-medium leading-[22px]">
            @if(operDay) {
              <span>{{ operDay?.interbranch?.trim().padEnd(5, '0') }}</span>
            } @else {
              <span class="skeleton block rounded h-[20px] w-[100px] mb-[2px]"></span>
            }
          </div>

          <div class="text-[#666666] text-[12px] leading-[8px]">
            {{ timeInterBranch }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
