::ng-deep .mat-form-field-outline-start,.mat-form-field-outline-end {
  top: 0; /* Adjusts the outline position */
}

::ng-deep .mat-form-field-flex {
  height: 100%; /* Ensures the input height matches the container */
  align-items: center; /* Centers the input vertically */
}

::ng-deep .mat-input-element {
  padding: 0 8px; /* Adjust padding if needed */
  line-height: 50px; /* Adjust line height for the input */
}


::ng-deep .mat-form-field {
  font-size: 12px; // example
}

::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
  padding: 8px;
}

::ng-deep .mat-mdc-form-field-icon-suffix.small {
  height: 40px !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline, .mdc-notched-outline   {
  background-color: #f0f0f0 !important;
}

.mdc-text-field--disabled {
  .mat-mdc-form-field-flex {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #E4E4E4 !important;
      background: #EFF4F9;
    }

    .mdc-notched-outline__notch {
      border-left: #EFF4F9 !important;
    }
  }
}

.accordion .mat-expansion-panel {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.accordion .mat-expansion-panel-body {
  padding: 0 !important;
}
