<div class="flex gap-x-5 w-full justify-between" style="min-height: calc(100vh + 700px);">
  <div class="p-6 bg-white rounded-xl h-full flex flex-col flex-grow gap-y-5">
    <app-container-nav [navs]="navs"></app-container-nav>

    <app-container-title [title]="title"></app-container-title>

    <div class="flex gap-x-5 mb-4">
      <form class="flex flex-col !w-full gap-y-5" [formGroup]="swiftForm">

        <div class="grid grid-cols-3 gap-x-5">
          <mat-form-field class="small col-span-2" appearance="outline">
            <mat-label>Номер документа<span class="text-red-500">*</span></mat-label>
            <input
              matInput
              formControlName="docNum"
              placeholder="Введите номер"
            >
          </mat-form-field>

          <mat-form-field class="small w-full" appearance="outline">
            <mat-label>Дата документа</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [min]="now"
              [max]="tomorrow"
              formControlName="docDate"
            >
            <mat-datepicker #picker></mat-datepicker>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>
                <img ngSrc="/assets/svg/calendar-swift.svg" alt="calendar" width="24" height="24" />
              </mat-icon>
            </mat-datepicker-toggle>
          </mat-form-field>
        </div>

        <div class="w-full border-t border-[#EFF4F9]"></div>

        <div class="grid grid-cols-2 gap-x-5">
          <mat-form-field class="small" appearance="outline">
            <mat-label>Схема проводок</mat-label>

            <mat-select formControlName="paymentStructure">
              <mat-option [value]="'1'">Стандартная</mat-option>
              <mat-option [value]="'2'">Обратная продажа</mat-option>
            </mat-select>

            <mat-icon matSuffix>
              <img ngSrc="./assets/svg/chevron-down.svg" class="rotate-90" alt="chevron" width="24" height="24" />
            </mat-icon>
          </mat-form-field>

          <mat-form-field class="small" appearance="outline">
            <mat-label>Продаваемая валюта</mat-label>

            <mat-select formControlName="currency">
              @for(curr of currencies; track curr.code) {
                <mat-option (click)="selectCurrency(curr)" [value]="curr">{{ curr.name }}</mat-option>
              }
            </mat-select>

            <mat-icon matSuffix>
              <img class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24"/>
            </mat-icon>
          </mat-form-field>
        </div>

        <app-account-select
          class="w-full"
          [label]="'Валютный счёт'"
          [accounts]="accounts"
          [preSelected]="preSelectedSender"
          [showTitle]="false"
          [required]="true"
          (accountSelected)="setSender($event)"
        ></app-account-select>

        <app-account-select
          class="w-full"
          [label]="'Сумовой счёт'"
          [accounts]="receiverAccounts"
          [preSelected]="preSelectedReceiver"
          [required]="true"
          [showTitle]="false"
          (accountSelected)="setReceiver($event)"
        ></app-account-select>

        <div class="grid grid-cols-3 gap-x-5">
          <mat-form-field class="small w-full" appearance="outline">
            <mat-label>Сумма в валюте<span class="text-red-500">*</span></mat-label>
            <input
              matInput
              mask="separator.2"
              formControlName="currencyAmount"
              placeholder="Введите сумму"
            >
          </mat-form-field>

          <mat-form-field class="small w-full secondary" appearance="outline">
            <mat-label>Курс продажи</mat-label>
            <input
              matInput
              placeholder="Введите курс"
              readonly
              mask="separator"
              formControlName="clientCurrencyOfferRate"
            >
          </mat-form-field>

          <mat-form-field class="small w-full secondary" appearance="outline">
            <mat-label>Сумма в сумах</mat-label>
            <input
              matInput
              formControlName="clientCurrencyOfferAmount"
              readonly
              mask="separator.2"
              placeholder="Введите сумму"
            >
          </mat-form-field>
        </div>

        <mat-form-field class="small w-full" appearance="outline">
          <mat-label>Источник продаваемой валююты<span class="text-red-500">*</span></mat-label>
          <mat-select formControlName="aimCode" placeholder="Цель использования покупаемой иностранной валюты">
            @for(term of terms; track term.value; let idx = $index) {
              <mat-option
                [value]="term.value"
              >
                <span>{{term.value}} - {{term.title}}</span>
              </mat-option>
            }
          </mat-select>
          <mat-icon matSuffix>
            <img class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24"/>
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="small w-full description-field h-[102px]">
          <mat-label>Комментарий</mat-label>
            <textarea
              matInput
              formControlName="detail"
              placeholder="Введите детали"
              maxlength="210"
              style="resize: none"
            ></textarea>
        </mat-form-field>


        <div class="flex justify-between items-center">
          @if(!isEdit) {
            <div class="flex gap-4">
              <button
                (click)="onSubmit('SAVE')"
                class="px-5 py-2.5 rounded-[5px] bg-[#264796] text-white leading-[20px]"
              >Создать</button>
            </div>

            <div class="flex gap-x-2.5 items-center">
              <button
                (click)="onSubmit('TEMPLATE')"
                class="px-5 py-2.5 rounded-[5px] text-sm bg-[#DDECFC] text-[#264796] leading-[20px]"
              >
                <span>Создать шаблон</span>
              </button>
            </div>
          } @else {
            <div class="flex gap-x-4">
              <button
                (click)="onSubmit('edit-template')"
                class="px-5 py-2.5 rounded-[5px] text-sm bg-[#264796] text-white leading-[20px]"
              >
                <span>Редактировать</span>
              </button>

              <button
                appLocationBack
                class="px-5 py-2.5 rounded-[5px] text-sm bg-[#DDECFC] text-[#264796] leading-[20px]"
              >
                <span>Отмена</span>
              </button>
            </div>
          }

        </div>

      </form>
    </div>
  </div>

  <div class="flex flex-col gap-y-[11px]">
    <app-widgets
      [modes]="templateModes"
      (docDate)="setDocDate($event)"
    ></app-widgets>
  </div>
</div>
