<div @dialogAnim class="modal shadow-lg px-4 relative py-4 justify-center rounded-[20px]
  overflow-auto bg-white ">
  <img (click)="close()" class="absolute cursor-pointer right-[15px] top-[15px]" src="./assets/new-icons/close-filled.svg" alt="">
  <div class="flex relative flex-col justify-center items-center text-center gap-2 mt-8">
    <img width="68" height="68" src="./assets/new-icons/block-icon.svg" alt="">
    <h3 class="text-[28px] w-2/3 font-bold leading-8 text-[#171717]">{{ 'authorization.account_blocked' | translate  }}</h3>
    <p class="text-[#A3A3A3] text-[16px] font-normal">{{ 'authorization.contact_branch' | translate }}</p>
    <div class="my-2" *ngIf="!data.forever">
      <app-idle-timer-circle [totalSeconds]="data.blockedTime" [remainingTime]="data.remainingTime" (close)="close()"></app-idle-timer-circle>
    </div>
    <div *ngIf="data.forever" class="mx-4 flex mt-4 flex-col text-start">
      <div class="flex gap-4 items-start h-[148px]">
        <img src="./assets/new-icons/phone-filled.svg" alt="">
        <div class="flex flex-col items-start">
          <h3 class="text-[16px] leading-[24px] mb-1 font-semibold text-[#171717]">{{ 'authorization.call_bank' | translate  }}</h3>
          <p class="text-[#A3A3A3] mb-3 leading-[20px] text-[14px] font-normal">{{ 'authorization.call_bank_help' | translate  }}</p>
          <h4 class="text-[#171717] text-[16px] font-medium"  href="tel:1809" (click)="callBank()">1809</h4>
        </div>
      </div>
      <div class="flex gap-4 items-start h-[148px]">
        <img src="./assets/new-icons/telegram-filled.svg" alt="">
        <div class="flex flex-col items-start">
          <h3 class="text-[16px] mb-1 leading-[24px] font-semibold text-[#171717]">{{ 'authorization.write_to_support' | translate  }} </h3>
          <p class="text-[#A3A3A3] mb-3 leading-[20px] text-[14px] font-normal">{{ 'authorization.write_to_support_help' | translate  }}</p>
          <h4 class="text-[#171717] text-[16px] font-medium">{{ 'authorization.telegram_chat' | translate  }}</h4>
        </div>
      </div>
    </div>
    <p *ngIf="!data.forever" class="text-[#A3A3A3] leading-[1px] text-[14px] font-normal" >{{ 'authorization.bank_contact_number' | translate }}</p>
    <a *ngIf="!data.forever" class="text-[#00A38D] outline-none text-[16px] font-medium underline" href="tel:1809" (click)="callBank()">1809</a>
  </div>
</div>
