@let tSchedule = schedule();

<app-page-layout backLink=".." title="График платежей">
  <div class="bg-white rounded-3xl py-3">

    @for (item of tSchedule; track item.id; let idx = $index) {
      <div class="grid grid-cols-[48px_repeat(6,_1fr)] items-center px-5 py-4">
        <div class="text-sm text-[#AEAEAE]">{{ idx | number : '2.0-0' }}</div>

        <div>
          <p class="text-[#9799A1]">Статус</p>
          <p class="text-[#9799A1]">Оплачен</p>
        </div>

        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
      </div>
    }

  </div>
</app-page-layout>
