<div class="h-full flex flex-col bg-surface-2 rounded-2xl text-custom-primary border border-custom-border overflow-hidden">

  <header class="flex justify-between pt-6 pb-2 px-6">
    <h1 class="justify-center  text-xl font-semibold leading-loose">
      Номер требования №{{ data.docNumber}}
    </h1>
    <div class="bg-surface-1 h-8 w-8 rounded-md flex items-center justify-center">
      <img (click)="closeDialog()" src="assets/new-icons/close.svg" alt="close" />
    </div>
  </header>
  <mat-divider class="bg-custom-border" />

  <div class="h-full flex-1 overflow-y-auto">
    <!-- Шапка страницы -->
    <div class="flex flex-col gap-y-4 py-2">
      <div class="flex flex-col ">
        <div class="flex flex-col px-5 space-y-3 mb-3">
          <div class="whitespace-nowrap">
              <span class="font-bold leading-[40px] text-[32px] text-custom-primary">{{
                Math.floor(data.summa.amount / 100) | mask : "separator" }}
              </span>
              <span class="text-[32px] leading-[40px] font-medium text-custom-secondary">.{{
                (Math.abs(data.summa.amount) % 100).toString().padStart(2, "0")
                }} {{data.summa.currency}}
              </span>
          </div>
          <div class="text-custom-secondary leading-5 text-sm font-normal flex space-x-2 items-center">
            <span>
              От {{ data.docDate}}</span>
          </div>
        </div>
      </div>


      <mat-divider class="bg-custom-border" />
    <!-- Данные Получателя / Данные плательщика -->

      @let isIncoming = data.activeTab === 'INCOMING';
      @let bank = isIncoming ? data?.payeeBank : data?.payerBank;
      @let branch = isIncoming ? data?.payeeBranch : data?.payerBranch;
      @let account = isIncoming ? data?.payeeAccount : data?.payerAccount;
      @let inn = isIncoming ? data?.payeeInn : data?.payerInn;
      @let name = isIncoming ? data?.payeeName : data?.payerName;

      <div class="px-5 flex justify-between items-center">
        <div class="leading-6 font-semibold text-base text-custom-primary">
          {{ isIncoming ? ('Данные Получателя' | translate) : ('Данные плательщика' | translate) }}
        </div>

        <div class="flex space-x-1 items-center cursor-pointer select-none" (click)="copyAllUsersDetails()" role="button"
          tabindex="0">
          <span><img src="assets/new-icons/copy.svg" alt="copy" /></span>
          <span class="leading-5 text-sm font-medium text-custom-secondary">
            {{ "cardFileTwo.copy_all" | translate }}
          </span>
        </div>
      </div>

      <div class="px-5 flex flex-col">

        
        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm">
            {{ isIncoming ? ('Банк получателя' | translate) : ('Банк плательщика' | translate) }}
          </div>
          <div class="text-base text-custom-primary break-words">
            {{ bank }}
          </div>
        </div>

       
        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm">
            {{ isIncoming ? ('Филиал банка получателя' | translate) : ('Филиал банка плательщика' | translate) }}
          </div>
          <div class="text-base text-custom-primary break-words">
            {{ branch }}
          </div>
        </div>

        
        <div class="flex items-center justify-between py-2">
          <div class="flex-1">
            <div class="text-custom-secondary text-sm">
              {{ isIncoming ? ('Счёт получателя' | translate) : ('Счёт плательщика' | translate) }}
            </div>
            <div class="text-base text-custom-primary break-words">
              {{ account }}
            </div>
          </div>

          <button class="ml-3 p-2" (click)="copySingle(account)" type="button">
            <img src="assets/new-icons/copy.svg" alt="copy" />
          </button>
        </div>

       
        <div class="flex items-center justify-between py-2">
          <div class="flex-1">
            <div class="text-custom-secondary text-sm">
              {{ isIncoming ? ('ИНН/ПИНФЛ получателя' | translate) : ('ИНН/ПИНФЛ плательщика' | translate) }}
            </div>
            <div class="text-base text-custom-primary break-words">
              {{ inn }}
            </div>
          </div>

          <button class="ml-3 p-2" (click)="copySingle(inn)" type="button">
            <img src="assets/new-icons/copy.svg" alt="copy" />
          </button>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm">
            {{ isIncoming ? ('Наименование получателя' | translate) : ('Наименование плательщика' | translate) }}
          </div>
          <div class="text-base text-custom-primary break-words">
            {{ name }}
          </div>
        </div>
      </div>


      <mat-divider class="bg-custom-border" />
      <!-- Данные требования -->

      <div class="px-5 mt-3 flex justify-between items-center">
        <div class="leading-6 font-semibold text-base text-custom-primary">
          {{"Данные требования" | translate}}
        </div>
        <div class="flex space-x-1 items-center cursor-pointer select-none" (click)="copyAll()" role="button"
          tabindex="0">
          <span><img src="assets/new-icons/copy.svg" alt="copy" /></span>
          <span class="leading-5 text-sm font-medium text-custom-secondary">
            {{"cardFileTwo.copy_all" | translate}}
          </span>
        </div>
      </div>

      <div class="px-5 flex flex-col">
        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Тип требования" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data?.paymenType }}
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Код назначения требования" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data?.purposeCode }}
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Назначение требования" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data?.purpose }}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>