<form [formGroup]="filterForm" class="flex flex-col gap-y-[15px]">

  @if(getActiveFilters().length) {
    <div class="flex flex-wrap gap-2">
      <mat-chip-set>
        @for(f of getActiveFilters(); track f) {
          <mat-chip
            [removable]="true"
            (removed)="removeFilter(f.key)"
            class="!bg-[#DDECFC]"
          >
            <span class="text-[#264796]">{{ formatFilter(f.key, f.value) }}</span>
            <button matChipRemove>
              <img ngSrc="./assets/svg/close-active.svg" alt="close" width="24" height="24">
            </button>
          </mat-chip>
        }
      </mat-chip-set>
    </div>
  }


  <mat-accordion class="accordion">
    <mat-expansion-panel [expanded]="panelState">
      <div class="flex flex-col gap-y-[15px]">

        <div class="w-full border-t border-[#DBDBDB]">

        </div>


        <div class="flex flex-col w-full gap-y-[15px]">

          <mat-form-field class="small w-full" appearance="outline">
            <mat-label>
              Поиск
            </mat-label>
            <input matInput formControlName="searchText" placeholder="поиск по счету" />

            <mat-icon matSuffix>
              <img ngSrc="./assets/svg/search.svg" alt="search" width="24" height="24">
            </mat-icon>
          </mat-form-field>

          <div class="grid grid-cols-2 gap-x-5 w-full">
            <div class="w-full flex gap-x-2 items-center">
              <mat-form-field class="small w-full" appearance="outline">
                <mat-label>Сумма от</mat-label>
                <input matInput formControlName="fromAmount" placeholder="Введите сумму">
              </mat-form-field>

              <div>-</div>

              <mat-form-field class="small w-full" appearance="outline">
                <mat-label>Сумма до</mat-label>
                <input matInput formControlName="toAmount" placeholder="Введите сумму">
              </mat-form-field>
            </div>

            <mat-form-field class="small w-full" appearance="outline">
              <mat-label>Валюта</mat-label>
              <mat-select formControlName="currency">
                @for(curr of currencies; track curr) {
                  <mat-option [value]="curr.name">
                    {{ curr.name }}
                  </mat-option>
                }
              </mat-select>

              <mat-icon matSuffix>
                <img class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" />
              </mat-icon>
            </mat-form-field>
          </div>

<!--          <div class="grid grid-cols-2 gap-x-5 w-full">-->
<!--            <mat-form-field class="small w-full" appearance="outline" floatLabel="always">-->
<!--              <mat-label>В диапазоне дат</mat-label>-->
<!--              <mat-date-range-input [rangePicker]="picker">-->
<!--                <input matStartDate placeholder="ДД.ММ.ГГГГ" formControlName="startDate">-->
<!--                <input matEndDate placeholder="ДД.ММ.ГГГГ" formControlName="endDate">-->
<!--              </mat-date-range-input>-->
<!--              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--              <mat-date-range-picker #picker></mat-date-range-picker>-->

<!--            </mat-form-field>-->

<!--            <mat-form-field class="small w-full" appearance="outline">-->
<!--              <mat-label>Номер документа</mat-label>-->
<!--              <input matInput formControlName="docNum" placeholder="Введите номер документа">-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          <div class="w-full flex gap-x-5">-->

<!--            <mat-form-field class="small w-full" appearance="outline">-->
<!--              <mat-label>Тип транзакции</mat-label>-->
<!--              <mat-select formControlName="transactionModes">-->
<!--                @for(type of paymentTypes; track type) {-->
<!--                  <mat-option [value]="type.value">{{ type.title }}</mat-option>-->
<!--                }-->
<!--              </mat-select>-->

<!--              <mat-icon matSuffix>-->
<!--                <img class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" />-->
<!--              </mat-icon>-->
<!--            </mat-form-field>-->

<!--          </div>-->

          <div class="flex flex-row-reverse gap-x-5">
            <button (click)="search()" class="px-5 py-2.5 rounded-[5px] text-center w-[220px] bg-[#008C79] text-white">Искать</button>

            <button (click)="clearFilter()" type="submit" class="px-5 py-2.5 rounded-[5px] text-center w-[220px] bg-[#EFF4F9]">Сбросить</button>
          </div>
        </div>

        <div class="w-full border-t border-[#DBDBDB]"></div>

      </div>
    </mat-expansion-panel>
  </mat-accordion>

</form>

<ng-template #triggerTemplate let-selectedValue>
  <div>
    @if(selectedValue) {
      <span>{{ selectedValue }}</span>
    } @else {
      <span>Choose an item...</span>
    }
  </div>
</ng-template>

<ng-template #optionTemplate let-option>
  <div>
    <span>{{ option }}</span>
  </div>
</ng-template>

