.conditions-panel .mat-mdc-dialog-container { padding: 0 !important; border-radius: 24px !important; }
.conditions-panel .mdc-dialog__surface { border-radius: 24px !important; }

:host {
      display: block;
    }
    