  <form [formGroup]="templateForm" class="w-full h-full overflow-hidden">
    <div class="bg-surface-3 rounded-[42px] relative shadow-lg w-full max-w-lg mx-4 px-9 pb-9 pt-18"
         (click)="$event.stopPropagation()">
      <img (click)="dialog.close();"
           class="absolute cursor-pointer w-[15px] h-[15px] top-[30px] right-[25px]"
           src="./assets/new-icons/close.svg"
           alt="">
      <div class="flex justify-center flex-col items-start py-4 mt-8">
        <h3 class="text-[32px] text-[#00A38D]  font-bold">{{ 'createPayment.save_template' | translate }}</h3>
        <span
          class="text-custom-muted text-[16px]">{{ 'new.once_saved_this_template_will_appear_in_the_templa' | translate }}</span>
      </div>

      <div class="flex flex-col gap-4 items-center text-center">
        <div class="relative w-full mb-2">
          <input type="text" formControlName="name"
                 [ngClass]="{
      'border-red-500':
        templateForm.get('name')?.invalid &&
        templateForm.get('name')?.touched
    }"
                 placeholder="{{'new.enter_template_name' | translate}}" class="border bg-surface-4 border-custom-border focus:border-[#008C79]
           px-4 w-full text-[14px] placeholder:text-[14px] placeholder:text-[A3A3A3] placeholder:font-medium text-custom-primary font-medium
           rounded-[16px] h-[56px] outline-none"/>
          <span *ngIf="templateForm.get('name')?.invalid && templateForm.get('name')?.touched"
                class="absolute bottom-[-18px] text-[12px] left-[15px] text-red-500">{{ 'createPayment.field_required' | translate }}</span>
        </div>
        <div class="flex gap-1 items-center w-full">
          <button type="reset" class="bg-[#F5F5F5] w-full outline-none rounded-[12px] text-[#000000] h-[48px]"
                  (click)="dialog.close()">{{ 'createPayment.cancel' | translate }}
          </button>
          <button type="submit" class="bg-[#00A38D]  w-full outline-none rounded-[12px] text-white h-[48px]"
                  (click)="formSubmit()">{{ 'createPayment.save' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
