<ng-container *transloco="let t">
  @if (borrower()?.registrationPlaceCode) {
  <cf-label-control-secondary [label]="t('prop.registration_authority')" style="align-items: flex-start">
    {{ borrower()!.registrationPlaceCode }}
  </cf-label-control-secondary>
  } @else {
  <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.registration_authority')">
    <cf-select-wrapper [formField]="form().registrationPlaceCode" [placeholder]="t('control.select.placeholder')" size="large">
      <ng-container *cfHandbook="{url: 'dir-enterprise-classifier'}; let items">
        @for (item of items; track item.id) {
        <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        }
      </ng-container>
    </cf-select-wrapper>
  </cf-label-control-secondary>
  } @if (borrower()?.legalForm?.value) {
  <cf-label-control-secondary style="align-items: flex-start" [label]="t('prop.legal_form')">
    {{ borrower()!.legalForm.value }}
  </cf-label-control-secondary>
  } @else {
  <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.legal_form')">
    <cf-select-wrapper [formField]="form().legalForm" [placeholder]="t('control.select.placeholder')" size="large">
      <ng-container *cfHandbook="{url: 'dir-legal-form'}; let items">
        @for (item of items; track item.id) {
        <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        }
      </ng-container>
    </cf-select-wrapper>
  </cf-label-control-secondary>
  }
</ng-container>
