<div class="flex flex-col gap-y-[30px]" [formGroup]="signForm">
  <div class="flex flex-col gap-y-[30px]">
    <div class="flex gap-[30px] flex-wrap" formGroupName="recipient">
      <div class="w-full flex gap-x-[30px]">
        <mat-form-field
          [ngClass]="{
                'required': signForm.get('recipient.codeFilial')?.invalid && signForm.get('recipient.codeFilial')?.touched,
              }"
          class="small w-full" appearance="outline">
          <mat-label>Код банка получателя</mat-label>
          <input
            matInput
            type="number"
            mask="00000"
            maxlength="5"
            formControlName="codeFilial"
          >
          <div class="absolute pt-[5px] text-[12px]">
            <mat-error *ngIf="signForm.get('recipient.codeFilial')?.hasError('required') && signForm.get('recipient.codeFilial')?.touched">
              Поле обязательное.
            </mat-error>
            <mat-error *ngIf="signForm.get('recipient.codeFilial')?.hasError('minlength') && signForm.get('recipient.codeFilial')?.touched">
              Поле должен содержать минимум {{ signForm.get('recipient.codeFilial')?.getError('minlength').requiredLength }} символов.
            </mat-error>
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': signForm.get('recipient.bankName')?.invalid && signForm.get('recipient.bankName')?.touched,
              }"
          class="small w-full" appearance="outline">
          <mat-label>Наименование банка получателя</mat-label>
          <input matInput formControlName="bankName">

          <div class="absolute pt-[5px] text-[12px]">
            <mat-error *ngIf="signForm.get('recipient.bankName')?.hasError('required') && signForm.get('recipient.bankName')?.touched">
              Поле обязательное.
            </mat-error>
          </div>
        </mat-form-field>
      </div>


      <div class="w-full flex gap-x-[30px]">
        <app-searchable-select
          class="small w-full"
          [label]="'Счет получателя'"
          [parentForm]="signForm"
          placeholder="Введите счёт"
          controlName="recipient.account"
          [customTriggerTemplate]="triggerTemplateAccount"
          [customOptionTemplate]="optionTemplateAccount"
          [options]="receiverAccounts"
          [maxlength]="20"
          [showSuffix]="false"
          (valueChange)="setReceiverAccount($event)"
          (inputChange)="getReceiverAccount($event)"
          (focusin)="getReceiverAccount()"
        ></app-searchable-select>

        <mat-form-field
          [ngClass]="{
                'required': signForm.get('recipient.tax')?.invalid && signForm.get('recipient.tax')?.touched,
              }"
          class="small w-full" appearance="outline"
        >
          <mat-label>ИНН / ПИНФЛ</mat-label>
          <input
            matInput
            formControlName="tax"
            mask="000000000"
          >

          <div class="absolute pt-[5px] text-[12px]">
            <mat-error *ngIf="signForm.get('recipient.tax')?.hasError('required') && signForm.get('recipient.tax')?.touched">
              Поле обязательное.
            </mat-error>
          </div>
        </mat-form-field>
      </div>


      <div class="w-full flex gap-x-[30px]">
        <mat-form-field
          [ngClass]="{
                'required': signForm.get('recipient.name')?.invalid && signForm.get('recipient.name')?.touched,
              }"
          class="small w-full" appearance="outline">
          <mat-label>Наименование получателя</mat-label>
          <input matInput formControlName="name">


          <div class="absolute pt-[5px] text-[12px]">
            <mat-error *ngIf="signForm.get('recipient.name')?.hasError('required') && signForm.get('recipient.name')?.touched">
              Поле обязательное.
            </mat-error>
          </div>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="text-[20px] font-medium">Сумма и детали платежа</div>

  <div class="flex flex-col" formGroupName="saldo">
    <mat-form-field
      [ngClass]="{
                'required': signForm.get('saldo.amount')?.invalid && signForm.get('saldo.amount')?.touched,
              }"
      appearance="outline" class="small w-full amount-field">
      <mat-label>Сумма</mat-label>
      <input
        (input)="convertAmountIntoWords()"
        placeholder="Введите сумму"
        matInput
        type="text"
        mask="separator.2"
        formControlName="amount"
      />
      @if (signForm.get('saldo.amount')?.valid) {
        <span class="text-[#808185] pr-2" matSuffix>UZS</span>
      }

      <div class="absolute pt-[5px] text-[12px]">
        <mat-error *ngIf="signForm.get('saldo.amount')?.hasError('required') && signForm.get('saldo.amount')?.touched">
          Поле обязательное.
        </mat-error>
      </div>
    </mat-form-field>

    <div
      class="mt-2.5 text-sm leading-[22px] text-[#2B2D33]"
      [ngClass]="{
      'mt-5': signForm.get('saldo.amount')?.hasError('required') && signForm.get('saldo.amount')?.touched
      }"
    >
      Сумма прописью: <span>{{ amountInWords }}</span>
    </div>
  </div>

  <app-vat (vatSelected)="vatSelected($event)"></app-vat>

  <div class="flex flex-col gap-y-[30px]">
    <app-searchable-select
      class="small w-full"
      [label]="'Код назначения платежа (КНП)'"
      [parentForm]="signForm"
      controlName="purpose"
      [customTriggerTemplate]="triggerTemplate"
      [customOptionTemplate]="optionTemplate"
      [displayOption]="displayOption"
      [options]="purposes"
      (inputChange)="searchPurpose($event)"
      (focusin)="getPurposes()"
      (scrolled)="scrollPurpose()"
    ></app-searchable-select>

    <mat-form-field
      [ngClass]="{
                'required': signForm.get('description')?.invalid && signForm.get('description')?.touched,
              }"
      appearance="outline" class="small w-full description-field h-[102px]">
      <textarea
        matInput
        formControlName="description"
        placeholder="Введите назначение платежа"
        maxlength="210"
        style="resize: none"
      ></textarea>
      <span matSuffix class="align-bottom">{{ paymentDescription.length }} / 210</span>
    </mat-form-field>
  </div>

  <div class="mt-[24px]">
    <div class="flex justify-between items-center">

      @if(fromQuery === 'edit-payment' || toQuery === 'edit-template') {
        <div class="flex gap-4">
          <button
            (click)="submit('EDIT')"
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#264796] text-white leading-[20px]"
          >
            Редактировать @if(templateName.length > 0) {<span>шаблон</span>}
          </button>

          <button
            (click)="cancel()"
            appLocationBack
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#DDECFC] text-[#264796] leading-[20px]"
          >Отмена</button>
        </div>
      } @else if (autoPay) {
        <div class="flex gap-4">
          <button
            (click)="submit()"
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#008C79] text-white leading-[20px]"
          >
            Создать автоплатёж
          </button>

          <button
            (click)="cancel()"
            appLocationBack
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#00BFA5] text-[#DDECFC] leading-[20px]"
          >Отмена</button>
        </div>
      }
      @else {
        <div class="flex gap-4">
          @if(fromQuery !== 'templates') {
            <button
              (click)="submit()"
              type="submit"
              class="px-5 py-2.5 rounded-[5px] text-sm bg-[#264796] text-white leading-[20px]"
            >Создать</button>
          }
        </div>

        <div class="flex gap-x-2.5 items-center">

          <button
            (click)="createTemplate()"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#DDECFC] text-[#264796] leading-[20px]"
          >
            <span>Cохранить как шаблон</span>
          </button>
<!--          @if(fromQuery !== 'templates') {-->
<!--            <app-more-actions (selected)="selectAction($event)" ></app-more-actions>-->
<!--          }-->
        </div>
      }

    </div>
  </div>

</div>


<ng-template #triggerTemplate let-selectedValue>
  <div>
    @if(selectedValue) {
      <span>{{ selectedValue.code }} - {{ selectedValue.name }}</span>
    } @else {
      <span>Choose an item...</span>
    }
  </div>
</ng-template>

<ng-template #optionTemplate let-option>
  <div>
    <span>{{ option.code }} - {{ option.name }}</span>
  </div>
</ng-template>


<ng-template #triggerTemplateAccount let-selectedValue>
  <div>
    @if(selectedValue) {
      <span>{{ selectedValue.recipientAccountNumber }}</span>
    } @else {
      <span>Choose an item...</span>
    }
  </div>
</ng-template>

<ng-template #optionTemplateAccount let-option>
  <div>
    <span>{{ option.recipientAccountNumber }}</span>
  </div>
</ng-template>
