<ng-container *transloco="let t">
  @let error = visibleError();
  @let showErrors = (dirty() || touched()) && !!error;
  <nz-form-item>
    <nz-form-control
      [nzValidateStatus]="error | validationStatus: showErrors"
      [nzErrorTip]="showErrors ? t(error | validationMsg: true, { count: errorCount() }) : null"
    >
      <nz-input-otp
        [(ngModel)]="value"
        [id]="id()"
        [nzLength]="6"
        [nzFormatter]="otpFormatter"
        [disabled]="disabled()"
        (blur)="onBlur()"
        (focus)="focusChange.emit()"
        [nzSize]="size()"
        (click)="clicked.emit()"
      />
    </nz-form-control>
  </nz-form-item>
</ng-container>
