<ng-container *transloco="let t">
  @let showErrors = dirty() || touched();
  <nz-form-item>
    <nz-form-control
      [nzValidateStatus]="firstError() | validationStatus: showErrors"
      [nzErrorTip]="showErrors && firstError() ? t(firstError() | validationMsg: true, { count: errorCount() }) : null"
    >
      <nz-input-otp
        [(ngModel)]="value"
        [id]="id()"
        [nzLength]="6"
        [nzFormatter]="otpFormatter"
        [disabled]="disabled()"
        (blur)="onBlur()"
        (focus)="focusChange.emit()"
        [nzSize]="size()"
        (click)="clicked.emit()"
      />
    </nz-form-control>
  </nz-form-item>
</ng-container>
