<div class="flex gap-5 items-start">
  <div class="flex-1 bg-surface-2 rounded-3xl border border-custom-border">
    <div class="flex justify-between items-center border-b border-custom-border p-5">
      <p class="font-semibold text-[18px] text-custom-primary leading-5">{{ store.title() | translate }}</p>

      <div class="rounded-md bg-surface-1 cursor-pointer" (click)="confirmCancelPayrollStatement()">
        <app-icon icon="x" size="24" svgClass="fill-custom-secondary"></app-icon>
      </div>
    </div>

    <app-statement-form></app-statement-form>
  </div>
  <app-salary-statement-summary class="block sticky top-0 w-80" (submit)="onSubmit()"></app-salary-statement-summary>
</div>
