<div class="calculator-modal p-8 rounded-xl bg-white">
  <button
    class="absolute justify-center items-center top-0 rounded-full p-[1.5px] right-0 flex bg-white"
mat-dialog-close
  >
    <mat-icon class="text-base font-bold rounded-full border-[1.5px] border-[#A1A1A1]">close</mat-icon>
  </button>

  <p class="text-center text-[32px] mb-2">Валютный калькулятор</p>
  <p class="text-center text-[#6F7977] text-base">
    Конвертер по курсу Hamkor Bank на сегодня
  </p>

  <div class="flex border-1px border-[#EFF0F2] rounded-xl p-4 mt-8 mb-2">
    <div class="mr-8">
      <div class="flex mb-4">
        <button
          *ngFor="let currency of supportedCurrencies"
          [class.bg-secondary]="selectedFromCurrency === currency.code"
          [class.text-white]="selectedFromCurrency === currency.code"
          (click)="selectCurrency('from', currency.code)"
          class="px-4 py-2 bg-[#EFF0F2] text-[#A1A1A1] rounded-[10px] mr-2"
        >
          {{ currency.name }}
        </button>
      </div>
      <div class="border-1px border-[#EFF0F2] rounded-xl p-4">
        <p class="text-base font-medium mb-2">У меня есть</p>
        <input
          type="text"
          [(ngModel)]="amount"
          (ngModelChange)="calculateConversion()"
          mask="separator.2"
          thousandSeparator=" "
          class="w-full px-3 py-2 border-1px border-secondary rounded-[10px] outline-none font-medium"
        />
      </div>
    </div>
    <div>
      <div class="flex mb-4">
        <button
          *ngFor="let currency of supportedCurrencies"
          [class.bg-secondary]="selectedToCurrency === currency.code"
          [class.text-white]="selectedToCurrency === currency.code"
          (click)="selectCurrency('to', currency.code)"
          class="px-4 py-2 bg-[#EFF0F2] text-[#A1A1A1] rounded-[10px] mr-2"
        >
          {{ currency.name }}
        </button>
      </div>
      <div class="border-1px border-[#EFF0F2] rounded-xl p-4">
        <p class="text-base font-medium mb-2">Хочу приобрести</p>
        <input
          type="text"
          [value]="convertedAmount | number:'1.2-2'"
          readonly
          class="w-full px-3 py-2 border-1px border-secondary rounded-[10px] outline-none font-medium bg-[#F9F9F9]"
        />
      </div>
    </div>
  </div>
  <p class="text-[#6F7977] text-sm max-w-[741px] mb-2">
    Конвертер валют онлайн — инструмент, который позволит вам рассчитать соотношения актуальных курсов денежных
    средств всего мира на сегодня.
  </p>
  <p class="text-[#6F7977] text-sm">Последнее обновление: {{ lastUpdated | date: 'medium' }}</p>
</div>
