<div [formGroup]="signFormBudget" class="bg-surface-2 payment-form relative p-5 gap-5 flex flex-col rounded-xl">
  <form [formGroup]="signFormBudget" class="w-full">
    <div class="flex justify-between items-center border-b pb-4">
      <div class="justify-start text-custom-primary text-lg font-semibold  leading-tight">
        {{ (this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' ||
      this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit' ? 'new.create_to_treasury' :
        'createPayment.to_treasury_alt') | translate }}
      </div>
      <div class="w-[30px] h-[30px] bg-surface-4 flex justify-center items-center rounded-[10px]"><img
        src="assets/new-icons/close.svg" (click)="this.router.navigate(['payment'])" alt="close"></div>
    </div>
    <div (click)="this.openAccount = false; this.isOpen = false; this.openFindPurposes = false"
         *ngIf="this.isOpen || this.openAccount || this.openFindPurposes"
         class="z-10 w-screen h-screen fixed top-0 left-0 right-0 bottom-0"></div>
    <div (click)="this.openFindPurposes = false; this.checkCode()"
         *ngIf="this.openFindPurposes"
         class="z-10 w-screen h-screen fixed top-0 left-0 right-0 bottom-0"></div>
    <div class="grid grid-cols-2 grid-rows-1 gap-4 my-3">
      <div class="w-full flex flex-col gap-3.5">
        <div *ngIf="this.activatedRoute.snapshot.queryParamMap.get('type') !== 'create' && this.activatedRoute.snapshot.queryParamMap.get('type') !== 'edit'"
          (click)="toggleDropdown()"
          [style.border]="isOpen ? '1px solid #008C79' : ''"
          class="relative w-full border border-custom-border bg-surface-4 z-20 h-[56px] flex justify-center cursor-pointer flex-col rounded-[16px]">
              <span *ngIf="!this.templateName"
                    class="text-[#A3A3A3] text-[14px] mx-4  font-normal leading-[18px]"
              >
                {{'new.payment_by_template' | translate}}</span>
          <span *ngIf="this.templateName && this.templateName.length > 0"
                class="text-custom-primary text-[16px] mx-4  font-normal leading-[18px]"
          >
                {{ this.templateName }}</span>
          <img src="./assets/icons/down.png" class=" absolute right-5 top-[24px]" alt="">
          <div
            *ngIf="isOpen"
            @dropdownAnimation
            style="box-shadow: 0 5px 20px 0 #00000040"
            class="origin-top z-50 top-14 max-h-[220px] border border-custom-border overflow-auto absolute left-0 mt-2 w-full rounded-[16px] bg-surface-2"
          >
            @for (template of this.templateList(); track template) {
              <div class="flex cursor-pointer justify-between items-center">
                    <p
                      (click)="this.setTemplateToForm(template)"
                      class="h-[44px] text-custom-secondary text-[16px] w-full px-4 flex items-center ">{{ template.name }}</p>
                <img class="mx-4" *ngIf="this.templateName === template.name" src="./assets/icons/check.svg" alt="">
              </div>
            }
          </div>
        </div>
        <div *ngIf="this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' || this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit'" class="relative w-full ">
          <input
            (input)="this.setTemplateName($event)"
            type="text"
            [value]="this.templateName"
            placeholder=" "
            [ngClass]="{'border-red-500': this.templateError}"
            class="peer border focus:border-[#008C79] bg-surface-2 border-custom-border px-4 w-full
           placeholder:text-transparent text-[14px] text-custom-primary font-medium
           rounded-[16px] h-[56px] outline-none pt-4"
          />

          <span
            class="absolute left-[15px] text-[#A3A3A3] transition-all peer-placeholder-shown:font-medium peer-focus:font-normal
           peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-[14px]
           peer-focus:top-[6px] peer-focus:-translate-y-0 peer-focus:text-[12px]
           top-[6px] text-[12px]"
          >Наименование шаблона
  </span>
          <span *ngIf="this.templateError" class="absolute bottom-[-16px] text-[12px] left-[15px] text-red-500">{{'createPayment.field_required' | translate}}</span>
        </div>
        <div class="flex flex-col p-5 gap-5  bg-surface-4 rounded-[20px] border border-custom-border">
          <p class="text-custom-primary font-semibold uppercase text-[12px]">{{'createPayment.document_info' | translate}}</p>
          <div class="flex gap-5">
            <div class="relative w-full">
              <input
                (input)="this.docNumSubject.next($event)"
                [style.background-color]="this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' || this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit' ? '#F5F5F5' : ''"
                [style.pointer-events]="this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' || this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit' ? 'none' : ''"
                [disabled]="this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' || this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit'"
                 inputmode="numeric"
                 type="text"
                 appNumericOnly
                  maxlength="12"
                formControlName="docNum"
                placeholder=" "
                class="peer border  focus:border-[#008C79]
              font-medium text-custom-primary border-custom-border bg-surface-2 px-4 w-full
              text-[14px] rounded-[16px] h-[56px] outline-none pt-4"
              />
              <span
                class="absolute left-[15px] text-[#A3A3A3] transition-all
                peer-placeholder-shown:font-medium
           peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-[14px]
           peer-focus:top-[8px] peer-focus:-translate-y-0 peer-focus:text-[12px]  peer-focus:font-normal
           top-[8px] text-[12px]"
              >
                {{'createPayment.document_number' | translate}}
            </span>
            </div>
            <!--            <mat-form-field appearance="outline">-->
            <!--              <mat-label>Дата документа</mat-label>-->
            <!--              <input matInput [matDatepicker]="picker" placeholder="Выберите дату">-->
            <!--              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
            <!--              <mat-datepicker #picker></mat-datepicker>-->
            <!--            </mat-form-field>-->

            <!--            <mat-form-field appearance="outline">-->
            <!--              <mat-label>Период</mat-label>-->
            <!--              <mat-date-range-input [rangePicker]="rangePicker">-->
            <!--                <input matStartDate placeholder="Начало">-->
            <!--                <input matEndDate placeholder="Конец">-->
            <!--              </mat-date-range-input>-->
            <!--              <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>-->
            <!--              <mat-date-range-picker #rangePicker></mat-date-range-picker>-->
            <!--            </mat-form-field>-->
            <div
              [style.pointer-events]="this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' || this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit' ? 'none' : ''"
              class="relative w-full cursor-pointer" (click)="picker.open()"
                 [class.focus-within]="signFormBudget.get('docDate')?.value || signFormBudget.get('docDate')?.touched">
              <input
                [min]="minDate()"
                [style.background-color]="this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' || this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit' ? '#F5F5F5' : ''"
                [style.pointer-events]="this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' || this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit' ? 'none' : ''"
                [disabled]="this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' || this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit'"
                type="text"
                formControlName="docDate"
                readonly
                [ngClass]="{
      'border-red-500':
        signFormBudget.get('docDate')?.invalid &&
        signFormBudget.get('docDate')?.touched
    }"
                [matDatepicker]="picker"
                placeholder=" "
                class="peer border  focus:border-[#008C79]
              font-medium text-custom-primary border-custom-border pt-4 bg-surface-2 px-4 w-full
              text-[14px] rounded-[16px] h-[56px] outline-none"
              />
              <!--              <mat-datepicker-toggle class="absolute top-0 left-0" matSuffix [for]="picker"></mat-datepicker-toggle>-->
              <mat-datepicker class="w-full" #picker></mat-datepicker>

              <span
                class="absolute left-[15px] text-[#A3A3A3] transition-all
                peer-placeholder-shown:font-medium
           peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-[14px]
           peer-focus:top-[8px] peer-focus:-translate-y-0 peer-focus:text-[12px]  peer-focus:font-normal
           top-[8px] text-[12px]"
              >
           {{'createPayment.document_date' | translate}}
           </span>
              <img class="absolute right-[20px] top-[15px]" src="./assets/icons/calendar.svg" alt="">
            </div>
          </div>
        </div>
        <div class="flex flex-col  p-5 gap-5  bg-surface-4 rounded-[20px] border border-custom-border">
          <p
            class="text-custom-primary font-semibold uppercase text-[12px]">{{ 'new.invoice_for_payment' | translate }}</p>
          <div (click)="this.openAccount = !this.openAccount" [style.border]="openAccount ? '1px solid #008C79' : ''"
               class="relative cursor-pointer p-5 min-h-[110px] border border-custom-border rounded-[16px] flex justify-between items-center bg-surface-2 w-full">
            <div *ngIf="this.choosedAcount()?.altAcctId" class="flex gap-5 items-center">
              <img class="rounded-full" src="./assets/icons/flag-uz.svg" alt="">
              <div class="flex flex-col gap-[1px]">
                <span [ngClass]="{'!text-[#D1D1D1]': this.activatedRoute.snapshot.queryParamMap.get('isKartoteka') === 'kartoteka' }"  class="text-custom-primary font-semibold text-[18px]">{{
                    Number(this.choosedAcount().balance?.amount) /
                    100 | mask:'separator'
                  }} {{ this.choosedAcount().balance?.currency }}</span>
                <span class="text-custom-muted text-[14px] font-medium">{{ this.choosedAcount().accountType }}</span>
                <p class="text-custom-secondary text-[12px] font-medium">{{ this.choosedAcount().altAcctId }}</p>
                <span *ngIf="this.choosedAcount().status === 'BLOCKED'"
                      class="inline-flex bg-[#FFEBEC] rounded-[6px] items-center w-fit mt-1 gap-1">
                   <img class="ml-1" src="./assets/new-icons/clock.svg" width="12" height="12" alt="">
                   <span class=" text-xs text-[#FB3748] pr-2 font-medium">
                  {{ 'accounts.blocked' | translate }}
                    </span>
                </span>
              </div>
            </div>
            <div *ngIf="!this.choosedAcount()?.altAcctId" class="flex gap-5 items-center">
              <div class="flex flex-col gap-[1px]">
                <span
                  class="text-custom-muted bg-surface-2 font-normal text-[14px]">{{ 'accounts.choose' | translate }}</span>
              </div>
            </div>
            <img *ngIf="this.activatedRoute.snapshot.queryParamMap.get('isKartoteka') !== 'kartoteka'" src="./assets/icons/down.png" class="mx-4" alt="">
            <div *ngIf="openAccount && this.activatedRoute.snapshot.queryParamMap.get('isKartoteka') !== 'kartoteka'" @dropdownAnimation style="box-shadow: 0 5px 20px 0 #00000040"
                 class="origin-top z-50 top-28 max-h-[328px] border border-custom-border overflow-auto absolute left-0 mt-2 w-full rounded-[16px] bg-surface-4">
              @for (account of accounts; track account) {
                <div [ngClass]="{'opacity-30 cursor-not-allowed': account.status === 'BLOCKED'}"
                     class="flex items-center justify-between"
                     (click)="account.status !== 'BLOCKED' ? this.chooseAccFunc(account) : {}">
                  <div class="flex gap-5 items-center p-4">
                    <img class="rounded-full" src="./assets/icons/flag-uz.svg" alt="">
                    <div class="flex flex-col gap-[1px]">
                    <span class="text-custom-primary font-semibold text-[18px]">{{
                        Number(account.balance.amount) / 100 |
                          mask:'separator'
                      }} {{ account.balance?.currency }}</span>
                      <span class="text-custom-secondary text-[14px] font-medium">{{ account.accountType }}</span>
                      <p class="text-custom-muted text-[12px] font-medium">{{ account.altAcctId }}</p>
                    </div>
                  </div>
                  <img class="mx-4"
                       *ngIf="choosedAcount().altAcctId === account.altAcctId && account.status !== 'BLOCKED'"
                       src="./assets/icons/check.svg"
                       alt="">
                  <span *ngIf="account.status === 'BLOCKED'"
                        class="inline-flex bg-[#FFEBEC] mx-3 rounded-[6px] items-center w-fit gap-1">
                   <img class="ml-1" src="./assets/new-icons/clock.svg" width="12" height="12" alt="">
                   <span class=" text-xs text-[#FB3748] pr-2 font-medium">
                  {{ 'accounts.blocked' | translate }}
                    </span>
                 </span>
                </div>
              }
            </div>
          </div>
          <div *ngIf="bronAndReserves().length > 0" class="flex flex-col gap-2">
            <h3 class="text-[12px] font-medium text-custom-primary">Доступные суммы для перевода</h3>
            <div class="flex items-center gap-6">
              <label *ngFor="let list of bronAndReserves()" class="flex items-center gap-1 cursor-pointer select-none text-base">
                <div (click)="checkKartatotka(list.amountType)">
                  <input [formControlName]="list.amountType === 'NEOTLOJKA' ? 'neotlojka' : 'bron'" type="checkbox" class="hidden peer"/>
                  <span class="w-6 h-6 mr-2 flex items-center justify-center rounded-md
           border-2 border-custom-border bg-surface-2
           peer-checked:bg-teal-600 peer-checked:border-transparent
           peer-checked:after:content-[''] peer-checked:after:w-2.5 peer-checked:after:h-1.5
           peer-checked:after:border-l-2 peer-checked:after:border-b-2 peer-checked:after:border-white
           peer-checked:after:rotate-[-45deg]"></span>
                </div>
                <div class="flex flex-col leading-[20px] item-start">
                  <div class="text-nowrap justify-start text-custom-primary text-[14px] font-semibold">
                    {{integerPart(list.amount.amount)}}<span class="text-[14px] font-normal text-custom-primary">.{{ decimalPart(list.amount.amount)}} {{ list.amount.currency }}</span>
                  </div>
                  <div class="flex gap-1 item-end text-center">
                    <span class="text-custom-muted text-[12px] font-medium">{{ list.amountType === 'BRON' ? 'Сумма бронирования' : 'Сумма на неотложные нужды' }}</span>
                    <label
                      class="flex items-center" (click)="openKartoteka2Info(list.amountType)">
                      <img width="16" height="16" src="./assets/new-icons/kart.svg" alt="">
                    </label>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class=" w-full flex flex-col border border-custom-border rounded-[20px] gap-5 p-5 bg-surface-4">
          <h3 class="text-[12px] font-semibold uppercase text-custom-primary">{{'createPayment.recipient' | translate}} <span
            class="text-red-600">*</span></h3>
          <div class="flex gap-5 items-center flex-col" formGroupName="recipient">
            <div class="relative w-full">
              <input
                formControlName="account"
                type="text"
                mask="0000000000000000000000000"
                maxlength="25"
                placeholder=" "
                [value]="signFormBudget.value.recipient.account ?? ''"
                (input)="getReferences($event)"
                [ngClass]="{
      'border-red-500':
        signFormBudget.get('recipient.account')?.invalid &&
        signFormBudget.get('recipient.account')?.touched
    }"
                class="peer border focus:border-[#008C79] border-custom-border bg-surface-2 px-4 w-full
           placeholder:text-transparent text-[14px] text-custom-primary font-medium
           rounded-[16px] h-[56px] outline-none pt-4"
              />
              <span
                class="absolute left-[15px] text-[#A3A3A3] transition-all peer-placeholder-shown:font-medium peer-focus:font-normal
           peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-[14px]
           peer-focus:top-[6px] peer-focus:-translate-y-0 peer-focus:text-[12px]
           top-[6px] text-[12px]"
              >{{'createPayment.treasury_budget_account' | translate}}
  </span>

              <!-- Счётчик символов справа -->
              <span class="absolute right-5 text-[12px] text-[#9799A1] font-normal top-[20px]">
    (25)
  </span>
              <span *ngIf="signFormBudget.get('recipient.account')?.invalid && signFormBudget.get('recipient.account')?.touched" class="absolute bottom-[-18px] text-[12px] left-[15px] text-red-500">{{'createPayment.field_required' | translate}}</span>
            </div>
            <span *ngIf="this.signFormBudget.value.recipient.name && this.signFormBudget.value.recipient.account.length === 25" class="text-[12px] text-black flex w-[97%] m-auto">{{ this.signFormBudget.value.recipient.name }}</span>
          </div>
        </div>

      </div>
      <div class="w-full flex flex-col border border-custom-border rounded-[20px] gap-5 p-5 bg-surface-4">
        <h3 class="text-[12px] font-semibold uppercase text-custom-primary">{{'createPayment.payment_details_alt2' | translate}} <span
          class="text-red-600">*</span></h3>
        <div formGroupName="balance"
             class="relative w-full  flex flex-col">
          <div
            [ngClass]="{'!border-red-500': (signFormBudget.get('balance.amount')?.invalid && signFormBudget.get('balance.amount')?.touched) || balanceErrorOver.length > 0 }"
            class="relative flex w-full mb-[2px] p-[1px]
         focus-within:border-[#008C79]
         rounded-[16px] border border-custom-border">

            <input
              (input)="this.convertAmountIntoWords()"
              (keydown)="this.onAmountKeydown($event)"
              type="text"
              formControlName="amount"
              mask="separator.2"
              placeholder=" "
              class="peer border-0 border-r pt-4 border-custom-border
            bg-surface-2 px-4 w-full text-custom-primary
            placeholder:text-[14px] placeholder:text-[#A3A3A3] placeholder:font-medium
            h-[56px] outline-none rounded-l-[12px]"
            />

            <span
              class="absolute left-[15px] text-[#A3A3A3] transition-all peer-placeholder-shown:font-medium peer-focus:font-normal
           peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-[14px]
           peer-focus:top-[8px] peer-focus:-translate-y-0 peer-focus:text-[12px]
           top-[8px] text-[12px]">
    {{'createPayment.amount' | translate}}
  </span>

            <div
              class="text-[14px] text-custom-primary font-normal bg-surface-2 w-[69px] h-[56px]
           items-center text-center flex justify-center rounded-r-[12px]">
              UZS
            </div>
          </div>
          <span *ngIf="signFormBudget.get('balance.amount')?.invalid && signFormBudget.get('balance.amount')?.touched" class="text-[12px] ml-3  text-red-500">{{'createPayment.field_required' | translate}}</span>
          <span *ngIf="!this.balanceErrorOver"
                class="text-[12px] font-normal text-custom-primary ml-3">{{ amountInWords }}</span>
          <span class="text-[12px] ml-3 text-red-500">{{ this.balanceErrorOver }}</span>
        </div>
        <div class="relative w-full flex flex-col gap-1">
          <input
            (focusin)="this.codeInput = true; this.openFindPurposes = true"
            (focusout)="this.codeInput = false"
            (input)=" this.inputSubject.next($event); this.purposeCodeForCheck = $event"
            mask="00000"
            maxlength="5"
            [value]="this.signFormBudget.value.purpose.code + ' - ' + this.signFormBudget.value.purpose.name"
            type="text"
            placeholder=" "
            [ngClass]="{
          'border-red-500':
            signFormBudget.get('purpose.name')?.invalid &&
            signFormBudget.get('purpose.name')?.touched
          }"
            class="peer relative border pt-4  focus:border-[#008C79]
          border-custom-border bg-surface-2 px-4 w-full
          placeholder:text-[14px] placeholder:text-[#A3A3A3] placeholder:font-medium
          rounded-[16px] h-[56px] outline-none"
          />

          <span
            class="absolute left-[15px] text-[#A3A3A3] peer-placeholder-shown:font-medium peer-focus:font-normal transition-all
           peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-[14px]
           peer-focus:top-[8px] peer-focus:-translate-y-0 peer-focus:text-[12px]
           top-[8px] text-[12px]">
    {{'createPayment.purpose_code' | translate}}
  </span>

          <img
            src="./assets/svg/search.svg"
            alt=""
            class="absolute bg-surface-2 right-[5px] top-[2px] py-[15px] px-[10px] rounded-lg text-[14px] text-[#9799A1] font-normal"
          />
          <span *ngIf="signFormBudget.get('purpose.name')?.invalid && signFormBudget.get('purpose.name')?.touched" class="absolute bottom-[-18px] text-[12px] left-[15px] text-red-500">{{'createPayment.field_required' | translate}}</span>
          <div
            *ngIf="openFindPurposes"
            @dropdownAnimation
            style="box-shadow: 0 5px 20px 0 #00000040"
            class="origin-top z-50 top-14 max-h-[220px] border border-custom-border overflow-auto absolute left-0 mt-2 w-full rounded-[16px] bg-surface-2"
          >
            @for (purpose of this.purposes; track purpose) {
              <div class="flex flex-col cursor-pointer py-[10px] hover:bg-surface-2 px-[16px] items-center"
                   (click)="setValuesToForm('purpose.code', purpose.code, 'text'); setValuesToForm('purpose.name', purpose.name, 'text'); this.openFindPurposes = false">
              <span class=" text-custom-primary font-semibold text-[16px] w-full flex items-center ">{{ purpose.code }}
              </span>
                <span class=" text-[#A3A3A3] leading-[16px] font-normal text-[16px] w-full flex items-center ">
                {{ purpose.name }}
              </span>
                <!--                <img class="mx-4" *ngIf="this.templateName === template.name" src="./assets/icons/check.svg" alt="">-->
              </div>
            }
          </div>
        </div>
        <div
          class="relative w-full flex flex-col gap-1 h-full">
          <span style="width: calc(100% - 18px)"
                class="absolute bg-surface-2 top-[9px] text-[13px] left-[16px] text-[#A3A3A3] font-medium">{{'createPayment.purpose' | translate}}</span>
          <textarea maxlength="450" type="text" formControlName="description"
                    placeholder="{{'createPayment.payment_purpose_description' | translate}}"
                    [ngClass]="{'border-red-500': signFormBudget.get('description')?.invalid && signFormBudget.get('description')?.touched}"
                    class="border h-full  focus:border-[#008C79] border-custom-border px-4 py-8 disabled:bg-[#F3F5F5] bg-surface-2  w-full placeholder:text-[13px] placeholder:text-[#A3A3A3] placeholder:font-normal rounded-[16px] outline-none">
            </textarea>
          <span
            class="absolute bg-surface-2 bottom-[8px] right-[12px] text-[#797B83]">{{ this.signFormBudget.value.description?.length }}
            /450</span>
          <span *ngIf="signFormBudget.get('description')?.invalid && signFormBudget.get('description')?.touched" class="absolute bottom-[-20px] text-[12px] left-[15px] text-red-500">{{'createPayment.field_required' | translate}}</span>
        </div>
        <label *ngIf="bronAndReserves()?.length === 0"  class="flex items-center cursor-pointer select-none text-base">
          <input formControlName="isAnor"
                 type="checkbox" class="hidden peer" />
          <span class="w-6 h-6 bg-surface-2 mr-2 flex items-center justify-center rounded-md
           border border-custom-border
           peer-checked:bg-teal-600 peer-checked:border-transparent
           peer-checked:after:content-[''] peer-checked:after:w-2.5 peer-checked:after:h-1.5
           peer-checked:after:border-l-2 peer-checked:after:border-b-2 peer-checked:after:border-white
           peer-checked:after:rotate-[-45deg]"></span>
          <span class="ml-1 mr-2 text-custom-primary">{{'createPayment.send_via_anor_24_7' | translate}}</span>
          <img src="./assets/icons/help.svg" alt="">
        </label>
      </div>
    </div>
    <div class="mt-6">
      @if (this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit') {
        <div class="flex gap-4 items-center justify-end">
          <button
            class="bg-[#F3F3F3] border  w-[193px] p-2.5 text-[16px]  rounded-[12px] text-[#2C3531] font-medium"
            (click)="closeToTemplate('edit')">{{'createPayment.cancel' | translate}}
          </button>
          <button class="bg-[#008C79] p-2.5 text-[16px] w-[240px] text-[#FFFFFF]  rounded-[12px]  font-medium"
                  (click)="editTemplate()">{{'new.save_changes' | translate}}
          </button>
        </div>
      } @else {
        <div class="flex justify-between items-center">
          <div class="flex gap-8 items-center opacity-0 select-none">
            <label class="flex items-center cursor-pointer select-none text-base">
              <input type="checkbox" class="hidden peer" />
              <span
                class="w-6 h-6 mr-2 flex items-center justify-center rounded-md
           border border-gray-300
           peer-checked:bg-teal-600 peer-checked:border-transparent
           peer-checked:after:content-[''] peer-checked:after:w-2.5 peer-checked:after:h-1.5
           peer-checked:after:border-l-2 peer-checked:after:border-b-2 peer-checked:after:border-white
           peer-checked:after:rotate-[-45deg]"
              ></span>
              <span class="ml-1 mr-2">{{'new.booking_account' | translate}}</span>
              <img src="./assets/icons/help.svg" alt="">
            </label>
            <label class="flex items-center cursor-pointer select-none text-base">
              <input type="checkbox" class="hidden peer" />
              <span
                class="w-6 h-6 mr-2 flex items-center justify-center rounded-md
           border border-gray-300
           peer-checked:bg-teal-600 peer-checked:border-transparent
           peer-checked:after:content-[''] peer-checked:after:w-2.5 peer-checked:after:h-1.5
           peer-checked:after:border-l-2 peer-checked:after:border-b-2 peer-checked:after:border-white
           peer-checked:after:rotate-[-45deg]"
              ></span>
              <span class="ml-1 mr-2">{{'new.undeferred_needs_account' | translate}}</span>
              <img src="./assets/icons/help.svg" alt="">
            </label>
          </div>
          <div *ngIf="this.activatedRoute.snapshot.queryParamMap.get('type') !== 'create' && this.activatedRoute.snapshot.queryParamMap.get('mode') !== 'transaction'" class="flex gap-4 items-center justify-end">
            <button
              class="bg-surface-4 border border-custom-border w-[193px] p-2.5 text-[16px]  rounded-[12px] text-custom-primary font-medium"
              (click)="this.templateCreateModal = true">{{'templates.create_template' | translate}}
            </button>
            <button class="bg-[#008C79] p-2.5 text-[16px] w-[193px] text-[#FFFFFF]  rounded-[12px]  font-medium"
                    (click)="submit()">{{'new.create_a_payment' | translate}}
            </button>
          </div>
          <div *ngIf="this.activatedRoute.snapshot.queryParamMap.get('type') === 'create' || this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit' || this.activatedRoute.snapshot.queryParamMap.get('mode') === 'transaction'" class="flex gap-4 items-center justify-end">
            <button
              class="bg-surface-4 border border-custom-border w-[193px] p-2.5 text-[16px]  rounded-[12px] text-custom-primary font-medium"
              (click)="closeToTemplate(this.activatedRoute.snapshot.queryParamMap.get('type') === 'edit' ? 'edit' : 'create')">{{'createPayment.cancel' | translate}}
            </button>
            <button class="bg-[#008C79] p-2.5 text-[16px] w-[193px] text-[#FFFFFF]  rounded-[12px]  font-medium"
                    (click)="this.activatedRoute.snapshot.queryParamMap.get('mode') === 'transaction' ?
                    editTransaction() : createTemplate()">{{'createPayment.save' | translate}}
            </button>
          </div>
        </div>
      }
    </div>
    <div
      *ngIf="templateCreateModal"
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
      (click)="templateCreateModal = false"
    >
      <div
        class="bg-surface-2 rounded-[42px] shadow-lg w-full max-w-lg mx-4 px-9 pb-9 pt-18 relative"
        (click)="$event.stopPropagation()"
      >
        <img (click)="this.templateCreateModal = false" class="absolute cursor-pointer w-[15px] h-[15px] top-[30px] right-[25px]" src="./assets/new-icons/close.svg" alt="">
        <div class="flex justify-center flex-col items-start py-4 mt-8">
          <h3 class="text-[32px] text-[#00A38D]  font-bold">{{'createPayment.save_template' | translate}}</h3>
          <span class="text-[#A3A3A3] text-[16px]">{{'new.once_saved_this_template_will_appear_in_the_templa' | translate}}</span>
        </div>

        <div class="flex flex-col gap-4 items-center text-center">
          <input
            type="text"
            (input)="this.setTemplateName($event)"
            [value]="this.templateName"
            [ngClass]="{'border-red-500': this.templateError}"
            placeholder="{{'new.enter_template_name' | translate}}"
            class="border bg-surface-2 border-custom-border focus:border-[#008C79]
           px-4 w-full text-[14px] placeholder:text-[14px] placeholder:text-[A3A3A3] placeholder:font-medium text-custom-primary font-medium
           rounded-[16px] h-[56px] outline-none"
          />
          <div class="flex gap-1 items-center w-full">
            <button class="bg-[#F5F5F5] w-full outline-none rounded-[12px] text-[#000000] h-[48px]"
                    (click)="this.templateCreateModal = false">{{'createPayment.cancel' | translate}}</button>
            <button class="bg-[#00A38D] w-full outline-none rounded-[12px] text-white h-[48px]"
                    (click)="this.createTemplate()">{{'createPayment.save' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--<div class="w-full flex flex-col gap-4">-->
<!--  <app-container-nav [navs]="navs"></app-container-nav>-->
<!--  <app-container-title subTitle="Функция позволяет инициировать перевод средств на счёт или карту по заданным параметрам" title="В казначейство"></app-container-title>-->
<!--  <div class="w-full flex h-full gap-4">-->
<!--    <form [formGroup]="signForm" class="w-full">-->
<!--      <div class="flex flex-col p-[24px] gap-4 bg-surface-2 rounded-[16px] w-full">-->
<!--        <div class="flex flex-col gap-1" formGroupName="sender">-->
<!--          <p>Счёт для оплаты</p>-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-select formControlName="account" placeholder="Выберите счет">-->
<!--              @for (account of accounts; track account) {-->
<!--                <mat-option [value]="account">{{ account.account + ' - ' + ((account.saldo !== undefined ? account.saldo.amount : 0) / 100).toLocaleString('ru') + ' ' + account?.saldo?.currency }}</mat-option>-->
<!--              }-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--          &lt;!&ndash;        <div class="w-full flex flex-col gap-[10px]">&ndash;&gt;-->
<!--          &lt;!&ndash;          @if (this.selectedAccount) {&ndash;&gt;-->
<!--          &lt;!&ndash;            <div&ndash;&gt;-->
<!--          &lt;!&ndash;              (click)="openChooseAccountClick()"&ndash;&gt;-->
<!--          &lt;!&ndash;              class="mb-6 w-full border justify-between border-custom-border flex h-[76px] m-auto items-center px-5 cursor-pointer rounded-[16px]">&ndash;&gt;-->

<!--          &lt;!&ndash;              <div class="flex gap-3 items-center">&ndash;&gt;-->
<!--          &lt;!&ndash;                <img src="./assets/svg/FlagUz.svg" alt="">&ndash;&gt;-->
<!--          &lt;!&ndash;                <div class="flex flex-col">&ndash;&gt;-->
<!--          &lt;!&ndash;                  <span class="text-[#008C79] text-[16px]">{{ this.selectedAccount.accountType }}</span>&ndash;&gt;-->
<!--          &lt;!&ndash;                  <span class="text-[#2C3531] font-medium">{{ this.selectedAccount.altAcctId }}</span>&ndash;&gt;-->
<!--          &lt;!&ndash;                </div>&ndash;&gt;-->
<!--          &lt;!&ndash;              </div>&ndash;&gt;-->
<!--          &lt;!&ndash;              <div class="flex gap-3 items-center">&ndash;&gt;-->
<!--          &lt;!&ndash;                <p&ndash;&gt;-->
<!--          &lt;!&ndash;                  class="text-[#2C3531] text-[16px] font-medium">{{ Number(this?.selectedAccount?.balance.amount) / 100 | mask:'separator' }}&ndash;&gt;-->
<!--          &lt;!&ndash;                  ,{{ (Number(this?.selectedAccount?.balance.amount) % 100).toString().padStart(2, '0') }} UZS</p>&ndash;&gt;-->
<!--          &lt;!&ndash;                <img src="./assets/icons/down.png" alt="">&ndash;&gt;-->
<!--          &lt;!&ndash;              </div>&ndash;&gt;-->
<!--          &lt;!&ndash;            </div>&ndash;&gt;-->
<!--          &lt;!&ndash;          }&ndash;&gt;-->
<!--          &lt;!&ndash;          @if (!this.selectedAccount) {&ndash;&gt;-->
<!--          &lt;!&ndash;            <div&ndash;&gt;-->
<!--          &lt;!&ndash;              (click)="openChooseAccountClick()"&ndash;&gt;-->
<!--          &lt;!&ndash;              class="mb-6 w-full border justify-between border-custom-border flex h-[76px] m-auto items-center px-5 cursor-pointer rounded-[16px]">&ndash;&gt;-->

<!--          &lt;!&ndash;              <div class="flex gap-3 items-center">&ndash;&gt;-->
<!--          &lt;!&ndash;                <p>Выберите аккаунт для оплаты</p>&ndash;&gt;-->
<!--          &lt;!&ndash;              </div>&ndash;&gt;-->
<!--          &lt;!&ndash;              <div class="flex gap-3 items-center">&ndash;&gt;-->
<!--          &lt;!&ndash;                &lt;!&ndash;                <p class="text-[#2C3531] text-[16px] font-medium">{{ Number(this?.selectedAccount?.balance.amount) / 100 | mask:'separator' }},{{ (Number(this?.selectedAccount?.balance.amount) % 100).toString().padStart(2, '0') }} UZS</p>&ndash;&gt;&ndash;&gt;-->
<!--          &lt;!&ndash;                <img src="./assets/icons/down.png" alt="">&ndash;&gt;-->
<!--          &lt;!&ndash;              </div>&ndash;&gt;-->
<!--          &lt;!&ndash;            </div>&ndash;&gt;-->
<!--          &lt;!&ndash;          }&ndash;&gt;-->
<!--          &lt;!&ndash;        </div>&ndash;&gt;-->

<!--        </div>-->
<!--        <h3 class="text-[18px] text-[#2C3531] font-medium">Получатель <b class="text-red-600">*</b></h3>-->
<!--        <div class="flex gap-3">-->
<!--          <div formGroupName="budget"-->
<!--               class="relative w-full  flex flex-col gap-1">-->
<!--              <span class="text-[14px] font-medium text-[#2C3531] leading-[18px]"-->
<!--              >Казначейский бюджетный счёт</span>-->
<!--            <input (input)="getReferences($event)" formControlName="account" type="number" mask="0000000000000000000000000"-->
<!--                   [ngClass]="{'border-red-500': signForm.get('budget.account')?.invalid && signForm.get('budget.account')?.touched}"-->
<!--                   maxlength="27" [value]="this.signForm.value.budget.account ?? ''"-->
<!--                   placeholder="Введите номер счёта"-->
<!--                   class="relative border focus:shadow-[0px_0px_2px_4px_#0099851A] focus:border-[#008C79] border-custom-border bg-surface-2 px-4  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] h-[56px] outline-none">-->
<!--            <span class="absolute right-5 text-[12px] text-[#9799A1] font-normal top-[42px]">(25)</span>-->
<!--          </div>-->
<!--          <div-->
<!--            class="relative w-full  flex flex-col gap-1">-->
<!--              <span class="text-[14px] opacity-0 font-medium text-[#2C3531] leading-[18px]"-->
<!--              >-->
<!--                ИНН</span>-->
<!--            <input type="text" [value]="purposeDetails !== null ? purposeDetails.recipientName : ''" [disabled]="true" placeholder=""-->
<!--                   class="border border-custom-border disabled:bg-[#F3F5F5] bg-surface-2 px-4  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] h-[56px] outline-none">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="flex gap-3">-->
<!--          <div class="relative w-full  flex flex-col gap-1">-->
<!--              <span class="text-[14px] font-medium text-[#2C3531] leading-[18px]"-->
<!--              >Регион</span>-->
<!--            <input [value]="purposeDetails !== null ? purposeDetails.soatoDetail.regionCode : ''" [disabled]="true" class="relative border focus:shadow-[0px_0px_2px_4px_#0099851A] focus:border-[#008C79]  border-custom-border px-4  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] h-[56px] outline-none">-->
<!--          </div>-->
<!--          <div-->
<!--            class="relative w-full  flex flex-col gap-1">-->
<!--              <span class="text-[14px] opacity-0 font-medium text-[#2C3531] leading-[18px]"-->
<!--              >-->
<!--                ИНН</span>-->
<!--            <input type="text" [disabled]="true" [value]="purposeDetails !== null ? this.purposeDetails.soatoDetail.regionName : ''"  placeholder=""-->
<!--                   class="border border-custom-border disabled:bg-[#F3F5F5] px-4  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] h-[56px] outline-none">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="flex gap-3">-->
<!--          <div class="relative w-full  flex flex-col gap-1">-->
<!--              <span class="text-[14px] font-medium text-[#2C3531] leading-[18px]"-->
<!--              >Соато</span>-->
<!--            <input [value]="purposeDetails !== null ? this.purposeDetails.soatoDistrictCode : ''" [disabled]="true" class="relative border focus:shadow-[0px_0px_2px_4px_#0099851A] focus:border-[#008C79]  border-custom-border px-4  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] h-[56px] outline-none">-->
<!--          </div>-->
<!--          <div-->
<!--            class="relative w-full  flex flex-col gap-1">-->
<!--              <span class="text-[14px] opacity-0 font-medium text-[#2C3531] leading-[18px]"-->
<!--              >-->
<!--                ИНН</span>-->
<!--            <input type="text"  [value]="purposeDetails !== null ? this.purposeDetails.soatoDetail.districtName : ''" [disabled]="true" placeholder=""-->
<!--                   class="border border-custom-border disabled:bg-[#F3F5F5] bg-surface-2 px-4  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] h-[56px] outline-none">-->
<!--          </div>-->
<!--        </div>-->
<!--        <h3 class="text-[18px] text-[#2C3531] font-medium">Данные о платеже <b class="text-red-600">*</b></h3>-->
<!--        <div-->
<!--          class="relative w-full  flex flex-col gap-1">-->
<!--              <span class="text-[14px] font-medium text-[#2C3531] leading-[18px]"-->
<!--              >-->
<!--                {{'createPayment.amount' | translate}}</span>-->
<!--          <input-->
<!--            [ngClass]="{'!border-red-500': (signForm.get('amount')?.invalid && signForm.get('amount')?.touched) || balanceErrorOver.length > 0}"-->
<!--            formControlName="amount"-->
<!--            (input)="convertAmountIntoWords()"-->
<!--            type="text"-->
<!--            mask="separator.2"-->
<!--            placeholder="0.00 UZS"-->
<!--            class="border focus:shadow-[0px_0px_2px_4px_#0099851A] focus:border-[#008C79] border-custom-border bg-surface-2 px-4  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] h-[56px] outline-none">-->
<!--          <span class="absolute bottom-[-20px] text-[14px] text-[#2C3531]">{{ amountInWords }}</span>-->
<!--          <span class="absolute bottom-[-20px] text-[14px] right-0 text-red-500">{{ balanceErrorOver }}</span>-->
<!--        </div>-->
<!--        <div formGroupName="purpose" class="flex gap-3 mt-5 items-center">-->
<!--          <div-->
<!--            class="relative w-full flex flex-col gap-1">-->
<!--              <span class="text-[14px] font-medium text-[#2C3531] leading-[18px]"-->
<!--              >Код назначения</span>-->
<!--            <input-->
<!--              readonly-->
<!--              [value]="signForm.value.purpose.purposeCode"-->
<!--              (focusin)="this.codeInput = true" (focusout)="this.codeInput = false"-->
<!--              (input)="this.searchPurpose($event)"-->
<!--              [ngClass]="{'border-red-500': signForm.get('purpose.purposeCode')?.invalid && signForm.get('purpose.purposeCode')?.touched}"-->
<!--              mask="00000" maxlength="5" type="text" placeholder="Введите или выберите код"-->
<!--              class="relative border focus:shadow-[0px_0px_2px_4px_#0099851A] focus:border-[#008C79] border-custom-border bg-surface-2 px-4  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] h-[56px] outline-none">-->
<!--            &lt;!&ndash;            <span [ngClass]="this.codeInput ? '!text-[#008C79] font-medium' : ''"&ndash;&gt;-->
<!--            &lt;!&ndash;                  class="absolute bg-surface-2 right-5 text-[14px] text-[#9799A1] font-normal top-[40px]">F9</span>&ndash;&gt;-->
<!--            <img src="./assets/svg/search.svg" alt="" class="absolute bg-surface-2 right-5 text-[14px] text-[#9799A1] font-normal top-[40px]">-->
<!--          </div>-->
<!--          <div-->
<!--            class="relative w-full  flex flex-col gap-1">-->
<!--              <span class="text-[14px]  font-medium text-[#2C3531] leading-[18px]"-->
<!--              >-->
<!--                Назначение</span>-->
<!--            <input formControlName="name" type="text" [disabled]="true" placeholder="введите назначение"-->
<!--                   [ngClass]="{'border-red-500': signForm.get('purpose.name')?.invalid && signForm.get('purpose.name')?.touched}"-->
<!--                   class="border border-custom-border disabled:bg-[#F3F5F5] bg-surface-2 px-4  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] h-[56px] outline-none">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div  class="flex gap-3 mt-5 items-center">-->
<!--          <div-->
<!--            class="relative w-full flex flex-col gap-1">-->
<!--              <span class="text-[14px]  font-medium text-[#2C3531] leading-[18px]"-->
<!--              >-->
<!--                Детали платежа</span>-->
<!--            <textarea maxlength="450" type="text" formControlName="detail" placeholder="Введите детали платежа"-->
<!--                      [ngClass]="{'border-red-500': signForm.get('detail')?.invalid && signForm.get('detail')?.touched}"-->
<!--                      class="border h-[200px] border-custom-border p-4 disabled:bg-[#F3F5F5] bg-surface-2  w-full placeholder:text-[16px] placeholder:text-[#9799A1] placeholder:font-normal rounded-[12px] outline-none">-->
<!--            </textarea>-->
<!--            <span class="absolute bg-surface-2 bottom-[5px] right-[10px]">{{ this.signForm.value.detail?.length }}/450</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;        <div class="flex flex-col rounded-[16px] gap-2 p-[20px] border border-custom-border">&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="flex justify-between items-start">&ndash;&gt;-->
<!--        &lt;!&ndash;            <div class="flex flex-col">&ndash;&gt;-->
<!--        &lt;!&ndash;              <h3 class="text-[16px] font-semibold text-[#2C3531]">Платёжное поручение в бюджет</h3>&ndash;&gt;-->
<!--        &lt;!&ndash;              <span class="text-[#9799A1] font-normal text-[12px]">Номер и дата будут сгенерированы автоматически</span>&ndash;&gt;-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            <h3 class="text-[16px] font-normal text-[#2C3531]">№ 120 от 05.06.2025</h3>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;          <span class="text-[#008C79] text-[14px] font-medium">Изменить</span>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        <label for="fast-input" class="flex gap-2 items-center select-none cursor-pointer">&ndash;&gt;-->
<!--        &lt;!&ndash;          <input type="checkbox" id="fast-input" class="">&ndash;&gt;-->
<!--        &lt;!&ndash;          <span>Списание со счёта неотложных нужд</span>&ndash;&gt;-->
<!--        &lt;!&ndash;        </label>&ndash;&gt;-->
<!--        <div class="flex gap-4 items-center justify-end">-->
<!--          <button class="bg-[#F2F2F4]  w-[240px] p-2.5 text-[16px]  rounded-[40px] text-[#2C3531] font-medium ">Отмена</button>-->
<!--          <button class="bg-[#FFFFFF]  w-[240px] border border-[#008C79] p-2.5 text-[16px]  rounded-[40px] text-[#2C3531] font-medium " (click)="createTemplate()">Сохранить как шаблон</button>-->
<!--          <button class="bg-[#008C79]  w-[240px] p-2.5 text-[16px] text-[#FFFFFF]  rounded-[40px]  font-medium " (click)="submit()">{{'new.create_a_payment' | translate}}</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
