<div class="flex flex-col space-y-4 h-full">
  <div class="self-stretch w-full bg-white rounded-2xl inline-flex flex-col justify-center items-start overflow-hidden">
    <div class="self-stretch p-6 inline-flex justify-start items-center gap-4">
      <div class="text-[#2C3531] text-xl font-semibold leading-loose">Рекомендуется для вас</div>
      <div class="flex-1 flex justify-start items-center">
        <div class="flex-1 h-0 outline outline-1 outline-offset-[-0.50px] outline-[#ECECED]"></div>
        <button
          class="pl-4 pr-2 py-1 rounded-full outline outline-1 outline-offset-[-1px] outline-[#ECECED] flex justify-center items-center gap-1"
          (click)="toggle()"
        >
          <div class="text-[#9799A1] text-sm font-normal leading-tight">
            {{ isOpen() ? 'Скрыть' : 'Показать' }}
          </div>
          <img
            [src]="isOpen() ? './assets/svg/chevron-up.svg' : './assets/svg/chevron-down-1.svg'"
            alt="toggle icon"
          />
        </button>
      </div>
    </div>
    <div *ngIf="isOpen()" @expandCollapse class="pb-4 px-6 overflow-auto w-full ">
      <div class="flex gap-3 overflow-auto" appScrollable>
        @for (banner of banners; track banner) {
          <div
            class="flex h-[86px] min-w-[320px] items-center p-4 rounded-[13px] justify-between bg-[rgba(0,153,255,0.1)]">
            <div class="flex flex-col">
              <span class="text-[14px] text-[#2C3531] font-semibold leading-5">{{ banner.title }}</span>
              <span class="text-[14px] font-normal text-[#9B9C9F] leading-5">{{ banner.subtitle }}</span>
            </div>
            <img src="{{banner.image}}" alt="#">
          </div>
        }
      </div>
    </div>

  </div>
  <div class="grid grid-cols-4 gap-4">
    <div class="col-span-2">
      <app-balance
        [balanceData]="this.balanceData()"
        [balanceDataRUB]="this.balanceDataRUB()"
        [balanceDataUSD]="this.balanceDataUSD()"
        [balanceDataCHF]="this.balanceDataCHF()"
        [balanceDataEUR]="this.balanceDataEUR()"
        [balanceDataGBP]="this.balanceDataGBP()"
        (onSettings)="openBalanceSettings()"
        [balanceSettings]="balanceSettings"/>
    </div>
    <div class="col-span-1">
      <app-exchange></app-exchange>
    </div>
    <div class="col-span-1">
      <div class="p-6 bg-white rounded-2xl flex flex-col h-full  gap-4">
        <div class="self-stretch flex flex-col justify-start items-start gap-2">
          <div class="self-stretch inline-flex justify-start items-start gap-5">
            <div class="flex-1 justify-start text-[#2C3531] text-xl font-semibold  leading-loose">Операционный день:</div>
          </div>
          <div class="self-stretch inline-flex justify-between items-center">
            <div class="justify-center text-titleColor-Title-color text-base font-semibold  leading-normal">{{ this.operDaYTime().operday }}
            </div>
            <div
              class="h-5 px-2.5 bg-[rgba(39,174,96,0.1)] rounded-[10px] flex justify-start items-center gap-1.5">
              <div class="flex justify-start items-start gap-2.5">
                <div class="text-center justify-start text-[#27AE60] text-xs font-medium  leading-none">Открыт</div>
              </div>
            </div>
          </div>
        </div>
        <div class="self-stretch h-0 outline outline-1 outline-offset-[-0.50px] outline-[#ECECED]"></div>
        <div class="self-stretch rounded-2xl flex flex-col justify-center items-start gap-2">
          <div class="self-stretch flex flex-col justify-start items-start gap-1">
            <div class="self-stretch justify-start text-[#2C3531] text-base font-medium  leading-tight">Межбанковские
              платежи до
            </div>
            <div class="self-stretch inline-flex justify-start items-center gap-2">
              <div class="justify-start text-[#008C79] text-lg font-medium  leading-7">{{ operDaYTime().interbank }}</div>
<!--              <div class="justify-start text-[#9799A1] text-base font-normal  leading-snug">/</div>-->
<!--              <div class="justify-start text-[#9799A1] text-sm font-normal  leading-tight">01:05:59</div>-->
            </div>
          </div>
          <div class="self-stretch h-0 outline outline-1 outline-offset-[-0.50px] outline-[#ECECED]"></div>
          <div class="self-stretch flex flex-col justify-start items-start gap-1">
            <div class="self-stretch justify-start text-[#2C3531] text-base font-medium  leading-tight">Межфилиальные
              платежи до
            </div>
            <div class="self-stretch inline-flex justify-start items-center gap-2">
              <div class="justify-start text-[#008C79] text-lg font-medium  leading-7">{{ operDaYTime().interbranch }}</div>
<!--              <div class="justify-start text-[#9799A1] text-base font-normal  leading-snug">/</div>-->
<!--              <div class="justify-start text-[#9799A1] text-sm font-normal  leading-tight">05:05:59</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-account-card-credit (openAccountListPupUp)="openChooseAccountClick()" (accountRequisite)="getInfo($event)"  [accounts]="accounts()" [isLoading]="isLoading()" />
  <div class="flex bg-white p-6 rounded-xl gap-4 flex-col justify-center">
    <div class="text-[20px] font-semibold leading-[30px] text-[#2C3531]">Последние операции</div>
    <div class="relative w-full">
      <div class="-mx-6">
        <div class="border-b border-[#E0E0E0]">
          <div class="flex justify-between items-end pb-2 px-6">
            <div class="flex space-x-6">
              <ng-container *ngFor="let tab of transactionTabs(); let i = index">
                <button
                  (click)="getTransactionHistory(i)"
                  class="relative text-sm font-medium leading-[18px]"
                  [ngClass]="{
              'text-[#008C79]': activeTransactions() === i,
              'text-[#2C3531]': activeTransactions() !== i
            }"
                >
                  {{ tab }}
                  <span
                    *ngIf="activeTransactions() === i"
                    class="absolute -bottom-2 left-0 w-full h-[2px] bg-[#008C79] rounded-tr-3xl rounded-tl-3xl transition-all duration-300"
                  ></span>
                </button>
              </ng-container>
            </div>
            <button class="text-sm flex items-center text-[#007AFF] font-medium leading-4 hover:underline">
              Посмотреть все
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#007AFF" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </button>
          </div>

        </div>
      </div>
      <div class="my-4">
        <ng-container>
<!--          <app-table-actions [tableActionBtns]="tableActionBtns()" (onClick)="onActionClick($event)" />-->
          @switch (activeTransactions()) {
            @case (0) {
              <app-container-table
                [columns]="DashboardTableColumnsHeaders"
                [data]="this.transactionHistory()"
                [numbering]="true"
                [checkable]="true"
                [custom]="true"
                (selectedRows)="onSelectedRows($event)"
              ></app-container-table>
            }
            @case (1) {
              <app-container-table
                [columns]="DashboardTableColumnsHeaders"
                [data]="this.transactionHistory()"
                [numbering]="true"
                [checkable]="true"
                [custom]="true"
                (selectedRows)="onSelectedRows($event)"
              ></app-container-table>
            }
            @case (2) {
              <app-container-table
                [columns]="DashboardTableColumnsHeaders"
                [data]="this.transactionHistory()"
                [numbering]="true"
                [checkable]="true"
                [custom]="true"
                (selectedRows)="onSelectedRows($event)"
              ></app-container-table>

            }
            @case (3) {
              <app-container-table
                [columns]="DashboardTableColumnsHeaders"
                [data]="[]"
                [numbering]="true"
                [custom]="true"
                [checkable]="true"
                (selectedRows)="onSelectedRows($event)"
              ></app-container-table>

            }
          }
        </ng-container>
      </div>
    </div>

  </div>
</div>
