<label class="flex items-center cursor-pointer select-none" [ngClass]="sizeStyles.label">
  <input type="checkbox" class="hidden peer" [(ngModel)]="value" (change)="onChangeEvent($event)"
    [disabled]="disabled" />
  <span [ngClass]="sizeStyles.checkbox" class="mr-2 flex items-center justify-center rounded-md border border-gray-300
 
        peer-checked:bg-teal-600 peer-checked:border-transparent
        peer-checked:after:content-[''] peer-checked:after:block peer-checked:after:border-l-2 peer-checked:after:border-b-2
        peer-checked:after:border-white peer-checked:after:rotate-[-45deg] peer-checked:after:mb-[2px]"></span>
  <span class="ml-1 mr-2" [style.color]="labelColor" [ngClass]="sizeStyles.text">{{ label }}</span>
  <!-- <img *ngIf="showIcon" src="./assets/icons/help.svg" alt="Help icon" [ngClass]="sizeStyles.icon" /> -->
</label>