<div class="flex gap-x-5 items-center justify-between">
  <mat-form-field class="small w-full" appearance="outline">
    <mat-label>Ещё действия</mat-label>
    <mat-select>
      @for (action of actions; track action.id) {
        <mat-option
          [ngClass]="{ '!cursor-not-allowed': action?.disabled }"
          [disabled]="action?.disabled"
          (click)="selectAction(action)"
          [value]="action.id">{{ action.title }}
        </mat-option>
      }
    </mat-select>

    <mat-icon matSuffix>
      <img ngSrc="./assets/svg/chevron-down.svg" class="rotate-90" alt="chevron" width="24" height="24">
    </mat-icon>
  </mat-form-field>

  <button
    class="px-5 py-2.5 rounded-[5px] bg-[#008C79] text-[14px] leading-[22px] text-white"
    (click)="send()"
  >
    Подтвердить
  </button>
</div>
