@import 'mixins';
@import 'colors';

.tag {
  white-space: wrap;
  padding: 8px;
  border-radius: 8px;
  margin: 0;

  &.warning {
    background: #fffaeb;
  }

  &.success {
    background: #e0faec;
  }

  &.decline {
    background: #ffebec;
  }
}
