<div class="p-[30px] bg-white rounded-3xl w-[390px] flex flex-col justify-center items-center">
  <img src="{{data.img}}" alt="img" width="64" height="64">
  <div class="mt-4 text-[#2C3531] text-xl font-semibold leading-7">{{data.title}}</div>
  <div class="text-[#9799A1] text-center text-[16px] leading-6 font-normal">{{data.desc}}</div>
 <div class="flex flex-col space-y-2 mt-10 w-full">
   <button class="bg-[#008C79] h-[52px] py-2.5 px-4 justify-center items-center  rounded-[40px] flex text-[16px] text-white font-medium leading-5">Да</button>
   <button mat-dialog-close class="bg-[#F2F2F4] h-[52px] py-2.5 px-4 justify-center items-center  rounded-[40px] flex text-[16px] text-[#2C3531] font-medium leading-5">Нет</button>
 </div>
</div>
