<div class="min-h-screen">
  <div routerLink="/loan/main" class="flex items-center py-3 mt-2 cursor-pointer">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20 12H4M4 12L10 18M4 12L10 6" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="text-custom-primary"/>
    </svg>
    <span class="text-md font-medium pl-2 text-custom-primary">{{'global.back' | translate}}</span>
  </div>

  <h1 class="text-[28px] font-bold text-custom-primary my-10">{{'new_loan.payment_schedule_1' | translate}}</h1>

  <div class="bg-surface-2 rounded-2xl shadow-sm overflow-hidden" >
    <div class="overflow-x-auto">

      <table class="w-full table-fixed">
        <thead class="sticky top-0 z-10 bg-surface-2">
          <tr class="border-b border-gray-100">
            <th class="py-4 px-6 text-left w-12"></th>
            <th class="py-4 px-4 text-left">
              <button class="flex items-center gap-1.5 text-sm font-medium text-custom-secondary hover:text-gray-800 transition-colors">
                <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                {{'new_loan.status' | translate}}
              </button>
            </th>
            <th class="py-4 px-4 text-left">
              <button class="flex items-center gap-1.5 text-sm font-medium text-custom-secondary hover:text-gray-800 transition-colors">
                <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                {{'new_loan.payment_date' | translate}}
              </button>
            </th>
            <th class="py-4 px-4 text-left">
              <button class="flex items-center text-left  gap-1.5 text-sm font-medium text-custom-secondary hover:text-gray-800 transition-colors">
                <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                {{'new_loan.amount_to_maturity' | translate}}
              </button>
            </th>
            <th class="py-4 px-4 text-left">
              <button class="flex items-center text-left gap-1.5 text-sm font-medium text-custom-secondary hover:text-gray-800 transition-colors">
                <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
          {{'new_loan.recommended_payment' | translate}}

              </button>
            </th>
            <th class="py-4 px-4 text-left">
              <button class="flex items-center text-left gap-1.5 text-sm font-medium text-custom-secondary hover:text-gray-800 transition-colors">
                <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
        {{'new_loan.principal_amount' | translate}}
              </button>
            </th>
            <th class="py-4 px-4 text-left">
              <button class="flex items-center text-left gap-1.5 text-sm font-medium text-custom-secondary hover:text-gray-800 transition-colors">
                <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
           {{'new_loan.interest_amount' | translate}}
              </button>
            </th>
               <th class="py-4 px-4 text-left">
              <button class="flex items-center text-left gap-1.5 text-sm font-medium text-custom-secondary hover:text-gray-800 transition-colors">
                <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
               {{'new_loan.amount_after_repayment' | translate}}
              </button>
            </th>

          </tr>
        </thead>
      </table>

      <div class="overflow-y-auto max-h-[50vh]">
        <table class="w-full table-fixed">
          <tbody>
            @for (item of scheduleData()?.items; track $index) {
              @let scheduled = formatAmount(item.recommendedAmount.amount, item.recommendedAmount.scale);
              @let principal = formatAmount(item.principalBalance.amount, item.principalBalance.scale);
              @let interest = formatAmount(item.interestOnTermDebt.amount, item.interestOnTermDebt.scale);
              @let remaining = formatAmount(item.saldo.amount, item.saldo.scale);
              @let amount = formatAmount(item.amount.amount,item.amount.scale);
   
              <tr class=" hover:bg-s transition-colors ">
                <td class="py-5 px-6 text-sm leading-[18px] text-custom-muted w-12">
                  {{ ($index + 1) | number:'2.0-0' }}
                </td>
                <td class="py-5 px-4">
                  <div class="flex items-center gap-2">
                     <app-svg-icon class="text-[#1FC16B]" [size]="12" name="hamkor_done_success"></app-svg-icon>
                      <span class="text-xs font-medium text-custom-secondary">{{'myAccounts.active' | translate  }}</span> 

                  </div>
                </td>
                  
                
                <td class="py-5 px-4 text-sm font-medium text-custom-primary">{{ item.repaymentDate }}</td>
            

                <!-- principal -->
                 <td class="py-5 px-4">
                  <span class="text-sm font-medium text-custom-primary">{{ principal.integer }}</span>
                  <span class="text-xs text-custom-primary">.{{ principal.decimal }} {{ item.principalBalance.currency }}</span>
                </td>
                  <!--recommended  -->
                <td class="py-5 px-4">
                  <span class="text-sm font-medium text-custom-primary">{{ scheduled.integer }}</span>
                  <span class="text-xs text-custom-primary">.{{ scheduled.decimal }} {{ item.recommendedAmount.currency }}</span>
                </td>
                  <!-- interestOnTermDebt -->
                  <td class="py-5 px-4">
                  <span class="text-sm font-medium text-custom-primary">{{ interest.integer }}</span>
                  <span class="text-xs text-custom-primary">.{{ interest.decimal }} {{ item.interestOnTermDebt.currency }}</span>
                </td>

                <!-- amount -->
                <td class="py-5 px-4">
                  <span class="text-sm font-medium text-custom-primary">{{ amount.integer }}</span>
                  <span class="text-xs text-custom-primary">.{{ amount.decimal }} {{ item.amount.currency }}</span>
                </td>

                <!-- saldo -->
                <td class="py-5 px-4">
                  <span class="text-sm font-medium text-custom-primary">{{ remaining.integer }}</span>
                  <span class="text-xs text-custom-primary">.{{ remaining.decimal }} {{ item.saldo.currency }}</span>
                </td>
              </tr>
            }
           
            @if (isLoading()) {
            <tr>
              <td>
                <div class="flex justify-center py-16">
                  <div class="w-8 h-8 border-2 border-emerald-500 border-t-transparent rounded-full animate-spin"></div>
                </div>
                </td>
            </tr>
            } @else if (errorMessage()) {
              <tr>
                 <td>
              <div class="flex flex-col items-center gap-2 py-16">
                <p class="text-sm font-medium text-red-500">{{'new.error' | translate}}</p>
                <p class="text-xs text-custom-muted">{{ errorMessage() }}</p>
              </div>
                </td>
            </tr>
            }@else if (!scheduleData()?.items?.length) {
              <tr>
                <td colspan="7" class="py-16 text-center">
                  <div class="flex flex-col items-center gap-3">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                        class="text-gray-300" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2"/>
                      <rect x="9" y="3" width="6" height="4" rx="1"/>
                      <line x1="9" y1="12" x2="15" y2="12"/>
                      <line x1="9" y1="16" x2="13" y2="16"/>
                    </svg>
                    <p class="text-sm font-medium text-custom-secondary">{{'new_loan.no_data_available' | translate}}</p>
                    <p class="text-xs text-custom-muted">{{'new_loan.payment_schedule_not_found' | translate}}</p>
                  </div>
                </td>
              </tr>
            }
          
          </tbody>
        </table>
      </div>

    </div>
  </div>

  @if (totals(); as t) {
    <div class="flex items-center gap-5 my-4">
      <div class="flex-1 flex items-center px-5 py-[14px] bg-surface-2 rounded-2xl">
        <div class="flex items-center gap-8 flex-1">
          <span class="font-medium text-custom-primary">{{'new_loan.total' | translate}}</span>
          <div class="text-xs text-custom-secondary">
            {{'new_loan.principal_amount_1' | translate}}: <span class="font-semibold text-sm text-custom-primary">{{ t.totalDept.full }}</span>
          </div>
          <div class="w-px h-5 bg-gray-200"></div>
          <div class="text-xs text-custom-secondary">
            {{'new_loan.interest' | translate}}: <span class="font-semibold text-sm text-custom-primary">{{ t.totalPercent.full }}</span>
          </div>
          <div class="w-px h-5 bg-gray-200"></div>
          <div class="text-xs text-custom-secondary">
 {{'new_loan.total_amount' | translate}}: <span class="font-semibold text-sm text-custom-primary">{{ t.totalAll.full }}</span>
          </div>
        </div>
      </div>
      <button  *ngIf="oneLoanData()?.status == 'OPEN'" (click)="loanLogicService.openPayOffTheLoan($event,id())" class="px-[60px] py-3 bg-emerald-500 hover:bg-emerald-600 active:bg-emerald-700 text-white font-semibold rounded-xl transition-colors cursor-pointer">
     {{'new_loan.redeem_1' | translate}}
      </button>
    </div>
  }
</div>