<div class="p-4 w-full mt-4  rounded-xl border border-secondary flex-col justify-start items-start flex">
  <div class="self-stretch justify-between items-center inline-flex">
    <div class="text-secondary text-xs font-normal">{{ getRussianFormattedDate(data?.createdDate) }}</div>
    <div class="flex gap-2 items-center" >
      <div class="cursor-pointer" (click)="printPdf(data)">
        <mat-icon color="warn">picture_as_pdf</mat-icon>
      </div>

      <div
        [ngClass]="getStatusApplication(data?.applicationStatus).color"
        class="text-white text-sm rounded-2xl px-2"
      >
        {{ getStatusApplication(data?.applicationStatus).label }}
      </div>

      <div *ngIf="data?.applicationStatus === 'SIGN'">
        <div (click)="sign(data?.applicationId)" class="p-2 flex flex-row-reverse gap-x-2 items-center flex-end cursor-pointer">
          <mat-icon color="primary" title="Подписать">border_color</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="self-stretch justify-between items-center inline-flex">
    <p class="flex items-center text-base mb-2.5">ID: {{ data?.applicationId }} <span
      class="block w-[4px] h-[4px] rounded-full bg-secondary mx-2"></span> <span class="text-secondary text-sm">открытия счета </span>
    </p>
    <div class="text-black text-xl font-semibold leading-normal">“{{ data?.businessName }}”</div>
  </div>

  <div class="flex items-stretch w-full">
    <!-- First Column -->
    <div class="flex-grow rounded-xl flex-col justify-start items-start gap-2 inline-flex  ">
      <div class="text-[#151515] text-base font-medium">Директор</div>
      <div class="self-stretch flex justify-between items-start">
        <div class="text-secondary text-sm font-normal">ФИО:</div>
        <div class="text-[#151515] text-sm font-normal">{{data?.accountApplicationDto?.directorName}}</div>
      </div>
      <div class="self-stretch flex justify-between items-start">
        <div class="text-secondary text-sm font-normal">Номер телефона:</div>
        <div class="text-[#151515] text-sm font-normal">+{{data?.accountApplicationDto?.directorNumber}}</div>
      </div>
      <div class="self-stretch flex justify-between items-start">
        <div class="text-secondary text-sm font-normal">Пинфл:</div>
        <div class="text-[#151515] text-sm font-normal">{{data?.accountApplicationDto?.directorPinfl}}</div>
      </div>
    </div>
    <div class="w-px bg-gray-400 mx-4"></div>
    <div class="flex-grow rounded-xl flex-col justify-start items-start gap-2 inline-flex  ">
      <div class="text-[#151515] text-base font-medium">Бухгалтер</div>
      <div class="self-stretch flex justify-between items-start">
        <div class="text-secondary text-sm font-normal">ФИО:</div>
        <div class="text-[#151515] text-sm font-normal">{{data?.accountApplicationDto?.headOfFinanceName}}</div>
      </div>
      <div class="self-stretch flex justify-between items-start">
        <div class="text-secondary text-sm font-normal">Номер телефона:</div>
        <div class="text-[#151515] text-sm font-normal">+{{data?.accountApplicationDto?.headOfFinanceNumber}}</div>
      </div>
      <div class="self-stretch flex justify-between items-start">
        <div class="text-secondary text-sm font-normal">Пинфл:</div>
        <div class="text-[#151515] text-sm font-normal">{{data?.accountApplicationDto?.headOfFinancePinfl}}</div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-x-2 w-full mt-5">
    @for (item of data?.stepDto ; track item) {
      <div [ngClass]="{'bg-lime-550 text-white':item.isCompleted,'bg-[#eff0f2] text-[#b0b8c1]':!item.isCompleted}"  class="flex-1 text-center px-2 py-0.5 rounded-2xl text-xs ">
        {{ getStepsApplication(item.step) }}
      </div>
    }

  </div>
</div>

