<div class="flex flex-col justify-between gap-y-2.5 p-5 bg-white rounded-[15px] !w-[300px] !min-h-[126px]">
  <div class="font-medium leading-[21px]">{{ info.title }}</div>

  @if(info.isLink) {
    <a target="_blank" [href]="info.reference">
    <span class="flex items-center">
      <span class="text-[#3566DB] underline leading-[16px]">
        {{ info.linkText }}
      </span>

      <img ngSrc="./assets/svg/arrow-up-right.svg" alt="download" width="21" height="21" />
    </span>

    </a>
  }

  <div class="flex text-[14px] items-center justify-between">
    <a download [href]="info.href"
    >
      @if(info.isExample) {
        <span class="w-full bg-[#EEF2F5] rounded-[5px] px-2.5 py-[7px] h-[35px] flex justify-between">
          <span>
            <span>Скачать образец </span>
            <span class="text-[#999]">(pdf, 3mb)</span>
          </span>

          <img ngSrc="./assets/svg/download.svg" alt="download" width="21" height="21" />
        </span>
      } @else if(info.isHref){
        <span class="flex items-center">
          <span class="text-[#3566DB] underline leading-[16px]">
            {{ info.example }}
          </span>

          <img ngSrc="./assets/svg/arrow-up-right.svg" alt="download" width="21" height="21" />
        </span>
      } @else {
        <span class="text-[#7C8897] leading-[16px]">
          {{ info.example }}
        </span>
      }
    </a>
  </div>
</div>
