<div class="bg-white p-6 rounded-[42px]">
  <div class="justify-end flex">
    <button class="bg-[#F5F5F5] rounded-md flex justify-center items-center h-[30px] w-[30px]"
            (click)="closeIcon()">
      <img src="assets/new-icons/close.svg" alt="close" />
    </button>
  </div>

  <span class="font-bold text-[32px] flex w-[80%] leading-10 text-[#171717]">
    {{ data?.action?.isAuth ? ('authorization.choose_eds_type' | translate) : ('createPayment.sign_with_eds_key' | translate)}}
  </span>

  <form [formGroup]="signConfirmForm" (ngSubmit)="submit()" class="mt-4">
    <mat-form-field *ngIf="remainingSeconds() === 0" class="w-full" appearance="outline">
      <mat-select (selectionChange)="getChanges($event)" formControlName="espKey" [placeholder]="'new.select_a_key' | translate">
        @for (key of styxInfos(); track key) {
          <mat-option [disabled]="invalidDate(key.notafter,key.notbefore)" [value]="key.thumbprint">{{ key.fio }}  ({{ key.tokenSN === 'Virtual' ? 'Вирт' : 'Физ' }})
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div *ngIf="remainingSeconds() > 0" class="text-center text-red-600 font-medium mt-3">
      {{ 'new.the_digital_signature_is_blocked' | translate }}
      {{Math.floor(remainingSeconds()/60) }}:{{ (remainingSeconds() % 60) | number:'2.0' }}
    </div>

    <div class="flex justify-between mt-4 py-4 gap-4">
      <button *ngIf="this.data.from === 'settings'" (click)="openOtherSignModal()" class="bg-[#F5F5F5] outline-none w-full z-20 cursor-pointer h-[48px] font-semibold text-[16px] text-[#171717] rounded-[12px]">{{'salaryStatements.other_method' | translate}}</button>
      <button *ngIf="remainingSeconds() === 0" type="submit"
              [disabled]="signConfirmForm.invalid || remainingSeconds() > 0"
              class="bg-[#00A38D] px-6 py-3 rounded-[12px] w-full h-[48px] text-[16px] font-semibold text-white">
         {{ ('settings.confirm' | translate)}}
      </button>
    </div>
  </form>
</div>
