@import 'mixins';
@import 'custom';

.themeMixin({
  :host {
    .month-card {
      background: @component-background-secondary;
    }

    .month-card__label {
      color: @text-color;
    }

    .month-card__index {
      color: @text-color-tertiary;
    }

    .finance-form__info {
      background: @body-background;

      nz-icon {
        color: @error-color;
      }
    }
  }
});

:host {
  display: block;
}

.finance-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.finance-form__info {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  padding: 12px;
  border-radius: 12px;

  nz-icon {
    flex-shrink: 0;
    margin-top: 2px;
    font-size: 20px;
  }

  span {
    .textMixin(@font-weight-medium, @font-size-md, @line-height-base);
  }
}

.finance-form__general {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
    min-width: 0;
  }
}

.finance-form__months {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.month-card {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 6px 16px;
  border-radius: 16px;
  min-width: 0;
}

.month-card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  margin-bottom: 12px;
}

.month-card__label {
  margin: 0;
  text-transform: capitalize;
  .textMixin(600, 16px, 130%);
}

.month-card__index {
  .textMixin(400, 14px, @line-height-base);
}
