<ng-container *transloco="let t">
  @if (isModal) {
  <cf-form-box [title]="t('prop.finances')" (closeClick)="close()" (submitClick)="submit()">
    <ng-container [ngTemplateOutlet]="fields" />
  </cf-form-box>
  } @else {
  <div class="inline">
    <h2 class="inline-title">{{ t('prop.finances') }}</h2>
    <ng-container [ngTemplateOutlet]="fields" />
  </div>
  }
</ng-container>

<ng-template #fields>
  <ng-container *transloco="let t">
    <div class="finance-form">
      <div class="finance-form__info">
        <nz-icon nzType="info-circle" />
        <span>{{ t('alert.finance_fill') }}</span>
      </div>

      <div class="finance-form__general">
        <cf-label-control-secondary
          style="align-items: flex-start; width: 100%"
          [label]="t('prop.business_activity')"
          [hint]="true"
          (hintClick)="openBusinessActivityInfo()"
        >
          <cf-select-default
            class="cf-hide-xs"
            [formField]="financeForm().finData.dirCompanyActivityId"
            [placeholder]="t('control.select.placeholder')"
            size="large"
          >
            <ng-container *cfHandbook="{ type: 'dir-company-activity' }; let items">
              @for (item of items; track item.id) {
              <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
              }
            </ng-container>
          </cf-select-default>

          <cf-select-default-mobile
            class="cf-show-xs"
            [formField]="financeForm().finData.dirCompanyActivityId"
            [handbook]="{ type: 'dir-company-activity' }"
            [placeholder]="t('control.select.placeholder')"
            size="large"
          />
        </cf-label-control-secondary>

        <cf-label-control-secondary
          style="align-items: flex-start; width: 100%"
          [label]="t('prop.activity_term')"
          [hint]="true"
          (hintClick)="openActivityTermInfo()"
        >
          <cf-input-default
            [formField]="financeForm().finData.activityTerm"
            [suffix]="financeForm().finData.activityTerm().value() | pluralize: 'month' : false"
            mask="separator.0"
            thousandSeparator=" "
            [placeholder]="t('control.input.placeholder')"
            size="large"
          />
        </cf-label-control-secondary>
      </div>

      <div class="finance-form__months">
        <article class="month-card" [class.month-card--collapsed]="!isMonthExpanded(1)">
          <button type="button" class="month-card__head" [class.month-card__head--static]="!collapsible()" (click)="toggleMonth(1)">
            <h5 class="month-card__label">
              {{ 1 | financeMonth | date: 'LLLL y' }}
              @if (collapsible()) {
              <span class="month-card__required" aria-hidden="true">*</span>
              }
            </h5>
            @if (collapsible()) {
            <nz-icon class="month-card__chevron" [nzType]="isMonthExpanded(1) ? 'up' : 'down'" />
            } @else {
            <span class="month-card__index">№1</span>
            }
          </button>

          @if (isMonthExpanded(1)) {
          <div class="month-card__body">
            <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.income')">
              <cf-input-default
                [formField]="financeForm().finData.month1Revenue"
                [placeholder]="t('control.input.placeholder')"
                mask="separator.0"
                thousandSeparator=" "
                suffix="UZS"
                size="large"
              />
            </cf-label-control-secondary>

            <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.net_profit')">
              <cf-input-default
                [formField]="financeForm().finData.month1Income"
                suffix="UZS"
                [placeholder]="t('control.input.placeholder')"
                mask="separator.0"
                thousandSeparator=" "
                size="large"
              />
            </cf-label-control-secondary>
          </div>
          }
        </article>

        <article class="month-card" [class.month-card--collapsed]="!isMonthExpanded(2)">
          <button type="button" class="month-card__head" [class.month-card__head--static]="!collapsible()" (click)="toggleMonth(2)">
            <h5 class="month-card__label">
              {{ 2 | financeMonth | date: 'LLLL y' }}
              @if (collapsible()) {
              <span class="month-card__required" aria-hidden="true">*</span>
              }
            </h5>
            @if (collapsible()) {
            <nz-icon class="month-card__chevron" [nzType]="isMonthExpanded(2) ? 'up' : 'down'" />
            } @else {
            <span class="month-card__index">№2</span>
            }
          </button>

          @if (isMonthExpanded(2)) {
          <div class="month-card__body">
            <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.income')">
              <cf-input-default
                [formField]="financeForm().finData.month2Revenue"
                suffix="UZS"
                [placeholder]="t('control.input.placeholder')"
                mask="separator.0"
                thousandSeparator=" "
                size="large"
              />
            </cf-label-control-secondary>

            <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.net_profit')">
              <cf-input-default
                [formField]="financeForm().finData.month2Income"
                suffix="UZS"
                [placeholder]="t('control.input.placeholder')"
                mask="separator.0"
                thousandSeparator=" "
                size="large"
              />
            </cf-label-control-secondary>
          </div>
          }
        </article>

        <article class="month-card" [class.month-card--collapsed]="!isMonthExpanded(3)">
          <button type="button" class="month-card__head" [class.month-card__head--static]="!collapsible()" (click)="toggleMonth(3)">
            <h5 class="month-card__label">
              {{ 3 | financeMonth | date: 'LLLL y' }}
              @if (collapsible()) {
              <span class="month-card__required" aria-hidden="true">*</span>
              }
            </h5>
            @if (collapsible()) {
            <nz-icon class="month-card__chevron" [nzType]="isMonthExpanded(3) ? 'up' : 'down'" />
            } @else {
            <span class="month-card__index">№3</span>
            }
          </button>

          @if (isMonthExpanded(3)) {
          <div class="month-card__body">
            <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.income')">
              <cf-input-default
                [formField]="financeForm().finData.month3Revenue"
                suffix="UZS"
                [placeholder]="t('control.input.placeholder')"
                mask="separator.0"
                thousandSeparator=" "
                size="large"
              />
            </cf-label-control-secondary>

            <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.net_profit')">
              <cf-input-default
                [formField]="financeForm().finData.month3Income"
                [placeholder]="t('control.input.placeholder')"
                suffix="UZS"
                mask="separator.0"
                thousandSeparator=" "
                size="large"
              />
            </cf-label-control-secondary>
          </div>
          }
        </article>
      </div>
    </div>
  </ng-container>
</ng-template>
