<ng-container *transloco="let t">
  @if (isModal) {
  <cf-form-box [submitDisabled]="financeForm()().invalid()" [title]="t('prop.finances')" (closeClick)="close()" (submitClick)="submit()">
    <ng-container [ngTemplateOutlet]="fields" />
  </cf-form-box>
  } @else {
  <ng-container [ngTemplateOutlet]="fields" />
  }
</ng-container>

<ng-template #fields>
  <ng-container *transloco="let t">
    <div class="finance-form">
      <div class="finance-form__info">
        <nz-icon nzType="info-circle" />
        <span>{{ t('alert.finance_fill') }}</span>
      </div>

      <div class="finance-form__general">
        <cf-select-default
          class="cf-hide-xs"
          [formField]="financeForm().finData.dirCompanyActivityId"
          [placeholder]="t('prop.actual_business_activity')"
          size="large"
        >
          <ng-container *cfHandbook="{ url: 'dir-company-activity' }; let items">
            @for (item of items; track item.id) {
            <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            }
          </ng-container>
        </cf-select-default>

        <cf-select-default-mobile
          class="cf-show-xs"
          [formField]="financeForm().finData.dirCompanyActivityId"
          [handbook]="{ url: 'dir-company-activity' }"
          [placeholder]="t('prop.actual_business_activity')"
          size="large"
        />

        <cf-input-default
          [formField]="financeForm().finData.activityTerm"
          mask="separator.0"
          thousandSeparator=" "
          [placeholder]="t('prop.experience_in_business_activity')"
          size="large"
        />
      </div>

      <div class="finance-form__months">
        <article class="month-card">
          <div class="month-card__head">
            <h5 class="month-card__label">{{ 1 | financeMonth | date: 'MMMM y' }}</h5>
            <span class="month-card__index">№1</span>
          </div>

          <cf-input-default
            [formField]="financeForm().finData.month1Revenue"
            [placeholder]="t('prop.income')"
            mask="separator.0"
            thousandSeparator=" "
            suffix="UZS"
            size="large"
          />

          <cf-input-default
            [formField]="financeForm().finData.month1Income"
            suffix="UZS"
            [placeholder]="t('prop.net_profit')"
            mask="separator.0"
            thousandSeparator=" "
            size="large"
          />
        </article>

        <article class="month-card">
          <div class="month-card__head">
            <h5 class="month-card__label">{{ 2 | financeMonth | date : 'MMMM y' }}</h5>
            <span class="month-card__index">№2</span>
          </div>

          <cf-input-default
            [formField]="financeForm().finData.month2Revenue"
            suffix="UZS"
            [placeholder]="t('prop.income')"
            mask="separator.0"
            thousandSeparator=" "
            size="large"
          />

          <cf-input-default
            [formField]="financeForm().finData.month2Income"
            suffix="UZS"
            [placeholder]="t('prop.net_profit')"
            mask="separator.0"
            thousandSeparator=" "
            size="large"
          />
        </article>

        <article class="month-card">
          <div class="month-card__head">
            <h5 class="month-card__label">{{ 3 | financeMonth | date : 'MMMM y' }}</h5>
            <span class="month-card__index">№3</span>
          </div>

          <cf-input-default
            [formField]="financeForm().finData.month3Revenue"
            suffix="UZS"
            [placeholder]="t('prop.income')"
            mask="separator.0"
            thousandSeparator=" "
            size="large"
          />

          <cf-input-default
            [formField]="financeForm().finData.month3Income"
            [placeholder]="t('prop.net_profit')"
            suffix="UZS"
            mask="separator.0"
            thousandSeparator=" "
            size="large"
          />
        </article>
      </div>
    </div>
  </ng-container>
</ng-template>
