<div class="p-[30px] bg-white flex flex-col gap-y-5 rounded-[15px] ">
  <app-container-nav [navs]="navs"></app-container-nav>
  <app-container-title [title]="title"></app-container-title>

  <div [formGroup]="cancelForm" class="flex flex-col gap-y-5">
    <mat-form-field
      appearance="outline"
      class="small w-full"
    >
      <mat-label>Сумма</mat-label>

      <input
        matInput
        placeholder="Введите сумму"
        mask="separator.2"
        formControlName="amount"
      >

      <div class="absolute pt-[5px] text-[12px]">
        <mat-error *ngIf="this.cancelForm.get('amount')?.hasError('required') && this.cancelForm.get('amount')?.touched">
          Поле обязательное.
        </mat-error>
      </div>
    </mat-form-field>


    <mat-form-field
      appearance="outline"
      class="small w-full"
    >
      <mat-label>Причина отказа</mat-label>

      <textarea
        matInput
        placeholder="Введите причину отказа"
        formControlName="description"
        maxlength="210"
        style="resize: none"
      >
      </textarea>
    </mat-form-field>
  </div>

</div>
