<div class="justify-between py-6">
  <div>
    <span>Платежное поручение № </span>
    @if(!isEditing) {
      <span>{{ docNum }}</span>
    } @else {
      <mat-form-field class="inline-edit w-[120px]" appearance="outline">
        <mat-label>Номер</mat-label>
        <input matInput (change)="setDocNum($event)" [value]="changedDocNum" />
      </mat-form-field>
    }
    <span> от {{ docDate }}</span>
  </div>

  <div class="flex gap-x-[30px]">
    <div class="text-[14px] text-[#808185]">Номер и дата будет присвоен автоматически</div>
    <div class="cursor-pointer flex gap-x-2 text-blue-500">
      @if(isEditing) {
        <span  (click)="toggleEditMode()"> Отмена</span>
        <span (click)="saveDocNum()"> Сохранить</span>
      }
      @else {
        <span (click)="toggleEditMode()">Изменить</span>
      }
    </div>
  </div>
</div>
<div class="border-1px border-secondary rounded-12px p-6 mt-4">
  <form [formGroup]="topUpCorpCardForm" (ngSubmit)="formSubmit()">
   <div class="flex flex-wrap justify-between items-center">
     <div class="w-1/2 flex flex-col pr-2 mb-4">
       <p class="font-medium leading-20px mb-2">Счёт</p>
       <app-account-select
         class="w-full"
         [label]="'Выберите счёт'"
         [accounts]="accounts"
         [showTitle]="false"
         (accountSelected)="setFormFields($event)"
       ></app-account-select>
<!--       <mat-form-field appearance="outline" class="small w-full">-->
<!--         <mat-select  formControlName="sender" placeholder="выберите счёт">-->
<!--           @for (account of accounts; track account) {-->
<!--             <mat-option [value]="account.altAcctId">-->
<!--               {{ account.altAcctId }}-->
<!--             </mat-option>-->
<!--           }-->
<!--         </mat-select>-->
<!--       </mat-form-field>-->
     </div>
       <div class="w-1/2 flex flex-col pl-2 mb-4">
         <p class="font-medium leading-5 mb-2">Карта</p>
         <mat-form-field appearance="outline" class="small w-full">
           <mat-select  formControlName="receiver" placeholder="выберите карту">
             @for (card of corpCardList; track card) {
               <mat-option [value]="card.uuid">
                 {{ card.pan }}
               </mat-option>
             }
           </mat-select>
         </mat-form-field>
       </div>
     <div class="w-1/2 flex flex-col pr-2 mb-4">
       <p class="font-medium leading-5 mb-2">Сумма</p>
       <input
         formControlName="amount"
         type="text" [required]="true"
         mask="separator.2"
         class="rounded border-1px border-secondary w-full h-11 px-2 outline-none"
         placeholder="Введите сумму">
     </div>

     <div class="w-1/2 flex flex-col pl-2 mb-4">
       <p class="font-medium leading-5 mb-2">Описание</p>
       <input
         formControlName="description"
         type="text"
         class="rounded border-1px border-secondary w-full h-11 px-2 outline-none"
         placeholder="Введите описание">
     </div>

   </div>
    <div class="text-end mt-4">
      <button
        type="submit"
        [disabled]="topUpCorpCardForm.invalid"
        [ngClass]="topUpCorpCardForm.valid ? 'text-white bg-secondary' : 'text-[#B0B8C1] bg-disabled-button cursor-not-allowed'"
        class="w-[194px] h-10 rounded-xl border-1px bg-secondary text-white font-medium">
        Подтвердить
      </button>
    </div>
  </form>
</div>
