@import 'mixins';
@import 'colors';

.themeMixin({
    :host {
        .top {
            border-color: @border-color;
        }

        .text {
            .info {
                color: @text-color-secondary;
            }
        }

        .tag {
            &.warning {
              background: @cf-yellow-100;
            }

            &.success {
              background: @success-bg-color;
            }

            &.decline {
              background: @error-bg-color;
            }
        }

        .card {
            border-color: @border-color;

            .icon {
                background: @component-background-secondary;
            }
        }

        .sign {
            border-color: @border-color;
            background: @component-background;

            nz-icon {
                color: @primary-color;
            }

            &:hover {
                border-color: @primary-color;
            }
        }
    }
});

.top {
  width: 100%;
  border-top: 1px solid;
  padding-top: 12px;
  margin-top: 12px;
}

.tag {
  width: fit-content;

  nz-icon {
    margin-right: 4px;
    font-size: 16px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 8px;
}

.card {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 12px;
  padding: 12px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;

  nz-icon {
    font-size: 16px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-right: 8px;
}

.box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

.status {
  nz-icon {
    font-size: 12px;
    margin-right: 4px;
  }
}

.sign {
  border: 2px solid;
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 8px;

  nz-icon {
    rotate: 0;
    font-size: 12px;
  }
}
