<div class="flex flex-col gap-y-3">
  <!-- Business Name -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Название бизнеса</span>
    <span>{{ detail.businessName }}</span>
  </div>

  <!-- Business INN -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">ИНН Бизнеса</span>
    <span>{{ detail.businessInn }}</span>
  </div>

  <div *ngIf="detail.accountApplicationDto.accountNumberToClose.length">
    @for(acc of detail.accountApplicationDto.accountNumberToClose; track $index) {
      <div class="flex gap-x-4 items-center text-[14px]">
        <span class="w-[130px] text-secondary">Счет</span>
        <span class="whitespace-normal break-words max-w-[340px]">{{ acc }}</span>
      </div>
    }
    <div class="flex gap-x-4 items-center text-[14px]">
      <span class="w-[130px] text-secondary">Причина закрытия</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ detail.accountApplicationDto.closeReason }}</span>
    </div>
  </div>
</div>
