<div
  class="flex max-w-[250px] items-center cursor-pointer   px-1 lg:px-2.5 py-4 lg:py-4 my-0.5"
  [routerLinkActive]="'bg-[rgba(0,140,121,0.10)]   !rounded-[16px]'"
>
  <app-ui-svg-icon routerLinkActive="active" #rla="routerLinkActive"
    [path]="rla.isActive ? getHref(icon)+'-active':getHref(icon)" [svgClass]="miniVariant ? 'w-5 h-5 text-white' : 'w-5 h-5 text-[#008C79] mr-2'"></app-ui-svg-icon>
  <div [ngClass]="rla.isActive ? 'text-[#008C79]' : 'text-[#9799A1]'" class="text-[16px] font-normal leading-5 text-ellipsis" routerLinkActive *ngIf="!miniVariant">
    {{ title | translate }}
  </div>
</div>
