<div  @dialogAnim class="relative bg-white px-[32px] py-[24px] rounded-[42px] flex flex-col gap-2">
  <div class="flex justify-end">
    <img  (click)="this.close()" src="./assets/new-icons/close-filled.svg" class="cursor-pointer" alt="">
  </div>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col">
      <img width="68" height="68" src="./assets/new-icons/file.svg" alt="">
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col leading-[32px]">
        <p *ngIf="data.type === 'NEOTLOJKA'" class="text-[28px] text-[#171717] font-bold">Неотложка</p>
        <p *ngIf="data.type === 'BRON'" class="text-[28px] text-[#171717] font-bold">Бронь</p>
      </div>
      <span *ngIf="data.type === 'BRON'" class="text-[#A3A3A3] text-[16px] font-normal">Платёж на основании зарезервированных средств на бронь (оформляется заранее по заявлению в банке, если на основном расчётном счёте есть задолженность).</span>
      <span *ngIf="data.type === 'NEOTLOJKA'" class="text-[#A3A3A3] text-[16px] font-normal">Платеж на основании зарезервированных средств на неотложные нужды (оформляется заранее по заявлению в банке, если на основном расчетном счете есть задолженность)</span>
    </div>
  </div>
  <div class="flex pt-[32px] w-full items-center">
    <button (click)="this.close()"
            class="bg-[#00A38D] w-full disabled:bg-[#F5F5F5] disabled:cursor-not-allowed disabled:text-black disabled:opacity-50 z-20 cursor-pointer h-[48px] font-semibold text-[16px] text-white rounded-[12px]">Понятно</button>
  </div>
  <!--  <img class="absolute z-0 right-0 top-0" src="./assets/new-icons/success-logo.svg" alt="">-->
</div>
