<div class="p-[30px] bg-white flex flex-col gap-y-5 rounded-[15px] ">
  <div class="flex flex-col gap-y-5">
    <div class="leading-[14px] text-[20px] font-medium text-[#2B2D33] align-middle">ЭПТ</div>
    <div class="flex p-[5px] w-fit rounded-[5px] items-center bg-[#EFF4F9]">
      @for(nav of bankNav; track nav.value) {
        <div
          class="py-[5px] px-[20px] rounded-[5px] text-[14px] leading-[22px] text-[#B0B8C1] cursor-pointer"
          [routerLink]="[]"
          [queryParams]="{ tab: nav.value }"
          routerLinkActive="bg-[#264796] text-white"
        >
          <div class="text-nowrap">{{ nav.title }}</div>
        </div>
      }
    </div>
  </div>

  <div class="flex justify-between gap-x-5 items-center">
    <app-table-actions
      [tableActionBtns]="tableActionBtns"
      (onClick)="onActionClick($event)"
    ></app-table-actions>

    <app-filter-button
      [src]="filterState ? './assets/svg/filter-black.svg' : './assets/svg/filter-white.svg'"
      [classes]="filterState ? '' : 'bg-[#264796] text-white'"
      (click)="filterState = !filterState"
    ></app-filter-button>
  </div>

  <app-container-table
    [columns]="tableColumns"
    [data]="tableData"
    [loading]="loading"
    [custom]="true"
    [numbering]="true"
    (rowClicked)="eptCLicked($event)"
    [errorMessage]="errorMessage"
    [size]="pageSize"
    [additionalTemplate]="bankMailActionTemplate"
    (selectedRows)="onSelectedRows($event)"
  ></app-container-table>


  <app-paginator
    [itemsPerPage]="pageSize"
    [currentPage]="pageIndex + 1"
    [totalItems]="totalElements"
    (pageChange)="pageChange($event)"
  ></app-paginator>

<!--  <router-outlet class="max-w-[calc(100vw-330px)]"></router-outlet>-->
</div>

<ng-template #bankMailActionTemplate let-row>
  <span class="whitespace-nowrap">{{ row.isAccept === 'Y' ? 'С акцептом' : 'Без акцепта' }}</span>
</ng-template>
