$primary: #1cca59;

$bg-primary: #EEF2F5;
$bg-secondary: #FFFFFF;
$bg-button: #EFF4F9;

$text-primary: #000000;
$text-secondary: #B8BDC2;
$text-gray: #88939E;
$text-silver: #7C8897;
$text-darkgray: #8F9AA4;
$text-red: #FF4756;
$border-primary: #D5D5D6;
$border-secondary: #DBDBDB;
