<div
  class="h-full flex flex-col bg-surface-2 rounded-2xl text-custom-primary border border-custom-border overflow-hidden">

  <header class="flex justify-between pt-6 pb-2 px-6">
    <h1 class="justify-center  text-xl font-semibold leading-loose">
      Детали брони
    </h1>
    <div class="bg-surface-1 h-8 w-8 rounded-md flex items-center justify-center">
      <img (click)="closeDialog()" src="assets/new-icons/close.svg" alt="close" />
    </div>
  </header>
  <mat-divider class="bg-custom-border" />


  <div class="h-full flex-1 overflow-y-auto">
    <!-- Шапка страницы -->
    <div class="flex flex-col gap-y-4 py-2">
      <div class="flex flex-col ">
        <div class="flex flex-col px-5 space-y-3 mb-3">
          <div class="whitespace-nowrap">
            <span class="font-bold leading-[40px] text-[32px] text-custom-primary">
              {{ formatMoney(data.sumDoc / 100).formattedInteger}}</span>
            <span class="text-[32px] leading-[40px] font-medium text-custom-secondary">
              .{{ formatMoney(data.sumDoc / 100).decimal}} UZS</span>
          </div>
          <div class="text-custom-secondary leading-5 text-sm font-normal flex space-x-2 items-center">
            <span>
              Номер документа брони : {{ data.docNum}} От {{ data.docDate}}</span>
          </div>
        </div>
      </div>


      <mat-divider class="bg-custom-border" />
      <!-- Данные брони -->
  
      <div class="px-5 mt-3 flex justify-between items-center">
        <div class="leading-6 font-semibold text-base text-custom-primary">
          {{"Данные брони" | translate}}
        </div>
        <div class="flex space-x-1 items-center cursor-pointer select-none" (click)="copyAll()" role="button"
          tabindex="0">
          <span><img src="assets/new-icons/copy.svg" alt="copy" /></span>
          <span class="leading-5 text-sm font-medium text-custom-secondary">
            {{"cardFileTwo.copy_all" | translate}}
          </span>
        </div>
      </div>

      <div class="px-5 flex flex-col">
        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Зарплатный период" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data?.period }}
          </div>
        </div>


         <div class="flex items-center justify-between py-2">
          <div class="flex-1">
            <div class="text-custom-secondary text-sm">
                {{"Счет клиента" | translate}}
            </div>
            <div class="text-base text-custom-primary break-words">
             {{ data?.clAccount }}
            </div>
          </div>

          <button class="ml-3 p-2" (click)="copySingle(data?.clAccount)" type="button">
            <img src="assets/new-icons/copy.svg" alt="copy" />
          </button>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Накопленная сумма брони" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
             <span class="text-custom-primary">
              {{ formatMoney(data?.sumReserved / 100).formattedInteger}}</span>
            <span class="text-custom-secondary">
              .{{ formatMoney(data?.sumReserved / 100).decimal}} UZS</span>
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Доступная сумма брони" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
             <span class="text-custom-primary">
              {{ formatMoney(data?.BronToPay / 100).formattedInteger}}</span>
            <span class="text-custom-secondary">
              .{{ formatMoney(data?.sumRBronToPayeserved / 100).decimal}} UZS</span>
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Оплаченная сумма брони" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
             <span class="text-custom-primary">
              {{ formatMoney(data?.sumPaid / 100).formattedInteger}}</span>
            <span class="text-custom-secondary">
              .{{ formatMoney(data?.sumPaid / 100).decimal}} UZS</span>
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Оплаченная и непроведенная сумма брони" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
             <span class="text-custom-primary">
              {{ formatMoney(data?.sumUnlead / 100).formattedInteger}}</span>
            <span class="text-custom-secondary">
              .{{ formatMoney(data?.sumUnlead / 100).decimal}} UZS</span>
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"Назначение платежа брони" | translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data?.purposeName }}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>