@import 'mixins';

.themeMixin({
    :host {
        .row {
            p {
                color: @text-color-secondary;
            }
        }

        .titleRef {
          nz-tag {
            background: @error-bg-color;
            color: @error-color;
          }

          nz-icon {
            color: @error-color;
          }
        }
    }
});

.list {
  display: flex;
  align-items: stretch;
  gap: 20px;

  .row {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    h4 {
      margin-bottom: 4px;
    }
  }

  .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }
}

.titleRef {
  display: flex;
  column-gap: 12px;
  align-items: center;

  nz-icon {
    margin-right: 4px;
    font-size: 14px;
  }
}
