@for (item of data(); track item) {
  <div (click)="openDetail($event, item)"
    class="grid items-center gap-5 grid-cols-[1fr_1fr_1fr_64px_20px] hover:bg-[#F7F7F7] cursor-pointer py-5 px-6 rounded-lg"
    [class.opacity-20]="item.state === 'Закрыт'">
    <div class="flex items-center gap-2">
      <div class="w-10 h-10 flex justify-center items-center">
        <img [src]="item.currency === 'UZS' ? './assets/new-icons/uzb.svg' : item.currency === 'USD' ? './assets/new-icons/curr_USD.svg' : item.currency === 'EUR' ? './assets/svg/EUR.svg' : ''" alt="uzb" width="32" height="32">
      </div>

      <div class="flex flex-col gap-1">
        <div class="text-[#2D2D2D] font-semibold leading-5">{{ item.detail.crdTypename }}</div>

        <div class="flex items-center">
          <img [ngSrc]="item.stateLogo.path + item.stateLogo.name" height="12" width="12" alt="2">
          <div class="text-[#5C5C5C] text-xs font-medium ml-1">{{ item.state }}</div>
          <div class="text-[#808080] text-xs ml-2">{{  item.detail.accMain.slice(0, 4) + '...' +   item.detail.accMain.slice(-3)}}</div>
        </div>
      </div>
    </div>

    <div class="whitespace-nowrap text-[#2D2D2D] leading-6" *ngIf="item.totalDebt">
      <span class="font-bold">
        {{ integerPart(item.totalDebt) }}
      </span>
      <span class="text-sm font-semibold">
        .{{ decimalPart(item.totalDebt) }} {{ item.currency }}
      </span>
    </div>

    <div class="flex flex-col">
      <div class="whitespace-nowrap text-[#2D2D2D] leading-none">
      <span class="font-medium">
         {{ item.detail.nextPaysum ? integerPart(item.detail.nextPaysum ) : 0 }}
      </span>
       <span class="text-sm" *ngIf="item.detail.nextPaysum">
       .{{ decimalPart(item.detail.nextPaysum) }} {{ item.currency }}
      </span>
      </div>

      <div class="leading-none">
        <span class="text-sm text-[#676767]">Cлед платеж: </span>
        <span
          class="text-sm"
          [class.text-[#00A38D]]="item.state === 'Открыт'"
          [class.text-[#FF3B30]]="item.state === 'Просрочен'">
          {{ item.detail.nextPaydate }}
        </span>
      </div>
    </div>

    <div
      class="flex justify-center items-center cursor-pointer"
      [matTooltip]="this.userService.hasAction('CREDITS') ? '' : 'У вас нет прав'"
      [style.user-select]="this.userService.hasAction('CREDITS') ? '' : 'none'"
      [style.opacity]="this.userService.hasAction('CREDITS') ? '1' : '0.3'"
    >
      @if (item.pinned) {
        <img
          class="cursor-pointer"
          width="22"
          height="22"
          [style.cursor]="this.userService.hasAction('CREDITS') ? 'pointer' : 'not-allowed'"
          (click)="$event.stopPropagation(); pinAction(item)"
          [ngSrc]="'./assets/new-icons/pin-active.svg'"
          alt="">
      } @else if (!item.pinned) {
        <img
          class="cursor-pointer"
          width="22"
          height="22"
          [style.cursor]="this.userService.hasAction('CREDITS') ? 'pointer' : 'not-allowed'"
          (click)="$event.stopPropagation(); pinAction(item)"
          [ngSrc]="'./assets/new-icons/pin-inactive.svg'"
          alt="">
      }

    </div>

    <div class="flex justify-end items-center">
      <button
        [matMenuTriggerFor]="this.userService.hasAction('CREDITS') ? menu : null"
        (click)="$event.stopPropagation()"
        [matTooltip]="this.userService.hasAction('CREDITS') ? '' : 'У вас нет прав'"
        [style.user-select]="this.userService.hasAction('CREDITS') ? '' : 'none'"
        [style.opacity]="this.userService.hasAction('CREDITS') ? '1' : '0.3'"
        [style.cursor]="this.userService.hasAction('CREDITS') ? 'pointer' : 'not-allowed'"
      >
        <img width="20" height="20" ngSrc="../../../../../../../assets/new-icons/dots-vertical.svg" alt="menu">
      </button>
    </div>
  </div>

  <mat-menu #menu="matMenu" xPosition="before" (click)="$event.stopPropagation()" class="menu-actions">
<!--    <div-->
<!--      class="flex space-x-2 items-center p-[8px] cursor-pointer hover:bg-[#F7F7F7] hover:rounded-[6px]"-->
<!--      (click)="openRepay($event, item.account)">-->
<!--      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--        <path d="M17.5 17.5H2.5M15 9.16667L10 14.1667M10 14.1667L5 9.16667M10 14.1667V2.5" stroke="#5C5C5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--      </svg>-->

<!--      <div class="text-[#5C5C5C] text-sm font-medium leading-5">Погасить кредит</div>-->
<!--    </div>-->

    <div
      class="flex space-x-2 items-center p-[8px] cursor-pointer hover:bg-[#F7F7F7] hover:rounded-[6px]"
      (click)="openDetail($event, item)">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <g clip-path="url(#clip0_2818_198886)">
          <path
            d="M10.0001 13.3334V10.0001M10.0001 6.66675H10.0084M18.3334 10.0001C18.3334 14.6025 14.6025 18.3334 10.0001 18.3334C5.39771 18.3334 1.66675 14.6025 1.66675 10.0001C1.66675 5.39771 5.39771 1.66675 10.0001 1.66675C14.6025 1.66675 18.3334 5.39771 18.3334 10.0001Z"
            stroke="#008C79" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>

        <defs>
          <clipPath id="clip0_2818_198886">
            <rect width="20" height="20" fill="white"/>
          </clipPath>
        </defs>
      </svg>

      <div class="text-[#5C5C5C] text-sm font-medium leading-5">Детали</div>
    </div>
  </mat-menu>
}
