<div class="flex flex-col gap-y-3 px-6 bg-[#FFF] h-full overflow-y-auto pb-5">
  <div class="flex flex-col py-5 border-b border-[#E2EAF1]">
    <div class="flex justify-between">
      <div class="text-[22px] text-black">Детали заявки № {{ data.applicationId }}</div>
      <mat-icon mat-ripple mat-dialog-close>close</mat-icon>
    </div>
  </div>

  <app-select-action
    [actions]="getActions()"
    (onAction)="onAction($event)"
  ></app-select-action>

  @if(data.conversionApplicationDto) {
    <div class="flex gap-x-4 items-center">
      <span class="text-[14px] !w-[130px] text-secondary">Номер документа</span>
      <span class="text-[14px] font-normal text-black"> {{ data.conversionApplicationDto.docNum }}</span>
    </div>
  }

  <div class="flex gap-x-4 items-center">
    <span class="text-[14px] !w-[130px] text-secondary">Статус операции</span>
    <span class="text-[13px] text-end leading-[16.9px] text-[#7C8897]">
        <span
          [ngClass]="[getStatusApplication(data.applicationStatus).color,
          getStatusApplication(data.applicationStatus).text]"
          class="text-[12px] rounded-[10px] px-[7px]"
        >{{ getStatusApplication(data.applicationStatus).label }}</span>

      <span> {{ getTimeFromISO(data.createdDate) }} </span>
    </span>
  </div>

  @if(data.errorMessage) {
    <div class="flex gap-x-4 items-center">
      <span class="text-[14px] !w-[130px] text-secondary">Статус операции</span>
      <span class="text-[13px] text-end leading-[16.9px] text-[#7C8897]">
      {{ data.errorMessage }}
    </span>
    </div>
  }

  @if(data.description) {
    <div class="flex text-[14px] gap-x-4 items-center">
      <span class="w-[130px] text-secondary">Детали платежа</span>
      <span class="whitespace-normal break-words max-w-[340px]">{{ data.description }}</span>
    </div>
  }

  <div class="w-full border-t border-[#E2EAF1]"></div>

  <p class="flex  gap-x-4 items-center text-[14px]">
    <span class=" w-[130px] text-secondary">ID</span>
    <span class="whitespace-normal break-words max-w-[340px]">{{ data.applicationId }}</span>
  </p>

  <p class="flex  gap-x-4 items-center text-[14px]">
    <span class=" w-[130px] text-secondary">Дата</span>
    <span class="whitespace-normal break-words max-w-[340px]">{{ getDate(data.createdDate) }}</span>
  </p>

  @switch (data.applicationType) {
    @case('CREATE_ACCOUNT') {
      <app-create-account-detail [detail]="data.accountApplicationDto"></app-create-account-detail>
    }
    @case('CLOSE_ACCOUNT') {
      <app-close-account-detail [detail]="data"></app-close-account-detail>
    }
    @case('CONVERSION_BUY') {
      <app-conversion-buy-detail [detail]="data.conversionApplicationDto"></app-conversion-buy-detail>
    }
    @case('CONVERSION_SELL') {
      <app-conversion-sell-detail [detail]="data.conversionApplicationDto"></app-conversion-sell-detail>
    }
    @case('CONVERSION_CROSS') {
      <app-conversion-cross-detail [detail]="data.conversionApplicationDto"></app-conversion-cross-detail>
    }
    @case('SWIFT') {
      <app-swift-short-detail [detail]="data.swiftApplicationDto"></app-swift-short-detail>
    }
    @case('DEPOSIT_OPEN') {
      <app-open-deposit-detail [detail]="data.depositOpenApplicationRes"></app-open-deposit-detail>
    }
    @case('CLOSE_DEPOSIT') {
      <app-close-deposit-detail [detail]="data.depositOpenApplicationRes"></app-close-deposit-detail>
    }
    @case('ACCREDIT') {
      <app-app-accredit-detail [detail]="data.accreditApplicationDto"></app-app-accredit-detail>
    }
    @default {
      <div></div>
    }
  }
</div>
