<div @dialogAnim class="border border-[#EBEBEB] relative w-[540px] h-[380px] overflow-hidden py-10 bg-[#00A38D] px-10 z-50 rounded-[42px] flex flex-col gap-2">
  <div class="flex justify-end z-20 cursor-pointer" [style.opacity]="data?.type !== 'password' ? 1 : 0">
    <img src="./assets/new-icons/close-filled.svg" class="cursor-pointer bg-[#F5F5F5] rounded-[6px]" (click)="closeAfterSign()" alt="">
  </div>
  <div class="flex flex-1 flex-col mb-8">
    <h3 class="text-white text-[38px] font-bold leading-10">{{ data?.type === 'password' ? 'Пароль создан.' : this.data?.windowType === 'CREATE_EPT' ? 'Отправлено' :  'Отправлен' }}</h3>
    <p class="text-[#99D1C9] text-[20px] font-medium" *ngIf="data?.type !== 'password' && !data?.action && data?.transactionMode !== 'SALARY' && data?.type !== 'mass'">{{
        this.data?.windowType === 'TRANSACTION' || data?.additionalInfo?.windowType === 'TRANSACTION'
          ? 'Перевод на счет' : this.data?.windowType === 'BUDGET' || data.additionalInfo?.windowType === 'BUDGET'
            ? 'В бюджет' : this.data?.windowType === 'BUDGET_INCOME' || data.additionalInfo?.windowType === 'BUDGET_INCOME' ?
              'В казначейство' : this.data?.windowType === 'CARD' || data.additionalInfo?.windowType === 'CARD' ?
                'На карту' : this.data?.windowType === 'CARD_CORPORATE' || data.additionalInfo?.windowType === 'CARD_CORPORATE'
                  ? 'Пополнение карп. карты' : this.data?.transactionMode === 'MUNIS' || data?.additionalInfo?.windowType === 'MUNIS' ? 'Платеж по МУНИС' : '' }}</p>
    <p  *ngIf="this.data?.windowType === 'CREATE_EPT'" class="text-[20px] font-medium text-[#99D1C9]" >Документ №{{data?.docNumItem || ''}}</p>
    <p *ngIf="data?.transactionMode === 'SALARY'" class="text-[#99D1C9] text-[20px] font-medium">{{ 'salaryStatements.statement' | translate }} № {{ data?.docNum }}</p>
    <p class="text-[#99D1C9] text-[20px] font-medium" *ngIf="data?.type === 'mass'">Массовый платеж: {{ fileName() }} {{ getCurrentDateTime() }}</p>
    <p class="text-[#99D1C9] text-[20px] font-medium" *ngIf="data?.type === 'password'">Для продолжения выполните вход в систему</p>
  </div>
  <div class="mb-8" *ngIf="this.data?.windowType !== 'CREATE_EPT' && data.type !== 'password' && !data.action && data.transactionMode !== 'SALARY' && data.type !== 'mass'">
    <p class="text-[18px] text-white font-normal">Получатель: {{ this.data?.recipient?.name?.length > 65 ?  this.data?.recipient?.name.slice(0, 64) + '...' : this.data?.recipient?.name}}</p>
    <h3 class="text-white text-[30px] font-bold">{{ ((data?.saldo?.amount ? data?.saldo?.amount :  data?.senderAmount.amount ? data?.senderAmount.amount : 0) / 100).toFixed(2) | mask:'separator.2'  }} UZS</h3>
  </div>
  <div class="mb-8" *ngIf="data.type === 'mass'">
    <h3 class="text-white text-[30px] font-bold">{{ data.selectedAmount.toFixed(2) | mask:'separator.2'  }} UZS</h3>
  </div>
  <div class="flex items-center justify-between">
    @if (this.data?.windowType === 'CREATE_EPT'){
      <div class="flex items-center gap-4">
        <img width="48" height="48" src="./assets/new-icons/success-modal-info.svg" alt="">
      </div>
    } @else {
      <div class="flex items-center gap-4 opacity-0">
        <img src="./assets/icons/info.svg" alt="">
      </div>
    }

    <button *ngIf="data?.type !== 'password'" (click)="closeAfterSign()" class="bg-white absolute bottom-[30px] right-[45px] outline-none z-20 cursor-pointer w-[110px] h-[48px] text-black rounded-[12px]">Закрыть</button>
    <button *ngIf="data?.type === 'password'" (click)="router.navigate(['/auth']); this.close()" class="bg-white outline-none z-20 cursor-pointer w-[220px] h-[48px] text-black rounded-[12px]">Перейти к авторизации</button>
  </div>
  <img class="absolute z-0 right-0 top-0" src="./assets/new-icons/success-logo-white.svg" alt="">
</div>
