<h2 class="section-title">Общая информация</h2>

<cf-card>
  <div class="general-info__grid">
    <cf-label-control [label]="'Наименование ЮЛ/ИП:'">NUKUS CRAFTPUB JMK</cf-label-control>
    <cf-label-control [label]="'Форма собственности:'">Собственность хозяйственных обществ</cf-label-control>
    <cf-label-control [label]="'Орган регистрации:'">35401</cf-label-control>

    <cf-label-control [label]="'Организационно-правовая форма:'">Частное предприятие</cf-label-control>
    <cf-label-control [label]="'ИНН/ПИНФЛ:'">
      <span class="general-info__value">123123123123</span>
    </cf-label-control>
    <cf-label-control [label]="'ОКЭД:'">56100 - Рестораны и услуги по доставке продуктов питания</cf-label-control>

    <cf-label-control [label]="'Регистрационный номер:'">
      <span class="general-info__value">123123123123</span>
    </cf-label-control>
    <cf-label-control [label]="'Дата регистрации:'">04.06.2025</cf-label-control>
    <cf-label-control [label]="'Количество работников'">100</cf-label-control>
  </div>
</cf-card>
