<div class="relative w-[540px] h-[380px] overflow-hidden py-10 bg-[#00A38D] px-10 z-50 rounded-[42px] flex flex-col gap-2">
  <div class="flex justify-end ">
    <img src="./assets/new-icons/close.svg" (click)="this.router.navigate(['/templates']); this.close()" class="w-[30px] p-2.5 h-[30px] bg-[#F5F5F5] rounded-[6px]" alt="">
  </div>
  <div class="flex flex-1 flex-col mb-8">
    <h3 class="text-white text-[38px] font-bold leading-10">{{ data.mode === 'edit' ? 'Шаблон изменен' :  'Шаблон сохранен' }}</h3>
    <p class="text-[#99D1C9] text-[20px] font-medium">Вы можете увидеть это в окне шаблона.</p>
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-4">
      <img src="./assets/icons/info.svg" alt="">
    </div>
    <button (click)="this.router.navigate(['/templates']); this.close()" class="bg-white z-20 cursor-pointer w-[110px] h-[48px] text-black rounded-[12px]">Закрыть</button>
  </div>
  <img class="absolute z-0 right-0 top-0" src="./assets/new-icons/success-logo-white.svg" alt="">
</div>
