<div class="rounded-[42px] border border-[#ebebeb] bg-white p-8">
  <div class="flex justify-end">
    <div class="rounded-md bg-[#f3f3f3] cursor-pointer" mat-dialog-close>
      <app-icon icon="x" size="24" svgClass="fill-[#5c5c5c]"></app-icon>
    </div>
  </div>

  <p class="text-[38px] text-[#00a38d] leading-[46px] font-bold mt-2">
    {{ 'salaryStatements.statement_created' | translate }}
  </p>

  <p class="text-xl text-[#a3a3a3] font-medium mt-2">
    {{ 'salaryStatements.payroll_statement_number' | translate:{ number: data.docNum } }}
  </p>

  @let tTotal = data.total | minorToMajor : 0;
  <p class="text-[30px] text-[#171717] font-bold mt-5 leading-9">
    {{ tTotal.int }}{{ tTotal.dec }} {{data.currency}}
  </p>

  <div class="flex gap-4 mt-8">
    <button
      (click)="router.navigate(['/payroll-project/statements']); this.dialogRef.close()"
      type="button"
      class="ml-auto bg-[#f5f5f5] min-w-[120px] rounded-xl p-3 flex justify-center items-center leading-6 text-[#171717] font-semibold">
      Позже
    </button>

    <button
      type="button"
      class="bg-[#00a38d] min-w-[120px] rounded-xl p-3 flex justify-center items-center leading-6 text-white font-semibold"
      [mat-dialog-close]="true">
      {{ 'salaryStatements.sign' | translate }}
    </button>
  </div>
</div>
