@import 'mixins';

:host {
  display: flex;
  flex: 1;
  min-width: 0;
}

cf-card {
  flex: 1;
  width: 100%;
}

.themeMixin({
  :host {
    .row {
      p {
        color: @text-color-secondary;
      }
    }
  }
});

.row {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  h4 {
    margin-bottom: 4px;
  }
}
