<cf-card class="gray lg" [class.bordered]="!isFilled()" [class.ant-form-item-explain-error]="!isFilled()">
  <div class="row">
    <div class="col">
      <ng-container *cfHandbook="{ url: 'sys-address-type' }; let items">
        <h4 nz-typography>{{ items | handbook: item().sysAddressTypeId }}</h4>
      </ng-container>

      <button cfBounce nz-button nzType="link" nzSize="large" type="button" (clicked)="edit.emit()">
        <nz-icon nzType="f:pencil" />
      </button>
    </div>

    @if (isFilled()) {
    <ng-container *cfHandbook="{ url: 'dir-city' }; let items">
      <p nz-typography>{{ items | handbook: item().dirCityId }}</p>
    </ng-container>

    <ng-container *cfHandbook="{ url: 'dir-village', params: { dir_city_id: item().dirCityId } }; let items">
      <p nz-typography>{{ items | handbook: item().dirVillageId }}</p>
    </ng-container>

    <p nz-typography>{{ item().street }}</p>
    <p nz-typography>{{ item().zipCode }}</p>
    } @else {
    <p nz-typography class="placeholder">—</p>
    }
  </div>
</cf-card>
