@import 'mixins';

.themeMixin({
  :host {
    .content {
      background: @component-background;
    }
  }
});

:host {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  padding: 40px;

  .media(@media-md, {
    padding: 20px;
  });

  .header {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
  }

  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      max-width: 560px;
      width: 90vw;
      padding: 40px;
      border-radius: 40px;

      .media(@media-md, {
        padding: 20px;
        border-radius: 20px;
      });

      .route {
        width: 100%;
      }
    }
  }
}
