<div class="flex gap-x-[15px] max-w-[1440px]">

  <div class="grow p-[30px] bg-white rounded-[15px] shadow-sm">
    <div class="flex flex-col gap-y-[30px]">
      @if(autoPay) {
        <app-create-autopay (autoPay)="updateAutoPayForm($event)"></app-create-autopay>
      }

      @if(!autoPay) {
        <div class="flex flex-col gap-y-2.5">
          <div class="flex gap-x-2 items-center">
            <mat-icon appLocationBack>arrow_back</mat-icon>

            <div>
              <span>Платежное поручение № </span>
              @if(!isEditing) {
                <span>{{ docNum }}</span>
              } @else {
                <mat-form-field class="inline-edit w-[120px]" appearance="outline">
                  <mat-label>Номер</mat-label>
                  <input matInput (change)="setDocNum($event)" [value]="changedDocNum" />
                </mat-form-field>
              }
              <span> от {{ getDocDate() }}</span>
            </div>
          </div>

          <div class="flex gap-x-[30px]">
            <div class="text-[14px] text-[#808185]">Номер и дата будет присвоен автоматически</div>
            <div class="cursor-pointer flex gap-x-2 text-blue-500">
              @if(isEditing) {
                <span  (click)="toggleEditMode()"> Отмена</span>
                <span (click)="saveDocNum()"> Сохранить</span>
              }
              @else {
                <span (click)="toggleEditMode()">Изменить</span>
              }
            </div>
          </div>
        </div>
      }

      <div>Плательщик</div>



      <div class="w-full flex flex-col gap-[10px]">
        <mat-form-field
          [ngClass]="{
            'required': touched && !selectedAccount
          }"
          class="small w-full" color="primary" appearance="outline" floatLabel="always">
          <mat-label>
            <span>Счет списания</span>
            <span class="text-red-500 text-[16px]">*</span>
          </mat-label>

          <mat-select [(value)]="selectedAccount" placeholder="Выберите счет">
            <mat-select-trigger>
              @if(selectedAccount) {
                <div class="grow border-l-transparent flex justify-between pe-[15px]">
                  <div>
                    @if(selectedAccount.accountType) {
                      <span>{{ selectedAccount.accountType }} / </span>
                    }
                    <span>
                       {{ selectedAccount.altAcctId }}
                    </span>
                  </div>

                  @if(selectedAccount.balance) {
                    <div>
                      <span>{{ Number(selectedAccount.balance.amount) / 100 | mask:'separator' }}</span>
                      <span class="text-[#8A97A4]">,{{ (Number(selectedAccount.balance.amount) % 100).toString().padStart(2, '0') }}</span>
                      <span class="text-[#8A97A4]"> {{ selectedAccount.balance.currency }}</span>
                    </div>
                  }
                </div>
              }
            </mat-select-trigger>

            <mat-option>
              <ngx-mat-select-search
                [formControl]="searchAccountControl"
                [searching]="searchingAccount"
                placeholderLabel="Поиск..."
                noEntriesFoundLabel="Нет записей"
              ></ngx-mat-select-search>
            </mat-option>

            @for(account of accounts; track account;) {
              @if(fromQuery === 'edit-payment' && selectedAccount) {
                <mat-option [value]="selectedAccount" (click)="selectSenderAccount(selectedAccount)">
                  <div class="grow border-l-transparent flex justify-between">
                    <div>{{ selectedAccount.altAcctId }}</div>

                    @if(selectedAccount.balance) {
                      <div>
                        <span>{{ Number(selectedAccount.balance.amount) / 100 | mask:'separator' }}</span>
                        <span class="text-[#8A97A4]">,{{ (Number(selectedAccount.balance.amount) % 100).toString().padStart(2, '0') }}</span>
                        <span class="text-[#8A97A4]"> {{ selectedAccount.balance.currency }}</span>
                      </div>
                    }
                  </div>
                </mat-option>
              }
              <mat-option [value]="account" (click)="selectSenderAccount(account)">
                <div class="grow border-l-transparent flex justify-between">
                  <div>
                <span>
                  {{ account.accountType }} / {{ account.altAcctId }}
                </span>
                  </div>

                  <div>
                    <span>{{ account.balance.amount / 100 | mask:'separator' }}</span>
                    <span class="text-[#8A97A4]">,{{ (account.balance.amount % 100).toString().padStart(2, '0') }}</span>
                    <span class="text-[#8A97A4]"> {{ account.balance.currency }}</span>
                  </div>
                </div>
              </mat-option>
            }
          </mat-select>
          <mat-icon matSuffix>
            <img class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" />
          </mat-icon>

          <div class="absolute pt-[5px] text-[12px]">
            <mat-error *ngIf="touched && !selectedAccount">
              Поле обязательное.
            </mat-error>
          </div>
        </mat-form-field>


        <div class="self-end">
          <div class="flex cursor-pointer" (click)="toggleRequisites()">
            <div
              class="select-none text-sm w-[142px] me-[8px]"
            >
              <span class="text-[#007AFF]">{{ isOpenRequisites ? 'Скрыть реквизиты' : 'Показать реквизиты' }}</span>
            </div>
          </div>
        </div>


        <mat-accordion>
          <mat-expansion-panel [expanded]="isOpenRequisites">
            @if(businessUser) {
              <div class="flex items-center gap-10 justify-center py-2.5 flex-wrap">
                <div>
                  <span>Наименование: </span>
                  <span class="text-end text-[#8A97A4]"> {{ businessUser.name }}</span>
                </div>
                <div>
                  <span>ИНН: </span>
                  <span class="text-end text-[#8A97A4]"> {{ businessUser.inn }}</span>
                </div>
                <div>
                  <span>МФО: </span>
                  <span class="text-end text-[#8A97A4]"> {{ businessUser.mfo }}</span>
                </div>
              </div>
            }
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="font-medium text-[20px] text-[#2B2D33]">Получатель</div>

      <div class="flex p-[5px] w-fit rounded-[5px] items-center">
        @for(mode of transactionModes; track mode.value) {
          <div
            class="py-[5px] px-[20px] rounded-[5px] text-[14px] leading-[22px] text-[#B0B8C1] cursor-pointer"
            (click)="selectType(mode.value)"
            [ngClass]="{'bg-[#008C79] text-white': type == mode.value }"
          >
            <div class="text-nowrap">{{ mode.name }}</div>
          </div>
        }
      </div>

      @switch (type) {
        @case ('BUDGET') {
          <app-budget-form
            [autoPay]="autoPay"
            [autoPayForm]="autoPayForm"
            [selectedAccount]="selectedAccount"
            [docNum]="docNum"
            [fromQuery]="fromQuery"
            [toQuery]="toQuery"
            [docDate]="docDate"
            [editPayment]="editPayment || templatePayment"
            (senderAccountTouched)="touched = $event"
          ></app-budget-form>
        }
        @case ('BUDGET_INCOME') {
          <app-budget-income-form
            [autoPay]="autoPay"
            [autoPayForm]="autoPayForm"
            [fromQuery]="fromQuery"
            [toQuery]="toQuery"
            [selectedAccount]="selectedAccount"
            [docNum]="docNum"
            [docDate]="docDate"
            [editPayment]="editPayment || templatePayment"
            (senderAccountTouched)="touched = $event"
          ></app-budget-income-form>
        }
        @case ('P2SERVICE') {
          <app-munis-form
            [autoPay]="autoPay"
            [autoPayForm]="autoPayForm"
            [fromQuery]="fromQuery"
            [selectedAccount]="selectedAccount"
            [docNum]="docNum"
            [docDate]="docDate"
            (senderAccountTouched)="touched = $event"
          ></app-munis-form>
        }
        @case ('BETWEEN_ACCOUNTS') {
          <app-between-accounts-form
            [autoPay]="autoPay"
            [autoPayForm]="autoPayForm"
            [fromQuery]="fromQuery"
            [toQuery]="toQuery"
            [selectedAccount]="selectedAccount"
            [docNum]="docNum"
            [docDate]="docDate"
            [editPayment]="editPayment || templatePayment"
            [businessUser]="businessUser"
            (senderAccountTouched)="touched = $event"
          ></app-between-accounts-form>
        }
        @default {
          <app-transaction-form
            [autoPay]="autoPay"
            [autoPayForm]="autoPayForm"
            [fromQuery]="fromQuery"
            [toQuery]="toQuery"
            [selectedAccount]="selectedAccount"
            [docNum]="docNum"
            [docDate]="docDate"
            [editPayment]="editPayment || templatePayment"
            (senderAccountTouched)="touched = $event"
          ></app-transaction-form>
        }
      }

  </div>
</div>

<!--  <app-widgets-->
<!--    [modes]="templateModes"-->
<!--    (docDate)="setDocDate($event)-->
<!--"></app-widgets>-->
</div>
