@import 'mixins';

:host {
  display: block;

  .contact-info__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;

    .media(@media-sm, {
      grid-template-columns: 1fr;
    });
  }
}
