*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

select {
  font-size: 1.3em;
  padding: 10px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.mat-form-field {
  padding-top: 14px; /* Adjust this value as needed */
  padding-bottom: 14px; /* Adjust this value as needed */
  height: 44px !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important
}

.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
  padding: 8px;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 5px !important;
  background-color: white;
  border-radius: 10px !important;

  .mat-form-field-outline-thick {
    color: var(--app-priamry-color);
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-dialog-container .mdc-dialog__container {
  padding: 10px 0;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  box-shadow: none !important;
  padding-top: 35px;
  background: inherit !important;
}

.mat-mdc-select-panel {
  min-width: min-content;
}

.mdc-checkbox__background {
  width: 20px !important;
  height: 20px !important;
  border: 1px solid #B0B8C1 !important;
  border-radius: 4px !important;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
div.menu-actions {
  max-width: none !important;
  border-radius:  12px;
  border:1px solid #EBEBEB;
  .mat-mdc-menu-content {
    padding: 4px;
    font-family: 'Inter', sans-serif;
  }
  box-shadow: 0 1px 18.1px 0 rgba(10, 13, 20, 0.23), 0 1px 2px 0 rgba(10, 13, 20, 0.03)
}
.salary-table {
  tr { height: 64px }
  th:not(:first-child), td:not(:first-child) { padding-right: 15px; }
}

.cdk-overlay-pane {
  max-width: 90vw !important;
}


.mat-mdc-option .mdc-list-item__primary-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 5px;
  display: block !important;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.31);
  border-radius: 2px;
}

.menu-sm-box {
  width: 113px !important;
}
.submenu-from-header {
  padding-left: 16px !important;
}
.gray-text {
  color: #171717 !important;
}
.green-text {
  color: #1fc16b !important;
}
.corp-border {
  border: 1px solid #ebebeb !important;
}

.user-select-box .mat-mdc-select-arrow{
  display: none !important;
}
.otp-input.border-error.outline-error {
  border: 1px solid #ff3b30 !important;
}
.new-location-scroll::-webkit-scrollbar {
  display: block !important;
  border-radius: 2px;
  width: 4px;
}
.new-location-scroll::-webkit-scrollbar {
  width: 4px;
}

.new-location-scroll::-webkit-scrollbar-track {
  background: transparent !important;
}

.new-location-scroll::-webkit-scrollbar-thumb {
  background: #e5eaf0;
}
.dark .dark-box .need svg{
  color: white !important;
}
.dark .dark-box .need app-ui-svg-icon svg{

}

.dark .outline-input-box .mdc-text-field--outlined {
  background: transparent !important;
}
.dark .outline-input-box input{
  color: white !important;
}
.dark .outline-input-box input::placeholder{
  color: white !important;
}



.dark .mat-datepicker-content,
.dark .mat-calendar {
  background: #262626 !important;
  color: #fff !important;
}
.dark .mat-calendar-controls *{
  color: #fff !important;
}
.dark .mat-calendar-content *{
  color: #fff !important;
}
.dark .mat-calendar-body-cell-content {
  color: #fff !important;
}

.dark .mat-calendar-body-selected {
  background: #5d689b !important;
}

.dark .mat-calendar-body-today {
  border-color: #fff !important;
}



.dark .setting-dark-light-box {
    color: white !important;
  .text-\[\#171717\] {
    color: #fff !important;
  }
  .bg-white {
    background-color: #262626 !important;
  }
  .text-gray-800 {
    color: #fff !important;
  }
  .text-gray-700 {
    color: #fff !important;
  }
  .text-gray-900 {
    color: #fff !important;
  }
  .bg-white.border.text-\[\#171717\] {
    background-color: #171717 !important;
    border-color: #333333 !important;
  }
  .text-\[\#5c5c5c\] {
    color: #7B7B7b !important;
}
  .border-b {
    border-color: #333333 !important;
  }
  input.bg-white {
    background-color: #262626 !important;
    color: #fff !important;
  }
  .bg-white.relative {
    background-color: #181818 !important;
  }
  .text-\[\#101010\] {
  color: #fff !important;
}
  .bg-\[\#EBEBEB\] {
    background-color: #262626 !important;
}
  .bg-\[\#EBEBEB\].border {
    border-color: #333333 !important;
  }
  .bg-\[\#EBEBEB\] .bg-\[\#ffffff\] {
    background-color: #181818 !important;
}
  .border-t {
    border-color: #333333 !important;
  }
  .border-\[\#ebebebe\] {
   border-color: #333333 !important;
}
  .border.border-\[\#ebebeb\] {
    border-color: #333333 !important;
  }
  .bg-\[\#f3f4f6\] {
  background-color: #262626 !important;
}

.bg-\[\#FFF\].border {
  background-color: #262626 !important;
  border-color: #333333 !important;
  color: #FFFFFF !important;
}
.border-gray-200 {
  border-color: #333333 !important;
}
.bg-\[\#ffffff\].border {
  background-color: #181818 !important;
  border-color: #333333 !important;
}
.text-\[\#202020\] {
  color: #fff !important;
  }
  .bg-\[\#e5eaf0\] {
  background-color: #262626 !important;
}
}
.dark .setting-dark-light-box.bg-\[\#f7f7f7\] {
  background-color: #262626 !important;
}


.dark .mat-mdc-dialog-inner-container .setting-dark-light-box.bg-white {
  background-color: #181818 !important;
  border: 1px solid #333333 !important;
}
.dark .mat-mdc-dialog-inner-container .setting-dark-light-box{
  .bg-\[\#F5F5F5\] {
   background-color: #262626 !important;
}
  .bg-white.rounded-\[\22px\] {
    border-radius: 20px !important;
  }
  .p-7.pt-4.absolute.bottom-0.left-0.w-full.bg-white.border-t.border-\[\#EBEBEB\].flex.flex-col.gap-3 {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
  .mat-divider.mat-divider-horizontal {
    background-color: #333 !important;
  }
  input:not(.otp-input) {
    background-color: #262626 !important;
    border-color: #333333 !important;
    color: #FFFFFF !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    background-color: transparent !important;
    transition: background-color 9999s ease-in-out 0s !important;
    -webkit-text-fill-color: white !important;
    color: white !important;
  }
  .p-7.pt-4.absolute.bottom-0.left-0.w-full.bg-white.border-t {
    background-color: #181818 !important;
    border: 1px solid #333333 !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
  .p-7.pt-4.right-0.left-0.absolute.bottom-0 {
    background-color: #181818 !important;
    border: 1px solid #333333 !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
  .bg-\[\#f7f7f7\] {
  background-color: #262626 !important;
}
  .bg-gray-50 {
    background-color: #262626 !important;
  }
  .bg-gray-50.border {
    border: 1px solid #333333 !important;
  }
}

.dark-box .need svg{
  color: #171717 !important;
}
.otp-input:focus{
  border-color: rgb(0, 163, 141) !important;
}
