@import 'mixins';
@import 'colors';

.card {
  transition: 0.3s all;
  user-select: none;
}

.base {
  display: flex;
  column-gap: 8px;
  align-items: center;

  .media(@media-sm, {
    align-items: stretch;
    flex-direction: column;
    row-gap: 8px;
  });
}

.box {
  display: flex;

  .media(@media-md, {
    flex-direction: column;
  });
}

.infos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 12px 24px;
  max-width: 70vw;
}
