@import 'mixins';
@import 'colors';

.card {
  transition: 0.3s all;
  user-select: none;
}

.base {
  display: flex;
  column-gap: 8px;
  align-items: center;

  .media(@media-sm, {
    align-items: stretch;
    flex-direction: column;
    row-gap: 8px;
  });
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px 24px;
}

.infos {
  flex: 1 1 420px;
  min-width: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 12px 24px;
}
