<ng-container *transloco="let t">
  @if (!actionsDisabled()) {
  <button
    type="button"
    class="hitarea"
    cfBounce="300"
    (clicked)="goToApplication.emit()"
    [attr.aria-label]="t('action.go_to_application')"
  ></button>
  }

  <div class="header">
    <div class="badges">
      <div
        class="status-badge"
        [class.warning]="statusTone() === 'warning'"
        [class.success]="statusTone() === 'success'"
        [class.decline]="statusTone() === 'decline'"
        [class.info]="statusTone() === 'info'"
        [class.signing]="statusTone() === 'signing'"
      >
        <cf-status-application [status]="status()" />
      </div>

      <div class="id-badge desktop-only">
        <nz-icon nzType="f:doc" />
        <span>{{ t('application.number', { id: id() }) }}</span>
      </div>
    </div>

    <p class="submitted-date desktop-only">
      {{ t('application.submitted_date', { date: (displayDate() | date: 'd MMMM y') }) }}
    </p>
  </div>

  <h3 class="amount">{{ amount() | number }} {{ displayCurrency() }}</h3>

  <div class="bottom">
    <div class="details">
      <p class="detail">
        <span class="detail-label">{{ t('prop.loan_monthly_payment') }}</span>
        @if (monthlyPayment(); as payment) {
        <b class="detail-value">
          @if (isDifferential()) {
          {{ t('prop.from', { amount: payment | number }) }} {{ displayCurrency() }}/{{ t('prefix.month_short.one') }}
          } @else {
          {{ payment | number }} {{ displayCurrency() }}/{{ t('prefix.month_short.one') }}
          }
        </b>
        }
      </p>

      <span class="separator desktop-only" aria-hidden="true">•</span>

      <p class="detail">
        <span class="detail-label">{{ t('prop.loan_term_full') }}</span>
        <b class="detail-value">{{ term() | pluralize: 'month' }}</b>
      </p>
    </div>

    <div class="footer">
      <p class="meta mobile-only">
        {{ t('application.number_short', { id: id() }) }}
        <span class="separator" aria-hidden="true">•</span>
        {{ displayDate() | date: 'd MMMM y' }}
      </p>

      @if (!actionsDisabled()) {
      <button
        cfBounce="300"
        nz-button
        nzType="default"
        nzSize="small"
        class="action action-desktop desktop-only"
        (clicked)="goToApplication.emit()"
      >
        {{ t('action.go_to_application') }}
        <nz-icon nzType="f:arrowNarrowRight" />
      </button>

      <button
        cfBounce="300"
        nz-button
        nzType="default"
        class="action action-mobile mobile-only"
        (clicked)="goToApplication.emit()"
        [attr.aria-label]="t('action.go_to_application')"
      >
        <nz-icon nzType="right" />
      </button>
      }
    </div>
  </div>
</ng-container>
