<div class="p-6 bg-white rounded-[15px] shadow flex-col justify-start  w-full gap-5 inline-flex">
  <div class="flex flex-col gap-y-2">
    <app-container-nav [navs]="navs()"></app-container-nav>
  </div>

  <form [formGroup]="createRosterForm" class="flex flex-col gap-y-5">
    <div class="flex items-center gap-x-2">
      <mat-icon appLocationBack>arrow_back</mat-icon>
      <div class="text-[22px] font-medium">Создать реестр №</div>
      <mat-form-field formGroupName="salaryPrepareReq" class="inline-edit w-[120px]" appearance="outline">
        <mat-label>Номер</mat-label>
        <input formControlName="reestrNumber" matInput mask="0000" maxlength="4"/>
      </mat-form-field>
    </div>
    <div>
      <div class="flex gap-x-2 items-center">
        <div>
          <span>Платежное поручение № </span>
          @if (!isEditing()) {
            <span>{{ docNum() }}</span>
          } @else {
            <mat-form-field class="inline-edit w-[120px]" appearance="outline">
              <mat-label>Номер</mat-label>
              <input matInput (change)="setDocNum($event)" [value]="changedDocNum()"/>
            </mat-form-field>
          }
          <span> от {{ docDate() }}</span>
        </div>
      </div>
      <div class="flex gap-x-[30px]">
        <div class="text-[14px] text-[#808185]">Номер и дата будет присвоен автоматически</div>
        <div class="cursor-pointer flex gap-x-2 text-blue-500">
          @if (isEditing()) {
            <span (click)="toggleEditMode()"> Отмена</span>
            <span (click)="saveDocNum()"> Сохранить</span>
          } @else {
            <span (click)="toggleEditMode()">Изменить</span>
          }
        </div>
      </div>
    </div>
    <app-account-select [label]="'Счет списания'" [accounts]="accounts()"
                        (accountSelected)="selectedSenderAccount($event)"></app-account-select>
    <app-account-requisites [wrapperClass]="'gap-y-[20px]'"></app-account-requisites>

    <div class="flex justify-between items-center gap-x-5" formGroupName="salaryPrepareReq">
      <mat-form-field appearance="outline" class="small w-full">
        <mat-label>
          Месяц
        </mat-label>
        <mat-select formControlName="month">
          <mat-option *ngFor="let month of months()" [value]="month.value">
            {{ month.key }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix><img ngSrc="./assets/svg/chevron-down.svg" class="rotate-90" alt="chevron-down" width="20"
                                 height="20"></mat-icon>

      </mat-form-field>
      <mat-form-field appearance="outline" class="small w-full">
        <mat-label>
          Год
        </mat-label>
        <input
          matInput
          type="number"
          mask="0000"
          formControlName="year"
          [dropSpecialCharacters]="true"
        >

      </mat-form-field>
      <mat-form-field class="w-full small secondary" appearance="outline">
        <mat-label>Общая сумма</mat-label>
        <input
          matInput

          type="text"
          readonly
          [value]="calculateTotalAmount() | number:'1.2-2'"
          placeholder="0,00">
      </mat-form-field>
    </div>
    <mat-form-field formGroupName="salaryPrepareReq" appearance="outline">
      <mat-label>Назначение</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="Введите назначение"
      />
    </mat-form-field>
    <div class="justify-end flex">
      <app-filter-button
        [src]="filterState() ? './assets/svg/filter-black.svg' : './assets/svg/filter-white.svg'"
        [classes]="filterState() ? '' : 'bg-[#008C79] text-white'"
        (click)="filterState.set(!filterState()) "
      ></app-filter-button>
    </div>
    <app-payroll-project-employees-card-filter
      (filterChange)="setFilter($event)"
      [toggleActive]="true"
      [panelState]="filterState()"
      (refreshFilter)="refreshFilter($event)"
    ></app-payroll-project-employees-card-filter>
    <div  (scroll)="onScroll($event)" style="max-height: 500px; overflow-y: auto;">
      <table class="w-full bg-white">
        <thead class="bg-[#EFF4F9] text-[#8B97A2] text-[13px]">
        <tr>
          <th class="p-2.5 text-center rounded-tl-[15px]">#</th>
          <th class="p-2.5 text-left font-normal">Картодержатель</th>
          <th class="p-2.5 text-end font-normal">Номер карты</th>
          <th class="p-2.5 text-end font-normal">Сумма</th>
          <th class="p-2.5 text-end font-normal rounded-tr-[15px]">Срок действия</th>
        </tr>
        </thead>

        <tbody class="text-sm font-normal leading-none">
        <tr class="hover:bg-gray-50 border-b border-[#DBDBDB]"
            *ngFor="let employee of employeeList.controls;let idx = index">
          <td class="p-3 text-center"> {{ idx + 1 }}</td>
          <td class="p-3 text-left"> {{ employee.get('fio')?.value }}</td>
          <td class="p-3 text-end">{{ employee.get('pan')?.value }}</td>
          <td class="p-3 text-end">
            <mat-form-field class="w-[214px] small" appearance="outline">
              <input
                matInput
                type="text"
                class="text-end"
                mask="separator.2"
                thousandSeparator=","
                [formControl]="getAmountTransferToCardControl(idx)"
                placeholder="0,00">
            </mat-form-field>
          </td>
          <td class="p-3 text-end">{{ employee.get('expiryDate')?.value }}</td>
        </tr>
        </tbody>
      </table>
      @if (isLoading()) {
        <div class="mb-4 mt-1">
          @for (num of [].constructor(this.pageSize()); track num) {
            <span class="skeleton block rounded h-10 w-full mb-2"></span>
          }
        </div>
      }
    </div>
    <div class="flex justify-between items-center">
      <button type="submit"
              (click)="formSubmit()"
              class="h-10 px-5 py-2.5 bg-[#008C79] rounded-[5px]  justify-center items-center gap-2 inline-flex text-white text-sm font-normal  leading-snug">
        Создать
      </button>
      <div class="flex items-center gap-x-2.5">
        <div class="h-10 px-5 py-2.5 bg-[#eff4f9] rounded-[5px]  justify-center items-center gap-2 inline-flex">
          <img ngSrc="./assets/svg/printer.svg" alt="print" width="24" height="24">
        </div>
        <button (click)="formSubmit()"
                class="h-10 px-5 py-2.5 bg-[#eff4f9] rounded-[5px]  justify-center items-center gap-2 inline-flex text-black text-sm font-normal  leading-snug">
          Создать
        </button>
        <button
          class="h-10 px-3 py-[9px] bg-[#eff4f9] rounded-[5px] justify-start items-center gap-3 inline-flex text-[#2b2d33] text-sm font-normal  leading-[14px]">
          Еще действия
          <mat-icon><img ngSrc="./assets/svg/select-open-down.svg" height="20" width="20" alt="#"></mat-icon>
        </button>
      </div>
    </div>

  </form>
</div>
