<div class="p-6 bg-white rounded-xl h-full flex flex-col gap-y-4 relative">
  <div class="flex justify-between items-center">
    <p class="text-2xl font-medium leading-6 flex items-center gap-x-5">
      <span>Структура подписа</span>
      <button
        mat-icon-button
        matTooltip="Обновить ключ"
        (click)="openStyxUpdate()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </p>
    <button
      matRipple
      (click)="addSignOrder()"
      class="px-4 flex items-center">
      <span class="text-primary font-medium text-base">Добавить</span>
      <mat-icon class="text-primary ms-4">add</mat-icon>
    </button>
  </div>
  <div class="p-4 border-[1px] border-[#EFF0F2] rounded-xl mt-4 w-full overflow-x-scroll">

    <table class="w-full text-left salary-table">
      <thead class="text-sm">
      <tr class="border-b">
        <th scope="col">Названия</th>
<!--        <th scope="col">Код</th>-->
<!--        <th scope="col">Тип транзакции</th>-->
        <th scope="col">Маршрут</th>
        <th scope="col" class="text-center">Действия</th>
      </tr>
      </thead>
      <tbody class="text-[#5B5B5B]">
        @for (order of orderList; track order) {
          <tr  class="border-b border-b-border_secondary last:border-none">
            <td>{{order.name}}</td>
<!--            <td>{{order.code}}</td>-->
<!--            <td>{{order.mode}}</td>-->
            <td>
              <div class="flex gap-2.5 flex-wrap mb-1">
                @for(r of getRoles(order?.order); track $index) {
                  <mat-chip>{{ $index + 1 }}. {{ r.roleType }} - {{ r.action }}</mat-chip>
                }
              </div>
            </td>
            <td>
              <app-ui-svg-icon
                path="./assets/icons/btn-icons.svg#salary_actions"
                svgClass="w-6 h-6 text-white mx-auto cursor-pointer"  [matMenuTriggerFor]="menu"></app-ui-svg-icon>
              <mat-menu #menu="matMenu" xPosition="after" class="menu-actions">
                <div  (click)="deleteOrder(order.id)" class=" p-2 flex gap-x-2 items-center cursor-pointer">
                  <mat-icon>delete</mat-icon>
                  <div class="text-xs">Удалить</div>
                </div>
                <div  (click)="editSignOrder(order.id)" class=" p-2 flex gap-x-2 items-center cursor-pointer">
                  <mat-icon>edit</mat-icon>
                  <div class="text-xs">Радактировать</div>
                </div>
              </mat-menu>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

