<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Inter', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    td {
      text-align: start;
      border-collapse: collapse;
      border: 1px solid darkgray;
      padding: 5px 10px;
    }

  </style>
</head>


<body class="m-3">
<div class="flex items-center justify-center">
  <table>
    <tr>
      <td>Наименование клиента</td>
      <td>{{ data.name }}</td>
    </tr>

    <tr>
      <td>ИНН</td>
      <td>{{ data.inn }}</td>
    </tr>

    <tr>
      <td>Номер счета</td>
      <td>{{ data.accountNumberCard }}</td>
    </tr>
    <tr>
      <td>Наименование счета</td>
      <td>{{ data.holderInfo }}</td>
    </tr>

    <tr>
      <td>Валюта</td>
      <td>{{ data.balance.currency }}</td>
    </tr>

    <tr>
      <td>МФО</td>
      <td>{{ data.mfo }}</td>
    </tr>

    <tr>
      <td>Наименование банка</td>
      <td>{{ data.bankName }}</td>
    </tr>

    <tr>
      <td>SWIFT</td>
      <td>{{ data.swift }}</td>
    </tr>

    <tr>
      <td>Дата открытия счета</td>
      <td>{{ data.openDate }}</td>
    </tr>
  </table>
</div>


</body>

</html>
