<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Inter', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    th {
      border: 1px solid #5b5b5b;
      border-collapse: collapse;
    }

    td {
      padding: 4px 6px;
      text-align: start;
      border: 1px solid #5b5b5b;
      border-collapse: collapse;
    }

    .page-break {
      page-break-before: always; /* Forces a page break before the element */
    }

  </style>
</head>


<body class="m-3">
<h6 class="my-4 text-center">Аккредитивы</h6>
<table class="w-full text-sm">
  <thead>
  <tr>
    <th class="rounded-tl-[10px] bg-[#EFF4F9]">ID</th>
    <th class="bg-[#EFF4F9]">МФО</th>
    <th class="bg-[#EFF4F9]">№ контракта</th>
    <th class="bg-[#EFF4F9]">Дата контракта</th>
    <th class="bg-[#EFF4F9]">Счет</th>
    <th class="bg-[#EFF4F9]">Контр счет</th>
    <th class="bg-[#EFF4F9]">Сумма до</th>
    <th class="bg-[#EFF4F9]">Сумма</th>
    <th class="rounded-tr-[10px] bg-[#EFF4F9]">Состояние</th>
  </tr>
  </thead>

  <tbody>
  {{#data.accreditList}}
    <tr style="page-break-inside: avoid;">
      <td class="text-center">{{ lcId }}</td>
      <td class="text-center">{{ filialCode }}</td>
      <td class="text-center">{{ contractNumber }}</td>
      <td class="text-center">{{ contractDate }}</td>
      <td class="text-center">{{ accLc }}</td>
      <td class="text-center">{{ accLcContr }}</td>
      <td class="text-end">{{ amountBegin }}</td>
      <td class="text-end">{{ amount }}</td>
      <td class="text-center">{{ state }}</td>
    </tr>
  {{/data.accreditList}}
  </tbody>
</table>

</body>

</html>
