<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Inter', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    td {
      text-align: center;
    }

  </style>
</head>


<body class="m-3">
<div class="grid grid-cols-2">
  <div></div>
  <div>
    <div class="font-bold text-end">Приложение №2</div>
    <div class="text-end italic">к Публичному Договору-оферте от 15.02.2021г. об общих условиях осуществления операций по покупке или продаже инсотранной валюты</div>
  </div>
</div>

<div class="my-4 flex flex-col items-center uppercase font-bold">
  <div class="underline">Заявление на покупку иностранной валюты</div>
</div>

<div class="m-2 flex flex-col gap-2">
  <div class="flex gap-4">
    <div>Наименование и ИНН заявителя</div>
    <div class="grow border-b">{{ data.businessName }} {{ data.businessInn }}</div>
  </div>

  <div class="flex gap-4">
    <div>Почтовый адрес</div>
    <div class="grow border-b"></div>
  </div>

  <div class="flex gap-4">
    <div>№ Телефона, факса</div>
    <div class="grow border-b"></div>
  </div>

  <div class="flex gap-4">
    <div>Ф.И.О. и должность сотрудника, уполномоченного на решение вопросов по сделке:</div>
    <div class="grow border-b">{{ data.conversionApplicationDto.fullName }}</div>
  </div>

  <div class="flex gap-4">
    <div>Счет в сумах №</div>
    <div class="grow border-b">{{ data.conversionApplicationDto.sender }}</div>
  </div>

  <div class="flex gap-4">
    <div>Счет в иностранной валюте №</div>
    <div class="grow border-b">{{ data.conversionApplicationDto.receiver }}</div>
  </div>

  <div class="flex gap-4">
    <div>Специальный счет в иностранной валюте  №</div>
    <div class="grow border-b">{{ data.conversionApplicationDto.specialAccount }}</div>
  </div>

  <div class="mt-3">Цель использования покупаемой иностранной валюты (нужное подчеркнуть):</div>

  <ol class="ms-10 list-decimal">
    <li>оборудование, комплектующие и запасные части;</li>
    <li>сырье и материалы;</li>
    <li>услуги;</li>
    <li>кредиты: гарантированные правительством;</li>
    <li>кредиты: негарантированные правительством;</li>
    <li>кредиты: выданные за счет собственных ресурсов Банка;</li>
    <li>медикаменты, лекарства и медицинские изделия;</li>
    <li>легковые автомобили;</li>
    <li>другие товары народного потребления;</li>
    <li>репатриация доходов;</li>
    <li>командировочные расходы;</li>
    <li>для других целей.</li>
  </ol>
</div>

<div>Поручаем заключить от нашего имени и за наш счет сделку на покупку иностранной валюты на нижеследующих условиях:</div>

<table class="w-full my-2 border border-collapse">
  <thead>
    <tr>
      <th class="border">Сумма  и наименование покупаемой валюты</th>
      <th class="border">Курс покупки в сумах</th>
      <th class="border">Общая сумма покупки в сумах по курсу</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="border">{{ data.conversionApplicationDto.receiverAmount }} {{ data.receiverCurrency }}</td>
      <td class="border"></td>
      <td class="border">{{ data.senderAmount }} {{ data.senderCurrency }}</td>
    </tr>
  </tbody>
</table>

<div class="flex gap-4 mb-5 mt-3">
  <div>№  и дата контракта</div>
  <div class="border-b grow">{{data.applicationId}} - {{ data.date }}</div>
</div>

<div class="text-center text-xs"> (данная  графа заполняется  при  покупке иностранной валюты для  целей, указанных в пунктах а)-ж) </div>

<div class="flex gap-4">
  <div>Сумма (в национальной валюте – сумах) по указанному в заявке курсу в размере</div>
  <div class="border-b grow">{{ data.senderAmount }}</div>
</div>


<div class="flex gap-4">
  <div>зарезервирована на счете № {{ data.conversionApplicationDto.specialAccount }}</div>
  <div class="border-b grow"></div>
</div>

<div>
  Поручаем списать с нашего спец. счета № {{ data.conversionApplicationDto.specialAccount }} - эквивалент в сумах купленной иностранной валюты по курсу покупки
</div>

<div class="mt-3">Прилагаются следующие документы:</div>
<div class="w-full border-b">1.</div>
<div class="w-full border-b">2.</div>


<div class="flex flex-col gap-2 p-4">
  <div>(Юридическое лицо)</div>
  <div class="flex justify-between">
    <div>Директор</div>
    <div>(подпись)</div>
  </div>
  <div class="flex justify-between">
    <div>Главный бухгалтер</div>
    <div>(подпись)</div>
  </div>
</div>

<div>{{ data.date }}</div>
</body>

</html>
