<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Inter', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    td {
      padding: 4px 6px;
      text-align: start;
    }

    .page-break {
      page-break-before: always; /* Forces a page break before the element */
    }

  </style>
</head>


<body class="m-3">
<div class="grid grid-cols-2">
  <div></div>
  <div>
    <div class="font-bold text-end">Начальнику ОПЕРУ</div>
    <div class="font-bold text-end">АКБ «ASIA ALLIАNCE BANK»</div>
    <div class="font-bold text-end">{{ data.accountApplicationDto.directorName }}</div>
    <div class="font-bold text-end">От {{ data.businessName }}</div>
  </div>
</div>

<div class="indent-4 mt-20">{{ data.businessName }} просит вас закрыть все счета в вашем банке, а основной счет перевести в
  . Так же просим принять 1 ключ от интернет-банкинга и отключить от системы мобильный банк.
</div>

<div class="mt-8 px-8">
  <div class="flex justify-between">
    <div>Директор</div>
    <div>{{ data.accountApplicationDto.directorName }}</div>
  </div>
</div>

<div class="my-8">{{ data.date }}</div>

</body>

</html>
