<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    td {
      text-align: center;
    }

    .page-break {
      page-break-before: always; /* Forces a page break before the element */
    }

  </style>
</head>


<body class="m-3">
<div class="font-bold text-center my-3">
  Bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga
  konvertatsiya qilish bo'yicha xizmatlar ko`rsatish yuzasidan
  Ommaviy shartnoma - oferta
</div>

<div class="indent-4">
  Ushbu hujjat “HAMKOR BANK” ATBning (bundan buyon matnda “Bank” deb yuritiladi) rasmiy taklifi (ommaviy oferta) hisoblanadi va yuridik va jismoniy shaxslar (bundan buyon matnda “Mijoz” deb yuritiladi) bilan bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga konvertatsiya qilish bo'yicha bank operatsiyalarini amalga oshirishning standart shartlari va tartibini belgilaydi.
</div>

<div class="indent-4">
  O'zbekiston Respublikasi Fuqarolik kodeksining (O'zRFK) 369-moddasi 2-bandiga muvofiq, quyida bayon qilingan shartlar qabul qilingan va Bankka Shartnomaga qo'shilish to'g'risida Ariza berilgan taqdirda, ushbu ofertani aktseptlovchi Mijoz Shartnoma tarafiga aylanadi (O'zRFKning 370-moddasi 4-qismiga muvofiq ofertani aktseptlash, ofertada bayon qilingan shartlar bo`yicha shartnoma tuzishga tengdir), Bank va Mijoz esa birgalikda Shartnoma taraflari hisoblanadi.
</div>

<div class="indent-4">
  Yuqoridagilardan kelib chiqib, Bank Sizga ushbu ommaviy ofertaning matnini diqqat bilan o'qib chiqishni va Bank tariflari bilan tanishib chiqishni taklif qiladi. Agar Siz ofertaning biron-bir bandiga rozi bo'lmasangiz, Bank Sizga xizmatlardan foydalanishni rad etishni taklif qiladi.
</div>

<div class="font-bold text-center my-3">
  1. TERMINOLOGIYA
</div>

<div class="indent-4">
  1.1. <span class="font-bold">Oferta</span>
  - ushbu hujjat “Ommaviy shartnoma - bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga konvertatsiya qilish bo'yicha xizmatlar ko'rsatish bo'yicha oferta”,
</div>

<div class="indent-4">
  1.2. <span class="font-bold">Ofertani aktseptlash</span>
  – Mijoz tomonidan ushbu ofertaning 3.1-bandida ko'rsatilgan harakatlarni amalga oshirish orqali ofertani to'liq va so'zsiz qabul qilish.
</div>

<div class="indent-4">
  1.3. <span class="font-bold">Mijoz</span> –
  ofertrani qabul qilgan va shu bilan tuzilgan oferta shartnomasi bo'yicha Bank xizmatlarining buyurtmachisi hisoblanuvchi yuridik yoki jismoniy shaxs.
</div>

<div class="indent-4">
  1.4. <span class="font-bold">Ommaviy shartnoma – oferta</span> –
  bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga konvertatsiya qilish bo'yicha xizmatlarni ko'rsatish yuzasidan,  ofertani aktseptlash orqali tuziladigan Bank va Mijoz o'rtasidagi shartnoma.
</div>

<div class="indent-4">
  1.5. <span class="font-bold">Qo'shilish to'g'risidagi ariza</span> –
  bu yozma ariza bo'lib, unda Mijoz ushbu Shartnomaga-ofertaga qo'shilishga roziligini aniq ifodalaydi va uning shartlarini aktseptlaydi. Ushbu ariza Mijoz tomonidan ushbu shartnomaning 1-ilovasida belgilangan shakl bo`yicha Bankka taqdim etiladi.
</div>

<div class="indent-4">
  1.6. <span class="font-bold">Xizmat</span> –
  Bank tomonidan bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga konvertatsiya qilish bo'yicha xizmatlar ko'rsatish.
</div>

<div class="indent-4">
  1.7. <span class="font-bold">Konversiya operatsiyasi</span> –
  bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga sotib olish yoki sotish bo'yicha operatsiya.
</div>

<div class="indent-4">
  1.8. <span class="font-bold">Spot</span> –
  Bank tomonidan “Konversiya operatsiyasini amalga oshirish uchun ariza” qabul qilingan sanadan boshlab 2 (ikki) bank ish kunidan kechiktirmay konversiya operatsiyalari amalga oshiriladigan hisob-kitob shartlari.
</div>{{#pageBreak}}---newpage---{{/pageBreak}}


<div class="indent-4">
  1.9. <span class="font-bold">Bank ish kuni</span> –
  O'zbekiston Respublikasi va ushbu Shartnomaga muvofiq tuzilgan bitimlar bo'yicha hisob-kitoblarda milliy valyutalari qo'llaniladigan davlatlarda ish kuni.
</div>

<div class="indent-4">
  1.10. <span class="font-bold">Tariflar</span> –
  Bank tomonidan bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga konvertatsiya qilish bo'yicha ko'rsatilgan xizmatlar uchun Mijozdan undiriladigan Bank tomonidan belgilangan vositacilik haqi summalari.
</div>




<div class="font-bold text-center my-3">
  2. BANK TOMONIDAN XIZMATLARNI TAQDIM ETISHNING UMUMIY SHARTLARI
</div>



<div class="indent-4">
  2.1.
  Ushbu Ommaviy shartnoma-oferta (bundan buyon matnda "Shartnoma" deb yuritiladi) konversiya operatsiyalarini amalga oshirishda Bank va Mijozning o'zaro munosabatlari tartibi va shartlarini belgilaydi.
</div>

<div class="indent-4">
  2.2.
  Ushbu xizmat, “Shartnomaga qo'shilish to'g'risidagi ariza”ni berish va “HAMKOR BANK” ATBda hisobvaraqlarni ochish orqali ushbu ofertani aktseptlagan Bank Mijozlariga taqdim etiladi.
</div>

<div class="indent-4">
  2.3.
  “Shartnomaga qo'shilish to'g'risidagi ariza”ni berish orqali ushbu Shartnomaga qo'shilgan  Mijoz, zarur bo'lganda “Konversiya operatsiyalarini amalga oshirish uchun ariza” berib, bank xizmatlaridan foydalanish huquqiga ega.
</div>

<div class="indent-4">
  2.4.
  Mijoz Bankka “Konversiya operatsiyalarini amalga oshirish uchun ariza” taqdim etib, Bankda tegishli depozit hisobvaraqlarida konversiya operatsiyasini amalga oshirish uchun zarur bo'lgan chet el valyutasidagi pul mablag'lari miqdorini va vositachilik haqi to'lovini to'lash uchun milliy valyutadagi pul mablag'lari miqdorini shakllantiradi.
</div>

<div class="indent-4">
  2.5.
  Mijoz tomonidan ushbu Shartnomaning 2.2., 2.3., 2.4.-bandlarida nazarda tutilgan shartlar bajarilgan taqdirda, Bank tomonidan konversiya operatsiyasi amalga oshiriladi.
</div>



<div class="font-bold text-center my-3">
  3. SHARTNOMA PREDMETI
</div>


<div class="indent-4">
  3.1.
  Ushbu Shartnomaning shartlari standart shaklda belgilangan va Mijoz tomonidan “Shartnomaga qo'shilish to'g'risidagi ariza”ni imzolash orqali qabul qilinishi mumkin (1-ilova). Bank tomonidan “Shartnomaga qo'shilish to'g'risidagi ariza”ning qabul qilinishi, umuman olganda Mijozning ushbu Shartnomaga qo'shilishini anglatadi, Mijoz tomonidan “Shartnomaga qo'shilish to'g'risidagi ariza” imzolangan va uni Bank tomonidan qabul qilingan kundan boshlab Shartnoma tuzilgan hisoblanadi. Konversiya operatsiyalari bo'yicha xizmatlar Spot shartlari asosida taqdim etiladi.
</div>

<div class="indent-4">
  3.2.
  Bank umumiy qabul qilingan bank amaliyotiga amal qilgan holda va ushbu Shartnoma shartlariga muvofiq Mijozga bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga konvertatsiya qilish xizmatini taqdim etadi.
</div>

<div class="indent-4">
  3.3.
  Mijozga ko'rsatiladigan xizmatlar faqat uning “Konversiya operatsiyalarini amalga oshirish uchun ariza”ni bajarish bilan cheklanadi. Bank chet el valyutasini sotib olish/sotish yoki boshqa operatsiyalarning mohiyati yoki maqsadga muvofiqligi bo`yicha tavsiyalar yoki maslahatlar bermaydi.
</div>

<div class="indent-4">
  3.4.
  Mijoz “Konversiya operatsiyasini amalga oshirish uchun ariza”ni yozma ravishda yoki bank tizimlari orqali taqdim etadi.
</div>

<div class="indent-4">
  3.5.
  Taqdim etilgan “Konversiya operatsiyasini amalga oshirish uchun ariza” doirasida Bank tomonidan amalga oshiriladigan operatsiyalar bo`yicha barcha javobgarliklarni Mijoz olib boradi.
</div>




<div class="font-bold text-center my-3">
  4. KONVERSIYA OPERATSIYALARINI AMALGA OSHIRISH TARTIBI
</div>

<div class="indent-4">

  <div>
    4.1.
    Konversiya operatsiyasini amalga oshirish uchun Mijoz bitimning quyidagi tafsilotlari ko'rsatilishi majbiriy ko`rsatgan holda, Bankka tegishli “Konversiya operatsiyalarini amalga oshirish uchun ariza”ni taqdim etadi:
  </div>

  <div class="indent-4">
    - bitimning valyutasi va qarshi valyutasi;
  </div>

  <div class="indent-4">
    - bitim summasi.
  </div>
</div>


<div class="indent-4">
  4.2.
  “Konversiya operatsiyalarini amalga oshirish uchun ariza” Bank tomonidan “Konversiya operatsiyasini amalga oshirish uchun ariza” qabul qilingan kundan boshlab 2 (ikki) bank ish kunidan kechiktirmay ijro etiladi.
</div>

<div class="indent-4">
  4.3.
  Konversiya operatsiyalari Mijozning arizasiga muvofiq Bank kursi bo'yicha amalga oshiriladi.
</div>

<div class="indent-4">
  4.4.
  Konversiya bitimini tuzishda va Bank tomonidan ariza bajarilguniga qadar, Mijoz konversiya operatsiyasini amalga oshirish va vositachilik haqini to'lash uchun pul mablag'lari mavjudligini ta'minlashi kerak.
</div>

<div class="indent-4">
  4.5.
  Bank “Konversiya operatsiyasini amalga oshirish uchun ariza" asosida Mijozning  hisobvarag'idan chet el valyutasini o'tkazadi va hisobdan chiqaradi.
</div>

<div class="indent-4">
  4.6.
  Vositachilik haqini to'lash ushbu Shartnomaning 7-bo`limida belgilangan tartibda amalga oshiriladi.
</div>



<div class="font-bold text-center my-3">
  5. BANKNING HUQUQ VA MAJBURIYATLARI
</div>



<div class="indent-4">
  <div class="indent-4">5.1. Bank quyidagilarga majbur:</div>
  <div class="indent-4">
    -
    Mijozning operatsiyalari, bitimlari, hisobvaraqlari va rekvizitlari to'g'risidagi ma'lumotlarni uchinchi shaxslarga oshkor qilmaslik, bunday ma'lumotlarni qisman oshkor qilishga Mijozning o'zi bevosita ruxsat bergan yoki uning topshirig'ini bajarish zaruriyatidan kelib chiqqan hollar, shuningdek O'zbekiston Respublikasi qonunchiligida nazarda tutilgan hollar bundan mustasno. Shu bilan birga, Mijoz O'zbekiston Respublikasi qonunchiligiga muvofiq, Bank vakolatli organlarga ularning so'rovlari doirasida Mijozning operatsiyalari, hisobvaraqlari va Mijoz haqidagi boshqa ma'lumotlarni oshkor qilishga majbur bo'lishi mumkinligidan xabardor;
  </div>
  <div class="indent-4">
    -
    ushbu Shartnoma bo'yicha qabul qilingan majburiyatlarni o'z vaqtida va to'liq bajarish.
  </div>
</div>



<div class="indent-4">
  <div class="indent-4">5.2. Bank quyidagi huquqlarga ega:</div>
  <div class="indent-4">
    5.2.1.
    Mijoz tomonidan amalga oshiriladigan operatsiyalar bilan bog'liq masalalar bo'yicha zarur tushuntirishlar, ma`lumotnomalar, hujjatlar va ma'lumotlarni olish.
  </div>
  <div class="indent-4">
    5.2.2.
    Quyidagi hollarda xizmat ko'rsatishni bir tomonlama to'xtatib turish:
  </div>
  <div class="indent-4">
    a)
    Mijoz tomonidan mazkur Shartnoma bo'yicha o'z majburiyatlarini lozim darajada bajarmaganligi;
  </div>
  <div class="indent-4">
    b)
    Bank tomonidan Shartnoma shartlariga yoki O'zbekiston Respublikasining amaldagi qonunchiligiga muvofiq bo`lmagan operatsiyalarni aniqlash;
  </div>
  <div class="indent-4">
    v) Komplayens bi`yicha qo`shimcha shartlarga muvofiq Mijoz tomonidan berilgan tasdiqlarning bajarilmaganligi (ushbu Shartnomaga 1-ilova).
  </div>
  <div class="indent-4">
    g) Mijoz tomonidan ushbu Shartnomaning qo'shimcha shartlari va o'zgarishlarini qabul qilmasligi.
  </div>
</div>

<div class="indent-4">
  5.2.3.
  Bank Tariflarini bir tomonlama o'zgartirish. Bank Mijozga Tariflarning o'zgarishi to'g'risida o'zgartirishlar kuchga kirishidan 10 bank kunidan kechiktirmay bank bo'linmalari stendlariga va Bankning – www.hamkor.uz. veb-saytiga kiritilgan o'zgartirish va qo'shimchalar to'g'risidagi ma'lumotlarni joylashtirish orqali xabardor qiladi.
</div>

<div class="indent-4">
  5.2.4.
  Bank veb-saytida Shartnomaning yangi tahririni joylashtirish orqali ushbu Shartnoma shartlariga o'zgartirishlar kiritish. Agar Bank 10 (o'n) ish kuni ichida Mijozning bunday o'zgarishlarni qabul qilishdan bosh tortganligini olmasa va Mijoz yangi shartlarda xizmatlardan foydalanishda davom etsa, Shartnomadagi o'zgarishlar Mijoz tomonidan qabul qilingan, deb hisoblanadi.
</div>

<div class="indent-4">
  5.2.5.
  Jinoiy yo'l bilan olingan daromadlarni legallashtirishga va terrorizmni moliyalashtirishga qarshi kurashish maqsadida Bank Mijozdan mijozni identifikatsiya qilish imkonini beruvchi va hisobvaraq bo'yicha amalga oshirilgan operatsiyalarni tasdiqlovchi ma'lumot va hujjatlarni taqdim etishni talab qilish huquqiga ega.
</div>

<div class="indent-4">
  5.2.6.
  Ushbu Shartnomani bekor qilishdan kamida 10 (o'n) ish kuni oldin bu haqda Mijozni  yozma ravishda xabardor qilgan holda,  uni bekor qilish, bunda Mijoz ko'rsatilgan bank xizmatlari uchun Bankka to'lanadigan haqni to'lashi va Bank oldidagi barcha mavjud majburiyatlarni to'lashi shart.
</div>



<div class="font-bold text-center my-3">
  6. MIJOZNING HUQUQ VA MAJBURIYATLARI
</div>


<div class="indent-4">
  6.1
  Mijoz quyidagilarga majbur:
</div>

<div class="indent-4">
  6.1.1.
  Bankning talabiga ko'ra Mijoz tomonidan o'tkaziladigan operatsiyalar bilan bog'liq masalalar bo'yicha zarur tushuntirishlar, ma'lumotnomalar, hujjatlar va ma'lumotlarni taqdim etsin;
</div>

<div class="indent-4">
  6.1.2.
  Ushbu Shartnoma shartlari bajarilishi munosabati bilan unga ma'lum bo'lgan har qanday ma'lumotni Bankning yozma roziligisiz uchinchi shaxslarga bermaslik;
</div>

<div class="indent-4">
  6.1.3.
  Ushbu Shartnomada nazarda tutilgan tartibda, Bankning amaldagi Tariflariga muvofiq xizmat uchun Bankka vositachilik haqini to'lash, buning uchun hisobvaraq(lar)dagi pul mablag`lari qoldig'ini Bankning vositachilik haqini to'lash uchun yetarli darajada saqlab turish;
</div>

<div class="indent-4">
  6.2.
  Mijoz quyidagi huquqlarga ega:
</div>

<div class="indent-4">
  6.2.1.
  zarur hollarda Bankka “Konversiya operatsiyalarini amalga oshirish uchun arizalar” taqdim etish orqali bank xizmatlaridan foydalanish;
</div>

<div class="indent-4">
  6.2.2.
  belgilangan tartibda operatsiyalar to'g'risidagi ma'lumotlarni olish;
</div>

<div class="indent-4">
  6.2.3.
  Shartnomani bekor qilish uchun ariza berish orqali ushbu Shartnomani bekor qilish;
  настоящий Договор путем подачи заявления на расторжение Договора;
</div>

<div class="indent-4">
  6.3.
  Shartnomaga qo'shilish to'g'risidagi arizani imzolash orqali, Mijoz quyidagilarni  tasdiqlaydi-ki, ya`ni:
</div>

<div class="indent-4">
  6.3.1.
  ushbu Shartnoma shartlari bilan tanishib chiqqanligini va rozi ekanligini;
</div>

<div class="indent-4">
  6.3.2.
  Bank Tariflari, “HAMKOR BANK” ATB tizimida konversiya operatsiyalari bo'yicha xizmatlar ko'rsatish tartibi, konversiya operatsiyalarini amalga oshirish uchun zarur bo`lgan hujjatlar ro'yxati, shuningdek Tomonlarning huquqlari va majburiyatlari to'g'risida ma'lumot olganligini.
</div>


<div class="font-bold text-center my-3">
  7. VOSITACHILIK HAQINI TO`LASH TARTIBI
</div>

<div class="indent-4">
  7.1.
  Xizmat uchun vositachilik haqi miqdori Bank Tariflari bilan belgilanadi.
</div>

<div class="indent-4">
  7.2.
  Vosinachilik haqini to'lash Mijoz tomonidan mustaqil ravishda yoki Bank tomonidan ko'rsatilgan xizmatlar uchun zarur bo'lgan summani aktseptsiz tartibda Mijozning hisobvarag'i(lari)dan hisobdan chiqarish yo'li bilan amalga oshiriladi.
</div>

<div class="indent-4">
  "Shartnomaga qo'shilish to'g'risidagi ariza"ni imzolash orqali Mijoz Bankka Mijozning Bankda ochilgan bank hisobvaraqlarini to'g'ridan-to'g'ri debet qilish orqali, Mijozning har qanday qo'shimcha roziligisiz, Bankning tasdiqlangan Tariflariga muvofiq konversiya operatsiyasini o'tkazish uchun vositachilik haqini hisobdan chiqarish huquqini beradi.
</div>


<div class="font-bold text-center my-3">
  8. FORS-MAJOR HOLATLARI
</div>


<div class="indent-4">
  8.1.
  Tomonlar ushbu Shartnoma bo'yicha majburiyatlarni bajarmaganligi yoki lozim darajada bajarmaganligi uchun javobgarlikdan ozod qilinadi, agar bunday bajarmaslik yoki lozim darajada bajarmaslik yengib bo`lmas kuch holatlari (fors-major holatlari) natijasida yuzaga kelgan bo'lsa.
</div>

<div class="indent-4">
  8.2.
  Yengib bo`lmas kuch holatlari deganda, Tomonlar ushbu Shartnoma imzolangandan keyin favqulodda xarakterdagi kutilmagan va oldini olish mumkin bo`lmagan hodisalar natijasida yuzaga kelgan holatlar tushuniladi, masalan: urushlar va harbiy harakatlar, tabiiy ofatlar, Bank tizimlarining ishlashidagi texnik nosozliklar, O'zbekiston Respublikasi qonun chiqaruvchi va/yoki ijro etuvchi hokimiyat organlari, O'zbekiston Respublikasi Markaziy bankining Tomonlarning ushbu Shartnoma predmetiga bevosita aloqador faoliyatini taqiqlovchi yoki cheklovchi harakatlari.
</div>

<div class="indent-4">
  8.3.
  Ushbu Shartnomaning 8.2-bandida ko'rsatilgan holatlar tufayli ushbu Shartnoma bo'yicha majburiyatlarni bajarish mumkin emasligi yuzaga kelgan Tomon boshqa Tomonni kechiktirmasdan yozma ravishda xabardor qilishi va boshqa Tomonning talabiga binoan fors-major holatlarining boshlanishi va/yoki tugatilishini tasdiqlovchi dalillarni taqdim etishi kerak. Ko`rsatilgan holatlarning yuzaga kelishi va davomiyligining isboti bo`lib, vakolatli organ tomonidan berilgan yozma hujjatlar xizmat qiladi.
</div>

<div class="indent-4">
  8.4.
  8.2-bandda nazarda tutilgan holatlarda, ushbu Shartnoma bo'yicha majburiyatlarni bajarish muddati bunday holatlar va ularning oqibatlari amal qiladigan vaqtga mutanosib ravishda kechiktiriladi.
</div>

<div class="indent-4">
  8.5.
  Agar yengib bo`lmas kuch holatlari ketma-ket 30 kalendar kundan ortiq davom etsa, tomonlarning har biri shartnomani bekor qilish huquqiga ega. Bank ushbu holatda shartnomani bekor qiladi va shartnomani bekor qilish to'g'risida tegishli bildirishnomani Bank bo'linmalaridagi stendlarga, Bankning  - www.hamkor.uz  veb-saytiga joylashtiradi.
</div>


<div class="font-bold text-center my-3">
  9. SHARTNOMANING AMAL QILISH MUDDATI VA UNI BEKOR QILISH TARTIBI
</div>


<div class="indent-4">
  9.1.
  Shartnoma Mijoz tomonidan “Shartnomaga qo'shilish to'g'risidagi ariza” imzolangan va uni Bank tomonidan qabul qilingan kundan boshlab kuchga kiradi va muddatsiz hisoblanadi.
</div>

<div class="indent-4">
  9.2.
  Shartnoma Mijozning arizasiga binoan istalgan vaqtda Shartnomani bekor qilish to'g'risida ariza berish orqali bekor qilinishi mumkin.
</div>

<div class="indent-4">
  Agar Mijoz ushbu Shartnomaga kiritilgan o'zgartirish va qo'shimchalar bilan rozi bo'lmasa, Shartnoma Mijozning tashabbusi bilan bekor qilinishi mumkin.
</div>

<div class="indent-4">
  9.3.
  Shartnoma quyidagi hollarda Bank tomonidan bir tomonlama tartibda bekor qilinishi mumkin:
</div>

<div class="indent-4">
  •	 Mijoz tomonidan ushbu Shartnoma shartlari buzilganda;
</div>

<div class="indent-4">
  •
  Bank Mijozlarga bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga konvertatsiya qilish bo'yicha xizmatlar ko'rsatishni to'xtatish to'g'risida qaror qabul qilganda.
</div>



<div class="font-bold text-center my-3">
  10. JAVOBGARLIK VA NIZOLARNI HAL QILISH TARTIBI
</div>


<div class="indent-4">
  10.1.
  Tomonlar ushbu shartnoma bo'yicha majburiyatlarni bajarmaganlik yoki lozim darajada bajarmaganlik uchun, O'zbekiston Respublikasi qonunchiligida nazarda tutilgan miqdorda va tartibda javobgar bo`ladilar.
</div>

<div class="indent-4">
  10.2.
  Ushbu Shartnoma bo'yicha nizolar muzokaralar yo`li bilan hal qilinadi. Agar kelishuvga erishilmasa, nizo O'zbekiston Respublikasining amaldagi qonunchiligiga muvofiq vakolatli sudlarda ko'rib chiqilishi lozim.
</div>


<div class="font-bold text-center my-3">
  11. BOSHQA SHARTLAR
</div>

<div class="indent-4">
  11.1.
  Ushbu Shartnoma bilat tartibga solinmagan masalalar, O'zbekiston Respublikasining amaldagi qonunchiligi bilan tartibga solinadi.
</div>


<div class="font-bold text-center my-3">
  12. BANKNING YURIDIK MANZILI VA REKVIZITLARI
</div>

<div class="text-center">
  Bank: «HAMKOR BANK» ATB
</div>
<div class="text-center">
  Manzil: 100047, Toshkent sh., Maxtumkuli ko`chasi, 2 А-uy
</div>
<div class="text-center">
  Bank rekvizitlari:
</div>
<div class="text-center">
  SWIFT: АSАСUZ22,
</div>
<div class="text-center">
  STIR: 207018693, ХXTUT: 96120
</div>

<div class="page-break"></div>


<div class="grid grid-cols-2">
  <div></div>
  <div>
    <div class="text-end italic">
      Bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga
      konvertatsiya qilish bo'yicha xizmatlar ko`rsatish yuzasidan
      Ommaviy shartnoma – ofertaga
    </div>
    <div class="font-bold text-end">
      1-Ilova
    </div>
  </div>
</div>

<div class="text-center font-bold my-3">
  Bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga konvertatsiya
  qilish bo'yicha xizmatlar ko`rsatish yuzasidan Ommaviy shartnoma – ofertaga
  qo`shilish to`g`risida ariza
</div>

<div class="indent-4">
  Ariza beruvchining nomi				 (yuridik shaxs)
</div>

<div class="indent-4">
  Ariza beruvchining F.I.О 	(jismoniy shaxs)
</div>

<div class="indent-4">
  Ushbu ariza bilan, men Bankning www.hamkor.uz.  veb - saytida e'lon qilingan Bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga konvertatsiya qilish bo'yicha xizmatlar ko'rsatish yuzasidan Ommaviy shartnoma-oferta shartlari bilan tanishganimni tasdiqlayman, ularga roziman va umuman olganda unga qo'shilaman, shuningdek kelajakda Bankka nisbatan hech qanday da`voyim bo'lmaydi va Bank Tariflariga muvofiq ko'rsatilgan xizmatlar uchun vositachilik haqi summalarini aktseptsiz hisobdan chiqarishga rozilik beraman.
</div>


<div class="indent-4">
  Yuridik manzil va rekvizitlar (yuridik shaxs):
</div>

<div class="mt-10"></div>

<div class="my-3">
  Rahbar (imzo)  M.O`.
</div>

<div class="my-3">
  Pasport ma'lumotlari va manzili: (jismoniy shaxs):
</div>
<div class="my-3">
  (imzo)
</div>

<div class="page-break"></div>


<div class="grid grid-cols-2">
  <div></div>
  <div>
    <div class="text-end italic">
      Bir turdagi chet el valyutasini boshqa turdagi chet el valyutasiga
      konvertatsiya qilish bo'yicha xizmatlar ko`rsatish yuzasidan
      Ommaviy shartnoma – ofertaga
    </div>
    <div class="font-bold text-end">
      2-Ilova
    </div>
  </div>
</div>

<div class="font-bold text-center uppercase">
  KOMPLAYENS BO`YICHA QO`SHIMCHA SHARTLAR
</div>

<div class="font-bold text-center uppercase">
  1. Maqsad va ta`riflar
</div>

<div class="indent-4">
  1.1.
  Ushbu Komplayens bo`yicha qo`shimcha shartlarning maqsadi (bundan buyon matnda “Qo`shimcha shartlar” deb yuritiladi) Shartnoma taraflari uchun “Jinoiy faoliyatdan olingan daromadlarni legallashtirishga, terrorizmni moliyalashtirishga va ommaviy qirg'in qurollarini tarqatishni moliyalashtirishga qarshi kurashish” (bundan buyon matnda “JDL/TM/OQTMQK” deb yuritiladi), “Poraxo'rlikka va korruptsiyaga qarshi kurashish” (bundan buyon matnda “PKQK” deb yuritiladi), “Sanktsiyalar va eksport nazorati choralari” (bundan buyon matnda "Sanktsiyalar" deb yuritiladi) sohalarida yuzaga keladigan komplayens tavakkalchiliklarni  minimallashtirish hisoblanadi.

</div>

<div class="indent-4">
  <span class="font-bold">Jinoiy daromadlarni lelallashtirish</span>
  -
  jinoyat sodir etish natijasida olingan pul mablag'lari yoki boshqa mol-mulkka egalik qilish, ulardan foydalanish yoki tasarruf etishning qonuniy shaklini berish.
</div>

<div class="indent-4">
    <span class="font-bold">
      Terrorizmni moliyalashtirish
    </span>
  —
  bu terrorchilarga va terrorchilik faoliyatiga mablag`lar taqdim etish yoki moliyaviy qo'llab-quvvatlash.
</div>

<div class="indent-4">
    <span class="font-bold">
      Korruptsiya
    </span>
  –
  shaxs (bank xodimlari)ning o'z mansab yoki xizmat mavqeidan shaxsiy manfaatlari yoki o`zqa shaxslarning manfaatlarini ko`zlab moddiy yoki nomoddiy naf olishi uchun qonunga xilof ravishda foydalanishi, shuningdek bunday nafni qonunga xilof ravishda taqdim etishi.
</div>

<div class="indent-4">
    <span class="font-bold">
      Poraxo'rlik
    </span>
  –
  bu oluvchiga ta'sir o'tkazish va undan qonunga xilof xatti-harakatlarga erishish maqsadida qimmatliklarni berish, va'da qilish yoki ruxsat berish, olish yoki o'tkazish yoki oluvchining nafni qabul qilishi qonunga  xilof bo'lgan vaziyat.
</div>

<div class="indent-4">
    <span class="font-bold">
      Sanktsiyalar
    </span>
  deganda, tegishli yurisdiktsiya davlat organlari tomonidan joriy qilingan, yozib qo`yilgan yoki amalga kiritilgan iqtisodiy yoki moliyaviy cheklovlarni yoki savdo embargosini anglatadi.
</div>

<div class="indent-4">
    <span class="font-bold">
      Sanktsiyalar ro'yxati
    </span>
  –
  bu sanktsiyalar ostida bo'lgan jismoniy va/yoki yuridik shaxslar, hududlar, mamlakatlar, tovarlar va xizmatlarning reestri.
</div>

<div class="indent-4">
    <span class="font-bold">
      Eksport nazorati
    </span>
  –
  deganda tovarlar, texnologiyalar, texnik ma'lumotlar, dasturiy ta'minot yoki xizmatlarni import  qilish, eksport qilish, reeksport qilish, transferi, chiqarish, jo'natish, uzatish yoki har qanday taqdim etish yoki qabul qilishni tartibga solish bilan bog'liq qonunlar yoki huquqiy hujjatlar, shiningdek, hukumat organlari tomonidan qo'llaniladigan va amalga kiritilgan shunga o'xshash xususiyatdagi har qanday qonunlar yoki huquqiy hujjatlar tushuniladi.
</div>

<div class="indent-4">
    <span class="font-bold">
      Sanktsiya tavakkalchiliklari
    </span>
  -
  bu bank tranzaksiya xizmatlari sub'ekti, uning ta`sischisi, benefitsiari yoki nazorat qiluvchi shaxsga nisbatan amerika, yevropa sanktsiyalari yoki davlatlar va xalqaro yurisdiktsiyalar tomonidan qabul qilingan boshqa sanktsiyalarning joriy etilishi ehtimoli.
</div>

<div class="indent-4">
    <span class="font-bold">
      Bloklangan shaxs
    </span>
  -
  deganda, (a) mol-mulki yoki mulkka bo'lgan huquqi har qanday sanktsiyalar bilan bloklangan, (b) sanktsiyalar bo'yicha aktivlarni muzlatish ob'ekti sifatida belgilangan, (v) tegishli sanktsiyalar yoki eksport nazorati choralari bo'yicha bitimlar taqiqlangan yoki (g) har qanday bunday shaxsga tegishli yoki nazorat qilinadigan har qanday shaxsni anglatadi.
</div>

<div class="indent-4">
    <span class="font-bold">
      Moliyaviy firibgarlik
    </span>
  –
  qonunga xilof ravishda boyitish maqsadida aldash, ishonchni suiiste'mol qilish va boshqa manipulyatsiyalar orqali pul muomalasi sohasidagi noqonuniy xatti-harakatlarni amalga oshirish.
</div>

<div class="indent-4">
    <span class="font-bold">
      Mijoz
    </span>
  deganda, unga ushbu komplayens qoidalari qo'llaniladigan, “HAMKOR BANK” ATB (bundan buyon matnda “Bank" deb yuritiladi) bilan tuzilgan Shartnomada belgilangan tomon, yuridik yoki xususiy shaxsni anglatadi.
</div>

<div class="indent-4">
    <span class="font-bold">
      Affillangan shaxs
    </span>
  -
  mijozning faoliyatiga ta'sir ko'rsatishga qodir bo'lgan jismoniy yoki yuridik shaxs.
</div>

<div class="indent-4">
    <span class="font-bold">
      Korrespondent-bank
    </span>
  “HAMKOR BANK” ATB bilan ishbilarmonlik munosabatlarida bo'lgan va vakillik shartnomasi asosida Bankning topshirig`iga binoan to'lovlar, hisob-kitoblar va boshqa operatsiyalarni bajaruvchi bank.
</div>


<div class="font-bold text-center">
  2. Huquqiy asoslar.
</div>

<div class="indent-4">
  2.1.
  Ushbu Qo`shimcha shartlar doirasida Bank O'zbekiston Respublikasi qonunchiligiga rioya qiladi va xalqaro standartlarga amal qiladi.
</div>

<div class="indent-4">
  2.2.
  Mahalliy talablarga quyidagi hujjatlar kiradi:
</div>

<ul>
  <li class="indent-4">
    O'zbekiston Respublikasining Jinoyat Kodeksi.
  </li>

  <li class="indent-4">
    “Korruptsiyaga qarshi kurashish to'g'risida”gi Qonun.
  </li>

  <li class="indent-4">
    “Jinoiy faoliyatdan olingan daromadlarni legallashtirishga, terrorizmni moliyalashtirishga qarshi kurashish to'g'risida"gi qonun.
  </li>

  <li class="indent-4">
    2017-yil 23-maydagi 2886-sonli “Tijorat banklarida jinoiy faoliyatdan olingan daromadlarni legallashtirishga, terrorizmni moliyalashtirishga va ommaviy qirg'in qurolini tarqatishni moliyalashtirishga qarshi kurashish bo'yicha ichki nazorat qoidalari”.
  </li>

  <li class="indent-4">
    JDL/TM/OQTMQK, PKQK va Sanktsiyalar sohalarida Bankning tartib-taomillari.
  </li>
</ul>

<div class="indent-4">
  2.3. Xalqaro standartlarga quyidagi hujjatlar kiradi:
</div>

<ul>
  <li class="indent-4">
    Jinoiy daromadlarni legallashtirishga qarshi kurashish bo`yicha moliyaviy chora-tadbirlarni ishlab chiqish guruhining tavsiyalari (ingl. Financial Action Task Force on Money Laundering — FATF).
  </li>

  <li class="indent-4">
    ISO 37001:2016 - korrupsiyaga qarshi samarali tizimni tashkil etishda xalqaro qurilish modelini o'z ichiga olgan xalqaro standart .
  </li>

  <li class="indent-4">
    BMTning Sanktsiyalar ro'yxati,  OFAC (AQSH Moliya vazirligining xorijiy aktivlarni nazorat qilish boshqarmasi), EI (Evropa Ittifoqi, Evropa qo`mitasi), UK (Birlashgan Qirollik, Buyuk Britaniya va Shimoliy Irlandiya) va boshqa xorijiy davlatlar va xalqaro tashkilotlarning vakolatli organlari, shuningdek, boshqa rasmiy ravishda e`lon qilingan sektoral sanktsiyalar va/yoki eksport nazorati ro'yxatlari.
  </li>

  <li class="indent-4">
    JDL/TM/OQTMQK, PKQK, Sanktsiyalar sohasidagi Bank vakillik banklarining talablari.
  </li>
</ul>


<div class="font-bold text-center">
  3. Mijozning tasdig`i.
</div>

<div class="indent-4">
  3.1.
  Mijoz Bank bilan shartnomaviy munosabatlarga kirishda Bankni ushbu Qo`shimcha shartlarning 2.2-bandida ko'rsatilgan Qonunchilik hujjatlariga, shuningdek 2.3-bandida ko'rsatilgan xalqaro standartlarga rioya qilishini tasdiqlaydi, xususan, Mijoz:
</div>

<ul>
  <li class="indent-4">
    Bank bilan shartnomaviy munosabatlar doirasida jinoiy daromadlarni legallashtirishni va terrorizmni moliyalashtirishni amalga oshirmaydi;
  </li>

  <li class="indent-4">
    Bank bilan shartnomaviy munosabatlar doirasida moliyaviy firibgarlikda ishtirok etmaydi;
  </li>

  <li class="indent-4">
    Bank xodimiga pora taklif qilmaydi, pora bermaydi, Bank xodimidan pora olmaydi;
  </li>

  <li class="indent-4">
    Bank nomidan uchinchi shaxslarga pora taklif qilmaydi, bermaydi;
  </li>

  <li class="indent-4">
    Bank bilan shartnomaviy munosabatlar doirasida sanktsiyalar ro'yxatida bo'lgan tomon bilan kelishuvlar tuzmaydi, bank operatsiyalarini amalga oshirmaydi;
  </li>

  <li class="indent-4">
    Bank bilan shartnomaviy munosabatlar doirasida affillangan shaxsi sanktsiyalar ro'yxatida bo'lgan tomon bilan kelishuvlar tuzmaydi, bank operatsiyalarini amalga oshirmaydi;
  </li>

  <li class="indent-4">
    eksport nazorati ostida bo'lgan tovarlar va xizmatlar bo'yicha uchinchi shaxslar bilan kelishuvlar tuzmaydi, bank operatsiyalarini amalga oshirmaydi;
  </li>

  <li class="indent-4">
    sanktsiyalar ro'yxatida bo'lgan banklar (shu jumladan, ularning  affillangan shaxslari) orqali bank operatsiyalarini amalga oshirmaydi;
  </li>

  <li class="indent-4">
    shartnoma munosabatlari doirasida amalga oshirilayotgan tranzaktsiyalar, kontraktlar, operatsiyalar qatnashchilari, tovarlar va xizmatlar hamda mablag'larning harakati to`g`risidagi hujjatlar va ma'lumotlarning to'liq va oshkora taqdim etilishini ta'minlaydi;
  </li>

  <li class="indent-4">
    O'zbekiston Respublikasi Qonunchiligiga va xalqaro standartlarga zid bo'lgan har qanday qonunga xilof operatsiyalarni amalga oshirish niyatida emas;
  </li>

  <li class="indent-4">
    Mijozning ushbu Qo`shimcha shartga rioya qilmasligi natijasida kelib chiqadigan zararlar, chiqimlar, yo'qotishlar, majburiyatlar, jarimalar, peniyalar yoki xarajatlarni (shu jumladan advokatlik xarajatlari va gonorarlar) qoplash uchun javobgarlikdan Bankni ozod qiladi.
  </li>
</ul>

<div class="font-bold text-center">
  4. Bankning huquqlari.
</div>

<div class="indent-4">
  4.1.
  Mijoz ushbu Qo`shimcha shartning 3-bandi talablarini buzgan taqdirda, Bank Mijoz bilan shartnomaviy munosabatlarni bir tomonlama bekor qilishga haqli.
</div>

<div class="indent-4">
  4.2.
  Vakillik banklar tomonidan Bankka nisbatan sanktsiyalar yoki boshqa cheklov choralarini qo'llash xavfi yuzaga kelsa, Bank hisobvaraq ochishni va bank operatsiyalarini amalga oshirishni rad etish huquqiga ega.
</div>


</body>

</html>
