<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    td {
      text-align: center;
    }

    .page-break {
      page-break-before: always; /* Forces a page break before the element */
    }

  </style>
</head>


<body class="m-3">
<div class="font-bold text-center my-3">
  PUBLIC OFFER CONTRACT
  for Provision of Services on Conversion of Foreign Currency of One Type into Foreign Currency of Another Type
</div>

<div class="indent-4">
  This document is an official offer (public offer) of JSCB «HAMKOR BANK» (hereinafter referred to as «the Bank») and determines standard terms and procedure of banking operations on conversion of foreign currency of one type into foreign currency of another type with legal entities and individuals (hereinafter referred to as «the Customer»).
</div>

<div class="indent-4">
  In accordance with paragraph 2 of Article 369 of the Civil Code of the Republic of Uzbekistan (Civil Code of the RUz), in case of acceptance of the terms and conditions set out below and submission to the Bank of the Application for accession to the Agreement, the Customer, who accepts this offer, becomes a Party to the Agreement (in accordance with paragraph 4 of Article 370 of the Civil Code of the RUz, acceptance of the offer is equivalent to conclusion of the agreement on the terms and conditions set out in the offer), and the Bank and the Customer together are referred to as the Parties to the Agreement.
</div>

<div class="indent-4">
  In connection with the above, the Bank invites you to carefully read the text of this public offer and familiarize yourself with the Bank's tariffs. If you do not agree with any clause of the offer, the Bank offers you to refuse to use the services.
</div>

<div class="font-bold text-center my-3">
  1. TERMINOLOGY
</div>

<div class="indent-4">
  1.1. <span class="font-bold">Offer</span>
  means this document «Public Agreement - offer for provision of services on conversion of foreign currency of one type into foreign currency of another type»,
</div>

<div class="indent-4">
  1.2. <span class="font-bold">Acceptance of the offer</span>
  means full and unconditional acceptance of the offer by the Client by performing the actions specified in paragraph 3.1. of this offer.
</div>

<div class="indent-4">
  1.3. <span class="font-bold">Customer</span>
  means a legal entity or an individual who has accepted the offer and is thus a customer of the Bank's services under the concluded offer agreement.
</div>

<div class="indent-4">
  1.4. <span class="font-bold">Public Agreement - offer</span>
  means an agreement between the Bank and the Customer for rendering services on conversion of foreign currency of one type into foreign currency of another type, which is concluded by accepting the offer.
</div>

<div class="indent-4">
  1.5. <span class="font-bold">Application for adherence</span>
  means a written application in which the Customer expressly expresses his/her consent to adhere to this Agreement - offer and accepts its terms and conditions. This application shall be submitted by the Customer to the Bank in the form set out in Appendix No. 1 to this Agreement.
</div>

<div class="indent-4">
  1.6. <span class="font-bold">Service</span>
  means provision by the Bank of a service for conversion of foreign currency of one type into foreign currency of another type.
</div>

<div class="indent-4">
  1.7. <span class="font-bold">Conversion transaction</span>
  means an operation on purchase or sale of foreign currency of one type for foreign currency of another type.
</div>

<div class="indent-4">
  1.8. <span class="font-bold">Spot</span>
  means settlement terms under which conversion operations shall be executed within 2 (Two) banking business days from the date of acceptance of the «Application for conversion operation» by the Bank.
</div>


<div class="indent-4">
  1.9. <span class="font-bold">Bank working day</span>
  means a working day in the Republic of Uzbekistan and the states, whose national currencies are used in settlements on transactions concluded in accordance with this Agreement.
</div>

<div class="indent-4">
  1.10. <span class="font-bold">Tariffs</span>
  means commission amounts set by the Bank and charged by the Bank to the Customer for rendered services on conversion of foreign currency of one type into foreign currency of another type.
</div>




<div class="font-bold text-center my-3">
  2. GENERAL TERMS AND CONDITIONS OF SERVICES PROVIDED BY THE BANK
</div>



<div class="indent-4">
  2.1.
  This public agreement - offer (hereinafter referred to as the «Agreement») determines the procedure and terms of interaction between the Bank and the Customer when performing conversion transactions.
<div class="indent-4">
  2.2.
  This service is provided to the Bank's Customers who have accepted this offer by submitting the «Application for Adherence to the Agreement» and opened accounts with JSCB «HAMKOR BANK».
</div>

<div class="indent-4">
  2.3.
  Having acceded to this Agreement by submitting the « Application for Adherence to the Agreement», the Customer shall be entitled to use the Bank's services by submitting the «Application for conversion operations» as necessary.

<div class="indent-4">
  2.4.
  The Customer, submitting to the Bank the «Application for conversion operations», forms in the Bank on the respective deposit accounts the amount of funds in foreign currency necessary for the conversion operation and the amount of funds in national currency for payment of the commission fee.
</div>

<div class="indent-4">
  2.5.
  Conversion transaction shall be performed by the Bank upon fulfillment by the Customer of the conditions stipulated in clauses 2.2, 2.3, 2.4 of this Agreement.
</div>



<div class="font-bold text-center my-3">
  3. SUBJECT MATTER OF THE AGREEMENT
</div>


<div class="indent-4">
  3.1.
  The terms and conditions of this Agreement are defined in a standard form and may be accepted by the Customer by signing the «Application for Adherence to the Agreement» (Appendix No. 1). The Bank's acceptance of the «Application for Adherence to the Agreement» means the Customer's adherence to this Agreement as a whole, the Agreement shall be deemed concluded from the date of signing of the «Application for Adherence to the Agreement» by the Customer and its acceptance by the Bank. Conversion transaction services are provided on Spot terms.
</div>

<div class="indent-4">
  3.2.
  The Bank, guided by the generally accepted banking practice and in accordance with the terms and conditions of this Agreement, provides the Customer with the service of converting foreign currency of one type into foreign currency of another type.
</div>

<div class="indent-4">
  3.3.
  The services provided to the Client are limited solely to the execution of his «Application for conversion operations». The Bank does not give recommendations or consultations on the merits or expediency of buying/selling or other foreign currency transactions.
</div>

<div class="indent-4">
  3.4.
  The Customer shall submit the «Application for Execution of Conversion Transaction» in writing or via the Bank's systems.
</div>

<div class="indent-4">
  3.5.
  The Customer shall bear all responsibility for the operations performed by the Bank within the framework of the submitted «Application for Conversion Transaction».
</div>




<div class="font-bold text-center my-3">
  4. PROCEDURE FOR CONVERSION TRANSACTIONS
</div>

<div class="indent-4">

  <div>
    4.1.
    To execute a conversion transaction, the Customer shall submit to the Bank a respective «Application for execution of conversion transactions», with obligatory specification of the following details of the transaction:
  </div>

  <div class="indent-4">
    - the currency and counter currency of the transaction;
  </div>

  <div class="indent-4">
    - transaction amount.
  </div>
</div>


<div class="indent-4">
  4.2.
  «Application for conversion transaction» is executed by the Bank within 2 (two) banking business days from the date of acceptance of the «Application for conversion transaction» by the Bank.
</div>

<div class="indent-4">
  4.3.
  Conversion operations are performed according to the Customer's application at the Bank's exchange rate.
</div>

<div class="indent-4">
  4.4.
  When concluding a conversion transaction and until the Bank executes the application, the Customer shall ensure the availability of funds to carry out the conversion transaction and to pay the commission fee.
</div>

<div class="indent-4">
  4.5.
  The Bank shall credit and debit foreign currency from the Customer's account on the basis of the «Application for conversion transaction».
</div>

<div class="indent-4">
  4.6.
  Payment of the commission fee shall be made in accordance with the procedure set forth in Section 7 of this Agreement.
</div>



<div class="font-bold text-center my-3">
  5. BANK RIGHTS AND OBLIGATIONS
</div>



<div class="indent-4">
  <div class="indent-4">5.1. The Bank undertakes to:</div>
  <div class="indent-4">
    -
    not to disclose to third parties information on operations, transactions, accounts and details of the Client, except for cases when partial disclosure of such information is expressly authorized by the Client himself or arises from the need to fulfill his order, as well as cases stipulated by the legislation of the Republic of Uzbekistan. At the same time, the Client is aware that in accordance with the legislation of the Republic of Uzbekistan, the Bank may be compelled to disclose information on transactions, accounts of the Client, other information about the Client to competent authorities within the framework of their requests;
  </div>
  <div class="indent-4">
    -
    timely and fully fulfill the obligations assumed under this Agreement.
  </div>
</div>



<div class="indent-4">
  <div class="indent-4">5.2. The Bank shall have the right to:</div>
  <div class="indent-4">
    5.2.1.
    receive necessary explanations, references, documents and information on issues related to the Customer's transactions.
  </div>
  <div class="indent-4">
    5.2.2.
    unilaterally suspend the provision of the service in cases:
  </div>
  <div class="indent-4">
    a)
    improper fulfillment by the Client of its obligations under this Agreement;
  </div>
  <div class="indent-4">
    b)
    detection by the Bank of operations that do not comply with the terms of the Agreement or the current legislation of the Republic of Uzbekistan;
  </div>
  <div class="indent-4">
    c)
    failure of the Client to fulfill the assurances given by him according to the Compliance clause (Appendix No. 1 to this Agreement).
  </div>
  <div class="indent-4">
    d)
    the Customer's failure to accept additional terms and conditions and amendments to this Agreement.
  </div>
</div>

<div class="indent-4">
  5.2.3.
  To unilaterally change the Bank's Tariffs, the Bank shall notify the Customer about changes in the Tariffs not later than 10 banking days before the changes come into force by placing information about the changes and additions on the stands in the Bank's subdivisions and on the Bank's website - www.hamkor.uz.
</div>

<div class="indent-4">
  5.2.4.
  To introduce amendments to the terms and conditions of this Agreement by posting a new version of the Agreement on the Bank's website. If the Bank does not receive the Customer's refusal to accept such amendments within 10 (ten) business days and the Customer continues to use the Services under the new terms and conditions, the amendments to the Agreement shall be deemed accepted by the Customer.
</div>

<div class="indent-4">
  5.2.5.
  In order to prevent money laundering and terrorism financing, the Bank shall have the right to request the Customer to provide information and documents enabling to identify the Customer and confirming the transactions performed on the account.
</div>

<div class="indent-4">
  5.2.6.
  To terminate this Agreement with a written notice to the Client at least 10 (ten) business days prior to its termination, whereby the Client shall pay to the Bank the remunerations due for rendered banking services and settle all existing liabilities to the Bank.
</div>



<div class="font-bold text-center my-3">
  6. CUSTOMER RIGHTS AND OBLIGATIONS
</div>


<div class="indent-4">
  6.1
  The client shall:
</div>

<div class="indent-4">
  6.1.1.
  Provide the Bank with necessary explanations, references, documents and information on issues related to the Customer's transactions upon the Bank's request;
</div>

<div class="indent-4">
  6.1.2.
  Not to disclose to third parties without the Bank's written consent any information that becomes known to the Bank in connection with the fulfillment of the terms and conditions of this Agreement;
</div>

<div class="indent-4">
  6.1.3.
  Pay the Bank a commission fee for the service in accordance with the current Bank's Tariffs in accordance with the procedure stipulated by this Agreement, for which purpose to maintain a balance of funds on the account(s) sufficient to pay the Bank's commission fee;
</div>

<div class="indent-4">
  6.2.
  The client has the right to:
</div>

<div class="indent-4">
  6.2.1.
  use the Bank's services by submitting to the Bank, as necessary, «Applications for conversion operations»;
</div>

<div class="indent-4">
  6.2.2.
  receive certificates of operations in accordance with the established procedure;
</div>

<div class="indent-4">
  6.2.3.
  terminate this Contract by submitting an application for termination of the Contract;
</div>

<div class="indent-4">
  6.3.
  By signing the Application for adherence to the Agreement, the Customer confirms, that:
</div>

<div class="indent-4">
  6.3.1.
  is familiarized and agrees with the terms and conditions of this Agreement;
</div>

<div class="indent-4">
  6.3.2.
  he received information about the Bank's Tariffs, the procedure of providing services on conversion operations in the system of JSCB «HAMKOR BANK», the necessary list of documents for conversion operations, as well as the rights and obligations of the Parties.
</div>


<div class="font-bold text-center my-3">
  7. COMMISSION PAYMENT PROCEDURE
</div>

<div class="indent-4">
  7.1.
  The amount of commission fee for the service is established by the Bank's Tariffs.
</div>

<div class="indent-4">
  7.2.
  Payment of the commission fee shall be made by the Customer independently or by the Bank by debiting the Customer's account(s) without acceptance the necessary amount for the rendered services.
</div>

<div class="indent-4">
  By signing the «Statement of Adherence to the Agreement», the Customer authorizes the Bank to debit the commission fee for the conversion transaction in accordance with the Bank's approved Tariffs without any additional consent of the Customer by direct debiting of the Customer's bank accounts opened with the Bank.
</div>


<div class="font-bold text-center my-3">
  8. FORCE MAJEURE
</div>


<div class="indent-4">
  8.1.
  The Parties shall be released from liability for non-fulfillment or improper fulfillment of obligations under this Agreement if such non-fulfillment or improper fulfillment resulted from force majeure circumstances (force majeure).
</div>

<div class="indent-4">
  8.2.
  By force majeure circumstances the Parties understand the circumstances that have arisen after signing this Agreement as a  result of unforeseen and unavoidable events of extraordinary nature, such as: wars and military actions, natural disasters, technical failures in the operation of the Bank's systems, actions of legislative and/or executive authorities of the Republic of Uzbekistan, the Central Bank of the Republic of Uzbekistan, prohibiting or restricting the activities of the Parties directly related to the subject matter of this Agreement.
</div>

<div class="indent-4">
  8.3.
  The Party for which it is impossible to fulfill its obligations under this Agreement due to the circumstances specified in clause 8.2 of this Agreement shall notify the other Party in writing without delay and, at the request of the other Party, provide evidence confirming the occurrence and/or termination of force majeure. Proof of the occurrence and duration of the said circumstances shall be written documents issued by an authorized body.
</div>

<div class="indent-4">
  8.4.
  In cases stipulated in clause 8.2, the term of fulfillment of obligations under this Agreement shall be postponed commensurately with the time during which such circumstances and their consequences are in effect.
</div>

<div class="indent-4">
  8.5.
  If force majeure circumstances continue for more than 30 consecutive calendar days, each of the Parties shall be entitled to terminate the Agreement. The Bank shall terminate the agreement in such a case and place a respective notice of termination of the agreement on the stands in the Bank's subdivisions, on the Bank's website - www.hamkor.uz.
</div>


<div class="font-bold text-center my-3">
  9. THE TERM OF THE CONTRACT AND THE PROCEDURE FOR ITS TERMINATION
</div>


<div class="indent-4">
  9.1.
  The Agreement enters into force from the date of signing by the Customer of the «Statement of Adherence to the Agreement» and its acceptance by the Bank and is perpetual.
</div>

<div class="indent-4">
  9.2.
  The Agreement may be terminated at the Customer's request at any time by submitting an application for termination of the Agreement.
</div>

<div class="indent-4">
  The Agreement may be terminated at the initiative of the Customer in case the Customer does not agree with the amendments and additions made to this Agreement.
</div>

<div class="indent-4">
  9.3.
  The Agreement may be unilaterally terminated by the Bank in cases:
</div>

<div class="indent-4">
  •	 violation of the terms and conditions of this Agreement by the Client;
</div>

<div class="indent-4">
  •
  the Bank's decision to terminate the provision of foreign currency conversion services to the Customers of one type of foreign currency into another type of foreign currency.
</div>



<div class="font-bold text-center my-3">
  10. LIABILITY AND DISPUTE RESOLUTION PROCEDURES
</div>


<div class="indent-4">
  10.1.
  The Parties shall be liable for non-fulfillment or improper fulfillment of obligations under this Agreement in the amount and order, provided for by the legislation of the Republic of Uzbekistan.
</div>

<div class="indent-4">
  10.2.
  Disputes under this Agreement shall be resolved through negotiations. In case of failure to reach an agreement, the dispute is subject to consideration in the authorized courts, in accordance with the current legislation of the Republic of Uzbekistan.
</div>


<div class="font-bold text-center my-3">
  11. OTHER CONDITIONS
</div>

<div class="indent-4">
  11.1.
  Issues not regulated by this Agreement shall be regulated by the current legislation of the Republic of Uzbekistan.
</div>


<div class="font-bold text-center my-3">
  12. LEGAL ADDRESS AND BANK DETAILS
</div>

<div class="text-center">
  Bank: JSCB HAMKOR BANK
</div>
<div class="text-center">
  Address: 2 A Makhtumkuli St., Tashkent, 100047 Bank details:
</div>
<div class="text-center">
  Bank requisites:
</div>
<div class="text-center">
  SWIFT: ASACUZ22,
</div>
<div class="text-center">
  INN: 207018693, OCTOBER: 96120
</div>

<div class="page-break"></div>


<div class="grid grid-cols-2">
  <div></div>
  <div>
    <div class="font-bold text-end">Appendix No. 1  </div>
    <div class="text-end italic"> to the Public Offer Contract for rendering
      services on conversion of foreign currency of one type into foreign currency
      of another type
    </div>
  </div>
</div>

<div class="text-center font-bold my-3">
  Statement of adherence to the Public Agreement - offer for rendering services on conversion of foreign currency of one type into foreign currency of another type
</div>

<div class="indent-4">
  Name of the applicant   	    	 (legal entity)
</div>

<div class="indent-4">
  Full name of the applicant			(natural person)
</div>

<div class="indent-4">
  I hereby confirm that I am familiarized with the terms and conditions of the Public Agreement - offer for rendering services on conversion of foreign currency of one type into foreign currency of another type, published on the Bank's website www.hamkor.uz. I agree with them and join it in general, as well as I will have no further claims to the Bank under it, and I agree to write off the commission fee amounts for the rendered services without acceptance in accordance with the Bank's Tariffs.
</div>


<div class="indent-4">
  Legal address and details (legal entity):
</div>

<div class="mt-10"></div>

<div class="my-3">
  Head (signature) M.P.
</div>

<div class="my-3">
  Passport details and address: (natural person):
</div>
<div class="my-3">
  Caption
</div>

<div class="page-break"></div>


<div class="grid grid-cols-2">
  <div></div>
  <div>
    <div class="font-bold text-end">Annex No. 2
    </div>
    <div class="text-end italic">
      to the Public Offer Contract for rendering services on conversion of foreign currency of one type into
      foreign currency of another type
    </div>
  </div>
</div>

<div class="font-bold text-center uppercase">
  COMPLIANCE CLAUSE
</div>

<div class="font-bold text-center uppercase">
  1. Purpose and definitions
</div>

<div class="indent-4">
  1.1.
  The purpose of this Compliance Clause (hereinafter referred to as the «Clause») is to minimize compliance risks for the Parties to the Agreement arising in the areas of «Combating Money Laundering, Financing of Terrorism and Financing the Proliferation of Weapons of Mass Destruction» (hereinafter referred to as the «AML/CFT/FROMU»), «Combating Bribery and
  Corruption» (hereinafter referred to as the «BCP»), and «Export Control Sanctions and Measures»
  (hereinafter referred to as the «Sanctions»).

</div>

<div class="indent-4">
  <span class="font-bold">Money laundering</span>
  -
  giving a lawful appearance to the possession, use or disposal of money or other property obtained as a result of committing a crime.
</div>

<div class="indent-4">
    <span class="font-bold">
Terrorist financing
    </span>
  is the provision of funds or financial support to terrorists and terrorist activities.
</div>

<div class="indent-4">
    <span class="font-bold">
      Corruption
    </span>
  - illegal use by a person (bank employees) of his/her position or official position in personal interests or interests of other persons for obtaining material or non-material benefit, as well as illegal presentation of such benefit.
</div>

<div class="indent-4">
    <span class="font-bold">
      Bribery
    </span>
  is the giving, promising or authorizing, receiving or transferring of value with the intent to influence the recipient and to obtain improper action from him or her, or situations where the recipient's acceptance of the benefit is improper.
</div>

<div class="indent-4">
    <span class="font-bold">
      Sanctions
    </span>
  means economic or financial restrictions or trade embargoes imposed, prescribed or enforced by the governmental authorities of the relevant jurisdiction.
</div>

<div class="indent-4">
    <span class="font-bold">
      The Sanctions List
    </span>
  is a register of individuals and/or legal entities, territories, countries, goods and services that are subject to sanctions.
</div>

<div class="indent-4">
    <span class="font-bold">
Export controls
    </span>
  means laws or regulations relating to the regulation of import, export, re- export, transfer, release, shipment, transfer or any submission or receipt of goods, technology, technical data, software or services, and any laws or regulations of a similar nature applicable to and enacted by governmental authorities.
</div>

<div class="indent-4">
    <span class="font-bold">
Sanctions risks are
    </span>
  the probability that the subject of banking transaction services, its founder, beneficiary or controlling person will be subject to American, European sanctions or other sanctions adopted by states and international jurisdictions.
</div>

<div class="indent-4">
    <span class="font-bold">
Blocked Person
    </span>
  means any Person (a) whose property or right to property is blocked by any
  Sanctions, (b) who is designated as subject to an asset freeze under the Sanctions, (c) with whom transactions are prohibited under the relevant Sanctions or export controls, or (d) owned or controlled by any such Person.
</div>

<div class="indent-4">
    <span class="font-bold">
Financial fraud
    </span>
  –
  committing unlawful actions in the sphere of money circulation by means of deceit, abuse of trust and other manipulations for the purpose of unlawful enrichment.
</div>

<div class="indent-4">
    <span class="font-bold">
      Customer
    </span>
  means the party, legal entity or individual defined in the Agreement with «HAMKOR BANK» (hereinafter referred to as «the Bank») to whom these Compliance Provisions apply.
</div>

<div class="indent-4">
    <span class="font-bold">
      Affiliate
    </span>
  - an individual or legal entity that can influence the activities of the client.
</div>

<div class="indent-4">
    <span class="font-bold">
      Correspondent Bank
    </span>
  - a bank that has business relations with «HAMKOR BANK» and performs payments, settlements and other operations on behalf of the Bank on the basis of correspondent agreement.
</div>



<div class="font-bold text-center">
  2. Legal Framework.
</div>

<div class="indent-4">
  2.1.
  Within the framework of this Reservation Clause, the Bank shall comply with the Legislation of the Republic of Uzbekistan and adhere to international standards.
</div>

<div class="indent-4">
  2.2.
  Local requirements include the following documents:
</div>

<ul>
  <li class="indent-4">
    Criminal Code of the Republic of Uzbekistan.
  </li>

  <li class="indent-4">
    Law «On Combating Corruption».
  </li>

  <li class="indent-4">
    Law «On Combating the Legalization of Proceeds of Crime and the Financing of Terrorism».
  </li>

  <li class="indent-4">
    «Internal Control Rules on Combating Money Laundering, Financing of Terrorism and Financing of Proliferation of Weapons of Mass Destruction in Commercial Banks» No. 2886 dated 23.05.2017.
  </li>

  <li class="indent-4">
    The Bank's procedures in the areas of AML/CFT/FSRMU, PCC and Sanctions.
  </li>
</ul>

<div class="indent-4">
  2.3. International standards include the following documents:
</div>

<ul>
  <li class="indent-4">
    Recommendations1 Financial Action Task Force on Money Laundering (FATF).
  </li>

  <li class="indent-4">
    ISO 37001:2016 is an international standard2 , containing an international model for building an effective anti-corruption system in an organization.
  </li>

  <li class="indent-4">
    Sanctions lists of the UN, OFAC (Office of Foreign Assets Control of the US Treasury Department), EU (European Union, European Commission), CC (United Kingdom, United Kingdom and Northern Ireland) and authorized bodies of other foreign countries3 and
  </li>

  <li class="indent-4">
    Requirements of the Bank's correspondent banks in the field of AML/CFT/FROMU, SCC, Sanctions.
  </li>
</ul>


<div class="font-bold text-center">
  3. Client Assurance.
</div>

<div class="indent-4">
  3.1.
  Upon entering into a contractual relationship with the Bank, the Customer assures the Bank that he/she will comply with the Legislative Documents referred to in clause 2.2 and the international standards referred to in clause 2.3 of this clause, in particular the Customer:
</div>

<ul>
  <li class="indent-4">
    does not carry out money laundering and terrorism financing within the framework of contractual relations with the Bank;
  </li>

  <li class="indent-4">
    is not involved in financial fraud within the framework of contractual relations with the Bank;
  </li>

  <li class="indent-4">
    does not offer, does not provide a bribe to an employee of the Bank, does not take a bribe from an employee of the Bank;
  </li>

  <li class="indent-4">
    does not offer or provide bribes to third parties on behalf of the Bank;
  </li>

  <li class="indent-4">
    does not enter into agreements or perform banking transactions with a party that is on the sanctions lists within the framework of contractual relations with the Bank;
  </li>

  <li class="indent-4">
    does not enter into agreements or perform banking transactions with a party whose affiliate is on the sanctions list of contractual relations with the Bank;
  </li>

  <li class="indent-4">
    does not enter into agreements or bank transactions with persons for goods and services subject to export control;
  </li>

  <li class="indent-4">
    does not conduct banking transactions through banks that (including their affiliates) are on the sanctions lists;
  </li>

  <li class="indent-4">
    ensures full and transparent provision of documents and information on transactions, contracts, parties to transactions, goods and services, and movements of funds within the framework of contractual relations with the Bank;
  </li>

  <li class="indent-4">
    does not intend to carry out any unlawful operations contrary to the Legislation of the Republic of Uzbekistan and international standards;
  </li>

  <li class="indent-4">
    releases the Bank from liability to indemnify the Bank for losses, liability costs, fines, penalties and/or expenses (including attorney's fees) arising from the Client's failure to comply with this Disclaimer.
  </li>
</ul>

<div class="font-bold text-center">
  4. Rights of the Bank.
</div>

<div class="indent-4">
  4.1.
  If the Customer violates the requirements of clause 3 of this clause, the Bank shall have the right to unilaterally terminate the contractual relations with the Customer.
</div>

<div class="indent-4">
  4.2.
  If there are risks of application of sanctions or other restrictive measures against the Bank by correspondent banks, the Bank shall be entitled to refuse to open an account and perform banking operations.
</div>


</body>

</html>
