<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    td {
      text-align: center;
    }

    .page-break {
      page-break-before: always; /* Forces a page break before the element */
    }

  </style>
</head>


<body class="m-3">
  <div class="font-bold text-center my-3">
    Публичный договор - оферта на оказание услуг по конвертации иностранной валюты одного вида в иностранную валюту другого вида
  </div>

  <div class="indent-4">
    Данный документ является официальным предложением (публичной офертой) АКБ «HAMKOR BANK» (далее по тексту - Банк) и определяет стандартные условия и порядок осуществления банковских операций по конвертации иностранной валюты одного вида в иностранную валюту другого вида с юридическими и физическими лицами (далее - Клиент).
  </div>

<div class="indent-4">
  В соответствии с пунктом 2 статьи 369 Гражданского кодекса Республики Узбекистан (ГК РУз) в случае принятия изложенных ниже условий и подачи в Банк Заявления о присоединении к Договору Клиент, производящий акцепт настоящей оферты, становится Стороной Договора (в соответствии с частью 4 статьи 370 ГК РУз акцепт оферты равносилен заключению договора на условиях, изложенных в оферте), а Банк и Клиент совместно - Сторонами Договора.
</div>

<div class="indent-4">В связи с вышеизложенным, Банк предлагает Вам внимательно прочитать текст настоящей публичной оферты и ознакомиться с тарифами Банка. Если Вы не согласны с каким-либо пунктом оферты, Банк предлагает Вам отказаться от использования услуг.</div>

<div class="font-bold text-center my-3">
  1. ТЕРМИНОЛОГИЯ
</div>

<div class="indent-4">
  1.1. <span class="font-bold">Оферта</span>
  – настоящий документ «Публичный договор - оферта на оказание услуг по конвертации иностранной валюты одного вида в иностранную валюту другого вида»,
</div>

  <div class="indent-4">
    1.2. <span class="font-bold">Акцепт оферты</span>
    – полное и безоговорочное принятие оферты путем осуществления Клиентом действий, указанных в пункте 3.1. настоящей оферты.
  </div>

  <div class="indent-4">
    1.3. <span class="font-bold">Клиент</span> –
    юридическое или физическое лицо, осуществившее акцепт оферты, и являющееся таким образом заказчиком услуг Банка по заключенному договору оферты.
  </div>

  <div class="indent-4">
    1.4. <span class="font-bold">Публичный договор - оферта</span> –
    договор между Банком и Клиентом на оказание услуг по конвертации иностранной валюты одного вида в иностранную валюту другого вида, который заключается посредством акцепта оферты.
  </div>

  <div class="indent-4">
    1.5. <span class="font-bold">Заявление о присоединении</span> –
    письменное заявление, в котором Клиент однозначно выражает свое согласие на присоединение к настоящему Договору - оферты и акцептует его условия. Данное заявление подается Клиентом в Банк по форме, установленной в Приложении №1 к настоящему договору.
  </div>

  <div class="indent-4">
    1.6. <span class="font-bold">Услуга</span> –
    предоставление Банком услуги по конвертации иностранной валюты одного вида в иностранную валюту другого вида.
  </div>

  <div class="indent-4">
    1.7. <span class="font-bold">Конверсионная операция</span> –
    операция по покупке или продаже иностранной валюты одного вида за иностранную валюту другого вида.
  </div>

  <div class="indent-4">
    1.8. <span class="font-bold">Спот</span> –
    условия расчетов, по которым конверсионные операции исполняются в срок не позднее 2 (Двух) банковских рабочих дней, с даты принятия Банком «Заявления на осуществление конверсионной операции».
  </div>{{#pageBreak}}---newpage---{{/pageBreak}}


  <div class="indent-4">
    1.9. <span class="font-bold">Банковский рабочий день</span> –
    рабочий день в Республике Узбекистан и государствах, национальные валюты которых используются в расчетах по сделкам, заключенным в соответствии с настоящим Договором.
  </div>

  <div class="indent-4">
    1.10. <span class="font-bold">Тарифы</span> –
    установленные Банком суммы комиссионного вознаграждения, взимаемые Банком с Клиента за оказанные услуги по конвертации иностранной валюты одного вида в иностранную валюту другого вида.
  </div>




  <div class="font-bold text-center my-3">
    2. ОБЩИЕ УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ БАНКОМ УСЛУГ
  </div>



  <div class="indent-4">
    2.1. Настоящий публичный договор - оферта (далее - «Договор») определяет порядок и условия взаимодействия Банка и Клиента при совершении конверсионных операций  </div>

  <div class="indent-4">
    2.2.
    Настоящая услуга предоставляется Клиентам Банка, осуществившим акцепт настоящей оферты, путем подачи «Заявления о присоединении к Договору» и открывшим счета в АКБ «HAMKOR BANK».
  </div>

  <div class="indent-4">
    2.3.
    Присоединившись к данному Договору, путем подачи «Заявления о присоединении к Договору», Клиент вправе пользоваться услугами банка подавая по мере необходимости «Заявление на осуществление конверсионных операций».  </div>

  <div class="indent-4">
    2.4.
    Клиент, предъявляя в Банк «Заявление на осуществление конверсионных операций», формирует в Банке на соответствующих депозитных счетах сумму денежных средств в иностранной валюте необходимую для осуществления конверсионной операции и сумму денежных средств в национальной валюте для оплаты комиссионного вознаграждения.
  </div>

  <div class="indent-4">
    2.5.
    Конверсионная операция осуществляется Банком при выполнении Клиентом условий, предусмотренных в п.2.2.,2.3.,2.4, настоящего Договора.
  </div>



  <div class="font-bold text-center my-3">
    3. ПРЕДМЕТ ДОГОВОРА
  </div>


  <div class="indent-4">
    3.1.
    Условия настоящего Договора определены в стандартной форме и могут быть приняты Клиентом путем подписания «Заявления о присоединении к Договору», (Приложение № 1). Принятие Банком «Заявления о присоединении к Договору» означает присоединение Клиента к настоящему Договору в целом. Договор считается заключенным со дня подписания Клиентом «Заявления о присоединении к Договору» и принятия его Банком. Услуги по конверсионным операциям предоставляются на условиях Спот.
  </div>

  <div class="indent-4">
    3.2.
    Банк, руководствуясь общепринятой банковской практикой и в соответствии с условиями настоящего Договора, предоставляет Клиенту услугу по конвертации иностранной валюты одного вида в иностранную валюту другого вида.
  </div>

  <div class="indent-4">
    3.3.
    Услуги, предоставляемые Клиенту, ограничиваются исключительно исполнением его «Заявления на осуществление конверсионных операций». Банк не дает рекомендаций или консультаций по существу или целесообразности покупки/продажи или иных операций с иностранной валютой.
  </div>

  <div class="indent-4">
    3.4.
    Клиент передает «Заявление на осуществление конверсионной операции» в письменной форме или через системы банка.
  </div>

  <div class="indent-4">
    3.5.
    Всю ответственность по осуществляемым Банком операциям в рамках поданного «Заявления на осуществление конверсионной операции» несет Клиент.
  </div>




  <div class="font-bold text-center my-3">
    4. ПОРЯДОК ОСУЩЕСТВЛЕНИЯ КОНВЕРСИОННЫХ ОПЕРАЦИЙ
  </div>

  <div class="indent-4">

    <div>
      4.1. Для осуществления конверсионной операции Клиент предоставляет в Банк соответствующее «Заявление на осуществление конверсионных операций», с обязательным указанием в нем следующих деталей сделки:
    </div>

    <div class="indent-4">
      - валюта и контрвалюта сделки;
    </div>

    <div class="indent-4">
      - сумма сделки.
    </div>
  </div>


  <div class="indent-4">
    4.2.
    «Заявление на осуществление конверсионной операции» исполняется Банком в срок не позднее 2 (два) банковских рабочих дней, с даты принятия Банком «Заявления на осуществление конверсионной операции».
  </div>

  <div class="indent-4">
    4.3.
    Конверсионные операции осуществляются согласно заявления Клиента по курсу Банка.
  </div>

  <div class="indent-4">
    4.4.
    При заключении конверсионной сделки и вплоть до исполнения Банком заявления, Клиент должен обеспечить наличие денежных средств для осуществления конверсионной операции и для оплаты комиссии.
  </div>

  <div class="indent-4">
    4.5.
    Банк на основании «Заявления на осуществление конверсионной операции» производит зачисление и списание иностранной валюты со счета Клиента.
  </div>

  <div class="indent-4">
    4.6.
    Оплата комиссионного вознаграждения осуществляется в порядке, установленном в разделе 7 настоящего Договора.
  </div>



  <div class="font-bold text-center my-3">
    5. ПРАВА И ОБЯЗАННОСТИ БАНКА
  </div>



  <div class="indent-4">
    <div class="indent-4">5.1. Банк обязуется:</div>
    <div class="indent-4">
      -
      не раскрывать третьим лицам сведения об операциях, сделках, счетах и реквизитах Клиента, кроме случаев, когда частичное раскрытие таких сведений прямо разрешено самим Клиентом или вытекает из необходимости выполнить его поручение, а также случаев, предусмотренных законодательством Республики Узбекистан. При этом, Клиент осведомлен, что в соответствии с законодательством Республики Узбекистан, Банк может быть вынужден раскрыть для компетентных органов в рамках их запросов информацию об операциях, счетах Клиента, прочую информацию о Клиенте;
    </div>
    <div class="indent-4">
      -
      своевременно и в полном объеме выполнять обязательства принятые по настоящему Договору.
    </div>
  </div>



  <div class="indent-4">
    <div class="indent-4">5.2. Банк имеет право:</div>
    <div class="indent-4">
      5.2.1.
      Получать необходимые разъяснения, справки, документы и сведения по вопросам, касающимся проводимых Клиентом операций.
    </div>
    <div class="indent-4">
      5.2.2.
      Приостановить в одностороннем порядке предоставление услуги в случаях:
    </div>
    <div class="indent-4">
      a)
      ненадлежащего исполнения Клиентом своих обязательств по настоящему Договору;
    </div>
    <div class="indent-4">
      б) обнаружения Банком операций, не соответствующих условиям Договора или действующего законодательства Республики Узбекистан;
    </div>
    <div class="indent-4">
      в) невыполнения Клиентом данных им заверений согласно Комплаенс оговорки (Приложение № 1 к настоящему Договору).
    </div>
    <div class="indent-4">
      г) непринятия Клиентом дополнительных условий и изменений настоящего Договора.
    </div>
  </div>

  <div class="indent-4">
    5.2.3.
    В одностороннем порядке изменять Тарифы Банка. Банк уведомляет Клиента об изменении Тарифов не позднее 10 банковских дней до вступления изменений в силу путем размещения информации о внесенных изменениях и дополнениях на стендах в подразделениях Банка и на веб-сайте Банка - www.hamkor.uz.
  </div>

  <div class="indent-4">
    5.2.4.
    Вносить изменения в условия настоящего Договора посредством размещения новой редакции Договора на веб-сайте Банка. Если Банк не получит в течение 10 (десять) рабочих дней отказ Клиента от принятия таких изменений, и Клиент продолжит пользоваться Услугами на новых условиях, изменения Договора будут считаться принятыми Клиентом.
  </div>

  <div class="indent-4">
    5.2.5.
    В целях противодействия легализации доходов, полученных преступным путем, и финансирования терроризма Банк имеет право требовать от Клиента предоставления информации и документов, позволяющих идентифицировать Клиента и подтверждающих совершаемые по счету операции.
  </div>

  <div class="indent-4">
    5.2.6.
    Расторгнуть настоящий Договор с письменным уведомлением об этом Клиента, не менее чем за 10 (десять) рабочих дней до его расторжения, при этом Клиент обязан уплатить Банку вознаграждения, причитающиеся за оказанные банковские услуги, и погасить все имеющиеся обязательства перед Банком.
  </div>



  <div class="font-bold text-center my-3">
    6. ПРАВА И ОБЯЗАННОСТИ КЛИЕНТА
  </div>


  <div class="indent-4">
    6.1
    Клиент обязан:
  </div>

  <div class="indent-4">
    6.1.1.
    Предоставить по требованию Банка необходимые разъяснения, справки, документы и сведения по вопросам, касающихся проводимых Клиентом операций;
  </div>

  <div class="indent-4">
    6.1.2.
    Не передавать третьим лицам без письменного согласия Банка любые сведения, которые станут ему известны в связи с исполнением условий настоящего Договора;
  </div>

  <div class="indent-4">
    6.1.3.
    Оплачивать Банку комиссию за услугу в соответствии с действующими Тарифами Банка в порядке, предусмотренном настоящим Договором, для чего поддерживать остаток денежных средств на счете(ах), достаточный для оплаты комиссии Банка;
  </div>

  <div class="indent-4">
    6.2.
    Клиент имеет право:
  </div>

  <div class="indent-4">
    6.2.1.
    пользоваться услугами банка представляя в Банк по мере необходимости «Заявления на осуществление конверсионных операций»;
  </div>

  <div class="indent-4">
    6.2.2.
    в установленном порядке получать справки об операциях;
  </div>

  <div class="indent-4">
    6.2.3.
    расторгнуть настоящий Договор путем подачи заявления на расторжение Договора;
  </div>

  <div class="indent-4">
    6.3.
    Подписанием Заявления о присоединении к Договору Клиент подтверждает, что:
  </div>

  <div class="indent-4">
    6.3.1.
    ознакомлен и согласен с условиями настоящего Договора;
  </div>

  <div class="indent-4">
    6.3.2.
    им получена информация о Тарифах Банка, порядке предоставления услуг по конверсионным операциям в системе АКБ «HAMKOR BANK», необходимом перечне документов для осуществления конверсионных операций, а также правах и обязанностях Сторон.
  </div>


  <div class="font-bold text-center my-3">
    7. ПОРЯДОК ОПЛАТЫ КОМИССИИ
  </div>

  <div class="indent-4">
    7.1.
    Размер комиссионного вознаграждения за услугу устанавливается Тарифами Банка.
  </div>

  <div class="indent-4">
    7.2.
    Оплата комиссионного вознаграждения осуществляется Клиентом самостоятельно либо Банком путем списания в безакцептном порядке со счета(ов) Клиента необходимой суммы за оказанные услуги.
  </div>

  <div class="indent-4">
    Подписанием «Заявления о присоединении к Договору» Клиент предоставляет Банку право без какого-либо дополнительного согласия Клиента путем прямого дебетования банковских счетов Клиента, открытых в Банке, списывать комиссию за проведение конверсионной операции в соответствии с утвержденными Тарифами Банка.
  </div>


  <div class="font-bold text-center my-3">
    8. ФОРС-МАЖОРНЫЕ ОБСТОЯТЕЛЬСТВА
  </div>


  <div class="indent-4">
    8.1.
    Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по настоящему Договору, если такое неисполнение или ненадлежащее исполнение явилось следствием обстоятельств непреодолимой силы (форс¬мажорные обстоятельства).
  </div>

  <div class="indent-4">
    8.2.
    Под обстоятельствами непреодолимой силы Стороны понимают обстоятельства, которые возникли после подписания настоящего Договора в результате непредвиденных и непредотвратимых событий чрезвычайного характера, таких как: войны и военные действия, стихийные бедствия, технические сбои в работе систем Банка, действия органов законодательной и/или исполнительной власти Республики Узбекистан, Центрального банка Республики Узбекистан, запрещающих или ограничивающих деятельность Сторон, непосредственно относящуюся к предмету настоящего Договора.
  </div>

  <div class="indent-4">
    8.3.
    Сторона, для которой создалась невозможность исполнения обязательств по настоящему Договору вследствие обстоятельств, указанных в п. 8.2. настоящего Договора, должна известить в письменном виде другую сторону без промедления и по требованию другой Стороны представить доказательства, подтверждающие наступление и/или прекращение форс-мажорных обстоятельств. Доказательством наступления и продолжительности указанных обстоятельств служат письменные документы, выданные уполномоченным органом.
  </div>

  <div class="indent-4">
    8.4.
    В случаях, предусмотренных п. 8.2., срок исполнения обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действуют такие обстоятельства и их последствия.
  </div>

  <div class="indent-4">
    8.5.
    Если обстоятельства непреодолимой силы продолжаются более 30 календарных дней подряд, каждая из сторон вправе расторгнуть договор. Банк расторгает договор в указанном случае и размещает соответствующее уведомление о расторжении договора на стендах в подразделениях Банка, на веб-сайте Банка - www.hamkor.uz.
  </div>


  <div class="font-bold text-center my-3">
    9. СРОК ДЕЙСТВИЯ ДОГОВОРА И ПОРЯДОК ЕГО РАСТОРЖЕНИЯ
  </div>


  <div class="indent-4">
    9.1.
    Договор вступает в силу со дня подписания Клиентом «Заявления о присоединении к Договору» и принятия его Банком и является бессрочным.
  </div>

  <div class="indent-4">
    9.2.
    Договор может быть расторгнут по заявлению Клиента в любое время путем подачи заявления о расторжении Договора.
  </div>

  <div class="indent-4">
    Договор может быть расторгнут по инициативе Клиента в случае несогласия Клиента с внесенными изменениями и дополнениями в настоящий Договор.
  </div>

  <div class="indent-4">
    9.3.
    Договор может быть расторгнут Банком в одностороннем порядке в случаях:
  </div>

  <div class="indent-4">
    •	 нарушения Клиентом условий настоящего Договора;
  </div>

  <div class="indent-4">
    •	 принятия Банком решения о прекращении оказания Клиентам услуг по конвертации иностранной валюты одного вида в иностранную валюту другого вида.
  </div>



  <div class="font-bold text-center my-3">
    10. СРОК ДЕЙСТВИЯ ДОГОВОРА И ПОРЯДОК ЕГО РАСТОРЖЕНИЯ
  </div>


  <div class="indent-4">
    10.1.
    Стороны несут ответственность за неисполнение либо ненадлежащее исполнение обязательств по настоящему договору в размере и порядке, предусмотренном законодательством Республики Узбекистан.
  </div>

  <div class="indent-4">
    10.2.
    Споры по данному Договору разрешаются посредством переговоров. При не достижении согласия, спор подлежит рассмотрению в уполномоченных судах, в соответствии с действующим законодательством Республики Узбекистан.
  </div>


  <div class="font-bold text-center my-3">
    11. ПРОЧИЕ УСЛОВИЯ
  </div>

  <div class="indent-4">
    11.1.
    Вопросы, не урегулированные настоящим Договором, регулируются действующим законодательством Республики Узбекистан.
  </div>


  <div class="font-bold text-center my-3">
    12. ЮРИДИЧЕСКИЙ АДРЕС И РЕКВИЗИТЫ БАНКА
  </div>

  <div class="text-center">
    Банк: АКБ «HAMKOR BANK»
  </div>
  <div class="text-center">
    Адрес: 100047, г. Ташкент, ул.Тараккиёт, д. 2 А
  </div>
  <div class="text-center">
    Банковские реквизиты:
  </div>
  <div class="text-center">
    SWIFT: ASACUZ22,
  </div>
  <div class="text-center">
    ИНН: 207018693, ОКОНХ: 96120
  </div>

  <div class="page-break"></div>


  <div class="grid grid-cols-2">
    <div></div>
    <div>
      <div class="font-bold text-end">Приложение №1</div>
      <div class="text-end italic">к Публичному договору-оферте
        на оказание услуг по конвертации иностранной
        валюты одного вида в иностранную валюту другого вида
      </div>
    </div>
  </div>

<div class="text-center font-bold my-3">
  Заявление о присоединении к Публичному договору - оферте на оказание услуг по конвертации иностранной валюты одного вида в иностранную валюту другого вида
</div>

<div class="indent-4">
  Наименование заявителя ___________________	(юридическое лицо)
</div>

  <div class="indent-4">
    Ф.И.О заявителя ___________________	(физическое лицо)
  </div>

  <div class="indent-4">
    Настоящим заявлением подтверждаю, что ознакомлена) с условиями Публичного договора - оферты на оказание услуг по конвертации иностранной валюты одного вида в иностранную валюту другого вида, опубликованного на веб-сайте Банка www.hamkor.uz. соглашаюсь с ними и присоединяюсь к нему в целом, а также претензий по нему в дальнейшем к Банку иметь не буду, и даю согласие на безакцептное списание сумм комиссионного вознаграждения за оказанные услуги в соответствии с Тарифами Банка.
  </div>


  <div class="indent-4">
    Юридический адрес и реквизиты (юридическое лицо):
  </div>

<div class="mt-10"></div>

<div class="my-3">
  Руководитель (подпись) М.П.
</div>

  <div class="my-3">
    Паспортные данные и адрес: (физическое лицо):
  </div>
  <div class="my-3">
    Подпись
  </div>

<div class="page-break"></div>


  <div class="grid grid-cols-2">
    <div></div>
    <div>
      <div class="font-bold text-end">Приложение №2</div>
      <div class="text-end italic">
        к Публичному договору-оферте
        на оказание услуг по конвертации иностранной
        валюты одного вида в иностранную валюту другого вида
      </div>
    </div>
  </div>

  <div class="font-bold text-center uppercase">
    КОМПЛАЕНС ОГОВОРКА
  </div>

  <div class="font-bold text-center uppercase">
    1. Цель и определения
  </div>

  <div class="indent-4">
    1.1.
    Целью настоящей Комплаенс оговорки (Далее – “Оговорка”) является минимизация комплаенс рисков для сторон Договора, возникающих в сферах “Противодействия легализации доходов, полученных от преступной деятельности, финансированию терроризма и финансированию распространения оружия массового уничтожения” (Далее – “ПОД/ФТ/ФРОМУ”), “Противодействия взяточничеству и коррупции” (Далее – “ПВК”), “Санкций и мер экспортного контроля” (Далее – “Санкции”).

  </div>

  <div class="indent-4">
    <span class="font-bold">Отмывание денег</span>
    - придание правомерного вида владению, пользованию или распоряжению денежными средствами или иным имуществом, полученных в результате совершения преступления.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Финансирование терроризма
      </span>
    — это предоставление средств или оказание финансовой поддержки террористам и террорестической деятельности.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Коррупция
    </span>
    – незаконное использование лицом (работникам банка) своего положения или служебного положения в личных интересах или интересах других лиц для получения материальной или нематериальной выгоды, а также незаконное представление такой выгоды.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Взяточничество
    </span>
    – это дача, обещание или разрешение, получение или передача ценности с целью оказания влияния на получателя, и добиться от него неправомерных действий, или ситуации, когда принятие выгоды получателем является неправомерным.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Санкции
    </span>
    означают экономические или финансовые ограничения, или торговое эмбарго, наложенные, прописанные или введенные в действие правительственными органами соответствующей юрисдикции
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Санкционный список
    </span>
    – представляет с собой реестр физических и/или юридических лиц, территорий, стран, товаров и услуг попавшие под санкции.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Экспортный контроль
    </span>
    означает законы или правовые акты, связанные с регулированием импорта, экспорта, реэкспорта, трансфера, выпуска, отгрузки, передачи или любого представления, или получения товаров, технологий, технических данных, программного обеспечения или услуг, а также любые законы или правовые акты подобного характера, применимые и введенные в действие правительственными органами.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Санкционные риски
    </span>
    – это вероятность, что в отношении субъекта банковских транзакционных услуг, его учредителя, бенефициара или контролирующего лица будут введены американские, европейские санкции, либо другие санкции принятые государствами и международными юрисдикциями.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Заблокированное лицо
    </span>
    означает любое лицо (а) чье имущество или право на имущество заблокировано какими-либо санкциями, (б) которое определено как объект замораживания активов согласно Санкциям, (в) с которым запрещены сделки согласно соответствующим санкциям или мерам экспортного контроля, или (г) принадлежащее или контролируемое любым таким лицом.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Финансовое мошенничество
    </span>
    - совершение противоправных действий в сфере денежного обращения путем обмана, злоупотребления доверием и других манипуляций с целью незаконного обогащения.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Клиент
    </span>
    означает сторону, юридическое или частное лицо, определенное в Договоре с АКБ “HAMKOR BANK” (Далее – “Банк”) , к которому применяются настоящие Положения комплаенс.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Аффилированное лицо
    </span>
    — физическое или юридическое лицо, способное оказывать влияние на деятельность клиента.
  </div>

  <div class="indent-4">
    <span class="font-bold">
      Банк-корреспондент
    </span>
    - банк, состоящий в деловых отношениях с АКБ “HAMKOR BANK” и выполняющий платежи, расчеты, иные операции по поручению Банка на основе корреспондентского договора.
  </div>



  <div class="font-bold text-center">
    2. Правовые основы
  </div>

  <div class="indent-4">
    2.1. банк, состоящий в деловых отношениях с АКБ “HAMKOR BANK” и выполняющий платежи, расчеты, иные операции по поручению Банка на основе корреспондентского договора.
  </div>

  <div class="indent-4">
    2.2.
    Локальным требованиям относятся следующие документы:
  </div>

  <ul>
    <li class="indent-4">
      Уголовный Кодекс Республики Узбекистан.
    </li>

    <li class="indent-4">
      Закон “О противодействии коррупции”.
    </li>

    <li class="indent-4">
      Закон “О противодействии легализации доходов, полученных от преступной деятельности, финансированию терроризма”.
    </li>

    <li class="indent-4">
      “Правила внутреннего контроля по противодействию легализации доходов, полученных от преступной деятельности, финансированию терроризма и финансированию распространения оружия массового уничтожения в коммерческих банках” № 2886 от 23.05.2017.
    </li>

    <li class="indent-4">
      Процедуры Банка в сферах ПОД/ФТ/ФРОМУ, ПВК и Санкций.
    </li>
  </ul>

  <div class="indent-4">
    2.3. Международным стандартам относятся следующие документы:
  </div>

  <ul>
    <li class="indent-4">
      Рекомендации Группы разработки финансовых мер борьбы с отмыванием денег (англ. Financial Action Task Force on Money Laundering — FATF).
    </li>

    <li class="indent-4">
      ISO 37001:2016 – международный стандарт, содержащий международную модель построения в организации результативной системы противодействия коррупции.
    </li>

    <li class="indent-4">
      Санкционные списки ООН, OFAC (Управление по контролю за иностранными активами Министерства финансов США), EC (Европейский союз, Европейская комиссия), UK (Соединенное Королевство, Великобритания и Северная Ирландия) и уполномоченных органов других иностранных государств и международных организаций, а также другие официально обвяленные  списки секторальных санкций и/или экспортного контроля.
    </li>

    <li class="indent-4">
      Требования банков корреспондентов Банка в сфере ПОД/ФТ/ФРОМУ, ПВК, Санкций.
    </li>
  </ul>


  <div class="font-bold text-center">
    3. Заверение клиента.
  </div>

  <div class="indent-4">
    3.1.
    Клиент при вступлении в договорные отношения с Банком заверяет Банк что будет соблюдать Законодательные документы, указанные в пункте 2.2., а также международные стандарты, указанные в пункте 2.3. настоящей Оговорки, в частности Клиент:
  </div>

  <ul>
    <li class="indent-4">
      не осуществляет отмывание денег и финансирование терроризма в рамках договорных отношений с Банком;
    </li>

    <li class="indent-4">
      не участвует в финансовом мошенничестве в рамках договорных отношений с Банком;
    </li>

    <li class="indent-4">
      не предлагает, не предоставляет взятку сотруднику Банка, не берет взятку от сотрудника Банка;
    </li>

    <li class="indent-4">
      не предлагает, не предоставляет взятку третьим лицам от имени Банка;
    </li>

    <li class="indent-4">
      не заключает соглашения, не осуществляет банковские операции со стороной, который находиться в санкционных списках в рамках договорных отношений с Банком;
    </li>

    <li class="indent-4">
      не заключает соглашения, не осуществляет банковские операции со стороной, чьё аффилированное лицо находиться в санкционных списках в рамках договорных отношений с Банком;
    </li>

    <li class="indent-4">
      не заключает соглашения, не осуществляет банковские операции с третьими лицами по товарам и услугам подпадающие под экспортный контроль;
    </li>

    <li class="indent-4">
      не осуществляет банковские операции, через банки, которые (в т.ч. аффилированные лица которых) находятся в санкционных списках;
    </li>

    <li class="indent-4">
      обеспечивает полное и прозрачное предоставление документов и сведений по осуществляемым транзакциям, контрактам, участникам операций, товарам и услугам, и движениям средств в рамках договорных отношений с Банком;
    </li>

    <li class="indent-4">
      не намерен осуществлять любые неправомерные операции, противоречащие Законодательству Республики Узбекистан и международным стандартам;
    </li>

    <li class="indent-4">
      освобождает от ответственности Банк возмещать убытки, издержки, потерь, обязательств, штрафов, пений и/или расходов (включая адвокатские расходы и гонорары), возникающих в результате несоблюдения Клиентом настоящей Оговорки.
    </li>
  </ul>

  <div class="font-bold text-center">
    4. Права Банка.
  </div>

  <div class="indent-4">
    4.1.
    При нарушении Клиентом требований 3-го пункта настоящей Оговорки Банк имеет право в одностороннем порядке расторгнуть договорные отношения с Клиентом.
  </div>

  <div class="indent-4">
    4.2.
    При возникновении рисков применения санкций или других ограничительных мер по отношению Банка со стороны банков-корреспондентов Банк имеет право отказать открытию счета и осуществлению банковских операций.
  </div>


</body>

</html>
