<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    th {
      border: 1px solid #5b5b5b;
      border-collapse: collapse;
    }

    td {
      padding: 4px 6px;
      text-align: start;
      border: 1px solid #5b5b5b;
      border-collapse: collapse;
    }

    .page-break {
      page-break-before: always; /* Forces a page break before the element */
    }

  </style>
</head>


<body class="m-3">
<h6 class="my-4 text-center text-[20px]">Опись документов в Картотеке-1</h6>
<table>
  <thead>
  <tr>
    <th>Код</th>
    <th>Номер документа</th>
    <th>Дата</th>
    <th>Сумма по документу</th>
    <th>Остаток</th>
    <th>МФО получателя</th>
    <th>ИНН</th>
    <th>Подразделение</th>
    <th>Счет получателя</th>
    <th>Счет клиента</th>
    <th>Код назначения платежа</th>
    <th>Состояние</th>
  </tr>
  </thead>

  <tbody>
  {{#data}}
  <tr style="page-break-inside: avoid;">
    <td class="text-center">{{ documentId }}</td>
    <td class="text-center">{{ docNum }}</td>
    <td>{{ docDate }}</td>
    <td class="text-end">{{ summaDocument }}</td>
    <td class="text-end">{{ summaOstatok }}</td>
    <td class="text-center">{{ coMfo }}</td>
    <td class="text-center">{{ coInn }}</td>
    <td class="text-center">{{ codeFilial }}</td>
    <td>{{ coAcc }}</td>
    <td>{{ clAcc }}</td>
    <td class="text-center">{{ purposeCode }}</td>
    <td>{{ state }}</td>
  </tr>
  {{/data}}
  </tbody>
</table>

</body>

</html>
