<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    td {
      padding: 4px 6px;
      text-align: start;
    }

    .page-break {
      page-break-before: always; /* Forces a page break before the element */
    }

  </style>
</head>


<body class="m-3">
<div class="grid grid-cols-2">
  <div></div>
  <div>
    <div class="font-bold text-end">Приложение №1</div>
    <div class="text-end italic"> Публичному договору
      (Оферта) банковского счета/
      Bank hisobraqami Ommaviy
      shartnomasi(oferta)ga <span class="text-bold">1-Ilova</span></div>
  </div>
</div>

<div class="my-4 flex flex-col items-center font-bold">
  <div class="uppercase">A R I Z A / З А Я В Л Е Н И Е</div>
  <div class="text-xs">(bank hisobvarag‘i ochish uchun/ для открытия банковского счета)
  </div>
</div>

<div class="w-full border-b indent-4">{{ data.businessName }}</div>
<div class="text-center text-xs">(hisobvarag‘ egasining nomi/ наименование владельца счета)</div>

<div class="flex gap-2">
  <div>STIR/ ИНН</div>
  <div class="underline">{{ data.businessInn }}</div>
</div>

<div class="flex gap-2 !w-full">
  <div class="underline">{{ data.accountApplicationDto.accountTypeName }}</div>
  <div>Hisobvarag‘/ счет</div>
</div>

<div class="text-center text-xs">( talab qilib olinguncha, muddatli, jamg‘arma depozit va boshqa / депозит до востребования, срочный, сберегательный депозит и др.)</div>

<div class="mt-4 grid grid-cols-3 gap-4 items-start">
  <div class="align-text-top">{{ data.date }}</div>

  <div>
    <div class="border-b h-[20px]"></div>
    <div class="text-center">(rahbarning imzosi)</div>
    <div class="text-center">(подпись руководителя)</div>
  </div>

  <div>
    <div class="border-b h-[20px]"></div>
    <div class="text-center">(F.I.Sh. mijoz tomonidan shaxsan to‘ldiriladi)</div>
    <div class="text-center">(ФИО заполняется собственноручно клиентом)</div>
  </div>

  <div></div>

  <div>
    <div class="border-b h-[20px]"></div>
    <div class="text-center">(bosh hisobchi imzosi)</div>
    <div class="text-center">(подпись гл. бухгалтера)</div>
  </div>

  <div>
    <div class="border-b h-[20px]"></div>
    <div class="text-center">(F.I.Sh. mijoz tomonidan shaxsan to‘ldiriladi)</div>
    <div class="text-center">(ФИО заполняется собственноручно клиентом)</div>
  </div>
</div>

<table class="w-full">
  <thead>
  <tr>
    <th colspan="3" class="text-center border border-collapse">
      DIREKTOR VA BOSH BUXGALTER TO‘G‘RISIDA MA’LUMOTLAR/СВЕДЕНИЯ О ДИРЕКТОРЕ И ГЛАВНОМ БУХГАЛТЕРЕ
    </th>
  </tr>
  <tr>
    <td class="border-collapse border"></td>
    <td class="border-collapse border">Rahbar/ Директор:</td>
    <td class="border-collapse border">Bosh buxgalter/ Главный бухгалтер:</td>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td class="border-collapse border">F.I.SH./ Ф.И.О</td>
    <td class="border-collapse border">
      <div>{{ data.accountApplicationDto.directorName }}</div>
    </td>
    <td class="border-collapse border">
      <div>{{ data.accountApplicationDto.headOfFinanceName }}</div>
    </td>
  </tr>

  <tr>
    <td class="border-collapse border">JSHSHIR/ ПИНФЛ:</td>
    <td class="border-collapse border">
      <div>{{ data.accountApplicationDto.directorPinfl }}</div>
    </td>
    <td class="border-collapse border">
      <div>{{ data.accountApplicationDto.headOfFinancePinfl }}</div>
    </td>
  </tr>

  <tr>
    <td class="border-collapse border">
      <div>Telefon (bir nechta telefon raqam ko‘rsatishingiz mumkin):</div>
      <div>Телефон (можно указать несколько телефонных номеров:</div>
    </td>
    <td class="border-collapse border">
      <div>1) {{ data.accountApplicationDto.directorNumber }}</div>
      <div>2)</div>
      <div>3)</div>
    </td>
    <td class="border-collapse border">
      <div>1) {{ data.accountApplicationDto.headOfFinanceNumber }}</div>
      <div>2)</div>
      <div>3)</div>
    </td>
  </tr>

  <tr>
    <td class="border-collapse border">
      <div>Hujjat ma’lumotlari (Shaxsni tasdiqlovchi hujjatlar):</div>
      <div>Данные документа, удостоверяющего личность:</div>
    </td>
    <td class="border-collapse border">{{ data.accountApplicationDto.directorDocument }}</td>
    <td class="border-collapse border">{{ data.accountApplicationDto.headOfFinanceDocument }}</td>
  </tr>

  <tr>
    <td class="border-collapse border">
      <div>Elektron pochta manzili/ Электронная почта:</div>
    </td>
    <td class="border-collapse border">{{ data.accountApplicationDto.directorEmail }}</td>
    <td class="border-collapse border">{{ data.accountApplicationDto.headOfFinanceEmail }}</td>
  </tr>
  </tbody>
</table>

<table class="w-full">
  <tr>
    <td class="italic text-xs">*Izoh :</td>
    <td class="italic text-xs">tadbirkorlik faoliyati sub‘yektlari  bo‘lgan mijozlardan muhr izi qo‘yish talab etilmaydi</td>
  </tr>

  <tr>
    <td class="italic text-xs">*Примечание:</td>
    <td class="italic text-xs">для клиентов, являющихся субъектами предпринимательской деятельности, проставление печати не требуется.</td>
  </tr>
</table>

<div class="page-break"></div>

<div class="w-full border-b my-4">BANK QAYDLARI/ЗАМЕТКИ БАНКА</div>

<div>Hisobvarag‘ni ochish uchun hujjatlarini tekshirdim:</div>

<div>Документы на открытия счета, проверил:</div>

<div>Hisobvarag‘ ochilgan sana/Дата открытия счета: <span>{{ data.date }}</span></div>

<div>Hisobvarag‘   raqami/Номер счета:</div>

</body>

</html>
