<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 14px !important;
      font-family: 'Roboto', sans-serif;
    }

    @page {
      size: landscape;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    td {
      padding: 4px 6px;
      text-align: start;
      font-size: 10px;
    }

    .item {
      break-inside: avoid;
      page-break-inside: avoid;
    }

    th {
      font-size: 10px;
    }

    thead tr td {
      text-align: start;
    }

    .line-break::before {
      content: "\A";
      white-space: pre;
    }

    .page-break {
      page-break-before: always; /* Forces a page break before the element */
    }

    .custom-table th,.custom-table td {
      border: 1px solid gray;
      border-collapse: collapse;
    }

  </style>
</head>


<body class="flex flex-col gap-y-5">
{{#data.transactions}}
  <div class="item w-full">
    <table class="!w-full !table-fixed">
      <tr class="border border-collapse text-center flex flex-col items-center">
        <div class="text-center">Выписка лицевых счетов</div>
        <div class="text-center">за {{ date }}</div>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td>Дата изготовления</td>
        <td colspan="2">{{ date }}</td>
        <td>Дата последней проводки</td>
        <td>{{ date }}</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td>Номер счета</td>
        <td colspan="2">{{ accountNumber }}</td>
        <td>Ответ исполнитель</td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td>наименование счета</td>
        <td colspan="2">{{ accountTitle }}</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td>Остаток: Начало дня</td>
        <td colspan="2">{{ balanceBeforeText }}</td>
        <td>Остаток: Конец дня</td>
        <td>{{ balanceAfterText }}</td>
      </tr>
    </table>

    <table class="custom-table w-full">
      <colgroup>
        <col style="width: 3%;">
        <col style="width: 12%;">
        <col style="width: 20%;">
        <col style="width: 6%;">
        <col style="width: 8%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
        <col style="width: 21%;">
      </colgroup>
      <thead>
      <tr>
        <td class="font-bold" >№</td>
        <td class="font-bold" >Номер документа</td>
        <td class="font-bold break-words text-center" >
          <span>Номер счета и</span>
          <span class="line-break">наименование счета</span>
        </td>
        <td class="font-bold text-center" >МФО</td>
        <td class="font-bold text-center" >Дата</td>
        <td class="font-bold text-nowrap">Обороты по дебету</td>
        <td class="font-bold text-nowrap">Обороты по кредиту</td>
        <td class="font-bold" >Назначение платежа</td>
      </tr>
      </thead>

      <tbody>

      {{#transactions}}
        <tr style="page-break-inside: avoid;">
          <td >{{ transaction.idx }}</td>
          <td >{{ transaction.numberTrans }}</td>
          <td class="text-center">
            <span>{{ transaction.transAcc }}</span>
            <span class="line-break">{{ transaction.transAccName }}</span>
          </td>
          <td class="text-center">{{ transaction.transMfo }}</td>
          <td class="text-center">{{ transaction.date }}</td>
          <td class="text-end">{{ transaction.debitAmount }}</td>
          <td class="text-end">{{ transaction.creditAmount }} </td>
          <td class="break-words" >{{ transaction.purpose }}</td>
        </tr>
      {{/transactions}}
      <tr class="font-bold">
        <td></td>
        <td></td>
        <td>Итого оборотов</td>
        <td></td>
        <td></td>
        <td class="text-end">{{ totalDebit }}</td>
        <td class="text-end">{{ totalCredit }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="page-break"></div>
{{/data.transactions}}

</body>
<script>
</script>
</html>
