<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    th {
      border: 1px solid #5b5b5b;
      border-collapse: collapse;
    }

    td {
      padding: 4px 6px;
      text-align: start;
      border: 1px solid #5b5b5b;
      border-collapse: collapse;
    }

    .page-break {
      page-break-before: always; /* Forces a page break before the element */
    }

  </style>
</head>


<body class="m-3">
<h6 class="my-4 text-center text-[20px]">Заявления на банковский перевод в иностранной валюте</h6>
<table>
  <thead>
  <tr>
    <th>Дата</th>
    <th>ID</th>
    <th>Наименование контрагента</th>
    <th>Счет плательщика</th>
    <th>Сумма</th>
    <th>Статус</th>
  </tr>
  </thead>

  <tbody>
  {{#data}}
    <tr style="page-break-inside: avoid;">
      <td class="text-center">{{ date }}</td>
      <td class="text-center">{{ id }}</td>
      <td class="text-center">{{ receiverName }}</td>
      <td class="text-center">{{ accountNumber }}</td>
      <td class="text-center">{{ amount }}</td>
      <td class="text-center">{{ status }}</td>
    </tr>
  {{/data}}
  </tbody>
</table>

</body>

</html>
