<?xml version="1.0" encoding="utf-8" ?>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>{{name}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }

    .border-dashed {
      border-bottom-style: dashed !important;
    }

    td {
      text-align: start;
      border-collapse: collapse;
      border: 1px solid darkgray;
      padding: 5px 10px;
    }

  </style>
</head>


<body class="m-3">
<div class="mb-2.5 w-full text-center">Счета</div>
<div class="flex items-center justify-center">
  <table>
    <tr>
      <td class="font-bold">Номер счета</td>
      <td class="font-bold">Дата</td>
      <td class="font-bold">Номер</td>
      <td class="font-bold">Контрагент</td>
      <td class="font-bold">Счет контрагента</td>
      <td class="font-bold">Контрагент</td>
      <td class="font-bold">Сумма</td>
      <td class="font-bold">Статус</td>
    </tr>
    {{#data}}
      <tr style="page-break-inside: avoid;">
        <td>{{ sender.account }}</td>
        <td>{{ date }}</td>
        <td>{{ docNum }}</td>
        <td>{{ recipient.name }}</td>
        <td>{{ recipient.account }}</td>
        <td>{{ amount }}</td>
        <td>{{ currency }}</td>
        <td>{{ statusTranslate }}</td>
      </tr>
    {{/data}}
  </table>
</div>


</body>

</html>
