<div class="rounded-[24px] bg-surface-2">
    <div class="flex flex-col ">
        <div class="p-5">
             <app-loan-filter [hasStatus]="false" [currencyList]="loanLogicService.currencyList" (filterChange)="loanLogicService.handleFilterChange($event)"></app-loan-filter>
        </div>
      @if(loanLogicService.loading()) {
            <div class="mb-4 px-6 py-3 bg-surface-2 ">
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
              <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
            </div>
      }@else {
        <div class="overflow-x-auto px-5 mb-4">
          <table class="w-full">
            
            <ng-container *ngIf="loanData().length">
                <thead>
              <tr class="border-b border-custom-soft-200">
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900" >
                    <span class="font-medium text-sm text-custom-secondary">{{'new_loan.name_and_status' | translate}}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900">
                     <span class="font-medium text-sm text-custom-secondary">{{'new_loan.balance_of_debt' | translate}}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900" (click)="loanLogicService.sort('ALL_DATA')">
                    <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                    <span class="font-medium text-sm text-custom-secondary"> {{'new_loan.next_payment_1' | translate}}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">
                  <div class="flex items-center gap-2 cursor-pointer hover:text-custom-gray-900" (click)="loanLogicService.sort('SUCCESS_DATA')">
                    <app-svg-icon name="hamkor_switch_vertical" [size]="12" class="text-custom-secondary"></app-svg-icon>
                    <span class="font-medium text-sm text-custom-secondary">{{'new_loan.payment_according_to_schedule' | translate}}</span>
                  </div>
                </th>
                <th class="text-left py-4 px-2 text-sm font-medium ">

                </th>
                 <th class="text-left py-4 px-2 text-sm font-medium ">

                </th>
              </tr>
            </thead>
            </ng-container>

            <ng-container *ngIf="loanData().length; else noData">
                <tbody>
                  @for (item of loanData(); track item.loanId) {
                      <tr class="hover:bg-surface-1 transition-colors"    (click)="openDetail($event, item);">
                        <td class="py-4 px-2 ">
                            <div class="flex gap-2 items-center">
                                <div class="flex items-center justify-center w-6 h-6 rounded-full">
                                     <img class="object-cover w-full h-full"[src]="item.currency === 'UZS' ? './assets/new-icons/uzb.svg' : item.currency === 'USD' ? './assets/new-icons/curr_USD.svg' : item.currency === 'EUR' ? './assets/svg/EUR.svg' : ''"  alt="usz">
                                </div>
                                <div class="flex flex-col gap-1">
                                    <div class="font-semibold text-base text-custom-primary">
                                        {{item.detail.crdTypename}}
                                    </div>
                                    <div class="flex items-center gap-2">
                                       <div class="flex items-center gap-1">
                                         <span>
                                           <img [src]="item.stateLogo.path + item.stateLogo.name" height="12" width="12" alt="2">
                                            <!-- <app-svg-icon name="hamkor_done_success" class="text-[#1FC16B]" [size]="12"></app-svg-icon> -->
                                        </span>
                                        <span class="text-xs font-medium text-custom-secondary">
                                            {{ item.state }}
                                        </span>
                                       </div>
                                       <div class="text-xs text-custom-muted ">
                                      {{  item.detail.accMain.slice(0, 4) + '...' +   item.detail.accMain.slice(-3)}}
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                      
                        <td class="py-4 px-2 text-base font-bold text-custom-primary">{{loanLogicService.integerPart(item.totalDebt)}}<span class="font-semibold text-sm">.{{ loanLogicService.decimalPart(item.totalDebt) }} {{ item.totalDebt.currency }}</span> </td>
                      <td
                        class="py-4 px-2 text-sm font-medium"
                        [class.text-[#00A38D]]="!item.detail.isNextPaydateExpire"
                        [class.text-[#FF3B30]]="item.detail.isNextPaydateExpire"
                      >
                        {{ item.detail.nextPaydate }}
                      </td>

                        <td class="py-4 px-2 text-base font-medium text-custom-primary"> {{ item.detail.nextPaysum ? loanLogicService.integerPart(item.detail.nextPaysum ) : 0 }}<span class="font-normal text-sm ">.{{ loanLogicService.decimalPart(item.detail.nextPaysum) }} <span *ngIf="item?.detail?.nextPaysum?.currency"> {{ item?.detail?.nextPaysum?.currency }}</span> </span> </td>
                        <td class="py-4 px-2 text-sm font-medium text-custom-primary">
                           <div
                                class="flex justify-center items-center cursor-pointer"
                                [matTooltip]="this.userService.hasAction('CREDITS') ? '' : ('new_loan.you_have_no_rights' | translate)"
                                [style.user-select]="this.userService.hasAction('CREDITS') ? '' : 'none'"
                                [style.opacity]="this.userService.hasAction('CREDITS') ? '1' : '0.3'"
                                >
                                @if (item.pinned) {
                                    <img
                                    class="cursor-pointer"
                                    width="22"
                                    height="22"
                                    [style.cursor]="this.userService.hasAction('CREDITS') ? 'pointer' : 'not-allowed'"
                                    (click)="$event.stopPropagation(); pinAction(item)"
                                    [src]="'./assets/new-icons/pin-active.svg'"
                                    alt="">
                                } @else{
                                    <img
                                    class="cursor-pointer"
                                    width="22"
                                    height="22"
                                    [style.cursor]="this.userService.hasAction('CREDITS') ? 'pointer' : 'not-allowed'"
                                    (click)="$event.stopPropagation(); pinAction(item)"
                                    [src]="'./assets/new-icons/pin-inactive.svg'"
                                    alt="">
                                }

                                </div>
                        </td>
                       
                        <td class="py-4 px-2 text-sm font-medium text-custom-primary">
                            <button *ngIf="this.userService.hasAction('CREDITS')" [matMenuTriggerFor]="menu"
                                    (click)="$event.stopPropagation();selectedLoan.set(item)"
                                    [matTooltip]="this.userService.hasAction('CREDITS') ? '' : ('new_loan.you_have_no_rights' | translate)"
                                    [style.user-select]="this.userService.hasAction('CREDITS') ? '' : 'none'"
                                    [style.opacity]="this.userService.hasAction('CREDITS') ? '1' : '0.3'"
                                    [style.cursor]="this.userService.hasAction('CREDITS') ? 'pointer' : 'not-allowed'"
                                    class="min-w-7 min-h-7"
                                    >
                                <app-svg-icon name="hamkor_dots-vertical"></app-svg-icon>
                                </button>
                            
                        </td>
                    </tr>
                  }
                
                    </tbody>
            </ng-container>
            <ng-template #noData>
                <tbody *ngIf="!loanLogicService.loading()">
                    <tr>
                    <td colspan="8" class="py-16 px-4 text-center">
                        <div class="flex flex-col items-center justify-center gap-3 min-h-[350px] ">

                          <div class="max-w-[390px] flex flex-col items-center justify-center gap-3">
                            <div>
                              <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect width="68" height="68" rx="34" fill="#F7F7F7"/>
                              <path d="M46 33.9997C46 27.3723 40.6274 21.9997 34 21.9997C27.3726 21.9997 22 27.3723 22 33.9997C22 40.6271 27.3726 45.9997 34 45.9997C40.6274 45.9997 46 40.6271 46 33.9997ZM38.3906 27.7236C38.9113 27.2029 39.7553 27.2029 40.276 27.7236C40.7967 28.2443 40.7967 29.0884 40.276 29.609L29.6094 40.2757C29.0887 40.7964 28.2446 40.7964 27.7239 40.2757C27.2032 39.755 27.2032 38.911 27.7239 38.3903L38.3906 27.7236ZM38 35.9997C39.1045 35.9997 40 36.8951 40 37.9997C40 39.1042 39.1045 39.9997 38 39.9997C36.8954 39.9997 36 39.1042 36 37.9997C36 36.8951 36.8954 35.9997 38 35.9997ZM30 27.9997C31.1045 27.9997 32 28.8951 32 29.9997C32 31.1042 31.1045 31.9997 30 31.9997C28.8954 31.9997 28 31.1042 28 29.9997C28 28.8951 28.8954 27.9997 30 27.9997ZM48.6666 33.9997C48.6666 42.0999 42.1002 48.6663 34 48.6663C25.8998 48.6663 19.3333 42.0999 19.3333 33.9997C19.3333 25.8995 25.8998 19.333 34 19.333C42.1002 19.333 48.6666 25.8995 48.6666 33.9997Z" fill="#00A38D"/>
                              </svg>
                            </div>
                                <div class="font-bold text-custom-primary">
                                  {{'new_loan.you_don_t_have_any_loans_yet' | translate}}
                              </div>
                              <div class="text-custom-muted">
    {{"new_loan.apply_for_loan" | translate}}


                              </div>
                          </div>
                          
                        </div>
                    </td>
                    </tr>
                </tbody>
            </ng-template>
            </table>
        </div> 
      }
    </div>
</div>

   <!-- #region PAGINATION -->
              <div *ngIf="loanService.isLoanEmpty$$ | async">
                  <app-pagination 
                      [pageIndex]="loanLogicService.filterForm.get('page')!.value" 
                      [pageSize]="loanLogicService.filterForm.get('size')!.value"
                      [totalItems]="totalElements()"
                      (pageChange)="loanLogicService.handlePageChange($event)"
                      (pageSizeChange)="loanLogicService.handlePageSizeChange($event)">
                  </app-pagination>
                  </div>
  <!-- #endregion PAGINATION -->

  <mat-menu #menu="matMenu" xPosition="before" (click)="$event.stopPropagation()" class="menu-actions">
  <div
   *ngIf="selectedLoan()?.status == 'OPEN'"
  (click)="loanLogicService.openPayOffTheLoan($event,selectedLoan()?.loanId,selectedLoan()?.card?.crd_typename)"
      class="flex text-custom-secondary space-x-2 items-center p-[8px] cursor-pointer hover:bg-[#F7F7F7] hover:rounded-[6px] mat-menu-button">
        <app-svg-icon name="hamkor_upload_02"></app-svg-icon>
      <div class=" text-sm font-medium leading-5">{{'new_loan.repay_the_loan' | translate}}</div>
    </div>
    <div
    (click)="loanLogicService.openPaymentSchedule($event,selectedLoan()?.loanId)"
      class="flex text-custom-secondary space-x-2 items-center p-[8px] cursor-pointer hover:bg-[#F7F7F7] hover:rounded-[6px]  mat-menu-button"
   >
        <app-svg-icon name="hamkor_file_06"></app-svg-icon>
      <div class=" text-sm font-medium leading-5">{{'new_loan.payment_schedule' | translate}}</div>
    </div>
    <div
    (click)="loanLogicService.openExtract($event,selectedLoan()?.detail?.accMain)"
      class="flex text-custom-secondary space-x-2 items-center p-[8px] cursor-pointer hover:bg-[#F7F7F7] hover:rounded-[6px]  mat-menu-button"
     >
    <app-svg-icon name="hamkor_file_plus_02"></app-svg-icon>
      <div class=" text-sm font-medium leading-5">{{'new_loan.extract' | translate}}</div>
    </div>

    <div
      class="flex space-x-2  text-custom-secondary items-center p-[8px] cursor-pointer hover:bg-[#F7F7F7] hover:rounded-[6px]  mat-menu-button"
       (click)="openDetail($event,selectedLoan()!)">
        <app-svg-icon name="hamkor_info_circle"></app-svg-icon>
      <div class=" text-sm font-medium leading-5">{{'new_loan.details' | translate}}</div>
    </div>
  </mat-menu>
