<cf-card class="gray lg" [class.bordered]="showInvalid() && !isFilled()" [class.ant-form-item-explain-error]="showInvalid() && !isFilled()">
  <div class="row">
    <div class="col">
      <ng-container *cfHandbook="{ url: 'sys-address-type' }; let items">
        <h4 nz-typography>{{ items | handbook: item().addressType }}</h4>
      </ng-container>

      <button nz-button nzType="link" nzSize="large" type="button" (click)="edit.emit()">
        <nz-icon nzType="f:pencil" />
      </button>
    </div>

    @if (isFilled()) {
    <ng-container *cfHandbook="{ url: 'dir-city' }; let items">
      <p nz-typography>{{ items | handbook: item().city }}</p>
    </ng-container>

    <ng-container *cfHandbook="{ url: 'dir-village', params: { dir_city_id: item().city } }; let items">
      <p nz-typography>{{ items | handbook: item().street }}</p>
    </ng-container>

    <p nz-typography>{{ item().address }}</p>
    <p nz-typography>{{ item().postalCode }}</p>
    } @else {
    <p nz-typography class="placeholder">—</p>
    }
  </div>
</cf-card>
