  @if (message && message.length) {
  <div 
      class="tooltip-container" 
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      (click)="onClick()"
    >
      <ng-content></ng-content>
      <div 
        *ngIf="isVisible" 
        class="custom-tooltip-new"
        [ngClass]="'tooltip-' + position"
        [ngStyle]="{
          'width': width,
          'min-width': minWidth,
          'max-width': maxWidth
        }"
        [@fadeIn]
      >
        <div 
          class="tooltip-content"
          [ngStyle]="{
            'background': backgroundColor,
            'color': textColor,
            'border-radius': borderRadius,
            'padding': padding
          }"
        >
          <div class="tooltip-header" *ngIf="showHeader">
            <span 
              class="tooltip-title"
              [ngStyle]="{
                'color': titleColor,
                'font-size': titleFontSize,
                'font-weight': titleFontWeight
              }"
            >
              {{ title }}
            </span>
            <button 
              *ngIf="showCloseButton"
              class="close-btn" 
              (click)="hide(); $event.stopPropagation()"
              [ngStyle]="{'color': closeButtonColor}"
            >
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M13 1L1 13M1 1L13 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </button>
          </div>
          <p 
            class="tooltip-message"
            [ngStyle]="{
              'font-size': fontSize,
              'line-height': lineHeight
            }"
          >
            {{ message }}
          </p>
        </div>
        <div 
          *ngIf="showArrow"
          class="tooltip-arrow"
          [ngStyle]="{'border-top-color': arrowColor}"
        ></div>
      </div>
    </div>
  }@else {
          <ng-content></ng-content>
  }
