
<button class="absolute justify-center items-center top-0 rounded-full p-[1.5px] right-0 flex bg-white"
        (click)="dialogRef.close(data.unread)">
  <mat-icon class="text-base font-bold rounded-full border-[1.5px] border-[#A1A1A1] ">close</mat-icon>
</button>


  @if (data.notification) {
    <div class="bg-white p-4 rounded-12px max-h-[80vh] overflow-y-auto">
    <p class="text-2xl font-medium leading-6 mb-3">Подробно</p>
    <div class="px-5 py-3 border-1px border-secondary rounded-12px flex flex-col space-y-4">
      <div>
        <h4 class="text-xl font-bold text-gray-950">
          {{ data.notification.title }}
        </h4>
      </div>
      <p>{{ data.notification.body }}</p>
      @if(data.notification.image) {
        <div class="h-[180px] w-full">
          <img
            [src]="data.notification.image"
            alt="Notification cover image"
            class="h-full w-full object-contain" />
        </div>
      }
    </div>
    </div>
  }


