<div class="bg-white rounded-[15px] p-[24px] flex flex-col">
  <div class="text-[22px] font-medium text-[#2B2D33] mb-[20px]">Заявление на банковский перевод в иностранной валюте</div>

  <div class="flex justify-between">
    <div class="flex gap-[15px]">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Выберите действие"></mat-select>

        <mat-icon matSuffix><img ngSrc="./assets/svg/chevron-down.svg" class="rotate-90" alt="chevron-down" width="20" height="20"></mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Поиск">

        <mat-icon matPrefix><img ngSrc="./assets/svg/search.svg" alt="search" width="20" height="20"></mat-icon>
      </mat-form-field>

      <button class="flex border rounded-[5px] border-[#D5D5D6] gap-x-[12px] items-center px-[7.5px] py-2.5">
        <img ngSrc="./assets/svg/filter.svg" alt="filter" width="20" height="20">
        <span>Фильтр</span>
      </button>
    </div>

    <button [routerLink]="'./create'" class="flex items-center bg-[#DDECFC] text-[#264796] rounded-[5px] gap-x-2 px-5 py-2.5">
      <span>Создать</span>
      <img ngSrc="./assets/svg/add.svg" alt="add" width="20" height="20" >
    </button>
  </div>

  <div class="text-[14px] text-[#B0B8C1] my-5 flex flex-col">
    <div class="flex gap-2">
      <div class="px-2 py-2.5 rounded-[5px] bg-[#EFF4F9] flex items-center gap-x-2">
        <img ngSrc="./assets/svg/trash.svg" alt="trash" width="20" height="20">
        <span>Удалить</span>
      </div>

      <div class="px-2 py-2.5 rounded-[5px] bg-[#EFF4F9] flex items-center gap-x-2">
        <img ngSrc="./assets/svg/edit-2.svg" alt="edit" width="20" height="20">
        <span>Изменить</span>
      </div>

      <div
        class="px-2 py-2.5 rounded-[5px] bg-[#EFF4F9] flex items-center gap-x-2 cursor-pointer"
        routerLink="./swift-docs"
      >
        <img ngSrc="./assets/svg/document-text.svg" alt="document" width="20" height="20">
        <span class="text-[#264796]">Документы</span>
      </div>

      <div class="px-2 py-2.5 rounded-[5px] bg-[#EFF4F9] flex items-center gap-x-2">
        <img ngSrc="./assets/svg/vscode-icons_file-type-swift.svg" alt="swift" width="20" height="20">
        <span>SWIFT Gpi</span>
      </div>

      <div class="px-2 py-2.5 rounded-[5px] bg-[#EFF4F9] flex items-center gap-x-2">
        <img ngSrc="./assets/svg/printer-blue.svg" alt="printer" width="20" height="20">
        <span class="text-[#264796]">Печать</span>
      </div>
    </div>
  </div>

  <div>
    <table class="w-full">
      <tr class="text-[13px] text-[#8B97A2]">
        <th class="rounded-tl-[10px] py-[18px] bg-[#EFF4F9] font-normal">
          <div class="px-2">
            <input type="checkbox">
          </div>
        </th>
        <th class="bg-[#EFF4F9] font-normal">ID Заявления</th>
        <th class="bg-[#EFF4F9] font-normal">Наименование счета плательщика</th>
        <th class="bg-[#EFF4F9] font-normal">Счет плательщика</th>
        <th class="bg-[#EFF4F9] font-normal">Дата</th>
        <th class="bg-[#EFF4F9] font-normal">Валюта</th>
        <th class="bg-[#EFF4F9] font-normal">Сумма</th>
        <th class="bg-[#EFF4F9] font-normal">Состояние в банке</th>
        <th class="rounded-tr-[10px] bg-[#EFF4F9] font-normal"></th>
      </tr>

      @for(data of accountApplications; track data) {
        <tr class="text-center">
          <td>
            <input type="checkbox">
          </td>
          <td>{{ data.applicationId }}</td>
          <td>{{ data.businessName }}</td>
          <td>{{ data.swiftApplicationDto.remitterAccount }}</td>
          <td>{{ data.swiftApplicationDto.paymentOrderDate }}</td>
          <td>{{ data.swiftApplicationDto.currencyCode }}</td>
          <td>{{ data.swiftApplicationDto.currencyAmount }}</td>
          <td>{{ getStatusApplication(data.applicationStatus).label }}</td>
          <td>
            <mat-icon class="cursor-pointer" [matMenuTriggerFor]="menu">more_horiz</mat-icon>
            <mat-menu #menu>
              <div>
                <button
                  [disabled]="data.applicationStatus !== 'SIGN'"
                  (click)="sign(data.applicationId)"
                  class="p-2 flex gap-2 my-0.5"
                >
                  <mat-icon>border_color</mat-icon>
                  <span>{{ data.applicationStatus === 'SIGN' ? 'Подписать' : 'Подписан' }}</span>
                </button>
              </div>

              <div>
                <button
                  class="p-2 flex gap-2 my-0.5"
                >
                  <mat-icon>remove_red_eye</mat-icon>
                  <span>Просмотр</span>
                </button>
              </div>
            </mat-menu>
          </td>
        </tr>
      }
    </table>
  </div>

</div>
