@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.skeleton {
  width: 100%;
  height: 420px;

  .media(@media-md, {
    height: 520px;
  });

  .media(@media-xs, {
    height: 640px;
  });
}
