@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  > *:not(.skeleton) {
    flex: 1;
    min-height: 0;
    min-width: 0;
  }
}

.skeleton {
  flex: none;
  width: 100%;
  height: 420px;
  min-height: 420px;

  .media(@media-md, {
    height: 520px;
    min-height: 520px;
  });

  .media(@media-xs, {
    height: 640px;
    min-height: 640px;
  });
}
