<div class="flex flex-col bg-surface-3 h-full overflow-y-auto pb-5">
  <div class="flex flex-col p-5">
    <div class="flex justify-between">
      <div class="justify-start text-custom-primary text-lg font-medium leading-normal">
        {{ 'createPayment.template_details_alt' | translate }}
      </div>
      <div
        class="w-7 h-7 relative bg-custom-zink-100 rounded-md flex justify-center items-center overflow-hidden cursor-pointer"
        (click)="closeDialog()">
        <div class="!text-[14px] leading-none flex items-center justify-center">
          <mat-icon class="text-custom-text-close !text-[14px] !h-[14px] !w-[14px]">
            close
          </mat-icon>
        </div>
      </div>

    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Sender details -->
  <div class="px-5 py-4">
    <div class="flex flex-col mb-4">
      <div class="label text-custom-muted">{{ 'new.template_name' | translate }}</div>
      <div class="value text-custom-primary">{{ data.name }}</div>
    </div>
    <div class="flex items-center justify-between mb-4">
      <div class="flex flex-col">
        <div class="label text-custom-muted">{{ 'new.transfer_type' | translate }}</div>
        <div class="value text-custom-primary">{{
            (data.additionalInfo?.windowType ===
            'TRANSACTION' ? 'Перевести на счет' : data.additionalInfo?.windowType === 'BUDGET' ?
              'templates.to_budget' : data.additionalInfo?.windowType === 'BUDGET_INCOME' ?
                'templates.to_treasury' : 'templates.to_card') | translate
          }}
        </div>
      </div>
    </div>
    <div class="flex flex-col mb-4">
      <div class="label text-custom-muted">{{ 'templates.creation_date' | translate }}</div>
      <div class="value text-custom-primary">{{ data.docDate.split(' ')[0] }}</div>
    </div>
    <div class="flex flex-col mb-4">
      <div class="label text-custom-muted">{{ 'accounts.organization_name' | translate }}</div>
      <div class="value text-custom-primary">{{ data.sender.name }}</div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex flex-col">
        <div class="label text-custom-muted">{{ 'salaryStatements.settlement_account_in_sums' | translate }}</div>
        <div class="value text-custom-primary">{{ data.sender.account }}</div>
      </div>
      <app-svg-icon (click)="copy(data.sender.account)" name="hamkor_copy" [size]="22"
                    class="text-custom-text-tertiary cursor-pointer"></app-svg-icon>
    </div>
    <div class="flex flex-col py-[12px]">
      <div class="label text-custom-muted">{{ 'myAccounts.bank_mfo' | translate }}</div>
      <div class="value text-custom-primary">{{ data.sender.codeFilial }}</div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Recipient details -->
  <div class="px-5 py-4">
    <div class="flex items-center justify-between">
      <span class="text-base leading-6 font-semibold text-custom-primary">
        {{ "createPayment.recipient_details" | translate }}
      </span>
    </div>

    <div class="flex flex-col">
      <div class="flex items-center justify-between py-[12px]">
        <div class="flex flex-col">
          <div class="label text-custom-muted">{{ "myAccounts.recipient_account" | translate }}</div>
          <div class="value text-custom-primary">{{ data.recipient.account }}</div>
        </div>
        <app-svg-icon (click)="copy(data.recipient.account)" name="hamkor_copy" [size]="22"
                      class="text-custom-text-tertiary  cursor-pointer"></app-svg-icon>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Payment details -->
  <div class="px-5 py-4">
    <div class="flex items-center justify-between">
      <span class="text-base font-semibold text-custom-primary">
        {{ 'createPayment.payment_details' | translate }}
      </span>
    </div>

    <div class="flex flex-col mb-4">
      <div class="label text-custom-muted">
        {{ 'myAccounts.payment_purpose_code' | translate }}
      </div>
      <div class="value text-custom-primary">{{ data.purpose.code }}</div>
    </div>

    <div *ngIf="data.description" class="flex flex-col space-y-1 mb-4">
      <div class="label text-custom-muted">{{ 'myAccounts.payment_purpose' | translate }}</div>
      <div class="value text-custom-primary">{{ data.description }}</div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="px-5 py-4">
    <div class="flex items-center justify-between">
      <span class="text-base font-semibold text-custom-primary">
         {{ 'loans.change_history' | translate }}
      </span>
    </div>
<!--    <div class="flex flex-col items-start" *ngFor="let audit of auditInfo(); let i = index">-->
<!--      <div class="relative flex gap-2 items-center" [ngClass]="i !== 0 ? 'pt-5' : ''">-->
<!--        <img width="16" height="16" src="./assets/new-icons/check-circle.svg" alt="" />-->
<!--        <p class="text-[12px] font-medium text-custom-primary">-->
<!--          {{ statusActions(audit.actionType) | translate }}:-->
<!--          {{ audit.by ?? 'Не известно' }} ({{ audit.byRole }})-->
<!--        </p>-->
<!--        <span class="w-[1px] h-[10px] absolute bottom-[-15px] left-[7px] bg-lime-550"-->
<!--              *ngIf="i < auditInfo().length - 1"></span>-->
<!--      </div>-->
<!--    </div>-->
    <div *ngIf="!loading" class="flex flex-col items-start py-[12px] px-5">
      <div class="relative" *ngFor="let audit of auditInfo(); let i = index">
        <span class="text-[#5C5C5C] text-[16px] font-normal">{{ audit.at }}</span>
        <p class="text-[16px] font-normal text-[#171717]">{{ statusActions(audit.actionType) | translate }}: {{ audit.by ?? 'Не известно' }} {{ '(' + audit.byRole + ')' }}</p>
        <span class="w-[8px] absolute top-[8px] left-[-15px] h-[8px] bg-[#D1D1D1] rounded-full"></span>
        <span class="w-[2px] h-[26px] absolute bottom-[-1px] left-[-12px]  bg-[#D1D1D1]" *ngIf="i < auditInfo().length - 1"></span>
      </div>
    </div>
  </div>
</div>
