@import 'mixins';

.themeMixin({
    :host {
        .line {
            background: @component-background-thirty;

            &.active {
                background: @primary-color;
            }
        }
    }
});

.steps {
  display: flex;
  align-items: center;
  column-gap: 5px;
  flex-wrap: nowrap;

  .line {
    flex: 1;
    border-radius: 2px;
    height: 6px;
  }
}
