@import 'mixins';

.steps {
  display: flex;
  align-items: center;
  column-gap: 5px;
  flex-wrap: nowrap;

  .line {
    flex: 1;
    border-radius: 2px;
    height: 6px;
    background: #ebebeb;

    &.active {
      background: #00a38d;
    }
  }
}
