@import 'mixins';
@import 'colors';

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;

  .media(@media-sm, {
    grid-template-columns: 1fr;
  });
}

.calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;

  .media(@media-sm, {
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
  });
}
