<ng-container *transloco="let t">
  <cf-product-info
    [isGuarant]="true"
    [isLoading]="isLoading()"
    [annualRate]="productCondition()?.interest_rate"
    [loanTerm]="productCondition()?.max_term | monthsToYears"
    [loanAmount]="productCondition()?.max_amount"
  />

  @if (advantages?.length) {
  <cf-card [showSpace]="true" [title]="t('benefit.title')" class="bordered">
    <div class="advantages">
      @for (item of advantages; track item.title) {
      <cf-card-advantage [isLoading]="isLoading()" [title]="item.title" [description]="item.description" [photo]="item.photo" />
      }
    </div>
  </cf-card>
  }

  <cf-card [title]="t('prop.online_credit_calc')" [showSpace]="true" class="bordered">
    <div class="calculator">
      <cf-calculator-form [form]="calculatorForm()" />

      <cf-calculator-result
        [loanAmount]="calculationResult().amount"
        [monthlyPayment]="calculationResult().monthlyPayment"
        [annualRate]="calculationResult().annualRate"
        [isLoading]="isLoading()"
        [documents]="docs"
        [creditType]="calculatorForm().type().value()"
      />
    </div>

    <cf-product-acception [form]="agreementForm()" (clicked)="openConfirm()" />
  </cf-card>
</ng-container>
