<div class="p-6 bg-white rounded-xl h-full flex flex-col gap-y-5">
  <div class="flex flex-col gap-y-5">
    <div class="text-[20px] font-medium text-[#2B2D33] leading-[14px]">Выписки и отчёты</div>

    <div>
      <div class="flex w-fit gap-x-2.5 h-[40px] p-[5px] rounded-[8px] bg-[#EFF4F9] text-[14px] text-[#8B97A2]">
        @for (tab of tabs; track tab) {
          <div
            [routerLink]="['/charts']"
            [queryParams]="{tab: tab.value}"
            routerLinkActive="!bg-[#264796] text-white"
            class="cursor-pointer h-[30px] px-2.5 py-[5px] rounded-[5px]"
          >{{ tab?.title }}</div>
        }
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-[15px]" [formGroup]="historyForm">
    <div class="w-full border-t border-[#DBDBDB]"></div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
      <app-account-select
        [label]="'Выберите счет'"
        [accounts]="accounts"
        [searching]="accountSearching"
        [showSearch]="true"
        (onSearch)="getAccounts($event)"
        [preSelected]="preSelected"
        [showBalance]="false"
        [required]="true"
        [touched]="accountTouched"
        (accountSelected)="setAccount($event)"
      ></app-account-select>

      <div class="flex gap-x-2 items-center justify-between" formGroupName="date">
        <mat-form-field class="small w-full" appearance="outline">
          <mat-label>Дата начала</mat-label>
          <input
            matInput
            [disabled]="true"
            [matDatepicker]="picker1"
            formControlName="dateBegin"
            placeholder="Выберите начало"
          >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 disabled="false"></mat-datepicker>
        </mat-form-field>

        <span>-</span>


        <mat-form-field class="small w-full" appearance="outline">
          <mat-label>Дата конца</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            [min]="historyForm.value.date?.dateBegin"
            formControlName="dateClose"
            [disabled]="true"
            placeholder="Выберите конец"
          >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="flex gap-2.5 flex-wrap">
      @for(chip of dateChips; track chip) {
        <div
          class="px-[7px] py-[6px] rounded-[10px] bg-[#F4F7FB] font-medium cursor-pointer"
          [ngClass]="{ '!bg-[#0E65D9] text-white': chip.active }"
          (click)="toggleChip(chip)"
        >{{ chip.title }}</div>
      }
    </div>

    <div class="flex flex-col gap-y-2">
      <div class="font-medium leading-6">Тип операции</div>

      <div class="flex gap-6">
        @for(type of types; track type.value) {
          <div class="flex gap-2 items-center">
            <input
              type="radio"
              formControlName="transType"
              name="transType"
              [id]="type.value"
              [value]="type.value"
              class="peer !before:bg-blue-600 !before:hover:bg-blue-600 !focus:before:bg-blue-600"
            />
            <label
              [for]="type.value"
              class="cursor-pointer text-[#B0B8C1] transition-all peer-checked:text-blue-600"
            >
              {{ type.title }}
            </label>
          </div>
        }
      </div>
    </div>

    <div class="w-full border-t border-[#DBDBDB]"></div>

    <div class="flex justify-end items-center gap-x-2.5">
<!--      <button-->
<!--        (click)="reload()"-->
<!--        [disabled]="loadingReports"-->
<!--        [ngClass]="{'!text-[#B0B8C1] !bg-disabled-button !cursor-not-allowed': loadingReports}"-->
<!--        class="!h-[40px] text-sm justify-center items-center gap-2 inline-flex leading-[20px] px-5 py-2.5 rounded-[5px] !bg-[#DDECFC] !text-[#264796]"-->
<!--      >-->
<!--        <span>Обновить</span>-->
<!--        <img ngSrc="./assets/svg/refresh-2.svg"  alt="refresh" width="24" height="24">-->
<!--      </button>-->

      <div class="flex gap-x-2.5 items-center">
        <button
          [matMenuTriggerFor]="exportFile"
          class="!h-[40px] text-sm leading-[20px] px-5 py-2.5 rounded-[5px] !bg-[#DDECFC] !text-[#264796]"
        >
          Экспортировать файл
        </button>
      </div>
    </div>
  </div>

  <app-reports (loadingReports)="loadingReports = $event" [reloadReports]="reloadReports"></app-reports>
</div>

<mat-menu #exportFile="matMenu" xPosition="before" class="menu-actions">
  <button
    mat-menu-item
    (click)="excel()"
    class="w-full p-2 flex gap-x-2 items-center cursor-pointer"
  >
    Экспорт в Excel
  </button>

  <button
    mat-menu-item
    (click)="excel(true)"
    class="w-full p-2 flex gap-x-2 items-center cursor-pointer"
  >
    Экспорт в PDF
  </button>
</mat-menu>
