<div
  class="max-w-[250px] flex justify-between  items-center cursor-pointer  px-3 lg:px-3 py-2 lg:py-2 my-[4px] ml-4"
  [routerLinkActive]="'bg-surface-1 text-custom-primary !rounded-[8px]'"
  [ngClass]="!subMenu() ? 'submenu-icon-text-box' : ''"
  (click)="sendEvent()"
>
  <div class="flex items-center">
    <app-ui-svg-icon routerLinkActive="active" #rla="routerLinkActive"
                     [path]="rla.isActive ? getHref(icon())+'-active':getHref(icon())"
                     [svgClass]="!subMenu() ? 'w-5 h-5' : 'w-5 h-5 text-white mr-2'"></app-ui-svg-icon>
      <span class="text-sm font-medium leading-5 "  *ngIf="subMenu()">
      {{ title() | translate }} 
      <!-- {{title() === 'main.statements' && link() === 'reports' ? 'V2' : ''}} -->
  </span>
  </div>
  <div
    [style.opacity]="isActive() ? 1 : 0"
  >
<!--    {{!subMenu() ? 1 : 2}}-->
    @if (subMenu()) {
      <img  [src]="theme.isDark() ? './assets/new-icons/rigth-white.svg' : './assets/new-icons/arrow-right-s-line.svg'">
    }
  </div>
</div>
