input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #d1d5db;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  flex-shrink: 0;
}

input[type="checkbox"]:hover {
  border-color: #9ca3af;
}

input[type="checkbox"]:checked {
  background-color: white;
  border-color: #d1d5db;
}

input[type="checkbox"]:checked::after {
  //content: '✓';
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  //color: #14b8a6;
  //font-size: 18px;
  //font-weight: bold;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
  background-image: url('/assets/new-icons/check.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.settings-notifications-dialog .mat-mdc-dialog-panel {
  width: 480px !important;
}
.time-row-form {

}
.notification-box input:disabled {
  background-color: #8080804d !important;
  cursor: not-allowed;
}
.setting-toggle {
  .sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
