
.kartoteka-2-scroll::-webkit-scrollbar {
  display: block !important;
  border-radius: 2px;
  width: 4px;
}
.kartoteka-2-scroll::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.kartoteka-2-scroll::-webkit-scrollbar-track {
  background: transparent !important;
}

.kartoteka-2-scroll::-webkit-scrollbar-thumb {
  background: #e5eaf0;
}
//.kartoteka-2-scroll {
//  cursor: grab;
//}
//
//.kartoteka-2-scroll:active {
//  cursor: grabbing;
//}
