<div class="flex flex-col gap-y-[30px]" [formGroup]="signForm">
  <div class="flex flex-col gap-y-[30px]">

    <div class="flex gap-[30px] flex-wrap" formGroupName="recipient">
      <app-account-select
        class="w-full"
        [label]="'Счет получателя'"
        [required]="true"
        [preSelected]="preSelected"
        [touched]="receiverAccountTouched"
        [accounts]="accounts"
        [showSearch]="true"
        (loadMore)="onPagination($event)"
        [pageable]="pageableAccounts"
        [searching]="accountSearching"
        (onSearch)="onSearch($event)"
        (accountSelected)="setFormFields($event)"
      ></app-account-select>
    </div>
  </div>

  <div class="text-[20px] font-medium">Сумма и детали платежа</div>

  <div class="flex flex-col" formGroupName="saldo">
    <mat-form-field
      [ngClass]="{
                'required': signForm.get('saldo.amount')?.invalid && signForm.get('saldo.amount')?.touched,
              }"
      appearance="outline" class="small w-full amount-field">
      <mat-label>Сумма</mat-label>
      <input
        (input)="convertAmountIntoWords()"
        placeholder="Введите сумму"
        matInput
        type="text"
        mask="separator.2"
        formControlName="amount"
      />
      @if (signForm.get('saldo.amount')?.valid) {
        <span class="text-[#808185] pr-2" matSuffix>UZS</span>
      }
      <div class="absolute pt-[5px] text-[12px]">
        <mat-error *ngIf="this.signForm.get('saldo.amount')?.hasError('required') && this.signForm.get('saldo.amount')?.touched">
          Поле обязательное.
        </mat-error>
      </div>
    </mat-form-field>

    <div
      [ngClass]="{
      'mt-5': signForm.get('saldo.amount')?.invalid && signForm.get('saldo.amount')?.touched
      }"
      class="mt-2.5 text-sm leading-[22px] text-[#2B2D33]">
      Сумма прописью: <span>{{ amountInWords }}</span>
    </div>
  </div>

  <div class="flex flex-col gap-y-[30px]">
    <app-searchable-select
      class="small w-full"
      [label]="'Код назначения платежа (КНП)'"
      [parentForm]="signForm"
      controlName="purpose"
      [customTriggerTemplate]="triggerTemplate"
      [customOptionTemplate]="optionTemplate"
      [displayOption]="displayOption"
      [options]="purposes"
      (inputChange)="searchPurpose($event)"
      (focusin)="getPurposes()"
      (scrolled)="scrollPurpose()"
    ></app-searchable-select>

    <mat-form-field appearance="outline" class="small w-full description-field h-[102px]">
      <textarea
        matInput
        formControlName="description"
        placeholder="Введите назначение платежа"
        maxlength="210"
        style="resize: none"
      ></textarea>
      <span matSuffix class="align-bottom">{{ paymentDescription.length }} / 210</span>
    </mat-form-field>
  </div>

  <div class="mt-[24px]">
    <div class="flex justify-between items-center">
      @if(fromQuery === 'edit-payment' || toQuery === 'edit-template') {
        <div class="flex gap-4">
          <button
            (click)="submit('EDIT')"
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#264796] text-white leading-[20px]"
          >Редактировать @if(templateName.length > 0) {<span>шаблон</span>}
          </button>

          <button
            appLocationBack
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#DDECFC] text-[#264796] leading-[20px]"
          >Отмена</button>
        </div>
      } @else if (autoPay) {
        <div class="flex gap-4">
          <button
            (click)="submit()"
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#008C79] text-white leading-[20px]"
          >
            Создать автоплатёж
          </button>

          <button
            appLocationBack
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#00BFA5] text-[#DDECFC] leading-[20px]"
          >Отмена</button>
        </div>
      }
      @else {
        <div class="flex gap-4">
          @if(fromQuery !== 'templates') {
            <button
              (click)="submit()"
              type="submit"
              class="px-5 py-2.5 rounded-[5px] bg-[#264796] text-white leading-[20px]"
            >Создать</button>
          }
        </div>

        <div class="flex gap-x-2.5 items-center">
          <!--        <div class="px-5 py-2.5 rounded-[5px] bg-[#EFF4F9] text-black leading-[20px]">-->
          <!--          <img ngSrc="./assets/svg/printer.svg" alt="printer" width="24" height="24">-->
          <!--        </div>-->

          <button
            (click)="createTemplate()"
            class="px-5 py-2.5 rounded-[5px] bg-[#DDECFC] text-[#264796] leading-[20px]"
          >
            <span>Сохранить как шаблон</span>
          </button>
        </div>
      }
    </div>
  </div>

</div>


<ng-template #triggerTemplate let-selectedValue>
  <div>
    @if(selectedValue) {
      <span>{{ selectedValue.code }} - {{ selectedValue.name }}</span>
    } @else {
      <span>Choose an item...</span>
    }
  </div>
</ng-template>

<ng-template #optionTemplate let-option>
  <div>
    <span>{{ option.code }} - {{ option.name }}</span>
  </div>
</ng-template>
