.file-drop-area {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  cursor: pointer;
  transition: border 0.3s ease;

  &:hover {
    border-color: #007bff;
  }

  .icon {
    background-color: #e9ecf1;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
  }

  p {
    font-size: 14px;
    color: #9e9e9e;
    text-align: center;
    margin: 0;
  }
}
