<div class="p-6 bg-white rounded-xl h-full">
    <p class="text-2xl font-medium mb-4">Заявки</p>
    <ul class="flex justify-between flex-wrap">
        <li routerLink="123" class="w-full border-1px mb-4 border-secondary rounded-2xl p-4 cursor-pointer">
            <p class="flex items-center text-xs text-secondary mb-[13px]">Ср, 27 Дек. 2023 13:00 <span class="ml-auto text-[11px] bg-[#FF5C00] text-white rounded-full px-2 py-0.5">Новый</span></p>
            <p class="flex items-center text-base mb-2.5">ID: 00948564545234 <span class="block w-[4px] h-[4px] rounded-full bg-secondary mx-2"></span> <span class="text-secondary text-sm">Bклад</span></p>
            <div class="flex items-center text-secondary mb-3.5">
                <p class="p-2 px-4 bg-white rounded-[10px] border-1px border-secondary">Срок: <span class="text-dark text-base">12 мес.</span></p>
                <p class="p-2 px-4 bg-white rounded-[10px] border-1px border-secondary ml-2">Ставка: <span class="text-dark text-base">29 %</span></p>
                <p class="text-primary text-xl ml-auto"><span class="text-secondary">UZS</span> 500 000 000</p>
            </div>
            <div class="flex justify-between mb-1.5">
                <div class="h-1 bg-[#FF5C00] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#E5E7EA] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#E5E7EA] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#E5E7EA] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
            </div>
        </li>
        <li routerLink="123" class="w-full border-1px mb-4 border-secondary rounded-2xl p-4 cursor-pointer">
            <p class="flex items-center text-xs text-secondary mb-[13px]">Ср, 27 Дек. 2023 13:00 <span class="ml-auto text-[11px] bg-[#D95EF7] text-white rounded-full px-2 py-0.5">В процессе</span></p>
            <p class="flex items-center text-base mb-2.5">ID: 00948564545234 <span class="block w-[4px] h-[4px] rounded-full bg-secondary mx-2"></span> <span class="text-secondary text-sm">Bклад</span></p>
            <div class="flex items-center text-secondary mb-3.5">
                <p class="p-2 px-4 bg-white rounded-[10px] border-1px border-secondary">Срок: <span class="text-dark text-base">12 мес.</span></p>
                <p class="p-2 px-4 bg-white rounded-[10px] border-1px border-secondary ml-2">Ставка: <span class="text-dark text-base">29 %</span></p>
                <p class="text-primary text-xl ml-auto"><span class="text-secondary">UZS</span> 500 000 000</p>
            </div>
            <div class="flex justify-between mb-1.5">
                <div class="h-1 bg-[#FF5C00] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#D95EF7] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#E5E7EA] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#E5E7EA] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
            </div>
        </li>
        <li routerLink="123" class="w-full border-1px mb-4 border-secondary rounded-2xl p-4 cursor-pointer">
            <p class="flex items-center text-xs text-secondary mb-[13px]">Ср, 27 Дек. 2023 13:00 <span class="ml-auto text-[11px] bg-[#0EB100] text-white rounded-full px-2 py-0.5">Выполнен</span></p>
            <p class="flex items-center text-base mb-2.5">ID: 00948564545234 <span class="block w-[4px] h-[4px] rounded-full bg-secondary mx-2"></span> <span class="text-secondary text-sm">Bклад</span></p>
            <div class="flex items-center text-secondary mb-3.5">
                <p class="p-2 px-4 bg-white rounded-[10px] border-1px border-secondary">Срок: <span class="text-dark text-base">12 мес.</span></p>
                <p class="p-2 px-4 bg-white rounded-[10px] border-1px border-secondary ml-2">Ставка: <span class="text-dark text-base">29 %</span></p>
                <p class="text-primary text-xl ml-auto"><span class="text-secondary">UZS</span> 500 000 000</p>
            </div>
            <div class="flex justify-between mb-1.5">
                <div class="h-1 bg-[#FF5C00] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#7000FF] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#FFB800] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#1F6ECA] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
            </div>
        </li>
        <li routerLink="123" class="w-full border-1px mb-4 border-secondary rounded-2xl p-4 cursor-pointer">
            <p class="flex items-center text-xs text-secondary mb-[13px]">Ср, 27 Дек. 2023 13:00 <span class="ml-auto text-[11px] bg-[#FF3333] text-white rounded-full px-2 py-0.5">Отказано</span></p>
            <p class="flex items-center text-base mb-2.5">ID: 00948564545234 <span class="block w-[4px] h-[4px] rounded-full bg-secondary mx-2"></span> <span class="text-secondary text-sm">Bклад</span></p>
            <div class="flex items-center text-secondary mb-3.5">
                <p class="p-2 px-4 bg-white rounded-[10px] border-1px border-secondary">Срок: <span class="text-dark text-base">12 мес.</span></p>
                <p class="p-2 px-4 bg-white rounded-[10px] border-1px border-secondary ml-2">Ставка: <span class="text-dark text-base">29 %</span></p>
                <p class="text-primary text-xl ml-auto"><span class="text-secondary">UZS</span> 500 000 000</p>
            </div>
            <div class="flex justify-between mb-1.5">
                <div class="h-1 bg-[#FF5C00] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#D95EF7] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#FF3333] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
                <div class="h-1 bg-[#FF3333] rounded-full" style="width: calc((100% / 4) - 4px);"></div>
            </div>
        </li>
    </ul>
</div>