<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-6 space-y-6">
  <!-- Header -->
  <div class="flex items-center space-x-3">
    <img width="180" src="./assets/svg/menu-logo.svg" alt="#">
  </div>
  <div>
    <h2 class="text-lg font-semibold mb-2">To'lovchi</h2>
    <div class="text-sm space-y-2 ">
      <p class="flex justify-between">
        <span class="font-medium opacity-60">Sana:</span>
        <span>{{ transactionInfo?.docDate || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">To'lovchi nomi:</span>
        <span>{{ transactionInfo?.sender?.name || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">To'lovchining H.R:</span>
        <span>{{ transactionInfo?.sender?.account || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">To'lovchining STIRi:</span>
        <span>{{ transactionInfo?.sender?.tax || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">To'lovchi bank MFOsi:</span>
        <span>{{ transactionInfo?.sender?.codeFilial || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">To'lov summasi:</span>
        <span>{{ senderAmount || '' }}</span>
      </p>
    </div>
  </div>
  <div>
    <h2 class="text-lg font-semibold mb-2">Qabul qiluvchi</h2>
    <div class="text-sm space-y-2 ">
      <p class="flex justify-between">
        <span class="font-medium opacity-60">Qabul qiluvchi nomi:</span>
        <span>{{ transactionInfo?.recipient?.name || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">Qabul qiluvchi H.R:</span>
        <span>{{ transactionInfo?.recipient?.account || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">Qabul qiluvchi STIRi:</span>
        <span>{{ transactionInfo?.recipient?.tax || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">Qabul qiluvchi bank MFOsi:</span>
        <span>{{ transactionInfo?.recipient?.codeFilial || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">To'lov yozma tarzda:</span>
        <span>{{ receiverAmount || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">To'lov maqsadi:</span>
        <span>{{ transactionInfo?.purpose?.name || '' }}</span>
      </p>
      <p class="flex justify-between">
        <span class="font-medium opacity-60">To'lov tavsiloti:</span>
        <span>{{ transactionInfo?.description || '' }}</span>
      </p>
    </div>
  </div>
</div>
