<div class="flex flex-col gap-y-3">
  <!-- Document Number -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Номер документа</span>
    <span>{{ detail.docNum }}</span>
  </div>

  <!-- Sender Account -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Счет отправителя</span>
    <span>{{ detail.senderAccount }}</span>
  </div>

  <!-- Sender Amount 32 -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Сумма отправителя (32)</span>
    <span>{{ amountService.convertToAmount(detail.senderAmount32) }}</span>
  </div>

  <!-- Sender Currency 32 -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Валюта отправителя (32)</span>
    <span>{{ detail.senderCurrency32 }}</span>
  </div>

  <!-- Date 32a -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Дата (32a)</span>
    <span>{{ detail.date32a | date: 'dd.MM.yyyy' }}</span>
  </div>

  <!-- Receiver Amount 33 -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Сумма получателя (33)</span>
    <span>{{ amountService.convertToAmount(detail.receiverAmount33) }}</span>
  </div>

  <!-- Receiver Currency 33 -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Валюта получателя (33)</span>
    <span>{{ detail.receiverCurrency33 }}</span>
  </div>

  <!-- Currency Rate -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Курс валюты</span>
    <span>{{ amountService.convertToAmount(detail.currencyRate) }}</span>
  </div>

  <!-- Business Name 50 -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Название бизнеса (50)</span>
    <span>{{ detail.businessName50 }}</span>
  </div>

  <!-- Business Address 50 -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Адрес бизнеса (50)</span>
    <span>{{ detail.businessAddress50 }}</span>
  </div>

  <!-- Bank Code 50 -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Код банка (50)</span>
    <span>{{ detail.bankCode50 }}</span>
  </div>

  <!-- Correspondent Bank 56 -->
  <div *ngIf="detail.correspondentBank56" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Корреспондентский банк (56)</span>
    <span>{{ detail.correspondentBank56 }}</span>
  </div>

  <!-- Beneficiary Bank 57a -->
  <div *ngIf="detail.bankBeneficiary57a" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Банк бенефициара (57a)</span>
    <span>{{ detail.bankBeneficiary57a }}</span>
  </div>

  <!-- Beneficiary Bank Account 57 -->
  <div *ngIf="detail.bankBeneficiary57Account" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Счет банка бенефициара (57)</span>
    <span>{{ detail.bankBeneficiary57Account }}</span>
  </div>

  <!-- Beneficiary Name 59 -->
  <div *ngIf="detail.beneficiary59Name" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Имя бенефициара (59)</span>
    <span>{{ detail.beneficiary59Name }}</span>
  </div>

  <!-- Beneficiary Address 59 -->
  <div *ngIf="detail.beneficiary59Address" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Адрес бенефициара (59)</span>
    <span>{{ detail.beneficiary59Address }}</span>
  </div>

  <!-- Description 70 -->
  <div *ngIf="detail.description70" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Описание (70)</span>
    <span>{{ detail.description70 }}</span>
  </div>

  <!-- Beneficiary Code 71 -->
  <div *ngIf="detail.ben71" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Код бенефициара (71)</span>
    <span>{{ detail.ben71 }}</span>
  </div>

  <!-- Narrative 72 -->
  <div *ngIf="detail.narrative72 && detail.narrative72.length > 0" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Нарративы (72)</span>
    <span>{{ detail.narrative72.join(', ') }}</span>
  </div>

  <!-- Code 172 -->
  <div *ngIf="detail.code172" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Код (172)</span>
    <span>{{ detail.code172 }}</span>
  </div>

  <!-- Additional Info 172 -->
  <div *ngIf="detail.additionalInfo172" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Дополнительная информация (172)</span>
    <span>{{ detail.additionalInfo172 }}</span>
  </div>

  <!-- Code 272 -->
  <div *ngIf="detail.code272" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Код (272)</span>
    <span>{{ detail.code272 }}</span>
  </div>

  <!-- Additional Info 272 -->
  <div *ngIf="detail.additionalInfo272" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Доп. информация (272)</span>
    <span>{{ detail.additionalInfo272 }}</span>
  </div>

  <!-- Code 77 -->
  <div *ngIf="detail.code77" class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">Код (77)</span>
    <span>{{ detail.code77 }}</span>
  </div>

  <!-- Transaction ID -->
  <div class="flex gap-x-4 items-center text-[14px]">
    <span class="w-[130px] text-secondary">ID Транзакции</span>
    <span>{{ detail.transactionId }}</span>
  </div>
</div>
