<div class="bg-white rounded-12px p-6" [formGroup]="form">
    <div class="flex justify-between items-center mb-4">
        <p class="text-24 font-medium flex flex-col">Инкассовое поручение
            <span class="text-14 font-medium text-secondary">Номер документа будет присвоен автоматически</span>
        </p>
        <button class="flex items-center text-primary text-14 font-medium">Задать номер
            <app-ui-svg-icon path="./assets/icons/btn-icons.svg#payment_plus" svgClass="w-6 h-6"></app-ui-svg-icon>
        </button>
    </div>

    <div class="rounded-12px p-6 border-1px border-secondary">
        <div class="flex justify-between mb-4">
            <p class="font-medium">Создать шаблон</p>
            <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" formControlName="isCreateTemplate" />
                <div class="slider round"></div>
            </label>
        </div>

        <ng-container *ngIf="form.controls.isCreateTemplate.value">
            <p class="font-medium mb-2">Наименование</p>
            <div class="relative mb-4">
                <input type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
                    placeholder="Введите имя шаблона">
            </div>
        </ng-container>

        <p class="font-medium mb-2">Сумма платежа</p>
        <div class="relative mb-4">
            <input type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
                placeholder="0.00 UZS">
            <p class="text-14 text-secondary absolute right-2 top-1/2 -translate-y-1/2">С учётом НДС:</p>
        </div>

        <div class="flex mb-4">
            <div class="w-1/2 flex flex-col pr-2">
                <p class="font-medium leading-20px mb-2">НДС</p>
                <mat-form-field appearance="outline" class="payment-select relative">
                    <app-ui-svg-icon path="./assets/icons/btn-icons.svg#arrow_down"
                        svgClass="w-6 h-6 absolute right-0"></app-ui-svg-icon>
                    <mat-select disableRipple placeholder="НДС не облагается">
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-1/2 flex flex-col pl-2">
                <p class="font-medium leading-20px mb-2">Дата отправки</p>
                <mat-form-field appearance="outline" class="payment-select relative">
                    <app-ui-svg-icon path="./assets/icons/btn-icons.svg#arrow_down"
                        svgClass="w-6 h-6 absolute right-0"></app-ui-svg-icon>
                    <mat-select disableRipple placeholder="Сегодня">
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <p class="font-medium leading-20px mb-2">Счёт списания</p>
        <mat-form-field appearance="outline" class="payment-select relative w-full mb-2.5">
            <app-ui-svg-icon path="./assets/icons/btn-icons.svg#arrow_down"
                svgClass="w-6 h-6 absolute right-0"></app-ui-svg-icon>
            <mat-select disableRipple placeholder="Начните вводить номер или название счёта или выберите из списка">
                <mat-option value="1">Option 1</mat-option>
                <mat-option value="2">Option 2</mat-option>
                <mat-option value="3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
        <p class="text-primary text-right mb-4 cursor-pointer">Паказать реквизиты</p>

        <p class="font-medium leading-20px mb-2">Получатель</p>
        <mat-form-field appearance="outline" class="payment-select relative w-full mb-2.5">
            <app-ui-svg-icon path="./assets/icons/btn-icons.svg#arrow_down"
                svgClass="w-6 h-6 absolute right-0"></app-ui-svg-icon>
            <mat-select disableRipple placeholder="Начните вводить номер или название счёта или выберите из списка">
                <mat-option value="1">Option 1</mat-option>
                <mat-option value="2">Option 2</mat-option>
                <mat-option value="3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
        <p class="text-primary text-right mb-4 cursor-pointer">Паказать реквизиты</p>

        <p class="font-medium mb-2">Назначение</p>
        <div class="relative">
            <textarea type="text" class="rounded-12px border-1px border-secondary w-full h-[93px] p-2 outline-none"
                [value]="'НДС не облагается.'">
            </textarea>
        </div>
    </div>
    <div class="flex justify-end mt-[90px]">
        <button class="w-[194px] h-10 rounded-12px border-1px border-[#7C8897] mr-4 font-medium">Сброс</button>
        <button class="w-[194px] h-10 rounded-12px border-1px bg-[#E5E7EA] text-[#B0B8C1] font-medium">Подтвердить</button>
    </div>
</div>