
<div class="carousel relative ">
  <div class="carousel-inner relative overflow-hidden w-full h-full rounded-12px">
    <div *ngFor="let slide of slides; let i = index"
         class="carousel-item absolute inset-0 transition-opacity duration-500 ease-in-out"
         [class.opacity-100]="i === currentIndex"
         [class.opacity-0]="i !== currentIndex">
      <img *ngIf="slide.attachmentURL" [ngSrc]="slide.attachmentURL" class="block w-full h-full object-cover" fill alt="Slide Image">
    </div>
  </div>

  <!-- Dots Navigation -->
  <div class="dots absolute bottom-0 left-0 right-0 flex justify-center mb-4">
    <button *ngFor="let slide of slides; let i = index"
            class="dot mx-1 w-3 h-3 rounded-full transition-colors duration-300"
            [class.bg-blue-500]="i === currentIndex"
            [class.bg-gray-200]="i !== currentIndex"
            (click)="selectSlide(i)">
    </button>
  </div>
</div>
<div class="flex">
  <div class="w-1/2 mr-2 bg-white p-4 shadow-[0_1px_2px_0_rgba(16,24,40,0.06),_0px_1px_3px_0_rgba(16,24,40,0.10)] rounded-12px">
    <ul class="">
       <span class="flex justify-between items-center">
            <p class="font-medium text-base leading-normal flex items-center gap-1"> Активные счета</p>
         <p routerLink="/account-payment" [queryParams]="{ tab: '1' }" class="text-primary text-base font-medium cursor-pointer leading-normal flex items-center">Все <mat-icon class="mt-0.5">keyboard_arrow_right</mat-icon></p>
    </span>
      @for (account of accounts ; track account ; let last = $last){

        <li class="bg-gray-200 p-1 rounded bg-gradient-to-r from-[#D3DCE7] to-[#E5E9ED] mt-2 mb-2">
         <span class="flex flex-col gap-1">
           <div class="text-sm text-black leading-5">{{ account.accountTitle }}</div>
           <div class="flex justify-between gap-2 text-small">
             <div class="font-medium text-sm" >{{account.altAcctId}}</div>
             <div class="font-medium text-sm text-[#1F6ECA] pe-1">{{account.balance.amount / 100 | mask:'separator'}} {{account.balance.currency}}</div>
           </div>
         </span>
        </li>
      }
    </ul>
    @if (isLoadingAccount){
      <ul>
        @for (items of [1,2,3,4,5] ; track items; let last=$last){
          <li>
            <span class="skeleton block rounded-12px h-10 w-full mb-2.5"></span>

          </li>
          @if(!last){ <hr class="my-3">}
        }
      </ul>
    }
  </div>
  <div class="w-1/2 ml-2 bg-white p-4 shadow-[0_1px_2px_0_rgba(16,24,40,0.06),_0px_1px_3px_0_rgba(16,24,40,0.10)] rounded-12px">
   <span class="flex justify-between items-center">
            <p class="font-medium text-base leading-normal flex items-center gap-1">Неподписанные транзакции<span
              class="rounded-full h-4 w-4  text-white flex justify-center items-center bg-[#FF5C00]"><span
              class="p-1.5 text-xs">{{ transactionsList.length }}</span></span></p> <p routerLink="/account-payment"
                                                                                       class="text-primary text-base font-medium cursor-pointer leading-normal flex items-center">Все <mat-icon
     class="mt-0.5">keyboard_arrow_right</mat-icon></p>

    </span>
    <ul class="mt-3">
      @for (transaction of transactionsList; track transaction; let last = $last) {
        <li class="px-3 py-1.5 border-1px border-secondary rounded-12px mb-2">
         <div class="flex items-center  w-full">
           <div>
             <mat-checkbox></mat-checkbox>
           </div>
           <div class="w-full">
             <div class="flex justify-between items-center">
               <p
                 class="font-medium text-base leading-5">{{ transaction.transactionMode }}</p>
               <p
                 class="font-medium text-base text-[#1F6ECA] leading-5">{{ transaction.receiverAmount.amount / 100 |mask:'separator' }} {{ transaction.receiverAmount.currency }}</p>
             </div>
             <div class="flex justify-between items-center">
               <p
                 class="text-secondary leading-normal text-sm font-normal">{{ transaction.recipient.name }}</p>
               <p
                 class="font-normal text-base text-secondary leading-normal">{{ transaction.recipient.account }}</p>
             </div>
           </div>
         </div>
        </li>
      }
    </ul>
    @if (isLoading){
      <ul>
        @for (items of [1,2,3,4,5] ; track items){
          <li>
            <span class="skeleton block rounded-12px h-10 w-full mb-2.5"></span>
          </li>
        }
      </ul>
    }
  </div>
</div>


<!--<h4 class="font-medium my-4">Быстрый доступ</h4>-->

<!--<div class="flex gap-x-4 mb-4">-->
<!--  <button matRipple class="min-w-max w-full p-2 bg-white flex justify-center rounded-xl">-->
<!--    <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/left-menu.svg#calculator"-->
<!--                     svgClass="w-6 h-6 mr-2"></app-ui-svg-icon>-->
<!--    Моя бухгалтерия-->
<!--  </button>-->
<!--  <button matRipple class="min-w-max w-full p-2 bg-white flex justify-center rounded-xl">-->
<!--    <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/left-menu.svg#strongbox-2"-->
<!--                     svgClass="w-6 h-6 mr-2"></app-ui-svg-icon>-->
<!--    Депозиты-->
<!--  </button>-->
<!--  <button matRipple class="min-w-max w-full p-2 bg-white flex justify-center rounded-xl">-->
<!--    <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/left-menu.svg#graph"-->
<!--                     svgClass="w-6 h-6 mr-2"></app-ui-svg-icon>-->
<!--    Картотека 1-->
<!--  </button>-->
<!--  <button matRipple class="min-w-max w-full p-2 bg-white flex justify-center rounded-xl">-->
<!--    <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/left-menu.svg#refresh-right-square"-->
<!--                     svgClass="w-6 h-6 mr-2"></app-ui-svg-icon>-->
<!--    Шаблоны и автоплатежи-->
<!--  </button>-->
<!--  <button matRipple class="min-w-max w-full p-2 px-4 bg-white rounded-xl text-primary">Ещё +6</button>-->
<!--</div>-->

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="outer-tab mt-1">
  <mat-tab label="История">
    <div class=" border-[1px] border-[#EFF0F2] rounded-xl bg-white px-4 mt-1  w-full overflow-x-scroll">
      <table class="w-full text-center salary-table">
        <thead class="text-sm">
        <tr class="border-b">
          <th scope="col">Отправитель</th>
          <th scope="col">Счет</th>
          <th scope="col">Сумма</th>
          <th scope="col">Валюта</th>
          <th scope="col">Получатель</th>
          <th scope="col">Счет</th>
          <th scope="col">Сумма</th>
          <th scope="col">Валюта</th>
        </tr>
        </thead>
        <tbody class="text-[#5B5B5B]">
          @for (transaction of historyTransactions; track transaction) {
            <tr class="border-b border-b-border_secondary last:border-none">
              <td>{{transaction.sender.name}}</td>
              <td>{{getFormattedAccount(transaction.sender.account)}}</td>
              <td>{{transaction.senderAmount.amount / 100 |mask:'separator'}}</td>
              <td>{{transaction.senderAmount.currency}}</td>
              <td>{{transaction.recipient.name}}</td>
              <td>{{getFormattedAccount(transaction.recipient.account)}}</td>
              <td>{{transaction.receiverAmount.amount / 100 |mask:'separator'}}</td>
              <td>{{transaction.receiverAmount.currency}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Счета">
    <div class=" border-[1px] border-[#EFF0F2] rounded-xl bg-white px-4 mt-1  w-full overflow-x-scroll">
      <table class="w-full text-center salary-table">
        <thead class="text-sm">
        <tr class="border-b">
          <th scope="col">Название</th>
          <th scope="col">Счёт</th>
          <th scope="col">Остаток</th>
          <th scope="col">Валюта</th>
        </tr>
        </thead>
        <tbody class="text-[#5B5B5B]">
          @for (account of accounts; track account) {
            <tr class="border-b border-b-border_secondary last:border-none">
              <td>{{ account.accountTitle }}</td>
              <td>{{getFormattedAccount(account.altAcctId) }}</td>
              <td class="whitespace-nowrap">{{ account.balance.amount / 100 |mask:'separator' }}</td>
              <td> {{ account.balance.currency }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="На подпись">
    <div class=" border-[1px] border-[#EFF0F2] rounded-xl bg-white px-4 mt-1  w-full overflow-x-scroll">
      <table class="w-full text-center salary-table">
        <thead class="text-sm">
        <tr class="border-b">
          <th scope="col">Отправитель</th>
          <th scope="col">Счет</th>
          <th scope="col">Сумма</th>
          <th scope="col">Валюта</th>
          <th scope="col">Получатель</th>
          <th scope="col">Счет</th>
          <th scope="col">Сумма</th>
          <th scope="col">Валюта</th>
        </tr>
        </thead>
        <tbody class="text-[#5B5B5B]">
          @for (transaction of transactionsList; track transaction) {
            <tr class="border-b border-b-border_secondary last:border-none">
              <td>{{transaction.sender.name}}</td>
              <td>{{getFormattedAccount(transaction.sender.account)}}</td>
              <td>{{transaction.senderAmount.amount / 100 |mask:'separator'}}</td>
              <td>{{transaction.senderAmount.currency}}</td>
              <td>{{transaction.recipient.name}}</td>
              <td>{{getFormattedAccount(transaction.recipient.account)}}</td>
              <td>{{transaction.receiverAmount.amount / 100 |mask:'separator'}}</td>
              <td>{{transaction.receiverAmount.currency}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Шаблоны">
    <div class=" border-[1px] border-[#EFF0F2] rounded-xl bg-white px-4 mt-1  w-full overflow-x-scroll">
      <table class="w-full text-center salary-table">
        <thead class="text-sm">
        <tr class="border-b">
          <th scope="col">Отправитель</th>
          <th scope="col">Счет</th>
          <th scope="col">Сумма</th>
          <th scope="col">Валюта</th>
          <th scope="col">Получатель</th>
          <th scope="col">Счет</th>
          <th scope="col">Сумма</th>
          <th scope="col">Валюта</th>
        </tr>
        </thead>
        <tbody class="text-[#5B5B5B]">
          @for (transaction of templateList; track transaction) {
            <tr class="border-b border-b-border_secondary last:border-none">
              <td>{{transaction.sender.name}}</td>
              <td>{{getFormattedAccount(transaction.sender.account)}}</td>
              <td>{{transaction.senderAmount.amount / 100 |mask:'separator'}}</td>
              <td>{{transaction.senderAmount.currency}}</td>
              <td>{{transaction.recipient.name}}</td>
              <td>{{getFormattedAccount(transaction.recipient.account)}}</td>
              <td>{{transaction.receiverAmount.amount / 100 |mask:'separator'}}</td>
              <td>{{transaction.receiverAmount.currency}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
