<div class="h-full flex flex-col bg-surface-2 rounded-2xl text-custom-primary border border-custom-border overflow-hidden">
  <!-- Header -->
  <header class="flex justify-between pt-6 pb-2 px-6">
    <h1 class="justify-center  text-xl font-semibold leading-loose">
      №{{ data.card.documentId }}
    </h1>
    <div class="bg-surface-1 h-8 w-8 rounded-md flex items-center justify-center">
      <img (click)="closeDialog()" src="assets/new-icons/close.svg" alt="close" />
    </div>
  </header>
  <mat-divider class="bg-custom-border" />

  <div class="h-full flex-1 overflow-y-auto">
    <div class="flex flex-col gap-y-4 py-2">

      <div class="flex flex-col px-5">
        <div class="flex flex-col space-y-3">
          <div class="flex space-x-2 items-center" *ngIf="data.card?.status && getSelectedStatus(data.card.status) as status">
              <img [src]="status?.img" [alt]="status?.name" class="w-4 h-4" />
              <div class="text-custom-secondary text-xs leading-4 font-medium">
                {{ status.name }}
              </div>
            </div>

          <div>
            <div class="whitespace-nowrap">
              <span class="font-bold leading-[40px] text-[32px] text-custom-primary">{{
                Math.floor(data.card.sumDoc / 100) | mask : "separator" }}</span><span
                class="text-[32px] leading-[40px] font-medium text-custom-secondary">.{{(Math.abs(data.card.sumDoc) %
                100).toString().padStart(2, "0")}} UZS</span>
            </div>
            <div class="text-custom-secondary leading-5 text-sm font-normal flex space-x-2 items-center">
              <span>№{{ data.card.docNum }}
                {{ data.card.docDate}}</span>
            </div>
          </div>
        </div>



        <div class="flex flex-col lg:flex-row md:flex-col sm:flex-col py-2 justify-between">
          <div class="flex flex-col justify-between py-2">
            <div class="mb-3">
              <div class="text-custom-secondary text-sm leading-5 font-normal">{{"cardFileTwo.paid" |  translate}}</div>
              <div class="bg-custom-badge-2 px-3 py-2 rounded-xl font-bold">
                <span class="font-bold text-custom-primary">{{Math.floor((data.card.sumDoc - data.card.sumSaldo) / 100) |
                  mask :"separator"}}</span>
                <span class="font-medium text-custom-secondary">.{{(Math.abs((data.card.sumDoc - data.card.sumSaldo)) %
                  100).toString().padStart(2,"0")}} UZS</span>
              </div>
            </div>

            <div>
              <div class="text-custom-secondary text-sm leading-5 font-normal">{{"cardFileTwo.remaining" |  translate}}</div>
              <div class="bg-custom-badge-1 px-3 py-2 rounded-xl font-bold">
                <span class="font-bold text-custom-primary">{{Math.floor(data.card.sumSaldo / 100) | mask :
                  "separator"}}</span>
                <span class="font-medium text-custom-secondary">.{{(Math.abs(data.card.sumSaldo) % 100).toString().padStart(2,
                  "0")}} UZS</span>
              </div>
            </div>
          </div>
          <div class="flex flex-row py-5 mt-4 gap-2">
            <span>
              <img src="./assets/new-icons/calendar-icon.svg" alt="">
            </span>
            <span class="text-custom-secondary">{{data.card.docDate}}</span>
          </div>
        </div>


        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">{{"cardFileTwo.type" |  translate}}</div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data.card.docTypeName}}
          </div>
        </div>

        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"cardFileTwo.payment_purpose" |  translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data.card.purposeName }}
          </div>
        </div>

        <div class="flex flex-col pt-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
             {{"cardFileTwo.card_index_code" |  translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data.card.purposeCode }}
          </div>
        </div>
      </div>

      <mat-divider class="bg-custom-border"  />

      <div class="px-5 flex justify-between items-center">
        <div class="leading-6 font-semibold text-base text-custom-primary">
          {{"cardFileTwo.recipient_details" |  translate}}
        </div>

        <div class="flex space-x-1 items-center cursor-pointer select-none" (click)="copyAll()" role="button"
          tabindex="0">
          <span><img src="assets/new-icons/copy.svg" alt="copy" /></span>
          <span class="leading-5 text-sm font-medium text-custom-secondary">
             {{"cardFileTwo.copy_all" |  translate}}
            </span>
        </div>
      </div>

      <div class="px-5 flex flex-col">
        <div class="flex flex-col py-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
             {{"cardFileTwo.recipient_alt2" |  translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data.card.coName }}
          </div>
        </div>

        <div class="flex items-center justify-between py-2">
          <div class="flex-1">
            <div class="text-custom-secondary text-sm leading-5 font-normal">
                 {{"createPayment.inn" |  translate}}
              </div>
            <div class="font-normal leading-6 text-base text-custom-primary break-words">
              {{ data.card.coInn }}
            </div>
          </div>
          <button class="ml-3 p-2" (click)="copySingle(data.card.coInn)" title="Копировать ИНН" type="button">
            <img src="assets/new-icons/copy.svg" alt="copy" />
          </button>
        </div>

        <div class="flex items-center justify-between py-2">
          <div class="flex-1">
            <div class="text-custom-secondary text-sm leading-5 font-normal">
              {{"cardFileTwo.recipient_account" |  translate}}
            </div>
            <div class="font-normal leading-6 text-base text-custom-primary break-words">
              {{ data.card.coAcc }}
            </div>
          </div>
          <button class="ml-3 p-2" (click)="copySingle(data.card.coAcc)" title="Копировать счёт" type="button">
            <img src="assets/new-icons/copy.svg" alt="copy" />
          </button>
        </div>

        <div class="flex flex-col pt-2">
          <div class="text-custom-secondary text-sm leading-5 font-normal">
            {{"cardFileTwo.bank_mfo" |  translate}}
          </div>
          <div class="font-normal leading-6 text-base text-custom-primary break-words">
            {{ data.card.codeFilial }}
          </div>
        </div>
      </div>

      <mat-divider class="bg-custom-border" />

      <div class="flex flex-col px-5 pb-6">
        <div class="leading-6 font-semibold text-base text-custom-primary">
           {{"cardFileTwo.change_history" |  translate}}
          
        </div>

        <div class="relative pl-2">
          @for (transaction of transactionList; track transaction.transactId) {
          <div class="relative flex gap-3 pb-3 last:pb-0">
            <div class="relative flex flex-col items-center">
              <div class="w-[6px] h-[6px] rounded-full mt-2 bg-surface-1 z-10"></div>
            </div>
            <div class="flex-1">
              <div class="text-[14px] text-custom-secondary leading-[20px] font-normal">
                {{ transaction.operDate }}
              </div>
              <div class="text-[14px] text-custom-primary leading-[20px] font-normal">
                {{ transaction.leadType }}
                <ng-container *ngIf="transaction.sumPay">
                  {{ transaction.sumPay / 100 | mask: 'separator.2' }} UZS
                </ng-container>
              </div>
            </div>
          </div>
          }
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="sticky bottom-0 p-5">
    <button
      class="bg-[#F5F5F5] rounded-xl py-3 w-full flex items-center justify-center text-[#171717] leading-6 text-base font-semibold">
      Скачать
    </button>
  </div> -->
</div>