<ng-container *transloco="let t">
  @if (isModal) {
  <cf-form-box [title]="t('prop.select_branch')" [submitLabel]="t('action.confirm')" (closeClick)="close()" (submitClick)="submit()">
    <ng-container *ngTemplateOutlet="list" />
  </cf-form-box>
  } @else {
  <div class="inline">
    <h2 class="inline-title">{{ t('prop.branch') }}</h2>

    <div class="inline-alert">
      <nz-icon nzType="info-circle" />
      <span>{{ t('alert.branch_fill') }}</span>
    </div>

    <ng-container *ngTemplateOutlet="list" />
  </div>
  }
</ng-container>

<ng-template #list>
  <ng-container *transloco="let t">
    <div class="branch-list">
      @if (loading()) {
      <div class="branch-list__loading">
        <nz-spin nzSimple />
      </div>
      } @else {
      <ul class="branch-list__items">
        @for (option of branchOptions(); track option.value) {
        <li>
          <button
            cfBounce="300"
            type="button"
            class="branch-list__option"
            [class.branch-list__option--selected]="option.value === currentValue()"
            (clicked)="selectOption(option)"
          >
            <span>{{ option.label }}</span>

            @if (option.value === currentValue()) {
            <nz-icon nzType="check" class="branch-list__check" />
            }
          </button>
        </li>
        } @empty {
        <li class="branch-list__empty">{{ t('control.select.empty') }}</li>
        }
      </ul>
      }
    </div>
  </ng-container>
</ng-template>
