<div class="organization mt-2 p-5" *ngIf="bankInfoItemsWithCode()">
  <section class="mb-8">
    <h1 class="text-[28px] font-semibold text-[#101010] mb-2  border-[#ebebeb] pb-[10px]">
      {{'settings.information' | translate}}
    </h1>

    <div>
      <div class="flex items-center justify-between mb-6">
        <div class="flex gap-2 items-center">
          <button
            *ngFor="let item of tabMenu"
            (click)="changeTab(item.id)"
            class="mr-2 text-lg font-semibold "
            [ngClass]="
      activeTabIndex() === item.id
        ? 'font-semibold leading-5 text-[18px] text-[#000] px-[15px] py-[10px] bg-[#FFF] rounded-[14px] border border-[#EDEDED]'
        : 'font-semibold leading-5 text-[18px] text-[#BABABA]'
    "
          >
            {{ item.name }}
          </button>
        </div>
        <button (click)="goLocation()"  class="cursor-pointer rounded-[12px] flex items-center gap-2 font-semibold border border-[#ebebeb] py-[9px] pr-[14px] pl-[16px] shadow-[0_1px_2px_0_rgba(10,13,20,0.03)] bg-white">
          <span class="font-medium text-sm"> {{'settings.branches_and_atms' | translate}}</span>
          <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 11.2386C1.9572 11.9192 1 12.8676 1 13.9167C1 15.9877 4.73096 17.6667 9.33333 17.6667C13.9357 17.6667 17.6667 15.9877 17.6667 13.9167C17.6667 12.8676 16.7095 11.9192 15.1667 11.2386M14.3333 6C14.3333 9.38642 10.5833 11 9.33333 13.5C8.08333 11 4.33333 9.38642 4.33333 6C4.33333 3.23858 6.57191 1 9.33333 1C12.0948 1 14.3333 3.23858 14.3333 6ZM10.1667 6C10.1667 6.46024 9.79357 6.83333 9.33333 6.83333C8.8731 6.83333 8.5 6.46024 8.5 6C8.5 5.53976 8.8731 5.16667 9.33333 5.16667C9.79357 5.16667 10.1667 5.53976 10.1667 6Z" stroke="#00A38D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>

    </div>


    <div *ngIf="activeTabIndex() == 1">
      <app-mfo-info></app-mfo-info>
    </div>

    <div *ngIf="activeTabIndex() == 2">
      <app-destination-code-info></app-destination-code-info>
    </div>

    <div *ngIf="activeTabIndex() == 3">
      <app-treasury-accounts-info></app-treasury-accounts-info>
    </div>

    <div *ngIf="activeTabIndex() == 4">
      <app-budget-accounts-info></app-budget-accounts-info>
    </div>
    <div *ngIf="activeTabIndex() == 5">
      <app-purpose-transfer-info></app-purpose-transfer-info>
    </div>
  </section>
</div>
