<div class="rounded-[42px] border border-custom-border bg-surface-2 p-8 pb-6">
  <div class="flex justify-end">
    <div class="rounded-md bg-surface-1 p-1.5 cursor-pointer" mat-dialog-close>
      <app-icon icon="xClose" size="20" svgClass="fill-custom-secondary"></app-icon>
    </div>
  </div>

  <div class="flex justify-center items-center w-[68px] h-[68px] rounded-full bg-surface-1 mt-2">
    <app-icon [icon]="data.icon" size="36" svgClass="fill-custom-primary"></app-icon>
  </div>

  <p class="text-custom-primary text-[28px] leading-8 font-bold mt-6">{{ data.title | translate }}</p>

  <p class="text-custom-muted mt-2">{{ data.description | translate }}</p>

  <div class="flex gap-2 mt-12">
    <button
      mat-dialog-close="confirm"
      type="button"
      class="flex-1 bg-surface-1 rounded-xl p-3 flex justify-center items-center leading-6 text-custom-primary font-semibold">
      {{ 'createPayment.delete' | translate }}
    </button>

    <button
      type="button"
      class="flex-1 bg-[#00a38d] min-w-[120px] rounded-xl p-3 flex justify-center items-center leading-6 text-white font-semibold"
      mat-dialog-close>
      {{ 'templates.no' | translate }}
    </button>
  </div>
</div>
