@import 'mixins';

.row {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  h4 {
    margin-bottom: 4px;
  }

  p {
    color: #5c5c5c;
  }
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
