<div  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
     (click)="onCancel()">
  <div @dialogAnim  class="bg-surface-2 rounded-[42px] shadow-lg w-[540px] mx-4 px-9 pb-9 pt-18 relative"
       (click)="$event.stopPropagation()">
    <img (click)="onCancel()"
         class="absolute cursor-pointer w-[15px] h-[15px] top-[40px] right-[35px]" src="./assets/new-icons/close.svg"
         alt="">
    <div (click)="openOffice.set(false)" *ngIf="openOffice()"
         class="z-10 w-screen h-screen fixed top-0 left-0 right-0 bottom-0"></div>
    <div class="flex justify-center flex-col items-start pt-8 pb-5 mt-8">
      <h3 class="text-[32px] text-custom-primary  font-bold">{{ 'createPayment.add_my_house' | translate }}</h3>
      <span class="text-custom-muted text-[16px]">{{ 'createPayment.add_my_house_1' | translate }}</span>
    </div>
    <div class="flex flex-col gap-12 items-center text-center">
<!--      <input type="text" (input)="onSetTitle($event)" [value]="title"-->
<!--              placeholder="Название офиса" class="border bg-surface-4 border-custom-border focus:border-[#008C79]-->
<!--           px-4 w-full text-[14px] placeholder:text-[14px] placeholder:text-[A3A3A3] placeholder:font-normal text-custom-primary font-medium-->
<!--           rounded-[16px] h-[56px] outline-none" />-->
      <div class="relative w-full flex flex-col gap-1">
        <input
          readonly
          (focusin)="this.openOffice.set(true)"
          type="text"
          [value]="selectedName()"
          placeholder=" "
          class="peer relative border pt-4  cursor-pointer focus:border-[#008C79]
          border-custom-border bg-surface-2 px-4 w-full text-custom-primary
          placeholder:text-[14px] placeholder:text-custom-muted placeholder:font-medium
          rounded-[16px] h-[56px] outline-none"
        />

        <span
          class="absolute pointer-events-none left-[15px] text-custom-muted peer-placeholder-shown:font-medium peer-focus:font-normal transition-all
           peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-[14px]
           peer-focus:top-[8px] peer-focus:-translate-y-0 peer-focus:text-[12px]
           top-[8px] text-[12px]">
    {{ 'createPayment.choose_office' | translate }}
  </span>

        <img
          src="./assets/icons/down.png"
          alt=""
          class="absolute bg-surface-4 right-5 top-[25px] text-[14px] text-[#9799A1] font-normal"
        />
<!--        <span  *ngIf="isInvalid(param)"-->
<!--               class="absolute pointer-events-none bottom-[-18px] text-[12px] left-[15px] text-red-500">{{'createPayment.field_required' | translate}}</span>-->
        <div
          @dropdownAnimation
          *ngIf="openOffice()"
          style="box-shadow: 0 5px 20px 0 #00000040"
          class="origin-top z-50 top-14 border border-custom-border overflow-auto px-1 py-1 absolute left-0 mt-2 w-full rounded-[16px] bg-[#FFFFFF]"
        >
          @for (office of myOffice(); track office) {
            <div (click)="this.selectedOffice.set(office.uuid); selectedName.set(office.name); openOffice.set(false)" [ngClass]="{ '!bg-[#F7F7F7] rounded-[12px]': selectedOffice() === office.uuid }" class="flex cursor-pointer justify-between items-center">
                    <span
                      class="h-[44px]  pointer-events-none text-custom-primary text-[16px] w-full px-3 flex items-center ">{{ office.name.length > 34 ? office.name.slice(0, 34) + '...' : office.name }}</span>
              <img class="mx-4" *ngIf="selectedOffice() === office.uuid" src="./assets/new-icons/check.svg" alt="">
            </div>
          }
          <div (click)="createOffice.set(true)" class="flex cursor-pointer h-[44px] mt-2  justify-center items-center text-center !bg-[#F5F5F5] rounded-[12px]">
                    <span
                      class="pointer-events-none text-[#171717] text-[16px] font-semibold text-custom-primary w-full px-3 ">
                      {{ 'createPayment.create_new_office' | translate }} +</span>
          </div>
        </div>
      </div>
      <div class="flex gap-2 items-center w-full">
        <button class="bg-surface-4 w-full font-semibold outline-none rounded-[12px] text-[#000000] h-[48px]"
                (click)="onCancel()">{{'createPayment.cancel' | translate}}</button>
        <button class="bg-[#00A38D] font-semibold w-full outline-none rounded-[12px] text-white h-[48px]"
                (click)="addServiceToMyOffice()">{{'createPayment.save' | translate}}</button>
      </div>
    </div>
  </div>
  <app-create-title-modal
    [edit]="false"
    (agree)="createNewOffice()"
    (cancel)="closeCreateOffice()"
    [open]="createOffice()"
    [title]="officeName()"
    (setTitle)="officeName.set($event)"
  >
  </app-create-title-modal>
</div>
