<div class="w-full bg-surface-2 pt-8 px-8 pb-6 rounded-[42px]">
  <div class="flex justify-end">
    <div mat-dialog-close class="justify-center text-end flex items-center rounded-md h-8 w-8 p-[6px] bg-surface-1 cursor-pointer">
      <img src="assets/new-icons/close.svg">
    </div>
  </div>

  <div class="self-stretch justify-start text-custom-primary text-[28px] leading-8 font-bold mb-2 mt-6">
    Загружено {{ data.success }} из {{ data.total }} сотрудников
  </div>

  <p class="text-custom-muted">
    Проверьте количество сотрудников. Если число не соответствует, вы можете изменить суммы реестра вручную или загрузить новый файл
  </p>

  <button
    class="mt-12 bg-[#00A38D] rounded-xl py-3 w-full justify-center items-center flex leading-6 text-white text-base font-semibold"
    mat-dialog-close
    type="button">
    Продолжить
  </button>
</div>
