<ng-container>
  <div class="flex justify-between items-center mt-2">
    <div class="flex gap-4">
      @for (tab of tabs(); track tab.value) {
        <button (click)="setActiveTab(tab.value)"
                [ngClass]="isActive(tab.value)
          ? 'h-10 rounded-[12px] border border-custom-border px-4 py-2 bg-surface-2 text-custom-primary font-inter font-semibold text-[16px] leading-5 tracking-[-0.006em]'
          : 'h-10 rounded-[12px] px-4 py-2 bg-transparent text-[#5C5C5C] font-inter font-semibold text-[16px] leading-5 tracking-[-0.006em]'">
          <span>{{ tab.label | translate }}</span>
          @if (tab.value === 'INCOMING') {
            <span *ngIf="activeCardsLength()"
                  class="bg-[#00A38D] text-white px-[9px] py-[4px] ml-4 rounded-full text-sm">{{activeCardsLength()}}</span>
          }
        </button>
      }
    </div>
  </div>
</ng-container>
