<div class="p-[30px] bg-white rounded-[15px] flex flex-col gap-y-[30px]">
  <div class="flex items-center justify-between">
    <div class="text-[22px] font-medium">{{ title }}</div>

    <div
      [matMenuTriggerFor]="applicationMenu"
      class="flex gap-x-2 items-center bg-[#DDECFC] px-5 py-2.5 rounded-[5px] !h-[40px] cursor-pointer select-none"
    >
        <span class="text-sm leading-[17px] text-[#264796]">
          Создать заявку
        </span>
      <img ngSrc="./assets/svg/add-blue.svg" alt="add" width="24" height="24">
    </div>

    <mat-menu
      #applicationMenu
    >
      <button
        mat-menu-item
        [routerLink]="['/account-payment/create']"
      >
        Открытие счета
      </button>

      <button
        mat-menu-item
        [routerLink]="['/create-currency-buy']"
      >
        Покупка валюты
      </button>

      <button
        mat-menu-item
        [routerLink]="['/create-currency-sell']"
      >
        Продажа валюты
      </button>

      <button
        mat-menu-item
        [routerLink]="['/create-cross-conversion']"
        [queryParams]="{ tab: 'above-limit' }"
      >
        Кросс-конверсия
      </button>

      <button
        mat-menu-item
        [routerLink]="['/create-swift']"
      >
        SWIFT
      </button>

      <button
        mat-menu-item
        [routerLink]="['/loan/main/my']"
      >
        Кредит
      </button>

      <button
        mat-menu-item
        [routerLink]="['/corp-card-project/corp-cards/items/create']"
        [queryParams]="{ select: true }"
      >
        Корпоративные карты
      </button>

      <button
        mat-menu-item
        [routerLink]="['/deposits/available-deposits']"
      >
        Открытие депозита
      </button>
    </mat-menu>
  </div>

  <div class="flex flex-col">
    <div class="flex items-center justify-between">
      <div class="flex gap-x-5 items-center">
        <app-table-actions
          [tableActionBtns]="tableActionBtns"
          (onClick)="onActionClick($event)"
        ></app-table-actions>

        <app-select-action
          [actions]="getActions()"
          (onAction)="handleAction($event)"
        ></app-select-action>
      </div>

      <app-filter-button
        class="flex justify-end"
        (click)="filterState = !filterState"
        [classes]="!filterState ? 'bg-[#264796] text-white' : ''"
        [src]="!filterState ? './assets/svg/filter-white.svg' : './assets/svg/filter-black.svg'"
      ></app-filter-button>
    </div>

    <app-app-filter
      (filterChange)="setFilter($event)"
      [toggleActive]="true"
      [panelState]="filterState"
    ></app-app-filter>
  </div>

  <app-container-table
    [loading]="loading"
    [errorMessage]="errorMessage"
    [columns]="ApplicationTableColumn"
    [data]="apps"
    (selectedRows)="onSelectedRows($event)"
    (rowClicked)="openDetails($event)"
    [numbering]="true"
    [custom]="true"
  ></app-container-table>

  <app-paginator
    [itemsPerPage]="pageSize"
    [currentPage]="pageIndex + 1"
    [totalItems]="totalItems"
    (pageChange)="pageChange($event)"
  ></app-paginator>
</div>
