<div
  class="bg-white overflow-hidden p-3 shadow-[0_4px_24px_rgba(0,0,0,0.05)]  mr-5 mt-5  rounded-[16px] flex items-center justify-between"
>
  <div class="w-[520px] self-stretch px-4 py-2 bg-[#F3F5F5] rounded-2xl inline-flex justify-start items-center gap-2">
    <div class="w-6 h-6 relative overflow-hidden">
      <div class="left-[3px] top-[3px] absolute   outline-offset-[-1px]"><img src="./assets/svg/search.svg" alt="#"></div>
    </div>
    <div class="justify-start text-[#9799A1] text-base font-normal  leading-tight">Поиск</div>
  </div>
<!--  <div-->
<!--    [routerLink]="'/main'"-->
<!--    (click)="utilsService.menuState$$.next('main')"-->
<!--    class="flex gap-x-[10px] items-center cursor-pointer"-->
<!--  >-->
<!--    <img ngSrc="./assets/svg/hamkor-logo.svg" priority width="138" height="42" alt="hamkor"/>-->
<!--  </div>-->
  <div class="flex items-center gap-x-2">
<!--    <app-ui-svg-icon-->
<!--      routerLink="/chat/faq"-->
<!--      title="Чат"-->
<!--      routerLinkActive="bg-gradient-to-r from-teal-500 to-blue-500"-->
<!--      class="w-11 h-11 flex items-center justify-center rounded-lg cursor-pointer transition-[.4s]"-->
<!--      path="./assets/icons/top-bar.svg#messages"-->
<!--      svgClass="w-6 h-6"-->
<!--    ></app-ui-svg-icon>-->

    <div class="flex gap-x-3 items-center">
      <div
        *ngIf="userService.userInfo$ | async as user"
        routerLink="/profile"
        class="cursor-pointer"
      >
        <div class="text-right  text-base font-medium leading-5">
          {{ user.name }}
        </div>
        <div class="text-right  text-xs font-normal leading-normal">
          <span>{{ user.enteredUser }} </span>
        </div>
      </div>

<!--      <div class="flex gap-x-2.5">-->
<!--        <div (click)="utilsService.menuState$$.next('settings')" routerLink="/settings" class="flex items-center cursor-pointer">-->
<!--          <img priority ngSrc="./assets/svg/settings-main.svg" alt="settings" width="44" height="44">-->
<!--        </div>-->


<!--      </div>-->

    </div>
    <div class="relative inline-block">
      <app-ui-svg-icon
        routerLink="/notification"
        routerLinkActive="bg-gradient-to-r from-teal-500 to-blue-500"
        class="w-11 h-11 flex items-center justify-center rounded-lg cursor-pointer transition-[.4s]"
        path="./assets/svg/bell-01.svg"
        svgClass="w-6 h-6"
      ></app-ui-svg-icon>
      @if(count > 0){<span class="absolute top-0 right-0 inline-flex text-white items-center justify-center w-6 h-6 text-[11px] font-medium  bg-red-600 rounded-full">{{count}}</span>}
    </div>

    <app-ui-svg-icon
      routerLink="/chat/conversation"
      routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500"
      class="w-11 h-11 flex items-center justify-center rounded-lg cursor-pointer transition-[.4s]"
      path="./assets/svg/message-circle-02.svg"
      svgClass="w-6 h-6"
    ></app-ui-svg-icon>
    <mat-divider vertical class="h-6 mx-2"></mat-divider>
            <div (click)="userService.logout()" class="flex items-center cursor-pointer">
              <img ngSrc="./assets/svg/log-out.svg" alt="settings" width="44" height="44">
            </div>
  </div>
</div>
