<div>
<div class="flex flex-col gap-y-2 mb-2">
  <app-container-nav [navs]="navs()"></app-container-nav>
  <div class="self-stretch justify-start text-[#2C3531]  text-xl font-semibold  leading-loose">Счета</div>
</div>
  <div class="flex flex-col  p-6 rounded-[15px] bg-white max-w-full">

    <!--    <div class="flex justify-between">-->
    <!--      <div class="flex gap-x-2.5 h-[40px] p-[5px] rounded-[8px] bg-[#EFF4F9] text-[14px] text-[#8B97A2]">-->
    <!--&lt;!&ndash;        @for (tab of tabs; track tab) {&ndash;&gt;-->
    <!--&lt;!&ndash;          <div&ndash;&gt;-->
    <!--&lt;!&ndash;            [routerLink]="['/accounts-and-payments']"&ndash;&gt;-->
    <!--&lt;!&ndash;            [queryParams]="{tab: tab.value}"&ndash;&gt;-->
    <!--&lt;!&ndash;            routerLinkActive="!bg-[#264796] text-white"&ndash;&gt;-->
    <!--&lt;!&ndash;            class="cursor-pointer h-[30px] px-2.5 py-[5px] rounded-[5px]"&ndash;&gt;-->
    <!--&lt;!&ndash;          >{{ tab?.title }}</div>&ndash;&gt;-->
    <!--&lt;!&ndash;        }&ndash;&gt;-->
    <!--      </div>-->

    <!--      <div-->
    <!--        class="flex gap-x-2 items-center bg-[#DDECFC] px-5 py-2.5 rounded-[5px] !h-[40px] cursor-pointer"-->
    <!--        [routerLink]="selectedTab === 'accounts' ? '/account-payment/create' : '/pay'"-->
    <!--      >-->
    <!--        <span class="text-sm leading-[17px] text-[#264796]">-->
    <!--          {{ selectedTab === 'accounts' ? 'Открыть счет' : 'Создать платеж' }}-->
    <!--        </span>-->
    <!--        <img ngSrc="./assets/svg/add-blue.svg" alt="add" width="24" height="24">-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="flex justify-between gap-x-5 items-center">-->
    <!--      <div class="flex gap-x-5 items-center">-->

    <!--&lt;!&ndash;          @if(selectedTab === 'payments') {&ndash;&gt;-->
    <!--&lt;!&ndash;            <app-select-action&ndash;&gt;-->
    <!--&lt;!&ndash;              [actions]="getActions()"&ndash;&gt;-->
    <!--&lt;!&ndash;              (onAction)="handleAction($event)"&ndash;&gt;-->
    <!--&lt;!&ndash;            ></app-select-action>&ndash;&gt;-->
    <!--&lt;!&ndash;          }&ndash;&gt;-->
    <!--      </div>-->
    <!--  </div>-->
    <!--    @if(selectedTab === 'payments') {-->
    <!--      <app-filter-payment-->
    <!--        (filterChange)="setFilter($event, 'payments')"-->
    <!--        (searched)="onFilter()"-->
    <!--        [toggleActive]="true"-->
    <!--        [panelState]="paymentsFilterState"-->
    <!--      ></app-filter-payment>-->
    <!--    } @else {-->
    <div class="py-4">
      <div class="border-b border-[#E0E0E0]">
        <div class="flex justify-between items-end pb-2">
          <div class="flex space-x-6">
            <ng-container *ngFor="let tab of accountTabs(); let i = index">
              <button
                (click)="onTabClick(i)"
                class="relative text-sm font-medium leading-[18px]"
                [ngClass]="{
      'text-[#008C79]': activeAccounts() === i,
      'text-[#2C3531]': activeAccounts() !== i
    }"
              >
                {{ tab }}
                <span
                  *ngIf="activeAccounts() === i"
                  class="absolute -bottom-2 left-0 w-full h-[2px] bg-[#008C79] rounded-full transition-all duration-300"
                ></span>
              </button>
            </ng-container>
          </div>
        </div>

      </div>
    </div>
    <div class="flex justify-between items-center py-2">
      <app-table-actions
        [tableActionBtns]="tableActionBtns"
        (onClick)="onActionClick($event)"
      ></app-table-actions>
      <button ><img src="./assets/svg/filter-payment.svg" alt="#"></button>
    </div>
    <app-filter-account
      class="accordion"
      [toggleActive]="true"
      [panelState]="paymentsFilterState"
    ></app-filter-account>
    <app-container-table
      [columns]="tableColumns"
      [data]="accounts()"
      [loading]="isLoading()"
      [custom]="true"
      [numbering]="true"
      [errorMessage]="errorMessage"
      (rowClicked)="getInfo($event)"
      [size]="pageSize"
      (selectedRows)="onSelectedRows($event)"
    ></app-container-table>
  </div>
</div>
