@import 'mixins';

:host {
  display: block;
  scroll-margin-top: 96px;
}

.themeMixin({
    :host {
        .titleRef {
          nz-tag {
            background: @error-bg-color;
            color: @error-color;
          }

          nz-icon {
            color: @error-color;
          }
        }
    }
});

.list {
  display: grid;
  grid-template-columns: 1fr;
}

.titleRef {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;

  h2 {
    margin: 0;
  }

  nz-icon {
    margin-right: 4px;
    font-size: 14px;
  }
}

[nz-button] {
  nz-spin {
    display: inline-flex;
    align-items: center;
  }
}
