@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  row-gap: 18px;

  .skeleton {
    width: 100%;
    height: 200px;

    .media(@media-md, {
      height: 350px;
    });

    .media(@media-xs, {
      height: 545px;
    });
  }
}
