:host {
  ::ng-deep .lang-box .mat-mdc-select-arrow {
  display: none !important;
}
::ng-deep .lang-box .mat-mdc-text-field-wrapper.mdc-text-field {
   height: 32px !important;
   padding: 0 !important;
}
::ng-deep .lang-box .mat-mdc-form-field-infix {
  padding: 0 !important;
}
::ng-deep .lang-box .mat-mdc-form-field.lang-select {
  max-width: 60px !important;
}
::ng-deep .lang-box .mat-mdc-select-min-line.ng-star-inserted {
   font-weight: 600;
   font-size: 16px;
   margin-left: 2px !important;
}

::ng-deep .lang-box .mat-mdc-select-value {
  margin-top: 4px !important;
}
::ng-deep .lang-box  .mdc-notched-outline.mdc-notched-outline--no-label.ng-star-inserted div{
  border: 0 !important;
  //background-color: #F5F5F5;
}
::ng-deep .lang-box  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mat-mdc-notch-piece {
  border-color: transparent !important;
}
::ng-deep .lang-box  .mat-mdc-select[aria-expanded="true"] {
  background-color: #f5f5f5 !important;
  border-radius: 4px !important;
}
::ng-deep .lang-box .mat-mdc-select-trigger {
  display: none !important;
}
::ng-deep .lang-box .lang-title {
  font-weight: 600;
  font-size: 16px;
  margin-left: 2px !important;
}
::ng-deep .lang-box .mat-focused .mat-mdc-text-field-wrapper {
  background-color: #f5f5f5 !important;
  border-radius: 4px !important;
}
::ng-deep .mat-select-panel-animations-enabled.mat-mdc-select-panel {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 16px !important;
  padding: 8px;
  min-width: 128px !important;
  right: 60px;
}
::ng-deep  .mat-mdc-option {
  min-height: 36px !important;
}
::ng-deep .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background-color: transparent !important;
}
::ng-deep .mat-mdc-option.mdc-list-item.ng-star-inserted{
  padding: 0 8px !important;
}
::ng-deep .mat-mdc-option.mdc-list-item.ng-star-inserted:hover {
  background-color: transparent !important;
}
::ng-deep .lang-box .mat-focused .lang-arrow-down {
   transform: rotate(-180deg);
}
::ng-deep .lang-box.dark-active .mdc-text-field--outlined .mdc-notched-outline {
  background-color: #262626;
  border: none !important;
  z-index: 0;
  outline: none !important;
}
::ng-deep .lang-box.dark-active .lang-title {
  color: #FFFFFF !important;
  }
}
