<form [formGroup]="filterForm" class="px-6 card-filter-box">
  <div class="w-full flex flex-wrap items-center gap-3 p-2">

    <!-- Search text text (Поиск) -->
    <div class="relative w-[300px] ">
      <span class="absolute inset-y-0 left-3 flex items-center text-gray-400 ">
        <img ngSrc="./assets/new-icons/search-input.svg" alt="Значок поиска" width="18" height="18">
      </span>
      <input formControlName="searchText" type="text"[placeholder]="'custom.counterparty_amount_purpose' | translate"
        class="w-full pl-10 pr-4 py-2 !h-[32px] border border-gray-300 rounded-[10px] focus:outline-none  placeholder:text-[13px] text-sm focus:ring-1 ring-[#00A38D] dark:bg-transparent dark:border-[#333333]" />
    </div>


    <!-- Show Filter Modal -->
<!--    <div (click)="this.showFilterDialog()"-->
<!--      class="p-2.5  !h-[32px] flex items-center rounded-[10px] border-[#EDEDED] border-2 cursor-pointer dark:border-[#333333]">-->
<!--      <img src="./assets/new-icons/filter.svg" class="w-[25px] h-[17px]" alt="filter">-->
<!--    </div>-->

    <!-- Тип транзакции -->
    <div class="border cursor-pointer border-[#EDEDED] rounded-[10px] dark:border-[#333333] dark:text-white relative " #transactionTrigger="matMenuTrigger"
      [ngClass]="{ '!border-[#00A38D]': transactionTrigger.menuOpen || filterForm.value?.isCredit !== null}"
      [matMenuTriggerFor]="transactionMenu">
      <div class="flex items-center !h-[32px] p-2 gap-3">
        <p>{{'accounts.transaction_type' | translate}}</p>

        <mat-chip *ngIf="filterForm.value?.isCredit !== null" [removable]="true" (removed)="removeFilter('isCredit')"
          class="!bg-[#F4F4F4] !h-[20px]">
          <div class="flex items-center gap-2">
            <img *ngIf="filterForm.value?.isCredit === 2" width="18" height="18" src="./assets/new-icons/send-icon.svg"
              alt="Outgoing" />
            <img *ngIf="filterForm.value?.isCredit === 1" width="18" height="18"
              src="./assets/new-icons/receipt-arrow.svg" alt="Incoming" />

            <span class="text-[#191A1D] text-[12px] font-medium">
              {{ filterForm.value?.isCredit === 2 ? ('filter.outgoing' | translate) : filterForm.value?.isCredit === 1 ?  ('filter.incoming' | translate) : ('filter.all' | translate)}}
            </span>
          </div>
          <button matChipRemove>
<!--            <img src="./assets/svg/close.svg" alt="close" width="12" height="12" />-->
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.60965 4.27647L9.61016 0.275968C9.9783 -0.0921811 10.5752 -0.0921812 10.9433 0.275968C11.3115 0.644117 11.3115 1.241 10.9433 1.60915L6.94284 5.60965L10.9433 9.61016C11.3115 9.9783 11.3115 10.5752 10.9433 10.9433C10.5752 11.3115 9.9783 11.3115 9.61016 10.9433L5.60965 6.94284L1.60915 10.9433C1.24101 11.3115 0.644117 11.3115 0.275968 10.9433C-0.0921813 10.5752 -0.0921812 9.9783 0.275968 9.61016L4.27647 5.60965L0.275968 1.60915C-0.0921809 1.241 -0.0921813 0.644117 0.275968 0.275968C0.644117 -0.0921813 1.241 -0.0921811 1.60915 0.275968L5.60965 4.27647Z" fill="#171717"/>
          </svg>


          </button>
        </mat-chip>
        <img src="./assets/new-icons/arrow-down.svg" alt="open" />
      </div>

      <mat-menu #transactionMenu="matMenu" xPosition="after" class="menu-actions mt-2">
        <div class="flex flex-col items-center gap-1 p-[4px] dark:!text-[#A3A3A3]">
          <div (click)="setFilter(0, 'isCredit')"
            class="flex cursor-pointer items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 py-[4px] px-[6px] ">
            <div class="w-[15px] opacity-0">
              <img src="./assets/new-icons/send-icon.svg" alt="placeholder" />
            </div>
            <span class="w-[120px] text-[14px] font-medium" [class.text-[#00A38D]]="filterForm.value?.isCredit === 0">
              {{ 'filter.all' | translate }}
            </span>
          </div>

          <div (click)="setFilter(2, 'isCredit')"
            class="flex cursor-pointer items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 py-[4px] px-[6px]">
            <div class="w-[15px]">
              <img src="./assets/new-icons/send-icon.svg" alt="Outgoing" />
            </div>
            <span class="w-[120px] text-[14px] font-medium" [class.text-[#00A38D]]="filterForm.value?.isCredit === 1">
               {{ 'filter.outgoing' | translate }}
            </span>
          </div>

          <div (click)="setFilter(1, 'isCredit')"
            class="flex cursor-pointer items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 py-[4px] px-[6px]">
            <div class="w-[15px]">
              <img src="./assets/new-icons/receipt-arrow.svg" alt="Incoming" />
            </div>
            <span class="w-[120px] text-[14px] font-medium" [class.text-[#00A38D]]="filterForm.value?.isCredit === 2">
              {{ 'filter.incoming' | translate }}
            </span>
          </div>
        </div>
      </mat-menu>
    </div>

    <!-- Статус -->
    <div #statusTrigger="matMenuTrigger"
      [ngClass]="{'!border-[#00A38D]': statusTrigger.menuOpen || this.filterForm.value?.status}"
      class="border cursor-pointer relative border-[#EDEDED] rounded-[10px] dark:border-[#333333] dark:text-white" [matMenuTriggerFor]="statusMenu">
      <div class="flex items-center p-2 gap-3 !h-[32px]">
        <p>{{'filter.status' | translate}}</p>
        <mat-chip [removable]="true" *ngIf="this.filterForm.value?.status" (removed)="removeFilter('status')"
          class="!bg-[#F4F4F4] !h-[20px] ">
          <div class="flex items-center gap-2">
          </div>
          <span class="text-[#191A1D] text-[12px] font-medium">{{paymentMap[this.filterForm.value?.status ??
            ''] | translate}}</span>
          <button matChipRemove>
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.60965 4.27647L9.61016 0.275968C9.9783 -0.0921811 10.5752 -0.0921812 10.9433 0.275968C11.3115 0.644117 11.3115 1.241 10.9433 1.60915L6.94284 5.60965L10.9433 9.61016C11.3115 9.9783 11.3115 10.5752 10.9433 10.9433C10.5752 11.3115 9.9783 11.3115 9.61016 10.9433L5.60965 6.94284L1.60915 10.9433C1.24101 11.3115 0.644117 11.3115 0.275968 10.9433C-0.0921813 10.5752 -0.0921812 9.9783 0.275968 9.61016L4.27647 5.60965L0.275968 1.60915C-0.0921809 1.241 -0.0921813 0.644117 0.275968 0.275968C0.644117 -0.0921813 1.241 -0.0921811 1.60915 0.275968L5.60965 4.27647Z" fill="#171717"/>
            </svg>
          </button>
        </mat-chip>
        <img ngSrc="./assets/new-icons/arrow-down.svg" alt="" height="8" width="12">
      </div>


      <!-- HIDDEN DATE RANGE INPUT (ROOT LEVEL) -->
      <mat-date-range-input
        [formGroup]="filterForm"
        [rangePicker]="picker"
        class="absolute opacity-0 w-0 h-0 pointer-events-none">

        <input matStartDate formControlName="startDate">
        <input matEndDate formControlName="endDate">

      </mat-date-range-input>

      <mat-date-range-picker #picker>
        <mat-date-range-picker-actions>
          <div class="w-full px-2 py-1">
            <div class="flex gap-3">
              <button matDateRangePickerCancel
                      class="h-[32px] bg-surface-2 rounded-xl w-1/2 text-xs">
                Отменить
              </button>

              <button matDateRangePickerApply
                      class="h-[32px] bg-primary-base text-white rounded-xl w-1/2 text-xs"
                      (click)="onApply()">
                Применить
              </button>
            </div>
          </div>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>


      <mat-menu #statusMenu="matMenu" xPosition="after" class="menu-actions mt-2">
        <div class="flex flex-col items-center gap-1 p-[4px]">
          <div *ngFor="let status of statusListToMap" (click)="setFilter(status.value, 'status')"
            class="flex cursor-pointer text-start items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 py-[4px] px-[6px]">
            <div class=" flex text-start">
              <img [src]="status.img" alt="">
            </div>
            <span class="w-[140px] text-[14px] text-[#5C5C5C] font-medium">{{ status.nameKey | translate}}</span>
          </div>
        </div>
      </mat-menu>
    </div>

    <!-- Период -->
    <div #periodTrigger="matMenuTrigger" [ngClass]="{
        '!border-[#00A38D]':
          periodTrigger.menuOpen ||
          this.filterForm.value?.startDate ||
          this.filterForm.value.endDate
      }" class="border cursor-pointer border-[#EDEDED] rounded-[10px] dark:border-[#333333] dark:text-white" [matMenuTriggerFor]="periodMenu">
      <div class="flex items-center p-2 gap-3 h-[35px]">
         <p>{{'accounts.period' | translate}}</p>
        <mat-chip [removable]="true" *ngIf="
            this.filterForm.value?.startDate && this.filterForm.value.endDate
          " (removed)="removeFilter('startDate'); removeFilter('endDate')" class="!bg-[#F4F4F4] !h-[20px]">
          <div class="flex items-center gap-2"></div>
          <span class="text-[#191A1D] text-[12px] font-medium">{{
            detectPeriodLabel(
            this.filterForm.value?.startDate,
            this.filterForm.value.endDate
            )
            }}</span>
          <button matChipRemove>
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.60965 4.27647L9.61016 0.275968C9.9783 -0.0921811 10.5752 -0.0921812 10.9433 0.275968C11.3115 0.644117 11.3115 1.241 10.9433 1.60915L6.94284 5.60965L10.9433 9.61016C11.3115 9.9783 11.3115 10.5752 10.9433 10.9433C10.5752 11.3115 9.9783 11.3115 9.61016 10.9433L5.60965 6.94284L1.60915 10.9433C1.24101 11.3115 0.644117 11.3115 0.275968 10.9433C-0.0921813 10.5752 -0.0921812 9.9783 0.275968 9.61016L4.27647 5.60965L0.275968 1.60915C-0.0921809 1.241 -0.0921813 0.644117 0.275968 0.275968C0.644117 -0.0921813 1.241 -0.0921811 1.60915 0.275968L5.60965 4.27647Z" fill="#171717"/>
            </svg>
          </button>
        </mat-chip>
        <img src="./assets/new-icons/calendar-icon.svg" alt="" />
      </div>
      <mat-menu #periodMenu="matMenu" xPosition="after" class="menu-actions mt-2 ">
        <div class="flex flex-col items-center gap-1 p-[4px] ">
          <div (click)="setDate('today')"
            class="flex cursor-pointer text-start items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 py-[4px] px-[6px]">
            <span class="w-[120px] text-[14px] text-[#5C5C5C] font-medium">{{'accounts.today' | translate}}</span>
            <img src="./assets/new-icons/arrow-right-period.svg" class="opacity-0" alt="Today" />
          </div>
          <div (click)="setDate('yesterday')"
            class="flex cursor-pointer items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
            <span class="w-[120px] text-[14px] text-[#5C5C5C] font-medium">{{'salaryStatements.yesterday' | translate}}</span>
            <img src="./assets/new-icons/arrow-right-period.svg" class="opacity-0" alt="Yesterday" />
          </div>
          <div (click)="setDate('week')"
            class="flex cursor-pointer items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
            <span class="w-[120px] text-[14px] text-[#5C5C5C] font-medium">{{'accounts.week' | translate}}</span>
            <img src="./assets/new-icons/arrow-right-period.svg" class="opacity-0" alt="Week" />
          </div>
          <div (click)="setDate('month')"
            class="flex cursor-pointer items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
            <span class="w-[120px] text-[14px] text-[#5C5C5C] font-medium">{{'accounts.month' | translate}}</span>
            <img src="./assets/new-icons/arrow-right-period.svg" class="opacity-0" alt="month" />
          </div>
          <div>
            <div (click)="openCustomDate()"
                 class="flex cursor-pointer items-center hover:bg-surface-2 rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
              <span class="w-[120px] text-[14px] text-custom-secondary font-medium">{{ 'accounts.custom' | translate }}</span>
              <img src="./assets/new-icons/arrow-right-period.svg" alt="">
            </div>
          </div>
        </div>
      </mat-menu>
    </div>

    <!-- Сумма -->
    <div *ngIf="this.filterForm.value.fromAmount && this.filterForm.value.toAmount"
      class="flex rounded-[10px] items-center p-2 gap-3 !h-[32px]  border border-[#00A38D]">
      <p>Сумма</p>
      <mat-chip [removable]="true" (removed)="removeFilter('fromAmount');removeFilter('toAmount')"
        class="!bg-[#F4F4F4] !h-[20px] ">
        <span class="text-[#191A1D] text-[12px] font-medium">от:
          {{this.filterForm.value?.fromAmount?.toLocaleString('ru') + ' - '}}</span>
        <span class="text-[#191A1D] text-[12px] font-medium">до:
          {{this.filterForm.value?.toAmount?.toLocaleString('ru')}}</span>
        <button matChipRemove>
          <img ngSrc="./assets/svg/close.svg" alt="close" width="48" height="48">
        </button>
      </mat-chip>
    </div>

    <!-- Cбросить все -->
    <div *ngIf="hasAnyFilter()" class="flex items-center gap-1 cursor-pointer" (click)="clearAllFilters()">
      <span class="text-[#008C79] font-medium">Cбросить все </span>
      <img width="30" height="30" src="./assets/svg/close-active.svg" alt="" />
    </div>



  </div>
</form>
