@import (multiple) 'ng-zorro-antd/src/style/themes/dark';
@import (multiple) 'colors';

@primary-color: @cf-green-500;
@body-background: @cf-black-800;
@component-background: @cf-black-900;
@border-color: @cf-white-50;
@text-color-secondary: @cf-gray-500;
@success-color: @cf-green-500;
