@import (multiple) 'ng-zorro-antd/src/style/themes/dark';
@import (multiple) 'colors';

@primary-color: @cf-green-500;
@body-background: @cf-black-800;
@component-background-secondary: @cf-gray-100;
@component-background-light: @cf-blue-50;
@component-background: @cf-black-900;
@border-color: @cf-white-0;
@text-color: @cf-white-0;
@text-color-secondary: @cf-gray-700;
@text-color-tertiary: @cf-gray-500;
@success-color: @cf-green-500;
@heading-color: @cf-black-900;
@error-color: @cf-red-500;

//btn
@btn-default-bg: @component-background;
@btn-default-color: @text-color;
@btn-default-border: @border-color-base;

//tag
@tag-deafault-bg: @cf-green-500-16;
