@import (multiple) '../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import (multiple) 'colors';

@primary-color: @cf-green-500;
@body-background: @cf-dark-body;
@component-background-thirty: @cf-dark-surface-thirty;
@component-background-secondary: @cf-dark-surface-secondary;
@component-background-light: @cf-dark-green-bg;
@component-background: @cf-dark-surface;
@text-color: @cf-dark-text;
@border-color: @cf-dark-border;
@text-color-secondary: @cf-dark-text-secondary;
@text-color-tertiary: @cf-dark-text-tertiary;
@success-color: @cf-green-200;
@success-bg-color: @cf-dark-success-bg;
@warning-color: @cf-dark-warning-bg;
@heading-color: @cf-dark-text;
@error-color: @cf-red-500;
@error-bg-color: @cf-dark-error-bg;

//hover
@hover-bg: fade(@cf-white-0, 6%);

//btn
@btn-default-bg: @component-background-secondary;
@btn-default-color: @text-color;
@btn-default-border: @border-color;

//tag
@tag-default-bg: @cf-green-500-16;
