@import (multiple) 'colors';

@primary-color: @cf-green-500;
@body-background: @cf-gray-50;
@component-background-thirty: @cf-gray-200;
@component-background-secondary: @cf-gray-100;
@component-background-light: @cf-blue-50;
@component-background: @cf-white-0;
@text-color: @cf-black-900;
@border-color: @cf-gray-200;
@text-color-secondary: @cf-gray-700;
@text-color-tertiary: @cf-gray-500;
@success-color: @cf-green-500;
@success-bg-color: @cf-green-100;
@warning-color: @cf-yellow-50;
@heading-color: @cf-black-900;
@error-color: @cf-red-500;
@error-bg-color: @cf-red-50;

//hover
@hover-bg: fade(@cf-black-900, 5%);

//btn
@btn-default-bg: @cf-gray-100;
@btn-default-color: @text-color;
@btn-default-border: @cf-gray-100;

//tag
@tag-default-bg: @cf-green-500-16;
