@import (multiple) 'colors';

@primary-color: @cf-green-500;
@body-background: @cf-gray-50;
@component-background-secondary: @cf-gray-100;
@component-background: @cf-white-0;
@text-color: @cf-black-900;
@border-color: @cf-gray-200;
@text-color-secondary: @cf-gray-700;
@success-color: @cf-green-500;
@heading-color: @cf-black-900;
@error-color: @cf-red-500;

//btn
@btn-default-bg: @cf-gray-100;
@btn-default-color: @text-color;
@btn-default-border: @cf-gray-100;

