@import (multiple) 'colors';

@primary-color: @cf-green-500;
@body-background: @cf-gray-100;
@component-background: @cf-white-50;
@text-color: @cf-black-800;
@border-color: @cf-gray-100;
@text-color-secondary: @cf-gray-500;
@success-color: @cf-green-500;
