<div class="w-[810px]  p-[30px] bg-white rounded-[15px] shadow flex-col justify-start  gap-[30px] inline-flex">
  <div class="flex flex-col gap-y-2">
    <app-container-nav [navs]="navs()"></app-container-nav>
  </div>

  <form [formGroup]="uploadRosterForm" class="flex flex-col gap-y-5">
    <div class="flex items-center gap-x-2">
      <mat-icon appLocationBack>arrow_back</mat-icon>
      <div class="text-[22px] font-medium">Загрузить свой реестр №</div>
      <mat-form-field formGroupName="salaryPrepareReq" class="inline-edit w-[120px]" appearance="outline">
        <mat-label>Номер</mat-label>
        <input formControlName="reestrNumber" matInput mask="0000" maxlength="4"/>
      </mat-form-field>
    </div>
    <div>
      <div class="flex gap-x-2 items-center">
        <div>
          <span>Платежное поручение № </span>
          @if (!isEditing()) {
            <span>{{ docNum() }}</span>
          } @else {
            <mat-form-field class="inline-edit w-[120px]" appearance="outline">
              <mat-label>Номер</mat-label>
              <input matInput (change)="setDocNum($event)" [value]="changedDocNum()"/>
            </mat-form-field>
          }
          <span> от {{ docDate() }}</span>
        </div>
      </div>
      <div class="flex gap-x-[30px]">
        <div class="text-[14px] text-[#808185]">Номер и дата будет присвоен автоматически</div>
        <div class="cursor-pointer flex gap-x-2 text-blue-500">
          @if (isEditing()) {
            <span (click)="toggleEditMode()"> Отмена</span>
            <span (click)="saveDocNum()"> Сохранить</span>
          } @else {
            <span (click)="toggleEditMode()">Изменить</span>
          }
        </div>
      </div>
    </div>
    <app-account-select [label]="'Счет списания'" [accounts]="accounts()"
                        (accountSelected)="selectedSenderAccount($event)"></app-account-select>
    <app-account-requisites [wrapperClass]="'gap-y-[20px]'"></app-account-requisites>

    <div class="flex justify-between items-center gap-x-5" formGroupName="salaryPrepareReq">
      <mat-form-field appearance="outline" class="small w-full">
        <mat-label>
          Месяц
        </mat-label>
        <mat-select formControlName="month">
          <mat-option *ngFor="let month of months()" [value]="month.value">
            {{ month.key }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix><img ngSrc="./assets/svg/chevron-down.svg" class="rotate-90" alt="chevron-down" width="20"
                                 height="20"></mat-icon>

      </mat-form-field>
      <mat-form-field appearance="outline" class="small w-full">
        <mat-label>
          Год
        </mat-label>
        <input
          matInput
          type="number"
          mask="0000"
          formControlName="year"
          [dropSpecialCharacters]="true"
        >

      </mat-form-field>
      <mat-form-field class="w-full small secondary" appearance="outline">
        <mat-label>Общая сумма</mat-label>
        <input
          matInput
          type="text"
          mask="separator.2"
          thousandSeparator="."
          readonly
          placeholder="0.00">
      </mat-form-field>
    </div>
    <mat-form-field formGroupName="salaryPrepareReq" appearance="outline">
      <mat-label>Назначение</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="Введите назначение"
      />
    </mat-form-field>
    <div class="text-[#2b2d33] text-xl font-medium">Загрузка реестр из Excel</div>
    <div *ngIf="!fileName() && !selectedFile()" class="flex items-center gap-x-5">
      <button mat-ripple
              type="button"
              (click)="downloadExcelFile()"
              class="h-10 px-5 py-2.5 bg-[#ddecfb] rounded-[5px]  justify-center items-center gap-2 inline-flex text-[#264796] text-sm font-normal leading-none">
        Скачать Excel
      </button>
      <div
        class="h-10 px-5 py-[7px] bg-[#eef2f5] rounded-[5px] justify-start items-center gap-[5px] inline-flex cursor-pointer">
        <input
          type="file"
          accept=".xlsx, .xls"
          class="hidden"
          id="fileInput"
          (change)="uploadExcelFile($event)"
        />
        <label for="fileInput" class="flex items-center gap-[5px] cursor-pointer">
          <img ngSrc="./assets/svg/upload-image-icon.svg" alt="card" width="24" height="24" />
          <div class="justify-start items-center flex">
            <div>
        <span class="text-black text-sm font-normal  leading-none">
          Выберите файл
        </span>
              <span class="text-[#999999] text-sm font-normal  leading-none">
          (Excel)
        </span>
            </div>
          </div>
        </label>
      </div>
    </div>
    <div *ngIf="fileName() && selectedFile()" class="p-5 rounded-[5px] border border-[#e4e4e4] flex-col justify-start items-start gap-5 inline-flex">
      <div class="self-stretch justify-between items-center inline-flex">
        <div class="justify-start items-center gap-2.5 flex">
          <img ngSrc="./assets/svg/upload-image-icon.svg" alt="card" width="24" height="24" />
          <div class="text-black text-base font-medium">{{ fileName() }}</div>
        </div>
        <button (click)="removeFile()" type="button" class="h-[30px] px-2 py-2.5 bg-[#ddecfc] rounded-[5px]  justify-center items-center gap-x-2  flex text-[#ff3333] text-xs font-normal">
          <img ngSrc="./assets/svg/trash-full-active.svg" height="16" width="16" alt="#">
          Удалить
        </button>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <button (click)="uploadRosterSubmit()" type="submit"
              class="h-10 px-5 py-2.5 bg-[#008C79] rounded-[5px]  justify-center items-center gap-2 inline-flex text-white text-sm font-normal  leading-snug">
        Создать
      </button>
      <div class="flex items-center gap-x-2.5">
        <div class="h-10 px-5 py-2.5 bg-[#eff4f9] rounded-[5px]  justify-center items-center gap-2 inline-flex">
          <img ngSrc="./assets/svg/printer.svg" alt="print" width="24" height="24">
        </div>
        <button  (click)="uploadRosterSubmit()" class="h-10 px-5 py-2.5 bg-[#eff4f9] rounded-[5px]  justify-center items-center gap-2 inline-flex text-black text-sm font-normal  leading-snug">Создать</button>

        <button
          class="h-10 px-3 py-[9px] bg-[#eff4f9] rounded-[5px] justify-start items-center gap-3 inline-flex text-[#2b2d33] text-sm font-normal  leading-[14px]">
          Еще действия
          <mat-icon><img ngSrc="./assets/svg/select-open-down.svg" height="20" width="20" alt="#"></mat-icon>
        </button>
      </div>
    </div>

  </form>
</div>
