<div
  class=" flex  items-center justify-between cursor-pointer  px-3 py-[11px]  my-[4px]"
  [routerLinkActive]="'bg-surface-1 text-custom-primary  !rounded-[8px]'"
  [ngClass]="!subMenu() ? 'submenu-icon-text-box' : ''"
  (click)="sendEvent()"
>
  <div class="flex">
    <span class="dark-box">
      <span class="need">
            <app-ui-svg-icon routerLinkActive="active" #rla="routerLinkActive"
                             [path]="rla.isActive ? getHref(icon())+'-active':getHref(icon())"
                             [svgClass]="!subMenu() ? 'w-5 h-5' : 'w-5 h-5 mr-2'">
            </app-ui-svg-icon>

      </span>
    </span>

    <span class="text-sm font-medium leading-5"  *ngIf="subMenu()">
    {{ title() | translate }}
  </span>
  </div>
<div *ngIf="rla.isActive" class="rounded-full p-[1px] w-[26px] h-[26px] shadow-[0_1px_2px_0_rgba(10,13,20,0.03)] bg-white dark:bg-[#333333] dark:flex" >
  <img  [src]="theme.isDark() ? './assets/new-icons/rigth-white.svg' : './assets/new-icons/arrow-right-s-line.svg'">
</div>
</div>
