<div class="flex flex-col gap-y-3 px-6 bg-[#FFF] h-full overflow-y-auto pb-5">

  <div class="flex justify-between items-center gap-x-5 py-5 border-b border-[#E2EAF1]">
    <div class="text-[22px] text-black">Обновить стикс ключ</div>

    <mat-icon
      class="cursor-pointer top-[-15px] right-[-15px] hover:rotate-180 transition-all"
      mat-ripple
      mat-dialog-close
    >close</mat-icon>
  </div>

  <div [formGroup]="certForm" class="flex flex-col gap-y-5">

    @if(step === 1) {
      <mat-form-field class="w-full small" appearance="outline">
        <mat-label>Телефон</mat-label>

        <input
          placeholder="+998901234567"
          matInput
          formControlName="phone"
        >
      </mat-form-field>

      <mat-form-field class="w-full small" appearance="outline">
        <mat-label>ИНН</mat-label>

        <input
          matInput
          formControlName="inn"
        >
      </mat-form-field>
    } @else if(step === 2) {
      <mat-form-field class="w-full small" appearance="outline">
        <mat-label>Пароль</mat-label>

        <input
          matInput
          formControlName="password"
        >
      </mat-form-field>

      <mat-form-field class="w-full small" appearance="outline">
        <mat-label>Пин код</mat-label>

        <input
          matInput
          formControlName="pin"
        >
      </mat-form-field>
    }
  </div>

  <div class="flex justify-center gap-x-5">
    <button
      (click)="getInfo()"
      mat-flat-button
      color="primary"
    >{{ step === 1 ? 'Загрузить ключ' : 'Подтвердить' }}</button>

    <button
      (click)="update()"
      mat-flat-button
      color="primary"
    >{{ step === 1 ? 'Далее' : 'Подтвердить' }}</button>

    <button
      (click)="updateWS()"
      mat-flat-button
      color="primary"
    >{{ step === 1 ? 'Далее WS' : 'Подтвердить WS' }}</button>
  </div>
</div>
