<div class="bg-surface-2 rounded-[45px] text-custom-primary px-9 pb-[24px]">
  <div class="flex justify-end mt-4">
    <div (click)="closeDialog()" class="cursor-pointer flex items-center justify-center rounded-lg h-8 w-8 bg-surface-1">
      <img src="assets/new-icons/close.svg" alt="close">
    </div>
  </div>

  <div class="space-y-5">
    <h1 class="text-[28px] font-bold">Документ №{{ data.card?.documentId }}</h1>

    <div class="border border-[#EBEBEB] rounded-[16px] p-[16px] mb-6">
      <div class="flex items-center gap-2 text-orange-500 mb-2" *ngIf="data.card?.status && getSelectedStatus(data.card.status) as status">
        <div class="flex items-center justify-center h-[24px] w-[24px] rounded-[8px] bg-[#F5F5F5]">
          <img [src]="status.img" alt="status icon" class="w-3 h-3" />
        </div>
        <div class="text-custom-secondary text-xs font-medium">{{ status.name }}</div>
      </div>

      <div class="flex items-baseline gap-2">
        <span class="text-4xl font-bold text-gray-900 tracking-tight">
          {{ Math.floor(data.card.sumDoc / 100) | mask: 'separator' }}
        </span>
        <span class="text-2xl font-semibold text-gray-500">
          .{{ (Math.abs(data.card.sumDoc) % 100).toString().padStart(2, "0") }} UZS
        </span>
      </div>

      <p class="text-gray-400 text-sm mt-1">№{{ data.card?.docNum }} {{ data.card?.docDate }}</p>

      <div class="mt-4">
        <p class="text-gray-400 text-[10px] uppercase font-bold tracking-wider">{{ "cardFileTwo.recipient_alt2" | translate }}</p>
        <p class="text-lg font-medium text-gray-900">{{ data.card?.coName }}</p>
      </div>
    </div>

   

      <div  [formGroup]="signForm" class="relative w-full flex flex-col gap-1">
       <span style="width: calc(100% - 18px)" class="absolute top-[9px] text-[13px] left-[16px] text-custom-muted font-medium">Комментарий  <span class="text-red-200">*</span></span>

      <textarea 
        maxlength="450" 
        type="text" 
        formControlName="description"
        placeholder="Укажите причину отклонения"
        [ngClass]="{'border-red-500': signForm.get('description')?.invalid && signForm.get('description')?.touched}"
          class="border  focus:border-[#008C79] h-[110px] text-custom-primary border-custom-border px-4 py-8 disabled:bg-custom-muted bg-surface-2  w-full placeholder:text-[13px] placeholder:text-custom-muted placeholder:font-normal rounded-[16px] outline-none">
       </textarea>

        <span class="absolute bg-surface-2 bottom-[8px] right-[12px] text-[#797B83]">{{ this.signForm.value.description?.length }}/450</span>
        <span *ngIf="signForm.get('description')?.invalid && signForm.get('description')?.touched" class="absolute bottom-[-20px] text-[12px] left-[15px] text-red-500">Izoh shart </span>
  </div>
  </div>

  <div class="grid grid-cols-1 gap-4 mt-8">
    <button 
      (click)="onReject()"
      [disabled]="signForm.invalid"
      [ngClass]="{'opacity-50  cursor-not-allowed': signForm.invalid}"
      class="bg-[#00A38D] p-4 text-white font-medium rounded-2xl">
      Отклонить
    </button>
  </div>
</div>