<div class="flex flex-col gap-y-5">
  <div class="flex justify-end gap-x-5 items-center">
<!--    <app-table-actions [tableActionBtns]="tableActionBtns()" (onClick)="onActionClick($event)" />-->
    <app-filter-button
      [src]="filterState() ? './assets/svg/filter-black.svg' : './assets/svg/filter-white.svg'"
      [classes]="filterState() ? '' : 'bg-[#008C79] text-white'"
      (click)="filterState.set(!filterState()) "
    ></app-filter-button>
  </div>
  <app-payroll-project-employees-card-filter
    (filterChange)="setFilter($event)"
    [toggleActive]="true"
    type="roster-filter"
    [panelState]="filterState()"
    (refreshFilter)="refreshFilter($event)"
  ></app-payroll-project-employees-card-filter>
  <app-container-table
    [columns]="tableColumns()"
    [data]="transactions()"
    [loading]="isLoading()"
    [custom]="true"
    [errorMessage]="errorMessage()"
    [size]="pageSize()"
    (rowClicked)="getPaymentDetails($event)"
    (selectedRows)="onSelectedRows($event)"
  ></app-container-table>
  <app-paginator
    [itemsPerPage]="pageSize()"
    [currentPage]="pageIndex() + 1"
    [totalItems]="totalItems()"
    (pageChange)="pageChange($event)"
  ></app-paginator>

</div>
