<ng-container>
  <form [formGroup]="espQrForm" (ngSubmit)="formSubmit()">
    <div>
      <mat-form-field class="w-full" appearance="outline">
        <mat-select formControlName="espKey" [placeholder]="'new.select_a_key' | translate">
          @for (key of espKeys;  track key){
            <mat-option value="{{key}}">{{key?.split("CN=")?.[1]?.split(";")?.[0]}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <button type="submit"
            [disabled]="espQrForm.invalid"
            [ngClass]="espQrForm.valid ? 'text-white bg-secondary' : 'text-[#B0B8C1] bg-disabled-button cursor-not-allowed'"
            class="h-11 flex justify-center items-center rounded-xl w-full mt-16"><span
      class="text-base leading-normal not-italic">Генерировать QR</span></button>
  </form>
</ng-container>
