
<div>

    <div class="flex justify-between items-center">
      <div class="flex gap-x-3">
        <button
          *ngFor="let t of CONVERSION_TABS"
          (click)="setPaymentActiveTab(t.key)"
          class="font-semibold leading-5 flex items-center  text-[18px] px-[15px] py-[10px] rounded-[14px] border transition-all"
          [ngClass]="{
          'bg-surface-2 border-custom-border text-custom-primary': this.activeTabs() === t.key,
          'bg-transparent border-transparent text-custom-secondary': this.activeTabs() !== t.key
        }"
        >
          {{ t.translateKey | translate }}
          <div *ngIf="t.key === 'signature'" class="bg-primary-base text-white rounded-full text-[12px] w-[32px] h-[24px] flex justify-center items-center my-auto leading-none ml-2">1</div>
          <div *ngIf="t.key === 'under-development'" class="bg-primary-base text-white rounded-full text-[12px] w-[32px] h-[24px] flex justify-center items-center my-auto leading-none ml-2">20</div>
          <div *ngIf="t.key === 'errors'" class="bg-primary-base text-white rounded-full text-[12px] w-[32px] h-[24px] flex justify-center items-center my-auto leading-none ml-2">5</div>
        </button>
      </div>
      <div [matMenuTriggerFor]="menu" class="bg-[#00A38D] cursor-pointer w-[180px] px-[14px] py-[10px] gap-1 flex items-center rounded-[12px]">
        <span class="text-[#FFFFFF] text-[16px] font-semibold">Создать заявку</span>
        <img src="./assets/new-icons/plus.svg" alt="">
      </div>
    </div>
    <!-- #endregion TABS -->
    <!-- #region TABLE -->
    <div class="rounded-t-2xl mt-5 bg-surface-2 py-3">
      <app-conversion-filter [activeTabs]="activeTabs()" (filterChange)="setFilter($event)" [showDownloadAllErrors]="!!paymentDataError().length"></app-conversion-filter>
    </div>
    @if(loading()) {
      <div class="mb-4 px-6 py-3 bg-surface-2 ">
        <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
        <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
        <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
        <span class="skeleton block rounded h-10 w-full mb-2.5"></span>
      </div>
    }@else {
      @if (activeTabs() =='signature' && setSelectedFromTable.length) {
        <div class="my-[10px] mx-6 flex justify-between">
              <span class="font-bold text-14">
                <span class="text-custom-primary">
                  {{'new_third.payments_count' | translate}}: <span class="text-primary-base text-lg">{{setSelectedFromTable.length}}</span>
              </span>
                <span class="text-custom-primary ml-3">
                 {{'new_third.payments_total_amount' | translate}}: <span class="text-primary-base text-lg"> {{selectedAmount | moneyInt : 'amount'}}.{{selectedAmount | moneyDec :'amount'}} {{balance().currency}}</span>
                </span>
            </span>
          <div class="flex items-center gap-[18px]">
            <button (click)="toggleSelectAll()" class="text-primary-base font-semibold text-base">
              {{ 'story.select_all' | translate }}
            </button>
            <button class="font-semibold text-custom-primary text-base" (click)="handleCancelSelectAll()">{{'settings.cancel' | translate}}</button>
          </div>
        </div>
      }

      <div class="rounded-b-2xl bg-surface-2 relative pb-3"
           [ngClass]="{
    'pb-[80px]': activeTabs() === 'signature' && setSelectedFromTable.length
  }"
      >
        @if(activeTabs() == 'all') {
          @for (item of paymentDataAll(); track $index) {
            <app-conversion-list-item
              [searchText]="(searchText$ | async) ?? ''"
              [transaction]="item"
              (sign)="handleSign($event)"
              (repeat)="handleRepeat($event)"
              (share)="handleShare($event)"
              (print)="handlePrint($event)"
              [tabType]="activeTabs()"
              (backAction)="getTransactionReload($event)"
            ></app-conversion-list-item>
          }@empty{
            <ng-container *ngTemplateOutlet="emptyTpl"></ng-container>
          }
        }
        @if( activeTabs() == 'errors') {
          @for (item of paymentDataError(); track $index) {
            <app-conversion-list-item
              [searchText]="(searchText$ | async) ?? ''"
              [transaction]="item"
              (sign)="handleSign($event)"
              (repeat)="handleRepeat($event)"
              (share)="handleShare($event)"
              (print)="handlePrint($event)"
              [tabType]="activeTabs()"
              (backAction)="getTransactionReload($event)"
            ></app-conversion-list-item>
          }@empty{
            <ng-container *ngTemplateOutlet="emptyTpl"></ng-container>
          }
        }
        @if (activeTabs() == 'signature') {
          @for (item of paymentDataSigniture(); track $index) {
            <app-conversion-list-item
              [searchText]="(searchText$ | async) ?? ''"
              [transaction]="item"
              (sign)="handleSign($event)"
              (repeat)="handleRepeat($event)"
              (share)="handleShare($event)"
              (print)="handlePrint($event)"
              [tabType]="activeTabs()"
              [setSelected]="isSelectionMode"
              [selected]="selectedFromTableFunc(item)"
              (selectionChange)="onSelectionChange($event)"
              (backAction)="getTransactionReload($event)"
            ></app-conversion-list-item>
          }@empty{
            <ng-container *ngTemplateOutlet="emptyTpl"></ng-container>
          }
        }
        @if (activeTabs() == 'under-development') {
          @for (item of paymentDataUnderDevelopment(); track $index) {
            <app-conversion-list-item
              [searchText]="(searchText$ | async) ?? ''"
              [transaction]="item"
              (sign)="handleSign($event)"
              (repeat)="handleRepeat($event)"
              (share)="handleShare($event)"
              (print)="handlePrint($event)"
              [tabType]="activeTabs()"
              [setSelected]="isSelectionMode"
              [selected]="selectedFromTableFunc(item)"
              (selectionChange)="onSelectionChange($event)"
              (backAction)="getTransactionReload($event)"
            ></app-conversion-list-item>
          }@empty{
            <ng-container *ngTemplateOutlet="emptyTpl"></ng-container>
          }
        }
        <!-- @if (activeTabs() == 'signature') {
         @for (group of groupedSignature(); track group) {
            <div class="px-6 py-2.5 bg-surface-1">
              <div class="text-[18px] font-semibold leading-6 text-custom-primary">{{group[0]}}</div>
            </div>
            <div class="py-[8px]" *ngFor="let transaction of group[1]">
                   <app-payment-list-item
                      [searchText]="(searchText$ | async) ?? ''"
                      [transaction]="transaction"
                      (sign)="handleSign($event)"
                      (repeat)="handleRepeat($event)"
                      (share)="handleShare($event)"
                      (print)="handlePrint($event)"
                      [tabType]="activeTabs()"
                      [setSelected]="isSelectionMode"
                      [selected]="selectedFromTableFunc(transaction)"
                      (selectionChange)="onSelectionChange($event)"
                      (backAction)="getTransactionReload($event)"
                ></app-payment-list-item>
            </div>
          }@empty{
              <ng-container *ngTemplateOutlet="emptyTpl"></ng-container>
          }
        }

        @if (activeTabs() == 'under-development') {
         @for (group of groupedUnderDevelopmentData(); track group) {
            <div class="px-6 py-2.5 bg-surface-1">
              <div class="text-[18px] font-semibold leading-6 text-custom-primary">{{group[0]}}</div>
            </div>
            <div class="py-[8px]" *ngFor="let transaction of group[1]">
                   <app-payment-list-item
                      [searchText]="(searchText$ | async) ?? ''"
                      [transaction]="transaction"
                      (sign)="handleSign($event)"
                      (repeat)="handleRepeat($event)"
                      (share)="handleShare($event)"
                      (print)="handlePrint($event)"
                      [tabType]="activeTabs()"
                      [setSelected]="isSelectionMode"
                      [selected]="selectedFromTableFunc(transaction)"
                      (selectionChange)="onSelectionChange($event)"
                      (backAction)="getTransactionReload($event)"
                ></app-payment-list-item>
            </div>
          }@empty{
              <ng-container *ngTemplateOutlet="emptyTpl"></ng-container>
          }
        } -->
      </div>

    }

    <!-- #endregion TABLE -->

    <!-- #region PAGINATION -->
    <div>
      <app-pagination
        [pageIndex]="pageIndex()"
        [pageSize]="pageSize()"
        [totalItems]="totalItems()"
        (pageChange)="handlePageChange($event)"
        (pageSizeChange)="handlePageSizeChange($event)">
      </app-pagination>
    </div>
</div>



<ng-template #emptyTpl>
  <div class="flex items-center flex-col justify-center min-h-[500px] gap-1">
    <div class="text-custom-primary font-bold text-xl leading-7 text-center">
      {{ 'new_third.nothing_found' | translate }}

    </div>
    <div class="text-custom-muted text-sm text-center">
      {{ 'new_third.try_change_search_conditions' | translate }}
    </div>
  </div>
</ng-template>



<mat-menu #menu="matMenu" class="menu-actions w-[180px] mt-2">
  <div (click)="redirectToCreateForm('buy')" class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-1 hover:rounded-[6px]">
    <p class="text-[14px] font-medium">На покупку</p>
  </div>
  <div (click)="redirectToCreateForm('sell')" class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-1 hover:rounded-[6px]">
    <p class="text-[14px] font-medium">На продажу</p>
  </div>
</mat-menu>
