<ng-container *transloco="let t">
  @let showErrors = dirty() || touched();
  <nz-form-item>
    <nz-form-control
      [nzValidateStatus]="firstError() | validationStatus: showErrors"
      [nzHasFeedback]="isFeedback()"
      [nzErrorTip]="showErrors && firstError() ? t(firstError() | validationMsg: true, { count: errorCount() }) : null"
      [nzValidatingTip]="showErrors && firstError() ? t(firstError() | validationMsg: true, { count: errorCount() }) : null"
      [nzWarningTip]="showErrors && firstError() ? t(firstError() | validationMsg: true, { count: errorCount() }) : null"
      [nzSuccessTip]="showErrors && firstError() ? t(firstError() | validationMsg: true, { count: errorCount() }) : null"
    >
      @if (isXs()) {
      <cf-select-bottom-sheet
        [(value)]="value"
        [options]="selectOptions()"
        [placeholder]="placeholder() ?? t('control.select.placeholder')"
        [disabled]="disabled() || !optionList().length || isLoading()"
        [isLoading]="isLoading()"
        [size]="size()"
        (opened)="clicked.emit()"
        (closed)="onBlur()"
      />
      } @else {
      <nz-select
        nzDropdownClassName="cf-select-default-dropdown"
        [nzSize]="size()"
        [nzId]="id()"
        [(ngModel)]="value"
        [nzShowSearch]="showSearch()"
        [nzPlaceHolder]="placeholder() ?? t('control.select.placeholder')"
        [nzLoading]="isLoading()"
        [disabled]="disabled() || !optionList().length || isLoading()"
        (click)="clicked.emit()"
        (nzFocus)="focusChange.emit()"
        (nzBlur)="onBlur()"
      >
        @for (option of optionList(); track option.nzValue) {
        <nz-option [nzValue]="option.nzValue" [nzLabel]="option.nzLabel"></nz-option>
        }
      </nz-select>
      }
    </nz-form-control>
  </nz-form-item>
</ng-container>
