<ng-container *transloco="let t">
  <nz-form-item>
    <nz-form-control
      [nzValidateStatus]="firstError() | validationStatus: dirty()"
      [nzHasFeedback]="isFeedback()"
      [nzErrorTip]="t(firstError() | validationMsg: dirty(), { count: errorCount() })"
      [nzValidatingTip]="t(firstError() | validationMsg: dirty(), { count: errorCount() })"
      [nzWarningTip]="t(firstError() | validationMsg: dirty(), { count: errorCount() })"
      [nzSuccessTip]="t(firstError() | validationMsg: dirty(), { count: errorCount() })"
    >
      <nz-select
        [nzSize]="size()"
        [nzId]="id()"
        [(ngModel)]="value"
        [nzShowSearch]="showSearch()"
        [nzPlaceHolder]="placeholder() ?? t('control.select.placeholder')"
        [nzLoading]="isLoading()"
        [disabled]="disabled() || !optionList().length || isLoading()"
        (click)="clicked.emit()"
        (nzFocus)="focusChange.emit()"
        (nzBlur)="blurChange.emit()"
      >
        @for (option of optionList(); track option.nzValue) {
        <nz-option [nzValue]="option.nzValue" [nzLabel]="option.nzLabel"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</ng-container>
