<div class="p-6 bg-white rounded-xl h-full flex flex-col gap-y-5 relative max-w-[1440px]" style="min-height: calc(100vh + 700px);">

  <app-container-nav [navs]="navs"></app-container-nav>

  <app-container-title [title]="title"></app-container-title>

  <form class="flex flex-col gap-y-5" [formGroup]="createAccountForm">
    <div class="grid grid-cols-3 gap-x-5 justify-between items-center">
      <mat-form-field
        class="small w-full col-span-2 secondary"
        appearance="outline"
        [ngClass]="{
                'required': createAccountForm.get('businessName')?.invalid && createAccountForm.get('businessName')?.touched,
              }"
      >
        <mat-label>Название компании</mat-label>
        <input
          matInput
          formControlName="businessName"
          readonly
          type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
          placeholder="введите название компании"
        >

        <div class="absolute pt-[5px] text-[12px]">
          @if(createAccountForm.get('businessName')?.hasError('required') && createAccountForm.get('businessName')?.touched) {
            <mat-error>
              Поле обязательное.
            </mat-error>
          }
        </div>
      </mat-form-field>

      <mat-form-field
        [ngClass]="{
                'required': createAccountForm.get('inn')?.invalid && createAccountForm.get('inn')?.touched,
              }"
        class="small w-full secondary"
        appearance="outline"
      >
        <mat-label>ИНН</mat-label>
        <input
          matInput
          readonly
          formControlName="inn"
          mask="000000000"
          type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
          placeholder="введите ИНН"
        >

        <div class="absolute pt-[5px] text-[12px]">
          @if(createAccountForm.get('inn')?.hasError('required') && createAccountForm.get('inn')?.touched) {
            <mat-error>
              Поле обязательное.
            </mat-error>
          }
        </div>
      </mat-form-field>
    </div>

    <div formArrayName="accountTypeAndCurrency" class="flex flex-col gap-y-5">
      @for (item of getAccountTypeAndCurrencyControls.controls; track item; let i = $index; let last = $last) {
        <div [formGroupName]="i" class="grid grid-cols-3 gap-x-5">
          <mat-form-field
            [ngClass]="{
          'required': item.get('type')?.invalid && item.get('type')?.touched,
        }"
            class="small w-full col-span-2"
            appearance="outline"
          >
            <mat-label class="font-medium leading-5">Тип счета</mat-label>
            <mat-select formControlName="type" placeholder="Выберите тип">
              @for (accountType of accountTypes; track accountType.code) {
                <mat-option [value]="accountType.code">
                  {{ accountType.description }} - {{ accountType.code }}
                </mat-option>
              }
            </mat-select>
            <mat-icon matSuffix>
              <img ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" class="rotate-90" />
            </mat-icon>

            <div class="absolute pt-[5px] text-[12px]">
              @if (item.get('type')?.hasError('required') && item.get('type')?.touched) {
                <mat-error> Поле обязательное. </mat-error>
              }
            </div>
          </mat-form-field>

          <div class="flex justify-between gap-x-5">
            <mat-form-field
              [ngClass]="{
              'required': item.get('currency')?.invalid && item.get('currency')?.touched,
            }"
              class="small w-full col-span-3"
              appearance="outline"
            >
              <mat-label class="font-medium leading-5 mb-2">Валюта</mat-label>
              <mat-select formControlName="currency" placeholder="Выберите валюту">
                @for (currency of currencies; track currency) {
                  <mat-option [value]="currency.code">
                    {{ currency.name }}
                  </mat-option>
                }
              </mat-select>

              <mat-icon matSuffix>
                <img ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" class="rotate-90" />
              </mat-icon>

              <div class="absolute pt-[5px] text-[12px]">
                @if (item.get('currency')?.hasError('required') && item.get('currency')?.touched) {
                  <mat-error> Поле обязательное. </mat-error>
                }
              </div>
            </mat-form-field>

            @if (!last) {
              <button
                type="button"
                (click)="removeAccountTypeAndCurrency(i)"
                class="p-2 border rounded-[5px] hover:cursor-pointer max-h-[40px]"
              >
                <img ngSrc="./assets/svg/close.svg" alt="close" width="24" height="24">
              </button>
            } @else {
              <button
                type="button"
                (click)="addAccountTypeAndCurrency()"
                class="p-2 border rounded-[5px] hover:cursor-pointer max-h-[40px]"
              >
                <img ngSrc="./assets/svg/add.svg" alt="close" width="24" height="24">
              </button>
            }
          </div>
        </div>
      }
    </div>

    <div class="flex gap-x-2.5 items-center">
      <div class="text-[20px] leading-[24px] font-medium">Директор</div>
      <div class="w-full border-t border-[#EFF4F9]"></div>
    </div>

    <div class="flex flex-col gap-y-5" formGroupName="director">
      <div class="grid grid-cols-3 gap-x-5">
        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('director.name')?.invalid && createAccountForm.get('director.name')?.touched,
              }"
          class="small w-full col-span-2"
          appearance="outline"
        >
          <mat-label class="font-medium leading-5 mb-2">Ф.И.О.</mat-label>
          <input
            matInput
            formControlName="name"
            type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
            placeholder="введите Ф.И.О."
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('director.name')?.hasError('required') && createAccountForm.get('director.name')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('director.pinfl')?.invalid && createAccountForm.get('director.pinfl')?.touched,
              }"
          class="small w-full"
          appearance="outline"
        >
          <mat-label class="font-medium leading-5 mb-2">ПИНФЛ</mat-label>
          <input
            matInput
            formControlName="pinfl"
            type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
            placeholder="введите ПИНФЛ"
            mask="00000000000000"
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('director.pinfl')?.hasError('required') && createAccountForm.get('director.pinfl')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
            @if(createAccountForm.get('director.pinfl')?.hasError('minlength') && createAccountForm.get('director.pinfl')?.touched) {
              <mat-error>
                Поле должен содержать 14 цифр
              </mat-error>
            }
          </div>
        </mat-form-field>
      </div>

      <div class="grid grid-cols-3 gap-x-5">
        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('director.passport')?.invalid && createAccountForm.get('director.passport')?.touched,
              }"
          class="small w-full"
          appearance="outline"
        >
          <mat-label>ID паспорт</mat-label>
          <input
            matInput
            alphaNumericSymbolMask
            formControlName="passport"
            mask="SS0000000"
            placeholder="введите серию паспорта"
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('director.passport')?.hasError('required') && createAccountForm.get('director.passport')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
            @if(createAccountForm.get('director.passport')?.hasError('invalidPassportFormat') && createAccountForm.get('director.passport')?.touched) {
              <mat-error>
                Поле должен быть в формате AA1234567
              </mat-error>
            }
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('director.issuedDate')?.invalid && createAccountForm.get('director.issuedDate')?.touched,
              }"
          class="small w-full"
          appearance="outline"
        >
          <mat-label>Дата выдачи</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="дд.мм.гггг"
            formControlName="issuedDate"
          >
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('director.issuedDate')?.hasError('required') && createAccountForm.get('director.issuedDate')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('director.issuedBy')?.invalid && createAccountForm.get('director.issuedBy')?.touched,
              }"
          class="small w-full" appearance="outline">
          <mat-label>Кем выдан</mat-label>
          <input
            matInput
            formControlName="issuedBy"
            placeholder="введите орган выдачи"
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('director.issuedBy')?.hasError('required') && createAccountForm.get('director.issuedBy')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
          </div>
        </mat-form-field>
      </div>

      <div class="grid grid-cols-3 gap-x-5">
        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('director.email')?.invalid && createAccountForm.get('director.email')?.touched,
              }"
          class="small w-full col-span-2"
          appearance="outline"
        >
          <mat-label class="font-medium leading-5 mb-2">Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
            placeholder="введите email"
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('director.email')?.hasError('pattern') && createAccountForm.get('director.email')?.touched) {
              <mat-error>
                Неправильный формат почты.
              </mat-error>
            }
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('director.phone')?.invalid && createAccountForm.get('director.phone')?.touched,
              }"
          class="small w-full"
          appearance="outline"
        >
          <mat-label class="font-medium leading-5 mb-2">Номер телефона</mat-label>
          <input
            matInput
            prefix="998"
            mask=" 00 000 00 00"
            [showMaskTyped]="true"
            [placeHolderCharacter]="''"
            [dropSpecialCharacters]="false"
            formControlName="phone"
            type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
            placeholder="Введите номер телефона">


          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('director.phone')?.hasError('required') && createAccountForm.get('director.phone')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
          </div>
        </mat-form-field>
      </div>
    </div>




    <!--          <div class="flex flex-wrap justify-between items-center">-->
    <!--            <div class="w-1/2 flex flex-col  mb-4">-->
    <!--              <p class="font-medium leading-5 mb-2">Документ</p>-->
    <!--              <div class="relative">-->
    <!--                <input-->
    <!--                  id="file-upload1"-->
    <!--                  type="file"-->
    <!--                  class="hidden"-->
    <!--                  (change)="onFileSelected($event,'director')"-->
    <!--                  [ngClass]="{'border-red-500': createAccountForm.get('directorDocument')?.invalid && createAccountForm.get('directorDocument')?.touched, 'border-secondary': createAccountForm.get('directorDocument')?.valid || !createAccountForm.get('directorDocument')?.touched}"-->
    <!--                />-->
    <!--                <label for="file-upload1" class="flex items-center justify-center rounded-12px border-1px border-secondary w-full h-11 px-4 outline-none cursor-pointer">-->
    <!--                  <svg class="w-8 h-8 mr-2 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
    <!--                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16v2a2 2 0 002 2h6a2 2 0 002-2v-2M12 12V4m0 8l-4-4m4 4l4-4"></path>-->
    <!--                  </svg>-->
    <!--                  <span *ngIf="directorFileName; else noFile"> {{ directorFileName }}</span>-->
    <!--                  <ng-templates #noFile>выберите файл</ng-templates>-->
    <!--                </label>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->

    <div class="flex gap-x-2.5 items-center">
      <div class="text-[20px] leading-[24px] font-medium text-nowrap">Главный бухгалтер</div>
      <div class="w-full border-t border-[#EFF4F9]"></div>
    </div>

    <div class="flex flex-col gap-y-5" formGroupName="headOfFinance">
      <div class="grid grid-cols-3 gap-x-5">
        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('headOfFinance.name')?.invalid && createAccountForm.get('headOfFinance.name')?.touched,
              }"
          class="small w-full col-span-2"
          appearance="outline">
          <mat-label class="font-medium leading-5">Ф.И.О.</mat-label>
          <input
            matInput
            formControlName="name"
            type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
            placeholder="введите Ф.И.О."
            [ngClass]="{'border-red-500': createAccountForm.get('headOfFinanceName')?.invalid && createAccountForm.get('headOfFinanceName')?.touched, 'border-secondary': createAccountForm.get('headOfFinanceName')?.valid || !createAccountForm.get('headOfFinanceName')?.touched}"
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('headOfFinance.name')?.hasError('required') && createAccountForm.get('headOfFinance.name')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('headOfFinance.pinfl')?.invalid && createAccountForm.get('headOfFinance.pinfl')?.touched,
              }"
          class="small w-full"
          appearance="outline"
        >
          <mat-label class="font-medium leading-5">ПИНФЛ</mat-label>
          <input
            matInput
            formControlName="pinfl"
            type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
            placeholder="введите ПИНФЛ"
            mask="00000000000000"
            [ngClass]="{'border-red-500': createAccountForm.get('headOfFinancePinfl')?.invalid && createAccountForm.get('headOfFinancePinfl')?.touched, 'border-secondary': createAccountForm.get('headOfFinancePinfl')?.valid || !createAccountForm.get('headOfFinancePinfl')?.touched}"
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('headOfFinance.pinfl')?.hasError('required') && createAccountForm.get('headOfFinance.pinfl')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
            @if(createAccountForm.get('headOfFinance.pinfl')?.hasError('minlength') && createAccountForm.get('headOfFinance.pinfl')?.touched) {
              <mat-error>
                Поле должен содержать 14 цифр
              </mat-error>
            }
          </div>
        </mat-form-field>
      </div>

      <div class="grid grid-cols-3 gap-x-5">
        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('headOfFinance.passport')?.invalid && createAccountForm.get('headOfFinance.passport')?.touched,
              }"
          class="small w-full"
          appearance="outline"
        >
          <mat-label>ID паспорт</mat-label>
          <input
            alphaNumericSymbolMask
            matInput
            formControlName="passport"
            mask="SS0000000"
            placeholder="введите серию паспорта"
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('headOfFinance.passport')?.hasError('required') && createAccountForm.get('headOfFinance.passport')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
            @if(createAccountForm.get('headOfFinance.passport')?.hasError('invalidPassportFormat') && createAccountForm.get('headOfFinance.passport')?.touched) {
              <mat-error>
                Поле должен быть в формате AA1234567
              </mat-error>
            }
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('headOfFinance.issuedDate')?.invalid && createAccountForm.get('headOfFinance.issuedDate')?.touched,
              }"
          class="small w-full"
          appearance="outline"
        >
          <mat-label>Дата выдачи</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            placeholder="дд.мм.гггг"
            formControlName="issuedDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('headOfFinance.issuedDate')?.hasError('required') && createAccountForm.get('headOfFinance.issuedDate')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('headOfFinance.issuedBy')?.invalid && createAccountForm.get('headOfFinance.issuedBy')?.touched,
              }"
          class="small w-full"
          appearance="outline"
        >
          <mat-label>Кем выдан</mat-label>
          <input
            matInput
            formControlName="issuedBy"
            placeholder="введите орган выдачи"
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('headOfFinance.issuedBy')?.hasError('required') && createAccountForm.get('headOfFinance.issuedBy')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
          </div>
        </mat-form-field>
      </div>

      <div class="grid grid-cols-3 gap-x-5">
        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('headOfFinance.email')?.invalid && createAccountForm.get('headOfFinance.email')?.touched,
              }"
          class="small w-full col-span-2"
          appearance="outline"
        >
          <mat-label class="font-medium leading-5">Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="text"
            class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
            placeholder="введите email"
          >

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('headOfFinance.email')?.hasError('pattern') && createAccountForm.get('headOfFinance.email')?.touched) {
              <mat-error>
                Неправильный формат почты.
              </mat-error>
            }
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': createAccountForm.get('headOfFinance.phone')?.invalid && createAccountForm.get('headOfFinance.phone')?.touched,
              }"
          class="small w-full"
          appearance="outline"
        >
          <mat-label class="font-medium leading-5">Номер телефона</mat-label>
          <input
            matInput
            prefix="998"
            mask=" 00 000 00 00"
            [showMaskTyped]="true"
            [placeHolderCharacter]="''"
            [dropSpecialCharacters]="false"
            formControlName="phone"
            type="text" class="rounded-12px border-1px border-secondary w-full h-11 px-2 outline-none"
            placeholder="Введите номер телефона">

          <div class="absolute pt-[5px] text-[12px]">
            @if(createAccountForm.get('headOfFinance.phone')?.hasError('required') && createAccountForm.get('headOfFinance.phone')?.touched) {
              <mat-error>
                Поле обязательное.
              </mat-error>
            }
          </div>
        </mat-form-field>
      </div>
    </div>

    <!--            <div class="w-1/2 flex flex-col  mb-4">-->
    <!--              <p class="font-medium leading-5 mb-2">Документ</p>-->
    <!--              <div class="relative">-->
    <!--                <input-->
    <!--                  id="file-upload"-->
    <!--                  type="file" class="hidden"-->
    <!--                  accept=".pdf,.docx,.txt"-->
    <!--                  (change)="onFileSelected($event,'finance')"-->
    <!--                  [ngClass]="{'border-red-500': createAccountForm.get('headOfFinanceDocument')?.invalid && createAccountForm.get('headOfFinanceDocument')?.touched, 'border-secondary': createAccountForm.get('headOfFinanceDocument')?.valid || !createAccountForm.get('headOfFinanceDocument')?.touched}"-->
    <!--                />-->
    <!--                <label for="file-upload" class="flex items-center justify-center rounded-12px border-1px border-secondary w-full h-11 px-4 outline-none cursor-pointer">-->
    <!--                  <svg class="w-8 h-8 mr-2 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
    <!--                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16v2a2 2 0 002 2h6a2 2 0 002-2v-2M12 12V4m0 8l-4-4m4 4l4-4"></path>-->
    <!--                  </svg>-->
    <!--                  <span *ngIf="financeFileName; else noFile"> {{ financeFileName }}</span>-->
    <!--                  <ng-templates #noFile>выберите файл</ng-templates>-->
    <!--                </label>-->
    <!--              </div>-->
    <!--            </div>-->

    <div class="flex flex-row-reverse">
      <div class="flex self-end gap-x-4">
        <button
          appLocationBack
          class="px-5 py-2.5 text-center text-sm h-[40px] rounded-[5px] leading-[16px] bg-[#DDECFC] text-[#264796]"
        >
          Отмена
        </button>

        <button
          (click)="formSubmit()"
          class="px-5 py-2.5 text-center text-sm text-white bg-[#008C79] h-[40px] rounded-[5px] leading-[16px]">
          Подтвердить
        </button>
      </div>
    </div>
  </form>
</div>
