<ng-container *transloco="let t">
  <div>
    <cf-label-control-secondary [label]="t('prop.total_amount')"></cf-label-control-secondary>
    <cf-input-slider [formField]="form().amount" [step]="10000" [prefixType]="'money'" [prefixInputType]="'money'" />
  </div>

  <div>
    <cf-label-control-secondary [label]="t('prop.term')"></cf-label-control-secondary>
    <cf-input-slider [formField]="form().term" [step]="12" [prefixType]="'month_short'" [prefixInputType]="'month'" />
  </div>

  <div>
    <cf-select-default [formField]="form().dirCreditPurposeId" [placeholder]="t('prop.credit_purpose')" size="large">
      <ng-container *cfHandbook="{ url: 'dir-credit-purpose' }; let items">
        @for (item of items; track item.id) {
        <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        }
      </ng-container>
    </cf-select-default>
  </div>

  <div>
    <cf-label-control-secondary [label]="t('prop.loan_calculation_type')"></cf-label-control-secondary>

    <nz-radio-group [formField]="form().type">
      <label nz-radio nzValue="annuity">{{t('prop.annuity')}}</label>
      <label nz-radio nzValue="standart">{{t('prop.standart')}}</label>
    </nz-radio-group>
  </div>
</ng-container>
