:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-width: 0;

  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }

  cf-label-control-secondary,
  cf-input-slider,
  cf-select-wrapper,
  nz-radio-group {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
