<app-page-layout [title]="'salaryStatements.payroll_statements' | translate">
  <div class="flex items-center gap-5">
    <div
      (click)="this.userService.hasAction('SALARY') ? openChooseCardType() : {}"
      class="p-5 border border-custom-border bg-surface-2 rounded-[20px] cursor-pointer hover:border-[#171717]"
      [matTooltip]="this.userService.hasAction('SALARY') ? '' : 'У вас нет прав'"
      [style.user-select]="this.userService.hasAction('SALARY') ? '' : 'none'"
      [style.opacity]="this.userService.hasAction('SALARY') ? '1' : '0.3'"
      [style.cursor]="this.userService.hasAction('SALARY') ? 'pointer' : 'not-allowed'"
    >
      <app-icon icon="plus" size="32" svgClass="fill-[#00a38d]"></app-icon>

      <p class="text-custom-primary text-[18px] leading-5 font-semibold mt-4">{{ 'salaryStatements.create_statement_action' | translate }}</p>
    </div>

    <div class="flex justify-center items-center w-[130px] py-3">
      <div class="group flex flex-col justify-center items-center gap-2 cursor-pointer" routerLink="../employees">
        <div class="flex items-center justify-center bg-surface-2 border border-custom-border w-14 h-14 rounded-[64px] group-hover:border-[#171717]">
          <app-icon icon="users01" size="24" svgClass="fill-[#00a38d]"></app-icon>
        </div>

        <p class="text-sm leading-5 font-semibold text-custom-primary py-2.5">{{ 'salaryStatements.employees' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="mt-4"><app-roster></app-roster></div>
</app-page-layout>

