@import 'mixins';
@import 'custom';

:host {
  .box {
    color: #5c5c5c;
  }

  .icon {
    background: #f5f5f5;
  }

  label {
    color: #101010;

    &.required::before {
      color: #fb3748;
    }
  }

  display: flex;
  align-items: center;
  column-gap: 8px;

  &.full {
    width: 100%;

    .box {
      width: 100%;
    }
  }

  .skeleton {
    ::ng-deep {
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        margin: 0;
        margin-top: 6px;
      }

      li,
      h3 {
        margin-top: 0;
        height: 10px;
      }
    }
  }

  .icon {
    padding: 10px;
    border-radius: 50%;
  }

  .box {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .textMixin(@font-weight-medium, @font-size-sm, @line-height-sm);
  }

  label {
    .textMixin(@font-weight-strong, @font-size-base, @line-height-base);

    &.required::before {
      content: '*';
      font-size: 12px;
    }
  }
}
