<div class="h-full flex flex-col gap-y-5 bg-[#FFF] rounded-2xl">
  <div class="flex justify-between items-center pt-6 px-5">
    <div class="justify-center text-[#2C3531] text-xl font-semibold leading-loose" *ngIf="accountHistory.length === 0">Реквизиты</div>
    <div class="justify-center text-[#2C3531] text-xl font-semibold leading-loose" *ngIf="accountHistory.length > 0">Выписка по счету</div>
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </div>
  @if (accountHistory.length > 0) {
    <div class="flex flex-col w-full p-5 gap-3 overflow-auto" style="height: calc(100% - 50px)">
      @for (account of accountHistory; track this.accountHistory) {
        <div class="flex items-start gap-1 flex-col p-4 bg-white rounded-lg  w-full" style="boxShadow: 0 4px 24px 0 #1A1A1A1F">
          <div class="flex justify-between items-center w-full">
            @if (account.debit.amount > 0 && account.debit.amount){
              -{{(account.debit.amount).toFixed(2) / 100 | mask:'separator.2'}} {{account.debit.currency}}
            } @else if (account.credit.amount>0 && account.credit.amount){
              +{{(account.credit.amount).toFixed(2) / 100 | mask: 'separator'}} {{account.credit.currency}}
            }
<!--            <p>{{ (account.debit.amount > 0 ? "-" : "+") }}{{ (account.debit.amount > 0 ? account.debit.amount : account.credit.amount).toFixed(2) / 100 | mask:'separator.2' }} {{ account.debit.currency }}</p>-->
            <span class="opacity-50">{{ account.date }}</span>
          </div>
          <span class="w-full break-before-all break-words opacity-50">{{ account.dtAccName }}</span>
          <span class="w-full break-before-all break-words opacity-50">{{ account.purpose }}</span>
        </div>
      }
    </div>
  } @else {
    <div class="flex flex-col gap-y-[30px] px-5 overflow-y-auto pb-5">
      <div class="flex gap-x-2.5">
        <div (click)="getAccountHistory()" class="rounded-lg gap-3 cursor-pointer p-3 h-[100px] items-start flex flex-col justify-center bg-white" style="boxShadow: 0 4px 24px 0 #1A1A1A1F;">
          <img src="./assets/icons/account-details.svg" alt="">
          <p>Выписка по счёту</p>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div class="flex flex-col">
          <div class="text-[#9799A1] text-sm leading-5 font-normal">Статус</div>
          <div class="font-normal leading-6 text-[16px] text-[#2C3531] break-words">{{ data?.condition }}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-[#9799A1] text-sm leading-5 font-normal">Номер счета</div>
          <div class="font-normal leading-6 text-[16px] text-[#2C3531] break-words">{{ data.account }}</div>
        </div>
        <div class="flex flex-col">
          <div class="text-[#9799A1] text-sm leading-5 font-normal">Валюта</div>
          @if (data.saldo) {
            <div class="font-normal leading-6 text-[16px] text-[#2C3531] break-words">{{ data.saldo.currency }}</div>
          }
        </div>

        <div class="flex flex-col">
          <div class="text-[#9799A1] text-sm leading-5 font-normal">Наименование организации</div>
          <div class="font-normal leading-6 text-[16px] text-[#2C3531] break-words">{{ data.nameAcc }}</div>
        </div>

        <div class="flex flex-col">
          <div class="text-[#9799A1] text-sm leading-5 font-normal">МФО банка</div>
          <div class="font-normal leading-6 text-[16px] text-[#2C3531] break-words">{{ data.codeFilial }}</div>
        </div>

        <div class="flex flex-col">
          <div class="text-[#9799A1] text-sm leading-5 font-normal">ИНН</div>
          <div class="font-normal leading-6 text-[16px] text-[#2C3531] break-words">{{ data.inn }}</div>
        </div>

        <div class="flex flex-col">
          <div class="text-[#9799A1] text-sm leading-5 font-normal">Наименование филиала</div>
          <div class="font-normal leading-6 text-[16px] text-[#2C3531] break-words">{{ data.filialName}}</div>
        </div>
      </div>
    </div>
  }
</div>
