@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  margin: 0 0 16px;
  .textMixin(700, 22px, 130%);

  .media(@media-sm, {
        font-size: 18px;
    });
}

.submit {
  align-self: flex-end;
}
