<div class="flex flex-col gap-y-[30px]" [formGroup]="signForm">
  <div class="flex flex-col gap-y-[30px]">

    <div class="flex gap-[30px] flex-wrap" formGroupName="recipient">

      <mat-form-field
        [ngClass]="{
                'required': signForm.get('recipient.account')?.invalid && signForm.get('recipient.account')?.touched,
              }"
        class="small w-full" appearance="outline">
        <mat-label>Счет бюджетополучателя</mat-label>
        <input
          matInput
          formControlName="account"
          maxlength="27"
          mask="000000000000000000000000000"
          (input)="getReferences($event)"
        >
        @if (signForm.get('recipient.account')?.hasError('minlength')) {
          <mat-error>Должен состоять из 27 цифр</mat-error>
        }
        <div matSuffix class="text-[14px] text-[#8A97A4] leading-[22px] pr-2.5">(27)</div>

        <div class="absolute pt-[5px] text-[12px]">
          <mat-error *ngIf="signForm.get('recipient.account')?.hasError('required') && signForm.get('recipient.account')?.touched">
            Поле обязательное.
          </mat-error>
          <mat-error *ngIf="signForm.get('recipient.account')?.hasError('minlength') && signForm.get('recipient.account')?.touched">
            Поле должен содержать минимум {{ signForm.get('recipient.account')?.getError('minlength').requiredLength }} символов.
          </mat-error>
        </div>
      </mat-form-field>

      <div class="flex gap-x-[30px] w-full">
        <mat-form-field
          [ngClass]="{
                'required': signForm.get('recipient.name')?.invalid && signForm.get('recipient.name')?.touched,
              }"
          class="small w-full" appearance="outline">
          <mat-label>Наименование бюджетополучателя</mat-label>
          <input matInput formControlName="name">

          <div class="absolute pt-[5px] text-[12px]">
            <mat-error *ngIf="this.signForm.get('recipient.name')?.hasError('required') && this.signForm.get('recipient.name')?.touched">
              Поле обязательное.
            </mat-error>
          </div>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{
                'required': signForm.get('recipient.tax')?.invalid && signForm.get('recipient.tax')?.touched,
              }"
          class="small w-full" appearance="outline">
          <mat-label>ИНН бюджетополучателя</mat-label>
          <input matInput formControlName="tax" mask="000000000">

          <div class="absolute pt-[5px] text-[12px]">
            <mat-error *ngIf="this.signForm.get('recipient.tax')?.hasError('required') && this.signForm.get('recipient.tax')?.touched">
              Поле обязательное.
            </mat-error>
          </div>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="text-[20px] font-medium">Сумма и детали платежа</div>

  <div class="flex flex-col" formGroupName="saldo">
    <mat-form-field
      [ngClass]="{
                'required': signForm.get('saldo.amount')?.invalid && signForm.get('saldo.amount')?.touched,
              }"
      appearance="outline" class="small w-full amount-field">
      <mat-label>Сумма</mat-label>
      <input
        (input)="convertAmountIntoWords()"
        placeholder="Введите сумму"
        matInput
        type="text"
        mask="separator.2"
        formControlName="amount"
      />
      @if (signForm.get('saldo.amount')?.valid) {
        <span class="text-[#808185] pr-2" matSuffix>UZS</span>
      }

      <div class="absolute pt-[5px] text-[12px]">
        <mat-error *ngIf="this.signForm.get('saldo.amount')?.hasError('required') && this.signForm.get('saldo.amount')?.touched">
          Поле обязательное.
        </mat-error>
      </div>
    </mat-form-field>

    <div
      class="mt-2.5 text-sm leading-[22px] text-[#2B2D33]"
      [ngClass]="{
      'mt-5': this.signForm.get('saldo.amount')?.hasError('required') && this.signForm.get('saldo.amount')?.touched
      }"
    >
      Сумма прописью: <span>{{ amountInWords }}</span>
    </div>
  </div>

  <div class="flex flex-col gap-y-[30px]">
    <app-searchable-select
      class="small w-full"
      [label]="'Код назначения платежа (КНП)'"
      [parentForm]="signForm"
      controlName="purpose"
      [customTriggerTemplate]="triggerTemplate"
      [customOptionTemplate]="optionTemplate"
      [displayOption]="displayOption"
      [options]="purposes"
      (inputChange)="searchPurpose($event)"
      (focusin)="getPurposes()"
      (scrolled)="scrollPurpose()"
    ></app-searchable-select>

    <mat-form-field appearance="outline" class="small w-full description-field h-[102px]">
      <textarea
        matInput
        formControlName="description"
        placeholder="Введите назначение платежа"
        maxlength="210"
        style="resize: none"
      ></textarea>
      <span matSuffix class="align-bottom">{{ paymentDescription.length }} / 210</span>
    </mat-form-field>
  </div>

  <div class="mt-[24px]">
    <div class="flex justify-between items-center">

      @if(fromQuery === 'edit-payment' || toQuery === 'edit-template') {
        <div class="flex gap-4">
          <button
            (click)="submit('EDIT')"
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#264796] text-white leading-[20px]"
          >Редактировать @if(templateName.length > 0) {<span>шаблон</span>}</button>

          <button
            (click)="cancel()"
            appLocationBack
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#DDECFC] text-[#264796] leading-[20px]"
          >Отмена</button>
        </div>
      } @else if (autoPay) {
        <div class="flex gap-4">
          <button
            (click)="submit()"
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#008C79] text-white leading-[20px]"
          >
            Создать автоплатёж
          </button>

          <button
            appLocationBack
            type="submit"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#00BFA5] text-[#DDECFC] leading-[20px]"
          >Отмена</button>
        </div>
      }
      @else {
        <div class="flex gap-4">
          @if (fromQuery !== 'templates') {
            <button
              (click)="submit()"
              type="submit"
              class="px-5 py-2.5 rounded-[5px] text-sm bg-[#008C79] text-white leading-[20px]"
            >Создать
            </button>
          }
        </div>

        <div class="flex gap-x-2.5 items-center">

          <button
            (click)="createTemplate()"
            class="px-5 py-2.5 rounded-[5px] text-sm bg-[#DDECFC] text-[#264796] leading-[20px]"
          >
            <span>Сохранить как шаблон</span>
          </button>
        </div>
      }


    </div>
  </div>

</div>

<ng-template #triggerTemplate let-selectedValue>
  <div>
    @if (selectedValue) {
      <span>{{ selectedValue.code }} - {{ selectedValue.name }}</span>
    } @else {
      <span>Choose an item...</span>
    }
  </div>
</ng-template>

<ng-template #optionTemplate let-option>
  <div>
    <span>{{ option.code }} - {{ option.name }}</span>
  </div>
</ng-template>
<ng-template #triggerTemplateBudget let-selectedValue>
  <div>
    @if (selectedValue) {
      <span>{{ selectedValue.recipientAccountNumber }} - {{ selectedValue.recipientName }}</span>
    } @else {
      <span>Choose an item...</span>
    }
  </div>
</ng-template>

<ng-template #optionTemplateBudget let-option>
  <div>
    <span>{{ option.recipientAccountNumber }} - {{ option.recipientName }}</span>
  </div>
</ng-template>
