@import 'colors';
@import 'mixins';

.themeMixin({
    :host {
        .box {
            background: @component-background-secondary;
        }
    }
});

.title {
  margin-bottom: 20px;
}

.scroll {
  height: 45svh;
  overflow-x: hidden;
  overflow-y: auto;

  .media(@media-sm, {
        height: 30svh;
    });
}

.box {
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 20px;
}
