<div class="bg-white p-6 rounded-12px h-screen">
  <span class="font-medium leading-6 text-2xl">Безопасность</span> <br>
  <span class="text-base font-normal leading-normal text-secondary">Здесь вы можете изменить свой пароль, если это необходимо</span>
  <form [formGroup]="changePasswordForm">
    <div class="border-secondary  border-1px rounded-12px p-6 mt-6 ">
     <div class=" flex gap-x-4">
       <div class="w-1/2 flex flex-col relative">
         <label class="font-medium mb-2">Старый пароль</label>
         <input
           formControlName="oldPassword"
           [type]="oldPasswordShow ? 'text' : 'password'"
           class="rounded-12px border-1px border-secondary  block h-11 px-2  outline-none"
           placeholder="введите старый пароль"
         >
         <app-ui-svg-icon (click)="oldPasswordShow = !oldPasswordShow"
                          path="./assets/icons/inputs-icons.svg#eye{{oldPasswordShow ? '-slash' : ''}}"
                          svgClass="absolute cursor-pointer right-2 top-14 -translate-y-1/2 w-6 h-6"></app-ui-svg-icon>
         <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
           <div class="text-xs text-red-600" *ngIf="oldPassword.errors?.['required']">заполните поле</div>
         </div>
       </div>
       <div class="w-1/2 flex flex-col relative">
         <label class="font-medium mb-2">Новый пароль</label>
         <input
           formControlName="newPassword"
           [type]="newPasswordShow ? 'text' : 'password'"
           class="rounded-12px border-1px border-secondary  h-11 px-2 block  outline-none"
           placeholder="Введите новый пароль"
         >
         <app-ui-svg-icon (click)="newPasswordShow = !newPasswordShow"
                          path="./assets/icons/inputs-icons.svg#eye{{newPasswordShow ? '-slash' : ''}}"
                          svgClass="absolute cursor-pointer right-2 top-14 -translate-y-1/2 w-6 h-6"></app-ui-svg-icon>
         <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
           <div class="text-xs text-red-600" *ngIf="newPassword.errors?.['required']">заполните поле</div>
           <div class="text-xs text-red-600" *ngIf="newPassword.errors?.['passwordMatch']">Новый пароль не может совпадать со старым паролем.</div>
         </div>
       </div>
     </div>
      <div class="text-end mt-4">
        <button
          [disabled]="changePasswordForm.invalid"
          [ngClass]="changePasswordForm.valid ? 'text-white bg-secondary' : 'text-[#B0B8C1] bg-disabled-button cursor-not-allowed'"
          (click)="formSubmit()" class="w-[194px] h-10 rounded-xl border-1px bg-secondary text-white font-medium">
          Подтвердить
        </button>
      </div>
    </div>

  </form>
</div>
