<div class="flex flex-col bg-[#FFF] h-full pb-5 dark:bg-[#181818] dark:border-[#333333] dark:border dark-box !rounded-[20px]">


  <div (click)="this.isOpen = false; isOpenTransaction = false; isOpenStatus = false"
    *ngIf="this.isOpen || this.isOpenTransaction || this.isOpenStatus"
    class="z-10 w-screen h-screen fixed top-0 left-0 right-0 bottom-0"></div>
  <div class="flex-1 flex flex-col p-5 gap-4">

    <!-- Close action -->
    <div class="flex justify-between border-b pb-4 dark:border-[#333]">
      <div class="justify-start text-[#171717] text-lg font-medium  leading-normal dark:text-white">{{"salaryStatements.filters" | translate}}</div>
      <div (click)="this._matDialogRef.close('close')"
        class="w-7 h-7 relative bg-zinc-100 rounded-md cursor-pointer flex justify-center items-center overflow-hidden">
        <img src="assets/new-icons/close.svg"  alt="close">
      </div>
    </div>

    <!-- Тип транзакции -->
    <div class="relative">
      <div class="relative  " (click)="isOpenTransaction = true">
        <input readonly type="text" [placeholder]="'accounts.transaction_type' | translate"
          class="dark:border-[#333333]  dark:!bg-[#181818]  border text-[14px] font-medium cursor-pointer text-[#5C5C5C] rounded-[12px] h-[56px] pl-3 outline-none border-[#EBEBEB] w-full ">
        <img class="absolute right-[20px] top-[24px]" ngSrc="./assets/new-icons/arrow-down.svg" alt="" height="15"
          width="15">
      </div>
      <div *ngIf="isOpenTransaction" @fadeInOut class="absolute left-0 top-full mt-2 w-full bg-white border border-[#EBEBEB] rounded-[12px] shadow-lg z-50 max-h-60 overflow-auto
           transition-all duration-300 ease-out transform origin-top dark:border-[#333333] dark:border ">
        <div class="flex flex-col items-start gap-1 p-[4px] dark:border-[#333333] dark:border dark:!bg-[#181818]">


          <div (click)="this.filter.isCredit = 0; isOpenTransaction = false"
            class=" flex cursor-pointer w-full text-start items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 py-[4px] px-[6px]">
            <div class="w-[15px] flex text-start opacity-0">
              <img src="./assets/new-icons/send-icon.svg" alt="">
            </div>
            <span class="w-[120px] text-[14px] text-[#5C5C5C] font-medium">{{"filter.all" | translate}}</span>
          </div>


          <div (click)="this.filter.isCredit = 1; isOpenTransaction = false"
            class="flex cursor-pointer w-full items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
            <div class="w-[15px] flex text-start">
              <img src="./assets/new-icons/send-icon.svg" alt="">
            </div>
            <span class="w-[120px] text-[14px] text-[#5C5C5C] font-medium"> {{"filter.outgoing" | translate}}</span>
          </div>


          <div (click)="this.filter.isCredit = 2; isOpenTransaction = false"
            class="flex cursor-pointer w-full items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 text-start py-[4px] px-[6px]">
            <div class="w-[15px] flex text-start">
              <img src="./assets/new-icons/receipt-arrow.svg" alt="">
            </div>
            <span class="w-[120px] text-[14px] text-[#5C5C5C] font-medium">{{"filter.incoming" | translate}}</span>
          </div>
        </div>
      </div>



      <mat-chip *ngIf="this.filter?.isCredit === 0 || this.filter?.isCredit" [removable]="true"
        (removed)="removeFilter('isCredit')" class="!bg-white !h-[32px] border-[#00A38D] border mt-2 dark:border-[#333333] dark:border dark:!bg-[#181818] dark:!text-white">
        <div class="flex items-center gap-2">
          <img *ngIf="this.filter.isCredit === 1" width="20" height="20" src="./assets/new-icons/send-icon.svg"
            alt="Outgoing" />
          <img *ngIf="this.filter.isCredit === 2" width="20" height="20" src="./assets/new-icons/receipt-arrow.svg"
            alt="Incoming" />

          <span class="text-[#191A1D] text-[12px] font-medium dark:text-white">
            {{
            this.filter?.isCredit === 1
            ? ("filter.outgoing" | translate)
            : this.filter?.isCredit === 2
            ? ("filter.incoming" | translate)
            : ("filter.all" | translate)
            }}
          </span>
        </div>
        <button matChipRemove>
<!--          <img src="./assets/svg/close.svg" alt="close" width="12" height="12" />-->
          <div class="w-[48px] h-[48px] need flex justify-center items-center">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Menu / Close_SM">
                <path id="Vector" d="M16 16L8 8M16 8L8 16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </div>
        </button>
      </mat-chip>
    </div>

    <!-- Статус -->
    <div class="relative">
      <div class="relative cursor-pointer" (click)="isOpenStatus = true">
        <input readonly type="text" [placeholder]="'filter.status' | translate"
          class="dark:border-[#333333]  dark:!bg-[#181818] border text-[14px] cursor-pointer font-medium text-[#5C5C5C] rounded-[12px] h-[56px] pl-3 outline-none border-[#EBEBEB] w-full ">
        <img class="absolute right-[20px] top-[24px]" ngSrc="./assets/new-icons/arrow-down.svg" alt="" height="15"
          width="15">
      </div>
      <div *ngIf="isOpenStatus" @fadeInOut class="absolute left-0 top-full mt-2 w-full bg-white border border-[#EBEBEB] rounded-[12px] shadow-lg z-50 max-h-60 overflow-auto
           transition-all duration-300 ease-out transform origin-top dark:border-[#333333] dark:border ">
        <div class="flex flex-col w-full gap-1 p-[4px] dark:border-[#333333] dark:border dark:!bg-[#181818] dark:text-white">
          <div *ngFor="let status of statusListToMap" (click)="this.filter.status = status.value; isOpenStatus = false"
            class="flex cursor-pointer text-start items-center hover:bg-[#F7F7F7] rounded-[12px] gap-2 py-[4px] px-[6px]">
            <div class=" flex text-start">
              <img [src]="status.img" alt="">
            </div>
            <span class="w-[140px] text-[14px] text-[#5C5C5C] font-medium">{{ status.nameKey | translate }}</span>
          </div>
        </div>
      </div>
      <mat-chip [removable]="true" *ngIf="this.filter.status" (removed)="removeFilter('status')"
        class="!bg-white !h-[32px] border-[#00A38D] border mt-2 dark:border-[#333333] dark:border dark:!bg-[#181818]">
        <div class="flex items-center gap-2">
        </div>
        <span class="text-[#191A1D] text-[12px] font-medium dark:text-white ">{{paymentMap[this.filter.status ?? ''] | translate}}</span>
        <button matChipRemove>
<!--          <img ngSrc="./assets/svg/close.svg" alt="close" width="48" height="48">-->
          <div class="w-[48px] h-[48px] need flex justify-center items-center">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Menu / Close_SM">
                <path id="Vector" d="M16 16L8 8M16 8L8 16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </div>
        </button>
      </mat-chip>
    </div>

    <!-- Период -->
    <div class="flex flex-col gap-1">
      <p class="text-[#171717] text-[14px] font-medium">{{'accounts.period' | translate}}</p>
      <div class="flex w-full gap-4 items-center">
        <!-- С даты -->
        <div class="relative w-full">
          <input matInput [matDatepicker]="pickerFrom" [placeholder]="'salaryStatements.from' | translate" readonly [(ngModel)]="filter.startDate"
            (dateChange)="onDateChange($event, true)" (click)="pickerFrom.open()"
            class="dark:border-[#333333] dark:border dark:!bg-[#181818] dark:text-white border text-[14px] font-medium text-[#5C5C5C] rounded-[12px] h-[56px] pl-3 outline-none border-[#EBEBEB] w-full">
          <img class="absolute right-[20px] top-[18px] cursor-pointer" src="./assets/new-icons/calendar-icon.svg"
            (click)="pickerFrom.open()" alt="" height="22" width="22">
          <mat-datepicker #pickerFrom></mat-datepicker>
        </div>

        <!-- По дату -->
        <div class="relative w-full">
          <input matInput [matDatepicker]="pickerTo" [placeholder]="'salaryStatements.to' | translate" [(ngModel)]="filter.endDate"
            (dateChange)="onDateChange($event, false)" readonly (click)="pickerTo.open()"
            class="dark:border-[#333333] dark:border dark:!bg-[#181818] dark:text-white border text-[14px] font-medium text-[#5C5C5C] rounded-[12px] h-[56px] pl-3 outline-none border-[#EBEBEB] w-full">
          <img class="absolute right-[20px] top-[18px] cursor-pointer" src="./assets/new-icons/calendar-icon.svg"
            (click)="pickerTo.open()" alt="" height="22" width="22">
          <mat-datepicker #pickerTo></mat-datepicker>
        </div>
      </div>

      <div class="flex gap-2 items-center mt-2">
        <p class="border cursor-pointer rounded-[10px] text-[14px] font-normal py-1 px-2 dark:!border-[#333333] dark:!border dark:!bg-[#181818] dark:text-white"
          [style.border]="this.selectedPeriod === 'today' ? '1px solid #00A38D' : '1px solid #EDEDED'"
          (click)="setPeriodToday()">{{"accounts.today" | translate}}</p>
        <p class="dark:!border-[#333333] dark:!border dark:!bg-[#181818] dark:text-white border cursor-pointer rounded-[10px] text-[14px] font-normal py-1 px-2"
          [style.border]="this.selectedPeriod === 'yesterday' ? '1px solid #00A38D' : '1px solid #EDEDED'"
          (click)="setPeriodYesterday()">{{"salaryStatements.yesterday" | translate}}</p>
        <p class="dark:!border-[#333333] dark:!border dark:!bg-[#181818] dark:text-white border cursor-pointer rounded-[10px] text-[14px] font-normal py-1 px-2"
          [style.border]="this.selectedPeriod === 'week' ? '1px solid #00A38D' : '1px solid #EDEDED'"
          (click)="setPeriodWeek()">{{"accounts.week" | translate}}</p>
        <p class="dark:!border-[#333333] dark:!border dark:!bg-[#181818] dark:text-white border cursor-pointer rounded-[10px] text-[14px] font-normal py-1 px-2"
          [style.border]="this.selectedPeriod === 'month' ? '1px solid #00A38D' : '1px solid #EDEDED'"
          (click)="setPeriodMonth()">{{"accounts.month" | translate}}</p>
      </div>
    </div>

    <!-- Сумма -->
    <div class="flex flex-col gap-1">
      <p class="text-[#171717] text-[14px] font-medium">{{'myAccounts.amount_uzs' | translate}}</p>
      <div class="flex w-full gap-4 items-center">
        <div class="relative w-full">
          <input type="text" [placeholder]="'salaryStatements.from' | translate" mask="separator.2" (input)="amountChange($event, true)"
            class=" dark:!border-[#333333] dark:!border dark:!bg-[#181818] dark:text-white border text-[14px] font-medium text-[#5C5C5C] rounded-[12px] h-[56px] pl-3 outline-none border-[#EBEBEB] w-full ">
        </div>
        <div class="relative w-full">
          <input type="text" [placeholder]="'salaryStatements.to' | translate" mask="separator.2" (input)="amountChange($event, false)"
            class=" dark:!border-[#333333] dark:!border dark:!bg-[#181818] dark:text-white border text-[14px] font-medium text-[#5C5C5C] rounded-[12px] h-[56px] pl-3 outline-none border-[#EBEBEB] w-full ">
        </div>
      </div>
    </div>
  </div>

  <!-- Actions -->
  <div class="flex flex-col gap-2 px-5">
    <button (click)="resetValues()" class="bg-[#F5F5F5] rounded-[12px] h-[50px] w-full dark:!border-[#333333] dark:!border dark:!bg-[#262626] dark:text-white">{{'accounts.reset'  | translate}}</button>
    <button (click)="setValuesToFilter()"
      class="bg-[#008C79] text-white rounded-[12px] h-[50px] w-full">{{'accounts.apply'  | translate}}</button>
  </div>
</div>
