:host {
  display: block;
}

::ng-deep .account-context-menu {
  .mat-mdc-menu-content {
    padding: 6px !important;
  }

  .mat-mdc-menu-item {
    border-radius: 6px;
    min-height: unset;
    height: auto;
    padding: 0 !important;
    line-height: unset;

    .mdc-list-item__primary-text {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px 10px;
      font-size: 13px;
      font-weight: 500;
      color: #5c5c5c;
      width: 100%;
    }

    &:hover .mdc-list-item__primary-text {
      background: #f3f4f6;
      border-radius: 6px;
    }
  }
}