<ng-container *transloco="let t">
  <div class="header">
    <button nz-button nzShape="round" nzSize="small" class="close" (click)="cancel()">
      <nz-icon nzType="close" />
    </button>
  </div>

  <div class="content">
    <div class="text">
      <h1 nz-typography>{{t('modal.application_success.title')}}</h1>

      @if (config()?.id !== null) {
      <p nz-typography>{{ t('modal.application_success.description') }} № {{ config()!.id }}</p>
      } @if (config()?.amount !== null) {
      <h2 nz-typography>{{ config()!.amount | number }} {{ config()!.amount | pluralize: 'money': false }}</h2>
      }
    </div>
  </div>

  <div class="footer">
    <button nz-button nzShape="round" nzSize="large">
      <nz-icon nzType="info-circle" />
    </button>
    <button nz-button nzType="primary" nzSize="large" (click)="submit()">
      <strong>{{ t('action.back_to_loan') }}</strong>
    </button>
  </div>
</ng-container>
