@import 'mixins';

:host {
  .link {
    color: #101010;

    &:hover {
      color: #00a38d;
    }
  }

  .content {
    border-color: #ebebeb;
    background: #ebebeb;
  }

  ::ng-deep ngx-extended-pdf-viewer .pdfViewer#viewer {
    background-color: #ebebeb;
  }

  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding: 20px;
  min-height: 100svh;

  .media(@media-sm, {
      padding: 10px;
    });

  ::ng-deep ngx-extended-pdf-viewer .pdfViewer .page {
    border: none;
  }

  .spin {
    flex: 1;
  }

  .content {
    flex: 1;
    padding: 20px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid;

    .media(@media-sm, {
      padding: 10px;
      border-radius: 8px;
    });

    .pdf {
      width: 100%;
    }
  }

  .link {
    font-size: 16px;

    nz-icon {
      position: relative;
      top: 2px;
    }
  }

  .footer {
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }
}
