
<div>
  <hr class="mb-[15px]">
  <form [formGroup]="currencyFilterForm" class="flex flex-col gap-y-4" >
<div class="grid grid-cols-2 gap-4">
  <div class="items-center gap-x-2 flex ">
    <mat-form-field appearance="outline" class="w-full" >
      <mat-label>Дата от</mat-label>
      <input matInput formControlName="dateFrom"  type="date" class="rounded-[5px]">
      <app-ui-svg-icon matSuffix path="./assets/icons/inputs-icons.svg#calendar" svgClass="w-6 h-6 mr-3" />
    </mat-form-field>
    <div class="text-black text-base font-normal ">-</div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Дата до</mat-label>
      <input matInput formControlName="dateTo" type="date" class="rounded-[5px]">
      <app-ui-svg-icon matSuffix path="./assets/icons/inputs-icons.svg#calendar" svgClass="w-6 h-6 mr-3" />
    </mat-form-field>
  </div>
  <div class="items-center gap-x-2 flex ">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Сумма от</mat-label>
      <input
        matInput
        formControlName="amountFrom"
        placeholder="Сумма от"
        mask="separator.2"
        thousandSeparator=" "
        class="rounded-[5px]">
    </mat-form-field>
    <div class="text-black text-base font-normal ">-</div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Сумма до</mat-label>
      <input
        matInput
        formControlName="amountTo"
        placeholder="Сумма до"
        mask="separator.2"
        thousandSeparator=" "
        class="rounded-[5px]">
    </mat-form-field>
  </div>
</div>
    <div class="grid grid-cols-2 gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>ID документа</mat-label>
        <input matInput formControlName="documentId" placeholder="ID документа" class="rounded-[5px]">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Валюта</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currencies()" [value]="currency">{{ currency }}</mat-option>
        </mat-select>
        <app-ui-svg-icon matSuffix path="./assets/icons/btn-icons.svg#arrow_down"
                         svgClass="w-6 h-6 mr-3" />
      </mat-form-field>
    </div>


    <div class="self-stretch justify-end items-center gap-4 inline-flex">
      <button mat-ripple class="w-[220px] h-10 px-5 py-2.5 bg-[#eff4f9] rounded-[5px]  justify-center items-center gap-2 inline-flex text-black text-sm font-normal" (click)="resetForm()">
        Сбросить
      </button>
      <button mat-ripple class="w-[220px] h-10 px-5 py-2.5 bg-[#008C79] rounded-[5px] border justify-center items-center gap-2 inline-flex text-white text-sm font-normal">
        Искать
      </button>
    </div>
  </form>
</div>
