<div class="flex flex-col gap-y-3 p-8 bg-[#FFF] rounded-[42px] overflow-y-auto">

  <div class="flex justify-end items-center">
    <mat-icon
      class="cursor-pointer hover:rotate-180 transition-all"
      mat-ripple
      mat-dialog-close
    >close</mat-icon>
  </div>

  <div class="flex flex-col gap-6 mb-3">
    <img width="68" height="68" src="./assets/new-icons/cancel.svg" alt="">
    <div class="flex flex-col gap-2">
      <span class="text-custom-primary text-[28px] font-bold leading-[28px]">{{ data.title }}</span>
      <p class="text-[16px] font-normal text-custom-muted">{{ data.desc }}</p>
    </div>
  </div>

  <div class="grid grid-cols-2 pt-8 gap-x-5">
    <button
      (click)="onCancel()"
      class="w-[204px] h-[48px] rounded-[12px] bg-[#F5F5F5] text-custom-primary leading-[20px]"
    >Нет
    </button>

    <button
      (click)="this.onAgree()"
      class="w-[204px] h-[48px] rounded-[12px] bg-[#008C79] text-white leading-[20px]"
    >Да
    </button>
  </div>
</div>
