@import 'colors';
@import 'custom';
@import 'mixins';

.themeMixin({
    :host {
        .icon {
            background: @body-background;
        }

        b {
          color: @text-color-secondary;
        }
    }
});

:host {
  display: flex;
  column-gap: 4px;
  align-items: center;

  .icon {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    nz-icon {
      font-size: @font-size-sm;

      &.warning {
        color: @cf-orange-50;
      }

      &.success {
        color: @cf-green-200;
      }

      &.decline {
        color: @cf-red-500;
      }

      &.design {
        color: @cf-blue-500;
      }

      &.form-fill {
        color: @cf-purple-100;
      }

      &.decision {
        color: @cf-orange-50;
      }
    }
  }
}
