@import 'colors';
@import 'custom';
@import 'mixins';

.themeMixin({
    :host {
        b {
          color: @text-color;
        }

        nz-icon {
          color: @text-color;
        }
    }
});

:host {
  display: flex;
  column-gap: 4px;
  align-items: center;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    nz-icon {
      font-size: 16px;
    }
  }
}
