<div
  class="bg-white text-black w-[335px] rounded-2.5xl divide-y divide-cyan-75 shadow-slight overflow-hidden card-actions">
  <ng-container *ngFor="let item of actions">
    <div
      (click)="doAction(item.icon)"
      class="flex items-center space-x-3 px-5 py-4 cursor-pointer transition-all"
      [ngClass]="
        item.icon === 'delete' ? 'hover:bg-error/10' : 'hover:bg-lime-550/10'
      ">
      <app-ui-svg-icon
        path="./assets/icons/actions.svg#{{ item.icon }}"
        svgClass="w-7 h-7"></app-ui-svg-icon>
      <p class="text-base font-semibold leading-5">
        {{ item.name | translate }}
      </p>
    </div>
  </ng-container>
</div>
