<div
  class="bg-white flex flex-col  rounded-xl p-2.5 shadow-[0_1px_3px_0_rgba(16,24,40,0.10),_0_1px_2px_0_rgba(16, 24, 40, 0.06)]"
  style="box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);">
  <span class="text-base font-medium leading-normal text-black mb-1">Курсы валюты</span>
  <ul class="currency-list text-xs text-right font-medium">
    <li class="flex justify-between py-1.5 border-b-[1px] border-secondary">
      <span class="w-1/4 text-start pl-2">Валюта</span>
      <span class="w-1/4">Покупка</span>
      <span class="w-1/4">Продажа</span>
      <span class="w-1/4">Курс ЦБ</span>
    </li>

    @for (item of info; track item) {
      <li class="flex items-center py-1.5 border-b-[1px] border-secondary">
        <div class="flex items-center w-1/4 justify-start">
          <div class="rounded-full overflow-hidden mr-1">
           @if(item.currencyCode === "840"){
             <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/flag-icons.svg#usd"
                              svgClass="w-6 h-6"></app-ui-svg-icon>
           } @else if(item.currencyCode === "978"){
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
               <rect width="24" height="24" fill="#003399"/>
               <circle cx="12" cy="12" r="10" fill="none"/>
               <g fill="#FFCC00">
                 <circle cx="12" cy="3.6" r="1"/>
                 <circle cx="16.8" cy="5.4" r="1"/>
                 <circle cx="19.4" cy="9.6" r="1"/>
                 <circle cx="19.4" cy="14.4" r="1"/>
                 <circle cx="16.8" cy="18.6" r="1"/>
                 <circle cx="12" cy="20.4" r="1"/>
                 <circle cx="7.2" cy="18.6" r="1"/>
                 <circle cx="4.6" cy="14.4" r="1"/>
                 <circle cx="4.6" cy="9.6" r="1"/>
                 <circle cx="7.2" cy="5.4" r="1"/>
               </g>
             </svg>
            }
           @else if(item.currencyCode === "826"){
             <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/flag-icons.svg#GBP"
                      svgClass="w-6 h-6"></app-ui-svg-icon>
            }
           @else if(item.currencyCode === "398"){
             <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/flag-icons.svg#KZT"
                              svgClass="w-6 h-6"></app-ui-svg-icon>
            }
           @else if(item.currencyCode === "392"){
             <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/flag-icons.svg#JPY"
                              svgClass="w-6 h-6"></app-ui-svg-icon>
           }
           @else if(item.currencyCode === "756"){
             <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/flag-icons.svg#CHF"
                              svgClass="w-6 h-6"></app-ui-svg-icon>
           }
           @else if(item.currencyCode === "643"){
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
               <rect width="24" height="8" fill="#fff"/>
               <rect y="8" width="24" height="8" fill="#0033a0"/>
               <rect y="16" width="24" height="8" fill="#d52b1e"/>
             </svg>
           }
           @else if(item.currencyCode === "784"){
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
               <rect width="24" height="8" fill="#00732F" />
               <rect y="8" width="24" height="8" fill="#fff" />
               <rect y="16" width="24" height="8" fill="#000" />
               <rect width="6" height="24" fill="#C8102E" />
             </svg>
           }
           @else if(item.currencyCode === "156"){
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
               <rect width="24" height="24" fill="#de2910"/>
               <polygon points="6,3 7.527,7.089 12,7.634 8.764,10.726 9.935,15 6,12.499 2.065,15 3.236,10.726 0,7.634 4.473,7.089" fill="#ffde00"/>
               <polygon points="13.666,2.334 14.245,3.562 15.5,3.734 14.492,4.641 14.739,5.89 13.666,5.282 12.593,5.89 12.84,4.641 11.832,3.734 13.087,3.562" fill="#ffde00"/>
               <polygon points="17,4 17.494,5.5 19,5.75 17.747,6.75 18.247,8.25 17,7.25 15.753,8.25 16.253,6.75 15,5.75 16.506,5.5" fill="#ffde00"/>
               <polygon points="17.666,8.334 18.245,9.562 19.5,9.734 18.492,10.641 18.739,11.89 17.666,11.282 16.593,11.89 16.84,10.641 15.832,9.734 17.087,9.562" fill="#ffde00"/>
               <polygon points="13.666,12.334 14.245,13.562 15.5,13.734 14.492,14.641 14.739,15.89 13.666,15.282 12.593,15.89 12.84,14.641 11.832,13.734 13.087,13.562" fill="#ffde00"/>
             </svg>
           }
          </div>
          {{ getCurrencyName(item.currencyCode) }}
        </div>
        <span class="w-1/4">{{ item.buyingRate /100 | currency:' ' : 'symbol' }}</span>
        <span class="w-1/4">{{ item.sellingRate  /100 | currency:' ' : 'symbol'}}</span>
        <span class="w-1/4">{{ item.sbCourse  /100 | currency:' ' : 'symbol'}}</span>
      </li>
    }
    @if( isFetching){
      <li class="skeleton block rounded h-5 w-full mt-2.5 mb-2.5"></li>
      <li class="skeleton block rounded h-5 w-full mb-2.5"></li>
      <li class="skeleton block rounded h-5 w-full mb-2.5"></li>
      <li class="skeleton block rounded h-5 w-full mb-2.5"></li>
      <li class="skeleton block rounded h-5 w-full mb-2.5"></li>
    }

  </ul>

  <button matRipple
          class="flex items-center justify-center w-full font-medium bg-secondary text-white py-2.5 rounded-xl mt-2.5 relative"
          (click)="onOpenCalculator()">Конвертер валют
    <app-ui-svg-icon class="absolute right-2.5" matDatepickerToggleIcon
                     path="./assets/icons/inputs-icons.svg#calculator" svgClass="w-6 h-6"></app-ui-svg-icon>
  </button>

</div>
