<div class="relative">
  @if (state() === 'empty') {
    <app-empty-state
      [title]="emptyTitle()"
      [description]="emptyDescription()">
    </app-empty-state>
  } @else if (state() === 'emptySearch') {
    <app-empty-state
      [title]="searchEmptyTitle()"
      [description]="searchEmptyDescription()">
    </app-empty-state>
  } @else {
    <ng-content></ng-content>
  }

  @if (loading()) {
    <div class="absolute inset-0 flex items-center justify-center bg-surface-2">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
