@import 'mixins';
@import 'custom';

.themeMixin({
  :host {
    .input {
      border-color: @border-color;
    }
  }
});

:host {
  display: block;
}

.input {
  border: 1px solid;
  border-bottom: none;
  height: 56px;
  font-weight: @font-weight-medium;
}

.input-slider__control {
  width: 100%;
  margin-top: 0;
  position: relative;
  top: -8px;
  left: -5px;
}
