@import 'mixins';
@import 'custom';

.themeMixin({
  :host {
    .input {
      border-color: @border-color;
    }

    .mark__label {
      color: @text-color-secondary;
    }
  }
});

:host {
  display: block;
}

.input {
  border: 1px solid;
  border-bottom: none;
  height: 56px;
  font-weight: @font-weight-medium;
}

.input-slider__control {
  width: 100%;
  margin-top: 0;
  position: relative;
  top: -8px;
  left: -5px;
}

.box {
  position: relative;
}

.marks {
  position: relative;
  top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 24px;
}

.mark {
  text-align: center;
  white-space: nowrap;
}

.mark__label {
  font-size: @font-size-sm;
  font-weight: @font-weight-medium;
  white-space: nowrap;
}
