<div class="">
  <section class="mb-8">


    <div>

      <div
        class="w-full bg-white rounded-2xl shadow-md border border-gray-200 p-6 px-3 mx-auto mt-10"
      >
        <div class="bg-white rounded-xl py-3 px-5">
          <div class="flex space-x-3 items-center">


            <div class="relative w-full mb-1">
              <i class="absolute left-3 top-1/2 -translate-y-1/2 text-[#808080] pointer-events-none flex items-center justify-center">
                <mat-icon class="text-[24px] flex items-center justify-center">search</mat-icon>
              </i>
              <input
                [formControl]="search"
                type="text"
                placeholder=" "
                class="peer border bg-[#f3f4f6] border-gray-300 focus:border-[#008C79]
                   px-4 ps-10 w-full placeholder:text-transparent text-[14px] text-custom-primary font-medium
                   rounded-[16px] h-[56px] outline-none pt-4"
              />
              <span class="pointer-events-none absolute left-10 text-custom-muted transition-all
                   peer-placeholder-shown:font-medium peer-focus:font-normal
                   peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-[14px]
                   peer-focus:top-[6px] peer-focus:-translate-y-0 peer-focus:text-[12px]
                   top-[6px] text-[12px]">
                     {{ 'custom.purpose_name_or_code' | translate }}
               </span>
            </div>


          </div>
          <table class="w-full mt-10">
            <thead class="border-b border-[#ebebeb]">
            <th class="text-left pb-[22px] w-[200px]">{{'new.code' | translate}}</th>
            <th class="text-left pb-[22px]">{{'createPayment.name' | translate}}</th>

            </thead>
            <tbody>
              @if(isLoading()){
                <tr>
                  <td class="font-medium text-lg text-center mt-5 border-gray-600 pt-5" colspan="2">
                    {{'new.loading' | translate}}...
                  </td>
                </tr>
              } @else if (bankInfoItemsWithCode().length){
                <tr  *ngFor="let item of bankInfoItemsWithCode()"  class="border-b border-[#ebebeb]">
                  <td>
                    <div class="font-normal text-base py-[14px] text-right flex items-center">
                         @if(item.isPinned) {
                      <svg class="cursor-pointer" (click)="handlePinAndUnpin(item)"  width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.78782 0.752537C9.28302 -0.250842 10.7138 -0.250848 11.209 0.752536L13.567 5.53026L18.8395 6.2964C19.9468 6.4573 20.3889 7.81806 19.5877 8.59909L15.7724 12.318L16.6731 17.5692C16.8622 18.6721 15.7047 19.5131 14.7143 18.9924L9.99842 16.5131L5.28252 18.9924C4.29213 19.5131 3.13459 18.6721 3.32374 17.5693L4.2244 12.318L0.409159 8.59909C-0.392086 7.81807 0.0500454 6.4573 1.15735 6.2964L6.42988 5.53026L8.78782 0.752537Z" fill="#FFAA00"/>
                      </svg>
                      }@else {
                          <svg  class="cursor-pointer" (click)="handlePinAndUnpin(item)" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.78782 0.752537C9.28302 -0.250842 10.7138 -0.250848 11.209 0.752536L13.567 5.53026L18.8395 6.2964C19.9468 6.4573 20.3889 7.81806 19.5877 8.59909L15.7724 12.318L16.6731 17.5692C16.8622 18.6721 15.7047 19.5131 14.7143 18.9924L9.99842 16.5131L5.28252 18.9924C4.29213 19.5131 3.13459 18.6721 3.32374 17.5693L4.2244 12.318L0.409159 8.59909C-0.392086 7.81807 0.0500454 6.4573 1.15735 6.2964L6.42988 5.53026L8.78782 0.752537ZM9.99842 1.68893L7.74008 6.26482C7.54344 6.66327 7.16332 6.93944 6.72361 7.00333L1.67382 7.73711L5.32788 11.2989C5.64606 11.6091 5.79125 12.0559 5.71614 12.4939L4.85353 17.5233L9.37021 15.1487C9.76349 14.9419 10.2333 14.9419 10.6266 15.1487L15.1433 17.5233L14.2807 12.4939C14.2056 12.0559 14.3508 11.6091 14.6689 11.2989L18.323 7.73711L13.2732 7.00333C12.8335 6.93944 12.4534 6.66327 12.2568 6.26482L9.99842 1.68893Z" fill="#C2C2C2" />
                        </svg>
                      }
                      <span class="pl-3">
                          {{item?.code}}
                      </span>
                    </div>
                  </td>
                  <td>
                    <div class="font-normal text-base py-[14px] flex items-center">
                      <span class="">{{item?.name}}</span>
                    </div>
                  </td>

                </tr>
              }  @else if(!isLoading() && !bankInfoItemsWithCode()?.length){
                <tr>
                  <td colspan="2" class="w-full">
                    <app-empty-state
                      [titleKey]="'custom.card_no_results_title'"
                      [descriptionKey]="'custom.try_change_request'"
                      [height]="'370px'"
                      type="no-results">
                    </app-empty-state>
                  </td>
                </tr>
              }

            </tbody>
          </table>


        </div>
        <div *ngIf="totalItems()" class="">
          <new-app-pagination
            [pageIndex]="pageIndex()"
            [pageSize]="pageSize()"
            [totalItems]="totalItems()"
            (pageChange)="pageIndex.set($event); reloadBankInfoWithCode();"
            (pageSizeChange)="pageSize.set($event); pageIndex.set(0); reloadBankInfoWithCode()">
          </new-app-pagination>
        </div>

      </div>

    </div
    >
  </section>
</div>
