<div class="flex flex-col gap-y-3 px-6 bg-[#FFF] h-full overflow-y-auto pb-5">
  <div class="flex flex-col py-5 border-b border-[#E2EAF1]">
    <div class="flex justify-between">
      <div class="text-[22px] text-black">Реестр № {{ data().type }}</div>
      <mat-icon mat-ripple mat-dialog-close>close</mat-icon>
    </div>

  </div>
  <app-payment-short [transaction]="data()"></app-payment-short>
  <div
    class="flex gap-x-2.5 mb-4 items-center"
    [ngClass]="{ 'flex-row-reverse': !data().isDebit }"
  >
    <button (click)="navigateToInside(data().additionalInfo?.parentId,data().docNum,data().transactionMode)" class="h-10 px-5 py-2.5 bg-[#008C79] rounded-[5px]  justify-center items-center gap-2 inline-flex text-white text-sm font-normal  leading-snug">Карты реестра </button>
    @if(data().isDebit) {
      @if(['PREPARE','NEW'].includes(data().status)) {

        <div
          (click)="navigateToEdit(data())"
          class="py-2.5 h-10 px-5 bg-[#DDECFC] rounded-[5px] flex gap-2 items-center cursor-pointer"
        >
          <img ngSrc="./assets/svg/edit-pencil-active.svg" width="24" height="24" alt="#">
          Редактировать
        </div>
        <button (click)="deleteTransaction(data())" type="button" class="h-10 px-5 py-2.5 bg-[#ddecfc] rounded-[5px]  justify-center items-center gap-x-2  flex text-[#ff3333]  ">
          <img ngSrc="./assets/svg/trash-full-active.svg" height="24" width="24" alt="#">
          Удалить
        </button>
      }
    }

  </div>
  @if(data().isDebit) {
    <app-select-action
      [actions]="getActions()"
      (onAction)="onAction($event)"
    ></app-select-action>
  }

  <div class="text-black text-sm font-normal  leading-none">Документ</div>
  @if(!data().fromAbs) {
    <div class="flex gap-x-4 items-center">
      <span class="text-[14px] !w-[130px] text-secondary">Статус операции</span>
      <span class="text-[13px] text-end leading-[16.9px] text-[#7C8897]">
        <span
          [ngClass]="[getStatusApplication(data().absStatus || data().status).color,
          getStatusApplication(data().absStatus || data().status).text]"
          class="text-[12px] rounded-[10px] px-[7px]"
        >{{ getStatusApplication(data().absStatus || data().status).label }}</span>

      <span> {{ getTimeFromISO(data().docDate) }} </span>
    </span>
    </div>
  }
  <div class="flex gap-x-4 items-center">
    <span class="text-[14px] !w-[130px] text-secondary">Тип документа</span>
    <span class="text-[14px] font-normal text-black">Реестр</span>
  </div>
  <div class="flex gap-x-4 items-center">
    <span class="text-[14px] !w-[130px] text-secondary">Тип пополнения</span>
    <span class="text-[14px] font-normal text-black">{{data().transactionMode === 'CORP_CARD_TOP_UP' ? 'Корпоративные карты' : 'Зарплатный'}}</span>
  </div>
  <div class="flex gap-x-4 items-center">
    <span class="text-[14px] !w-[130px] text-secondary">Номер документа</span>
    <span class="text-[14px] font-normal text-black"> {{ data().docNum }}</span>
  </div>
  <div class="flex gap-x-4 items-center">
    <span class="text-[14px] !w-[130px] text-secondary">Дата</span>
    <span class="text-[14px] font-normal text-black"> {{ data().docDate }}</span>
  </div>
  <div class="flex gap-x-4 items-center">
    <span class="text-[14px] !w-[130px] text-secondary">Месяц</span>
    <span class="text-[14px] font-normal text-black"> {{ data().additionalInfo?.month }}</span>
  </div>

  <div class="flex gap-x-4 items-center">
    <span class="text-[14px] !w-[130px] text-secondary">Год</span>
    <span class="text-[14px] font-normal text-black"> {{ data().additionalInfo?.year }}</span>
  </div>
  <div class="flex gap-x-4 items-center">
    <span class="text-[14px] !w-[130px] text-secondary">Сумма</span>
    <span class="text-[14px] font-normal text-black">  {{ data().isDebit ? (amountService.convertToAmount(data().senderAmount.amount)) :  (amountService.convertToAmount(data().receiverAmount.amount))}}</span>
  </div>
  <div class="flex gap-x-4 items-center">
    <span class="text-[14px] !w-[130px] text-secondary">Назначение</span>
    <span class="text-[14px] font-normal text-black">{{data().description}}</span>
  </div>






  @if(data().signedList.length) {
    <div class="w-full border-t border-[#E2EAF1]"></div>

    <p class="text-base">Список подписантов</p>
    <div class="pb-5">
      <div class="text-[14px] " *ngFor="let signer of data().signedList">
        <p class="flex  gap-x-4 items-center"><span class="w-[130px] text-secondary">Имя пользователя</span>
          <span>{{ signer.username }}</span></p>
        <p class="flex  gap-x-4 items-center"><span
          class="w-[130px] text-secondary">Подписан</span> {{ signer.isSigned ? 'Да' : 'Нет' }}</p>
        <p class="flex  gap-x-4 items-center"><span class="w-[130px] text-secondary">Роль</span> {{ signer.roleType }}</p>
        <p class="flex  gap-x-4 items-center"><span class="w-[130px] text-secondary">Дата подписи</span> {{ signer.signDate }}</p>
      </div>
    </div>

  }
</div>
