<ng-container *transloco="let t">
  <div class="header">
    <button cfBounce nz-button nzShape="round" nzSize="small" class="close" (clicked)="close()">
      <nz-icon nzType="close" />
    </button>
  </div>

  <div class="content">
    <div class="text">
      <h1 nz-typography>{{t('otp.title')}}</h1>
      <p nz-typography>{{t('otp.description', {phone: modalData.phoneNumber | phoneNumber: true})}}</p>
    </div>

    <div class="otp">
      <cf-input-otp [formField]="form.code" (valueChange)="clearOtpError()" />
    </div>

    <div class="actions">
      <button cfBounce nz-button [disabled]="running() || isLoading()" nzType="default" nzSize="large" (clicked)="resendOtp()">
        <strong>{{t('action.send_code', {time: running() ? (leftTime() | secondsToTime) : null})}}</strong>
      </button>
    </div>
  </div>

  <div class="footer">
    <button
      cfBounce
      nz-button
      [disabled]="form.code().invalid()"
      [nzLoading]="isLoading()"
      nzType="primary"
      nzSize="large"
      (clicked)="submit()"
    >
      {{t('action.confirm')}}
    </button>
  </div>
</ng-container>
