<ng-container *transloco="let t">
  <div class="header">
    <button nz-button nzShape="round" nzSize="small" class="close" (click)="close()">
      <nz-icon nzType="close" />
    </button>
  </div>

  <div class="content">
    <div class="text">
      <h1 nz-typography>Введите код из СМС</h1>
      <p nz-typography>Отправили на номер +998 (91) ••• ••-67. Вводя код, вы подтверждаете согласие с условиями [название документа]</p>
    </div>

    <nz-input-otp [nzLength]="6" class="otp" />

    <div class="actions">
      <button nz-button nzType="default" nzSize="large"><strong>Отправить код 00:51</strong></button>
      <button nz-button nzType="default" nzSize="large" nzGhost><strong>Нет доступа к номеру?</strong></button>
    </div>
  </div>

  <div class="footer">
    <button nz-button nzType="primary" nzSize="large" (click)="submit()">Подтвердить</button>
  </div>
</ng-container>
