<mat-form-field
  class="small w-full"
  color="primary"
  appearance="outline"
  [ngClass]="{
            'required': touched
          }"
>
  <mat-label>
    <span>{{ label }}</span>
    @if(required) {
      <span class="text-red-500 text-[16px]">*</span>
    }
  </mat-label>

  <mat-select
    [disabled]="disabled"
    [(value)]="selectedAccount"
    placeholder="Выберите счет"
    (openedChange)="onSelectOpened($event)"
  >
    <mat-select-trigger>
      @if(selectedAccount) {
        <div class="grow border-l-transparent flex justify-between pe-[15px]">
          <div>
                <span>
                  @if(showTitle) {
                    <span>{{ selectedAccount.accountType }} / </span>
                  }
                  {{ selectedAccount.altAcctId }}
                </span>
          </div>

          @if(showBalance) {
            <div>
              <span>{{ Number(selectedAccount.balance.amount) / 100 | mask:'separator' }}</span>
              <span class="text-[#8A97A4]">,{{ (Number(selectedAccount.balance.amount) % 100).toString().padStart(2, '0') }}</span>
              <span class="text-[#8A97A4]"> {{ selectedAccount.balance.currency }}</span>
            </div>
          }
        </div>
      }
    </mat-select-trigger>

    @if(showSearch) {
      <mat-option>
        <ngx-mat-select-search
          [formControl]="searchControl"
          [searching]="searching"
          placeholderLabel="Поиск..."
          noEntriesFoundLabel="Нет записей"
        ></ngx-mat-select-search>
      </mat-option>
    }

    @for(account of accounts; track account;) {
      <mat-option [value]="account" (click)="selectSenderAccount(account)">
        <div class="grow border-l-transparent flex justify-between">
          <div>
                <span>
                  @if(showTitle) {
                    <span>{{ account.accountType }} / </span>
                  }
                  {{ account.altAcctId }}
                </span>
          </div>

          @if(showBalance) {
            <div>
              <span>{{ account.balance.amount / 100 | mask:'separator' }}</span>
              <span class="text-[#8A97A4]">,{{ (account.balance.amount % 100).toString().padStart(2, '0') }}</span>
              <span class="text-[#8A97A4]"> {{ account.balance.currency }}</span>
            </div>
          }
        </div>
      </mat-option>
    }

    @if(isLoadingMore) {
      <mat-option disabled>
        <div class="w-full text-center py-2">Загрузка...</div>
      </mat-option>
    }
  </mat-select>
  <mat-icon matSuffix>
    <img class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" />
  </mat-icon>
  <div class="absolute pt-[5px] text-[12px]">
    <mat-error *ngIf="touched">
      Поле обязательное.
    </mat-error>
  </div>
</mat-form-field>
