<div [formGroup]="form" class="apply-loan p-6 bg-white min-w-[792px] max-w-[792px] rounded-xl">
    <button class="absolute flex justify-center items-center top-0 rounded-full p-[1.5px] right-0 bg-white"
        (click)="dialogRef.close()">
        <mat-icon class="text-base font-bold rounded-full border-[1.5px] border-[#A1A1A1]">close</mat-icon>
    </button>
    <p *ngIf="data.title === 'topup'" class="text-2xl font-medium mb-4">Пополнить вклады</p>
    <p *ngIf="data.title === 'close'" class="text-2xl font-medium mb-4">Закрыть вклад</p>
    <p *ngIf="data.title === 'withdraw'" class="text-2xl font-medium mb-4">Снять доход</p>
    <div class="flex flex-col justify-between w-full border-1px mb-4 border-[#EFF0F2] rounded-xl p-4">
        <p class="flex justify-between text-[20px] font-medium leading-6 mb-2.5">{{ data.deposit.depositName }}
            <span class="text-primary">{{ data.deposit.minAmount }} UZS</span>
        </p>

        <ul>
            <li class="flex justify-between items-center py-2.5 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">ID номер</span>
                <span class="flex items-center text-dark text-base font-medium">{{ data.deposit.id }}
                    <app-ui-svg-icon (click)="copyMessage($event, data.deposit.id)" path="./assets/icons/inputs-icons.svg#copy"
                        svgClass="w-6 h-6 ml-1 cursor-pointer"></app-ui-svg-icon>
                </span>
            </li>
            <li class="flex justify-between items-center py-2.5 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">Дата вклады</span>
                <span class="text-dark text-base font-medium">{{ data.deposit.minDate }}</span>
            </li>
            <li class="flex justify-between items-center py-2.5 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">Валюта вклада</span>
                <span class="text-dark flex text-base font-medium">
                    <div class="rounded-full overflow-hidden mr-1">
                        <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/flag-icons.svg#uzb"
                            svgClass="w-6 h-6"></app-ui-svg-icon>
                    </div>
                    {{ data.deposit.currency | uppercase }}
                </span>
            </li>
            <li class="flex justify-between items-center py-2.5 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">Можно перевести</span>
                <span class="text-dark text-base font-medium">1 434 874.32</span>
            </li>
            <li class="flex justify-between items-center py-2.5 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">Годовой процент</span>
                <span class="text-dark text-base font-medium">{{ data.deposit.depositPercent }}</span>
            </li>
            <li class="flex justify-between items-center py-2.5 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">Срок</span>
                <span class="text-dark text-base font-medium">36 месяцев</span>
            </li>
            <li class="flex justify-between items-center pt-2.5">
                <span class="text-[#A1A1A1]">Итого к возврату</span>
                <span class="text-dark text-base font-medium">534 430 888.84 UZS</span>
            </li>
        </ul>
    </div>

    <div class="flex flex-col justify-between w-full border-1px mb-4 border-[#EFF0F2] rounded-xl p-4">
        <p class="flex justify-between text-[20px] font-medium leading-6 mb-4">Способ оплаты</p>

        <ng-container *ngIf="data.title === 'topup'">
            <p class="text-base font-medium mb-2">Pасчетный счет</p>
            <div class="mb-4">
                <input type="text"
                    class="pl-2 border-1px border-secondary rounded-[10px] w-full h-11 px-2 outline-none text-base"
                    placeholder="12345678901234">
            </div>
            <p class="text-base font-medium mb-2">Введите сумму</p>
            <div class="relative mb-4">
                <input type="text"
                    class="border-1px border-secondary rounded-[10px] w-full h-11 px-2 outline-none text-base"
                    mask="separator.2">
                <span class="text-secondary text-base absolute right-2 top-1/2 translate-y-[-50%]">UZS</span>
            </div>
            <div class="flex gap-x-4">
                <button matRipple class="w-full h-10 border-1px border-secondary rounded-xl" (click)="dialogRef.close()">Отменить</button>
                <button matRipple class="w-full h-10 bg-secondary text-white rounded-xl" (click)="onTopUpDeposit()">Подтвердить</button>
            </div>
        </ng-container>

        <ng-container *ngIf="data.title === 'withdraw'">
            <div class="relative mb-2">
                <p class="font-medium leading-20px mb-2">Выбор типа выплаты</p>
                <mat-form-field appearance="outline" class="payment-select relative w-full">
                    <app-ui-svg-icon path="./assets/icons/btn-icons.svg#arrow_down"
                        svgClass="w-6 h-6 absolute right-0"></app-ui-svg-icon>
                    <mat-select disableRipple placeholder="Вывод всей прибыли">
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <p class="text-sm font-medium flex text-secondary mb-4"><app-ui-svg-icon
                    path="./assets/icons/indicator-icons.svg#warning-circle" svgClass="w-6 h-6 mr-2"></app-ui-svg-icon>
                Вы можете снять только начисленные проценты по вкладам, которые вы сделали в Банке на данный момент.</p>
            <p class="text-base font-medium mb-2">Сумма к получению</p>
            <div class="mb-4">
                <input type="text"
                       formControlName="amount"
                       mask="separator.2"
                       class="pl-2 border-1px border-secondary rounded-[10px] w-full h-11 px-2 outline-none text-base"
                       placeholder="534 430 888.84 UZS">
            </div>
            <p class="text-base font-medium mb-2">Pасчетный счет</p>
            <div class="relative mb-4">
                <input type="text"
                    class="border-1px border-secondary rounded-[10px] w-full h-11 px-2 outline-none text-base"
                    placeholder="12345678901234">
                <span class="text-secondary text-base absolute right-2 top-1/2 translate-y-[-50%]">UZS</span>
            </div>
            <div class="flex gap-x-4">
                <button matRipple class="w-full h-[38px] border-1px border-secondary rounded-xl" (click)="dialogRef.close()">Отменить</button>
                <button matRipple class="w-full h-[38px] bg-secondary text-white rounded-xl" (click)="onWithdrawDeposit()">Подтвердить</button>
            </div>
        </ng-container>

        <ng-container *ngIf="data.title === 'close'">
            <p class="text-base font-medium mb-2">Сумма к получению</p>
            <div class="mb-2">
                <input type="text"
                       mask="separator.2"
                       class="pl-2 border-1px border-secondary rounded-[10px] w-full h-11 px-2 outline-none text-base"
                       placeholder="534 430 888.84 UZS">
            </div>
            <p class="text-sm font-medium flex text-secondary mb-4"><app-ui-svg-icon
                    path="./assets/icons/indicator-icons.svg#warning-circle" svgClass="w-6 h-6 mr-2"></app-ui-svg-icon>
                Вы можете снять только начисленные проценты по вкладам, которые вы сделали в Банке на данный момент.</p>
            <p class="text-base font-medium mb-2">Pасчетный счет</p>
            <div class="relative mb-4">
                <input type="text"
                    class="border-1px border-secondary rounded-[10px] w-full h-11 px-2 outline-none text-base"
                    placeholder="12345678901234">
            </div>
            <div class="flex gap-x-4">
                <button matRipple class="w-full h-[38px] border-1px border-secondary rounded-xl" (click)="dialogRef.close()">Отменить</button>
                <button matRipple class="w-full h-[38px] bg-secondary text-white rounded-xl" (click)="onSuccessAction()">Подтвердить</button>
            </div>
        </ng-container>
    </div>
</div>