<ng-container *transloco="let t">
  <div class="header">
    <button cfBounce nz-button nzShape="round" nzSize="small" class="close" (clicked)="cancel()">
      <nz-icon nzType="close" />
    </button>
  </div>

  <div class="content">
    @if (config()?.icon; as icon) {
      <div class="icon">
        <nz-icon [nzType]="icon" />
      </div>
    }
    <div class="text">
      <h1 nz-typography>{{ t(config()?.title) }}</h1>

      @if (config()?.description; as description) {
        <p nz-typography>{{ t(description) }}</p>
      }
    </div>
  </div>

  <div class="footer">
    <button cfBounce nz-button nzType="primary" nzSize="large" [nzDanger]="config()?.submit?.danger" (clicked)="submit()">
      <strong>{{ t(config()?.submit?.title) }}</strong>
    </button>

    @if (config()?.cancel; as cancelBtn) {
      <button cfBounce nz-button nzType="default" nzSize="large" [nzDanger]="cancelBtn?.danger" (clicked)="cancel()">
        <strong>{{ t(cancelBtn?.title) }}</strong>
      </button>
    }
  </div>
</ng-container>
