<div
  class="flex flex-wrap items-center justify-between gap-3 px-4 py-3 text-sm text-[#5C5C5C] select-none"
>
<!--  <div>Страница {{ pageIndex + 1 }} из {{ totalPages() }}</div>-->
  <div> {{'salaryStatements.page_of' | translate:{ from: (pageIndex + 1), to: totalPages() +" " } }}</div>
  <div class="flex flex-wrap justify-center items-center gap-1">
    <button
      class="h-8 w-8 flex justify-center items-center rounded-md hover:bg-gray-100 disabled:opacity-40"
      (click)="onPageChange(0)"
      [disabled]="pageIndex === 0"
    >
      «
    </button>

    <button
      class="h-8 w-8 flex justify-center items-center rounded-md hover:bg-gray-100 disabled:opacity-40"
      (click)="onPageChange(pageIndex - 1)"
      [disabled]="pageIndex === 0"
    >
      ‹
    </button>

    <ng-container *ngFor="let p of getPages()">
      <ng-container *ngIf="p !== '...'; else dots">
        <button
          (click)="onPageChange(p)"
          class="h-8 min-w-[32px] flex justify-center items-center rounded-md text-sm transition"
          [ngClass]="{
            'bg-[#f7f7f7] text-[#5c5c5c]': p === pageIndex,
            'border border-[#EBEBEB] bg-white hover:bg-gray-100 text-[#5C5C5C]': p !== pageIndex
          }"
        >
          {{ p + 1 }}
        </button>
      </ng-container>

      <ng-template #dots>
        <span class="px-2 text-gray-400">…</span>
      </ng-template>
    </ng-container>

    <button
      class="h-8 w-8 flex justify-center items-center rounded-md hover:bg-gray-100 disabled:opacity-40"
      (click)="onPageChange(pageIndex + 1)"
      [disabled]="pageIndex >= totalPages() - 1"
    >
      ›
    </button>

    <button
      class="h-8 w-8 flex justify-center items-center rounded-md hover:bg-gray-100 disabled:opacity-40"
      (click)="onPageChange(totalPages() - 1)"
      [disabled]="pageIndex >= totalPages() - 1"
    >
      »
    </button>
  </div>


  <div
    class="flex items-center border border-[#EBEBEB] rounded-lg bg-white px-[8px] py-[6px] gap-2 select-none"
  >
    <label class="text-[#5C5C5C] text-sm leading-5 font-normal">
      {{'salaryStatements.show_per_page' | translate }}:
    </label>

    <button
      [matMenuTriggerFor]="menu"
      class="flex items-center justify-between space-x-1 min-w-[55px] px-2 py-[2px] rounded-md
           hover:bg-[#F7F7F7] transition focus:outline-none"
    >
      <span class="font-bold text-[#171717] leading-5 text-sm">{{ pageSize }}</span>
      <img src="assets/svg/chevron-down-1.svg" alt="▼" class="w-3 h-3 opacity-70" />
    </button>

    <mat-menu #menu="matMenu" class="menu-action min-w-[60px]">
      <div
        *ngFor="let size of [5, 10, 20, 50]"
        (click)="onPageSizeChange(size)"
        class="flex items-center justify-center p-[6px] text-sm
             cursor-pointer hover:bg-[#F7F7F7] hover:rounded-[6px] font-normal"
      >
        {{ size }}
      </div>
    </mat-menu>
  </div>

</div>
