<div class="flex gap-x-5 justify-between items-end">

  <div class="">
<!--    <div class="text-[#2B2D33]">-->
<!--      {{ application.applicationType === 'REPORT' ? 'Выписка по счёту' : '' }}-->
<!--    </div>-->
    <p><span class="text-secondary">Счёт:</span> {{ application.reportApplicationDto.account }}</p>
    <p><span class="text-secondary">Период отчёта:</span> {{ application.reportApplicationDto.startDate }} по {{ application.reportApplicationDto.endDate }}</p>
    <p><span class="text-secondary">Дата создания:</span> {{ application.createdDate | date:'medium': '': 'ru' }}</p>
  </div>

  <div>
    @if(application.applicationStatus === 'NEW') {
      <div class="w-56">
        <div class="text-secondary text-sm">Ваш отчёт готовится...</div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    }
    @else {
      @if(application.reportApplicationDto.downloadUrl) {
        <a
          href="{{ application.reportApplicationDto.downloadUrl }}"
          target="_blank"
          class="text-blue-500 hover:underline"
        >
          Скачать {{ application.applicationType === 'REPORT' ? 'выписку Excel' : 'справку о работе счета Excel' }}
        </a>
      } @else if(application.reportApplicationDto.previewUrl) {
        <a
          href="{{ application.reportApplicationDto.previewUrl }}"
          target="_blank"
          class="text-blue-500 hover:underline"
        >
          Скачать {{ application.applicationType === 'REPORT' ? 'выписку PDF' : 'справку о работе счета PDF' }}
        </a>
      } @else {
        @if(application.applicationStatus === 'CANCELED') {
          <span class="text-red-500">Ошибка</span>
        } @else {
          <span class="text-gray-600">В заданном периоде нет данных</span>
        }
      }

    }
  </div>
</div>
