<div class="bg-white rounded-[22px] border border-[#EBEBEB] h-full flex flex-col ">
  <div class="flex justify-between items-center px-6 py-5">
    <span class="text-[18px] font-semibold leading-5">Условия</span>

    <div
      mat-dialog-close
      class="w-6 h-6 rounded-md flex justify-center items-center bg-[#F3F3F3] cursor-pointer">
      <img ngSrc="../../../../../../../assets/new-icons/close.svg" alt="close" height="10" width="10">
    </div>
  </div>

  <mat-divider/>

  <div class="flex px-6 pt-4 gap-2">
    @for (tab of tabs; track tab.value) {
      <a
        class="flex justify-center items-center px-3 py-2 border border-[#EDEDED] text-[#000] font-medium leading-5 rounded-xl cursor-pointer"
        [class.border-[#D5D5D5]]="tab.value === activeTab"
        [class.bg-[#F3F3F3]]="tab.value === activeTab"
        (click)="activeTab = tab.value"
      > {{ tab.label }} </a>
    }
  </div>

  @if (activeTab === 0) {
    <div class="flex flex-col gap-4 px-6 pb-4 mt-10 overflow-y-auto">
      <div>
        <p class="text-[#A3A3A3] text-sm leading-5">Валюта</p>
        <p class="text-[#1A1A1A] leading-6">{{ loan.currency  }}</p>
      </div>

      <div>
        <p class="text-[#A3A3A3] text-sm leading-5">Годовая процентная ставка</p>
        <p class="text-[#1A1A1A] leading-6">{{ loan.detail.percMain }}</p>
      </div>

      <div class="hidden">
        <p class="text-[#A3A3A3] text-sm leading-5">Капитализация начисленных процентов</p>
        <p class="text-[#1A1A1A] leading-6">Нет</p>
      </div>

      <div class="hidden">
        <p class="text-[#A3A3A3] text-sm leading-5">Срок</p>
        <p class="text-[#1A1A1A] leading-6">От 2 месяцев до 3-х лет</p>
      </div>
      <div>
        <p class="text-[#A3A3A3] text-sm leading-5">Сумма кредита</p>
        <p class="text-[#1A1A1A] leading-6">{{ integerPart(loan.amount) }}.{{ decimalPart(loan.amount) }}</p>
      </div>

      <div class="hidden">
        <p class="text-[#A3A3A3] text-sm leading-5">Минимальная сумма онлайн кредита</p>
        <p class="text-[#1A1A1A] leading-6">1 млн</p>
      </div>

      <div class="hidden">
        <p class="text-[#A3A3A3] text-sm leading-5">Форма предоставления</p>
        <p class="text-[#1A1A1A] leading-6">Путем перевода денег на банковскую карту</p>
      </div>

      <div class="hidden">
        <p class="text-[#A3A3A3] text-sm leading-5">Досрочное погашение</p>
        <p class="text-[#1A1A1A] leading-6">Возможно полное или частичное досрочное погашение без дополнительных комиссий и штрафов</p>
      </div>
    </div>
  }

  @if (activeTab === 1) {
    <div class="flex flex-col gap-2 px-6 pb-4 mt-4 overflow-y-auto">
      <div class=" flex flex-col bg-[#F4F5F6] p-5 gap-2 rounded-2xl">
        <p class="text-[#000] leading-5">Граждане Республики Узбекистан или лица без гражданства, постоянно проживающие в Республике Узбекистан</p>
        <p class="text-[#9799A1] text-sm leading-6">Гражданство</p>
      </div>

      <div class=" flex flex-col bg-[#F4F5F6] p-5 gap-2 rounded-2xl">
        <p class="text-[#000] leading-5">Стаж на последнем месте работы — не менее 12 месяцев</p>
        <p class="text-[#9799A1] text-sm leading-6">Трудовой стаж</p>
      </div>

      <div class=" flex flex-col bg-[#F4F5F6] p-5 gap-2 rounded-2xl">
        <p class="text-[#000] leading-5">Должны совпадать с регионом присутствия Банка</p>
        <p class="text-[#9799A1] text-sm leading-6">Место жительства и работы</p>
      </div>
    </div>
  }

</div>
