.ant-btn-round.ant-btn-sm {
  border-radius: @border-radius-sm;
  padding: 6px 8px;
}

.ant-btn-lg {
  nz-icon {
    font-size: 20px;
  }
}

.ant-btn-default {
  nz-icon {
    font-size: 14px;
  }
}

.ant-btn-sm {
  nz-icon {
    font-size: 14px;
  }
}

.ant-btn.ant-btn-link.default {
  color: @text-color;

  &:hover {
    color: @link-hover-color;
  }
}

a.ant-btn-link {
  line-height: 100% !important;
  height: auto !important;
  padding: 0 !important;
  width: auto !important;
  min-width: auto !important;
}

.ant-btn.ant-btn-background-ghost {
  border: 1px solid @border-color;
  box-shadow: none;
  color: @text-color;
}

.ant-btn-icon-only.ant-btn-lg {
  nz-icon {
    font-size: 20px;
  }
}

.ant-btn {
  strong {
    margin-right: 6px;
  }
}
