.ant-btn-round.ant-btn-sm {
  border-radius: @border-radius-sm;
  padding: 6px 8px;
}

.ant-btn.ant-btn-link.default {
  color: @text-color;

  &:hover {
    color: @link-hover-color;
  }
}

a.ant-btn-link {
  line-height: 100%;
  height: auto;
  padding: 0;
  width: auto;
  min-width: auto;
}

.ant-btn.ant-btn-background-ghost {
  border: 1px solid @border-color;
  box-shadow: none;
  color: @text-color;
}
