// GREEN
@cf-green-50: #e4fbf8;
@cf-green-60: #99d1c9;
@cf-green-100: #e0faec;
@cf-green-200: #1fc16b;
@cf-green-500: #00a38d;
@cf-green-600: #12873c;
@cf-green-500-16: #00a38d29;
@cf-green-500-18: #00a38d3d;

// GRAY
@cf-gray-50: #f7f7f7;
@cf-gray-100: #f5f5f5;
@cf-gray-200: #ebebeb;
@cf-gray-400: #c3cdd2;
@cf-gray-500: #a3a3a3;
@cf-gray-700: #5c5c5c;

// RED
@cf-red-50: #ffebec;
@cf-red-500: #fb3748;

// WHITE
@cf-white-0: #ffffff;

// BLACK
@cf-black-800: #171717;
@cf-black-900: #101010;

//BLUE
@cf-blue-50: #e4fbf8;
@cf-blue-500: #0099b5;

//YELLOW
@cf-yellow-50: #fffaeb;
@cf-yellow-100: #fff3eb;

//ORANGE
@cf-orange-50: #fa7319;

//purple
@cf-purple-100: #7d52f4;
