// GREEN
@cf-green-50: #ecf9f5;
@cf-green-100: #dcf9f9;
@cf-green-200: #d4e9ea;
@cf-green-300: #b2ded2;
@cf-green-400: #a6d9cb;
@cf-green-500: #00a38d;
@cf-green-600: #12873c;
@cf-green-700: #0f6f32;
@cf-green-800: #0c5a28;
@cf-green-900: #08401c;

@cf-green-linear: linear-gradient(262.46deg, @cf-green-300 49.62%, @cf-green-400 105.8%);

// GRAY
@cf-gray-50: #f8f9fa;
@cf-gray-100: #f5f5f5;
@cf-gray-200: #ebebeb;
@cf-gray-300: #f7f7f7;
@cf-gray-400: #c3cdd2;
@cf-gray-500: #a8aeb3;
@cf-gray-600: #7c858d;
@cf-gray-700: #5e666e;
@cf-gray-800: #464c53;
@cf-gray-900: #2e3338;

// BLUE
@cf-blue-50: #f4f7fb;
@cf-blue-100: #ebeff4;
@cf-blue-200: #e5eaf0;
@cf-blue-300: #dce2eb;
@cf-blue-400: #dceff9;
@cf-blue-500: #9bb8d3;
@cf-blue-600: #6c94b5;
@cf-blue-700: #4a7594;
@cf-blue-800: #335a73;
@cf-blue-900: #1f3c4d;

// RED
@cf-red-50: #fef2f2;
@cf-red-100: #fee2e2;
@cf-red-200: #fecaca;
@cf-red-300: #fca5a5;
@cf-red-400: #f87171;
@cf-red-500: #ed4949;
@cf-red-600: #dc2626;
@cf-red-700: #b91c1c;
@cf-red-800: #991b1b;
@cf-red-900: #7f1d1d;

// WHITE
@cf-white-50: #ffffff;

// BLACK
@cf-black-900: #000000;
@cf-black-800: #202020;
