* {
  font-family: @font-family;
}

//border-radius
@border-radius-base: 12px;
@border-radius-sm: 6px;
@border-radius-lg: 12px;
@border-radius-xl: 24px;
@border-radius-round: 8px;

//btn
@btn-height-base: 35px;
@btn-height-lg: 48px;
@btn-height-sm: 32px;
@btn-font-weight: 500;
@btn-font-weight-strong: 600;

//typography
@font-family:
  'Inter',
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;

@font-size-base: 14px;
@font-size-lg: 16px;
@font-size-sm: 12px;
@font-size-icon: 20px;

@heading-1-size: 32px;
@heading-2-size: 18px;
@heading-3-size: 16px;
@heading-4-size: 14px;
@heading-5-size: 14px;

@font-weight-bold: 700;
@font-weight-strong: 600;
@font-weight-medium: 500;
@font-weight-base: 400;

@line-height-base: 1.4;
@line-height-sm: 1.2;
@line-height-lg: 1.6;

@line-width: 1px;
@line-width-focus: 3px;

//checkbox
@checkbox-size: 20px;

//radio
@radio-size: 20px;
@radio-dot-size: 14px;
