svg.svg-outline {
  color: currentColor;
  stroke: currentColor;
  fill: none;
}

svg.svg-fill {
  color: currentColor;
  stroke: none;
  fill: currentColor;
}

nz-icon {
  font-size: @font-size-icon;
}
