@import 'mixins';

.themeMixin({
.ant-input::placeholder   {
    color: @text-color-tertiary;
  }
});

.ant-otp-input {
  width: 46px;
  height: 55px;
  font-size: @font-size-lg;
  font-weight: @font-weight-medium;
  border-radius: 8px;
}

.ant-input-number {
  width: 100%;
}

.ant-form-item {
  margin-bottom: 12px;
}

.ant-form-item-with-help {
  margin-bottom: 0px;
}

.ant-form-item-explain .ant-form-item-explain-connected {
  min-height: auto !important;
}

.ant-form-item-with-help .ant-form-item-explain {
  min-height: auto !important;
}

.ant-form-item-explain-error {
  font-size: 12px;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 4px;
}

.ant-input:placeholder-shown {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

.ant-input-lg {
  font-size: 14px !important;
  font-weight: 400;
}
