@import 'skeleton';
@import 'select';
@import 'modal';
@import 'tabs';
@import 'drawer';
@import 'tag';
@import 'fonts';
@import 'typography';
@import 'reset';
@import 'splash';
@import 'custom';
@import 'button';

* {
  font-family: @font-family;
}

@border-radius-base: 12px;
@border-radius-sm: 6px;
@border-radius-lg: 12px;
