h2,
h3,
h4,
h5,
h6 {
  font-weight: @font-weight-strong;
  margin: 0;
}

h1 {
  font-weight: @font-weight-bold;
  margin: 0;
}

h6 {
  font-size: @heading-6-size;
}

b,
strong {
  font-weight: @font-weight-strong;
}

p {
  margin: 0;
}
