h2,
h3,
h4,
h5,
h6 {
  font-weight: @font-weight-strong;
  margin: 0;
}

h1 {
  font-weight: @font-weight-bold;
  margin: 0;
}

h6 {
  font-size: @heading-6-size;
}

strong {
  font-weight: @font-weight-strong;
}

b {
  font-weight: @font-weight-medium;

  &.sm {
    font-size: @font-size-sm;
  }
}

p {
  margin: 0;
}
