nz-select .ant-select-selection-item,
nz-select-item {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 105% !important;
}

.ant-select-item-option-content {
  white-space: wrap;
}

.ant-picker {
  width: 100%;
}
