.themeMixin({
  .ant-tag {
    color: @text-color;
    background: @tag-default-bg;
  }
});

.ant-tag {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border: none;

  .textMixin(@font-weight-medium,@font-size-sm,@line-height-base);
}
