<div class="rounded-[22px] border border-custom-border bg-surface-2">
  <div class="flex justify-between items-center p-5">
    <div class="font-semibold text-[18px] text-custom-primary leading-5">
      {{ 'loans.payment_details' | translate }}
    </div>

    <div class="rounded-md bg-surface-1  cursor-pointer" mat-dialog-close>
      <app-icon icon="x" size="24" svgClass="fill-custom-secondary"></app-icon>
    </div>
  </div>

  <div class="h-px bg-custom-border"></div>

  <div class="px-5 py-2.5">
    <div class="inline-flex items-center gap-1 bg-surface-2 p-0.5 pr-3 rounded-[10px]">
      <div class="w-6 h-6 bg-surface-1 rounded-lg p-[6px]">
        <app-icon
          [icon]="PAYMENT_STATUS_META[data.transaction.status].icon"
          [svgClass]="PAYMENT_STATUS_META[data.transaction.status].svgClass"
          size="12">
        </app-icon>
      </div>

      <p class="text-xs text-custom-secondary font-medium">{{ data.transaction.statusNameFront }}</p>
    </div>

    <p class="font-bold text-custom-primary text-[32px] leading-10 mt-4">
      @let amount = data.transaction.senderAmount.amount | minorToMajor : data.transaction.senderAmount.scale;

      {{ amount.int }}{{ amount.dec }} {{ data.transaction.senderAmount.currency }}
    </p>

    <p class="text-sm text-custom-muted mt-1">
      № {{ data.transaction.docNum }} {{ 'salaryStatements.from' | translate }} {{ data.transaction.docDate }}
    </p>
  </div>

  <div class="h-px bg-custom-border"></div>

  @for (tInfo of info; track tInfo.title) {
    <div class="flex flex-col gap-4 py-2.5 px-5">
      <p class="font-semibold text-custom-primary">{{ tInfo.title }}</p>

      @for (item of tInfo.fields; track item.value) {
        <div>
          <p class="text-sm text-custom-muted">{{ item.label }}</p>
          <p class="text-custom-primary">{{ item.value }}</p>
        </div>
      }
    </div>

    <div class="h-px bg-custom-border"></div>
  }

  <div class="flex flex-col gap-4 py-2.5 px-5">
    <p class="font-semibold text-custom-primary">{{ 'loans.change_history' | translate }}</p>

    <div class="flex">
      <div class="flex shrink-0 justify-center w-6">
        <div class="h-full w-px bg-custom-border"></div>
      </div>

      <div class="flex flex-col">
        <div *ngFor="let action of actionData(); let last = last">
          <div class="text-custom-secondary relative">
            <div class="absolute flex justify-center items-center w-6 h-6 left-[-24px] top-0 bg-surface-2">
              <div class="w-2 h-2 bg-custom-border rounded-full"></div>
            </div>
            {{ action.at.split(' ')[0] }}
          </div>
          <div class="text-custom-primary relative">
            @if (last) {
              <div class="absolute flex justify-center items-center w-6 h-6 left-[-24px] top-0 bg-surface-2"></div>
            }
            {{ translateStatus(action.actionType) }} {{ action.by }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
