<ng-container *transloco="let t">
  @if (isOffersLoading()) {
  <div class="offers" [class.single]="true">
    <nz-skeleton-element [nzActive]="true" nzType="button" [nzSize]="'large'" class="skeleton" />
  </div>
  } @else {
  <div class="offers" [class.single]="isSingle()" [class.triple]="isTriple()">
    @for (offer of offers(); track offer.offerId) {
    <cf-application-conditions-card
      [source]="offer"
      [status]="application().sysStatusId"
      [issueDate]="offer.issueDate ?? null"
      [showRate]="true"
      [showOverpayment]="true"
      [highlighted]="!isSingle() && isHighlighted(offer)"
      [collapsible]="isCollapsible()"
      [expanded]="isExpanded(offer)"
      (expandedChange)="onExpandedChange(offer.offerId, $event)"
      [splitLayout]="isSingle() && !!isMobile()"
      [stackActions]="isSingle() && !!isMobile()"
    >
      <ng-container cardActions>
        @if (isSingle()) {
        <button
          cfBounce
          nz-button
          nzType="default"
          [nzLoading]="isClaiming()"
          [disabled]="isClaiming()"
          (clicked)="openRefuseConfirm()"
        >
          {{ t('application.detail.refuse') }}
        </button>
        }

        <button
          cfBounce
          nz-button
          [nzType]="isSingle() || isHighlighted(offer) ? 'primary' : 'default'"
          [nzLoading]="isClaiming()"
          [disabled]="isClaiming()"
          (clicked)="openAcceptConfirm(offer)"
        >
          {{ t('application.detail.accept') }}
        </button>
      </ng-container>
    </cf-application-conditions-card>
    }
  </div>

  @if (!isSingle() && offers().length) {
  <div class="footer">
    <button
      cfBounce
      nz-button
      nzType="default"
      nzSize="large"
      class="refuse"
      [nzLoading]="isClaiming()"
      [disabled]="isClaiming()"
      (clicked)="openRefuseConfirm()"
    >
      {{ t('application.detail.refuse') }}
    </button>
  </div>
  }
  }
</ng-container>
