<ng-container *transloco="let t">
  <p nz-typography class="hint">{{ t('application.detail.approved_hint') }}</p>

  @if (isOffersLoading()) {
  <div class="offers">
    @for (item of [] | emptyList:2; track $index) {
    <nz-skeleton-element [nzActive]="true" nzType="button" [nzSize]="'large'" class="skeleton" />
    }
  </div>
  } @else {
  <div class="offers" [class.single]="offers().length === 1">
    @for (offer of offers(); track offer.offerId) {
    <div class="offer">
      <cf-application-conditions-card
        [source]="offer"
        [showStatus]="false"
        [showRate]="true"
        [showOverpayment]="true"
        [highlighted]="isHighlighted(offer)"
      />

      <button
        cfBounce
        nz-button
        [nzType]="isHighlighted(offer) ? 'primary' : 'default'"
        nzSize="large"
        class="accept"
        [nzLoading]="isClaiming()"
        [disabled]="isClaiming()"
        (clicked)="openAcceptConfirm(offer)"
      >
        {{ t(acceptLabelKey(offer)) }}
      </button>
    </div>
    }
  </div>

  @if (offers().length) {
  <div class="footer">
    <button
      cfBounce
      nz-button
      nzType="default"
      nzSize="large"
      [nzLoading]="isClaiming()"
      [disabled]="isClaiming()"
      (clicked)="openRefuseConfirm()"
    >
      {{ t('application.detail.refuse') }}
    </button>
  </div>
  }
  }
</ng-container>
