<form class="contents" (ngSubmit)="onSubmit()" [formGroup]="form">
  <ng-container *ngIf="isLoading; else content">
    <div class="flex justify-center my-auto">
<!--      <app-ui-loading-spinner></app-ui-loading-spinner>-->
    </div>
  </ng-container>
  <ng-template #content>
    <div class="space-y-5 pb-4">
      <ng-container *ngIf="title !== 'oil'; else oil">
        <div class="flex flex-col space-y-2">
          <label class="font-semibold text-sm text-neutral-550">
            {{ typeText }}
          </label>
          <select
            class="w-full pl-4 py-3 text-sm text-black placeholder:text-gray-550 !bg-cyan-75 border-2 border-solid rounded-0.5xl focus:outline-none focus:border-lime-550 disabled:cursor-not-allowed select-appearance-none border-zinc-150"
            formControlName="type">
            <option value="" selected disabled>
              {{ 'transport.select-type' | translate }}
            </option>
            <option
              *ngFor="let item of types; let i = index"
              [value]="item.value">
              {{ item.label | translate }}
            </option>
          </select>
        </div>

        <div *ngIf="title === 'gas'" class="space-y-2">
          <label class="font-semibold text-sm text-neutral-550">
            {{ 'transport.release-date' | translate }}
          </label>
          <div class="flex items-center gap-3">
            <div class="flex items-center relative w-full">
              <app-ui-svg-icon
                path="./assets/icons/calendar.svg#calendar-duotone"
                svgClass="icon-6 absolute top-1/2 left-2.5 -translate-y-1/2 text-lime-550"></app-ui-svg-icon>
              <input
                type="text"
                class="w-full pl-[42px] py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border border-solid border-zinc-150 rounded-0.5xl focus:outline-lime-550 input-date-appearance-none"
                formControlName="gasStartDate"
                [placeholder]="'mask.dateWithSlashUpper' | translate"
                [specialCharacters]="['/']"
                [dropSpecialCharacters]="false"
                mask="0000/00/00" />
            </div>
            <div class="flex items-center relative w-full">
              <app-ui-svg-icon
                path="./assets/icons/calendar.svg#calendar-duotone"
                svgClass="icon-6 absolute top-1/2 left-2.5 -translate-y-1/2 text-lime-550"></app-ui-svg-icon>
              <input
                type="text"
                class="w-full pl-[42px] py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border border-solid border-zinc-150 rounded-0.5xl focus:outline-lime-550 input-date-appearance-none"
                formControlName="gasEndDate"
                [placeholder]="'mask.dateWithSlashUpper' | translate"
                [specialCharacters]="['/']"
                [dropSpecialCharacters]="false"
                mask="0000/00/00" />
            </div>
          </div>
        </div>

        <div class="space-y-2">
          <label class="font-semibold text-sm text-neutral-550">
            {{ 'transport.validity-period' | translate }}
          </label>
          <div class="flex items-center gap-3">
            <div class="flex items-center relative w-full">
              <app-ui-svg-icon
                path="./assets/icons/calendar.svg#calendar-duotone"
                svgClass="icon-6 absolute top-1/2 left-2.5 -translate-y-1/2 text-lime-550"></app-ui-svg-icon>
              <input
                type="text"
                class="w-full pl-[42px] py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border border-solid border-zinc-150 rounded-0.5xl focus:outline-lime-550 input-date-appearance-none"
                formControlName="startDate"
                [placeholder]="'mask.dateWithSlashUpper' | translate"
                [specialCharacters]="['/']"
                [dropSpecialCharacters]="false"
                mask="0000/00/00" />
            </div>
            <div class="flex items-center relative w-full">
              <app-ui-svg-icon
                path="./assets/icons/calendar.svg#calendar-duotone"
                svgClass="icon-6 absolute top-1/2 left-2.5 -translate-y-1/2 text-lime-550"></app-ui-svg-icon>
              <input
                type="text"
                class="w-full pl-[42px] py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border border-solid border-zinc-150 rounded-0.5xl focus:outline-lime-550 input-date-appearance-none"
                formControlName="endDate"
                [placeholder]="'mask.dateWithSlashUpper' | translate"
                [specialCharacters]="['/']"
                [dropSpecialCharacters]="false"
                mask="0000/00/00" />
            </div>
          </div>
        </div>

        <ng-container *ngIf="title === 'affidavit'">
          <div class="flex flex-col space-y-2">
            <label>{{ 'transport.fio-confident' | translate }}</label>
            <input
              type="text"
              class="w-full pl-4 py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border-2 border-solid rounded-0.5xl focus:outline-none focus:border-lime-550 disabled:cursor-not-allowed border-zinc-150"
              [placeholder]="'transport.enter-fullname' | translate"
              formControlName="fio" />
          </div>

          <div>
            <label class="font-semibold text-sm text-neutral-550">
              {{ 'transport.id-of-power-of-attorney' | translate }}
            </label>
            <div class="flex items-center gap-2">
              <input
                type="text"
                class="w-1/5 pl-4 py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border-2 border-solid rounded-0.5xl focus:outline-none focus:border-lime-550 disabled:cursor-not-allowed border-zinc-150"
                placeholder="AAA"
                formControlName="sery"
                mask="UUU" />
              <input
                type="text"
                class="w-4/5 pl-4 py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border-2 border-solid rounded-0.5xl focus:outline-none focus:border-lime-550 disabled:cursor-not-allowed border-zinc-150"
                formControlName="number"
                placeholder="0000000"
                mask="0000000" />
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #oil>
        <div class="flex flex-col space-y-2">
          <label class="font-semibold text-sm text-neutral-550">
            {{ 'transport.last-replacement-date' | translate }}
          </label>
          <div class="flex items-center relative w-full">
            <app-ui-svg-icon
              path="./assets/icons/calendar.svg#calendar-duotone"
              svgClass="icon-6 absolute top-1/2 left-2.5 -translate-y-1/2 text-lime-550"></app-ui-svg-icon>
            <input
              type="text"
              class="w-full pl-[42px] py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border border-solid border-zinc-150 rounded-0.5xl focus:outline-lime-550 input-date-appearance-none"
              formControlName="date"
              [placeholder]="'mask.dateWithSlashUpper' | translate"
              [specialCharacters]="['/']"
              [dropSpecialCharacters]="false"
              mask="0000/00/00" />
          </div>
        </div>
        <div class="flex flex-col space-y-2">
          <label class="font-semibold text-sm text-neutral-550">
            {{ 'transport.mileage-last-change' | translate }}
          </label>
          <div class="flex items-center relative w-full">
            <input
              type="text"
              class="w-full pl-4 py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border border-solid border-zinc-150 rounded-0.5xl focus:outline-lime-550"
              formControlName="currentKm" />
            <span
              class="absolute -translate-x-1/2 -translate-y-1/2 right-1 top-1/2 text-lime-550 font-medium text-sm"
              >{{ 'transport.km' | translate }}</span
            >
          </div>
        </div>
        <div class="flex flex-col space-y-2">
          <label class="font-semibold text-sm text-neutral-550">
            {{ 'transport.mileage-per-change' | translate }}
          </label>
          <div class="flex items-center relative w-full">
            <input
              type="text"
              class="w-full pl-4 py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border border-solid border-zinc-150 rounded-0.5xl focus:outline-lime-550"
              formControlName="oilKm" />
            <span
              class="absolute -translate-x-1/2 -translate-y-1/2 right-1 top-1/2 text-lime-550 font-medium text-sm"
              >{{ 'transport.km' | translate }}</span
            >
          </div>
        </div>
        <div class="flex flex-col space-y-2">
          <label class="font-semibold text-sm text-neutral-550">
            {{ 'transport.daily-mileage' | translate }}
          </label>
          <div class="flex items-center relative w-full">
            <input
              type="text"
              class="w-full pl-4 py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border border-solid border-zinc-150 rounded-0.5xl focus:outline-lime-550"
              formControlName="dailyKm" />
            <span
              class="absolute -translate-x-1/2 -translate-y-1/2 right-1 top-1/2 text-lime-550 font-medium text-sm"
              >{{ 'transport.km' | translate }}</span
            >
          </div>
        </div>
        <div class="flex flex-col space-y-2">
          <label class="font-semibold text-sm text-neutral-550">
            {{ 'transport.oil-brand' | translate }}
          </label>
          <input
            type="text"
            class="w-full pl-4 py-3 text-sm text-black placeholder:text-gray-550 bg-cyan-75 border border-solid border-zinc-150 rounded-0.5xl focus:outline-lime-550"
            formControlName="oilBrand" />
        </div>
      </ng-template>
    </div>

    <button
      class="btn btn-fill mt-auto"
      type="submit"
      [disabled]="form.invalid">
      {{
        type === 'add'
          ? ('common.add' | translate)
          : ('common.edit' | translate)
      }}
    </button>
  </ng-template>
</form>
