<app-page-layout backLink=".." title="{{ 'salaryStatements.employees' | translate }}">
  <div class="bg-white rounded-xl py-3 px-5">
    <div class="flex space-x-3 items-center">
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>

        <input
          class="outline-none focus:border-[#008C79] py-[5px] px-2.5 ps-10 text-sm border border-gray-300 rounded-lg"
          [formControl]="search"
          placeholder="Поиск"/>
      </div>

      <button
        type="button"
        class="bg-white py-[6px] rounded-[10px] px-3 flex space-x-2 items-center border border-[#EDEDED] focus:outline-none focus:border-[#008C79]"
        [matMenuTriggerFor]="types">
          <span class="text-center justify-start text-[#2C3531] text-sm font-normal leading-tight">
            {{ selectedType().value ? selectedType().key : 'Тип карты' }}
          </span>

        <img src="assets/svg/chevron-down-1.svg">
      </button>

      <button
        type="button"
        class="bg-white py-[6px] rounded-[10px] px-3 flex space-x-2 items-center
           border border-[#EDEDED] focus:outline-none focus:border-[#008C79]"
        [matMenuTriggerFor]="statuses">
          <span class="text-center justify-start text-[#2C3531] text-sm font-normal leading-tight">
            {{ selectedStatus().value ? selectedStatus().key : 'Статус' }}
          </span>

        <img src="assets/svg/chevron-down-1.svg">
      </button>
    </div>

    <app-data-state-wrapper
      [loading]="isLoading()"
      [totalLength]="employees().length"
      [filteredLength]="filteredEmployees().length"
      emptyTitle="Ничего не найдено"
      emptyDescription="Попробуйте изменить параметры запроса">

      <table class="w-full mt-4">
        @for (employee of filteredEmployees(); track employee.uuid; let i = $index) {
          <tr>
            <td
              class="w-12 text-[#AEAEAE] font-normal text-sm leading-[18px] px-2 py-2"> {{ (i + 1) < 10 ? '0' + (i + 1) : (i + 1) }}
            </td>
            <td class="px-3 py-3">
              <div class="flex items-center gap-3">
                <div class="bg-[#F5F5F5] rounded-[16px] w-12 h-12 flex justify-center items-center">
                  @if (employee.type === 'UZCARD') {
                    <img src="assets/new-icons/uzcard.svg" height="32" width="32">
                  } @else {
                    <img src="assets/svg/humo-logo.svg" height="32" width="32">
                  }
                </div>
                <div>
                  <div class="font-medium uppercase leading-5 text-[16px]">{{ employee.ownerName }}</div>
                  <div class="flex items-center space-x-2">
                    <div class="h-6 w-6 p-0.5 rounded-[9px] bg-[#F7F7F7] flex justify-center items-center">
                      @if (employee.status === 'ACTIVE') {
                        <img src="assets/new-icons/active-account.svg" height="12" width="12">
                      }
                    </div>
                    <div class="text-[#5C5C5C]  text-xs font-medium">
                      {{ employee.status === 'ACTIVE' ? 'Активный' : 'Не активный' }}
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="px-3 py-2">
              <div class="font-normal text-[#808080] text-sm">Номер карты</div>
              <div class="text-[#101010] text-[16px] font-normal">{{ employee.pan }}</div>
            </td>
            <td class="px-3 py-2">
              <div class="text-[#808080] text-sm">Срок</div>
              <div class="text-[#101010] text-[16px] font-normal">{{ formatExpireDate(employee.expiryDate) }}</div>
            </td>
          </tr>
        }
      </table>

    </app-data-state-wrapper>

  </div>

  @if (filteredEmployees().length) {
    <app-pagination
      [pageIndex]="pageIndex()"
      [pageSize]="pageSize()"
      [totalItems]="totalItems()"
      (pageChange)="pageIndex.set($event); getEmployees()"
      (pageSizeChange)="pageSize.set($event); pageIndex.set(0); getEmployees()">
    </app-pagination>
  }

  <mat-menu #types="matMenu" xPosition="after" class="menu-actions">
    @for (type of salaryTypeCards(); track type.value) {
      <div
        class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-[#F7F7F7] hover:rounded-[6px]"
        (click)="selectCardType(type)">
        @if (type.value === 'HUMO') { <img src="./assets/svg/humo-logo.svg" height="20" width="20" alt="#"> }
        @if (type.value === 'UZCARD') { <img src="./assets/new-icons/uzcard.svg" alt="#"> }
        <div class="justify-start hover:text-[#171717] text-zinc-600 text-sm font-medium  leading-tight">
          {{type.key}}
        </div>
      </div>
    }
  </mat-menu>

  <mat-menu #statuses="matMenu" xPosition="after" class="menu-actions">
    @for (type of salaryStatusCards(); track type.value) {
      <div
        class="flex items-center gap-1 px-1.5 py-2 rounded-[10px] hover:bg-[#F7F7F7] cursor-pointer"
        (click)="selectCardStatus(type)">
        @if (type.icon && type.svgClass) {
          <div class="w-6 h-6 bg-[#f7f7f7] rounded-lg p-[6px]">
            <app-icon [icon]="type.icon" [svgClass]="type.svgClass" size="12"></app-icon>
          </div>
        }

        <p class="text-xs text-[#5c5c5c] font-medium">{{ type.key }}</p>
      </div>
    }
  </mat-menu>
</app-page-layout>
