@import 'mixins';

.themeMixin({
  :host {
    .error {
      ::ng-deep .ant-checkbox-inner {
        border-color: @error-color;
        background: @error-bg-color;
      }
    }
  }
});

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .media(@media-sm, {
    flex-direction: column;
    row-gap: 30px;
    align-items: stretch;
  });
}
