<ng-container *transloco="let t">
  @let showErrors = dirty() || touched();
  <nz-form-item>
    <nz-form-control
      [nzValidateStatus]="firstError() | validationStatus: showErrors"
      [nzHasFeedback]="isFeedback()"
      [nzErrorTip]="showErrors && firstError() ? t(firstError() | validationMsg: true, { count: errorCount() }) : null"
      [nzValidatingTip]="showErrors && firstError() ? t(firstError() | validationMsg: true, { count: errorCount() }) : null"
      [nzWarningTip]="showErrors && firstError() ? t(firstError() | validationMsg: true, { count: errorCount() }) : null"
      [nzSuccessTip]="showErrors && firstError() ? t(firstError() | validationMsg: true, { count: errorCount() }) : null"
    >
      <nz-input-wrapper [nzPrefix]="prefix()" [nzSuffix]="suffix()">
        <input
          nz-input
          [mask]="mask()"
          [prefix]="maskPrefix()"
          [placeholder]="placeholder() ?? t('control.input.placeholder')"
          [nzSize]="size()"
          [id]="id()"
          [(ngModel)]="value"
          [disabled]="disabled()"
          (blur)="onBlur()"
          (focus)="focusChange.emit()"
          (click)="clicked.emit()"
        />
      </nz-input-wrapper>
    </nz-form-control>
  </nz-form-item>
</ng-container>
