<div class="organization mt-2 p-5" *ngIf="userInfoItems()">
  <div class="">
    <div class="flex items-center justify-between border-b pb-6">
      <div class="w-1/2">
        <h2 class="text-balance text-[#171717] font-medium "> {{'settings.password' | translate}}</h2>
        <p class="text-sm font-normal mt-1 text-[#5c5c5c]"> {{'settings.password_usage' | translate}}</p>
      </div>
      <div class="w-1/2 flex items-center space-x-3">
        <div class="flex items-center cursor-pointer  text-[#00A38D]">
          <button  (click)="changePasswordDialog()"  class="cursor-pointer text-sm">{{'settings.change_password' | translate}}</button>
          <span class="ml-[10px]">
        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.73911 5.7448L0.0266113 2.0323L1.08711 0.971802L5.86011 5.7448L1.08711 10.5178L0.0266113 9.4573L3.73911 5.7448Z" fill="#008C79" />
        </svg>
        </span>
        </div>

      </div>
    </div>

    <div class="flex items-center justify-between mt-5">
      <div  class="w-1/2">
        <h2 class="text-balance text-[#171717] font-medium"> {{'new_second.trusted_devices' | translate}}</h2>
        <p class="text-sm font-normal mt-1 text-[#5c5c5c]">{{'settings.active_devices_count' | translate}}</p>
      </div>
      <div class="w-1/2 items-center space-x-4">
        <span class="text-sm font-normal text-[#171717]">{{deviceList()?.length ? deviceList().length : 0}} {{'settings.devices_count' | translate}}</span>
        <div class="flex items-center w-[86px] cursor-pointer   text-[#00A38D] !m-0">
          <button (click)="openSessionslDialog()" class="cursor-pointer text-sm">{{'settings.view' | translate}}</button>
          <span class="ml-[10px]">
             <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.73911 5.7448L0.0266113 2.0323L1.08711 0.971802L5.86011 5.7448L1.08711 10.5178L0.0266113 9.4573L3.73911 5.7448Z" fill="#008C79" />
             </svg>
        </span>
        </div>

      </div>
    </div>
  </div>

</div>
