<ng-container *ngIf="isLoading; else content">
  <span class="skeleton block w-[335px] h-[184px] rounded-xl"></span>
</ng-container>
<ng-template #content>
  <div class="rounded-xl w-[335px] p-3 relative overflow-hidden">
    <div class="absolute -m-[21px] top-0 bottom-0 left-0 right-0">
      <img
        src="./assets/images/transport/license.png"
        alt="cover"
        class="w-full h-full" />
    </div>
<!--    <app-ui-circle-progress-->
<!--      strokeColor="#3C5D4C"-->
<!--      fillStrokeColor="#62C069"-->
<!--      [progress]="progress"-->
<!--      [isAnimating]="isAnimating"></app-ui-circle-progress>-->
    <span
      class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 -right-2.5 z-10 text-white max-w-[40px]">
      {{ licenseDate }}
    </span>

    <div class="relative">
      <div class="flex items-center gap-2 mb-[30px]">
        <div class="p-1 rounded-md bg-white/[0.12]">
          <app-ui-svg-icon
            path="./assets/icons/transports/transports-nav.svg#id"
            svgClass="icon-7 text-white"></app-ui-svg-icon>
        </div>
        <div class="flex flex-col space-y-0.5">
          <p class="text-white text-sm font-semibold">
            {{ 'transport.driver-license' | translate }}
          </p>
          <span class="text-gray-550 text-xs">{{ lisence.fio }}</span>
        </div>
      </div>

      <div class="flex items-start mb-3 space-x-4">
        <div class="space-y-0.5">
          <p class="text-xs text-white/50 font-medium">
            {{ 'transport.category' | translate }}
          </p>
          <span class="text-sm text-white font-semibold">{{
            lisence.categories
          }}</span>
        </div>
        <div class="space-y-0.5">
          <p class="text-xs text-white/50 font-medium">
            {{ 'transport.series-and-number' | translate }}
          </p>
          <span class="text-sm text-white font-semibold">{{
            lisence.serialNumber
          }}</span>
        </div>
      </div>

      <div class="space-y-0.5">
        <p class="text-xs text-white/50 font-medium">
          {{ 'transport.expire-date' | translate }}
        </p>
        <span class="text-sm text-white font-semibold">{{
          lisence.endDate
        }}</span>
      </div>
    </div>
  </div>
</ng-template>
