<div class="bg-white p-8 rounded-[42px] setting-dark-light-box">
  <div class=" bg-white relative">
    <mat-icon class="absolute right-0 cursor-pointer !w-8 !h-8 !flex !justify-center !items-center !bg-[#f5f5f5] !rounded-[6px]" mat-dialog-close>close</mat-icon>
    <div class="px-[120px] w-full h-full flex flex-col">
      <div class="flex flex-1 flex-col items-center">
        <div class="flex flex-col w-[400px] items-center gap-8 my-auto mt-7">
          <div class="flex flex-col items-center gap-1">
            <h3 class="text-[32px] font-bold">

              @if (('global.lang' | translate) === 'ru' || ('global.lang' | translate) === 'en'){
                <span >
               <span>{{'authorization.enter_sms_code' | translate}} </span> <span class="text-[#00A38D]"> Email</span>
              </span>
              } @else {
                <span >
               <span class="text-[#00A38D]">Email</span>  <span> {{'authorization.enter_sms_code' | translate}}</span>
              </span>
              }


            </h3>

            <span class="text-center">{{'authorization.email_code_sent' | translate}} {{maskedEmail}}</span>
          </div>
          <div>
            <app-ui-otp-input
              [count]="6"
              [isOtpIncorrect]="errorStatus()"
              (otpComplete)="handleOtp($event)"
              (inputChange)="changeInput($event)">
            </app-ui-otp-input>
          </div>
          <div *ngIf="errorStatus()" class="text-center font-normal text-sm text-[#ff3b30]">{{errorMessage()}} </div>
          <div class="flex flex-col gap-2 w-full">
            @if (countdown()) {
              <button class="border-[#F5F5F5] w-full h-[56px] bg-[#F5F5F5] rounded-[13px]">{{'authorization.resend_sms_timer' | translate}}: 00:{{(countdown() < 10 )? "0"+countdown() : countdown()}}</button>

            } @else {
              <button (click)="resendOtpCode()" class="border-[#008C79] w-full h-[56px] bg-[#008C79] text-white rounded-[13px]">{{'authorization.resend_sms_timer' | translate}}</button>

            }
<!--            <button class="border-[#F5F5F5] w-full h-[56px] bg-[#F5F5F5] rounded-[13px]">{{'authorization.resend_sms_timer' | translate}}: 00:{{(countdown() < 10 )? "0"+countdown() : countdown()}}</button>-->

<!--            <button class="border-2 w-full h-[56px] border-[#EBEBEB] rounded-[13px]">Нет доступа к номеру?</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



