<ng-container *transloco="let t">
  <cf-card [title]="t('prop.general_info')" [showSpace]="true" class="bordered bottom">
    <cf-steps [stepsLength]="2" [currentStep]="1" class="step" />

    <div class="col">
      <div class="row">
        <cf-label-control-secondary [label]="t('prop.name')">NUKUS CRAFTPUB JMK</cf-label-control-secondary>

        <cf-label-control-secondary [label]="t('prop.ownership_form')">
          Собственность хозяйственных обществ
        </cf-label-control-secondary>

        <cf-label-control-secondary [label]="t('prop.registration_date')">04.06.2025</cf-label-control-secondary>
      </div>

      <div class="row">
        <cf-label-control-secondary [label]="t('prop.pinfl')">
          <span class="rowe">123123123123</span>
        </cf-label-control-secondary>

        <cf-label-control-secondary [label]="t('prop.registration_number')">
          <span class="rowe">123123123123</span>
        </cf-label-control-secondary>
      </div>

      <div class="row">
        <cf-label-control-secondary [label]="t('prop.registration_authority')">35401</cf-label-control-secondary>

        <cf-label-control-secondary [label]="t('prop.legal_form')">Частное предприятие</cf-label-control-secondary>
      </div>

      <div class="row bottom-gap">
        <cf-select-default [placeholder]="t('prop.oked')" size="large">
          <nz-option [nzValue]="56100" [nzLabel]="'56100 - Рестораны и услуги по доставке продуктов питания'"></nz-option>
          <nz-option [nzValue]="56101" [nzLabel]="'56101 - Рестораны и услуги по доставке продуктов питания'"></nz-option>
          <nz-option [nzValue]="56102" [nzLabel]="'56102 - Рестораны и услуги по доставке продуктов питания'"></nz-option>
        </cf-select-default>

        <cf-input-number [placeholder]="t('prop.employee_count')" size="large" />

        <cf-input-number [placeholder]="t('prop.new_jobs_count')" size="large" />
      </div>
    </div>
  </cf-card>
</ng-container>
