<cf-card [title]="'Общая информация'" [showSpace]="true" class="bordered bottom">
  <cf-steps [stepsLength]="2" [currentStep]="1" class="step" />

  <div class="col">
    <div class="row">
      <cf-label-control-secondary [label]="'Наименование ЮЛ/ИП:'">NUKUS CRAFTPUB JMK</cf-label-control-secondary>
      <cf-label-control-secondary [label]="'Форма собственности:'">Собственность хозяйственных обществ</cf-label-control-secondary>
      <cf-label-control-secondary [label]="'Дата регистрации:'">04.06.2025</cf-label-control-secondary>
    </div>

    <div class="row">
      <cf-label-control-secondary [label]="'ИНН/ПИНФЛ:'">
        <span class="rowe">123123123123</span>
      </cf-label-control-secondary>

      <cf-label-control-secondary [label]="'Регистрационный номер:'">
        <span class="rowe">123123123123</span>
      </cf-label-control-secondary>
    </div>

    <div class="row">
      <cf-label-control-secondary [label]="'Орган регистрации:'">35401</cf-label-control-secondary>

      <cf-label-control-secondary [label]="'Организационно-правовая форма:'">Частное предприятие</cf-label-control-secondary>
    </div>

    <div class="row bottom-gap">
      <cf-select-default placeholder="Окед" size="large">
        <nz-option [nzValue]="56100" [nzLabel]="'56100 - Рестораны и услуги по доставке продуктов питания'"></nz-option>
        <nz-option [nzValue]="56101" [nzLabel]="'56101 - Рестораны и услуги по доставке продуктов питания'"></nz-option>
        <nz-option [nzValue]="56102" [nzLabel]="'56102 - Рестораны и услуги по доставке продуктов питания'"></nz-option>
      </cf-select-default>
      <cf-input-number placeholder="Количество работников" size="large" />
      <cf-input-number placeholder="Количество новых рабочих мест" size="large" />
    </div>
  </div>
</cf-card>
