<div class="p-5 rounded-2xl bg-white dark:bg-[#181818] dark:border dark:border-[#333]">
  <div class="flex justify-end">
    <div (click)="_dialogRef.close()" class="p-[6px] flex items-center justify-center bg-surface-1 rounded-md">
      <mat-icon class="w-5 h-5 dark:text-white">close</mat-icon>
    </div>
  </div>
  @if (data.icon) {
  <div class="p-4 w-[68px] h-[68px] flex items-center justify-center my-2 bg-surface-1 rounded-full ">
    @if (data.isMatIcon) {
    <mat-icon class="w-[36px] h-[36px] flex items-center justify-center">{{data.icon}}</mat-icon>
    }@else {
    <div class="flex items-center justify-center">
      <app-svg-icon [name]="data.icon" [style.color]="data.iconColor"
        class="w-[36px] h-[36px] flex items-center justify-center"></app-svg-icon>
    </div>
    }
  </div>
  }
  <div>
    <p class="text-strong-950 font-bold text-[28px] dark:text-white">{{data.title}}</p>
    @if (data.text) {
    <p class="text-sub-600 text-base mt-2">{{data.text}}</p>
    }
  </div>
  <div class="mt-[48px] flex items-center gap-2 w-full">
    <button (click)="_dialogRef.close()"
      class="dark:bg-[#262626] dark:text-white bg-soft-200 rounded-[12px] w-full p-3 text-sub-600 border-none font-semibold text-base">
       {{'story.cancel' | translate}}
    </button>
    <button (click)="_dialogRef.close('success')"
      class="bg-[#00A38D] rounded-[12px] w-full p-3 text-white border-none font-semibold text-base">
        {{'settings.confirm' | translate}}
    </button>
  </div>
</div>
