<div class="bg-white p-6 rounded-lg">
  <button class="absolute justify-center items-center top-0 rounded-full p-[1.5px] right-0 flex bg-white"
          (click)="dialogRef.close()">
    <mat-icon class="text-base font-bold rounded-full border-[1.5px] border-[#A1A1A1]">close</mat-icon>
  </button>

  <div
    class="text-22 font-medium text-black mb-3"
    (click)="directorSignConfirm()"
  >Ключ</div>

  <form [formGroup]="signConfirmForm" (ngSubmit)="submit()" class="border-1px  border-secondary rounded-xl p-4">
    <label
      class="text-base font-semibold leading-normal not-italic text-black"
      (click)="headOfFinanceSignConfirm()"
    >{{ 'new.select_a_key' | translate }}</label>

    <mat-form-field class="w-full" appearance="outline">
      <mat-select formControlName="espKey" [placeholder]="'new.select_a_key' | translate">
        @for (key of styxInfos();  track key){
          <mat-option [value]="key.thumbprint">{{ key.fio }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="flex mt-4 gap-x-4">
      <button type="button" class="w-full h-[38px] bg-[#EBECF6] text-[#B0B8C1] rounded-xl" (click)="dialogRef.close()">Отменить</button>
      <button type="submit"
              [disabled]="signConfirmForm.invalid"
              [ngClass]="signConfirmForm.valid ? 'text-white bg-secondary' : 'text-[#B0B8C1] bg-disabled-button cursor-not-allowed'"
              class="h-[38px] flex justify-center items-center rounded-xl w-full">Подтвердить</button>
    </div>
  </form>
</div>
