:host {
  display: block;
  max-width: 420px;
}

mat-form-field {
  width: 100%;
}
.password-input {

}
 ::ng-deep .password-input .mat-mdc-text-field-wrapper {
   outline: 1px solid #008077;
   border-radius: 13px;
}
.lamp-box .yellow-lamp {
  display: none;
}
.lamp-box:hover .yellow-lamp {
  //display: block !important;
}
.lamp-box:hover .gray-lamp {
  display: none !important;
}
.form-text-box {
  position: absolute;
  z-index: 9999;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 24px;
  padding: 10px 16px;
  width: 450px;
}
.lamp-box {
  position: relative;
}
.green-lamp {
  display: none;
}

.lamp-box:hover .green-lamp {
   display: block !important;
 }
.lamp-box:hover .form-text-box  {
  display: block !important;
}
