<div class="h-full flex flex-col gap-y-5 p-[30px] bg-white rounded-[15px] relative">
  <app-container-nav
    [navs]="navs"
  ></app-container-nav>

  <app-container-title
    [title]="title"
  ></app-container-title>

  <div class="flex items-center gap-x-5">
    <app-table-actions
      [tableActionBtns]="AmbulanceTableActionsBtns"
      (onClick)="onActionClick($event)"
    ></app-table-actions>

    <div class="flex items-center gap-x-2">
      <button
        class="bg-[#3D96FF] rounded-[5px] px-5 py-2.5 h-10 leading-[22px] text-sm text-white"
      >
        Оплатить безналичными
      </button>

      <button
        class="bg-[#3D96FF] rounded-[5px] px-5 py-2.5 h-10 leading-[22px] text-sm text-white"
      >
        Отозвать
      </button>
    </div>
  </div>

  <app-container-table
    [columns]="tableColumns"
    [data]="data"
    [actionTemplate]="bookingActionTemplate"
    (rowClicked)="openDetails($event)"
    [loading]="loading"
    [custom]="true"
    [numbering]="true"
    [errorMessage]="errorMessage"
    [size]="pageSize"
    (selectedRows)="onSelectedRows($event)"
  ></app-container-table>


  <app-paginator
    [itemsPerPage]="pageSize"
    [currentPage]="page"
    [totalItems]="totalItems"
    (pageChange)="pageChanged($event)"
  ></app-paginator>
</div>


<ng-template #bookingActionTemplate let-row>
  <div class="w-full h-full cursor-pointer flex items-center justify-center" (click)="$event.stopPropagation()" [matMenuTriggerFor]="actionsPayments">
    <img ngSrc="./assets/svg/more.svg" alt="more" width="24" height="24">
  </div>
  <mat-menu #actionsPayments="matMenu" xPosition="before" class="menu-actions">
    <button
      (click)="openDetails(row)" class="w-full p-2 flex gap-x-2 items-center cursor-pointer"
    >
      <img class="min-w-[24px]" ngSrc="./assets/svg/info-circle.svg" alt="info" width="24" height="24">
      <div class="text-xs">Документ</div>
    </button>
  </mat-menu>
</ng-template>
