<ng-container *transloco="let t">
  <cf-card [title]="t('prop.conditions')" [showSpace]="true" class="bordered">
    <div class="product-info__row">
      <cf-label-control
        [icon]="'f:money'"
        [label]="t('prop.loan_amount', { amount: loanAmount() | number, prefix: loanAmount() | pluralize: 'money': false})"
      >
        {{t('prop.loan_amount_full')}}
      </cf-label-control>

      <cf-label-control
        [icon]="'f:calendar'"
        [label]="t('prop.loan_term', { years: loanTerm() | number ,prefix: loanAmount() | pluralize: 'year': false })"
      >
        {{t('prop.loan_term_full')}}
      </cf-label-control>

      <cf-label-control
        [icon]="'f:percent'"
        [label]="t('prop.loan_percent', { percent: annualRate() | number, prefix: loanAmount() | pluralize: 'money'})"
      >
        {{t('prop.loan_percent_full')}}
      </cf-label-control>

      @if (isGuarant()) {
      <cf-label-control [icon]="'f:shield'" [label]="t('prop.guarant')">{{t('prop.no_collateral')}}</cf-label-control>
      }
    </div>
  </cf-card>
</ng-container>
