@import 'mixins';
@import 'colors';

:host {
  display: block;

  .product-info__row {
    display: flex;
    align-items: stretch;
  }

  cf-label-control {
    flex: 1;
    align-items: center;
    text-align: center;
    padding: 4px 12px;
    gap: 4px;

    &:not(:last-child) {
      border-right: 1px solid @cf-gray-200;
    }
  }

  .media(@media-sm, {
        .product-info__row {
            flex-direction: column;
        }

        cf-label-control {
            padding: 12px 8px;

            &:not(:last-child) {
                border-right: none;
                border-bottom: 1px solid @cf-gray-200;
            }
        }
    });
}
