<ng-container *transloco="let t">
  <cf-card [showSpace]="true" class="bordered">
    <div class="logo">
      <nz-icon nzType="c:oneId" />
    </div>

    <h2 nz-typography class="title">{{ t('flow.one_id.instruction.title') }}</h2>

    <div class="list">
      @for (step of steps(); track step.number; let last = $last) {
      <cf-one-id-instruction-step [number]="step.number" [title]="t(step.title)" [description]="t(step.description)" [done]="last" />

      @if (step.number === noteAfterStep) {
      <div class="note">
        <nz-icon nzType="info-circle" />
        <span nz-typography>{{ t('flow.one_id.instruction.ip_note') }}</span>
      </div>
      } }
    </div>
  </cf-card>

  <div class="actions">
    <button cfBounce nz-button nzType="default" nzSize="large" (clicked)="back.emit()">{{ t('action.back') }}</button>

    <button cfBounce nz-button nzType="primary" nzSize="large" (clicked)="goToOneId.emit()">{{ t('action.go_to_one_id') }}</button>
  </div>
</ng-container>
