<ng-container *transloco="let t">
  <cf-card class="card">
    <nz-skeleton-element nzType="button" [nzActive]="true" [nzSize]="'large'" class="skeleton" />

    <div class="card-advantage" [ngClass]="{hidden: isLoading()}">
      <div class="card-advantage__text">
        <h2 nz-typography>{{t( title()) }}</h2>
        <p nz-typography>{{ t(description()) }}</p>
      </div>
      <div class="card-advantage__media">
        <img class="card-advantage__photo" [ngSrc]="photo()" [alt]="title()" loading="lazy" width="40" height="40" />
      </div>
    </div>
  </cf-card>
</ng-container>
