<div class="flex flex-col gap-y-5">
  <div class="text-[16px] leading-[24px] text-[#7C8897]">
    {{ loan.shortDescription }}
  </div>

  <div class="flex gap-x-2">
    <div class="p-4 bg-[#eef2f5] rounded-[5px] flex flex-col gap-1">
      <span class="text-[#7c8897] text-sm leading-[17px] font-normal">Срок:</span>
      <span class="text-[#264796] text-sm leading-[17px] font-normal">до {{loan.period}} месяцев</span>
    </div>
    <div class="p-4 bg-[#eef2f5] rounded-[5px] flex flex-col gap-1">
      <span class="text-[#7c8897] text-sm leading-[17px] font-normal">Ставка:</span>
      <span class="text-[#264796] text-sm leading-[17px] font-normal">от {{ loan.percentage }}%</span>
    </div>
    <div class="p-4 bg-[#eef2f5] rounded-[5px] flex flex-col gap-1">
      <span class="text-[#7c8897] text-sm leading-[17px] font-normal">Льготный период:</span>
      <span class="text-[#264796] text-sm leading-[17px] font-normal">до {{loan.gracePeriod}} месяцев</span>
    </div>
    <div  class="p-4 bg-[#eef2f5] rounded-[5px] flex flex-col gap-1">
      <span class="text-[#7c8897] text-sm leading-[17px] font-normal">Максимальная сумма:</span>
      <span *ngIf="loan?.maxAmount" class="text-[#264796] text-sm leading-[17px] font-normal">{{(loan!.maxAmount / 100) | mask:'separator.2'}} UZS</span>
    </div>
  </div>
</div>
