<div class="payment-form relative gap-5 flex flex-col">
  <div class="flex py-[35px] items-center">
    <div (click)="backClick()" class="cursor-pointer gap-1 flex items-center">
      <img [ngSrc]='theme.isDark() ? "./assets/new-icons/back-icon-white.svg" : "./assets/new-icons/back-icon.svg"'
           [width]="12" [height]="12" alt="">
      <span class="text-[16px] text-custom-primary font-medium">{{'templates.back' | translate}}</span>
    </div>
  </div>
  <div class="flex items-center">
    <div class="flex gap-3 items-center flex-wrap">
      <div class="w-[320px] cursor-pointer h-[164px] bg-[#EBEBEB] flex justify-start items-center rounded-[24px]">
        <div class="w-[304px] h-[148px] m-auto bg-white py-4 rounded-[16px] flex gap-2 text-start justify-center flex-col">
          <p class="text-[14px] px-4 font-semibold ">{{ data()?.name?.length > 34 ? data()?.name?.slice(0, 34) + '...' : data()?.name }}</p>
          <mat-divider></mat-divider>
          <div class="flex px-4 py-1 items-center">
            <div class="flex flex-col items-start gap-1 w-[138px]">
              <div class="flex items-center">
                <img class="w-[15px] h-[15px]" src="./assets/new-icons/munis-office.svg" alt="">
                <p class="text-[10px] font-normal text-[#5c5c5c]">{{ 'createPayment.expenses_for' | translate }} {{ currentMonth() }}</p>
              </div>
              <h3 class="text-[14px] mx-1 font-semibold">{{ integerPart(data().expenseCurrentMonth.amount) }}.{{ decimalPart(data().expenseCurrentMonth.amount)}}</h3>
            </div>
            <div class="flex flex-col items-start gap-1 w-[138px]">
              <div class="flex items-center">
                <img class="w-[15px] h-[15px]" src="./assets/new-icons/munis-office-offline.svg" alt="">
                <p class="text-[10px] font-normal text-[#5c5c5c]">{{ 'createPayment.expenses_for' | translate }} {{ prevMonth() }}</p>
              </div>
              <h3 class="text-[14px] mx-1 font-semibold">{{ integerPart(data()?.expenseLastMonth.amount) }}.{{ decimalPart(data()?.expenseLastMonth.amount)}}</h3>
            </div>
          </div>
          <div *ngIf="!data()?.hasDebt" class="bg-[#E0FAEC] flex items-center w-[156px] gap-1 rounded-[6px] py-[4px] px-[6px] mx-4">
            <img class="w-[14px] h-[14px]" src="./assets/new-icons/status-done.svg" alt="">
            <p class="text-[12px] font-medium text-[#0B4627]">{{ 'createPayment.no_debts' | translate }}</p>
          </div>
          <div *ngIf="data()?.hasDebt" class="bg-[#FFEBEC] flex items-center w-[156px] gap-1 rounded-[6px] py-[4px] px-[6px] mx-4">
            <img class="w-[14px] h-[14px]" src="./assets/new-icons/error-service.svg" alt="">
            <p class="text-[12px] font-medium text-[#FB3748]">{{ 'createPayment.has_debts' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-2 items-center ml-12">
      <div (click)="editModal.set(true)" class="flex cursor-pointer items-center  w-[100px] flex-col gap-1">
        <img class="w-[50px] h-[50px]"  src="./assets/new-icons/edit-office.svg" alt="">
        <p class="text-[12px] font-medium text-[#171717]]">{{ 'createPayment.edit' | translate }}</p>
      </div>
      <div class="flex  items-center w-[100px] cursor-pointer flex-col gap-1" (click)="deleteModal.set(true)">
        <img  class="w-[50px] h-[50px]" src="./assets/new-icons/delete-office.svg" alt="">
        <p class="text-[12px] font-medium text-[#171717]]">{{ 'createPayment.delete' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="bg-surface-2 rounded-[24px] flex flex-col gap-5 p-[20px]  border border-custom-border">
    <div class="flex justify-between items-center">
      <h3 class="text-[18px] font-semibold text-[#171717]]">{{ 'createPayment.provider' | translate }}</h3>
      <button *ngIf="servicesList() && servicesList()!.length < 15"  (click)="addServiceToOffice()" class="bg-surface-2 flex gap-3 items-center rounded-[12px] px-[14px] py-[10px] border border-custom-border">
        <span class="text-[16px] font-semibold text-[#171717]]">{{ 'settings.add' | translate }}</span>
        <img src="./assets/new-icons/plus-icon.svg" alt="">
      </button>
    </div>
    <div *ngIf="loading()" class="grid grid-cols-2 gap-5">
      <div *ngFor="let service of skeletons" class="bg-surface-2 h-[120px] skeleton relative flex items-start gap-4 rounded-[20px] p-4 border border-custom-border">
      </div>
    </div>
    <div class="grid grid-cols-2 gap-5" *ngIf="!loading()">
      <div *ngFor="let service of servicesList()" (click)="navigateToCreateTransaction(service.parentService.title, service.parentService.id, service.service.id, service.service.title, service.id)" class="bg-surface-2 cursor-pointer relative flex items-start gap-4 rounded-[20px] p-4 border border-custom-border">
        <div>
          <img [width]="24" [height]="24" [src]="service.parentService.logo.path + service.parentService.logo.name" alt="">
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="text-[16px] text-[#171717] font-medium">{{ service.parentService.title }}</h3>
          <span class="text-[14px] text-[#A3A3A3] font-medium">{{ service.service.title }}</span>
          <div [ngClass]="{'text-[#0B4627] bg-[#E0FAEC]': service.balance.amount >= 0, 'text-[#FB3748] bg-[#FFEBEC]': service.balance.amount < 0}" class=" w-fit  flex gap-1 items-center py-1 px-1.5 rounded-[6px]">
            <span>{{ 'accounts.balance' | translate }}</span>
            <p>{{ integerPart(service.balance.amount) }}.{{ decimalPart(service.balance.amount)}} {{ service.balance.currency }}</p>
          </div>
<!--          <div class="bg-[#E0FAEC] text-[#0B4627] flex gap-1 items-center py-1 px-1.5 rounded-[6px]">-->
<!--            <span>Баланс</span>-->
<!--            <p>12 350 UZS</p>-->
<!--          </div>-->
        </div>
        <img (click)="$event.stopPropagation(); serviceId.set({officeId: service.id, id: service.service.id, name: service.service.title, parentName: service.parentService.title, parentId: service.parentService.id, logo: service.parentService.logo.path + service.parentService.logo.name })" [matMenuTriggerFor]="menu" class="w-[20px] cursor-pointer h-[20px] absolute right-[16px] top-[16px]" src="./assets/new-icons/dots-vertical.svg" alt="">
      </div>
    </div>
    <h3 *ngIf="servicesList()?.length === 0 && !loading()" class="flex justify-center  my-auto items-center">{{ 'accountStatements.noData' | translate }}</h3>
  </div>
  <app-delete-office-modal
    [title]="'createPayment.delete_dialog' | translate"
    [open]="deleteModal()"
    (cancel)="cancelDeleteModal()"
    (agree)="deleteOffice()">
  </app-delete-office-modal>
  <app-delete-office-modal
    [title]="'createPayment.delete_dialog' | translate"
    [open]="deleteModalService()"
    (cancel)="cancelDeleteServiceModal()"
    (agree)="deleteOfficeService()">
  </app-delete-office-modal>
  <app-create-title-modal
    [edit]="true"
    (agree)="editOffice()"
    (cancel)="cancelEditModal()"
    [open]="editModal()"
    [title]="officeName()"
    (setTitle)="officeName.set($event)"
  >
  </app-create-title-modal>
  <mat-menu #menu="matMenu" xPosition="before" class="menu-actions">
    <div (click)="this.deleteModalService.set(true)" class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-2 hover:rounded-[6px] transition-colors">
      <div class="w-[15px]">
        <img width="13" src="./assets/new-icons/close.svg" alt="#">
      </div>
      <div class="text-custom-secondary text-sm font-medium leading-5">{{'createPayment.delete' | translate}}</div>
    </div>
    <div (click)="redirectToEditMyOfficeService()" class="flex space-x-2 items-center p-[6px] cursor-pointer hover:bg-surface-2 hover:rounded-[6px] transition-colors">
      <div class="w-[15px]">
        <img width="15" src="./assets/new-icons/edit-outline.svg" alt="#">
      </div>
      <div class="text-custom-secondary text-sm font-medium leading-5">{{'createPayment.edit' | translate}}</div>
    </div>
  </mat-menu>

</div>
