@import 'mixins';
@import 'custom';

.themeMixin({
    :host {
        background: @component-background;

        p {
            color: @text-color-secondary;
        }
    }
});

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: @border-radius-xl;
  padding: 20px;
  min-height: 50svh;
  row-gap: 10px;

  h4 {
    font-weight: @font-weight-bold;
  }

  h4,
  p {
    text-align: center;
  }
}
