<ng-container class="m-0">
  <div class="pl-5">
    <div>
      <!-- Back button -->
      <div routerLink="/accounts" class="flex items-center py-3 mt-6 cursor-pointer">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 12H4M4 12L10 18M4 12L10 6" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="text-custom-primary"/>
        </svg>
        <span class="text-md font-medium pl-2 text-custom-primary">{{'global.back' | translate}}</span>
      </div>

      <!-- Card / Account info + actions -->
      <div class="mt-[30px] flex">
        <app-account-card (onDetails)="openDialogDetail()" [card]="accountCard()"></app-account-card>

        <!-- Action buttons -->
        <div class="px-4 flex items-center">
          <div class="flex items-center ml-[75px]">
            <!-- Create payment -->
            <div class="text-center cursor-pointer"
                 (click)="userService.hasAction('ACCOUNTS') ? createPayment() : {}"
                 [matTooltip]="userService.hasAction('ACCOUNTS') ? '' : 'У вас нет прав'"
                 [style.user-select]="userService.hasAction('ACCOUNTS') ? '' : 'none'"
                 [style.opacity]="userService.hasAction('ACCOUNTS') ? '1' : '0.3'"
                 [style.cursor]="userService.hasAction('ACCOUNTS') ? 'pointer' : 'not-allowed'"
                 *ngIf="accountInfo()?.accountType == 'Расчетный счет'">
              <div class="w-14 h-14 bg-primary-base rounded-full flex items-center justify-center mb-2 mx-auto">

                 <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2V22M2 12H22" stroke="white" stroke-width="2.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
             
              </div>
              <span class="text-sm font-semibold text-custom-primary">{{'main.create_payment' | translate}}</span>
            </div>

            <!-- Statements -->
            <div class="text-center ml-[64px] cursor-pointer no-select"
                 (click)="userService.hasAction('STATEMENTS') ? navigateToStatements() : {}"
                 [matTooltip]="userService.hasAction('STATEMENTS') ? '' : 'У вас нет прав'"
                 [style.user-select]="userService.hasAction('STATEMENTS') ? '' : 'none'"
                 [style.opacity]="userService.hasAction('STATEMENTS') ? '1' : '0.3'"
                 [style.cursor]="userService.hasAction('STATEMENTS') ? 'pointer' : 'not-allowed'">
              <div class="w-14 h-14 bg-surface-2 border border-custom-border rounded-full flex items-center justify-center mb-2 mx-auto">
                <img src="./assets/new-icons/file-plus-02.svg" alt="file-plus">
              </div>
              <span class="text-sm font-semibold text-custom-primary">{{'accounts.statement' | translate}}</span>
            </div>

            <!-- Details -->
            <!-- <div (click)="openDialogDetail()" class="text-center ml-[64px] cursor-pointer">
              <div class="w-14 h-14 bg-surface-2 border border-custom-border rounded-full flex items-center justify-center mb-2 mx-auto">
                <img src="./assets/new-icons/info-circle.svg" alt="info-circle">
              </div>
              <span class="text-sm font-semibold text-custom-primary">{{'accounts.details' | translate}}</span>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Status + Daily transactions -->
      <div class="my-10 flex items-center gap-10">

        <!-- @if (accountInfo()?.active) {
        <div class="flex items-center">
          <div class="w-[40px] h-[40px] bg-surface-2  rounded-full flex items-center justify-center">
            <img src="./assets/new-icons/active.svg" alt="active">
          </div>
          <span class="text-xs font-medium ml-2 text-custom-primary">{{'cardFileTwo.active_status' | translate}}</span>
        </div>
        } -->

        <!-- Inflows today -->
        <div class="flex cursor-pointer gap-2" *ngIf="dailyTransaction()">
          <div class="w-[40px] h-[40px] border border-custom-border bg-surface-2 rounded-full flex items-center justify-center">
          <svg
              width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.79079 1.21936C10.0697 0.940416 10.0697 0.488155 9.79079 0.209209C9.51184 -0.0697365 9.05958 -0.0697365 8.78064 0.209209L1.42857 7.56128V3.57143C1.42857 3.17694 1.10877 2.85714 0.714286 2.85714C0.319797 2.85714 0 3.17694 0 3.57143V9.28571C0 9.6802 0.319797 10 0.714286 10H6.42857C6.82306 10 7.14286 9.6802 7.14286 9.28571C7.14286 8.89123 6.82306 8.57143 6.42857 8.57143H2.43872L9.79079 1.21936Z"
                fill="#00A38D"></path>
            </svg>
          </div>
          <div class="flex flex-col gap-1">
            <p class="font-medium text-[11px] leading-3 text-custom-muted uppercase">{{'accounts.inflows_today' | translate}}</p>
            <p class="font-medium text-custom-primary text-base">
              {{integerPart(dailyTransaction()!.totalCredit.amount)}},{{decimalPart(dailyTransaction()!.totalCredit.amount)}} {{dailyTransaction()!.totalCredit.currency}}
            </p>
          </div>
        </div>

        <!-- Withdrawals today -->
        <div class="flex cursor-pointer gap-2" *ngIf="dailyTransaction()">
          <div class="w-[40px] h-[40px] border border-custom-border bg-surface-2 rounded-full flex items-center justify-center">
           <svg
              width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.57143 0C3.17694 0 2.85714 0.319797 2.85714 0.714286C2.85714 1.10877 3.17694 1.42857 3.57143 1.42857H7.56128L0.209209 8.78064C-0.0697365 9.05958 -0.0697365 9.51184 0.209209 9.79079C0.488155 10.0697 0.940416 10.0697 1.21936 9.79079L8.57143 2.43872V6.42857C8.57143 6.82306 8.89123 7.14286 9.28571 7.14286C9.6802 7.14286 10 6.82306 10 6.42857V0.714286C10 0.319797 9.6802 0 9.28571 0H3.57143Z"
                fill="#FF3B30"></path>
            </svg>
          </div>
          <div class="flex flex-col gap-1">
            <p class="font-medium text-[11px] leading-3 text-custom-muted uppercase">{{'accounts.withdrawals_today' | translate}}</p>
            <p class="font-medium text-custom-primary text-base">
              {{integerPart(dailyTransaction()!.totalDebit.amount)}},{{decimalPart(dailyTransaction()!.totalDebit.amount)}} {{dailyTransaction()!.totalDebit.currency}}
            </p>
          </div>
        </div>

      </div>
    </div>

    <div>
      <app-account-payments [accountNumber]="accountNumber"></app-account-payments>
    </div>
  </div>
</ng-container>