<div class="p-4 pt-6 bg-black rounded-3xl">
    <div class="p-4 pt-[20px] relative bg-white rounded-b-2xl w-[372px]">
        <div class="absolute flex gap-x-[3.48px] -left-1.5 -top-2">
          @for (item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]  ; track item){
            <span class="h-4 w-4 bg-black rounded-full"></span>
          }
        </div>
        <div class="flex mb-5">
            <app-ui-svg-icon path="./assets/icons/indicator-icons.svg#deposit-cheque"
                svgClass="w-16 h-16 mr-2"></app-ui-svg-icon>
            <div class="flex flex-col justify-between py-2">
                <p class="text-2xl leading-6 text-secondary font-medium">UZS <span class="text-black">500 000.00</span>
                </p>
                <p class="font-medium leading-none text-base text-[#05BC74]">Выполнено успешно</p>
            </div>
        </div>
        <ul class="mb-[117px]">
            <li class="flex justify-between items-center py-4 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">ID номер</span>
                <span class="flex items-center text-dark text-base font-medium">93847163
                    <app-ui-svg-icon path="./assets/icons/inputs-icons.svg#copy"
                        svgClass="w-6 h-6 ml-1 cursor-pointer"></app-ui-svg-icon>
                </span>
            </li>
            <li class="flex justify-between items-center py-4 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">Выбор типа</span>
                <span class="text-dark text-base font-medium">Вывод всей прибыли</span>
            </li>
            <li class="flex justify-between items-center py-4 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">Дата</span>
                <span class="text-dark text-base font-medium">08.02.2023, 21:12:06</span>
            </li>
            <li class="flex justify-between items-center py-4 border-b-[1px] border-secondary">
                <span class="text-[#A1A1A1]">Валюта</span>
                <span class="text-dark flex text-base font-medium">
                    <div class="rounded-full overflow-hidden mr-1">
                        <app-ui-svg-icon matDatepickerToggleIcon path="./assets/icons/flag-icons.svg#uzb"
                            svgClass="w-6 h-6"></app-ui-svg-icon>
                    </div>
                    UZS
                </span>
            </li>
            <li class="flex justify-between items-center pt-[18.5px]">
                <span class="text-[#A1A1A1]">Pасчетный счет</span>
                <span class="text-dark text-base font-medium">12345678901234</span>
            </li>
        </ul>
        <button matRipple class="w-full h-10 font-medium bg-secondary text-white rounded-xl" (click)="dialogRef.close()">Назад домой</button>
    </div>
    <div class="flex justify-between items-center px-[34px]">
        <button matRipple  class="w-20 h-[84px] flex flex-col justify-center items-center">
            <app-ui-svg-icon path="./assets/icons/btn-icons.svg#deposit_cheque_save" svgClass="w-6 h-6 mb-2"></app-ui-svg-icon>
            <p class="text-xs font-medium text-white">Сохранить</p>
        </button>
        <span class="w-[1px] h-[34px] bg-border_secondary"></span>
        <button matRipple  class="w-20 h-[84px] flex flex-col justify-center items-center">
            <app-ui-svg-icon path="./assets/icons/btn-icons.svg#deposit_cheque_pdf" svgClass="w-6 h-6 mb-2"></app-ui-svg-icon>
            <p class="text-xs font-medium text-white">PDF файл</p>
        </button>
        <span class="w-[1px] h-[34px] bg-border_secondary"></span>
        <button matRipple  class="w-20 h-[84px] flex flex-col justify-center items-center">
            <app-ui-svg-icon path="./assets/icons/btn-icons.svg#deposit_cheque_share" svgClass="w-6 h-6 mb-2"></app-ui-svg-icon>
            <p class="text-xs font-medium text-white">Поделиться</p>
        </button>
    </div>
</div>
