<div class="p-[30px] bg-white rounded-[15px] h-full flex flex-col gap-y-5 relative">
  <app-container-nav [navs]="navs"></app-container-nav>

  <app-container-title
    [title]="title"
  ></app-container-title>

  <div class="flex flex-col gap-y-[30px]" [formGroup]="accreditForm">
    <div class="leading-[24px] text-[20px]">Импортный</div>

    <div class="grid grid-cols-2 gap-5">
      <mat-form-field
        class="small w-full"
        appearance="outline"
        [ngClass]="{
                'required': accreditForm.get('amount')?.invalid && accreditForm.get('amount')?.touched,
              }"
      >
        <mat-label>Сумма аккредитива</mat-label>

        <input
          matInput
          formControlName="amount"
          placeholder="Введите сумму"
          mask="separator.2"
        >
      </mat-form-field>

      <mat-form-field
        class="small w-full"
        appearance="outline"
        [ngClass]="{
                'required': accreditForm.get('currency')?.invalid && accreditForm.get('currency')?.touched,
              }"
      >

        <mat-label>Валюта</mat-label>
        <mat-select formControlName="currency">
          @for(curr of currencies; track curr) {
            <mat-option [value]="curr.name">{{ curr.name }}</mat-option>
          }
        </mat-select>
        <mat-icon matSuffix>
          <img ngSrc="./assets/svg/chevron-down.svg" class="rotate-90" alt="chevron" width="24" height="24">
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col">
      <div class="font-medium">Для открытия импортного аккредитива необходимо отправить в банк следующие документы:</div>

      <app-file-loader
        title="Заявление"
        description="Подписанное заявление на открытие безотзывного документарного аккредитива"
        (downloaded)="updateAttachment($event, 'attachment1')"
        [touched]="isTouched('attachment1')"
      ></app-file-loader>

      <app-file-loader
        title="Договор "
        description="Подписанный договор об открытии аккредитивов"
        (downloaded)="updateAttachment($event, 'attachment2')"
        [touched]="isTouched('attachment2')"
      ></app-file-loader>

      <app-file-loader
        title="Контракт"
        description="Заверенная копия импортного контракта"
        (downloaded)="updateAttachment($event, 'attachment3')"
        [touched]="isTouched('attachment3')"
      ></app-file-loader>
    </div>

    <div class="flex self-end gap-x-4">
      <button
        appLocationBack
        class="w-[220px] px-5 py-2.5 text-center text-sm h-[40px] rounded-[5px] leading-[16px] bg-[#EFF4F9]"
      >
        Отмена
      </button>

      <button
        (click)="submit()"
        class="w-[220px] px-5 py-2.5 text-center text-sm text-white bg-[#264796] h-[40px] rounded-[5px] leading-[16px]">
        Отправить заявку
      </button>
    </div>
  </div>
</div>
