<cf-card class="gray lg">
  <div class="row">
    <div class="col">
      <ng-container *cfHandbook="{ url: 'dir-company-activity' }; let items">
        <h4 nz-typography>{{ items | handbook: item().companyActivity }}</h4>
      </ng-container>

      <button nz-button nzType="link" nzSize="large" type="button" (click)="edit.emit()">
        <nz-icon nzType="f:pencil" />
      </button>
    </div>

    @if (isFilled()) {
    <h5 nz-typography>{{ item().activityTerm }}</h5>

    <p nz-typography>
      <ng-container *cfHandbook="{ url: 'sys-month' }; let items">{{ items | handbook: item().month1 }}</ng-container>
      — {{ item().month1Revenue }}–{{ item().month1Income }}
    </p>

    <p nz-typography>
      <ng-container *cfHandbook="{ url: 'sys-month' }; let items">{{ items | handbook: item().month2 }}</ng-container>
      — {{ item().month2Revenue }}–{{ item().month2Income }}
    </p>

    <p nz-typography>
      <ng-container *cfHandbook="{ url: 'sys-month' }; let items">{{ items | handbook: item().month3 }}</ng-container>
      — {{ item().month3Revenue }}–{{ item().month3Income }}
    </p>
    } @else {
    <p nz-typography class="placeholder">—</p>
    }
  </div>
</cf-card>
