<ng-container *transloco="let t">
  <cf-form-box
    [title]="isEdit() ? t('prop.edit_additional_contact') : t('prop.add_additional_contacts')"
    [submitLabel]="isEdit() ? t('action.confirm') : t('action.add')"
    (closeClick)="close()"
    (submitClick)="submit()"
  >
    <div class="list">
      <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.first_name')">
        <cf-input-default
          [formField]="contactForm.firstName"
          [placeholder]="t('control.input.placeholder')"
          size="large"
        />
      </cf-label-control-secondary>

      <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.last_name')">
        <cf-input-default
          [formField]="contactForm.lastName"
          [placeholder]="t('control.input.placeholder')"
          size="large"
        />
      </cf-label-control-secondary>

      <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.phone_number')">
        <cf-input-default
          [formField]="contactForm.mobilePhone"
          mask="00 000 00 00"
          maskPrefix="+998 "
          [placeholder]="t('control.input.placeholder')"
          size="large"
        />
      </cf-label-control-secondary>

      <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.relationship')">
        <cf-select-default
          class="cf-hide-xs"
          [formField]="contactForm.dirFamilyRelationshipId"
          [placeholder]="t('control.select.placeholder')"
          size="large"
        >
          <ng-container *cfHandbook="{ type: 'dir-family-relationship' }; let items">
            @for (item of items; track item.id) {
            <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            }
          </ng-container>
        </cf-select-default>

        <cf-select-default-mobile
          class="cf-show-xs"
          [formField]="contactForm.dirFamilyRelationshipId"
          [handbook]="{ type: 'dir-family-relationship' }"
          [placeholder]="t('control.select.placeholder')"
          size="large"
        />
      </cf-label-control-secondary>
    </div>
  </cf-form-box>
</ng-container>
