<div
  class="flex justify-between px-5 py-[15px] rounded-[10px] border border-[#E2EAF1]"
>
  <div class="flex gap-x-[20px] items-center leading-4 text-[16px]">
    <div class="w-12 h-12 flex justify-center items-center rounded-[24px] bg-[#EFF4F9]">
      <img *ngIf="transaction.logo" [ngSrc]="transaction.logo" class="min-w-[44px]" alt="icon" width="44" height="44" />
    </div>

    <div class="flex flex-col gap-y-[15px]">
      <div>
        {{ transaction.isDebit? transaction.sender.name : transaction.recipient.name  }}
      </div>

      <div class="flex text-[22px] font-medium items-center gap-x-1 text-nowrap">
        <span>{{transaction.isDebit ? ((transaction.senderAmount.amount/100).toFixed(2) | mask:'separator') : ((transaction.receiverAmount.amount/100).toFixed(2) | mask:'separator') }}</span>

        <span class="text-[#B8BDC2]">{{transaction.isDebit ? transaction.senderAmount.currency : transaction.receiverAmount.currency}}</span>
      </div>
    </div>
  </div>


  <div class="flex flex-col gap-y-[15px]">
    <div class="text-[13px] text-end leading-[16.9px] text-[#7C8897]">
      <img class="min-w-[60px]" [ngSrc]="'./assets/svg/status-' + getStatusLogoName(transaction) + '.svg'" alt="status" width="60" height="60">
    </div>
  </div>
</div>
