<div class="apply-loan p-6 bg-white min-w-[792px] rounded-xl">
  <button class="absolute flex justify-center items-center top-0 rounded-full p-[1.5px] right-0 bg-white"
          (click)="dialogRef.close()">
    <mat-icon class="text-base font-bold rounded-full border-[1.5px] border-[#A1A1A1]">close</mat-icon>
  </button>
  <div class="flex justify-between">
    <p class="text-2xl font-medium mb-4">Погашение кредита</p>
    <span class="text-base text-secondary flex justify-between my-2">ID: {{ data.loanId }}</span>
  </div>
  <p class="flex items-center gap-x-3 py-3"><span class="text-secondary ">Ссудный счет:</span>
    <span>{{ data.loan1 }}</span></p>
  <form
    [formGroup]="repaymentForm" (ngSubmit)="onSubmit()"
    class="flex flex-col gap-y-5 justify-between w-full border-1px mb-4 border-[#EFF0F2] rounded-xl p-4"
  >
    <div class="w-full flex flex-col gap-y-5">
      <mat-form-field class="small w-full" appearance="outline">
        <mat-label class="font-medium leading-5 mb-2">Сумма</mat-label>
        <input
          matInput
          formControlName="amount"
          placeholder="Введите сумму"
          mask="separator"
          [class]="inputClasses"
          [ngClass]="{
              'border-red-500': repaymentForm.get('amount')?.invalid && repaymentForm.get('amount')?.touched,
              'border-secondary': repaymentForm.get('amount')?.valid || !repaymentForm.get('amount')?.touched
            }"
        />
      </mat-form-field>

      <div>
        <app-account-select
          class="w-full"
          [label]="'Выберите счёт погашения'"
          [accounts]="accounts"
          [showTitle]="false"
          (accountSelected)="setFormFields($event)"
        ></app-account-select>
      </div>


      <mat-form-field appearance="outline" class="small relative w-full">
        <mat-label class="font-medium leading-5 mb-2">Тип погашения</mat-label>
        <mat-select
          formControlName="type"
          disableRipple
          placeholder="Выберите тип"
          [ngClass]="{
                'border-red-500': repaymentForm.get('currency')?.invalid && repaymentForm.get('currency')?.touched,
                'border-secondary': repaymentForm.get('currency')?.valid || !repaymentForm.get('currency')?.touched
              }"
        >
          @for (payment of paymentType; track payment) {
            <mat-option [value]="payment.type" (click)="togglePayment()">
              {{ payment.title }}
            </mat-option>
          }
        </mat-select>

        <mat-icon matSuffix>
          <img class="rotate-90" ngSrc="./assets/svg/chevron-down.svg" alt="chevron" width="24" height="24" />
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="flex justify-end">
      <button type="submit"
              [disabled]="repaymentForm.invalid"
              [ngClass]="repaymentForm.valid ? 'text-white  bg-[#264796]' : 'text-[#B0B8C1] bg-disabled-button cursor-not-allowed'"
              class="w-[220px] h-10 px-5 py-2.5 rounded-[5px] border justify-center items-center gap-2 inline-flex text-white text-sm font-normal leading-none">
        Подтвердить
      </button>
    </div>
  </form>
</div>
