<div class="flex flex-col gap-4 relative">
  <div class="flex my-4 ">
    @for (tab of TransactionHistoryTabs; track tab.key) {
    <button (click)="setActiveTab(tab.key)"
      [ngClass]="isActive(tab.key)
          ? 'h-10 rounded-[12px] border border-[#EBEBEB] px-4 py-2 bg-white text-[#171717] font-inter font-semibold text-[16px] leading-5 tracking-[-0.006em] dark:bg-[#171717] dark:text-white dark:border-0'
          : 'h-10 rounded-[12px] px-4 py-2 bg-transparent text-[#5C5C5C] font-inter font-semibold text-[16px] leading-5 tracking-[-0.006em]'">
      <span>{{ tab.translateKey | translate }}</span>
      @if (tab.key === 'signature') {
        <span *ngIf="this.transactionHistoryStore.signPrepareCount()" class="bg-[#00A38D] text-white px-[9px] py-[4px] ml-2 rounded-full text-sm">{{this.transactionHistoryStore.signPrepareCount()}}</span>
      }
    </button>
    }
  </div>

  <div class=" flex flex-col gap-y-[30px] border border-[#EBEBEB] rounded-[22px] bg-white dark:bg-[#181818] dark:border-[#333333] dark:border">
    <div class="py-3">
      <Filters (filterChange)="setFilter($event)" (hasFilter)="handleHasFilter($event)" />
    </div>


    <!-- Card history table -->
    <div class="" *ngIf="checkUrl()" infiniteScroll [infiniteScrollDistance]="0.1" (scrolled)="onScroll()">
      @for (group of this.transactionHistoryStore.grouped(); track group) {
      <div class="px-6 py-2.5 bg-[#F7F7F7] dark:!bg-[#262626]">
        <div class="text-[#101010] text-[18px] font-semibold leading-6 dark:text-white">{{formatDocDate(group[0])}}</div>
      </div>

      <div class="px-[30px] py-[8px]" *ngFor="let transaction of group[1]">
        <CorpCardHistoryTable [transaction]="transaction" />
      </div>
      }
      @if ((!this.transactionHistoryStore.grouped()?.length) && !this.transactionHistoryStore.loading() && !this.transactionHistoryStore.errorMessage() && !isFiltering()) {
        <app-empty-state
          [titleKey]="'custom.no_operations_title'"
          [descriptionKey]="'custom.no_operations_description'"
          [height]="'calc(60vh - 120px)'"
          type="empty"
        >
          <button
            (click)="router.navigate(['/payment'])"
            [matTooltip]="permissionsToActionsInAccounts() || permissionsToActionsInCards() ? '' : 'У вас нет прав'"
            [style.user-select]="permissionsToActionsInAccounts() || permissionsToActionsInCards() ? '' : 'none'"
            [style.opacity]="permissionsToActionsInAccounts() || permissionsToActionsInCards() ? '1' : '0.3'"
            [style.cursor]="permissionsToActionsInAccounts() || permissionsToActionsInCards() ? 'pointer' : 'not-allowed'"
            class="!h-[48px] w-[190px] flex items-center border-custom-border border bg-[#00A38D] pl-5 rounded-[12px]"
          >
            <span class="text-[16px] font-semibold leading-[16px] text-white">{{'new.create_a_payment' | translate}}</span>
            <img ngSrc="./assets/svg/add-active.svg" alt="add" width="24" height="24">
          </button>
        </app-empty-state>
      }
      @if ((!this.transactionHistoryStore.grouped()?.length) && !this.transactionHistoryStore.loading() && !this.transactionHistoryStore.errorMessage() && isFiltering()) {
        <app-empty-state
          [titleKey]="'custom.card_no_results_title'"
          [descriptionKey]="'custom.card_no_results_description'"
          [height]="'calc(60vh - 120px)'"
          type="no-results"
        ></app-empty-state>
      }


      @if(this.transactionHistoryStore.errorMessage() && !this.transactionHistoryStore.loading()) {
      <div class="text-center text-red-500">{{ this.transactionHistoryStore.errorMessage() }}</div>
      }
    </div>


    <!-- Card history table (WHEN SCROLL DOWN) -->
    <div class="" *ngIf="!checkUrl()" infiniteScroll [infiniteScrollDistance]="0.1" (scrolled)="onScroll()">
      @for (group of this.transactionHistoryStore.grouped(); track group) {
      <div class="px-6 py-2.5 bg-[#F7F7F7] dark:!bg-[#262626] ">
        <div class="text-[#101010] text-[18px] font-semibold leading-6 dark:text-white">{{formatDocDate(group[0])}}</div>
      </div>

      <div class="px-[30px] py-[8px]" *ngFor="let transaction of group[1]">
        <CorpCardHistoryTable [transaction]="transaction" />
      </div>
      }

      @if ((!this.transactionHistoryStore.grouped()?.length) && !this.transactionHistoryStore.loading() && !this.transactionHistoryStore.errorMessage() && !isFiltering()) {
        <app-empty-state
          [titleKey]="'custom.no_operations_title'"
          [descriptionKey]="'custom.no_operations_description'"
          [height]="'calc(60vh - 120px)'"
          type="empty"
        >
          <button
            (click)="router.navigate(['/payment'])"
            [matTooltip]="permissionsToActionsInAccounts() || permissionsToActionsInCards() ? '' : 'У вас нет прав'"
            [style.user-select]="permissionsToActionsInAccounts() || permissionsToActionsInCards() ? '' : 'none'"
            [style.opacity]="permissionsToActionsInAccounts() || permissionsToActionsInCards() ? '1' : '0.3'"
            [style.cursor]="permissionsToActionsInAccounts() || permissionsToActionsInCards() ? 'pointer' : 'not-allowed'"
            class="!h-[48px] w-[190px] flex items-center border-custom-border border bg-[#00A38D] pl-5 rounded-[12px]"
          >
            <span class="text-[16px] font-semibold leading-[16px] text-white">{{'new.create_a_payment' | translate}}</span>
            <img ngSrc="./assets/svg/add-active.svg" alt="add" width="24" height="24">
          </button>
        </app-empty-state>
      }

      <!-- Empty: filter active -->
      @if ((!this.transactionHistoryStore.grouped()?.length) && !this.transactionHistoryStore.loading() && !this.transactionHistoryStore.errorMessage() && isFiltering()) {
        <app-empty-state
          [titleKey]="'custom.card_no_results_title'"
          [descriptionKey]="'custom.card_no_results_description'"
          [height]="'calc(60vh - 120px)'"
          type="no-results"
        ></app-empty-state>
      }
      <div>
        @if(this.transactionHistoryStore.errorMessage() && !this.transactionHistoryStore.loading()) {
        <div class="text-center text-red-500">{{ this.transactionHistoryStore.errorMessage() }}</div>
        }
      </div>
    </div>


    <!-- Loading -->
    @if(this.transactionHistoryStore.loading()) {
    <div class="mb-4 px-6">
      <Skeleton />
    </div>
    }
  </div>
</div>
