<div
  class="w-[810px]  p-[30px] bg-white rounded-[15px] shadow-[0px_1px_2px_0px_rgba(222,230,239,1.00)] flex-col  gap-5 inline-flex">
  <div>
    <app-container-nav [navs]="navs()"></app-container-nav>
    <app-container-title [title]="'Заявка на открытие'"></app-container-title>
  </div>
  <div class="flex-col gap-4 inline-flex">
    <div class="self-stretch justify-between items-center inline-flex">
      <div class="text-black text-2xl font-medium  leading-relaxed">{{ detail().depositName }}</div>
      <div class="grow shrink basis-0 h-[22px] justify-end items-center flex">
        <div class="px-2 py-1 bg-[#eff4f9] rounded-[15px] justify-center items-center gap-2.5 flex">
          <div class="text-[#7c8897] text-xs font-normal ">Срочный</div>
        </div>
      </div>
    </div>
    <div class=" h-[49px] flex-col justify-start items-start gap-4 flex">
      <div class="self-stretch justify-start items-end gap-2 inline-flex">
        <div class="p-4 bg-[#eef2f5] rounded-[5px] justify-start items-center gap-1 flex">
          <div class="text-[#7c8897] text-sm font-normal ">Срок :</div>
          <div class="text-[#264796] text-sm font-normal ">до {{ detail().period }} месяцев</div>
        </div>
        <div class="p-4 bg-[#eef2f5] rounded-[5px] justify-start items-center gap-1 flex">
          <div class="text-[#7c8897] text-sm font-normal ">Ставка:</div>
          <div class="text-[#264796] text-sm font-normal ">до {{ detail().depositPercent }}%</div>
        </div>
        <div class="p-4 bg-[#eef2f5] rounded-[5px] justify-start items-center gap-1 flex">
          <div class="text-[#7c8897] text-sm font-normal ">Минимальная сумма:</div>
          <div class="text-[#264796] text-sm font-normal ">{{ amountService.convertToAmount(detail().minAmount) }}</div>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="openDepositForm" (ngSubmit)="formSubmit()" class="flex flex-col gap-y-5">
    <app-account-select
      class="w-full"
      [label]="'Счет списания'"
      [accounts]="accounts()"
      (accountSelected)="setSenderAccount($event)"
      [preSelected]="preselectedAccount"
    ></app-account-select>
    <app-account-requisites [wrapperClass]="'flex justify-end items-center'"></app-account-requisites>
    <div class="grid grid-cols-2 gap-x-6">
      <mat-form-field class="small w-full" appearance="outline">
        <mat-label>
          Сумма депозита
        </mat-label>
        <input
          formControlName="amount"
          matInput
          mask="separator.2"
        >

        <div class="absolute pt-[5px] text-[12px]">
          @if(openDepositForm.controls['amount'].hasError('min')) {
            <mat-error>Сумма должна быть не менее {{ amountService.convertToAmount(detail().minAmount) }}.</mat-error>
          }
          @if(openDepositForm.controls['amount'].hasError('max')) {
            <mat-error>Сумма не может превышать {{ amountService.convertToAmount(detail().maxAmount) }}.</mat-error>
          }
        </div>
      </mat-form-field>
      <mat-form-field class="small w-full" appearance="outline">
        <mat-label>
          Срок депозита
        </mat-label>
        <input formControlName="period" matInput>
        <span class="mr-3" matSuffix>дней</span>
      </mat-form-field>
    </div>
  </form>
  <div class="self-stretch h-10 flex-col justify-start items-end gap-2.5 flex">
    <div class="justify-start items-start gap-4 inline-flex">
<!--      <div class="w-[220px] h-10 px-5 py-2.5 bg-[#eff4f9] rounded-[5px]  justify-center items-center gap-2 flex">-->
<!--        <div class="text-black text-sm font-normal  leading-none">Отмена</div>-->
<!--      </div>-->
<!--      <div class="w-[220px] h-10 px-5 py-2.5 bg-[#ddecfb] rounded-[5px]  justify-center items-center gap-2 flex">-->
<!--        <div class="text-[#264796] text-sm font-normal  leading-none">Информационный лист</div>-->
<!--      </div>-->
      <button (click)="formSubmit()" type="submit" class="w-[220px] h-10 px-5 py-2.5 bg-[#264796] rounded-[5px]  justify-center items-center gap-2 flex">
        <div class="text-white text-sm font-normal  leading-none">Отправить заявку</div>
      </button>
    </div>
  </div>
</div>
