<ng-container *transloco="let t">
  @if (borrower()?.docPersonalLegalNo) {
  <cf-label-control-secondary style="align-items: flex-start" [label]="t('prop.pinfl')">
    {{ borrower()!.docPersonalLegalNo }}
  </cf-label-control-secondary>
  } @else {
  <cf-input-default [mask]="'00000000000000'" [formField]="form().docPersonalLegalNo" [placeholder]="t('prop.pinfl')" size="large" />
  } @if (borrower()?.registrationNumber) {
  <cf-label-control-secondary style="align-items: flex-start" [label]="t('prop.registration_number')">
    <span>{{ borrower()!.registrationNumber }}</span>
  </cf-label-control-secondary>
  } @else {
  <cf-input-default [formField]="form().registrationNumber" [placeholder]="t('prop.registration_number')" size="large" />
  }
</ng-container>
