<ng-container *transloco="let t">
  <div class="header">
    <button cfBounce="300" nz-button nzShape="round" nzSize="small" class="close" (clicked)="close()">
      <nz-icon nzType="close" />
    </button>
  </div>

  <div class="content">
    <div class="icon">
      <nz-icon nzType="info-circle" />
    </div>
    <div class="text">
      <h1 nz-typography>{{ t(config.title) }}</h1>

      @for (description of config.descriptions; track description) {
      <p nz-typography>{{ t(description) }}</p>
      }
    </div>
  </div>

  <div class="footer">
    <button cfBounce="300" nz-button nzType="primary" nzSize="large" (clicked)="close()">
      <strong>{{ t('action.got_it') }}</strong>
    </button>
  </div>
</ng-container>
