<div class="p-6 rounded-xl bg-white">
  <button class="absolute justify-center items-center top-0 rounded-full p-[1.5px] right-0 flex bg-white"
          (click)="dialogRef.close()">
    <mat-icon class="text-base font-bold rounded-full border-[1.5px] border-[#A1A1A1]">close</mat-icon>
  </button>
    <div class="flex flex-col space-y-4 justify-center items-center">
      <div class="font-medium text-xl">
        Подтверждение
      </div>
      <div class="text-sm font-light text-center">Код подтверждения отправлен на ваш номер <br>пожалуйста введите код
      </div>
      @if(data.type === 'PAYMENT'){
        <app-ui-otp-input
          [count]="5"
          [isOtpIncorrect]="isOtpIncorrect"
          (otpComplete)="handleOtp($event)"
        >
        </app-ui-otp-input>
      } @else if (data.type === 'ACTIVATE_CORP_CARD') {
        <app-ui-otp-input
          [count]="6"
          [isOtpIncorrect]="isOtpIncorrect"
          (otpComplete)="handleOtp($event)"
        >
        </app-ui-otp-input>
      }
      @if (data.type === 'PAYMENT'){
        <div >
          <button
            (click)="formSubmit()"
            [disabled]="otpCode.length < 5"
            class="w-[194px] h-10 rounded-xl border-1px bg-secondary text-white font-medium"
            [ngClass]="otpCode.length === 5 ? 'text-white bg-secondary' : 'text-[#B0B8C1] bg-disabled-button cursor-not-allowed'"
          >
            Подтвердить
          </button>
        </div>

      } @else if (data.type === 'ACTIVATE_CORP_CARD'){
        <div >
          <button
            (click)="formSubmit()"
            [disabled]="otpCode.length < 6"
            class="w-[194px] h-10 rounded-xl border-1px bg-secondary text-white font-medium"
            [ngClass]="otpCode.length === 6 ? 'text-white bg-secondary' : 'text-[#B0B8C1] bg-disabled-button cursor-not-allowed'"
          >
            Подтвердить
          </button>
        </div>
      }
    </div>
</div>
@if (isLoading){
  <div class="absolute rounded-xl bg-white bg-opacity-60 z-20 h-full w-full flex items-center justify-center">
    <div class="flex items-center justify-center">
      <mat-spinner mode="indeterminate" class="text-secondary"></mat-spinner>
    </div>
  </div>
}

