<div  @dialogAnim class="relative w-[576px] py-10 bg-white px-10 rounded-[42px] flex flex-col gap-2">
  <div class="flex justify-end">
    <img  (click)="this.close(); this.router.navigate(['/'])" src="./assets/new-icons/close-filled.svg" class="cursor-pointer" alt="">
  </div>
  <div class="flex flex-col mb-2">
    <h3 class="text-[#00A38D] text-[38px] font-bold h-[46px]"> {{ this.route.snapshot.queryParamMap.get('type') === 'edit' ? 'Платёж изменен' :'loans.payment_created' | translate }}</h3>
  </div>
  <div class="mb-2" *ngIf="data.data.transactionMode === 'MUNIS'">
    <h3 class="text-[#5c5c5c] text-[16px] font-medium">{{ data.data.recipient.name }}</h3>
  </div>
  <div class="mb-2">
    <h3 class="text-[#171717] text-[30px] font-bold">{{ ((data?.amount ?? 0) / 100).toFixed(2) | mask:'separator.2'  }} UZS</h3>
  </div>
  <div class="flex items-center justify-between" [ngClass]="{'mt-5': data.data.transactionMode !== 'MUNIS'}">
    <div [ngClass]="{'opacity-100' : data.data.transactionMode === 'MUNIS'}" class="flex items-center gap-4 opacity-0">
      <img class="cursor-pointer" (click)="openDetails()" src="./assets/icons/info.svg" alt="">
      <img class="cursor-pointer" (click)="openAddToMyOfficeModal()" src="./assets/icons/file.svg" alt="">
    </div>
    <div class="flex gap-4 items-center">
      <button (click)="closeDialog()" class="bg-[#F5F5F5] border-1 border-[#F5F5F5] font-semibold text-[16px] z-20 cursor-pointer w-[120px] h-[48px] text-black rounded-[12px]">{{ 'new.later' | translate }}</button>
      <button (click)="signDialog()" class="bg-[#00A38D] z-20 cursor-pointer h-[48px] font-semibold w-[120px] text-[16px] text-white rounded-[12px]">{{ 'accounts.sign' | translate }}</button>
    </div>
<!--    <div class="flex gap-4 items-center" *ngIf="this.data.isAutoPay">-->
<!--      <button (click)="this.router.navigate(['/history']); this.close()" class="bg-[#F5F5F5] border-1 border-[#F5F5F5] font-semibold text-[16px] z-20 cursor-pointer w-[120px] h-[48px] text-black rounded-[12px]">{{ 'notifications.close' | translate }}</button>-->
<!--    </div>-->

  </div>
  <!--  <img class="absolute z-0 right-0 top-0" src="./assets/new-icons/success-logo.svg" alt="">-->
</div>
