<div class="bg-white p-8 rounded-[42px] setting-dark-light-box">
  <div class=" bg-white relative">
    <button
      mat-dialog-close
      type="button"
      class="flex justify-center items-center absolute right-0
             rounded-[50px] p-[2px] w-[32px] h-[32px] bg-[#f5f5f5] hover:bg-[#e5e5e5] transition"
    >
      <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.293 1.03906C10.6835 0.648538 11.3165 0.648538 11.707 1.03906C12.0975 1.42959 12.0975 2.06261 11.707 2.45312L7.41406 6.74609L11.707 11.0391C12.0975 11.4296 12.0975 12.0626 11.707 12.4531C11.3165 12.8436 10.6835 12.8436 10.293 12.4531L6 8.16016L1.70703 12.4531C1.31651 12.8436 0.683495 12.8436 0.292969 12.4531C-0.0975555 12.0626 -0.0975554 11.4296 0.292969 11.0391L4.58594 6.74609L0.292969 2.45312C-0.0975555 2.0626 -0.0975555 1.42959 0.292969 1.03906C0.683493 0.648538 1.31651 0.648538 1.70703 1.03906L6 5.33203L10.293 1.03906Z" fill="#73757B" />
      </svg>
    </button>
    <div class="px-[120px] w-full h-full flex flex-col">
      <div class="flex flex-1 flex-col items-center">
        <div class="px-[15px] w-full h-full flex flex-col">
          <div class="flex flex-1 flex-col items-center">
            <div class="flex flex-col w-[480px] items-center gap-8 my-auto">
              <div class="w-[400px] h-[500px] overflow-hidden">
                <iframe style="width: 100%; height: 100%; overflow: hidden; border: 0" [src]="safeUrl" allow="camera;fullscreen"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="visible()"
          class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
        >
          <div
            class="bg-white rounded-[17px] shadow-lg w-full max-w-lg mx-4 px-9 pb-9 pt-18 relative"
            (click)="$event.stopPropagation()"
          >
            <img class="absolute cursor-pointer w-[12px] h-[12px] top-[15px] right-[20px]" src="./assets/new-icons/close.svg" alt="">

            <div class="flex flex-col gap-4 items-center text-center">
              <img class="my-5" src="./assets/new-icons/checker.svg" width="110" height="96" alt="">
              <h3 class="text-[26px]  font-bold">Идентификация не была завершена успешно.</h3>
              <button class="bg-[#00A38D] w-full outline-none rounded-[12px] text-white h-[48px]" (click)="continueProcess()">Повторить попытку</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



