<cf-card [title]="'Адреса'" [showSpace]="true" class="bordered">
  <div class="list">
    @for (item of [1,2,3]; track $index) {
    <cf-card class="gray lg">
      <div class="row">
        <div class="col">
          <h4 nz-typography>Юридический адрес</h4>

          <a nz-button nzType="link" nzSize="large">
            <nz-icon nzType="f:pencil" />
          </a>
        </div>
        <p nz-typography>Для существующего объекта</p>
        <p nz-typography>Малое предприятие</p>
        <p nz-typography>Высокоопасный уровень</p>
      </div>
    </cf-card>
    }
  </div>
</cf-card>
