::ng-deep .qr-code-box .qrcode{
  display: flex !important;
  justify-content: center !important;
}
::ng-deep .qr-code-box .qrcode canvas {
  border: 8px solid #00A38D !important;
  padding: 0 !important;
  border-radius: 20px !important;
}
.qr-wrapper {
  position: relative;
  display: inline-block;
}

.qr-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: white;
  padding: 4px;
}

