<div class="flex flex-col bg-white rounded-[16px] gap-y-2.5 py-5 px-[30px]">
  <div class="pb-[15px] border-b text-[18px] font-medium">Время окончания платежей</div>

  <div class="flex justify-between">
    <div class="flex gap-x-2.5">
      <div class="flex flex-col gap-y-[7px]">
        <div class="text-[#7C8897]">Межбанковские платежи</div>

        <div class="flex gap-x-2 items-end">
          <img ngSrc="./assets/svg/clock.svg" alt="clock" width="24" height="24">
          <div class="flex items-end leading-6 align-text-bottom text-[24px] text-[#22A3FF] font-medium">
            <span>{{ targetHour.toString().padStart(2, '0') }}</span>
            <span>:</span>
            <span>{{ targetMinute.toString().padStart(2, '0') }}</span>
          </div>

          <div class="leading-4 text-[#7C8897]">
            @if(!closed) {
              <div>
                <span>{{ hours.toString().padStart(2, '0') }}</span>
                <span>:</span>
                <span>{{ minutes.toString().padStart(2, '0') }}</span>
                <span>:</span>
                <span>{{ seconds.toString().padStart(2, '0') }}</span>
              </div>
            } @else {
              <div class="text-red-500">
                Закрыто
              </div>
            }
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-y-[7px] border-l pl-2.5 border-[#EBECED]">
        <div class="text-[#7C8897]">Межфилиальные платежи</div>

        <div class="flex gap-x-2 items-end">
          <img ngSrc="./assets/svg/clock.svg" alt="clock" width="24" height="24">
          <div class="flex items-end leading-6 align-text-bottom text-[24px] text-[#22A3FF] font-medium">
            <span>{{ targetHourFilial.toString().padStart(2, '0') }}</span>
            <span>:</span>
            <span>{{ targetMinutesFilial.toString().padStart(2, '0') }}</span>
          </div>

          <div class="leading-4 text-[#7C8897]">
            @if(!closedFilial) {
              <div>
                <span>{{ filialHours.toString().padStart(2, '0') }}</span>
                <span>:</span>
                <span>{{ filialMinutes.toString().padStart(2, '0') }}</span>
                <span>:</span>
                <span>{{ filialSeconds.toString().padStart(2, '0') }}</span>
              </div>
            } @else {
              <div class="text-red-500">
                Закрыто
              </div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-y-[7px] border-l pl-2.5 border-[#EBECED]">
      <div class="text-[#7C8897]">Операционный день</div>

      <div class="flex gap-x-2">
        <img ngSrc="./assets/svg/calendar.svg" alt="calendar" width="24" height="24">
        <span>{{ operDate }}</span>
        <div class="text-white px-2 rounded-xl bg-[#05BC74]">Открыт</div>
      </div>
    </div>
  </div>
</div>
