<div class="flex flex-col gap-y-5 bg-white rounded-[15px] p-6">
  <app-container-nav [navs]="navs"></app-container-nav>
  <app-container-title [title]="title"></app-container-title>
  <app-operations-filter [create]="create"></app-operations-filter>
  <div class="flex justify-between items-center">
    <app-table-actions
      [tableActionBtns]="tableActionBtns"
      (onClick)="onActionClick($event)"
    ></app-table-actions>
    <div class="flex items-center gap-x-[15px]">
      <app-filter-button
        (click)="swiftFilterState = !swiftFilterState"
        [classes]="!swiftFilterState ? 'bg-[#264796] text-white' : ''"
        [src]="!swiftFilterState ? './assets/svg/filter-white.svg' : './assets/svg/filter-black.svg'"
      ></app-filter-button>
    </div>
  </div>

  <app-swift-filter
    (filterChange)="setFilter($event)"
    [toggleActive]="true"
    [panelState]="swiftFilterState"
  ></app-swift-filter>

  <app-container-table
    [columns]="tableColumns"
    [data]="tableData"
    [custom]="true"
    [errorMessage]="errorMessage"
    [loading]="loading"
    (selectedRows)="onSelectedRows($event)"
    (rowClicked)="rowClick($event)"
  ></app-container-table>
  <app-paginator
    [itemsPerPage]="pageSize"
    [currentPage]="pageIndex + 1"
    [totalItems]="totalItems"
    (pageChange)="pageChange($event)"
  ></app-paginator>
</div>

