.cf-bounce--pressed {
  transform: scale(0.97);
  transition: transform 100ms ease;
}

.cf-hide-xs {
  @media (max-width: 575.98px) {
    display: none !important;
  }
}

.cf-show-xs {
  display: none !important;

  @media (max-width: 575.98px) {
    display: block !important;
  }
}
