@import 'ng-zorro-antd/ng-zorro-antd.less';
@import 'theme/light.less';
@import 'global';

.cf-bounce--pressed {
  transform: scale(0.97);
  transition: transform 100ms ease;
}

.cf-hide-xs {
  @media (max-width: 575.98px) {
    display: none !important;
  }
}

.cf-show-xs {
  display: none !important;

  @media (max-width: 575.98px) {
    display: block !important;
  }
}

.cf-bottom-sheet-drawer {
  .ant-drawer-content-wrapper {
    border-radius: 24px 24px 0 0;
    overflow: hidden;
  }

  .ant-drawer-content {
    border-radius: 24px 24px 0 0;
  }

  .ant-drawer-body {
    padding: 8px 20px 20px;
    height: 100%;
    overflow: hidden;
  }

  .ant-drawer-header {
    display: none;
  }
}
