@import 'mixins';

.section-title {
  margin: 0 0 16px;
  .textMixin(600, 18px, 130%);

  .media(@media-sm, {
        font-size: 16px;
    });
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    width: fit-content;
  }
}
