<div class="h-full bg-white px-[30px] py-5">
  <div class="flex justify-between items-center mb-4 pb-[22px]">
    <div class="text-[22px] font-medium text-black">
      Вы действительно хотите закрыть
      указанные счета?
    </div>

    <button class="flex items-center" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form
    [formGroup]="confirmForm"
    class="flex flex-col gap-y-[30px]"
  >
    <div class="flex flex-col gap-y-4">
      <div class="border-t w-full border-[#E2EAF1]"></div>
      <div class="text-sm text-[#7C8897]">Номер счета</div>

      <div class="flex flex-wrap gap-2.5">
        @for(acc of data.accountNumber; track $index) {
          <div class="px-2 py-2.5 rounded-[5px] bg-[#DDECFC] text-[#264796] leading-[10px] w-fit">{{ acc }}</div>
        }
      </div>
    </div>

    <mat-form-field class="small w-full" appearance="outline">
      <mat-label>Причина закрытия:</mat-label>
      <mat-select
        formControlName="closeReason"
      >
        @for(reason of reasons; track reason) {
          <mat-option [value]="reason">
            {{ reason }}
          </mat-option>
        }
      </mat-select>

      <mat-icon matSuffix>
        <img ngSrc="./assets/svg/chevron-down.svg" class="rotate-90" alt="chevron-down" width="24" height="24">
      </mat-icon>
    </mat-form-field>

    <div class="w-full flex gap-x-5">
      <button
        class="w-full px-5 py-2.5 rounded-[5px] bg-[#DDECFC] text-[#264796] leading-[20px]"
        (click)="dialogRef.close()"
      >Отменить</button>

      <button
        (click)="onSubmit()"
        class="w-full px-5 py-2.5 rounded-[5px] bg-[#264796] text-white leading-[20px]"
        [disabled]="confirmForm.invalid"
        [ngClass]="confirmForm.valid ? 'text-white bg-[#264796]' : 'text-[#B0B8C1] bg-disabled-button cursor-not-allowed'"
      >Подтвердить и отправить</button>
    </div>
  </form>
</div>
