<div class=" bg-surface-2 relative h-screen w-screen">
  <div class="px-[120px] w-full h-full flex flex-col">
    <div class="flex flex-1 flex-col items-center">
      <div class="h-[100px] flex justify-between w-full">
        <img [ngSrc]='theme.isDark() ? "./assets/new-icons/logo-dark.svg" : "./assets/new-icons/logo-auth.svg"'
             width="128" height="40" alt="">
        <div class="flex items-center gap-[20px]">
          <div (click)="router.navigate(['/auth/instructions'])" class="flex cursor-pointer items-center gap-2">
            <img src="./assets/new-icons/instuction.svg" alt="">
            <span class="text-custom-secondary">{{ 'authorization.instruction' | translate }}</span>
          </div>
          <div (click)="sendPhoneEvent()" class="flex items-center gap-2">
            <img src="./assets/new-icons/phone.svg" alt="">
            <span class="text-custom-secondary">1809</span>
          </div>
          <a href="https://t.me/MMSBBusinessconsultant_bot"  target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
            <img src="./assets/new-icons/telegram.svg" alt="">
            <span class="text-custom-secondary">{{'authorization.write_to_telegram' | translate}}</span>
          </a>
        </div>
      </div>
      <form class="flex flex-col w-[480px] items-center gap-8 my-auto" [formGroup]="loginForm" (ngSubmit)="submit()">
        <div (click)="this.router.navigate(['/auth'])"
             class="flex cursor-pointer gap-2 items-center justify-start w-full">
          <img [ngSrc]='theme.isDark() ? "./assets/new-icons/back-icon-white.svg" : "./assets/new-icons/back-icon.svg"'
               [width]="12" [height]="12" alt="">
          <p class="text-custom-primary">{{ 'authorization.back' | translate }}</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <h3 class="text-[32px] font-bold leading-[40px] text-custom-primary">{{ 'authorization.create_password' | translate }}</h3>
          <div class="flex flex-col items-center">
            <span
              class="text-custom-muted font-normal text-[17px] leading-[26px]">{{ 'authorization.password_instruction' | translate }}</span>
            <span
              class="text-custom-muted font-normal text-[17px] leading-[26px]">{{ 'authorization.password_instruction_1' | translate }}</span>
          </div>
        </div>
        <div class="w-full relative flex flex-col gap-4">
          <div class="w-full ">
            <div class="relative">
              <input formControlName="password"
                     [type]="showPassword() ? 'text' : 'password'"
                     [placeholder]="'authorization.new_password' | translate"
                     class="border w-full border-custom-border outline-none focus:border-2 focus:border-[#00A38D] bg-surface-4 text-custom-primary px-4 h-[56px] rounded-[12px]">
              <img (click)="showPass()"  class="cursor-pointer absolute right-[10px] top-[18px]" src="./assets/new-icons/eye.svg" alt="">
            </div>
            <div class="flex justify-between items-center gap-1 w-full mt-4">
            <span
              *ngFor="let bar of [0,1,2,3,4]"
              class="w-1/5 h-[4px] rounded-[4px] transition-all duration-300"
              [ngClass]="getBarColor(bar)"
            ></span>
            </div>
            <ng-container [ngSwitch]="getStrengthLevel()">
              <div class="flex items-center select-none absolute z-50">
          <span class="lamp-box cursor-pointer w-[480px] shadow-lg">
            <div [@expandCollapse]="'visible'" *ngIf="this.loginForm.getRawValue().password.length > 0 && getStrengthLevel() < 4" class="form-text-box text-xs bg-surface-1 rounded px-2 py-1   border border-custom-border text-custom-primary"

            >
      <div class="font-normal text-sm py-2">
               <span class="flex items-center">
             @if (hasMinLength()) {
               <span>
                      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd"
                               d="M7.33333 0C3.28324 0 0 3.28324 0 7.33333C0 11.3834 3.28324 14.6667 7.33333 14.6667C11.3834 14.6667 14.6667 11.3834 14.6667 7.33333C14.6667 3.28324 11.3834 0 7.33333 0ZM10.8047 5.80474C11.0651 5.54439 11.0651 5.12228 10.8047 4.86193C10.5444 4.60158 10.1223 4.60158 9.86193 4.86193L6.33333 8.39052L4.80474 6.86193C4.54439 6.60158 4.12228 6.60158 3.86193 6.86193C3.60158 7.12228 3.60158 7.54439 3.86193 7.80474L5.86193 9.80474C6.12228 10.0651 6.54439 10.0651 6.80474 9.80474L10.8047 5.80474Z"
                               fill="#1FC16B"/>
                      </svg>
                    </span>
             } @else {
               <span>
                     <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.33333 0C3.28324 0 0 3.28324 0 7.33333C0 11.3834 3.28324 14.6667 7.33333 14.6667C11.3834 14.6667 14.6667 11.3834 14.6667 7.33333C14.6667 3.28324 11.3834 0 7.33333 0ZM9.80474 4.86193C10.0651 5.12228 10.0651 5.54439 9.80474 5.80474L8.27614 7.33333L9.80474 8.86193C10.0651 9.12228 10.0651 9.54439 9.80474 9.80474C9.54439 10.0651 9.12228 10.0651 8.86193 9.80474L7.33333 8.27614L5.80474 9.80474C5.54439 10.0651 5.12228 10.0651 4.86193 9.80474C4.60158 9.54439 4.60158 9.12228 4.86193 8.86193L6.39052 7.33333L4.86193 5.80474C4.60158 5.54439 4.60158 5.12228 4.86193 4.86193C5.12228 4.60158 5.54439 4.60158 5.80474 4.86193L7.33333 6.39052L8.86193 4.86193C9.12228 4.60158 9.54439 4.60158 9.80474 4.86193Z"
                            fill="#FB3748"/>
                      </svg>
               </span>
             }
                 <span class="ml-2">
                   {{ 'settings.latin_letters_required' | translate }}
                 </span>
           </span>
      </div>
      <div class="font-normal text-sm py-2">
        <span class="flex items-center">
             @if (hasUpperCase()) {
               <span>
                      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd"
                               d="M7.33333 0C3.28324 0 0 3.28324 0 7.33333C0 11.3834 3.28324 14.6667 7.33333 14.6667C11.3834 14.6667 14.6667 11.3834 14.6667 7.33333C14.6667 3.28324 11.3834 0 7.33333 0ZM10.8047 5.80474C11.0651 5.54439 11.0651 5.12228 10.8047 4.86193C10.5444 4.60158 10.1223 4.60158 9.86193 4.86193L6.33333 8.39052L4.80474 6.86193C4.54439 6.60158 4.12228 6.60158 3.86193 6.86193C3.60158 7.12228 3.60158 7.54439 3.86193 7.80474L5.86193 9.80474C6.12228 10.0651 6.54439 10.0651 6.80474 9.80474L10.8047 5.80474Z"
                               fill="#1FC16B"/>
                      </svg>
                    </span>
             } @else {
               <span>
                     <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.33333 0C3.28324 0 0 3.28324 0 7.33333C0 11.3834 3.28324 14.6667 7.33333 14.6667C11.3834 14.6667 14.6667 11.3834 14.6667 7.33333C14.6667 3.28324 11.3834 0 7.33333 0ZM9.80474 4.86193C10.0651 5.12228 10.0651 5.54439 9.80474 5.80474L8.27614 7.33333L9.80474 8.86193C10.0651 9.12228 10.0651 9.54439 9.80474 9.80474C9.54439 10.0651 9.12228 10.0651 8.86193 9.80474L7.33333 8.27614L5.80474 9.80474C5.54439 10.0651 5.12228 10.0651 4.86193 9.80474C4.60158 9.54439 4.60158 9.12228 4.86193 8.86193L6.39052 7.33333L4.86193 5.80474C4.60158 5.54439 4.60158 5.12228 4.86193 4.86193C5.12228 4.60158 5.54439 4.60158 5.80474 4.86193L7.33333 6.39052L8.86193 4.86193C9.12228 4.60158 9.54439 4.60158 9.80474 4.86193Z"
                            fill="#FB3748"/>
                      </svg>
               </span>
             }
          <span class="ml-2">
            {{ 'settings.uppercase_latin' | translate }}
          </span>
           </span>
      </div>
      <div class="font-normal text-sm py-2">
        <span class="flex items-center">
             @if (hasNumber()) {
               <span>
                      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd"
                               d="M7.33333 0C3.28324 0 0 3.28324 0 7.33333C0 11.3834 3.28324 14.6667 7.33333 14.6667C11.3834 14.6667 14.6667 11.3834 14.6667 7.33333C14.6667 3.28324 11.3834 0 7.33333 0ZM10.8047 5.80474C11.0651 5.54439 11.0651 5.12228 10.8047 4.86193C10.5444 4.60158 10.1223 4.60158 9.86193 4.86193L6.33333 8.39052L4.80474 6.86193C4.54439 6.60158 4.12228 6.60158 3.86193 6.86193C3.60158 7.12228 3.60158 7.54439 3.86193 7.80474L5.86193 9.80474C6.12228 10.0651 6.54439 10.0651 6.80474 9.80474L10.8047 5.80474Z"
                               fill="#1FC16B"/>
                      </svg>
                    </span>
             } @else {
               <span>
                     <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.33333 0C3.28324 0 0 3.28324 0 7.33333C0 11.3834 3.28324 14.6667 7.33333 14.6667C11.3834 14.6667 14.6667 11.3834 14.6667 7.33333C14.6667 3.28324 11.3834 0 7.33333 0ZM9.80474 4.86193C10.0651 5.12228 10.0651 5.54439 9.80474 5.80474L8.27614 7.33333L9.80474 8.86193C10.0651 9.12228 10.0651 9.54439 9.80474 9.80474C9.54439 10.0651 9.12228 10.0651 8.86193 9.80474L7.33333 8.27614L5.80474 9.80474C5.54439 10.0651 5.12228 10.0651 4.86193 9.80474C4.60158 9.54439 4.60158 9.12228 4.86193 8.86193L6.39052 7.33333L4.86193 5.80474C4.60158 5.54439 4.60158 5.12228 4.86193 4.86193C5.12228 4.60158 5.54439 4.60158 5.80474 4.86193L7.33333 6.39052L8.86193 4.86193C9.12228 4.60158 9.54439 4.60158 9.80474 4.86193Z"
                            fill="#FB3748"/>
                      </svg>
               </span>
             }
          <span class="ml-2">
             {{ 'settings.digits' | translate }}
          </span>
           </span>
      </div>
      <div class="font-normal text-sm py-2">
        <span class="flex items-center">
             @if (hasSpecialChar()) {
               <span>
                      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd"
                               d="M7.33333 0C3.28324 0 0 3.28324 0 7.33333C0 11.3834 3.28324 14.6667 7.33333 14.6667C11.3834 14.6667 14.6667 11.3834 14.6667 7.33333C14.6667 3.28324 11.3834 0 7.33333 0ZM10.8047 5.80474C11.0651 5.54439 11.0651 5.12228 10.8047 4.86193C10.5444 4.60158 10.1223 4.60158 9.86193 4.86193L6.33333 8.39052L4.80474 6.86193C4.54439 6.60158 4.12228 6.60158 3.86193 6.86193C3.60158 7.12228 3.60158 7.54439 3.86193 7.80474L5.86193 9.80474C6.12228 10.0651 6.54439 10.0651 6.80474 9.80474L10.8047 5.80474Z"
                               fill="#1FC16B"/>
                      </svg>
                    </span>
             } @else {
               <span>
                     <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.33333 0C3.28324 0 0 3.28324 0 7.33333C0 11.3834 3.28324 14.6667 7.33333 14.6667C11.3834 14.6667 14.6667 11.3834 14.6667 7.33333C14.6667 3.28324 11.3834 0 7.33333 0ZM9.80474 4.86193C10.0651 5.12228 10.0651 5.54439 9.80474 5.80474L8.27614 7.33333L9.80474 8.86193C10.0651 9.12228 10.0651 9.54439 9.80474 9.80474C9.54439 10.0651 9.12228 10.0651 8.86193 9.80474L7.33333 8.27614L5.80474 9.80474C5.54439 10.0651 5.12228 10.0651 4.86193 9.80474C4.60158 9.54439 4.60158 9.12228 4.86193 8.86193L6.39052 7.33333L4.86193 5.80474C4.60158 5.54439 4.60158 5.12228 4.86193 4.86193C5.12228 4.60158 5.54439 4.60158 5.80474 4.86193L7.33333 6.39052L8.86193 4.86193C9.12228 4.60158 9.54439 4.60158 9.80474 4.86193Z"
                            fill="#FB3748"/>
                      </svg>
               </span>
             }
          <span class="ml-2">
             {{ 'settings.special_characters' | translate }}
          </span>
           </span>
      </div>
        </div>
          </span>
              </div>

            </ng-container>
          </div>
          <div class="w-full relative">
            <input formControlName="confirmPassword"
                   [type]="confirmShowPassword() ? 'text' : 'password'"
                   [style.border-color]="passwordMismatch ? 'red' : ''"
                   class="border w-full outline-none focus:border-2 focus:border-custom-border bg-surface-4 text-custom-primary border-custom-border px-4 h-[56px] rounded-[12px]"
                   type="text" [placeholder]="'authorization.repeat_password' | translate">
            <img (click)="showConfirmPass()" class="cursor-pointer absolute right-[10px] top-[18px]" src="./assets/new-icons/eye.svg" alt="">
            <div
              *ngIf="passwordMismatch"
              class="text-red-500 text-sm mt-1 absolute bottom-[-25px] left-[5px]">
              {{ 'authorization.passwords_mismatch' | translate }}
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 w-full">
          <button type="submit" [disabled]="getStrengthLevel() < 4"
                  class="w-full h-[56px] disabled:text-custom-primary  disabled:bg-surface-1 disabled:cursor-not-allowed text-white bg-[#00A38D] rounded-[13px]">{{ 'authorization.continue_button' | translate }}
          </button>
        </div>
      </form>
    </div>
    <div class="flex justify-center w-full items-center flex-col gap-4 mb-4">
      <div class="flex gap-8 items-center">
        <div class="hidden gap-1 items-center">
          <img src="./assets/new-icons/help-circle.svg" alt="">
          <span class="text-custom-primary">{{ 'authorization.help' | translate }}</span>
        </div>
        <div class="flex gap-1 items-center cursor-pointer" (click)="theme.toggle()">
          <img *ngIf="!theme.isDark()" src="./assets/new-icons/moon.svg" alt="">
          <img *ngIf="theme.isDark()" src="./assets/new-icons/sun-auth.svg" alt="">
          <span class="text-custom-primary" *ngIf="!theme.isDark()">{{ 'authorization.dark_theme' | translate }}</span>
          <span class="text-custom-primary" *ngIf="theme.isDark()">{{ 'authorization.light_theme' | translate }}</span>
        </div>
        <div class="relative lang-selector">
          <button
            type="button"
            (click)="toggleDropdown()"
            class="flex items-center gap-2 px-3 text-custom-primary outline-none py-2 rounded-lg bg-surface-2 hover:bg-custom-badge-2 transition-colors border border-custom-border"
            [style.border-color]="isOpen ? '#00A38D' : 'white' "
          >
            <img src="./assets/new-icons/globe.svg" alt="Language" class="w-5 h-5">
            <span class="text-sm font-medium text-custom-primary">{{ selectedLangTitle() }}</span>
            <svg
              class="w-4 h-4 transition-transform duration-200"
              [class.rotate-180]="isOpen"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M17.2929 8.29289C17.6834 7.90237 18.3164 7.90237 18.707 8.29289C19.0975 8.68342 19.0975 9.31643 18.707 9.70696L12.707 15.707C12.3164 16.0975 11.6834 16.0975 11.2929 15.707L5.29289 9.70696C4.90237 9.31643 4.90237 8.68342 5.29289 8.29289C5.68342 7.90237 6.31643 7.90237 6.70696 8.29289L11.9999 13.5859L17.2929 8.29289Z"
                fill="currentColor"
              />
            </svg>
          </button>
          <div
            *ngIf="isOpen"
            @dropdownAnimation
            class="absolute top-[-170px] right-[-50px] mt-2 w-48 bg-surface-2 rounded-lg shadow-lg border border-custom-border overflow-hidden z-50"
          >
            <div class="py-1">
              <button
                *ngFor="let lang of availableLanguages"
                type="button"
                (click)="onLangChange(lang.key); closeDropdown()"
                class="w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-surface-2 hover:text-blue-600 transition-colors flex items-center gap-2"
              >
                <span class="font-medium text-custom-primary">{{ lang.label }}</span>
              </button>
            </div>
          </div>

          <div
            *ngIf="isOpen"
            (click)="closeDropdown()"
            class="fixed inset-0 z-40"
          ></div>
        </div>
        <!-- <div class="flex gap-1 items-center">
          <img src="./assets/new-icons/globe.svg" alt="">
          <span>{{ 'authorization.language_ru' | translate  }}</span>
        </div> -->
      </div>
      <div class="flex flex-col items-center">
        <span class="text-[14px] text-custom-muted font-normal">{{ 'authorization.copyright' | translate }}</span>
        <span
          class="text-[14px] text-custom-muted underline font-normal">{{ 'authorization.privacy_policy' | translate }}</span>
      </div>
    </div>
  </div>
</div>
