@import 'mixins';

:host {
  .card {
    background: #e4fbf8;
  }

  display: flex;
  flex-direction: column;
  flex: 1;
  height: fit-content;
}

.card {
  flex: 1;
  position: relative;

  &.hidden {
    background: inherit !important;
  }
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &.hidden {
    visibility: hidden;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
