@import 'mixins';

.themeMixin({
    :host {
      .card {
        background: @component-background-light;
      }
    }
});

:host {
  display: block;
  flex: 1;
}

.box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
