<ng-container *transloco="let t">
  <cf-form-box
    [submitDisabled]="addressForm().disabled() || addressForm().invalid()"
    [title]="t('action.add_address')"
    (closeClick)="close()"
    (submitClick)="submit()"
  >
    <ng-container *cfHandbook="{ url: 'sys-address-type' }; let items">
      <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.address_type')">
        <cf-input-default
          [disabled]="true"
          [value]="items | handbook: addressForm.sysAddressTypeId().value()"
          [placeholder]="t('control.input.placeholder')"
          size="large"
        />
      </cf-label-control-secondary>
    </ng-container>

    <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.city')">
      <cf-select-default
        class="cf-hide-xs"
        [formField]="addressForm.dirCityId"
        [placeholder]="t('control.select.placeholder')"
        size="large"
      >
        <ng-container *cfHandbook="{ url: 'dir-city' }; let items">
          @for (item of items; track item.id) {
          <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          }
        </ng-container>
      </cf-select-default>

      <cf-select-default-mobile
        class="cf-show-xs"
        [formField]="addressForm.dirCityId"
        [handbook]="{ url: 'dir-city' }"
        [placeholder]="t('control.select.placeholder')"
        size="large"
      />
    </cf-label-control-secondary>

    @if (addressForm.dirCityId().value()) {
    <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.street')">
      <cf-select-default
        class="cf-hide-xs"
        [formField]="addressForm.dirVillageId"
        [cfResetVillageOnCityChange]="addressForm"
        [placeholder]="t('control.select.placeholder')"
        size="large"
      >
        <ng-container *cfHandbook="{ url: 'dir-village', params: { dir_city_id: addressForm.dirCityId().value() } }; let items">
          @for (item of items; track item.id) {
          <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          }
        </ng-container>
      </cf-select-default>

      <cf-select-default-mobile
        class="cf-show-xs"
        [formField]="addressForm.dirVillageId"
        [cfResetVillageOnCityChange]="addressForm"
        [handbook]="{ url: 'dir-village', params: { dir_city_id: addressForm.dirCityId().value() } }"
        [placeholder]="t('control.select.placeholder')"
        size="large"
      />
    </cf-label-control-secondary>
    }

    <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.address')">
      <cf-input-default [formField]="addressForm.street" [placeholder]="t('control.input.placeholder')" size="large" />
    </cf-label-control-secondary>

    <cf-label-control-secondary style="align-items: flex-start; width: 100%" [label]="t('prop.postal_code')">
      <cf-input-default [formField]="addressForm.zipCode" [placeholder]="t('control.input.placeholder')" size="large" />
    </cf-label-control-secondary>
  </cf-form-box>
</ng-container>
