@let filled = isFilled();

<ng-container *transloco="let t">
  <cf-card [titleRef]="titleRef" [topWrap]="false" [showSpace]="filled" class="bordered">
    <div actions>
      <button cfBounce="300" nz-button nzType="default" nzSize="small" [disabled]="isLoading()" (clicked)="onAdd()">
        <strong>{{ t('action.add') }}</strong>
        @if (isLoading()) {
        <nz-spin nzSimple nzSize="small" />
        } @else {
        <nz-icon nzType="plus" />
        }
      </button>
    </div>

    @if (items().length) {
    <ng-container *cfHandbook="{ type: 'dir-family-relationship' }; let relationships">
      <div class="cards">
        @for (contact of items(); track $index) {
        @let relationship = relationships | handbook: contact.dirFamilyRelationshipId;

        <article class="contact-card">
          <div class="contact-card__body">
            <p nz-typography class="contact-name">{{ fullName(contact) }}</p>
            <p nz-typography class="contact-meta">{{ contact.mobilePhone | phoneNumber }}</p>
            @if (relationship) {
            <p nz-typography class="contact-meta">{{ relationship }}</p>
            }
          </div>

          <div class="contact-card__actions">
            <button cfBounce="300" nz-button nzType="default" nzSize="small" [disabled]="isLoading()" (clicked)="onEdit($index)">
              <nz-icon nzType="o:pencil" />
            </button>
            <button cfBounce="300" nz-button nzType="default" nzSize="small" [disabled]="isLoading()" (clicked)="onRemove($index)">
              <nz-icon nzType="o:trash" />
            </button>
          </div>
        </article>
        }
      </div>
    </ng-container>
    }
  </cf-card>

  <ng-template #titleRef>
    <div class="titleRef">
      <h2 nz-typography>{{ t('prop.additional_contacts') }}</h2>

      @if (!filled) {
      <nz-tag>
        <nz-icon nzType="info-circle" />
        {{ t('alert.fill_fields') }}
      </nz-tag>
      }
    </div>
  </ng-template>
</ng-container>
