<div>
  <div class="p-5 rounded-3xl  bg-white">
    <div class="flex items-center justify-between ">
      <h2 class="text-lg  font-semibold">Выписка лицевых счетов</h2>
      <button (click)="close()"
        class="h-[30px] w-[30px] flex items-center justify-center rounded-lg hover:bg-gray-100 bg-[#EBEBEB]">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <hr class="my-5">

    <div [formGroup]="form">
      <div class="grid grid-cols-2  gap-5 mt-3">
        <!-- #region FIRST   -->
        <div>
          <!-- #region Счет для оплаты -->
          <div class="flex flex-col p-5 gap-5  bg-[#F7F7F7] rounded-[20px] border border-[#EBEBEB]">
            <p class="text-[#101010] font-semibold uppercase text-[12px]">Счет для оплаты</p>
            <app-account-selector [accounts]="accounts()" formControlName="account"></app-account-selector>
          </div>
          <!-- #endregion Счет для оплаты -->

          <div class="flex flex-col p-5 gap-5  mt-5 bg-[#F7F7F7] rounded-[20px] border border-[#EBEBEB]">
            <p class="text-[#101010] font-semibold uppercase text-[12px]">Параметры выписки</p>
            <div>
              <app-select-default [size]="'medium'" formControlName="reportType" [options]="PERSONAL_ACCOUNT_STATEMENTS"
                [required]="true" />
            </div>
            <div>
              <app-select-default [size]="'medium'" formControlName="reportRegularScheduleEnum"
                placeholder="Получения выписки" [disabled]="true" [options]="REPORT_FREQUENCY_OPTIONS" />
            </div>

            @if (form.get('reportFrequencyEnum')?.value == 'REGULAR') {
            <app-datepicker-default [mode]="'range'" formControlName="rangeForm" [control]="form.get('rangeForm')">
            </app-datepicker-default>
            }

            @if (form.get('reportFrequencyEnum')?.value == 'ONE_TIME') {
            <app-datepicker-default [mode]="'single'" formControlName="singleDate">
            </app-datepicker-default>
            }

          </div>

        </div>
        <!--  #endregion END OF FIRST -->
        <!-- #region SECOND  -->
        <div>
          <div class="flex flex-col p-5 gap-5  bg-[#F7F7F7] rounded-[20px] border border-[#EBEBEB]">
            <!-- <p class="text-[#101010] font-semibold uppercase text-[12px]">Данные для фильтрации</p>
            <div>
              <app-select-default [size]="'medium'" [placeholder]="'Выберите город'" [options]="REPORT_FREQUENCY_OPTIONS"
                [required]="true" />
            </div>
            <div>
              <app-select-default [size]="'medium'" [placeholder]="'Выберите город'" [options]="REPORT_FREQUENCY_OPTIONS"
                  [required]="true" />
            </div>
            <div>
              <app-input-default [label]="'Счёт'"></app-input-default>
            </div> -->
            <div>
              <p class="text-14 font-medium">
                Формат отчёта
              </p>

              <div class="mt-5">
                <app-document-format-selector [gap]="8" [size]="35" formControlName="reportFileType"
                  [formats]="['PDF',  'EXCEL']"></app-document-format-selector>
              </div>
            </div>

          </div>
          <div class="mt-4">
            <app-custom-checkbox formControlName="sendEmail"
              [label]="'Отправить выписку на электронную почту'"></app-custom-checkbox>
          </div>
        </div>
        <!-- #endregion END OF SECOND -->

      </div>
      <div class="flex items-center justify-between w-full mt-6">
        <div class="flex items-center gap-5">
          <app-custom-checkbox [label]="'По маске'"></app-custom-checkbox>
        </div>
        <div>
          <button type="button" (click)="onSubmit()"
            class="p-[10px] rounded-xl border border-base text-white font-semibold bg-base">Сформировать
            выписку</button>
        </div>
      </div>
    </div>
  </div>
</div>