<div class="overflow-x-auto">
  <table class="w-full bg-white">
    <thead class="text-[#9799A1]  border-b text-sm leading-5 font-normal">
    <tr class="border-t border-[#ECECED]">
      @if (checkable) {
        <th class="p-2 text-center rounded-tl-[15px] !font-normal"
        >
          <input
            type="checkbox"
            (change)="toggleSelectAll($event)"
            [checked]="isAllSelected"
            [ngClass]="{'custom-checkbox': custom}"
          />
        </th>
      }
      @if (numbering) {
        <th
          [ngClass]="{
          'rounded-tl-[15px]': !checkable
          }"
          class="text-center py-2 !font-normal">№
        </th>
      }
      @for (column of columns; track column; let first = $first; let last = $last; ) {
        <th
          class="p-2 text-center  !font-normal"
          [ngClass]="{
          'rounded-tl-[15px]': !checkable && !numbering && first,
          'rounded-tr-[15px]': last,
          'text-end': column?.right,
          'text-start': column?.left,
           }"
        >
          <span class="leading-[14px]">{{ column.header }}</span>
        </th>
      }
    </tr>
    </thead>
    <tbody *ngIf="!loading" class="text-sm font-normal text-[#2C3531]">
      @for (row of data; track row; let idx = $index; let last = $last) {
        <tr
          (click)="onClickRow(row)"
          class="cursor-pointer"
          [ngClass]="{
    'bg-[#27AE601A]  hover:bg-transparent': row.selected,
    'hover:bg-gray-50 border-b border-[#DBDBDB]': true
  }"
        >
          @if (checkable) {
            <td class="px-2 py-3 text-center"
                (click)="$event.stopPropagation()"
            >
              <input
                type="checkbox"
                [(ngModel)]="row.selected"
                (change)="updateSelectAll()"
                [ngClass]="{'custom-checkbox': custom}"
              />
            </td>
          }

          @if (numbering) {
            <td class="px-2 py-3 text-center">
              @if ((!isTotal || !last)) {
                {{ idx + 1 }}
              }
            </td>
          }

          @for (column of columns; track column) {
            @switch (column.field) {
              @case ('actions') {
                <td class="px-2 py-3 text-center">
                  <ng-container *ngIf="actionTemplate; else defaultActionTemplate">
                    <ng-container *ngTemplateOutlet="actionTemplate; context: { $implicit: row }"></ng-container>
                  </ng-container>
                </td>
              }
              @case ('additionalTemplate') {
                <td
                  class=" px-2 py-3 text-center"
                  [ngClass]="{
                'text-end text-nowrap': column?.right,
                'text-start': column?.left,
                }"
                >
                  <ng-container *ngIf="additionalTemplate; else defaultActionTemplate">
                    <ng-container *ngTemplateOutlet="additionalTemplate; context: { $implicit: row }"></ng-container>
                  </ng-container>
                </td>
              }
              @default {
                <td
                  class="py-3 px-2 text-center"
                  [ngClass]="{
              'text-end text-nowrap': column?.right,
              'text-start': column?.left,
              }"
                >
                  <ng-container *ngIf="column.template; else defaultTemplate">
                    <ng-container
                      *ngTemplateOutlet="column.template; context: { $implicit: row[column.field] }"></ng-container>
                  </ng-container>
                  <ng-template #defaultTemplate>
  <span class="inline-flex items-center gap-1">
    @if(column.field === 'status' || column.field === 'absStatus' || column.field === 'state' || column.field === 'applicationStatus') {
      <span
        class="w-1.5 h-1.5 rounded-full"
        [ngClass]="getStatusApplicationDotColor(row, column.field)"
      ></span>
    }
    <span
      [class]="getClassNames(row, column.field)"
    >
      {{ getNestedValue(row, column.field) }}
    </span>
  </span>
                  </ng-template>
                </td>
              }
            }
          }
        </tr>
      }
    </tbody>
  </table>

  @if (loading) {
    <div class="mb-4 mt-1">
      @for (num of [].constructor(size); track num) {
        <span class="skeleton block rounded h-10 w-full mb-2"></span>
      }
    </div>
  }

  @if (!data.length && !loading) {
    <div
      class="p-5 items-center w-full flex justify-center"
      [ngClass]="{ 'text-red-500': errorMessage }"
    >
      {{ errorMessage || 'Пусто' }}
    </div>
  }

</div>

<ng-template #defaultActionTemplate>
  <!-- Default action buttons (optional) -->
  <button class="btn btn-primary">Default Action</button>
</ng-template>
