<div class="p-5 rounded-2xl bg-white">
  <div class="mt-3 flex flex-col items-center">
    <p class="text-strong-900 font-medium text-[20px]">Вы были неактивны в течение некоторого времени.</p>
    <p class="text-strong-900 font-medium text-[20px]">Для вашей безопасности сессия будет завершена.</p>
      <p class="text-strong-900 font-normal mt-2">Продолжить работу?</p>
  </div>

  <app-idle-timer-circle [totalSeconds]="10" (close)="_dialogRef.close()"></app-idle-timer-circle>
  <div class="mt-[48px] flex items-center gap-2 w-full">
    <button (click)="_dialogRef.close('logout')"
            class="bg-soft-200 rounded-[12px] w-full p-3 outline-none text-sub-600 border-none font-semibold text-base">
      Выйти
    </button>
    <button (click)="_dialogRef.close('stay')"
            class="bg-[#00A38D] rounded-[12px] w-full p-3 outline-none text-white border-none font-semibold text-base">
      Да, продолжить
    </button>
  </div>
</div>
