@let filled = isFilled();

<ng-container *transloco="let t">
  <cf-card [titleRef]="titleRef" [showSpace]="filled" class="bordered">
    <div actions>
      <button cfBounce nz-button nzType="default" nzSize="small" [disabled]="isLoading()" (clicked)="onFill()">
        <strong>{{ filled ? t('action.edit') : t('action.fill') }}</strong>
        @if (isLoading()) {
        <nz-spin nzSimple nzSize="small" />
        } @else {
        <nz-icon nzType="o:pencil" />
        }
      </button>
    </div>

    @if (filled && item(); as addressItem) {
    <div class="list">
      <cf-address-info-item [item]="addressItem" />
    </div>
    }
  </cf-card>

  <ng-template #titleRef>
    <div class="titleRef">
      <h2 nz-typography>{{ t('prop.address') }}</h2>

      @if (!filled) {
      <nz-tag>
        <nz-icon nzType="info-circle" />
        {{ t('alert.fill_fields') }}
      </nz-tag>
      }
    </div>
  </ng-template>
</ng-container>
