.organization {
  //overflow-y: auto !important;
  //height: 100vh !important;

}
.sign-popover-box {
  width: 266px;
  padding: 20px;
  border-radius: 16px;
  bottom: calc(100% + 14px);
  right: 0;
}
.sign-popover-box:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #FFF3EB;
  border: 1px solid #EBEBEB;
  border-top: none;
  border-left: none;
  position: absolute;
  right: 25px;
  top: calc(100% - 6px);
  transform: rotate(45deg);
}
