<div class="extra-info">
  <div class="extra-info__head">
    <h2 class="extra-info__section-title">Дополнительные параметры</h2>
  </div>

  <cf-card>
    <div class="extra-info__body">
      <div class="extra-info__block">
        <div class="extra-info__block-head">
          <h3 class="extra-info__title">51300 - Авиационный транспорт</h3>
          <button nz-button nzType="default" nzGhost class="extra-info__edit" type="button" (click)="edit.emit(null)">
            <nz-icon nzType="edit" nzTheme="fill" />
          </button>
        </div>
        <ul class="extra-info__details">
          <li>Для существующего объекта</li>
          <li>Малое предприятие</li>
          <li>Высокоопасный уровень</li>
        </ul>
      </div>
    </div>
  </cf-card>
</div>
