<div class="bg-white rounded-[22px] border border-[#EBEBEB] flex flex-col h-full relative user-create-box setting-dark-light-box">
  <div class="flex justify-between items-center px-[30px] py-5 relative">
    <span class="text-[18px] font-semibold leading-5">
         {{'new_second.sign_route' | translate}}
       </span>

    <button
      mat-dialog-close
      type="button"
      class="flex justify-center items-center absolute right-[30px] border-0
             rounded-[6px] p-[2px] w-[32px] h-[32px] bg-[#f5f5f5] hover:bg-[#e5e5e5] transition"
    >
      <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.293 1.03906C10.6835 0.648538 11.3165 0.648538 11.707 1.03906C12.0975 1.42959 12.0975 2.06261 11.707 2.45312L7.41406 6.74609L11.707 11.0391C12.0975 11.4296 12.0975 12.0626 11.707 12.4531C11.3165 12.8436 10.6835 12.8436 10.293 12.4531L6 8.16016L1.70703 12.4531C1.31651 12.8436 0.683495 12.8436 0.292969 12.4531C-0.0975555 12.0626 -0.0975554 11.4296 0.292969 11.0391L4.58594 6.74609L0.292969 2.45312C-0.0975555 2.0626 -0.0975555 1.42959 0.292969 1.03906C0.683493 0.648538 1.31651 0.648538 1.70703 1.03906L6 5.33203L10.293 1.03906Z" fill="#73757B" />
      </svg>
    </button>
  </div>

  <mat-divider></mat-divider>
  <div class="overflow-y-auto px-8 py-6 flex-1">
    <div>
      <div class="bg-[#EBEBEB] border border-[#F7F7F7] rounded-[16px]">
        <div   *ngFor="let role of roles()" >
          <div (click)="selectRoleId(role)" class="py-4 px-5 select-none cursor-pointer m-1  rounded-[12px] text-base font-semibold"
               [ngClass]="selectId() === role?.uuid ? 'bg-[#ffffff]':''"
          >
            <div class="flex justify-between items-center">
              <div>
                <div>{{ 'new_second.route_with_number' | translate: { id: role?.id } }}</div>
                <span  class="font-normal text-sm">{{role?.name}}</span>
              </div>

              <span *ngIf="selectId() === role?.uuid">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M19.2929 5.29289C19.6834 4.90237 20.3164 4.90237 20.707 5.29289C21.0975 5.68342 21.0975 6.31643 20.707 6.70696L9.70696 17.707C9.31643 18.0975 8.68342 18.0975 8.29289 17.707L3.29289 12.707C2.90237 12.3164 2.90237 11.6834 3.29289 11.2929C3.68342 10.9024 4.31643 10.9024 4.70696 11.2929L8.99992 15.5859L19.2929 5.29289Z" fill="#00A38D"/>
                   </svg>
                    </span>
            </div>
          </div>

        </div>
      </div>
      <div class="h-[150px]"></div>
    </div>
  </div>
  <div
    class="p-7 pt-4 absolute bottom-0 left-0 w-full bg-white border-t border-[#EBEBEB] flex flex-col gap-3"
  >
    <button
      type="button"
      class="w-full text-[14px] font-medium rounded-[12px] py-3 transition bg-[#F5F5F5]"
      (click)="canceledRole()"
    >
      <!--        [ngClass]="(!form.valid ||isLoading())? 'bg-[#f1f1f1] text-[#000]' : 'bg-[#00A38D] text-white'"-->
      <span > {{'settings.cancel' | translate}}</span>
    </button>

    <button
      (click)="attachRole()"
      type="button"
      class="w-full bg-[#00A38D] text-white text-[14px] font-medium rounded-[12px] py-3 "
    >
      <span class="text-white"> {{'accounts.apply'  | translate}}</span>

    </button>
  </div>


</div>
