<div class="setting-dark-light-box overflow-y-auto new-settings-box  new-settings-box-location fixed left-0 right-0 bottom-0 top-[92px] bg-[#f7f7f7] px-6 py-4" style="max-width: 100% !important; min-width: 100% !important; height: calc(100vh - 92px)">
  <div class="flex items-center w-full">
    <div (click)="goSettings()" class="cursor-pointer">
      <span class="dark-box">
        <span class="need">
               <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 8H1M1 8L8 15M1 8L8 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round"/>
                </svg>
        </span>
      </span>

    </div>
    <div (click)="goSettings()" class="ml-2 cursor-pointer"> {{'authorization.back' | translate}}</div>
  </div>
  <div class="mt-4 mb-6">
    <div class="flex items-center justify-between mb-6">
      <div class="flex gap-2 items-center">
        <button
          *ngFor="let item of tabMenu"
          (click)="changeTab(item.id)"
          class="mr-2 text-lg font-semibold !h-10"
          [ngClass]="
      activeTabIndex() === item.id
        ? 'font-semibold leading-5 text-[18px] text-[#000] px-[15px] py-[10px] bg-[#FFF] rounded-[14px] border border-[#EDEDED]'
        : 'font-semibold leading-5 text-[18px] text-[#BABABA]'
    "
        >
          {{ item.name }}
        </button>
      </div>
    </div>
  </div>
  <div class="border w-full rounded-[20px] bg-[#ffffff] flex p-4 py-8">
    <div class="w-[394px] h-[500px]" style="">
      <div class="mx-auto">
        <div class="mr-5">
          <div class="relative w-[370px] mx-auto mb-1">
        <span class="absolute inset-y-0 left-3 flex items-center text-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path
              d="M14.5 14.75L10.0001 10.25M11.5 6.5C11.5 9.3995 9.1495 11.75 6.25 11.75C3.3505 11.75 1 9.3995 1 6.5C1 3.6005 3.3505 1.25 6.25 1.25C9.1495 1.25 11.5 3.6005 11.5 6.5Z"
              stroke="#AEAEAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>

            <input type="text" placeholder="{{'accounts.search' | translate}}"
                   [formControl]="search"
                   class="dark:bg-[#181818] w-full pl-10 pr-4 py-[23px] border border-gray-300 rounded-[10px] h-[32px] focus:outline-none  text-sm" />
          </div>
        </div>
        <div class="overflow-y-auto  new-location-scroll" style="height: 450px; width: 370px; margin-right: 20px">
          @if (isLoading()) {
            <p class="text-base font-semibold text-center mt-4">Загрузка...</p>
          } @else {
<!--            @if (loactionList().length && !isLoading()) {-->
              @if (activeTabIndex() === 1) {
                 @if (banchList()?.length){
                  <div *ngFor="let branch of banchList()" style="border-radius: 12px;" class="p-4 select-none cursor-pointer" (click)="selectLoaction(branch)"
                   [ngClass]="activeLocation() === branch.id ? 'bg-[#e5eaf0]': ''"
              >
                <div class="font-semibold text-base text-[#202020]">
                  {{branch?.name}}
                </div>
                <div class="mt-3">
                  <div class="font-normal text-sm truncate text-[#171717]">
                    {{branch.orientation}}
                  </div>
                  <div class="mt-2 text-[#171717] text-xs flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                      <path d="M10.605 6.05C10.34 5.445 9.985 4.915 9.535 4.465C9.085 4.015 8.555 3.66 7.95 3.395C7.34 3.135 6.69 3 6 3C5.31 3 4.655 3.135 4.05 3.395C3.44 3.66 2.91 4.015 2.46 4.465C2.01 4.915 1.655 5.445 1.39 6.05C1.13 6.66 1 7.31 1 8C1 8.69 1.13 9.345 1.39 9.95C1.655 10.56 2.01 11.09 2.46 11.54C2.91 11.99 3.44 12.345 4.05 12.61C4.655 12.87 5.305 13 6 13C6.695 13 7.34 12.87 7.95 12.61C8.555 12.345 9.085 11.99 9.535 11.54C9.985 11.09 10.34 10.56 10.605 9.95C10.865 9.345 11 8.695 11 8C11 7.305 10.865 6.66 10.605 6.05ZM8 9.97C7.805 10.165 7.49 10.165 7.3 9.97L5.645 8.315C5.55 8.22 5.5 8.095 5.5 7.96V5.97C5.5 5.695 5.725 5.47 6 5.47C6.275 5.47 6.5 5.695 6.5 5.97V7.56C6.5 7.695 6.55 7.82 6.645 7.915L8 9.27C8.095 9.365 8.14 9.495 8.14 9.62C8.14 9.745 8.095 9.875 8 9.97Z" fill="#A4A4A4"/>
                    </svg>
                    <span class="pl-2"> {{getBranchSchedule(branch)}}</span>

                  </div>
                </div>
              </div>
                 } @else {
                   <p class="text-base font-semibold text-center mt-4">Нет данных</p>
                 }

          } @else if (activeTabIndex() === 2) {
            @if (atmList()?.length){
              <div *ngFor="let branch of atmList()" style="border-radius: 12px;" class="p-4 select-none cursor-pointer" (click)="selectLoaction(branch)"
                   [ngClass]="activeLocation() === branch.id ? 'bg-[#e5eaf0]': ''"
              >
                <div class="font-semibold text-base text-[#202020]">
                  {{branch?.name}}
                </div>
                <div class="mt-3">
                  <div class="font-normal text-sm truncate text-[#171717]">
                    {{branch.orientation}}
                  </div>
                  <div class="mt-2">
                    {{getBranchSchedule(branch)}}
                  </div>
                </div>
              </div>

            } @else {
              <p class="text-base font-semibold text-center mt-4">Нет данных</p>
            }

              }
<!--            }-->
          }


        </div>

      </div>


    </div>
    <div id="yandex-map" class="new-settings-map rounded-[20px] overflow-hidden" style="width: 100%; height: 500px;"></div>
  </div>
  <div>
    <div class="flex justify-center w-full items-center flex-col gap-4 mb-4 mt-6">
      <div class="flex gap-8 items-center">
        <div class="flex gap-1 items-center">
          <img src="./assets/new-icons/help-circle.svg" alt="">
          <span> {{'authorization.help' | translate}}</span>
        </div>
        <div class="flex gap-1 items-center">
          <img src="./assets/new-icons/moon.svg" alt="">
          <span> {{'authorization.dark_theme' | translate}}</span>
        </div>
        <div class="flex gap-1 items-center">
          <img src="./assets/new-icons/globe.svg" alt="">
          <span>{{ 'authorization.language_ru' | translate  }}</span>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <span class="text-[14px] text-[#A3A3A3] font-normal"><span> {{'authorization.copyright' | translate}}</span></span>
        <span class="text-[14px] text-[#A3A3A3] underline font-normal">{{'authorization.privacy_policy' | translate}}</span>
      </div>
    </div>

  </div>
</div>
