<ng-container *transloco="let t">
  <cf-form-box [title]="'action.add_extra_params'" (closeClick)="modalRef.close()">
    <cf-select-default [placeholder]="t('prop.industry_sector')" size="large">
      <nz-option nzValue="option1" nzLabel="Option 1"></nz-option>
      <nz-option nzValue="option2" nzLabel="Option 2"></nz-option>
    </cf-select-default>

    <cf-select-default [placeholder]="t('prop.business_classification')" size="large">
      <nz-option nzValue="option1" nzLabel="Option 1"></nz-option>
      <nz-option nzValue="option2" nzLabel="Option 2"></nz-option>
    </cf-select-default>

    <cf-select-default [placeholder]="t('prop.new_entity_indicator')" size="large">
      <nz-option nzValue="option1" nzLabel="Option 1"></nz-option>
      <nz-option nzValue="option2" nzLabel="Option 2"></nz-option>
    </cf-select-default>

    <cf-select-default [placeholder]="t('prop.environmental_impact_classification')" size="large">
      <nz-option nzValue="option1" nzLabel="Option 1"></nz-option>
      <nz-option nzValue="option2" nzLabel="Option 2"></nz-option>
    </cf-select-default>
  </cf-form-box>
</ng-container>
