<ng-container *transloco="let t">
  <cf-form-box [title]="t('action.add_extra_params')" (closeClick)="modalRef.close()">
    <cf-select-default [placeholder]="t('prop.industry_sector')" size="large">
      <ng-container *cfHandbook="{url: 'dir-sector-economy'}; let items">
        @for (item of items; track item.id) {
        <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        }
      </ng-container>
    </cf-select-default>

    <cf-select-default [placeholder]="t('prop.business_classification')" size="large">
      <ng-container *cfHandbook="{url: 'dir-object-new-formation'}; let items">
        @for (item of items; track item.id) {
        <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        }
      </ng-container>
    </cf-select-default>

    <cf-select-default [placeholder]="t('prop.new_entity_indicator')" size="large">
      <ng-container *cfHandbook="{url: 'dir-enterprise-classifier'}; let items">
        @for (item of items; track item.id) {
        <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        }
      </ng-container>
    </cf-select-default>

    <cf-select-default [placeholder]="t('prop.environmental_impact_classification')" size="large">
      <ng-container *cfHandbook="{url: 'dir-ecological-impact-code'}; let items">
        @for (item of items; track item.id) {
        <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        }
      </ng-container>
    </cf-select-default>
  </cf-form-box>
</ng-container>
